<div id="problem_solution_block_<%=@problem_solution.id%>">
    <div class="user_problem_solution_left">
        <div class="user_avatar_small">
            <%owner_user = find_owner_user(@problem_solution)%>
            <%if owner_user.present?%>
                <%if owner_user.avatar?%>
                    <div class="user_avatar_small_img">
                        <%= link_to (image_tag(owner_user.avatar.thumb.url)), image_path(url_for(owner_user.avatar.thumb.url)), rel: "gallery" , :href => user_path(owner_user)%>
                    </div>
                <%else%>
                    <div class="user_avatar_small_text checked_<%=find_user_color(owner_user.name)%>">
                        <a><%= link_to owner_user.name[0], user_path(owner_user), class: "user_name_label"%></a>
                    </div>
                <%end%>
            <%else%>
                <div class="user_avatar_small_default checked_0">
                    <a>A</a>
                </div>
            <%end%>
        </div>
        <div class="user_vote_toolbar" id="vote_solution_<%=@problem_solution.id%>">
            <div class="user_vote_solution">
                <%if user_signed_in?%>
                    <% pre_vote = @problem_solution.problem_vote_solutions.find { |vote| vote.user_id == current_user.id} %>
                    <% if pre_vote %>  
                        <%= button_to problem_problem_solution_problem_vote_solution_path(@problem, @problem_solution, pre_vote), method: :delete, remote: true, form_class: "problem_solution_like_highlight" do%>
                            <i class="material-icons-outlined">arrow_drop_up</i>
                        <%end%> 
                    <%else%>
                        <%= button_to problem_problem_solution_problem_vote_solutions_path(@problem, @problem_solution), method: :post, remote: true, form_class: "problem_solution_like" do%>
                            <i class="material-icons-outlined">arrow_drop_up</i>
                        <%end%> 
                    <%end%>
                <%else%>
                    <button type="button" data-toggle="modal" data-target="#buttonModalLoginCenter" class="problem_solution_like">
                        <i class="material-icons-outlined">arrow_drop_up</i>
                    </button>
                <%end%>
            </div>

            <div class="problem_solution_like_info">
                <a><%= @problem_solution.problem_vote_solutions.count - @problem_solution.problem_unvote_solutions.count%></a>
            </div>

            <div class="user_unvote_solution">
                <%if user_signed_in?%>
                    <% pre_unvote = @problem_solution.problem_unvote_solutions.find { |unvote| unvote.user_id == current_user.id} %>
                    <% if pre_unvote %>
                        <%= button_to problem_problem_solution_problem_unvote_solution_path(@problem, @problem_solution, pre_unvote), method: :delete, remote: true, form_class: "problem_solution_dislike_highlight" do%>
                            <i class="material-icons-outlined">arrow_drop_down</i>
                        <%end%> 
                    <%else%>
                        <%= button_to problem_problem_solution_problem_unvote_solutions_path(@problem, @problem_solution), method: :post, remote: true, form_class: "problem_solution_dislike" do%>
                            <i class="material-icons-outlined">arrow_drop_down</i>
                        <%end%> 
                    <%end%>
                <%else%>
                    <button type="button" data-toggle="modal" data-target="#buttonModalLoginCenter" class="problem_solution_dislike">
                        <i class="material-icons-outlined">arrow_drop_down</i>
                    </button>
                <%end%>
            </div>
        </div>
    </div>

    <div class="user_problem_solution_cotent">
        <div class="user_problem_solution_title">
            <a><%= problem_solution.title %></a>
        </div>
        
        <div class="user_problem_solution_body">
            <a><%= @problem_solution.content.html_safe %></a>
        </div>

        <div class="problem_solution_info">
            <div class="problem_solution_info">
                <div class="problem_solution_toolbar">
                    <a><%= @problem_solution.problem_reply_solutions.count%></a>
                    <button class="reply_btn" onclick="myFunctionReplyproblem_solution(<%=@problem_solution.id%>)"><i class="material-icons-outlined">chat_bubble_outline</i> Trả lời </button>
                </div>
            </div>

            <div class="user_problem_solution_time">
                <a><%= @problem_solution.user_name %> · <%= time_ago_in_words(@problem_solution.created_at) %></a>
            </div>
        </div>
    </div>

    <div class="new_reply_problem_solution_form" id ="<%=@problem_solution.id%>">
        <%= form_for([@problem, @problem_solution, ProblemReplySolution.new], remote: true) do |f| %>
            <div class="new_reply_problem_solution_content">
                <div class="new_reply_problem_solution_input_problem_solution">
                    <%= f.text_area :reply_content, :required =>true, class: "form-control", placeholder: "Viết câu trả lời của bạn tại đây" %>
                </div>
            </div>

            <div class="new_reply_problem_solution_submit">
                <button type="submit" class="new_reply_problem_solution_form_submit">
                    <i class="material-icons">send</i>
                </button>
            </div>
        <%end%>
    </div>

    <script>
        function myFunctionReplyproblem_solution(problem_solution_id) {
            var x = document.getElementById(problem_solution_id);
            if (x.style.display == "block") {
                x.style.display = "none";
            } else {
                x.style.display = "block";
            }
        }
    </script>

    <div class="reply_problem_solution_content">
        <%if @problem_solution.problem_reply_solutions.count > 0%>
            <div class="problem_solution_reply" id="mydivShowHide">
                <%= render @problem_solution.problem_reply_solutions %>
            </div>
        <%end%>
    </div>
</div>