<div id="like_review_<%=company_review.id%>">
    <a><%= company_review.company_like_reviews.count%></a>
    <%if logged_in?%>
        <% pre_like = company_review.company_like_reviews.find { |like| like.user_id == current_user.id} %>
        <% if pre_like %>  
            <%= link_to '<button class="like_btn_highlight"><i class="material-icons">thumb_up</i> <span>Thích</span> </button>'.html_safe, company_company_review_company_like_review_path(@company, company_review, pre_like), method: :delete%>
        <%else%>
            <%= link_to '<button class="like_btn"><i class="material-icons-outlined">thumb_up</i> <span>Thích</span> </button>'.html_safe, company_company_review_company_like_reviews_path(@company, company_review), method: :post%>
        <%end%>
    <%else%>
        <%= link_to '<button class="like_btn"><i class="material-icons-outlined">thumb_up</i> <span>Thích</span> </button>'.html_safe, login_path%>
    <%end%>
</div>