<div class="user_reply_review_block">
    <div class="user_reply_review_left">
        <div class="user_avatar_small">
            <%owner_user = find_owner_user(company_reply_review)%>
            <%if owner_user.present?%>
                <%if owner_user.avatar?%>
                    <div class="user_avatar_small_img">
                        <%= link_to (image_tag(owner_user.avatar.thumb.url)), image_path(url_for(owner_user.avatar.thumb.url)), rel: "gallery" , :href => user_path(owner_user)%>
                    </div>
                <%else%>
                    <div class="user_avatar_small_text checked_<%=find_user_color(owner_user.name)%>">
                        <a><%= link_to owner_user.name[0], user_path(owner_user)%></a>
                    </div>
                <%end%>
            <%else%>
                <div class="user_avatar_small_default checked_0">
                    <a>A</a>
                </div>
            <%end%>
        </div>    
    </div>

    <div class="user_reply_review_cotent">
        <div class="user_reply_review_body">
            <a><%= company_reply_review.reply_content %></a>
        </div>

        <div class="user_reply_review_time">
            <a><%= company_reply_review.user_name %> · <%= time_ago_in_words(company_reply_review.created_at) %></a>
        </div>
    </div>
</div>