<div class="user_profile_form">
    <%= form_for(@user, remote: true) do |f| %>
        <div class="user_profile_title_sub">
            <a><%=t(:form_require_left)%> <span>'*'</span> <%=t(:form_require_right)%></a>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="user_profile_content">
                    <div class="user_profile_label">
                        <a><%= f.label :name, t(:full_name), class: "user_profile_label_name" %><span>*</span></a>
                    </div>

                    <div class="user_profile_input">
                        <%= f.text_field :name, :required => true, class: "form-control", placeholder: t(:enter_name) %>
                    </div>
                </div>
                
                <div class="user_profile_content">
                    <div class="user_profile_label">
                        <a><%= f.label :address, t(:address), class: "user_profile_label_name" %><span>*</span></a>
                    </div>

                    <div class="user_profile_input">
                        <%= f.text_field :address, :required => true, class: "form-control", placeholder: t(:enter_address) %>
                    </div>
                </div>

                <div class="user_profile_content">
                    <div class="user_profile_label">
                        <a><%= f.label :birthday, t(:birth_day), class: "user_profile_label_name" %><span>*</span></a>
                    </div>

                    <div class="user_profile_input">
                        <%= f.date_field :birthday, :required => true, class: "form-control"%>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="user_profile_content">
                    <div class="user_profile_label">
                        <a><%= f.label :avatar, t(:avatar), class: "user_profile_label_name" %><span>*</span></a>
                    </div>

                    <div class="user_profile_input">
                        <%= f.file_field :avatar, :required => true, class: "form-control"%>
                    </div>
                </div>

                <div class="user_profile_content">
                    <div class="user_profile_label">
                        <a><%= f.label :wall_picture, t(:wall_picture), class: "user_profile_label_name" %><span>*</span></a>
                    </div>

                    <div class="user_profile_input">
                        <%= f.file_field :wall_picture, :required => true, class: "form-control"%>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
            </div>
            <div class="col-sm-3">
                <div class="user_profile_cancel">
                    <button class="user_profile_cancel_btn" onclick="myFunctionUserInfo('profile_info_form')"><a><%=t(:cancel)%></a></button>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="user_profile_submit">
                    <%= f.submit t(:update), class: "user_profile_form_submit" %>
                </div>
            </div>
        </div>
    <%end%>
</div>