<div class="user_profile_form">
    <%= form_for(@user, remote: true) do |f| %>
        <div class="user_profile_title_sub">
            <a><%=t(:form_require_left)%> <span>'*'</span> <%=t(:form_require_right)%></a>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="user_profile_content">
                    <div class="user_profile_label">
                        <a><%= f.label :phone, t(:phone), class: "user_profile_label_name" %><span>*</span></a>
                    </div>

                    <div class="user_profile_input">
                        <%= f.text_field :phone, :required => true, class: "form-control", placeholder: t(:enter_phone) %>
                    </div>
                </div>
                <div class="user_profile_content">
                    <div class="user_profile_label">
                        <a><%= f.label :sex, t(:sex), class: "user_profile_label_name" %><span>*</span></a>
                    </div>

                    <div class="user_profile_input">
                        <%= f.select(:sex, options_for_select([t(:male), t(:female), t(:unknown)], t(:unknown)), {include_blank: false}, { :class => 'form-select' }) %>
                    </div>
                </div>
                <div class="user_profile_content">
                    <div class="user_profile_label">
                        <a><%= f.label :matrimony, t(:martial_status), class: "user_profile_label_name" %></a>
                    </div>

                    <div class="user_profile_input">
                        <%= f.select(:matrimony, options_for_select([t(:married), t(:not_married)], t(:not_married)), {include_blank: false}, { :class => 'form-select' }) %>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="user_profile_content">
                    <div class="user_profile_label">
                        <a><%= f.label :highest_education, t(:high_edu), class: "user_profile_label_name" %></a>
                    </div>

                    <div class="user_profile_input">
                        <%= f.select(:highest_education, options_for_select([t(:school_level_1), t(:school_level_2), t(:school_level_3), t(:school_level_4), t(:school_level_5), t(:school_level_6), t(:school_level_7), t(:school_level_8), t(:school_level_9)], t(:school_level_5)), {include_blank: false}, { :class => 'form-select' }) %>
                    </div>
                </div>

                <div class="user_profile_content">
                    <div class="user_profile_label">
                        <a><%= f.label :highest_career, t(:high_position), class: "user_profile_label_name" %></a>
                    </div>

                    <div class="user_profile_input">
                        <%= f.text_field :highest_career, :required => true, class: "form-control", placeholder: t(:enter_high_position) %>
                    </div>
                </div>
            </div>
            <div class="user_profile_content">
                <div class="user_profile_label">
                    <a><%= f.label :summary, t(:self_introduce), class: "user_profile_label_name" %><span>*</span></a>
                </div>

                <div class="user_profile_input">
                    <%= f.text_area :summary, :required => true, class: "form-control", placeholder: t(:enter_self_intro) %>
                    <%= tinymce :mini %>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
            </div>
            <div class="col-sm-3">
                <div class="user_profile_cancel">
                    <button class="user_profile_cancel_btn" onclick="myFunctionUserPersonal('profile_personal_form')"><a><%=t(:cancel)%></a></button>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="user_profile_submit">
                    <%= f.submit t(:update), class: "user_profile_form_submit" %>
                </div>
            </div>
        </div>
    <%end%>
</div>