<div class="user_profile_form">
    <%= form_for(@user, remote: true) do |f| %>
        <div class="user_profile_title_sub">
            <a>Lưu ý: Mục có dấu <span>'*'</span> là bắt buộc</a>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="user_profile_content">
                    <div class="user_profile_label">
                        <a><%= f.label :phone, "Số điện thoại liên hệ", class: "user_profile_label_name" %><span>*</span></a>
                    </div>

                    <div class="user_profile_input">
                        <%= f.text_field :phone, :required => true, class: "form-control", placeholder: "Nhập số điện thoại liên hệ: ex: 0123456789" %>
                    </div>
                </div>
                <div class="user_profile_content">
                    <div class="user_profile_label">
                        <a><%= f.label :sex, "Giới tính", class: "user_profile_label_name" %><span>*</span></a>
                    </div>

                    <div class="user_profile_input">
                        <%= f.select(:sex, options_for_select(['Nam', 'Nữ', "Không xác định"], 'Không xác định'), {include_blank: false}, { :class => 'form-select' }) %>
                    </div>
                </div>
                <div class="user_profile_content">
                    <div class="user_profile_label">
                        <a><%= f.label :matrimony, "Tình trạng hôn nhân", class: "user_profile_label_name" %></a>
                    </div>

                    <div class="user_profile_input">
                        <%= f.select(:matrimony, options_for_select(['Đã kết hôn', 'Chưa kết hôn'], 'Chưa kết hôn'), {include_blank: false}, { :class => 'form-select' }) %>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="user_profile_content">
                    <div class="user_profile_label">
                        <a><%= f.label :highest_education, "Học vấn cao nhất", class: "user_profile_label_name" %></a>
                    </div>

                    <div class="user_profile_input">
                        <%= f.select(:highest_education, options_for_select(['THCS', 'THPT', 'Trung cấp', 'Cao đẳng', 'Đại học', 'Thạc sĩ', 'Tiến sĩ'], 'Đại học'), {include_blank: false}, { :class => 'form-select' }) %>
                    </div>
                </div>

                <div class="user_profile_content">
                    <div class="user_profile_label">
                        <a><%= f.label :highest_career, "Chức vụ cao nhất", class: "user_profile_label_name" %></a>
                    </div>

                    <div class="user_profile_input">
                        <%= f.text_field :highest_career, :required => true, class: "form-control", placeholder: "Chức vụ cao nhất bạn từng làm" %>
                    </div>
                </div>
            </div>
            <div class="user_profile_content">
                <div class="user_profile_label">
                    <a><%= f.label :summary, "Giới thiệu bản thân(khoảng 300 từ)", class: "user_profile_label_name" %><span>*</span></a>
                </div>

                <div class="user_profile_input">
                    <%= f.text_area :summary, :required => true, class: "form-control", placeholder: "Giới thiệu bản thân, mục tiêu nghề nghiệp..." %>
                    <%= tinymce :mini %>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
            </div>
            <div class="col-sm-3">
                <div class="user_profile_cancel">
                    <button class="user_profile_cancel_btn" onclick="myFunctionUserPersonal('profile_personal_form')"><a>Hủy bỏ</a></button>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="user_profile_submit">
                    <%= f.submit "Cập nhật", class: "user_profile_form_submit" %>
                </div>
            </div>
        </div>
    <%end%>
</div>