<div class="user_profile_personal_detail">
    <div class="row">
        <div class="col-sm-6">
            <div class="user_profile_personal_section">
                <a><%=t(:email)%></a>
                <br>
                <%if @user.email%>
                    <span><%=@user.email%></span>
                <%else%>
                    <span>---</span>
                <%end%>
            </div>

            <div class="user_profile_personal_section">
                <a><%=t(:phone)%></a>
                <br>
                <%if @user.phone%>
                    <span><%=@user.phone%></span>
                <%else%>
                    <span>---</span>
                <%end%>
            </div>
            
            <div class="user_profile_personal_section">
                <a><%=t(:sex)%></a>
                <br>
                <%if @user.sex%>
                    <span><%=@user.sex%></span>
                <%else%>
                    <span>---</span>
                <%end%>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="user_profile_personal_section">
                <a><%=t(:martial_status)%></a>
                <br>
                <%if @user.matrimony%>
                    <span><%=@user.matrimony%></span>
                <%else%>
                    <span>---</span>
                <%end%>
            </div>
            <div class="user_profile_personal_section">
                <a><%=t(:high_edu)%> </a>
                <br>
                <%if @user.highest_education%>
                    <span><%=@user.highest_education%></span>
                <%else%>
                    <span>---</span>
                <%end%>
            </div>
            
            <div class="user_profile_personal_section">
                <a><%=t(:high_position)%> </a>
                <br>
                <%if @user.highest_career%>
                    <span><%=@user.highest_career%></span>
                <%else%>
                    <span>---</span>
                <%end%>
            </div>
        </div>

        <div class="user_profile_personal_section_main">
            <%if @user.summary%>
            <a><%=t(:self_introduce)%></a>
            <br>
                <span><%=@user.summary.html_safe%></span>
            <%end%>
        </div>
    </div>
</div>