<div class="user_profile_container" id="user_profile_container">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="user_profile_info">
                    <div class="user_profile_info_detail_block" id="profile_info_detail">
                        <%= render :partial => 'users/profiles/info'%>
                    </div>

                    <div class="user_profile_info_form_block" id="profile_info_form">
                        <%= render :partial => 'users/profiles/form_info'%>
                    </div>

                    <script>
                        function myFunctionUserInfo(id) {
                            var x = document.getElementById(id);
                            if (x.style.display == "block") 
                            {
                                x.style.display = "none";
                            } 
                            else 
                            {
                                x.style.display = "block";
                            }
                        }
                    </script>
                </div>

                <div class="user_profile_personal">
                    <div class="user_profile_personal_label">
                        <h3><%t(:user_personal_info)%></h3>
                    </div>

                    <div class="user_profile_personal_form_block" id="profile_personal_form">
                        <%= render :partial => 'users/profiles/form_personal'%>
                    </div>

                    <div class="user_profile_personal_detail_block">
                        <%= render :partial => 'users/profiles/personal'%>
                    </div>

                    <button class="user_profile_personal_edit_btn" onclick="myFunctionUserPersonal('profile_personal_form')"><i class="material-icons-outlined">edit</i></button>

                    <script>
                        function myFunctionUserPersonal(id) {
                            var x = document.getElementById(id);
                            if (x.style.display == "block") 
                            {
                                x.style.display = "none";
                            } 
                            else 
                            {
                                x.style.display = "block";
                            }
                        }
                    </script>
                </div>

                <div class="user_profile_exp">
                    <div class="user_profile_exp_label">
                        <h3><%=t(:work_exp)%></h3>
                    </div>
                    <%if @user.user_experiences.count == 0%>
                        <div class="user_profile_exp_guide">
                            <div class="row">
                                <div class="col-9">
                                    <div class="user_profile_exp_guide_label">
                                        <a><%=t(:help_work_exp)%></a>
                                    </div>
                                    <button class="user_profile_exp_update_btn" onclick="myFunctionUserExp('profile_exp_form')"><i class="material-icons-outlined">edit</i> <a><%=t(:update)%></a> </button>
                                </div>
                                <div class="col-3">
                                    <div class="user_profile_exp_image">
                                        <%= image_tag "icons/profile_exp.png"%>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <%else%>
                        <button class="user_profile_exp_add_btn" onclick="myFunctionUserExp('profile_exp_form')"><i class="material-icons-outlined">add_circle_outline</i></button>
                    <%end%>

                    <div class="user_profile_exp_form_block" id="profile_exp_form">
                        <%= render :partial => 'user_experiences/form', :locals => {:user_experience => UserExperience.new}%>
                    </div>

                    <div class="user_profile_exp_detail_block">
                        <%= render @user.user_experiences%>
                    </div>
                    
                    <script>
                        function myFunctionUserExp(id) {
                            var x = document.getElementById(id);
                            if (x.style.display == "block") 
                            {
                                x.style.display = "none";
                            } 
                            else 
                            {
                                x.style.display = "block";
                            }
                        }
                    </script>
                </div>

                <div class="user_profile_edu">
                    <div class="user_profile_edu_label">
                        <h3><%=t(:edu_and_cert)%></h3>
                    </div>
                    <%if @user.user_educations.count == 0%>
                        <div class="user_profile_edu_guide">
                            <div class="row">
                                <div class="col-9">
                                    <div class="user_profile_edu_guide_label">
                                        <a><%=t(:edu_and_cert_help)%></a>
                                    </div>
                                    <button class="user_profile_edu_update_btn" onclick="myFunctionUserEdu('profile_edu_form')"><i class="material-icons-outlined">edit</i> <a><%=t(:update)%></a> </button>
                                </div>
                                <div class="col-3">
                                    <div class="user_profile_edu_image">
                                        <%= image_tag "icons/profile_edu.png"%>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <%else%>
                        <button class="user_profile_edu_add_btn" onclick="myFunctionUserEdu('profile_edu_form')"><i class="material-icons-outlined">add_circle_outline</i></button>
                    <%end%>

                    <div class="user_profile_edu_form_block" id="profile_edu_form">
                        <%= render :partial => 'user_educations/form', :locals => {:user_education => UserEducation.new}%>
                    </div>

                    <div class="user_profile_edu_detail_block">
                        <%= render @user.user_educations%>
                    </div>
                    
                    <script>
                        function myFunctionUserEdu(id) {
                            var x = document.getElementById(id);
                            if (x.style.display == "block") 
                            {
                                x.style.display = "none";
                            } 
                            else 
                            {
                                x.style.display = "block";
                            }
                        }
                    </script>
                </div>

                <div class="user_profile_skill">
                    <div class="user_profile_skill_label">
                        <h3><%=t(:skill)%></h3>
                    </div>
                    <%if @user.user_skills.count == 0%>
                        <div class="user_profile_skill_guide">
                            <div class="row">
                                <div class="col-9">
                                    <div class="user_profile_skill_guide_label">
                                        <a><%=t(:skill_help)%></a>
                                    </div>
                                    <button class="user_profile_skill_update_btn" onclick="myFunctionUserSkill('profile_skill_form')"><i class="material-icons-outlined">edit</i> <a><%=t(:update)%></a> </button>
                                </div>
                                <div class="col-3">
                                    <div class="user_profile_skill_image">
                                        <%= image_tag "icons/profile_skill.png"%>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <%else%>
                        <button class="user_profile_skill_add_btn" onclick="myFunctionUserSkill('profile_skill_form')"><i class="material-icons-outlined">add_circle_outline</i></button>
                    <%end%>

                    <div class="user_profile_skill_form_block" id="profile_skill_form">
                        <%= render :partial => 'user_skills/form', :locals => {:user_skill => UserSkill.new}%>
                    </div>

                    <div class="user_profile_skill_detail_block">
                        <%= render @user.user_skills%>
                    </div>
                    
                    <script>
                        function myFunctionUserSkill(id) {
                            var x = document.getElementById(id);
                            if (x.style.display == "block") 
                            {
                                x.style.display = "none";
                            } 
                            else 
                            {
                                x.style.display = "block";
                            }
                        }
                    </script>
                </div>

                <div class="user_profile_certificate">
                    <div class="user_profile_certificate_label">
                        <h3><%=t(:cert)%></h3>
                    </div>
                    <%if @user.user_certificates.count == 0%>
                        <div class="user_profile_certificate_guide">
                            <div class="row">
                                <div class="col-9">
                                    <div class="user_profile_certificate_guide_label">
                                        <a><%=t(:cert_help)%></a>
                                    </div>
                                    <button class="user_profile_certificate_update_btn" onclick="myFunctionUserCertificate('profile_certificate_form')"><i class="material-icons-outlined">edit</i> <a><%=t(:update)%></a> </button>
                                </div>
                                <div class="col-3">
                                    <div class="user_profile_certificate_image">
                                        <%= image_tag "icons/profile_cert.png"%>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <%else%>
                        <button class="user_profile_certificate_add_btn" onclick="myFunctionUserCertificate('profile_certificate_form')"><i class="material-icons-outlined">add_circle_outline</i></button>
                    <%end%>

                    <div class="user_profile_certificate_form_block" id="profile_certificate_form">
                        <%= render :partial => 'user_certificates/form', :locals => {:user_certificate => UserCertificate.new}%>
                    </div>

                    <div class="user_profile_certificate_detail_block">
                        <%= render @user.user_certificates%>
                    </div>
                    
                    <script>
                        function myFunctionUserCertificate(id) {
                            var x = document.getElementById(id);
                            if (x.style.display == "block") 
                            {
                                x.style.display = "none";
                            } 
                            else 
                            {
                                x.style.display = "block";
                            }
                        }
                    </script>
                </div>

                <div class="user_profile_adward">
                    <div class="user_profile_adward_label">
                        <h3><%=t(:award)%></h3>
                    </div>
                    <%if @user.user_adwards.count == 0%>
                        <div class="user_profile_adward_guide">
                            <div class="row">
                                <div class="col-9">
                                    <div class="user_profile_adward_guide_label">
                                        <a><%=t(:adward_help)%></a>
                                    </div>
                                    <button class="user_profile_adward_update_btn" onclick="myFunctionUserAdward('profile_adward_form')"><i class="material-icons-outlined">edit</i> <a><%=t(:update)%></a> </button>
                                </div>
                                <div class="col-3">
                                    <div class="user_profile_adward_image">
                                        <%= image_tag "icons/profile_adward.png"%>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <%else%>
                        <button class="user_profile_adward_add_btn" onclick="myFunctionUserAdward('profile_adward_form')"><i class="material-icons-outlined">add_circle_outline</i></button>
                    <%end%>

                    <div class="user_profile_adward_form_block" id="profile_adward_form">
                        <%= render :partial => 'user_adwards/form', :locals => {:user_adward => UserAdward.new}%>
                    </div>

                    <div class="user_profile_adward_detail_block">
                        <%= render @user.user_adwards%>
                    </div>
                    
                    <script>
                        function myFunctionUserAdward(id) {
                            var x = document.getElementById(id);
                            if (x.style.display == "block") 
                            {
                                x.style.display = "none";
                            } 
                            else 
                            {
                                x.style.display = "block";
                            }
                        }
                    </script>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="user_profile_action">
                    <div class="user_profile_action_label">
                        <h3><%=t(:profile_setting)%></h3>
                    </div>
                    <div class="user_profile_action_public">
                        <%= form_for(@user, remote: true) do |f| %>
                            <div class="user_profile_action_input">
                                <%= f.radio_button :public, true, :checked => true, onchange: "javascript:this.form.commit.click();" %>
                                <a><%= f.label :public, t(:public_mode), :value => "true" %></a>
                                <br>
                                <span><%=t(:public_mode_sub)%></span>
                            </div>
                            <div class="user_profile_action_input">
                                <%= f.radio_button :public, false, onchange: "javascript:this.form.commit.click();" %>
                                <a><%= f.label :public, t(:private_mode), :value => "false" %></a>
                                <br>
                                <span><%=t(:private_mode_sub)%></span>
                            </div>
                            <%= f.submit 'Lưu', class: "user_profile_action_submit" %>
                        <%end%>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="breadcrumbs">
            <%= render_breadcrumbs :separator => '<i class="material-icons-outlined">keyboard_arrow_right</i>' %>
        </div> 
    </div>
</div>