<div class="user_profile_container" id="user_profile_container">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="user_profile_info">
                    <div class="user_profile_info_detail_block" id="profile_info_detail">
                        <%= render :partial => 'users/profiles/info'%>
                    </div>

                    <div class="user_profile_info_form_block" id="profile_info_form">
                        <%= render :partial => 'users/profiles/form_info'%>
                    </div>

                    <script>
                        function myFunctionUserInfo(id) {
                            var x = document.getElementById(id);
                            if (x.style.display == "block") 
                            {
                                x.style.display = "none";
                            } 
                            else 
                            {
                                x.style.display = "block";
                            }
                        }
                    </script>
                </div>

                <div class="user_profile_personal">
                    <div class="user_profile_personal_label">
                        <h3>Thông tin cá nhân</h3>
                    </div>

                    <div class="user_profile_personal_form_block" id="profile_personal_form">
                        <%= render :partial => 'users/profiles/form_personal'%>
                    </div>

                    <div class="user_profile_personal_detail_block">
                        <%= render :partial => 'users/profiles/personal'%>
                    </div>

                    <button class="user_profile_personal_edit_btn" onclick="myFunctionUserPersonal('profile_personal_form')"><i class="material-icons-outlined">edit</i></button>

                    <script>
                        function myFunctionUserPersonal(id) {
                            var x = document.getElementById(id);
                            if (x.style.display == "block") 
                            {
                                x.style.display = "none";
                            } 
                            else 
                            {
                                x.style.display = "block";
                            }
                        }
                    </script>
                </div>

                <div class="user_profile_exp">
                    <div class="user_profile_exp_label">
                        <h3>Kinh nghiệm làm việc</h3>
                    </div>
                    <%if @user.user_experiences.count == 0%>
                        <div class="user_profile_exp_guide">
                            <div class="row">
                                <div class="col-9">
                                    <div class="user_profile_exp_guide_label">
                                        <a>Kinh nghiệm làm việc là một trong những yếu tố quan trọng nhất đối với nhà tuyển dụng trong quá trình tìm kiếm ứng viên</a>
                                    </div>
                                    <button class="user_profile_exp_update_btn" onclick="myFunctionUserExp('profile_exp_form')"><i class="material-icons-outlined">edit</i> <a>Cập nhật thông tin</a> </button>
                                </div>
                                <div class="col-3">
                                    <div class="user_profile_exp_image">
                                        <%= image_tag "icons/profile_exp.png"%>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <%else%>
                        <button class="user_profile_exp_add_btn" onclick="myFunctionUserExp('profile_exp_form')"><i class="material-icons-outlined">add_circle_outline</i></button>
                    <%end%>

                    <div class="user_profile_exp_form_block" id="profile_exp_form">
                        <%= render :partial => 'user_experiences/form', :locals => {:user_experience => UserExperience.new}%>
                    </div>

                    <div class="user_profile_exp_detail_block">
                        <%= render @user.user_experiences%>
                    </div>
                    
                    <script>
                        function myFunctionUserExp(id) {
                            var x = document.getElementById(id);
                            if (x.style.display == "block") 
                            {
                                x.style.display = "none";
                            } 
                            else 
                            {
                                x.style.display = "block";
                            }
                        }
                    </script>
                </div>

                <div class="user_profile_edu">
                    <div class="user_profile_edu_label">
                        <h3>Học vấn và bằng cấp</h3>
                    </div>
                    <%if @user.user_educations.count == 0%>
                        <div class="user_profile_edu_guide">
                            <div class="row">
                                <div class="col-9">
                                    <div class="user_profile_edu_guide_label">
                                        <a>Học vấn và bằng cấp giúp nhà tuyển dụng dễ dàng phân loại ứng viên, từ đó đưa ra gợi ý việc làm phù hợp</a>
                                    </div>
                                    <button class="user_profile_edu_update_btn" onclick="myFunctionUserEdu('profile_edu_form')"><i class="material-icons-outlined">edit</i> <a>Cập nhật thông tin</a> </button>
                                </div>
                                <div class="col-3">
                                    <div class="user_profile_edu_image">
                                        <%= image_tag "icons/profile_edu.png"%>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <%else%>
                        <button class="user_profile_edu_add_btn" onclick="myFunctionUserEdu('profile_edu_form')"><i class="material-icons-outlined">add_circle_outline</i></button>
                    <%end%>

                    <div class="user_profile_edu_form_block" id="profile_edu_form">
                        <%= render :partial => 'user_educations/form', :locals => {:user_education => UserEducation.new}%>
                    </div>

                    <div class="user_profile_edu_detail_block">
                        <%= render @user.user_educations%>
                    </div>
                    
                    <script>
                        function myFunctionUserEdu(id) {
                            var x = document.getElementById(id);
                            if (x.style.display == "block") 
                            {
                                x.style.display = "none";
                            } 
                            else 
                            {
                                x.style.display = "block";
                            }
                        }
                    </script>
                </div>

                <div class="user_profile_skill">
                    <div class="user_profile_skill_label">
                        <h3>Kĩ năng làm việc</h3>
                    </div>
                    <%if @user.user_skills.count == 0%>
                        <div class="user_profile_skill_guide">
                            <div class="row">
                                <div class="col-9">
                                    <div class="user_profile_skill_guide_label">
                                        <a>Kĩ năng làm việc giúp nhà tuyển dụng đánh giá khả năng xử lí công việc của bạn, những kĩ năng tốt luôn được đánh giá cao</a>
                                    </div>
                                    <button class="user_profile_skill_update_btn" onclick="myFunctionUserSkill('profile_skill_form')"><i class="material-icons-outlined">edit</i> <a>Cập nhật thông tin</a> </button>
                                </div>
                                <div class="col-3">
                                    <div class="user_profile_skill_image">
                                        <%= image_tag "icons/profile_skill.png"%>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <%else%>
                        <button class="user_profile_skill_add_btn" onclick="myFunctionUserSkill('profile_skill_form')"><i class="material-icons-outlined">add_circle_outline</i></button>
                    <%end%>

                    <div class="user_profile_skill_form_block" id="profile_skill_form">
                        <%= render :partial => 'user_skills/form', :locals => {:user_skill => UserSkill.new}%>
                    </div>

                    <div class="user_profile_skill_detail_block">
                        <%= render @user.user_skills%>
                    </div>
                    
                    <script>
                        function myFunctionUserSkill(id) {
                            var x = document.getElementById(id);
                            if (x.style.display == "block") 
                            {
                                x.style.display = "none";
                            } 
                            else 
                            {
                                x.style.display = "block";
                            }
                        }
                    </script>
                </div>

                <div class="user_profile_certificate">
                    <div class="user_profile_certificate_label">
                        <h3>Chứng chỉ/Bằng cấp</h3>
                    </div>
                    <%if @user.user_certificates.count == 0%>
                        <div class="user_profile_certificate_guide">
                            <div class="row">
                                <div class="col-9">
                                    <div class="user_profile_certificate_guide_label">
                                        <a>Các chứng chỉ chuyên ngành có giá trị sẽ làm hồ sơ của bạn nổi bật giữa hàng ngàn hồ sơ được gửi đến nhà tuyển dụng</a>
                                    </div>
                                    <button class="user_profile_certificate_update_btn" onclick="myFunctionUserCertificate('profile_certificate_form')"><i class="material-icons-outlined">edit</i> <a>Cập nhật thông tin</a> </button>
                                </div>
                                <div class="col-3">
                                    <div class="user_profile_certificate_image">
                                        <%= image_tag "icons/profile_cert.png"%>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <%else%>
                        <button class="user_profile_certificate_add_btn" onclick="myFunctionUserCertificate('profile_certificate_form')"><i class="material-icons-outlined">add_circle_outline</i></button>
                    <%end%>

                    <div class="user_profile_certificate_form_block" id="profile_certificate_form">
                        <%= render :partial => 'user_certificates/form', :locals => {:user_certificate => UserCertificate.new}%>
                    </div>

                    <div class="user_profile_certificate_detail_block">
                        <%= render @user.user_certificates%>
                    </div>
                    
                    <script>
                        function myFunctionUserCertificate(id) {
                            var x = document.getElementById(id);
                            if (x.style.display == "block") 
                            {
                                x.style.display = "none";
                            } 
                            else 
                            {
                                x.style.display = "block";
                            }
                        }
                    </script>
                </div>

                <div class="user_profile_adward">
                    <div class="user_profile_adward_label">
                        <h3>Giải thưởng đạt được</h3>
                    </div>
                    <%if @user.user_adwards.count == 0%>
                        <div class="user_profile_adward_guide">
                            <div class="row">
                                <div class="col-9">
                                    <div class="user_profile_adward_guide_label">
                                        <a>Các giải thưởng đạt được là sự ghi nhận những nỗ lực của bạn suốt thời gian qua, nhà tuyển dụng luôn đánh giá cao các giải thưởng có giá trị</a>
                                    </div>
                                    <button class="user_profile_adward_update_btn" onclick="myFunctionUserAdward('profile_adward_form')"><i class="material-icons-outlined">edit</i> <a>Cập nhật thông tin</a> </button>
                                </div>
                                <div class="col-3">
                                    <div class="user_profile_adward_image">
                                        <%= image_tag "icons/profile_adward.png"%>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <%else%>
                        <button class="user_profile_adward_add_btn" onclick="myFunctionUserAdward('profile_adward_form')"><i class="material-icons-outlined">add_circle_outline</i></button>
                    <%end%>

                    <div class="user_profile_adward_form_block" id="profile_adward_form">
                        <%= render :partial => 'user_adwards/form', :locals => {:user_adward => UserAdward.new}%>
                    </div>

                    <div class="user_profile_adward_detail_block">
                        <%= render @user.user_adwards%>
                    </div>
                    
                    <script>
                        function myFunctionUserAdward(id) {
                            var x = document.getElementById(id);
                            if (x.style.display == "block") 
                            {
                                x.style.display = "none";
                            } 
                            else 
                            {
                                x.style.display = "block";
                            }
                        }
                    </script>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="user_profile_action">
                    <div class="user_profile_action_label">
                        <h3>Cài đặt hồ sơ</h3>
                    </div>
                    <div class="user_profile_action_public">
                        <%= form_for(@user, remote: true) do |f| %>
                            <div class="user_profile_action_input">
                                <%= f.radio_button :public, true, :checked => true, onchange: "javascript:this.form.commit.click();" %>
                                <a><%= f.label :public, "Chế độ công khai", :value => "true" %></a>
                                <br>
                                <span>Thông tin hồ sơ của bạn có thể được tìm thấy bởi những nhà tuyển dụng (đã được Firework xác thực) đang tìm kiếm ứng viên có các tiêu chí phù hợp với thông tin trong hồ sơ của bạn.</span>
                            </div>
                            <div class="user_profile_action_input">
                                <%= f.radio_button :public, false, onchange: "javascript:this.form.commit.click();" %>
                                <a><%= f.label :public, "Chế độ riêng tư", :value => "false" %></a>
                                <br>
                                <span>Thông tin hồ sơ của bạn được giữ kín, nhà tuyển dụng sẽ không thể nhìn thấy hồ sơ của bạn. Tuy nhiên, bạn vẫn có thể sử dụng hồ sơ này để ứng tuyển bất cứ khi nào.</span>
                            </div>
                            <%= f.submit 'Lưu', class: "user_profile_action_submit" %>
                        <%end%>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="breadcrumbs">
            <%= render_breadcrumbs :separator => '<i class="material-icons-outlined">keyboard_arrow_right</i>' %>
        </div> 
    </div>
</div>