<div class="new_problem_solution_form">
    <%= form_for [@problem, ProblemSolution.new] do |f| %>
        <div class="new_problem_solution_title_sub">
            <span>Note: Mục có dấu '*' là bắt buộc</span>
        </div>

        <div class="new_problem_solution_section">
            <div class="new_problem_solution_content">
                <div class="new_problem_solution_label">
                    <a><%= f.label :title, "Tiêu đề cho câu trả lời của bạn(tùy chọn)", class: "new_problem_solution_label_name" %></a>
                </div>

                <div class="new_problem_solution_input">
                    <%= f.text_field :title, class: "form-control", placeholder: "Nhập mô tả ngắn gọn về giải pháp của bạn" %>
                </div>
            </div>

            <div class="new_problem_solution_content">
                <div class="new_problem_solution_label">
                    <a><%= f.label :content, "Giải pháp của bạn*", class: "new_problem_solution_label_name" %></a>
                </div>

                <div class="new_problem_solution_input">
                    <%= f.cktext_area :content, :required => true, class: "form-control-rich-text", ckeditor: {toolbar: "mini", height: 100}, placeholder: "Mô tả câu trả lời của bạn tại đây ..." %>
                </div>
            </div>
        </div>

        <div class="new_problem_solution_submit">
            <%= f.submit "Gửi câu trả lời", class: "new_problem_solution_form_submit" %>
        </div>
    <%end%>
</div>