<!-- problem_solutions container -->
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Add icon library -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    </head>

    <body>
        <div class="user_problem_solution_block">
            <div class="user_problem_solution_left">
                <div class="user_avatar">
                    <i class="material-icons">face</i>
                </div>
            </div>

            <div class="user_problem_solution_cotent">
                
                <div class="user_problem_solution_title">
                    <strong><%= problem_solution.title %></strong>
                </div>

                <div class="user_problem_solution_body">
                    <t><%= problem_solution.content %></t>
                </div>

                <div class="problem_solution_info">
                    <div class="problem_solution_toolbar">
                        <t><%= problem_solution.problem_reply_solutions.count%></t>
                        <%= link_to '<i class="material-icons">question_answer</i>'.html_safe, new_problem_reply_solution_path(@problem.id, problem_solution.id)%>
                        <t><%= problem_solution.problem_reply_solutions.count%></t>
                        <%= link_to '<i class="material-icons">thumb_up</i>'.html_safe, new_problem_reply_solution_path(@problem.id, problem_solution.id)%>
                        <t><%= problem_solution.problem_reply_solutions.count%></t>
                        <%= link_to '<i class="material-icons">thumb_down</i>'.html_safe, new_problem_reply_solution_path(@problem.id, problem_solution.id)%>
                    </div>

                    <div class="user_problem_solution_time">
                        <t><%= problem_solution.user_name %> lúc <%= time_ago_in_words(problem_solution.created_at) %></t>
                    </div>
                </div>
                
            </div>

            <%= render problem_solution.problem_reply_solutions %>
            
        </div>
    </body>
</html>