<div class="user_problem_solution_block">
    <div class="user_problem_solution_left">
        <%owner_user = find_owner_user(problem_solution)%>
        <div class="problem_solution_user">
            <%if owner_user%>
                <%= render owner_user%>  
            <%end%>
        </div>
        <div class="user_vote_toolbar" id="react_solution_<%=problem_solution.id%>">
            <div class="user_vote_solution">
                <%if user_signed_in?%>
                    <% upvote_react = problem_solution.problem_react_solutions.find { |react| (react.user_id == current_user.id) && (react.react_type == 1)} %>
                    <% if upvote_react %>  
                        <%= button_to problem_solution_problem_react_solutions_path(problem_solution, react_type: -1), method: :post, remote: true, form_class: "problem_solution_like_highlight" do %>
                            <i class="material-icons-outlined">arrow_drop_up</i>
                        <%end%> 
                    <%else%>
                        <%= button_to problem_solution_problem_react_solutions_path(problem_solution, react_type: 1), method: :post, remote: true, form_class: "problem_solution_like" do %>
                            <i class="material-icons-outlined">arrow_drop_up</i>
                        <%end%> 
                    <%end%>
                <%else%>
                    <button type="button" data-toggle="modal" data-target="#buttonModalLoginCenter" class="problem_solution_like">
                        <i class="material-icons-outlined">arrow_drop_up</i>
                    </button>
                <%end%>
            </div>

            <div class="problem_solution_like_info">
                <a><%= problem_solution.problem_react_solutions.where(:react_type => 1).count - problem_solution.problem_react_solutions.where(:react_type => 0).count%></a>
            </div>

            <div class="user_unvote_solution">
                <%if user_signed_in?%>
                    <% downvote_react = problem_solution.problem_react_solutions.find { |react| (react.user_id == current_user.id) && (react.react_type == 0)} %>
                    <% if downvote_react %>
                        <%= button_to problem_solution_problem_react_solutions_path(problem_solution, react_type: -1), method: :post, remote: true, form_class: "problem_solution_dislike_highlight" do %>
                            <i class="material-icons-outlined">arrow_drop_down</i>
                        <%end%> 
                    <%else%>
                        <%= button_to problem_solution_problem_react_solutions_path(problem_solution, react_type: 0), method: :post, remote: true, form_class: "problem_solution_dislike" do %>
                            <i class="material-icons-outlined">arrow_drop_down</i>
                        <%end%> 
                    <%end%>
                <%else%>
                    <button type="button" data-toggle="modal" data-target="#buttonModalLoginCenter" class="problem_solution_dislike">
                        <i class="material-icons-outlined">arrow_drop_down</i>
                    </button>
                <%end%>
            </div>
        </div>
    </div>

    <div class="user_problem_solution_cotent">
        <div class="user_problem_solution_time">
            <a><span><%= problem_solution.user_name %></span> · <%= problem_solution.created_at.strftime("%B %d, %Y") %></a>
        </div>
        <div class="user_problem_solution_title">
            <a><%= problem_solution.title %></a>
        </div>
        
        <div class="user_problem_solution_body">
            <a><%= problem_solution.content.html_safe %></a>
        </div>

        <div class="problem_solution_toolbar">
            <div class="problem_solution_reply_block">
                <button class="reply_btn" onclick="myFunctionReplyproblem_solution(<%=problem_solution.id%>)">
                     <i class="material-icons-outlined">chat_bubble_outline</i> <span><%= problem_solution.problem_reply_solutions.count%></span> <a>Trả lời</a>
                </button>
            </div>

            <div class="problem_solution_report_block">
                <%if user_signed_in?%>
                    <button class="report_btn" type="button" class="btn" data-toggle="modal" data-target="#buttonModalProblemSolutionIndexCenter">
                        <i class="material-icons-outlined">flag</i> <a>Báo xấu</a>
                    </button>
                <%else%>
                    <button class="report_btn" type="button" class="btn" data-toggle="modal" data-target="#buttonModalLoginCenter">
                        <i class="material-icons-outlined">flag</i> <a>Báo xấu</a>
                    </button>
                <%end%>
                <!-- Modal -->
                <div class="modal fade" id="buttonModalProblemSolutionIndexCenter" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <%= render :partial => 'reports/form', locals: {target_id: problem_solution.id, target_type: "ProblemSolution"} %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="new_reply_problem_solution_form" id ="<%=problem_solution.id%>">
        <%= form_for([problem_solution, ProblemReplySolution.new], remote: true) do |f| %>
            <div class="new_reply_problem_solution_content">
                <div class="new_reply_problem_solution_input_problem_solution">
                    <%= f.text_area :reply_content, :class => "tinymce"%>
                    <%= tinymce :mini %>
                </div>
            </div>

            <div class="new_reply_problem_solution_submit">
                <button type="submit" class="new_reply_problem_solution_form_submit">
                    <i class="material-icons">send</i>
                </button>
            </div>
        <%end%>
    </div>

    <script>
        function myFunctionReplyproblem_solution(problem_solution_id) {
            var x = document.getElementById(problem_solution_id);
            if (x.style.display == "block") {
                x.style.display = "none";
            } else {
                x.style.display = "block";
            }
        }
    </script>

    <div class="reply_problem_solution_content" id="problem_reply_solution_block_<%=problem_solution.id%>">
        <%= render problem_solution.problem_reply_solutions %>
    </div>
</div>