<!-- problem_solutions container -->
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
        <div class="user_problem_solution_block">
            <div class="user_problem_solution_left">
                <div class="user_avatar">
                    <i class="material-icons-outlined">perm_identity</i>
                </div>
                <div class="user_vote_toolbar" id="solution_<%=problem_solution.id%>">
                    <div class="user_vote_solution">
                        <%if logged_in?%>
                            <% pre_vote = problem_solution.problem_vote_solutions.find { |vote| vote.user_id == current_user.id} %>
                            <% if pre_vote %>  
                                <%= button_to problem_problem_solution_problem_vote_solution_path(@problem, problem_solution, pre_vote), method: :delete, remote: true, form_class: "problem_solution_like_highlight" do%>
                                    <i class="material-icons-outlined">arrow_drop_up</i>
                                <%end%> 
                            <%else%>
                                <%= button_to problem_problem_solution_problem_vote_solutions_path(@problem, problem_solution), method: :post, remote: true, form_class: "problem_solution_like" do%>
                                    <i class="material-icons-outlined">arrow_drop_up</i>
                                <%end%> 
                            <%end%>
                        <%else%>
                            <%= button_to login_path, :method => :get, form_class: "problem_solution_like" do%>
                                <i class="material-icons-outlined">arrow_drop_up</i>
                            <%end%> 
                        <%end%>
                    </div>

                    <div class="problem_solution_like_info">
                        <a><%= problem_solution.problem_vote_solutions.count - problem_solution.problem_unvote_solutions.count%></a>
                    </div>

                    <div class="user_unvote_solution">
                        <%if logged_in?%>
                            <% pre_unvote = problem_solution.problem_unvote_solutions.find { |unvote| unvote.user_id == current_user.id} %>
                            <% if pre_unvote %>
                                <%= button_to problem_problem_solution_problem_unvote_solution_path(@problem, problem_solution, pre_unvote), method: :delete, remote: true, form_class: "problem_solution_dislike_highlight" do%>
                                    <i class="material-icons-outlined">arrow_drop_down</i>
                                <%end%> 
                            <%else%>
                                <%= button_to problem_problem_solution_problem_unvote_solutions_path(@problem, problem_solution), method: :post, remote: true, form_class: "problem_solution_dislike" do%>
                                    <i class="material-icons-outlined">arrow_drop_down</i>
                                <%end%> 
                            <%end%>
                        <%else%>
                            <%= button_to login_path, :method => :get, form_class: "problem_solution_dislike" do%>
                                <i class="material-icons-outlined">arrow_drop_down</i>
                            <%end%>
                        <%end%>
                    </div>
                </div>
            </div>

            <div class="user_problem_solution_cotent">
                <div class="user_problem_solution_body">
                    <a><%= problem_solution.content.html_safe %></a>
                </div>

                <div class="problem_solution_info">
                    <div class="problem_solution_info">
                        <div class="problem_solution_toolbar">
                            <a><%= problem_solution.problem_reply_solutions.count%></a>
                            <button class="reply_btn" onclick="myFunctionReplyproblem_solution(<%=problem_solution.id%>)"><i class="material-icons-outlined">chat_bubble_outline</i> Trả lời </button>
                        </div>
                    </div>

                    <div class="user_problem_solution_time">
                        <a><%= problem_solution.user_name %> . <%= time_ago_in_words(problem_solution.created_at) %></a>
                    </div>
                </div>
            </div>

            <div class="new_reply_problem_solution_form" id ="<%=problem_solution.id%>">
                <%= form_for [@problem, problem_solution, ProblemReplySolution.new] do |f| %>
                    <div class="new_reply_problem_solution_content">
                        <div class="new_reply_problem_solution_input_problem_solution">
                            <%= f.text_area :reply_content, class: "form-control-text", placeholder: "Gửi trả lời" %>
                        </div>
                    </div>

                    <div class="new_reply_problem_solution_submit">
                        <button type="submit" class="new_reply_problem_solution_form_submit">
                            <i class="material-icons-outlined">send</i>
                        </button>
                    </div>
                <%end%>
            </div>

            <script>
                function myFunctionReplyproblem_solution(problem_solution_id) {
                    var x = document.getElementById(problem_solution_id);
                    if (x.style.display == "none") {
                        x.style.display = "block";
                    } else {
                        x.style.display = "none";
                    }
                }
            </script>

            <div class="reply_problem_solution_content">
                <%if problem_solution.problem_reply_solutions.count > 0%>
                    <%# <button class="show_hide_reply_btn_show" onclick="myFunctionReplyproblem_solutionShowHide()"><i class="material-icons-outlined">keyboard_arrow_down</i></button> %>
                    <%# <button class="show_hide_reply_btn_hide" onclick="myFunctionReplyproblem_solutionShowHide()"><i class="material-icons-outlined">keyboard_arrow_up</i></button> %>
                    <div class="problem_solution_reply" id="mydivShowHide">
                        <%= render problem_solution.problem_reply_solutions %>
                    </div>
                <%end%>
                <script>
                    function myFunctionReplyproblem_solutionShowHide() {
                        // var x = document.getElementById("mydivShowHide");
                        // if (x.style.display == "none") {
                        //     x.style.display = "block";
                        // } else {
                        //     x.style.display = "none";
                        // }
                    }
                </script>
            </div>
        </div>
    </body>
</html>