<div class="container">
    <div class="sessions">
    </div>
        <section class="signup">
            <div class="container">
                <div class="signup-content">

                    <%= form_for :session, url: login_path do |f| %>
                        <h2 class="form-title">Đăng nhập</h2>

                        <div class="form-group">
                            <%= f.label :name, "Tên hoặc địa chỉ email", class: "col-md-2 control-label" %>
                            <div class="col-md-6">
                            <%= f.text_field :name, class: "form-input", placeholder: "Nhập tên hoặc địa chỉ email của bạn" %>
                            </div>
                        </div>

                        <div class="form-group">
                            <%= f.label :password, "Mật khẩu", class: "col-md-2 control-label" %>
                            <div class="col-md-6">
                            <%= f.password_field :password, class: "form-input", placeholder: "Nhập mật khẩu của bạn" %>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-offset-4">
                            <%= f.submit "Đăng nhập", class: "form-submit" %>
                            </div>
                        </div>

                        <p class="loginhere">
                            Chưa có tài khoản, đăng ký tại <%= link_to 'đây', new_user_path %>
                        </p>
                    <%end%>

                </div>
            </div>
        </section>
    </div>
</div>
