<%if salary_locate == 1 %>
    <% icon = "paid"%>
    <% title = t(:salary_1)%>
<%elsif salary_locate == 2%>
    <% icon = "laptop"%>
    <% title = t(:salary_2)%>
<%elsif salary_locate == 3%>
    <% icon = "groups"%>
    <% title = t(:salary_3)%>
<%elsif salary_locate == 4%>
    <% icon = "cases"%>
    <% title = t(:salary_4)%>
<%elsif salary_locate == 5%>
    <% icon = "science"%>
    <% title = t(:salary_5)%>
<%elsif salary_locate == 6%>
    <% icon = "engineering"%>
    <% title = t(:salary_6)%>
<%elsif salary_locate == 7%>
    <% icon = "people"%>
    <% title = t(:salary_7)%>
<%elsif salary_locate == 8%>
    <% icon = "cast"%>
    <% title = t(:salary_8)%>
<%elsif salary_locate == 9%>
    <% icon = "admin_panel_settings"%>
    <% title = t(:salary_9)%>
<%elsif salary_locate == 10%>
    <% icon = "store"%>
    <% title = t(:salary_10)%>
<%elsif salary_locate == 11%>
    <% icon = "precision_manufacturing"%>
    <% title = t(:salary_11)%>
<%elsif salary_locate == 12%>
    <% icon = "support_agent"%>
    <% title = t(:salary_12)%>
<%else%>
    <% icon = "edit"%>
    <% title = t(:salary_1)%>
<%end%>
<div class="company_salary_block">
    <div class="company_salary_title"> 
        <i class="material-icons-outlined"><%=icon%></i> <span>
        <a><%=title%></a>
    </div>
    
    <div class="company_salary_section">
        <div class="company_salary_section_title">
            <a><%=t(:intern)%>(<%=count_salary_category(@company, salary_locate, 1)%>)</a>
        </div>
        <div class="company_salary_section_number">
            <%= cal_intern_salary_by_type(@company, salary_locate, 1)%> <%=t(:vnd_short)%>
        </div>
    </div>

    <div class="company_salary_section">
        <div class="company_salary_section_title">
            <a><%=t(:junior)%>(<%=count_salary_category(@company, salary_locate, 2)%>)</a>
        </div>
        <div class="company_salary_section_number">
            <%= cal_intern_salary_by_type(@company, salary_locate, 2)%> <%=t(:vnd_short)%>
        </div>
    </div>
    
    <div class="company_salary_section">
        <div class="company_salary_section_title">
            <a><%=t(:staff)%>(<%=count_salary_category(@company, salary_locate, 3)%>)</a>
        </div>
        <div class="company_salary_section_number">
            <%= cal_intern_salary_by_type(@company, salary_locate, 3)%> <%=t(:vnd_short)%>
        </div>
    </div>

    <div class="company_salary_section">
        <div class="company_salary_section_title">
            <a><%=t(:senior)%>(<%=count_salary_category(@company, salary_locate, 4)%>)</a>
        </div>
        <div class="company_salary_section_number">
            <%= cal_intern_salary_by_type(@company, salary_locate, 4)%> <%=t(:vnd_short)%>
        </div>
    </div>

    <div class="company_salary_section">
        <div class="company_salary_section_title">
            <a><%=t(:expert)%>(<%=count_salary_category(@company, salary_locate, 5)%>)</a>
        </div>
        <div class="company_salary_section_number">
            <%= cal_intern_salary_by_type(@company, salary_locate, 5)%> <%=t(:vnd_short)%>
        </div>
    </div>

    <div class="company_salary_section">
        <div class="company_salary_section_title">
            <a><%=t(:leader)%>(<%=count_salary_category(@company, salary_locate, 6)%>)</a>
        </div>
        <div class="company_salary_section_number">
            <%= cal_intern_salary_by_type(@company, salary_locate, 6)%> <%=t(:vnd_short)%>
        </div>
    </div>

    <div class="company_salary_section">
        <div class="company_salary_section_title">
            <a><%=t(:arch)%>(<%=count_salary_category(@company, salary_locate, 7)%>)</a>
        </div>
        <div class="company_salary_section_number">
            <%= cal_intern_salary_by_type(@company, salary_locate, 7)%> <%=t(:vnd_short)%>
        </div>
    </div>
</div>