<div class="container">
	<div class="new_salary_form">
		<%= form_for [@company, CompanySalary.new] do |f| %>
			<div class="row">
				<div class="col-sm-8">
					<div class="new_salary_title_block">
						<div class="new_salary_title">
							<h3>Chia sẻ lương, đãi ngộ tại <%=@company.name%></h3>
							<a>Bạn sẽ chỉ mất ít phút để chia sẻ lương của bạn tại <%=@company.name%>, những thông tin của bạn sẽ giúp ích cho rất nhiều người khác ...</a>
						</div>
						<div class="company_salary_image">
							<%if @company.avatar?%>
								<img><%= image_tag @company.avatar.thumb.url %>
							<%end%>
						</div>
					</div>

					<div class="new_salary_title_sub">
						<a>Note: Mục có dấu <span>'*'</span> là bắt buộc</a>
					</div>

					<div class="new_salary_section">
						<div class="new_salary_content">
							<div class="new_salary_label">
								<a><%= f.label :salary_job, "Tên công việc của bạn", class: "new_salary_label_name" %><span>*</span></a>
							</div>

							<div class="new_salary_input">
								<%= f.text_field :salary_job, :required => true, class: "form-control", placeholder: "Nhập vị trí mà bạn đang làm việc tại công ty" %>
							</div>
						</div>

						<div class="new_salary_content">
							<div class="new_salary_label">
								<a><%= f.label :level, "Vị trí làm việc của bạn", class: "new_salary_label_name" %><span>*</span></a>
							</div>

							<div class="new_salary_input">
								<%= f.select(:level, options_for_select([['Intern', 1], ['Junior', 2], ['Middle', 3], ['Senior', 4], ['Expert', 5], ['Leader', 6], ['Architect', 7]]), {include_blank: false, :required => true}, { :class => 'form-control' }) %>
							</div>
						</div>

						<div class="new_salary_content">
							<div class="new_salary_label">
								<a><%= f.label :locate, "Bạn làm việc trong phòng ban nào?", class: "new_salary_label_name" %><span>*</span></a>
							</div>

							<div class="new_salary_input">
								<%= f.select(:locate, options_for_select([['Tài chính kế toán', 1], 
																		['Công nghệ thông tin', 2], 
																		['Tư vấn, chiến lược', 3], 
																		['Kinh doanh', 4], 
																		['Nghiên cứu phát triển', 5], 
																		['Kĩ thuật', 6], 
																		['Hành chính, Nhân sự', 7], 
																		['Truyền thông', 8], 
																		['Quản lý dự án', 9], 
																		['Sale & Marketing', 10],
																		['Sản xuất', 11],
																		['Dịch vụ khách hàng', 12]]), {include_blank: false, :required => true}, { :class => 'form-control' }) %>
							</div>
						</div>

						<div class="new_salary_content">
							<div class="new_salary_label">
								<a><%= f.label :salary, "Mức lương mà bạn đã nhận được", class: "new_salary_label_name" %><span>*</span></a>
							</div>

							<div class="new_salary_input">
								<%= f.number_field :salary, :required => true, class: "form-control" %>
							</div>
						</div>

						<div class="new_salary_content">
							<div class="new_salary_label">
								<a><%= f.label :salary_bonus, "Bạn có nhận được phần thưởng, bonus, hay thưởng doanh số không?(tùy chọn)", class: "new_salary_label_name" %></a>
							</div>

							<div class="new_salary_input">
								<%= f.number_field :salary_bonus, class: "form-control" %>
							</div>
						</div>

						<div class="new_salary_content">
							<div class="new_salary_label">
								<a><%= f.label :salary_currency, "Đơn vị tiền tệ", class: "new_salary_label_name" %><span>*</span></a>
							</div>

							<div class="new_salary_input">
								<%= f.select(:salary_currency, options_for_select(["VND", "USD"], "VND"), {include_blank: false}, { :class => 'form-control' }) %>
							</div>
						</div>
					</div>

					<div class="new_salary_section">
						<div class="new_salary_content">
							<div class="new_salary_label">
								<a><%= f.label :salary_working_status, "Bạn có còn làm việc ở đây không?", class: "new_salary_label_name" %></a>
							</div>

							<div class="new_salary_input">
								<div class="new_salary_input_radio">
									<%=f.collection_radio_buttons :salary_working_status, [[true, "Có"] ,[false, "Không"]], :first, :last, { checked: true }%>
								</div>
							</div>
						</div>

						<div class="new_salary_content">
							<div class="new_salary_label">
								<a><%= f.label :salary_experience, "Bạn đã làm việc ở đây được bao lâu?", class: "new_salary_label_name" %></a>
							</div>

							<div class="new_salary_input">
								<%= f.select(:salary_experience, options_for_select(["6 tháng", "1 năm", "2 năm", "3 năm", "5 năm", "Nhiều hơn 5 năm"]), {include_blank: false}, { :class => 'form-control' }) %>
							</div>
						</div>
					</div>

					<div class="new_salary_submit">
						<%= f.submit "Gửi", class: "new_salary_form_submit" %>
					</div>
				</div>

				<div class="col-sm-4">
					<div class="salary_policy">
						<div class="salary_policy_title">
							<a>Lưu ý trước khi chia sẻ lương</a>
						</div>
						<div class="salary_policy_content">
							<div class="salary_policy_content_index">
								· Không sử dụng từ ngữ mang ý xúc phạm, miệt thị người khác
							</div>
							<div class="salary_policy_content_index">
								· Không sử dụng từ ngữ mang tính chất kích động, bạo lực
							</div>
							<div class="salary_policy_content_index">
								· Không cung cấp thông tin cá nhân
							</div>
							<div class="salary_policy_content_index">
								· Không cung cấp thông tin bảo mật, bí mật kinh doanh của công ty
							</div>
							<div class="salary_policy_content_link">
								Cảm ơn bạn đã đưa ra những đánh giá chân thực nhất. Xem thêm thông tin chi tiết về 
								<a href="https://www.firework.vn/posts/policy">thỏa thuận sử dụng </a>
							</div>
						</div>
					</div>
				</div>
			</div>
		<%end%>
	</div>
</div>