<div class="container">
	<div class="new_salary_form">
		<%= form_for [@company, CompanySalary.new] do |f| %>
			<div class="row">
				<div class="col-sm-8">
					<div class="new_salary_title_block">
						<div class="new_salary_title">
							<h3><%=t(:share_salary_at)%> <%=@company.name%></h3>
							<a><%=t(:form_salary_intro_left)%> <%=@company.name%>, <%=t(:form_salary_intro_right)%></a>
						</div>
						<div class="company_salary_image">
							<%if @company.avatar?%>
								<%= image_tag @company.avatar.thumb.url %>
							<%else%>
								<%= image_tag "defaults/company_avatar_default.png" %>
							<%end%>
						</div>
					</div>

					<div class="new_salary_title_sub">
						<a><%=t(:form_require_left)%> <span>'*'</span> <%=t(:form_require_right)%></a>
					</div>

					<div class="new_salary_section">
						<div class="new_salary_content">
							<div class="new_salary_label">
								<a><%= f.label :salary_job, t(:form_salary_job), class: "new_salary_label_name" %><span>*</span></a>
							</div>

							<div class="new_salary_input">
								<%= f.text_field :salary_job, :required => true, class: "form-control", placeholder: t(:form_salary_enter_job) %>
							</div>
						</div>

						<div class="new_salary_content">
							<div class="new_salary_label">
								<a><%= f.label :level, t(:form_salary_position), class: "new_salary_label_name" %><span>*</span></a>
							</div>

							<div class="new_salary_input">
								<%= f.select(:level, options_for_select([[t(:intern), 1], [t(:junior), 2], [t(:staff), 3], [t(:senior), 4], [t(:expert), 5], [t(:leader), 6], [t(:arch), 7]]), {include_blank: false, :required => true}, { :class => 'form-select' }) %>
							</div>
						</div>

						<div class="new_salary_content">
							<div class="new_salary_label">
								<a><%= f.label :locate, t(:form_salary_room), class: "new_salary_label_name" %><span>*</span></a>
							</div>

							<div class="new_salary_input">
								<%= f.select(:locate, options_for_select([[t(:salary_1), 1], 
																		[t(:salary_2), 2], 
																		[t(:salary_3), 3], 
																		[t(:salary_4), 4], 
																		[t(:salary_5), 5], 
																		[t(:salary_6), 6], 
																		[t(:salary_7), 7], 
																		[t(:salary_8), 8], 
																		[t(:salary_9), 9], 
																		[t(:salary_10), 10],
																		[t(:salary_11), 11],
																		[t(:salary_12), 12]]), {include_blank: false, :required => true}, { :class => 'form-select' }) %>
							</div>
						</div>

						<div class="new_salary_content">
							<div class="new_salary_label">
								<a><%= f.label :salary, t(:form_salary_salary), class: "new_salary_label_name" %><span>*</span></a>
							</div>

							<div class="new_salary_input">
								<%= f.number_field :salary, :required => true, class: "form-control" %>
							</div>
						</div>

						<div class="new_salary_content">
							<div class="new_salary_label">
								<a><%= f.label :salary_bonus, t(:form_salary_bonus), class: "new_salary_label_name" %></a>
							</div>

							<div class="new_salary_input">
								<%= f.number_field :salary_bonus, class: "form-control" %>
							</div>
						</div>

						<div class="new_salary_content">
							<div class="new_salary_label">
								<a><%= f.label :salary_currency, t(:form_salary_currency), class: "new_salary_label_name" %><span>*</span></a>
							</div>

							<div class="new_salary_input">
								<%= f.select(:salary_currency, options_for_select(["VND", "USD"], "VND"), {include_blank: false}, { :class => 'form-select' }) %>
							</div>
						</div>
					</div>

					<div class="new_salary_section">
						<div class="new_salary_content">
							<div class="new_salary_label">
								<a><%= f.label :salary_working_status, t(:form_salary_status), class: "new_salary_label_name" %></a>
							</div>

							<div class="new_salary_input">
								<div class="new_salary_input_radio">
									<%=f.collection_radio_buttons :salary_working_status, [[true, t(:yes)] ,[false, t(:no)]], :first, :last, { checked: true }%>
								</div>
							</div>
						</div>

						<div class="new_salary_content">
							<div class="new_salary_label">
								<a><%= f.label :salary_experience, t(:form_salary_working_time), class: "new_salary_label_name" %></a>
							</div>

							<div class="new_salary_input">
								<%= f.select(:salary_experience, options_for_select(["6 tháng", "1 năm", "2 năm", "3 năm", "5 năm", "Nhiều hơn 5 năm"]), {include_blank: false}, { :class => 'form-select' }) %>
							</div>
						</div>
					</div>

					<div class="new_salary_submit">
						<%= f.submit t(:send), class: "new_salary_form_submit" %>
					</div>
				</div>

				<div class="col-sm-4">
					<div class="salary_policy">
						<div class="salary_policy_title">
							<a><%=t(:form_help_cmn)%></a>
						</div>
						<div class="salary_policy_content">
							<div class="salary_policy_content_index">
								· <%=t(:form_help_cmn_1)%>
							</div>
							<div class="salary_policy_content_index">
								· <%=t(:form_help_cmn_2)%>
							</div>
							<div class="salary_policy_content_index">
								· <%=t(:form_help_cmn_3)%>
							</div>
							<div class="salary_policy_content_index">
								· <%=t(:form_help_cmn_4)%>
							</div>
							<div class="salary_policy_content_link">
								<%=t(:form_help_cmn_5)%>
								<a href="<%=term_path%>"><%=t(:term_and_service)%> </a>
							</div>
						</div>
					</div>
				</div>
			</div>
		<%end%>
	</div>
</div>