<%company = company_job.company%>
<div class="job_preview_block">
    <div class="job_preview_company">
        <div class="job_preview_left">
            <div class="company_avatar">
                <%if company.avatar?%>
                    <%= link_to (image_tag(company.avatar.thumb.url)), image_path(url_for(company.avatar.thumb.url)), rel: "gallery" , :href => company_path(company)%>
                <%end%>
            </div>
            <div class="job_preview_des">
                <div class="job_preview_title">
                    <a><%= link_to (company_job.title), company_company_job_path(company, company_job)%></a>
                </div>
                <div class="company_job_preview_name">
                    <a><%= link_to (company.name), company_path(company), target: :_blank%> </a>
                </div>

                <div class='job_preview_block_info'>
                    <div class="job_preview_shoft_info">
                        <%if company_job.location.present?%>
                            <a><i class="material-icons-outlined">room</i><%= company_job.location %></a>
                        <%elsif company_job.address.present?%>
                            <a><i class="material-icons-outlined">room</i><%= company_job.address %></a>
                        <%elsif company.address.present? %>
                            <a><i class="material-icons-outlined">room</i><%= company.address %></a>
                        <%else%>
                            <a><i class="material-icons-outlined">room</i>Đang cập nhật</a>
                        <%end%>
                    </div>
                    <div class="job_preview_shoft_info_salary">
                        <%if user_signed_in?%>
                            <a><i class="material-icons-outlined">monetization_on</i><%= company_job.salary.to_s %></a>
                        <%else%>
                            <a type="link" data-toggle="modal" data-target="#buttonModalLoginCenter" class="job_salary_login">
                                <i class="material-icons-outlined">monetization_on</i> <span>Đăng nhập để xem mức lương</span>
                            </a>
                        <%end%>
                    </div>
                    <div class="job_preview_shoft_info">
                        <%if company_job.apply_another_site_flag%>
                            <a><i class="material-icons-outlined">schedule</i> Đã đăng <%= time_ago_in_words(company_job.created_at) %> · từ <%=get_domain_name(company_job.apply_site)%></a>
                        <%else%>
                            <a><i class="material-icons-outlined">schedule</i> Đã đăng <%= time_ago_in_words(company_job.created_at) %> </a>
                        <%end%>
                    </div>
                </div>
            </div>
        </div>
        <div class="job_preview_right">
            <div class="apply_job_preview_button">
                <%if user_signed_in?%>
                    <div class="job_preview_apply_button">
                        <%if company_job.apply_another_site_flag?%>
                            <%= link_to '<button type="submit">Nộp đơn tại trang công ty</button>'.html_safe, company_job.apply_site%>
                        <%else%>
                            <%= link_to '<button type="submit"><i class="material-icons">send</i>Nộp đơn</button>'.html_safe, new_company_job_company_apply_job_path(company_job)%>
                        <%end%>
                    </div>

                    <div class="job_preview_save_button" id="save_job_<%=company_job.id%>">
                        <% pre_save = company_job.company_save_jobs.find { |save| save.user_id == current_user.id} %>
                        <%if user_signed_in?%>
                            <% if pre_save %> 
                                <%= button_to company_job_company_save_job_path(company_job, pre_save), :method => :delete, remote: true, form_class: "save_btn_highlight" do%>
                                    <i class="material-icons-outlined">favorite</i> <span>Đã lưu</span>
                                <%end%> 
                            <%else%>
                                <%= button_to company_job_company_save_jobs_path(company_job), :method => :post, remote: true, form_class: "save_btn" do%>
                                    <i class="material-icons-outlined">favorite_border</i> <span>Lưu việc làm</span>
                                <%end%>
                            <%end%>
                        <%else%>
                            <button type="button" data-toggle="modal" data-target="#buttonModalLoginCenter" class="save_btn">
                                <i class="material-icons-outlined">favorite_border</i> <span>Lưu việc làm</span>
                            </button>
                        <%end%>
                    </div>
                <%else%>
                    <div class="job_preview_apply_button">
                        <button type="button" data-toggle="modal" data-target="#buttonModalLoginCenter">
                            <i class="material-icons-outlined">send</i>Nộp đơn
                        </button>
                    </div>
                    <div class="job_preview_save_button">
                        <button type="button" data-toggle="modal" data-target="#buttonModalLoginCenter">
                            <i class="material-icons-outlined">favorite_border</i>Lưu việc làm
                        </button>
                    </div>
                <%end%>
            </div>
        </div>
    </div>

    <div class='job_preview_block_total'>
        <div class='job_preview_block_left'>
            <%if company_job.detail.present?%>
                <div class="job_preview_detail_content">
                    <%= company_job.detail.html_safe %>
                </div>
            <%else%>
                <%if company_job.skill.present?%>
                    <div class="job_preview_skill">
                        <div class="job_preview_content">
                            <%company_job.skill.each do |skill|%>
                                <%if !skill.empty?%>
                                    <a><%= skill.to_s%></a>
                                <%end%>
                            <%end%>
                        </div>
                    </div>
                <%end%>
                <div class="job_preview_description">
                    <div class="job_preview_section">
                        <strong>Mô tả công việc</strong>
                    </div>
                    <%if company_job.description.present?%>
                        <div class="job_preview_content">
                            <%= company_job.description.html_safe %>
                        </div>
                    <%end%>
                </div>

                <div class="job_preview_requirement">
                    <div class="job_preview_section">
                        <strong>Yêu cầu công việc</strong>
                    </div>
                    <%if company_job.requirement.present?%>
                        <div class="job_preview_content">
                            <%= company_job.requirement.html_safe %>
                        </div>
                    <%end%>
                </div>
                
                <div class="job_preview_benefit">
                    <div class="job_preview_section">
                        <strong>Chế độ đãi ngộ bạn sẽ nhận được</strong>
                    </div>
                    <%if company_job.benefit.present?%>
                        <div class="job_preview_content">
                            <div class="job_preview_benefit_block">
                                <span><%= company_job.benefit.html_safe %></span>
                            </div>
                        </div>
                    <%end%>
                </div>
            <%end%>
            
            <div class="apply_job_preview_button_middle">
                <%if user_signed_in?%>
                    <%if company_job.apply_another_site_flag?%>
                        <%= link_to '<button type="submit">Nộp đơn tại trang công ty</button>'.html_safe, company_job.apply_site%>
                    <%else%>
                        <%= link_to '<button type="submit">Nộp đơn ngay</button>'.html_safe, new_company_job_company_apply_job_path(company_job)%>
                    <%end%>
                <%else%>
                    <button type="button" data-toggle="modal" data-target="#buttonModalLoginCenter">
                        Nộp đơn ngay
                    </button>
                <%end%>
            </div>
        </div>
    </div>
</div>