<!-- jobs container -->
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
    </head>

    <body>
        <div class="user_job_block">
            <div class="user_job_left">
                <div class="user_avatar">
                    <%if @company.avatar.attached?%>
                        <%= link_to (image_tag(@company.avatar)), image_path(url_for(@company.avatar)), rel: "gallery" , :href => company_path(@company)%>
                    <%end%>
                </div>
            </div>

            <div class="user_job_middle">
                <div class="user_job_title">
                    <strong><%= link_to (company_job.title), company_company_job_path(@company, company_job) %></strong>
                </div>

                <div class="user_job_description">
                    <t><%= company_job.description %></t>
                </div>

                <div class="user_job_location">
                    <t><i class="material-icons">room</i><%= company_job.location %></t>
                </div>

                <div class="user_job_salary">
                    <t><i class="material-icons">local_offer</i><%= company_job.salary %></t>
                </div>
            </div>

            <div class="user_job_right">
                <div class="apply_job_button">
                    <%= link_to '<button type="submit">Ứng tuyển</button>'.html_safe, new_company_apply_job_path(@company.id, company_job.id)%>
                </div>
                <div class="user_job_date">
                    <t><%= time_ago_in_words(company_job.created_at) %></t>
                </div>
            </div>
        </div>
    </body>
</html>