<%company = find_company_of_job(company_job)%>
<div class="job_preview_block">
    <div class="job_preview_company">
        <div class="row">
            <div class="col-sm-9">
                <div class="job_preview_left">
                    <div class="job_preview_des">
                        <div class="job_preview_title">
                            <a><%= link_to (company_job.title.titleize), company_job_path(company_job)%></a>
                        </div>
                        <div class="company_job_preview_name">
                            <%if company.present?%>
                                <a><%= link_to (company.name), company_path(company), target: :_blank%> </a>
                            <%else%>
                                <a><%=company_job.company_name%></a>
                            <%end%>
                        </div>

                        <div class='job_preview_block_info'>
                            <div class="job_preview_shoft_info">
                                <%if company_job.location.present?%>
                                    <a><i class="material-icons-outlined">room</i><%= company_job.location %></a>
                                <%elsif company_job.address.present?%>
                                    <a><i class="material-icons-outlined">room</i><%= company_job.address %></a>
                                <%else%>
                                    <a><i class="material-icons-outlined">room</i>Đang cập nhật</a>
                                <%end%>
                            </div>
                            <div class="job_preview_shoft_info_salary">
                                <%if user_signed_in?%>
                                    <a><i class="material-icons-outlined">monetization_on</i><%= company_job.salary.to_s %></a>
                                <%else%>
                                    <a type="link" data-toggle="modal" data-target="#buttonModalLoginCenter" class="job_salary_login">
                                        <i class="material-icons-outlined">monetization_on</i> <span>Đăng nhập để xem mức lương</span>
                                    </a>
                                <%end%>
                            </div>

                            <div class="job_preview_shoft_info">
                                <a><i class="material-icons-outlined">hourglass_empty</i>Hạn nộp hồ sơ  · <%= company_job.end_date.strftime("%B %d, %Y") %> </a>
                            </div>

                            <div class="job_preview_shoft_info">
                                <%if company_job.apply_another_site_flag%>
                                    <a><i class="material-icons-outlined">schedule</i> Đã đăng · <%= time_ago_in_words(company_job.created_at) %> từ <%=get_domain_name(company_job.apply_site)%></a>
                                <%else%>
                                    <a><i class="material-icons-outlined">schedule</i> Đã đăng · <%= time_ago_in_words(company_job.created_at) %> </a>
                                <%end%>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="job_preview_right">
                    <div class="apply_job_preview_button">
                        <div class="job_preview_apply_button">
                            <%if company_job.apply_another_site_flag?%>
                                <%= link_to '<button type="submit">Xem thêm và nộp đơn</button>'.html_safe, company_job.apply_site%>
                            <%elsif user_signed_in?%>
                                <%= link_to '<button type="submit"><i class="material-icons">send</i>Nộp đơn ngay</button>'.html_safe, new_company_job_company_apply_job_path(company_job)%>
                            <%else%>
                                <button type="button" data-toggle="modal" data-target="#buttonModalLoginCenter">
                                    <i class="material-icons-outlined">send</i>Nộp đơn ngay
                                </button>
                            <%end%>
                        </div>

                        <div class="job_preview_save_button" id="save_job_<%=company_job.id%>">
                            <%if user_signed_in?%>
                                <% pre_save = company_job.company_save_jobs.find { |save| save.user_id == current_user.id} %>
                                <% if pre_save %> 
                                    <%= button_to company_job_company_save_job_path(company_job, pre_save), :method => :delete, remote: true, form_class: "save_btn_highlight" do%>
                                        <i class="material-icons-outlined">favorite</i> <span>Đã lưu</span>
                                    <%end%> 
                                <%else%>
                                    <%= button_to company_job_company_save_jobs_path(company_job), :method => :post, remote: true, form_class: "save_btn" do%>
                                        <i class="material-icons-outlined">favorite_border</i> <span>Lưu việc làm</span>
                                    <%end%>
                                <%end%>
                            <%else%>
                                <button type="button" data-toggle="modal" data-target="#buttonModalLoginCenter" class="save_btn">
                                    <i class="material-icons-outlined">favorite_border</i> <span>Lưu việc làm</span>
                                </button>
                            <%end%>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class='job_preview_block_total'>
        <div class='job_preview_block_left'>
            <%if company_job.detail.present?%>
                <div class="job_preview_detail_content">
                    <%= company_job.detail.html_safe %>
                </div>
            <%else%>
                <%if company_job.skill.present?%>
                    <div class="job_preview_skill">
                        <div class="job_preview_content">
                            <%company_job.skill.each do |skill|%>
                                <%if !skill.empty?%>
                                    <a><%= skill.to_s%></a>
                                <%end%>
                            <%end%>
                        </div>
                    </div>
                <%end%>
                <div class="job_preview_description">
                    <div class="job_preview_section">
                        <h3>Mô tả công việc</h3>
                    </div>
                    <%if company_job.description.present?%>
                        <div class="job_preview_content">
                            <%= company_job.description.html_safe %>
                        </div>
                    <%end%>
                </div>

                <div class="job_preview_requirement">
                    <div class="job_preview_section">
                        <h3>Yêu cầu công việc</h3>
                    </div>
                    <%if company_job.requirement.present?%>
                        <div class="job_preview_content">
                            <%= company_job.requirement.html_safe %>
                        </div>
                    <%end%>
                </div>
                
                <div class="job_preview_benefit">
                    <div class="job_preview_section">
                        <h3>Chế độ đãi ngộ bạn sẽ nhận được</h3>
                    </div>
                    <%if company_job.benefit.present?%>
                        <div class="job_preview_content">
                            <div class="job_preview_benefit_block">
                                <span><%= company_job.benefit.html_safe %></span>
                            </div>
                        </div>
                    <%end%>
                </div>
            <%end%>
        </div>

        <%if company.present?%>
            <div class="job_preview_company_about">
                <div class="row">
                    <div class="col-sm-9">   
                        <div class="job_preview_company_avatar">
                            <%if company.present? && company.avatar?%>
                                <%= link_to (image_tag(company.avatar.thumb.url)), image_path(url_for(company.avatar.thumb.url)), rel: "gallery" , :href => company_path(company), target: :_blank%>
                            <%else%>
                                <%= image_tag("defaults/company_avatar_default.png")%>
                            <%end%>
                        </div> 
                        <div class="job_preview_company_info">
                            <div class="job_preview_company_name">
                                <a><%=company.name%></a>
                            </div>
                            <div class="job_preview_company_star_overview">
                                <%total_rate = cal_rating_review_total_score(company)%>
                                <div class="job_preview_company_rating">
                                    <strong><%=total_rate.to_i%>.0</strong>
                                    <%if total_rate > 0%>
                                        <%total_rate.to_i.times do%>
                                            <i class="material-icons checked">circle</i>
                                        <%end%>
                                        <%(5 - total_rate.to_i).to_i.times do%>
                                            <i class="material-icons checked_out">radio_button_unchecked</i>
                                        <%end%>
                                    <%else%>
                                        <%5.times do%>
                                            <i class="material-icons checked_out">radio_button_unchecked</i>
                                        <%end%>
                                    <%end%>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3"> 
                        <div class="company_preview_follow_large" id =company_follow_large_<%=company.id%>>
                            <%if user_signed_in?%>
                                <% pre_follow = company.company_follows.find { |follow| follow.user_id == current_user.id} %>
                                <% if pre_follow %> 
                                    <%= button_to company_company_follow_path(company, pre_follow), :method => :delete, remote: true, form_class: "follow_btn_large_highlight" do%>
                                        <i class="material-icons">favorite</i> <span>Đang theo dõi</span>
                                    <%end%> 
                                <%else%>
                                    <%= button_to company_company_follows_path(company), :method => :post, remote: true, form_class: "follow_btn_large" do%>
                                        <i class="material-icons-outlined">favorite_border</i> <span>Theo dõi</span>
                                    <%end%>
                                <%end%>
                            <%else%>
                                <button type="button" data-toggle="modal" data-target="#buttonModalLoginCenter" class="follow_btn_large">
                                    <i class="material-icons-outlined">favorite_border</i> <span>Theo dõi</span>
                                </button>
                            <%end%>
                        </div>
                    </div>
                </div>
                <div class="job_preview_company_overview">
                    <div class="job_preview_company_overview_block">
                        <i class="material-icons-outlined">business</i>
                        <%if !company.location.to_s.empty?%>
                            <span><%= company.location %></span>
                        <%else%>
                            <span>---</span>
                        <%end%>
                    </div>
                    <div class="job_preview_company_overview_block">
                        <i class="material-icons-outlined">people</i>
                        <%if !company.size.to_s.empty?%>
                            <span><%= company.size %></span>
                        <%else%>
                            <span>---</span>
                        <%end%>
                    </div>
                    <div class="job_preview_company_overview_block">
                        <i class="material-icons-outlined">flag</i>
                        <%if !company.country.to_s.empty?%>
                            <span><%= company.country %></span>
                        <%else%>
                            <span>---</span>
                        <%end%>
                    </div>
                    <div class="job_preview_company_overview_block">
                        <i class="material-icons-outlined">favorite_border</i>
                        <%if !company.field_operetion.to_s.empty?%>
                            <span><%= company.field_operetion %></span>
                        <%else%>
                            <span>---</span>
                        <%end%>
                    </div>
                </div>
                <div class="job_preview_company_more">
                    <%= link_to '<button type="submit">Xem chi tiết thông tin công ty <i class="material-icons checked_out">east</i></button>'.html_safe, company_path(company)%>
                </div>
            </div>
        <%end%>
    </div>
</div>