<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0"/>
    </head>

    <body>
        <div class="container">
            <div class="new_job_form">
                <%= form_for [@company, CompanyJob.new] do |f| %>
                    <div class="new_job_title">
                        <strong>Tạo một công việc mới cho <%=@company.name%></strong>
                    </div>
					
					<div class="row">
						<div class="col-sm-6">
							<div class="new_job_section">
								<div class="new_job_content">
									<div class="new_job_label">
										<a><%= f.label :title, "Tiêu đề công việc*", class: "new_job_label" %></a>
									</div>
									
									<div class="new_job_input">
										<%= f.text_field :title, :required => true, class: "new_job_form_input", placeholder: "Nhập tên việc làm đang tuyển dụng" %>
									</div>
								</div>

								<div class="new_job_content">
									<div class="new_job_label">
										<a><%= f.label :urgent, "Bạn cần tuyển gấp hay không?*", class: "new_job_label" %></a>
									</div>
									<div class="new_job_input">
										<%= f.select(:urgent, options_for_select([['Có, tôi cần tuyển gấp', true], ['Không, tôi không cần tuyển gấp', true]]), {include_blank: true}, { :class => 'my_style_class' }) %>
									</div>
								</div>
								
								<div class="new_job_content">
									<div class="new_job_label">
										<a><%= f.label :level, "Vị trí tuyển dụng*", class: "new_job_label" %></a>
									</div>
									
									<div class="new_job_input">
										<%= f.text_field :level, :required => true, class: "new_job_form_input", placeholder: "Nhập cấp bậc, vị trí cần tuyển dụng" %>
									</div>
								</div>
								
								<div class="new_job_content">
									<div class="new_job_label">
										<a><%= f.label :job_type, "Loại hình công việc*", class: "new_job_label" %></a>
									</div>
									
									<div class="new_job_input">
										<%= f.select(:job_type, options_for_select(['Full Time', 'Part Time', 'Remote']), {include_blank: true}, { :class => 'my_style_class' }) %>
									</div>
								</div>

								<div class="new_job_content">
									<div class="new_job_label">
										<a><%= f.label :location, "Nơi làm việc*", class: "new_job_label" %></a>
									</div>
									
									<div class="new_job_input">
										<%= f.text_field :location, :required => true, class: "new_job_form_input", placeholder: "Nhập địa chỉ làm việc của công việc" %>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="new_job_section">
								<div class="new_job_content">
									<div class="new_job_label">
										<a><%= f.label :salary, "Lương thưởng*", class: "new_job_label" %></a>
									</div>
									
									<div class="new_job_input">
										<%= f.number_field :salary, :required => true, class: "new_job_form_input", placeholder: "Mức lương cho công việc này" %>
									</div>
								</div>

								<div class="new_job_content">
									<div class="new_job_label">
										<a><%= f.label :quantity, "Số lượng*", class: "new_job_label" %></a>
									</div>
									
									<div class="new_job_input">
										<%= f.number_field :quantity, :required => true,  class: "new_job_form_input", placeholder: "Số lượng vị trí cần tuyển dụng" %>
									</div>
								</div>

								<div class="new_job_content">
									<div class="new_job_label">
										<a><%= f.label :end_date, "Ngày hết hạn*", class: "new_job_label" %></a>
									</div>
									
									<div class="new_job_input">
										<%= f.date_field :end_date, :required => true, class: "new_job_form_input", placeholder: "Nhập ngày hết hạn nộp hồ sơ" %>
									</div>
								</div>

								<div class="new_job_content">
									<div class="new_job_label">
										<a><%= f.label :language, "Ngôn ngữ trình bày hồ sơ*", class: "new_job_label" %></a>
									</div>
									
									<div class="new_job_input">
										<%= f.select(:language, options_for_select(['English', 'Tiếng Việt']), {include_blank: true}, { :class => 'my_style_class' }) %>
									</div>
								</div>

								<div class="new_job_content">
									<div class="new_job_label">
										<a><%= f.label :category, "Lĩnh vực*", class: "new_job_label" %></a>
									</div>
									
									<div class="new_job_input">
										<%= f.text_field :category, :required => true, class: "new_job_form_input", placeholder: "Lĩnh vực chính của việc làm này ex: IT, sales, ..." %>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<div class="new_job_section_content">
                        <div class="new_job_content">
                            <div class="new_job_label">
                                <a><%= f.label :description, "Mô tả chung về công việc*", class: "new_job_label" %></a>
                            </div>
                            
                            <div class="new_job_input">
                                <%= f.cktext_area :description, :required => true, class: "form-control-rich-text customized-min-height", ckeditor: { language: 'us', toolbar: "full"}, placeholder: "Nhập mô tả chung về công việc" %>
                            </div>
                        </div>

                        <div class="new_job_content">
                            <div class="new_job_label">
                                <a><%= f.label :requirement, "Yêu câu công việc*", class: "new_job_label" %></a>
                            </div>
                            
                            <div class="new_job_input">
                                <%= f.cktext_area :requirement, :required => true, class: "form-control-rich-text customized-min-height", ckeditor: { language: 'us', toolbar: "full"}, placeholder: "Nhập yêu cầu công việc" %>
                            </div>
                        </div>

                        <div class="new_job_content">
                            <div class="new_job_label">
                                <a><%= f.label :benefit, "Chế độ đãi ngộ*", class: "new_job_label" %></a>
                            </div>
                            
                            <div class="new_job_input">
                                <%= f.cktext_area :benefit, :required => true, class: "form-control-rich-text customized-min-height", ckeditor: { language: 'us', toolbar: "full"}, placeholder: "Chế độ đãi ngộ của công ty, hãy cho biết ít nhất 3 lý do" %>
                            </div>
                        </div>
                    </div>

                    <div class="new_job_submit">
                        <%= f.submit "Đăng tin", class: "new_job_form_submit" %>
                    </div>
                <%end%>
            </div>
        </div>
    </body>
</html>