<div class="container">
	<div class="row">
		<div class="col-sm-8">
			<div class="new_job_form">
				<%= form_for @company_job, :html => { :class => "form-horizontal company" } do |f| %>
						<div class="new_job_title">
							<%if !@is_edit%>
								<h3>Tạo việc làm mới</h3>
							<%else%>
								<h3>Update tin tuyển dụng <%=@company_job.title%></h3>
							<%end%>
						</div>

						<div class="new_job_image">
							<%if @company.present? && @company.avatar?%>
								<%= image_tag @company.avatar.thumb.url %>
							<%else%>
								<%= image_tag "defaults/company_avatar_default.png" %>
							<%end%>
						</div>

						<div class="new_job_title_sub">
							<a>Note: Mục có dấu <span>'*'</span> là bắt buộc</a>
						</div>

						<div class="new_job_section">
							<div class="new_job_content">
								<div class="new_job_label">
									<a><%= f.label :title, "Tên việc làm cần tuyển dụng", class: "new_job_label" %><span>*</span></a>
								</div>
								
								<div class="new_job_input">
									<%= f.text_field :title,  autofocus: true, :required => true, class: "form-control", placeholder: "Nhập tên việc làm bạn cần tuyển dụng" %>
								</div>
							</div>

							<%if employer_signed_in? && auth_urgent_plan_of_employer(current_employer)%>
								<div class="new_job_content">
									<div class="new_job_label">
										<a><%= f.label :urgent, "Bạn cần tuyển gấp hay không(áp dụng cho F-Eco và F-Pro)?", class: "new_job_label" %></a>
									</div>
									<div class="new_job_input">
										<%= f.select(:urgent, options_for_select([['Không, tôi không cần tuyển gấp', 0], ['Có, tôi cần tuyển gấp', 1]]), {include_blank: false}, { :class => 'form-select' }) %>
									</div>
								</div>
							<%end%>
							
							<div class="new_job_content">
								<div class="new_job_label">
									<a><%= f.label :level, "Vị trí cần tuyển dụng", class: "new_job_label" %><span>*</span></a>
								</div>
								
								<div class="new_job_input">
									<%= f.select(:level, options_for_select(['Nhân viên', 
																			'Thực tập sinh', 
																			'Mới tốt nghiệp', 
																			'Trưởng nhóm',
																			'Quản lý', 
																			'Quản lý cấp cao',
																			'Giám đốc'], 'Nhân viên'), {include_blank: false}, { :class => 'form-select'}) %>
								</div>
							</div>

							<div class="new_job_content">
								<div class="new_job_label">
									<a><%= f.label :location, "Thành phố nơi làm việc", class: "new_job_label" %><span>*</span></a>
								</div>
								
								<div class="new_job_input">
									<%= f.select(:location, options_for_select(['Hà Nội','Hồ Chí Minh','Đà Nẵng','An Giang','Bà Rịa Vũng Tàu','Bạc Liêu','Bắc Kạn','Bắc Giang',
															'Bắc Ninh','Bến Tre','Bình Dương','Bình Định','Bình Phước',
															'Bình Thuận','Cà Mau','Cao Bằng','Cần Thơ','Đắk Lắk','Đắk Nông','Điện Biên',
															'Đồng Nai','Đồng Tháp','Gia Lai','Hà Giang','Hà Nam','Hà Tây','Hà Tĩnh',
															'Hải Dương','Hải Phòng','Hòa Bình','Hậu Giang','Hưng Yên','Khánh Hòa',
															'Kiên Giang','Kon Tum','Lai Châu','Lào Cai',
															'Lạng Sơn','Lâm Đồng','Long An','Nam Định','Nghệ An',
															'Ninh Bình','Ninh Thuận','Phú Thọ','Phú Yên','Quảng Bình',
															'Quảng Nam','Quảng Ngãi','Quảng Ninh','Quảng Trị',
															'Sóc Trăng','Sơn La','Tây Ninh','Thái Bình','Thái Nguyên' ,
															'Thanh Hóa','Thừa Thiên Huế','Tiền Giang','Trà Vinh',
															'Tuyên Quang','Vĩnh Long','Vĩnh Phúc','Yên Bái' ], "Hà Nội"), {include_blank: false, :required => true}, { :class => 'form-select' }) %>
								</div>
							</div>

							<div class="new_job_content">
								<div class="new_job_label">
									<a><%= f.label :address, "Địa chỉ cụ thể nơi làm việc(tùy chọn)", class: "new_job_label" %></a>
								</div>
								
								<div class="new_job_input">
									<%= f.text_field :address, class: "form-control", placeholder: "Nhập địa chỉ làm việc bao gồm tên đường, quận, huyện,..." %>
								</div>
							</div>

							<div class="new_job_content">
								<div class="new_job_label">
									<a><%= f.label :salary, "Mức lương dự kiến", class: "new_job_label" %><span>*</span></a>
								</div>
								
								<div class="new_job_input">
									<%= f.select(:salary, options_for_select(['Thương lượng', 
																			'1Tr - 5Tr', 
																			'5Tr - 10Tr', 
																			'10Tr - 15Tr', 
																			'15Tr - 20Tr', 
																			'20Tr - 25Tr', 
																			'25Tr - 30Tr', 
																			'30Tr - 35Tr', 
																			'40Tr - 45Tr', 
																			'45Tr - 50Tr', 
																			'50Tr - 55Tr', 
																			'55Tr - 60Tr', 
																			'60Tr - 65Tr', 
																			'65Tr - 70Tr', 
																			'70Tr - 75Tr', 
																			'75Tr - 80Tr', 
																			'80Tr - 85Tr', 
																			'85Tr - 90Tr', 
																			'90Tr - 95Tr', 
																			'95Tr - 100Tr', 
																			'hơn 100Tr'], 
																			['Thương lượng']), {include_blank: false}, { :class => 'form-select' }) %>
								</div>
							</div>
						</div>

						<div class="new_job_section">
							<div class="new_job_content">
								<div class="new_job_label">
									<a><%= f.label :category, "Ngành nghề chính của công việc", class: "new_job_label" %><span>*</span></a>
								</div>
								
								<div class="new_job_input">
									<%= f.select(:category, options_for_select(["Bác sĩ",
																				"Bán hàng kỹ thuật",
																				"Bán hàng",
																				"Bán lẻ - Bán sỉ",
																				"Bảo hiểm",
																				"Bảo trì - Sửa chữa",
																				"Bất động sản",
																				"Biên phiên dịch",
																				"Cấp quản lý điều hành",
																				"Chứng khoán",
																				"Cơ khí",
																				"Công nghệ cao",
																				"Dầu khí",
																				"Dệt may - Da giày",
																				"Dịch vụ khách hàng",
																				"Dược Phẩm - Công nghệ sinh học",
																				"Dược sĩ",
																				"Giáo dục - Đào tạo",
																				"Hàng cao cấp",
																				"Hàng gia dụng",
																				"Hàng hải",
																				"Hàng không - Du lịch",
																				"Hàng tiêu dùng",
																				"Hành chánh - Thư ký",
																				"Hóa học - Hóa sinh",
																				"Hoạch định - Dự án",
																				"In ấn -  Xuất bản",
																				"Internet - Online Media",
																				"IT - Phần mềm",
																				"IT-Phần cứng - Mạng",
																				"Kế toán",
																				"Khác",
																				"Kho vận",
																				"Kiểm toán",
																				"Kiến trúc - Thiết kế nội thất ",
																				"Marketing",
																				"Mới tốt nghiệp",
																				"Môi trường - Xử lý chất thải",
																				"Mỹ Thuật - Nghệ Thuật - Thiết Kế",
																				"Ngân hàng",
																				"Người nước ngoài - Việt Kiều",
																				"Nhà hàng - Khách sạn",
																				"Nhân sự",
																				"Nông nghiệp - Lâm nghiệp",
																				"Overseas Jobs",
																				"Pháp lý",
																				"Phi chính phủ - Phi lợi nhuận",
																				"QA - QC",
																				"Quảng cáo - Khuyến mãi - Đối ngoại",
																				"Sản phẩm công nghiệp",
																				"Sản Xuất",
																				"Tài chính - Đầu tư",
																				"Thời trang",
																				"Thời vụ - Hợp đồng ngắn hạn",
																				"Thu Mua - Vật Tư - Cung Vận",
																				"Thực phẩm &amp; Đồ uống",
																				"Trình dược viên",
																				"Truyền hình - Truyền thông - Báo chí",
																				"Tư vấn",
																				"Tự động hóa - Ô tô",
																				"Vận chuyển - Giao nhận",
																				"Viễn Thông",
																				"Xây dựng",
																				"Xuất nhập khẩu",
																				"Y sĩ - Hộ lý",
																				"Y tế - Chăm sóc sức khỏe",
																				"Địa chất - Khoáng sản",
																				"Điện lạnh - Nhiệt lạnh",
																				"Điện - Điện tử",
																				"Lĩnh vực khác"], "Lĩnh vực khác"), {include_blank: false}, { :class => 'new_job_category_select form-select'}) %>
								</div>
								<script>
									$(document).ready(function() {
										$('.new_job_category_select').select2({
											placeholder: "-- Chọn một ngành nghề công ty --",
											allowClear: true,
											width: 'resolve',
											theme: "bootstrap-5",
											selectOnClose: true
										});
									});
								</script>
							</div>

							<div class="new_job_content">
								<div class="new_job_label">
									<a><%= f.label :typical, "Hình thức làm việc", class: "new_job_label" %><span>*</span></a>
								</div>
								
								<div class="new_job_input">
									<%= f.select(:typical, options_for_select(['Toàn thời gian', 
																				'Bán thời gian', 
																				'Tự do', 
																				'Tạm thời', 
																				"Thực tập sinh",
																				"Remote - Làm việc từ xa", 
																				"Khác"], 
																				'Toàn thời gian'), {include_blank: false}, { :class => 'form-select' }) %>
								</div>
							</div>

							<div class="new_job_content">
								<div class="new_job_label">
									<a><%= f.label :experience, "Số năm kinh nghiệm", class: "new_job_label" %><span>*</span></a>
								</div>
								
								<div class="new_job_input">
									<%= f.select(:experience, options_for_select(['Không yêu cầu', 
																				'Từ 1 ~ 2 năm', 
																				'Từ 2 ~ 5 năm', 
																				'Từ 5 ~ 10 năm', 
																				"Từ 10 ~ 20 năm",
																				"Trên 20 năm"], 
																				'Không yêu cầu'), {include_blank: false}, { :class => 'form-select' }) %>
								</div>
							</div>

							<div class="new_job_content">
								<div class="new_job_label">
									<a><%= f.label :quantity, "Số lượng vị trí cần tuyển dụng", class: "new_job_label" %><span>*</span></a>
								</div>
								
								<div class="new_job_input">
									<%= f.number_field :quantity, :required => true, :value => 1, class: "form-control", placeholder: "Số lượng vị trí cần tuyển dụng" %>
								</div>
							</div>

							<div class="new_job_content">
								<div class="new_job_label">
									<a><%= f.label :end_date, "Ngày hết hạn nộp hồ sơ", class: "new_job_label" %><span>*</span></a>
								</div>
								
								<div class="new_job_input">
									<%= f.date_field :end_date, :required => true, value: (Date.current + 1.month), class: "form-control", placeholder: "Nhập ngày hết hạn nộp hồ sơ" %>
								</div>
							</div>

							<div class="new_job_content">
								<div class="new_job_label">
									<a><%= f.label :language, "Ngôn ngữ trình bày hồ sơ", class: "new_job_label" %></a>
								</div>
								
								<div class="new_job_input">
									<%= f.select(:language, options_for_select(['English', 'Tiếng Việt', 'Tùy chọn'], 'Tùy chọn'), {include_blank: false}, { :class => 'form-select' }) %>
								</div>
							</div>

							<%if admin_signed_in?%>
								<div class="new_job_content">
									<div class="new_job_label">
										<a><%= f.label :apply_another_site_flag, "Apply on Company site Option - For Admin Only", class: "new_job_label" %><span>*</span></a>
									</div>
									<div class="new_job_input">
										<%= f.select(:apply_another_site_flag, options_for_select([['Không', false], ['Có', true]]), {include_blank: false}, { :class => 'form-select' }) %>
									</div>
								</div>
								<div class="new_job_content">
									<div class="new_job_label">
										<a><%= f.label :apply_site, "Company Site to apply - For Admin Only", class: "new_job_label" %><span>*</span></a>
									</div>
									
									<div class="new_job_input">
										<%= f.text_field :apply_site, class: "form-control", placeholder: "Nhâp site tuyển dụng của công ty" %>
									</div>
								</div>
							<%end%>
						</div>
						
						<div class="new_job_section">
							<div class="new_job_content">
								<div class="new_job_label">
									<a><%= f.label :description, "Mô tả chung về công việc", class: "new_job_label" %><span>*</span></a>
								</div>
								
								<div class="new_job_input">
									<%= f.text_area :description, :class => "tinymce"%>
									<%= tinymce :medium %>
								</div>
							</div>

							<div class="new_job_content">
								<div class="new_job_label">
									<a><%= f.label :skill, "Kĩ năng cần có cho công việc này(bạn có thể chọn 1 hoặc nhiều kĩ năng)", class: "new_job_label" %></a>
								</div>
								
								<div class="new_job_input">
									<%= f.select(:skill, options_for_select([".NET ",
																			"3D ",
																			"3Ds max ",
																			"Access Line ",
																			"Adobe Premiere ",
																			"Adwords ",
																			"After Effect ",
																			"Agile ",
																			"AI ",
																			"Android Studio ",
																			"Angular.js ",
																			"Apache ",
																			"Apache Maven ",
																			"API ",
																			"ASP NET ",
																			"Asp.net ",
																			"AUTO CAD ",
																			"AWS ",
																			"Azure ",
																			"B2 ",
																			"Back End ",
																			"Backbone.js ",
																			"Bán Hàng ",
																			"Bảng cân đối kế toán ",
																			"Bằng Lái B2 ",
																			"Bằng Lái Hạng C ",
																			"Bằng Lái Hạng D ",
																			"Báo cáo quản lý ",
																			"Báo cáo và Phân tích Dữ liệu ",
																			"Bảo Trì Điện ",
																			"Bảo Trì Điện Công Nghiệp ",
																			"Biết nắm bắt xu hướng ",
																			"Biết Sử Dụng Phần Mềm Misa ",
																			"Block Chain ",
																			"BSE ",
																			"C ",
																			"C language ",
																			"C# ",
																			"C&B ",
																			"C++ ",
																			"C/C++ ",
																			"CAD ",
																			"Cake Php ",
																			"Cẩn Thận ",
																			"Ccna ",
																			"Ccnp ",
																			"Cemiconductor ",
																			"Centos ",
																			"Chỉnh sửa Clip ",
																			"Chính xác trong công việc ",
																			"Chịu Khó Học Hỏi ",
																			"Chủ động Trong Công Việc ",
																			"Chưa Có Kinh Nghiệm ",
																			"Chụp Hình ",
																			"Cinematic ",
																			"Cisco ",
																			"Cloud ",
																			"Cluster ",
																			"Có Ngoại Hình ",
																			"Có sức khoẻ tốt ",
																			"Có Trách Nhiệm ",
																			"COBOL ",
																			"cocoa ",
																			"Cocos2dx ",
																			"Codeigniter ",
																			"Contact Center ",
																			"Corel Draw ",
																			"CRM ",
																			"CSS ",
																			"CSS3 ",
																			"Database, Web Technology ",
																			"Devise_jwt ",
																			"DevOps ",
																			"Django ",
																			"DMS ",
																			"Docker ",
																			"Drupal ",
																			"E-KYC Officer ",
																			"Eclipse ",
																			"Embedded ",
																			"English ",
																			"ERP ",
																			"Excel ",
																			"Facebook Ads ",
																			"Firewall ",
																			"Flash ",
																			"Flutter ",
																			"Front-End ",
																			"FuelPHP ",
																			"Giải quyết vấn đề ",
																			"Giao Tiếp Tốt ",
																			"Giọng nói tốt ",
																			"Golang ",
																			"Google Ads ",
																			"Google Adwords ",
																			"Ham Học Hỏi ",
																			"hardware ",
																			"Hardware Support ",
																			"Hệ thống HA ",
																			"Hỗ trợ ứng dụng ",
																			"HTML ",
																			"HTML/CSS ",
																			"HTML5 ",
																			"Hybrid ",
																			"illustrator ",
																			"Internet ",
																			"Internet tool ",
																			"iOS ",
																			"IoT ",
																			"ISO 9001 ",
																			"IT Help Desk ",
																			"IT phần mềm ",
																			"IT phần cứng ",
																			"IT Presales ",
																			"J2EE ",
																			"Japanese ",
																			"Java ",
																			"Java android ",
																			"Javascript ",
																			"Jquery ",
																			"JSON ",
																			"Kế hoạch kinh doanh ",
																			"Khả Năng Chịu áp Lực ",
																			"Khả Năng Nắm Bắt Thị Trường ",
																			"Khả năng tập trung ",
																			"Khả năng thuyết trình trước đám đông ",
																			"Không Cần Kinh Nghiệm ",
																			"Kiểm soát nhân lực ",
																			"Kiến thức Sản xuất Tinh gọn ",
																			"Kinh doanh ",
																			"Kotlin ",
																			"Kỷ luật ",
																			"Kỹ Năng Bán Hàng ",
																			"Kỹ năng giám sát ",
																			"Kỹ năng ký giải ",
																			"Kỹ Năng Lãnh Đạo ",
																			"Kỹ Năng Lên Kế Hoạch ",
																			"Kỹ Năng Nghiên Cứu ",
																			"Kỹ Năng Phân Tích ",
																			"Kỹ Năng Quản Lý Nhóm ",
																			"Kỹ năng quản lý sản xuất ",
																			"Kỹ năng quảng cáo ",
																			"Kỹ năng sử dụng máy tính ",
																			"Kỹ năng sư phạm ",
																			"Kỹ Năng Tài Chính ",
																			"Kỹ Năng Thuyết Phục ",
																			"Kỹ Năng Thuyết Trình ",
																			"Kỹ năng thuyết trình kinh doanh ",
																			"Kỹ Năng Xử Lý Tình Huống ",
																			"Kỹ Năng Đưa Ra Quyết Định ",
																			"Làm Proposal ",
																			"Làm Việc Nhóm ",
																			"Làm việc với cường độ cao ",
																			"Làm Việc Độc Lập ",
																			"LAN ",
																			"Lập kế hoạch và Phân tích Dữ liệu ",
																			"Lập Trinh CNC ",
																			"Lập Trình Ios ",
																			"Lập Trình SMD ",
																			"Laravel ",
																			"Linux ",
																			"Logistic Solution ",
																			"M&E ",
																			"Magento ",
																			"Mạng IT ",
																			"Marketing ",
																			"Maya(3D) ",
																			"Mes ",
																			"Microservices ",
																			"Microsoft Office ",
																			"Mobile Developer ",
																			"Mới Tốt Nghiệp ",
																			"MongoDB ",
																			"MS Office ",
																			"MVC ",
																			"MySQL ",
																			"N1 ",
																			"N2 ",
																			"N3 ",
																			"Năng Động ",
																			"Network ",
																			"Network Engineer ",
																			"Node.js ",
																			"NoSQL ",
																			"Objective C ",
																			"OOP ",
																			"Open Source ",
																			"Oracle ",
																			"PABX ",
																			"perl ",
																			"Phân Tích Báo Cáo ",
																			"Phân tích rủi ro ",
																			"Phân tích Sản phẩm ",
																			"Phát trển khách hàng ",
																			"Phát triển thị trường ",
																			"Phiên dịch ",
																			"Phối hợp tốt ",
																			"Photoshop ",
																			"PHP ",
																			"Php Developer ",
																			"Phụ Cấp Thâm Niên ",
																			"Plc ",
																			"Plc cơ bản ",
																			"Postgresql ",
																			"Powershell ",
																			"Presales Technical ",
																			"Python ",
																			"Quan hệ khách hàng ",
																			"Quản lý bảo lãnh ",
																			"Quản lý Dịch vụ Vận hành ",
																			"Quản Lý Dự Án ",
																			"Quản Lý Ngân Sách ",
																			"Quản Lý Thiết Bị ",
																			"Quản Lý Thời Gian Tốt ",
																			"Quản Lý Tốt ",
																			"Quy trình kỹ thuật ",
																			"Quy trình sản xuất ",
																			"Quy trình tự động hóa ",
																			"R (ngôn ngữ) ",
																			"React Native ",
																			"React.js ",
																			"Robotics ",
																			"RoHS ",
																			"Ruby ",
																			"Ruby On Rails ",
																			"Sáng Tạo ",
																			"SAP ",
																			"Scala ",
																			"Scan Tool ",
																			"Security ",
																			"SEO ",
																			"Seowebsite ",
																			"Server ",
																			"SharePoint ",
																			"Sketch Up ",
																			"Smarty ",
																			"SOA ",
																			"Soạn thảo hợp đồng ",
																			"Soạn Thảo Văn Bản ",
																			"Software Architect ",
																			"Solution Design ",
																			"Spring ",
																			"Spring Framework ",
																			"Sql ",
																			"Sqlite ",
																			"Sử Dụng Excel Trong Kiểm Toán ",
																			"Sức Khoẻ Tốt ",
																			"Swift ",
																			"Symphony ",
																			"System ",
																			"System Admin ",
																			"Tác phong lịch sự ",
																			"Tầm nhìn sâu rộng ",
																			"Telecomunication ",
																			"Telesales ",
																			"Test Automation ",
																			"Testcase ",
																			"Tester ",
																			"Thái Độ Làm Việc Tốt ",
																			"Thanh lý hợp đồng ",
																			"Thành thạo phần mềm ",
																			"Thích nghi nhanh ",
																			"Thích thử thách ",
																			"Thiết bị điện tử ",
																			"Thiết Kế ",
																			"Thiết Kế 3D ",
																			"Thiết Kế Chế Tạo Mạch Điện ",
																			"Thiết kế CSDL ",
																			"Thuyết Trình ",
																			"Tiếng Anh ",
																			"Tiếng Anh Lưu Loát ",
																			"Tiếng Hàn ",
																			"Tiếng Hoa ",
																			"Tiếng Nhật ",
																			"Tiếng Nhật N1 ",
																			"Tiếng Nhật N2 ",
																			"Tiếng Trung ",
																			"Tiếng Đức ",
																			"Tiếp thu nhanh ",
																			"Tin Học Văn Phòng ",
																			"Tính hệ thống, tổ chức ",
																			"Tinh thần cầu tiến ",
																			"Tinh thần đồng đội ",
																			"Trình bày tốt ",
																			"Trình Độ Chuyên Môn ",
																			"Trung thực ",
																			"Tư Duy Logic ",
																			"Tư Vấn Tốt ",
																			"TypeScript ",
																			"Ubuntu ",
																			"UI-UX ",
																			"Ứng xử tốt ",
																			"Unity ",
																			"UNITY2D ",
																			"UNITY3D ",
																			"UNIX ",
																			"Viết Lách ",
																			"Virus ",
																			"Vision Sensor and System ",
																			"Visual Basic ",
																			"Visual studio ",
																			"Vue.js ",
																			"WAN ",
																			"Warehouse ",
																			"Webform ",
																			"Window ",
																			"Windows OS ",
																			"Windows Server ",
																			"Wireless ",
																			"Word ",
																			"Wordpress ",
																			"Xamarin ",
																			"Xcode ",
																			"XD ",
																			"Xử Lý Kỹ Thuật Điện Tử ",
																			"Xử lý số liệu ",
																			"Yii ",
																			"Zend Framework ",
																			"Đam Mê Công Việc ",
																			"Đàm Phán ",
																			"Điện Tử Viễn Thông ",
																			"Đồ Họa ",
																			"Đọc Hiểu Báo Cáo Tài Chính"]), 
																			{include_blank: true}, { multiple: true, :class => 'form-select new_job_skill_select'}) %>
								</div>

								<script>
									$(document).ready(function() {
										$('.new_job_skill_select').select2({
											placeholder: "-- Chọn một hoạc nhiều kĩ năng --",
											allowClear: true,
											width: 'resolve',
											theme: "bootstrap-5",
											selectOnClose: true
										});
									});
								</script>
							</div>

							<div class="new_job_content">
								<div class="new_job_label">
									<a><%= f.label :requirement, "Yêu câu công việc chi tiết", class: "new_job_label" %><span>*</span></a>
								</div>
								
								<div class="new_job_input">
									<%= f.text_area :requirement, :class => "tinymce"%>
									<%= tinymce :medium %>
								</div>
							</div>

							<div class="new_job_content">
								<div class="new_job_label">
									<a><%= f.label :benefit, "Chế độ đãi ngộ", class: "new_job_label" %><span>*</span></a>
								</div>
								
								<div class="new_job_input">
									<%= f.text_area :benefit, :class => "tinymce"%>
									<%= tinymce :medium %>
								</div>
							</div>
						</div>

						<div class="new_job_submit">
							<%= f.submit "Đăng tin", class: "new_job_form_submit" %>
						</div>
					</div>
				<%end%>
			</div>

		<div class="col-sm-4">
			<div class="company_job_policy">
				<div class="company_job_policy_title">
					<a>Lưu ý trước khi đăng tin tuyển dụng</a>
				</div>
				<div class="company_job_policy_content">
					<div class="company_job_policy_content_index">
						· Không sử dụng từ ngữ mang ý xúc phạm, miệt thị người khác
					</div>
					<div class="company_job_policy_content_index">
						· Không sử dụng từ ngữ mang tính chất kích động, bạo lực
					</div>
					<div class="company_job_policy_content_index">
						· Không cung cấp thông tin cá nhân
					</div>
					<div class="company_job_policy_content_index">
						· Không cung cấp thông tin bảo mật, bí mật kinh doanh của công ty
					</div>
					<div class="company_job_policy_content_index">
						· Đặt tiêu đề ngắn gọn xúc tích, giúp tin đăng của bạn dễ tìm kiếm nhất
					</div>
					<div class="company_job_policy_content_link">
						Xem thêm thông tin chi tiết về 
						<a href="<%=term_path%>">thỏa thuận sử dụng </a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>