<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0"/>
    </head>

    <body>
        <div class="container">
            <div class="new_job_form">
                <%= form_for [@company, @company_job] do |f| %>
                    <div class="new_job_title">
                        <strong>Update thông tin tuyển dụng cho "<%=@company_job.title%>"</strong>
                    </div>
					
					<div class="row">
						<div class="col-sm-6">
							<div class="new_job_section">
								<div class="new_job_content">
									<div class="new_job_label">
										<a><%= f.label :title, "Tiêu đề công việc*", class: "new_job_label" %></a>
									</div>
									
									<div class="new_job_input">
										<%= f.text_field :title, :required => true, class: "new_job_form_input", placeholder: "Nhập tên việc làm đang tuyển dụng" %>
									</div>
								</div>

								<!-- <div class="new_job_content">
									<div class="new_job_label">
										<a><%= f.label :urgent, "Bạn cần tuyển gấp hay không?*", class: "new_job_label" %></a>
									</div>
									<div class="new_job_input">
										<%= f.select(:urgent, options_for_select([['Không, tôi không cần tuyển gấp', false], ['Có, tôi cần tuyển gấp', true]]), {include_blank: false}, { :class => 'my_style_class' }) %>
									</div>
								</div> -->
								
								<div class="new_job_content">
									<div class="new_job_label">
										<a><%= f.label :level, "Vị trí cần tuyển dụng*", class: "new_job_label" %></a>
									</div>
									
									<div class="new_job_input">
										<%= f.select(:level, options_for_select(['Intern', 'Junior', 'Middle', 'Senior', 'Expert', 'Leader', 'Architect'], 'Junior'), {include_blank: false}, { :class => 'my_style_class'}) %>
									</div>
								</div>

								<div class="new_job_content">
									<div class="new_job_label">
										<a><%= f.label :category, "Lĩnh vực chính*", class: "new_job_label" %></a>
									</div>
									
									<div class="new_job_input">
										<%= f.select(:category, options_for_select(['IT - Phần mềm', 'IT - Phần cứng', 'Viễn thông', 'Kiến trúc', 'Xây dựng', 'Sức khỏe', 'Online Media', 'Dịch vụ', 'Giải trí', 'Du lịch', 'Giáo dục', 'Government', 'Sản xuất', 'Nghiên cứu', 'Business Management', 'Ngân hàng', 'Nhân sự', 'Luật', 'Marketing and Sales', 'Logistics', 'Lĩnh vực khác'], 'Lĩnh vực khác'), {include_blank: false}, { :class => 'my_style_class'}) %>
									</div>
								</div>

								<div class="new_job_content">
									<div class="new_job_label">
										<a><%= f.label :location, "Nơi làm việc*", class: "new_job_label" %></a>
									</div>
									
									<div class="new_job_input">
										<%= f.select(:location, options_for_select(['An Giang','Bà Rịa-Vũng Tàu','Bạc Liêu','Bắc Kạn','Bắc Giang',
																'Bắc Ninh','Bến Tre','Bình Dương','Bình Định','Bình Phước',
																'Bình Thuận','Cà Mau','Cao Bằng','Cần Thơ','Đà Nẵng','Đắk Lắk','Đắk Nông','Điện Biên',
																'Đồng Nai','Đồng Tháp','Gia Lai','Hà Giang','Hà Nam','Hà Nội','Hà Tây','Hà Tĩnh',
																'Hải Dương','Hải Phòng','Hòa Bình','TP Hồ Chí Minh','Hậu Giang','Hưng Yên','Khánh Hòa',
																'Kiên Giang','Kon Tum','Lai Châu','Lào Cai',
																'Lạng Sơn','Lâm Đồng','Long An','Nam Định','Nghệ An',
																'Ninh Bình','Ninh Thuận','Phú Thọ','Phú Yên','Quảng Bình',
																'Quảng Nam','Quảng Ngãi','Quảng Ninh','Quảng Trị',
																'Sóc Trăng','Sơn La','Tây Ninh','Thái Bình','Thái Nguyên' ,
																'Thanh Hóa','Thừa Thiên – Huế','Tiền Giang','Trà Vinh',
																'Tuyên Quang','Vĩnh Long','Vĩnh Phúc','Yên Bái' ], "Hà Nội"), {include_blank: false}, { :class => 'my_style_class' }) %>
									</div>
								</div>

								<div class="new_job_content">
									<div class="new_job_label">
										<a><%= f.label :address, "Địa chỉ cụ thể nơi làm việc(tùy chọn)", class: "new_job_label" %></a>
									</div>
									
									<div class="new_job_input">
										<%= f.text_field :address, class: "new_job_form_input", placeholder: "Nhập địa chỉ làm việc bao gồm tên đường, quận, huyện,..." %>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="new_job_section">
								<div class="new_job_content">
									<div class="new_job_label">
										<a><%= f.label :job_type, "Loại hình công việc*", class: "new_job_label" %></a>
									</div>
									
									<div class="new_job_input">
										<%= f.select(:job_type, options_for_select(['Full Time', 'Part Time', 'Remote'], 'Full Time'), {include_blank: false}, { :class => 'my_style_class' }) %>
									</div>
								</div>
								<div class="new_job_content">
									<div class="new_job_label">
										<a><%= f.label :salary, "Mức lương*", class: "new_job_label" %></a>
									</div>
									
									<div class="new_job_input">
										<%= f.select(:salary, options_for_select([['Thương lượng', 0], ['1000000đ-5000000đ', 1], ['5000000đ-10000000đ', 2], ['10000000đ-15000000đ', 3], ['15000000đ-20000000đ', 4], ['20000000đ-25000000đ', 5], ['25000000đ-30000000đ', 6], ['30000000đ-35000000đ', 7], ['35000000đ-40000000đ', 8], ['40000000đ-45000000đ', 9], ['45000000đ-50000000đ', 9], ['50000000đ-60000000đ', 10], ['600000000đ-70000000đ', 11], ['70000000đ-80000000đ', 12], ['800000000đ-90000000đ', 13], ['90000000đ-100000000đ', 14], ['hơn 100000000đ', 15]], ['Thương lượng', 0]), {include_blank: false}, { :class => 'my_style_class' }) %>
									</div>
								</div>

								<div class="new_job_content">
									<div class="new_job_label">
										<a><%= f.label :quantity, "Số lượng*", class: "new_job_label" %></a>
									</div>
									
									<div class="new_job_input">
										<%= f.number_field :quantity, :required => true,  class: "new_job_form_input", placeholder: "Số lượng vị trí cần tuyển dụng" %>
									</div>
								</div>

								<div class="new_job_content">
									<div class="new_job_label">
										<a><%= f.label :end_date, "Ngày hết hạn nộp hồ sơ*", class: "new_job_label" %></a>
									</div>
									
									<div class="new_job_input">
										<%= f.date_field :end_date, :required => true, class: "new_job_form_input", placeholder: "Nhập ngày hết hạn nộp hồ sơ" %>
									</div>
								</div>

								<div class="new_job_content">
									<div class="new_job_label">
										<a><%= f.label :language, "Ngôn ngữ trình bày hồ sơ*", class: "new_job_label" %></a>
									</div>
									
									<div class="new_job_input">
										<%= f.select(:language, options_for_select(['English', 'Tiếng Việt', 'Tùy chọn'], 'Tùy chọn'), {include_blank: false}, { :class => 'my_style_class' }) %>
									</div>
								</div>

								<%if current_user.admin?%>
									<%= f.hidden_field :apply_another_site_flag, :value => true %>
									<div class="new_job_content">
										<div class="new_job_label">
											<a><%= f.label :apply_site, "Company Site to apply - Admin only*", class: "new_job_label" %></a>
										</div>
										
										<div class="new_job_input">
											<%= f.text_field :apply_site, :required => true, class: "new_job_form_input", placeholder: "Nhâp site tuyển dụng của công ty" %>
										</div>
									</div>
								<%end%>
							</div>
						</div>
					</div>
					
					<div class="new_job_section_content">
                        <div class="new_job_content">
                            <div class="new_job_label">
                                <a><%= f.label :description, "Mô tả chung về công việc*", class: "new_job_label" %></a>
                            </div>
                            
                            <div class="new_job_input">
                                <%= f.cktext_area :description, :required => true, class: "form-control-rich-text customized-min-height", ckeditor: { language: 'us', toolbar: "full"}, placeholder: "Nhập mô tả chung về công việc" %>
                            </div>
                        </div>

                        <div class="new_job_content">
                            <div class="new_job_label">
                                <a><%= f.label :requirement, "Yêu câu công việc*", class: "new_job_label" %></a>
                            </div>
                            
                            <div class="new_job_input">
                                <%= f.cktext_area :requirement, :required => true, class: "form-control-rich-text customized-min-height", ckeditor: { language: 'us', toolbar: "full"}, placeholder: "Nhập yêu cầu công việc" %>
                            </div>
                        </div>

                        <div class="new_job_content">
                            <div class="new_job_label">
                                <a><%= f.label :benefit, "Chế độ đãi ngộ*", class: "new_job_label" %></a>
                            </div>
                            
                            <div class="new_job_input">
                                <%= f.cktext_area :benefit, :required => true, class: "form-control-rich-text customized-min-height", ckeditor: { language: 'us', toolbar: "full"}, placeholder: "Chế độ đãi ngộ của công ty, hãy cho biết ít nhất 3 lý do" %>
                            </div>
                        </div>
                    </div>

                    <div class="new_job_submit">
                        <%= f.submit "Submit", class: "new_job_form_submit" %>
                    </div>
                <%end%>
            </div>
        </div>
    </body>
</html>