<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0"/>
    </head>

    <body>
      <div class="container">
        <div class="search_index">
          <div class="company_search">
            <div class="company_search_label">
              <%if @companies != nil%>
                <span>Tìm thấy <%=@companies.count%> công ty</span>
              <%else%>
                <strong>Không tìm được kết quả phù hợp</strong>
              <%end%>
            </div>
            <div class="row">
                <%if @companies != nil%>
                    <% @companies.each do |company| %>
                        <div class="col-sm-3">
                            <div class="single_company_search">
                            <div class="company_search_wall">
                                <div class="rounded">
                                    <%if company.wall_picture.attached?%>
                                        <%= link_to (image_tag(company.wall_picture)), image_path(url_for(company.wall_picture)), rel: "gallery" , :href => company_path(company)%>
                                    <%end%>
                                </div>
                            </div>

                            <div class="company_search_thumbnail">
                                <div class="rounded">
                                    <%if company.avatar.attached?%>
                                        <%= link_to (image_tag(company.avatar)), image_path(url_for(company.avatar)), rel: "gallery" , :href => company_path(company)%>
                                    <%end%>
                                </div>
                            </div>
                            
                            <div class="company_search_title">
                                <div class="company_search_name">
                                    <a> <%= link_to company.name, company_path(company), class: "company_search_name_label" %></a>
                                </div>

                                <div class="company_search_rating">
                                    <%# Cal culate rating score %>
                                    <%if(company.company_reviews.count > 0)%>
                                        <%rate_work_env = company.company_reviews.sum('work_env_score').to_f / company.company_reviews.count%>
                                        <%rate_salary = company.company_reviews.sum('salary_score').to_f / company.company_reviews.count%>
                                        <%rate_ot = company.company_reviews.sum('ot_score').to_f / company.company_reviews.count%>
                                        <%rate_manager = company.company_reviews.sum('manager_score').to_f / company.company_reviews.count%>
                                        <%rate_career = company.company_reviews.sum('career_score').to_f / company.company_reviews.count%>
                                        <%total_rate = (rate_work_env + rate_salary + rate_ot + rate_manager + rate_career)/5%>
                                    <%else%>
                                        <%total_rate = 0%>
                                    <%end%>
                                    <div class="review_score_star">
                                        <%if total_rate > 0%>
                                            <%total_rate.to_i.times do%>
                                                <i class="material-icons checked">circle</i>
                                            <%end%>
                                            <%(5 - total_rate.to_i).to_i.times do%>
                                                <i class="material-icons checked_out">radio_button_unchecked</i>
                                            <%end%>
                                        <%else%>
                                            <%5.times do%>
                                                <i class="material-icons checked_out">radio_button_unchecked</i>
                                            <%end%>
                                        <%end%>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="company_search_summary">

                                <%# <div class="company_search_location">
                                    <p><i class="material-icons">place</i> <%= company.location %></p>
                                <%# </div> %>

                                <div class="review_point">

                                    <div class="review_point_review_content">
                                        <a><%= company.company_reviews.count%></a>
                                    </div>

                                    <div class="review_point_review_content">
                                        <a><%= company.company_interviews.count %></a>
                                    </div>

                                    <div class="review_point_review_content">
                                        <a><%= company.company_jobs.count %></a>
                                    </div>

                                    <div class="review_point_label">
                                        <span> <i class="material-icons">sentiment_satisfied_alt</i><%= link_to " Đánh giá", company_path(company), class: "review_point_review_label" %></span>
                                    </div>

                                    <div class="review_point_label">
                                        <span> <i class="material-icons">people_outline</i><%= link_to " Phỏng vấn", company_path(company), class: "review_point_review_label" %></span>
                                    </div>

                                    <div class="review_point_label">
                                        <span> <i class="material-icons">work_outline</i><%= link_to " Việc làm", company_path(company), class: "review_point_review_label" %></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <%end%>
                <%end%>
            </div>
          </div>
          
          <div class="job_search">
            <div class="job_search_label">
              <%if @company_by_jobs != nil%>
                <span>Tìm thấy <%=@company_by_jobs.count%> việc làm</span>
              <%else%>
                <strong>Không tìm được kết quả phù hợp</strong>
              <%end%>
            </div>
            <%if @company_by_jobs != nil%>
              <% @company_by_jobs.each do |company_by_job| %>
                <%company_by_job.company_jobs.each do |company_job|%>
                    <div class="user_job_search_block">
                        <div class='row'>
                            <div class="col-sm-10">
                                <div class="user_job_search_left">
                                    <div class="user_avatar">
                                        <%if company_by_job.avatar.attached?%>
                                            <%= link_to (image_tag(company_by_job.avatar)), image_path(url_for(company_by_job.avatar)), rel: "gallery" , :href => company_path(company_by_job)%>
                                        <%end%>
                                    </div>

                                    <div class="user_job_search_des">
                                        <div class="user_job_search_title">
                                            <strong><%= link_to (company_job.title), company_company_job_path(company_by_job, company_job) %></strong>
                                        </div>

                                        <div class="user_job_search_description">
                                            <a><%= company_job.description.html_safe %></a>
                                        </div>

                                        <div class="user_job_search_location">
                                            <a><i class="material-icons">room</i><%= company_job.location %></a>
                                        </div>

                                        <div class="user_job_search_salary">
                                            <a><i class="material-icons">monetization_on</i><%= company_job.salary %></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-2">
                                <div class="user_job_search_right">
                                    <div class="apply_job_search_button">
                                        <%= link_to '<button type="submit">Ứng tuyển</button>'.html_safe, new_company_apply_job_path(company_by_job.id, company_job.id)%>
                                    </div>
                                    <div class="user_job_search_date">
                                        <a><%= time_ago_in_words(company_job.created_at) %></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <%end%>
              <%end%>
            <%end%>
          </div>
        </div>
      </div>
    <body>
<html>