<% content_for :meta_robots, "all" %>
<%if @is_search%>
    <% content_for :meta_title, t(:job_search_meta_1)%>
<%else%>
    <% content_for :meta_title, t(:job_search_meta_2)%>
<%end%>
<% content_for :meta_description, t(:job_search_meta_3) %>
<div class="company_job_search_index_block">
    <div class="container">
        <%=form_tag jobs_search_path, :method => "get" do%>
            <div class="company_job_search_input">
                <div class='row'>
                    <div class='col-sm-6 col_padding_customize_right'>
                        <div class="company_job_search_what">
                            <i class="material-icons-outlined">search</i>
                            <%= text_field_tag :search, params[:search], data: { behavior: "autocomplete" }, class: 'form-control', placeholder: t(:search_job_title)%>
                        </div>
                    </div>
                        
                    <div class='col-sm-5 col_padding_customize'>
                        <div class="company_job_search_where">
                            <i class="material-icons-outlined">place</i></button>
                            <%= select_tag :location, options_for_select(['Hà Nội','Hồ Chí Minh','Đà Nẵng','An Giang','Bà Rịa Vũng Tàu','Bạc Liêu','Bắc Kạn','Bắc Giang',
                                                            'Bắc Ninh','Bến Tre','Bình Dương','Bình Định','Bình Phước',
                                                            'Bình Thuận','Cà Mau','Cao Bằng','Cần Thơ','Đắk Lắk','Đắk Nông','Điện Biên',
                                                            'Đồng Nai','Đồng Tháp','Gia Lai','Hà Giang','Hà Nam','Hà Tây','Hà Tĩnh',
                                                            'Hải Dương','Hải Phòng','Hòa Bình','Hậu Giang','Hưng Yên','Khánh Hòa',
                                                            'Kiên Giang','Kon Tum','Lai Châu','Lào Cai',
                                                            'Lạng Sơn','Lâm Đồng','Long An','Nam Định','Nghệ An',
                                                            'Ninh Bình','Ninh Thuận','Phú Thọ','Phú Yên','Quảng Bình',
                                                            'Quảng Nam','Quảng Ngãi','Quảng Ninh','Quảng Trị',
                                                            'Sóc Trăng','Sơn La','Tây Ninh','Thái Bình','Thái Nguyên' ,
                                                            'Thanh Hóa','Thừa Thiên Huế','Tiền Giang','Trà Vinh',
                                                            'Tuyên Quang','Vĩnh Long','Vĩnh Phúc','Yên Bái' ]), {:prompt => t(:all_location), class: 'form-control'}%> 
                        </div>
                    </div>
                    
                    <div class='col-sm-1 col_padding_customize_left'>
                        <div class="company_job_search_button">
                            <%= button_to "", form_class: "searched_button", :name => nil do%>
                                <i class="material-icons-outlined">search</i>
                                <a><%=t(:search)%></a>
                            <%end%> 
                        </div>
                    </div>
                </div>
            </div>
        <%end%>

        <script>
            document.addEventListener("turbolinks:load", function() {
                $input = $("[data-behavior='autocomplete']")

                var options = {
                    getValue: "title",
                    url: function(phrase) {
                        return "/jobs_search.json?search=" + phrase;
                    },
                    categories: [
                        {
                            listLocation: "suggest_jobs"
                        },
                    ],
                    list: {
                    onChooseEvent: function() {
                            var url = $input.getSelectedItemData().url
                            $input.val("")
                            Turbolinks.visit(url)
                        }
                    }
                }

                $input.easyAutocomplete(options)
            });
        </script>

        <div class="company_job_filter_container" id="company_job_filter">
            <%= form_for :filter, url: jobs_search_path, method: :get do |f| %>
                <div class="company_job_filter_block">
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="company_job_filter_input">
                                <%= f.select(:category, options_for_select([t(:job_category_1),
																				t(:job_category_2),
																				t(:job_category_3),
																				t(:job_category_4),
																				t(:job_category_5),
																				t(:job_category_6),
																				t(:job_category_7),
																				t(:job_category_8),
																				t(:job_category_9),
																				t(:job_category_10),
																				t(:job_category_11),
																				t(:job_category_12),
																				t(:job_category_13),
																				t(:job_category_14),
																				t(:job_category_15),
																				t(:job_category_16),
																				t(:job_category_17),
																				t(:job_category_18),
																				t(:job_category_19),
																				t(:job_category_20),
																				t(:job_category_21),
																				t(:job_category_22),
																				t(:job_category_23),
																				t(:job_category_24),
																				t(:job_category_25),
																				t(:job_category_26),
																				t(:job_category_27),
																				t(:job_category_28),
																				t(:job_category_29),
																				t(:job_category_30),
																				t(:job_category_31),
																				t(:job_category_32),
																				t(:job_category_33),
																				t(:job_category_34),
																				t(:job_category_35),
																				t(:job_category_36),
																				t(:job_category_37),
																				t(:job_category_38),
																				t(:job_category_39),
																				t(:job_category_40),
																				t(:job_category_41),
																				t(:job_category_42),
																				t(:job_category_43),
																				t(:job_category_44),
																				t(:job_category_45),
																				t(:job_category_46),
																				t(:job_category_47),
																				t(:job_category_48),
																				t(:job_category_49),
																				t(:job_category_50),
																				t(:job_category_51),
																				t(:job_category_52),
																				t(:job_category_53),
																				t(:job_category_54),
																				t(:job_category_55),
																				t(:job_category_56),
																				t(:job_category_57),
																				t(:job_category_58),
																				t(:job_category_59),
																				t(:job_category_60),
																				t(:job_category_61),
																				t(:job_category_62),
																				t(:job_category_63),
																				t(:job_category_64),
																				t(:job_category_65),
																				t(:job_category_66),
																				t(:job_category_67),
																				t(:job_category_68),
																				t(:job_category_69),
																				t(:job_category_70)]), {include_blank: false, :prompt => t(:job_all_category)}, { :class => 'form-select'})  %>
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <div class="company_job_filter_input">
                                <%= f.select(:salary, options_for_select([t(:from_x_to_y_salary, x: 1, y: 5), 
                                                                        t(:from_x_to_y_salary, x: 5, y: 10), 
                                                                        t(:from_x_to_y_salary, x: 10, y: 15),
                                                                        t(:from_x_to_y_salary, x: 15, y: 20),
                                                                        t(:from_x_to_y_salary, x: 20, y: 25),
                                                                        t(:from_x_to_y_salary, x: 25, y: 30),
                                                                        t(:from_x_to_y_salary, x: 30, y: 35),
                                                                        t(:from_x_to_y_salary, x: 40, y: 45),
                                                                        t(:from_x_to_y_salary, x: 45, y: 50),
                                                                        t(:from_x_to_y_salary, x: 50, y: 55),
                                                                        t(:from_x_to_y_salary, x: 55, y: 60),
                                                                        t(:from_x_to_y_salary, x: 60, y: 65),
                                                                        t(:from_x_to_y_salary, x: 65, y: 70),
                                                                        t(:from_x_to_y_salary, x: 70, y: 75),
                                                                        t(:from_x_to_y_salary, x: 75, y: 80),
                                                                        t(:from_x_to_y_salary, x: 80, y: 85),
                                                                        t(:from_x_to_y_salary, x: 85, y: 90),
                                                                        t(:from_x_to_y_salary, x: 90, y: 95),
                                                                        t(:from_x_to_y_salary, x: 95, y: 100),
                                                                        t(:more_than_x_salary, x: 100)]), {include_blank: false, :prompt => t(:job_all_salary)}, { :class => 'form-select'})  %>
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <div class="company_job_filter_input">
                                <%= f.select(:level, options_for_select([t(:staff), 
                                                                        t(:intern), 
                                                                        t(:junior), 
                                                                        t(:leader),
                                                                        t(:manage), 
                                                                        t(:sen_manager),
                                                                        t(:manager)]), 
                                                                        {include_blank: false, :prompt => t(:job_all_level)}, 
                                                                        { :class => 'form-select'})  %>
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <div class="company_job_filter_input">
                                <%= f.select(:post_date, options_for_select([t(:x_day_pass, num: 1),
                                                                            t(:x_day_pass, num: 3),
                                                                            t(:x_day_pass, num: 7), 
                                                                            t(:x_day_pass, num: 15), 
                                                                            t(:x_day_pass, num: 30)]), 
                                                                            {include_blank: false, :prompt => t(:job_all_date)}, 
                                                                            { :class => 'form-select'})  %>
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <div class="company_job_filter_input">
                                <%= f.select(:typical, options_for_select([t(:job_type_1), 
                                                                            t(:job_type_2), 
                                                                            t(:job_type_3), 
                                                                            t(:job_type_4), 
                                                                            t(:job_type_5),
                                                                            t(:job_type_6), 
                                                                            t(:job_type_7)]),
                                                                            {include_blank: false, :prompt => t(:job_all_type)},
                                                                            { :class => 'form-select'})  %>
                            </div>
                        </div>

                        <%= f.hidden_field:search, :value => params[:search]%>
                        <%= f.hidden_field:location, :value => params[:location]%>
                        
                        <div class="col-sm-2">
                            <div class="company_job_filter_submit">
                                <%= button_to "", :class => 'form-control', :name => nil do%>
                                    <i class="material-icons-outlined">filter_alt</i>
                                    <a><%=t(:filter)%></a>
                                <%end%>
                            </div>
                        </div>
                    </div>
                </div>
            <%end%>
            <div class="job_filter_button_off">        
                <button class="filter_button_off" onclick= "myFunctionFilterOff()"><i class="material-icons-outlined">expand_less</i> <a><%=t(:hide_adv_filter)%></a> </button>
            </div>
        </div>

        <div class="job_filter_button_on">
            <button class="filter_button_on" id="filter_button_on" onclick= "myFunctionFilter()"><i class="material-icons-outlined">expand_more</i> <a><%=t(:show_adv_filter)%></a> </button>
        </div>    

        <script>
            function myFunctionFilter() {
                var x = document.getElementById("company_job_filter");
                var y = document.getElementById("filter_button_on");
                if (x.style.display == "block") 
                {
                    x.style.display = "none";
                } 
                else 
                {
                    x.style.display = "block";
                }

                if (y.style.display == "none") 
                {
                    y.style.display = "block";
                } 
                else 
                {
                    y.style.display = "none";
                }
            }

            function myFunctionFilterOff() {
                var x = document.getElementById("company_job_filter");
                var y = document.getElementById("filter_button_on");
                if (x.style.display == "none") 
                {
                    x.style.display = "block";
                } 
                else 
                {
                    x.style.display = "none";
                }

                if (y.style.display == "block") 
                {
                    y.style.display = "none";
                } 
                else 
                {
                    y.style.display = "block";
                }
            }
        </script>
    </div>
</div>

<div class="company_job_search_result_container">
    <div class="container">
        <div class="company_job_search_result">
            <%if @is_search%>
                <%= render :partial => 'company_jobs/search', locals: {job_results: @job_searchs} %>
            <%elsif @is_filter%>
                <%= render :partial => 'company_jobs/search', locals: {job_results: @job_filtereds} %>
            <%else%>
                <%= render :partial => 'company_jobs/search', locals: {job_results: @job_recommands} %>
            <%end%>
        </div>
        
        <div class="company_search_job_profile">
            <div class="row">
                <div class="col-sm-9">
                    <div class="company_search_job_profile_label">
                        <a><%=t(:job_search_profile)%></a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="company_search_job_profile_btn">
                        <%= link_to user_profile_path do%>
                            <button><%=t(:create_user_profile)%></button>
                        <%end%>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="breadcrumbs">
            <%= render_breadcrumbs :separator => '<i class="material-icons-outlined">keyboard_arrow_right</i>' %>
        </div>
    </div>
</div>
