<% content_for :meta_robots, "all" %>
<%if @is_search%>
    <% content_for :meta_title, "Kết quả tìm kiếm việc làm"%>
<%else%>
    <% content_for :meta_title, "Tất cả việc làm đang tuyển dụng"%>
<%end%>
<% content_for :meta_description, "Thông tin tuyển dụng, việc làm mới nhất cho các nghành nghề được cập nhật liên tục tại firework.vn" %>
<div class="company_job_search_index_block">
    <div class="container">
        <%=form_tag jobs_search_path, :method => "get" do%>
            <div class="company_job_search_input">
                <div class='row'>
                    <div class='col-sm-7 col_padding_customize_right'>
                        <div class="company_job_search_what">
                            <i class="material-icons-outlined">search</i>
                            <%= text_field_tag :search, params[:search], required: true, class: 'form-control', placeholder: "Tìm kiếm công việc, kĩ năng, tên công ty..."%>
                        </div>
                    </div>
                        
                    <div class='col-sm-4 col_padding_customize'>
                        <div class="company_job_search_where">
                            <i class="material-icons-outlined">place</i></button>
                            <%= select_tag :location, options_for_select(['Hà Nội','TP Hồ Chí Minh','Đà Nẵng','An Giang','Bà Rịa Vũng Tàu','Bạc Liêu','Bắc Kạn','Bắc Giang',
                                                            'Bắc Ninh','Bến Tre','Bình Dương','Bình Định','Bình Phước',
                                                            'Bình Thuận','Cà Mau','Cao Bằng','Cần Thơ','Đắk Lắk','Đắk Nông','Điện Biên',
                                                            'Đồng Nai','Đồng Tháp','Gia Lai','Hà Giang','Hà Nam','Hà Tây','Hà Tĩnh',
                                                            'Hải Dương','Hải Phòng','Hòa Bình','Hậu Giang','Hưng Yên','Khánh Hòa',
                                                            'Kiên Giang','Kon Tum','Lai Châu','Lào Cai',
                                                            'Lạng Sơn','Lâm Đồng','Long An','Nam Định','Nghệ An',
                                                            'Ninh Bình','Ninh Thuận','Phú Thọ','Phú Yên','Quảng Bình',
                                                            'Quảng Nam','Quảng Ngãi','Quảng Ninh','Quảng Trị',
                                                            'Sóc Trăng','Sơn La','Tây Ninh','Thái Bình','Thái Nguyên' ,
                                                            'Thanh Hóa','Thừa Thiên Huế','Tiền Giang','Trà Vinh',
                                                            'Tuyên Quang','Vĩnh Long','Vĩnh Phúc','Yên Bái' ]), {:prompt => "Tất cả địa điểm", class: 'form-control'}%> 
                        </div>
                    </div>
                    
                    <div class='col-sm-1 col_padding_customize_left'>
                        <div class="company_job_search_button">
                            <%= button_to "", form_class: "searched_button", :name => nil do%>
                                <i class="material-icons-outlined">search</i>
                                <a>Tìm kiếm</a>
                            <%end%> 
                        </div>
                    </div>
                </div>
            </div>
        <%end%>

        <div class="company_job_filter_container" id="company_job_filter">
            <%= form_for :filter, url: jobs_search_path, method: :get, remote: true do |f| %>
                <div class="company_job_filter_block">
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="company_job_filter_input">
                                <%= f.select(:category, options_for_select(["Bác sĩ",
                                                                            "Bán hàng kỹ thuật",
                                                                            "Bán hàng",
                                                                            "Bán lẻ - Bán sỉ",
                                                                            "Bảo hiểm",
                                                                            "Bảo trì - Sửa chữa",
                                                                            "Bất động sản",
                                                                            "Biên phiên dịch",
                                                                            "Cấp quản lý điều hành",
                                                                            "Chứng khoán",
                                                                            "Cơ khí",
                                                                            "Công nghệ cao",
                                                                            "Dầu khí",
                                                                            "Dệt may - Da giày",
                                                                            "Dịch vụ khách hàng",
                                                                            "Dược Phẩm - Công nghệ sinh học",
                                                                            "Dược sĩ",
                                                                            "Giáo dục - Đào tạo",
                                                                            "Hàng cao cấp",
                                                                            "Hàng gia dụng",
                                                                            "Hàng hải",
                                                                            "Hàng không - Du lịch",
                                                                            "Hàng tiêu dùng",
                                                                            "Hành chánh - Thư ký",
                                                                            "Hóa học - Hóa sinh",
                                                                            "Hoạch định - Dự án",
                                                                            "In ấn -  Xuất bản",
                                                                            "Internet - Online Media",
                                                                            "IT - Phần mềm",
                                                                            "IT-Phần cứng - Mạng",
                                                                            "Kế toán",
                                                                            "Khác",
                                                                            "Kho vận",
                                                                            "Kiểm toán",
                                                                            "Kiến trúc - Thiết kế nội thất ",
                                                                            "Marketing",
                                                                            "Mới tốt nghiệp",
                                                                            "Môi trường - Xử lý chất thải",
                                                                            "Mỹ Thuật - Nghệ Thuật - Thiết Kế",
                                                                            "Ngân hàng",
                                                                            "Người nước ngoài - Việt Kiều",
                                                                            "Nhà hàng - Khách sạn",
                                                                            "Nhân sự",
                                                                            "Nông nghiệp - Lâm nghiệp",
                                                                            "Overseas Jobs",
                                                                            "Pháp lý",
                                                                            "Phi chính phủ - Phi lợi nhuận",
                                                                            "QA - QC",
                                                                            "Quảng cáo - Khuyến mãi - Đối ngoại",
                                                                            "Sản phẩm công nghiệp",
                                                                            "Sản Xuất",
                                                                            "Tài chính - Đầu tư",
                                                                            "Thời trang",
                                                                            "Thời vụ - Hợp đồng ngắn hạn",
                                                                            "Thu Mua - Vật Tư - Cung Vận",
                                                                            "Thực phẩm &amp; Đồ uống",
                                                                            "Trình dược viên",
                                                                            "Truyền hình - Truyền thông - Báo chí",
                                                                            "Tư vấn",
                                                                            "Tự động hóa - Ô tô",
                                                                            "Vận chuyển - Giao nhận",
                                                                            "Viễn Thông",
                                                                            "Xây dựng",
                                                                            "Xuất nhập khẩu",
                                                                            "Y sĩ - Hộ lý",
                                                                            "Y tế - Chăm sóc sức khỏe",
                                                                            "Địa chất - Khoáng sản",
                                                                            "Điện lạnh - Nhiệt lạnh",
                                                                            "Điện - Điện tử"]), {include_blank: false, :prompt => "Tất cả ngành nghề"}, { :class => 'form-select'})  %>
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <div class="company_job_filter_input">
                                <%= f.select(:salary, options_for_select(['1Tr - 5Tr', 
                                                                        '5Tr - 10Tr', 
                                                                        '10Tr - 15Tr', 
                                                                        '15Tr - 20Tr', 
                                                                        '20Tr - 25Tr', 
                                                                        '25Tr - 30Tr', 
                                                                        '30Tr - 35Tr', 
                                                                        '40Tr - 45Tr', 
                                                                        '45Tr - 50Tr', 
                                                                        '50Tr - 55Tr', 
                                                                        '55Tr - 60Tr', 
                                                                        '60Tr - 65Tr', 
                                                                        '65Tr - 70Tr', 
                                                                        '70Tr - 75Tr', 
                                                                        '75Tr - 80Tr', 
                                                                        '80Tr - 85Tr', 
                                                                        '85Tr - 90Tr', 
                                                                        '90Tr - 95Tr', 
                                                                        '95Tr - 100Tr', 
                                                                        'hơn 100Tr']), {include_blank: false, :prompt => "Tất cả mức lương"}, { :class => 'form-select'})  %>
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <div class="company_job_filter_input">
                                <%= f.select(:level, options_for_select(['Nhân viên', 
                                                                        'Thực tập sinh', 
                                                                        'Mới tốt nghiệp', 
                                                                        'Trưởng nhóm',
                                                                        'Quản lý', 
                                                                        'Quản lý cấp cao',
                                                                        'Giám đốc']), 
                                                                        {include_blank: false, :prompt => "Tất cả cấp bậc"}, 
                                                                        { :class => 'form-select'})  %>
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <div class="company_job_filter_input">
                                <%= f.select(:post_date, options_for_select(['1 ngày qua', '3 ngày qua', '7 ngày qua', '14 ngày qua', '30 ngày qua']), 
                                                                                {include_blank: false, :prompt => "Tất cả thời gian"}, 
                                                                                { :class => 'form-select'})  %>
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <div class="company_job_filter_input">
                                <%= f.select(:typical, options_for_select(['Toàn thời gian', 
                                                                            'Bán thời gian', 
                                                                            'Tự do', 
                                                                            'Tạm thời', 
                                                                            "Thực tập sinh",
                                                                            "Remote - Làm việc từ xa"]),
                                                                            {include_blank: false, :prompt => "Tất cả loại hình"},
                                                                            { :class => 'form-select'})  %>
                            </div>
                        </div>

                        <%= f.hidden_field:search, :value => params[:search]%>
                        <%= f.hidden_field:location, :value => params[:location]%>
                        
                        <div class="col-sm-2">
                            <div class="company_job_filter_submit">
                                <%= button_to "", :class => 'form-control', :name => nil do%>
                                    <i class="material-icons-outlined">filter_alt</i>
                                    <a>Áp dụng bộ lọc</a>
                                <%end%>
                            </div>
                        </div>
                    </div>
                </div>
            <%end%>        
            <button class="filter_button_off" onclick= "myFunctionFilterOff()"><i class="material-icons-outlined">expand_less</i> <a>Ẩn tìm kiếm nâng cao</a> </button>
        </div>

        <button class="filter_button_on" id="filter_button_on" onclick= "myFunctionFilter()"><i class="material-icons-outlined">expand_more</i> <a>Tìm kiếm nâng cao</a> </button>

        <script>
            function myFunctionFilter() {
                var x = document.getElementById("company_job_filter");
                var y = document.getElementById("filter_button_on");
                if (x.style.display == "block") 
                {
                    x.style.display = "none";
                } 
                else 
                {
                    x.style.display = "block";
                }

                if (y.style.display == "none") 
                {
                    y.style.display = "block";
                } 
                else 
                {
                    y.style.display = "none";
                }
            }

            function myFunctionFilterOff() {
                var x = document.getElementById("company_job_filter");
                var y = document.getElementById("filter_button_on");
                if (x.style.display == "none") 
                {
                    x.style.display = "block";
                } 
                else 
                {
                    x.style.display = "none";
                }

                if (y.style.display == "block") 
                {
                    y.style.display = "none";
                } 
                else 
                {
                    y.style.display = "block";
                }
            }
        </script>
    </div>
</div>

<div class="company_job_search_result_container">
    <div class="container">
        <div class="company_job_search_result">
            <%= render :partial => 'company_jobs/search', locals: {job_searched: @job_searchs} %>
        </div>
        
        <div class="company_search_job_profile">
            <div class="row">
                <div class="col-sm-9">
                    <div class="company_search_job_profile_label">
                        <a>Dễ dàng xin việc và nhà tuyển dụng sẽ chủ động tìm đến bạn.</a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="company_search_job_profile_btn">
                        <%= link_to '<button type="submit">Tạo hồ sơ tìm việc</button>'.html_safe, user_profile_path%>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
