<% content_for :meta_robots, "all" %>
<%if @company.present?%>
    <%company_name_meta = @company.name%>
<%else%>
    <%company_name_meta = @company_job.company_name%>
<%end%>
<%if company_name_meta%>
    <% content_for :meta_title, company_name_meta + " tuyển dụng " + @company_job.title %>
<%else%>
    <% content_for :meta_title, @company_job.title %>
<%end%>
<% content_for :meta_description, @company_job.description %>

<%# Google job structure data start %>
<%if @company_job.typical == "Full Time" || @company_job.typical == "Toàn thời gian"%>
    <%employmentType = "FULL_TIME"%>
<%elsif @company_job.typical == "Part Time" || @company_job.typical == "Bán thời gian"%>
    <%employmentType = "PART_TIME"%>
<%elsif @company_job.typical == "Remote" || @company_job.typical == "Làm việc từ xa"%>
    <%employmentType = "FULL_TIME"%>
<%elsif @company_job.typical == "Tạm thời"%>
    <%employmentType = "TEMPORARY"%>
<%elsif @company_job.typical == "Thực tập sinh"%>
    <%employmentType = "INTERN"%>
<%else%>
    <%employmentType = "OTHER"%>
<%end%>
<script type="application/ld+json">
{
    "@context" : "https://schema.org/",
    "@type" : "JobPosting",
    "title" : "<%=@company_job.title%>",
<%if @company_job.description.present?%>
    "description" : "<%=@company_job.description%>",
<%else%>
    "description" : "<%=@company_job.detail%>",
<%end%>
    "identifier": {
        "@type": "PropertyValue",
        "name": "Firework",
        "value": "1234567"
    },
    "datePosted" : "<%=@company_job.created_at%>",
    "validThrough" : "<%=@company_job.end_date%>",
    "employmentType" : "<%=employmentType%>",
    "hiringOrganization" : {
        "@type" : "Organization",
        "name" : "<%=company_name_meta%>",
        "sameAs" : "<%=@company_job.address%>",
    <%if @company.present? && @company.avatar?%>
        "logo" : "<%= image_url(@company.avatar.thumb.url) %>"
    <%else%>
        "logo" : "<%= image_url("defaults/company_avatar_default.png") %>"
    <%end%>
    },
    "jobLocation": {
    "@type": "Place",
        "address": {
        "@type": "PostalAddress",
    <%if @company_job.address.present?%>
        "streetAddress": "<%=@company_job.address%>",
    <%else%>
        "streetAddress": "<%=@company_job.location%>",
    <%end%>
        "addressLocality": "<%=@company_job.location%>",
        "addressRegion": "VN",
        "postalCode": "100000",
        "addressCountry": "VN"
        }
    },

    "baseSalary": {
        "@type": "MonetaryAmount",
        "currency": "VND",
        "value": {
        "@type": "QuantitativeValue",
    <%if @company_job.salary_min%>
        "minValue": <%=@company_job.salary_min%>,
    <%else%>
        "minValue": 0,
    <%end%>
    <%if @company_job.salary_max%>
        "maxValue": <%=@company_job.salary_max%>,
    <%else%>
        "maxValue": 0,
    <%end%>
        "unitText": "MONTH"
        }
    }
}
</script>
<%# Google job structure data end %>
<div class="job_overview">
    <div class="container">
        <div class='row'>
            <div class="col-sm-9">
                <div class="job_overview_left">
                    <div class="company_avatar">
                        <%if @company.present? && @company.avatar?%>
                            <%= link_to (image_tag(@company.avatar.thumb.url)), image_path(url_for(@company.avatar.thumb.url)), rel: "gallery" , :href => company_path(@company), target: :_blank%>
                        <%elsif @company_job.company_avatar && check_exist_url(@company_job.company_avatar)%>
                            <%= image_tag(@company_job.company_avatar)%>
                        <%else%>
                            <%= image_tag("defaults/company_avatar_default.png")%>
                        <%end%>
                    </div>
                    <div class="job_des">
                        <div class="job_title">
                            <h4><%= @company_job.title %></h4>
                        </div>
                        <div class="company_job_name">
                            <%if @company.present?%>
                                <a><%= link_to (@company.name), company_path(@company), target: :_blank%> </a>
                            <%else%>
                                <a><%=@company_job.company_name%></a>
                            <%end%>
                        </div>

                        <div class='job_block_info'>
                            <div class="job_shoft_info">
                                <%if @company_job.location.present?%>
                                    <a><i class="material-icons-outlined">room</i><%= @company_job.location %></a>
                                <%elsif @company_job.address.present?%>
                                    <a><i class="material-icons-outlined">room</i><%= @company_job.address %></a>
                                <%else%>
                                    <a><i class="material-icons-outlined">room</i>Đang cập nhật</a>
                                <%end%>
                            </div>
                            <div class="job_shoft_info_salary">
                                <%if user_signed_in?%>
                                    <a><i class="material-icons-outlined">monetization_on</i><%= @company_job.salary.to_s %></a>
                                <%else%>
                                    <a type="link" data-toggle="modal" data-target="#buttonModalLoginCenter" class="job_salary_login">
                                        <i class="material-icons-outlined">monetization_on</i> <span>Đăng nhập để xem mức lương</span>
                                    </a>
                                <%end%>
                            </div>
                            <div class="job_shoft_info">
                                <%if @company_job.apply_another_site_flag%>
                                    <a><i class="material-icons-outlined">schedule</i> Đã đăng <%= time_ago_in_words(@company_job.created_at) %> · từ <%=get_domain_name(@company_job.apply_site)%></a>
                                <%else%>
                                    <a><i class="material-icons-outlined">schedule</i> Đã đăng <%= time_ago_in_words(@company_job.created_at) %> </a>
                                <%end%>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="job_overview_right">
                    <div class="apply_job_button">
                        <div class="apply_button">
                            <%if @company_job.apply_another_site_flag?%>
                                <%= link_to '<button type="submit">Nộp đơn tại trang công ty</button>'.html_safe, @company_job.apply_site%>
                            <%elsif user_signed_in?%>
                                <%= link_to '<button type="submit"><i class="material-icons">send</i>Nộp đơn</button>'.html_safe, new_company_job_company_apply_job_path(@company_job)%>
                            <%else%>
                                <button type="button" data-toggle="modal" data-target="#buttonModalLoginCenter">
                                    <i class="material-icons-outlined">send</i>Nộp đơn
                                </button>
                            <%end%>
                        </div>

                        <div class="save_button" id="save_job_<%=@company_job.id%>">
                            <%if user_signed_in?%>
                                <% pre_save = @company_job.company_save_jobs.find { |save| save.user_id == current_user.id} %>
                                <% if pre_save %> 
                                    <%= button_to company_job_company_save_job_path(@company_job, pre_save), :method => :delete, remote: true, form_class: "save_btn_highlight" do%>
                                        <i class="material-icons-outlined">favorite</i> <span>Đã lưu</span>
                                    <%end%> 
                                <%else%>
                                    <%= button_to company_job_company_save_jobs_path(@company_job), :method => :post, remote: true, form_class: "save_btn" do%>
                                        <i class="material-icons-outlined">favorite_border</i> <span>Lưu việc làm</span>
                                    <%end%>
                                <%end%>
                            <%else%>
                                <button type="button" data-toggle="modal" data-target="#buttonModalLoginCenter" class="save_btn">
                                    <i class="material-icons-outlined">favorite_border</i> <span>Lưu việc làm</span>
                                </button>
                            <%end%>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    
<div class="container">
    <div class='job_block_total'>
        <div class='row'>
            <div class="col-sm-8">
                <div class='job_block_left'>
                    <%if @company_job.detail.present?%>
                        <div class="job_detail_content">
                            <%= @company_job.detail.html_safe %>
                        </div>
                    <%else%>
                        <%if @company_job.skill.present?%>
                            <div class="job_skill">
                                <div class="job_content">
                                    <%@company_job.skill.each do |skill|%>
                                        <%if !skill.empty?%>
                                            <a><%= skill.to_s%></a>
                                        <%end%>
                                    <%end%>
                                </div>
                            </div>
                        <%end%>
                        <div class="job_description">
                            <div class="job_section">
                                <strong>Mô tả công việc</strong>
                            </div>
                            <%if @company_job.description.present?%>
                                <div class="job_content">
                                    <%= @company_job.description.html_safe %>
                                </div>
                            <%end%>
                        </div>

                        <div class="job_requirement">
                            <div class="job_section">
                                <strong>Yêu cầu công việc</strong>
                            </div>
                            <%if @company_job.requirement.present?%>
                                <div class="job_content">
                                    <%= @company_job.requirement.html_safe %>
                                </div>
                            <%end%>
                        </div>
                        
                        <div class="job_benefit">
                            <div class="job_section">
                                <strong>Chế độ đãi ngộ bạn sẽ nhận được</strong>
                            </div>
                            <%if @company_job.benefit.present?%>
                                <div class="job_content">
                                    <div class="job_benefit_block">
                                        <span><%= @company_job.benefit.html_safe %></span>
                                    </div>
                                </div>
                            <%end%>
                        </div>
                    <%end%>
                </div>
                
                <%if @company_related_jobs.present?%>
                    <div class="company_job_index">
                        <div class="more_job_section">
                            <strong>Việc làm khác cùng công ty <%=@company_job.company_name%></strong>
                        </div>
                        <div class="more_job_content">
                            <div class="row"> 
                                <div class="col-sm-12 col-no-padding">
                                    <%= render @company_related_jobs%>
                                </div>
                            </div>
                        </div>
                        <div class="company_job_paginate">
                            <%= paginate @company_related_jobs, window: 2%>
                        </div>
                    </div>
                <%end%>
            </div>
            <div class="col-sm-4">
                <div class='job_block_right'>
                    <div class='job_block_right_des'>
                        <div class="job_right">
                            <div class="job_right_title">
                                <a> <i class="material-icons-outlined">calendar_today</i> NGÀY ĐĂNG TUYỂN</a>
                            </div>
                            <span><%= time_ago_in_words(@company_job.created_at) %></span>
                        </div>
                        <div class="job_right">
                            <div class="job_right_title">
                                <a> <i class="material-icons-outlined">check_circle_outline</i> LOẠI HÌNH CÔNG VIỆC</a>
                            </div>
                            <%if !@company_job.typical.to_s.empty?%>
                                <span> <%= @company_job.typical %></span>
                            <%else%>
                                <span>---</span>
                            <%end%>
                        </div>
                        <div class="job_right">
                            <div class="job_right_title">
                                <a> <i class="material-icons-outlined">work_outline</i> CẤP BẬC</a>
                            </div>
                            <%if !@company_job.level.to_s.empty?%>
                                <span> <%= @company_job.level %></span>
                            <%else%>
                                <span>---</span>
                            <%end%>
                        </div>
                        <div class="job_right">
                            <div class="job_right_title">
                                <a> <i class="material-icons-outlined">supervised_user_circle</i> KINH NGHIỆM</a>
                            </div>
                            <%if !@company_job.experience.to_s.empty?%>
                                <span> <%= @company_job.experience %></span>
                            <%else%>
                                <span>---</span>
                            <%end%>
                        </div>
                        <div class="job_right">
                            <div class="job_right_title">
                                <a> <i class="material-icons-outlined">category</i> NGÀNH NGHỀ</a>
                            </div>
                            <%if !@company_job.category.to_s.empty?%>
                                <span> <%= @company_job.category %></span>
                            <%else%>
                                <span>---</span>
                            <%end%>
                        </div>
                        <div class="job_right">
                            <div class="job_right_title">
                                <a><i class="material-icons-outlined">translate</i> NGÔN NGỮ HỒ SƠ</a>
                            </div>
                            <%if !@company_job.language.to_s.empty?%>
                                <span> <%= @company_job.language %></span>
                            <%else%>
                                <span>---</span>
                            <%end%>
                        </div>
                        <div class="job_right_end">
                            <div class="job_right_title">
                                <a> <i class="material-icons-outlined">timer</i> NGÀY HẾT HẠN</a>
                            </div>
                            <%if !@company_job.end_date.to_s.empty?%>
                                <span> <%= @company_job.end_date.strftime("%B %d, %Y") %></span>
                            <%else%>
                                <span>---</span>
                            <%end%>
                        </div>
                    </div>
                    
                    <%if @company.present? && @company.company_reviews.count > 0%>
                        <div class='job_block_right_company'>
                            <div class='job_block_right_label'>
                                <a>Mọi người nói gì về <%=@company.name%></a>
                            </div>
                            <div class="job_review_score_content">
                                <div class="job_review_score">
                                        <div class="job_review_score_total">
                                            <div class="job_review_score_label">
                                                <a>Đánh giá tổng quát</a>
                                            </div>

                                            <div class="job_review_score_star">
                                                <div class="job_review_point">
                                                    <strong><%=cal_rating_review_total_score(@company).to_f.round(1)%> </strong>
                                                </div>
                                                <div class="job_review_score_star_des">
                                                    <%if cal_rating_review_total_score(@company) > 0%>
                                                        <%cal_rating_review_total_score(@company).to_i.times do%>
                                                            <i class="material-icons checked">circle</i>
                                                        <%end%>
                                                        <%(5 - cal_rating_review_total_score(@company).to_i).to_i.times do%>
                                                            <i class="material-icons checked_out">radio_button_unchecked</i>
                                                        <%end%>
                                                    <%else%>
                                                        <%5.times do%>
                                                            <i class="material-icons checked_out">radio_button_unchecked</i>
                                                        <%end%>
                                                    <%end%>
                                                </div>
                                            </div>

                                            <div class="job_review_total_des">
                                                <a>Dựa trên <%= convert_number_to_human(@company.company_reviews.count)%> đánh giá từ nhân viên</a>
                                            </div>
                                        </div>

                                        <div class="job_review_score_recommand">  
                                            <div class="job_review_score_recommand_title">
                                                <a>Khuyến khích làm việc tại đây</a>
                                            </div>

                                            <div class="job_review_score_recommand_block">
                                                <div class="flex-wrapper-job_review">
                                                    <div class="single-chart-job_review">
                                                        <svg viewBox="0 0 36 36" class="circular-chart orange">
                                                            <path class="circle-bg"
                                                                d="M18 2.0845
                                                                    a 15.9155 15.9155 0 0 1 0 31.831
                                                                    a 15.9155 15.9155 0 0 1 0 -31.831"
                                                            />
                                                            <path class="circle"
                                                                stroke-dasharray="<%=cal_rating_review_recommend(@company)%>, 100"
                                                                d="M18 2.0845
                                                                    a 15.9155 15.9155 0 0 1 0 31.831
                                                                    a 15.9155 15.9155 0 0 1 0 -31.831"
                                                            />
                                                            <text x="18" y="20.35" class="percentage-job_review"><%=cal_rating_review_recommend(@company)%>%</text>
                                                        </svg>
                                                    </div>
                                                </div>
                                                <style>
                                                    .flex-wrapper-job_review {
                                                        display: flex;
                                                        flex-flow: row nowrap;
                                                    }

                                                    .single-chart-job_review {
                                                        width: 48%;
                                                        justify-content: space-around ;
                                                    }

                                                    .circular-chart {
                                                        display: block;
                                                        margin: 10px auto;
                                                        max-width: 80%;
                                                        max-height: 250px;
                                                    }

                                                    .circle-bg {
                                                        fill: none;
                                                        stroke: #eee;
                                                        stroke-width: 3.8;
                                                    }

                                                    .circle {
                                                        fill: none;
                                                        stroke-width: 2.8;
                                                        stroke-linecap: round;
                                                        animation: progress 1s ease-out forwards;
                                                    }

                                                    @keyframes progress {
                                                        0% {
                                                            stroke-dasharray: 0 100;
                                                        }
                                                    }

                                                    .circular-chart.orange .circle {
                                                        stroke: #ff9f00;
                                                    }

                                                    .percentage-job_review {
                                                        fill: #0d6efd;
                                                        font-size: 0.4em;
                                                        text-anchor: middle;
                                                        font-weight: 550;
                                                    }
                                                </style>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="review_job_more">
                                    <%= link_to '<button type="submit"> <a>Xem thêm review</a> <i class="material-icons-outlined">chevron_right</i></button>'.html_safe, company_path(@company, tab_id: "CompanyReviewsID") %>
                                </div>
                            </div>
                        </div>
                    <%end%>
                </div>
            </div>
        </div>
    </div>
</div>