<% content_for :meta_title, t(:meta_employer_new) %>
<div class="employer_container">
    <div class="container">
        <div class="employer_block">
            <div class="employer_add_new_form">
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                    <div class="employer_add_new_title">
                        <a><%=t(:employer_create_account)%></a>
                    </div>

                    <div class="employer_add_new_section">
                        <a><i class="material-icons-outlined">person</i><%=t(:account)%></a>
                    </div>

                    <div class="employer_add_new_content">
                        <div class="employer_add_new_label">
                            <a><%= f.label :name, t(:full_name), class: "employer_add_new_label_name" %><span>*</span></a>
                        </div>

                        <div class="employer_add_new_input">
                            <%= f.text_field :name, autofocus: true, :required => true, class: 'form-control', placeholder: t(:enter_name) %>
                        </div>
                    </div>

                    <div class="employer_add_new_content">
                        <div class="employer_add_new_label">
                            <a>
                                <%= f.label :email, t(:email), class: "employer_add_new_label_name" %>
                                <span>*</span>
                                <br>
                                <em><%=t(:form_employer_mail_sub)%></em>
                            </a>
                        </div>

                        <div class="employer_add_new_input">
                            <%= f.email_field :email, :required => true, class: "form-control", placeholder: t(:enter_email) %>
                        </div>
                    </div>

                    <div class="employer_add_new_content">
                        <div class="employer_add_new_label">
                            <a>
                                <%= f.label :password, t(:password), class: "employer_add_new_label" %>
                                <span>*</span>
                                <br>
                                <% if @minimum_password_length %>
                                    <em>(<%= @minimum_password_length %> <%=t(:min_charater)%>)</em>
                                <% end %>
                            </a>
                        </div>
                        <div class="employer_add_new_input">
                            <%= f.password_field :password, :required => true, class: "form-control", placeholder: t(:enter_password) %>
                        </div>
                    </div>

                    <div class="employer_add_new_content">
                        <div class="employer_add_new_label">
                            <a><%= f.label :password_confirmation, t(:password_confirm), class: "employer_add_new_label" %><span>*</span></a>
                        </div>

                        <div class="employer_add_new_input">
                            <%= f.password_field :password_confirmation, :required => true, class: "form-control", placeholder: t(:retype_password) %>
                        </div>
                    </div>

                    <div class="employer_add_new_section">
                        <a><i class="material-icons-outlined">corporate_fare</i><%=t(:company)%></a>
                    </div>

                    <div class="employer_add_new_content">
                        <div class="employer_add_new_label">
                            <a><%= f.label :company_name, t(:company_name), class: "employer_add_new_label_name" %><span>*</span></a>
                        </div>

                        <div class="employer_add_new_input">
                            <%= f.text_field :company_name, :required => true, class: 'form-control', placeholder: t(:enter_company_name) %>
                        </div>
                    </div>

                    <div class="employer_add_new_content">
                        <div class="employer_add_new_label">
                            <a><%= f.label :company_field, t(:primary_filed_opreation), class: "employer_add_new_label_name" %><span>*</span></a>
                        </div>

                        <div class="employer_add_new_input">
                            <%= f.text_field :company_field, :required => true, class: 'form-control', placeholder: t(:primary_filed_opreation_sub) %>
                        </div>
                    </div>

                    <div class="employer_add_new_content">
                        <div class="employer_add_new_label">
                            <a><%= f.label :address, t(:company_address), class: "employer_add_new_label_name" %><span>*</span></a>
                        </div>

                        <div class="employer_add_new_input">
                            <%= f.text_field :address, :required => true,  class: 'form-control', placeholder: t(:enter_company_address) %>
                        </div>
                    </div>

                    <div class="employer_add_new_content">
                        <div class="employer_add_new_label">
                            <a><%= f.label :phone, t(:company_phone), class: "employer_add_new_label_name" %><span>*</span></a>
                        </div>

                        <div class="employer_add_new_input">
                            <%= f.text_field :phone, :required => true,  class: 'form-control', placeholder: t(:enter_company_phone) %>
                        </div>
                    </div>

                    <div class="employer_add_new_submit">
                        <%= f.submit t(:signup), class: "employer_add_new_form_submit" %>
                    </div>
                <%end%>
            </div>

            <p class="employer_add_new_loginhere">
                <%=t(:have_employer_account)%> <%= link_to t(:signin), new_employer_session_path %>
            </p>
        </div>
    </div>
</div>
