<%if (@user_type == "employer") %>
    <% content_for :meta_title, "Tạo tài khoản mới dành cho nhà tuyển dụng" %>
    <div class="employer_container">
        <div class="container">
            <div class="employer_block">
                <div class="employer_add_new_form">
                    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                        <div class="employer_add_new_title">
                            <a>Tạo tài khoản nhà tuyển dụng</a>
                        </div>

                        <div class="employer_add_new_content">
                            <div class="employer_add_new_label">
                                <a>Vui lòng chọn công ty mà bạn đang làm việc*</a>
                            </div>

                            <div class="employer_add_new_input">
                                <%= f.select :company_id, Company.all.collect {|m| [m.name, m.id]},{}, class: "form-control"%>
                            </div>
                        </div>

                        <div class="employer_add_new_content">
                            <div class="employer_add_new_label">
                                <a><%= f.label :name, "Họ và tên*", class: "employer_add_new_label_name" %></a>
                            </div>

                            <div class="employer_add_new_input">
                                <%= f.text_field :name, autofocus: true, :required => true, class: 'form-control', placeholder: "Nhập họ và tên của bạn" %>
                            </div>
                        </div>

                        <div class="employer_add_new_content">
                            <div class="employer_add_new_label">
                                <a><%= f.label :phone, "Số điện thoại(bạn nên sử dụng số điện thoại công ty)*", class: "employer_add_new_label_name" %></a>
                            </div>

                            <div class="employer_add_new_input">
                                <%= f.text_field :phone, :required => true,  class: 'form-control', placeholder: "Vui lòng sử dụng số điện thoại liên lạc của công ty" %>
                            </div>
                        </div>

                        <div class="employer_add_new_content">
                            <div class="employer_add_new_label">
                                <a><%= f.label :address, "Địa chỉ liên hệ(bạn nên sử dụng địa chỉ công ty)*", class: "employer_add_new_label_name" %></a>
                            </div>

                            <div class="employer_add_new_input">
                                <%= f.text_field :address, :required => true,  class: 'form-control', placeholder: "Nhập địa chỉ liên hệ của công ty bạn" %>
                            </div>
                        </div>

                        <div class="employer_add_new_content">
                            <div class="employer_add_new_label">
                                <a><%= f.label :email, "Địa chỉ email(bạn nên sử dụng email công ty)*", class: "employer_add_new_label_name" %></a>
                            </div>

                            <div class="employer_add_new_input">
                                <%= f.email_field :email, :required => true, class: "form-control", placeholder: "Vui lòng sử dụng địa chỉ email công ty" %>
                            </div>
                        </div>

                        <div class="employer_add_new_content">
                            <div class="employer_add_new_label">
                                <a><%= f.label :password, "Mật khẩu*", class: "employer_add_new_label" %></a>
                            </div>
                            
                            <div class="employer_add_new_input">
                                <%= f.password_field :password, :required => true, class: "form-control", placeholder: "Nhập mật khẩu sử dụng từ 6 kí tự và kết hợp chữ cái, chữ số và biểu tượng" %>
                            </div>
                        </div>

                        <div class="employer_add_new_content">
                            <div class="employer_add_new_label">
                                <a><%= f.label :password_confirmation, "Xác nhận mật khẩu*", class: "employer_add_new_label" %></a>
                            </div>

                            <div class="employer_add_new_input">
                                <%= f.password_field :password_confirmation, :required => true, class: "form-control", placeholder: "Nhập lại mật khẩu" %>
                            </div>
                        </div>

                        <%=f.hidden_field :employer, :value => true, readonly: true%>

                        <div class="employer_add_new_submit">
                            <%= f.submit "Tạo tài khoản", class: "employer_add_new_form_submit" %>
                        </div>
                    <%end%>
                </div>

                <p class="employer_add_new_loginhere">
                    Đã có tài khoản nhà tuyển dụng? <%= link_to " Đăng nhập", new_user_session_path %>
                </p>
            </div>
        </div>
    </div>
<%elsif (@user_type == "admin")%>
    <div class='user_container'>
        <div class="container">
            <div class="user_block">
                <div class="user_add_new_form_left">
                    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                        <%= render "devise/shared/error_messages", resource: resource %>
                        <div class="user_add_new_title">
                            <a>Tạo tài khoản admin - Admin only</a>
                        </div>

                        <div class="user_add_new_content">
                            <div class="user_add_new_label">
                                <a><%= f.label :name, "Tên đăng nhập*", class: "user_add_new_label_name" %></a>
                            </div>

                            <div class="user_add_new_input">
                                <%= f.text_field :name, autofocus: true, :required => true, class: 'form-control', placeholder: "Nhập họ và tên của bạn" %>
                            </div>
                        </div>
                        
                        <div class="user_add_new_content">
                            <div class="user_add_new_label">
                                <a><%= f.label :email, "Địa chỉ email*", class: "user_add_new_label_name" %></a>
                            </div>

                            <div class="user_add_new_input">
                                <%= f.email_field :email, autocomplete: "email", :required => true, class: "form-control", placeholder: "Nhập email của bạn" %>
                            </div>
                        </div>

                        <div class="user_add_new_content">
                            <div class="user_add_new_label">
                                <a><%= f.label :password, "Mật khẩu*", class: "user_add_new_label" %></a>
                            </div>

                            <div class="user_add_new_input">
                                <% if @minimum_password_length %>
                                <em>(<%= @minimum_password_length %> characters minimum)</em>
                                <% end %><br />
                                <%= f.password_field :password, autocomplete: "new-password", :required => true, class: "form-control", placeholder: "Mật khẩu ít nhất 6 kí tự gồm chữ in hoa, chữ số và biểu tượng" %>
                            </div>
                        </div>

                        <div class="user_add_new_content">
                            <div class="user_add_new_label">
                                <a><%= f.label :password_confirmation, "Xác nhận lại mật khẩu*", class: "user_add_new_label" %></a>
                            </div>

                            <div class="user_add_new_input">
                                <%= f.password_field :password_confirmation, autocomplete: "new-password", :required => true, class: "form-control", placeholder: "Nhập lại mật khẩu" %>
                            </div>
                        </div>

                        <%=f.hidden_field :admin, :value => true, readonly: true%>

                        <div class="user_add_new_submit">
                            <%= f.submit "Tạo tài khoản", class: "user_add_new_form_submit" %>
                        </div>
                    <%end%>
                </div>
                
                <p class="user_add_new_loginhere">
                    Bạn đã có tài khoản? <%= link_to " Đăng nhập", new_user_session_path %>
                </p>
            </div>
        </div>
    </div>
<%else%>
    <% content_for :meta_title, "Tạo tài khoản mới" %>
    <% content_for :meta_description, "Tạo tài khoản mới tại firework.vn giúp bạn truy cập những thông tin mới nhất(review công ty, phỏng vấn, việc làm...) trong tìm kiếm việc làm, hãy tham gia cộng đồng của chúng tôi ..." %>
    <div class='user_container'>
        <div class="container">
            <div class="user_block">
                <div class="user_add_new_form_left">
                    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                        <%= render "devise/shared/error_messages", resource: resource %>
                        <div class="user_add_new_title">
                            <a>Tạo tài khoản mới</a>
                        </div>

                        <div class="user_add_new_logo">
                            <%= link_to (image_tag(("logo.png"))), image_path(url_for(("logo.png"))), rel: "gallery" , :href => pages_path%>
                        </div>

                        <div class="user_add_new_content">
                            <div class="user_add_new_label">
                                <a><%= f.label :name, "Tên đăng nhập*", class: "user_add_new_label_name" %></a>
                            </div>

                            <div class="user_add_new_input">
                                <%= f.text_field :name, autofocus: true, :required => true, class: 'form-control', placeholder: "Nhập họ và tên của bạn" %>
                            </div>
                        </div>
                        
                        <div class="user_add_new_content">
                            <div class="user_add_new_label">
                                <a><%= f.label :email, "Địa chỉ email*", class: "user_add_new_label_name" %></a>
                            </div>

                            <div class="user_add_new_input">
                                <%= f.email_field :email, autocomplete: "email", :required => true, class: "form-control", placeholder: "Nhập email của bạn" %>
                            </div>
                        </div>

                        <div class="user_add_new_content">
                            <div class="user_add_new_label">
                                <a><%= f.label :password, "Mật khẩu*", class: "user_add_new_label" %></a>
                            </div>

                            <div class="user_add_new_input">
                                <% if @minimum_password_length %>
                                <em>(<%= @minimum_password_length %> characters minimum)</em>
                                <% end %><br />
                                <%= f.password_field :password, autocomplete: "new-password", :required => true, class: "form-control", placeholder: "Mật khẩu ít nhất 6 kí tự gồm chữ in hoa, chữ số và biểu tượng" %>
                            </div>
                        </div>

                        <div class="user_add_new_content">
                            <div class="user_add_new_label">
                                <a><%= f.label :password_confirmation, "Xác nhận lại mật khẩu*", class: "user_add_new_label" %></a>
                            </div>

                            <div class="user_add_new_input">
                                <%= f.password_field :password_confirmation, autocomplete: "new-password", :required => true, class: "form-control", placeholder: "Nhập lại mật khẩu" %>
                            </div>
                        </div>

                        <div class="user_add_new_submit">
                            <%= f.submit "Tạo tài khoản", class: "user_add_new_form_submit" %>
                        </div>
                    <%end%>
                </div>
                <div class="user_add_new_form_right">
                    <div class="user_add_new_title">
                        <a><span>or</span></a>
                    </div>
                    <div class="login_with_google">
						<%= button_to user_google_oauth2_omniauth_authorize_path, method: :post do%>
							<i class="material-icons">mail</i> <span>Đăng kí bằng tài khoản Google</span>
						<%end%>
                    </div>
                    <div class="login_with_facebook">
                        <%= button_to user_facebook_omniauth_authorize_path, method: :post do%>
							<i class="material-icons">facebook</i> <span>Đăng kí bằng tài khoản Facebook</span>
						<%end%>
                    </div>
                </div>
                
                <p class="user_add_new_loginhere">
                    Bạn đã có tài khoản? <%= link_to " Đăng nhập", new_user_session_path %>
                </p>
            </div>
        </div>
    </div>
<%end%>
