<!-- reviews container -->
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
    </head>

    <body>
        <div class="user_review_block">
            <div class="user_review_left">
                <div class="user_avatar">
                    <%if @company.avatar.attached?%>
                        <%= link_to (image_tag(@company.avatar)), image_path(url_for(@company.avatar)), rel: "gallery" , :href => company_path(@company)%>
                    <%end%>
                </div>
            </div>

            <div class="user_review_cotent">
                <div class="user_review_title">
                    <t><%= company_review.review_title %></t>
                </div>

                <div class="user_review_score_star">
                    <div class="review_point">
                        <strong><%=company_review.average_score.to_i%>.0 </strong>
                    </div>
                    <div class="review_score_star">
                            <%company_review.average_score.to_i.times do%>
                                <i class="material-icons checked">star</i>
                            <%end%>
                            <%(5 - company_review.average_score.to_i).to_i.times do%>
                                <i class="material-icons checked_out">star_outline</i>
                            <%end%>
                    </div>
                </div>
                <div class="user_review_times">
                    <%# <strong><%= company_review.user_name</strong> %>
                    <%# <t> . <%= time_ago_in_words(company_review.created_at) </t> %>
                </div>

                <div class="user_review_status">
                        <t><%= company_review.position %></t>
                        <%if company_review.working_status%>
                            <t> . Nhân viên đang làm việc</t>
                        <%else%>
                            <t> . Đã nghỉ việc</t>
                        <%end%>
                        <t> . <%= time_ago_in_words(company_review.created_at) %></t>
                </div>

                <div class="user_review_pros">
                    <div class="user_review_pros_label">
                        <i class="material-icons checked">check_circle_outline</i>
                        <strong>Ưu điểm</strong>
                    </div>
                    <div class="user_review_pros_content">
                        <t><%= company_review.pros %></t>
                    </div>
                </div>

                <div class="user_review_cons">
                    <div class="user_review_cons_label">
                        <i class="material-icons checked">clear</i>
                        <strong>Nhược điểm </strong>
                    </div>
                    <div class="user_review_cons_content">
                        <t><%= company_review.cons %></t>
                    </div>
                </div>

                <div class="user_review_body">
                    <t><%= company_review.review %></t>
                </div>

                <div class="review_info">
                    <div class="review_toolbar">
                        <t><%= company_review.company_reply_reviews.count%></t>
                        <button class="reply_btn" onclick="myFunctionReplyReview()"><i class="material-icons">chat_bubble</i> Trả lời </button>

                        <t><%= company_review.company_like_reviews.count%></t>
                        <%= link_to '<button class="like_btn"><i class="material-icons">thumb_up</i> Thích </button>'.html_safe, company_company_review_company_like_reviews_path(@company, company_review), method: :post%>
                        
                        <t><%= company_review.company_dislike_reviews.count%></t>
                        <%= link_to '<button class="dislike_btn"><i class="material-icons">thumb_down</i> Không thích </button>'.html_safe, company_company_review_company_dislike_reviews_path(@company, company_review), method: :post%>
                    </div>
                </div>

                <div class="review_feedback">
                    <div class="report_button">
                        <%= link_to '<button type="submit"><i class="material-icons">flag</i> Báo cáo vi phạm</button>'.html_safe, sessions_new_path %>
                    </div>

                    <div class="share_button">
                        <%= link_to '<button type="submit"><i class="material-icons">share</i> Chia sẻ</button>'.html_safe, new_user_path %>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="new_reply_review_form" id = "mydivReview">
            <%= form_for [@company, company_review, CompanyReplyReview.new] do |f| %>

                <div class="new_reply_review_content">
                    <div class="new_reply_review_input_review">
                        <%= f.text_field :reply_content, class: "new_reply_review_form_input_review", placeholder: "  Gửi trả lời" %>
                    </div>
                </div>

                <div class="new_reply_review_submit">
                    <button type="submit" class="new_reply_review_form_submit">
                        <i class="material-icons">send</i>
                    </button>
                </div>
            <%end%>
        </div>

        <script>
            function myFunctionReplyReview() {
                var x = document.getElementById("mydivReview");
                if (x.style.display == "none") {
                    x.style.display = "block";
                } else {
                    x.style.display = "none";
                }
            }
        </script>

        <div class="reply_review_content">
            <%if company_review.company_reply_reviews.count > 0%>
                <button class="show_hide_reply_btn_show" onclick="myFunctionReplyShowHide()">Xem thêm <%=company_review.company_reply_reviews.count%> trả lời cũ hơn...</button>
                <div class="review_reply" id = "mydivShowHide">
                    <%= render company_review.company_reply_reviews %>
                </div>
            <%end%>
            <script>
                function myFunctionReplyShowHide() {
                    var x = document.getElementById("mydivShowHide");
                    if (x.style.display == "none") {
                        x.style.display = "block";
                    } else {
                        x.style.display = "none";
                    }
                }
            </script>
        </div>
    </body>
</html>