<div class="container">
	<div class="new_review_form">
		<%= form_for [@company, CompanyReview.new] do |f| %>
			<div class="row">
				<div class="col-sm-8">
					<div class="new_review_title_block">
						<div class="new_review_title">
							<h3><%=t(:review)%> <%=@company.name%></h3>
							<a><%=t(:form_review_sub_1)%> <%=@company.name%>, <%=t(:form_review_sub_2)%> ...</a>
						</div>
						<div class="company_review_image">
							<%if @company.avatar?%>
								<%= image_tag @company.avatar.thumb.url %>
							<%else%>
								<%= image_tag "defaults/company_avatar_default.png" %>
							<%end%>
						</div>
					</div>

					<div class="new_review_title_sub">
						<a><%=t(:form_require_left)%> <span>'*'</span> <%=t(:form_require_right)%></a>
					</div>

					<div class="new_review_section">
						<div class="new_review_content">
							<div class="row">
								<div class="col-sm-6">
									<div class="new_review_score_label">
										<a><%= f.label :score, t(:form_review_1), class: "new_review_label_name" %><span>*</span></a>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="new_review_score_input">
										<div class="new_review_form_score_input">
											<%= f.number_field :score, :required => true, readonly: true, :id => "score_score_id", :value => ''%>
										</div>

										<div class="new_review_score_star_block">
											<button type="button" class="btnrating_score" data-attr="1" id="rating-star-score-1">
												<i class="material-icons-outlined">circle </i>
											</button>

											<button type="button" class="btnrating_score" data-attr="2" id="rating-star-score-2">
												<i class="material-icons-outlined">circle </i>
											</button>

											<button type="button" class="btnrating_score" data-attr="3" id="rating-star-score-3">
												<i class="material-icons-outlined">circle </i>
											</button>

											<button type="button" class="btnrating_score" data-attr="4" id="rating-star-score-4">
												<i class="material-icons-outlined">circle </i>
											</button>
											
											<button type="button" class="btnrating_score" data-attr="5" id="rating-star-score-5">
												<i class="material-icons-outlined">circle </i>
											</button>
										</div>

										<script>
											jQuery(document).ready(function($){
					
												$(".btnrating_score").on('click',(function(e) {
												
												var previous_value = $("#selected_rating").val();
												
												var selected_value = $(this).attr("data-attr");
												$("#selected_rating").val(selected_value);

												$("#score_score_id").val(selected_value).attr("disable","false");
												
												for (i = 1; i <= selected_value; ++i) {
													$("#rating-star-score-"+i).toggleClass('btn-warning');
													$("#rating-star-score-"+i).toggleClass('btn-default');
												}
												
												for (ix = 1; ix <= previous_value; ++ix) {
													$("#rating-star-score-"+ix).toggleClass('btn-warning');
													$("#rating-star-score-"+ix).toggleClass('btn-default');
												}
												
												}));
											});
										</script>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="new_review_section">
						<div class="new_review_content">
							<div class="new_review_label">
								<a><%= f.label :position, t(:form_review_2), class: "new_review_label_name" %><span>*</span></a>
							</div>

							<div class="new_review_input">
								<%= f.text_field :position, :required => true, class: "form-control", placeholder: t(:form_review_2_sub) %>
							</div>
						</div>

						<div class="new_review_content">
							<div class="new_review_label">
								<a><%= f.label :working_status, t(:form_review_3), class: "new_review_label_name" %><span>*</span></a>
							</div>

							<div class="new_review_input">
								<div class="new_review_input_radio">
									<%=f.collection_radio_buttons :working_status, [[true, t(:yes)] ,[false, t(:no)]], :first, :last, { checked: true }%>
								</div>
							</div>
						</div>

						<div class="new_review_content">
							<div class="new_review_label">
								<a><%= f.label :working_time, t(:form_review_4), class: "new_review_label_name" %><span>*</span></a>
							</div>

							<div class="new_review_input">
								<%= f.select(:working_time, options_for_select(["6 tháng", "1 năm", "2 năm", "3 năm", "5 năm", "Nhiều hơn 5 năm"]), {include_blank: false}, { :class => 'form-select' }) %>
							</div>
						</div>
					</div>

					<div class="new_review_section">
						<div class="new_review_content">
							<div class="new_review_label">
								<a><%= f.label :review_title, t(:form_review_5), class: "new_review_label" %><span>*</span></a>
							</div>
							
							<div class="new_review_input">
								<%= f.text_field :review_title, class: "form-control", placeholder: t(:form_review_5_sub) %>
							</div>
						</div>

						<div class="new_review_content">
							<div class="new_review_label">
								<a><%= f.label :review, t(:form_review_6), class: "new_review_label" %><span>*</span></a>
							</div>
							
							<div class="new_review_input">
								<%= f.text_area :review, :class => "tinymce", data: { tinymce_target: 'mini' }%>
								<%= tinymce :mini %>
							</div>
						</div>
						<div class="new_review_content">
							<div class="new_review_label">
								<a><i class="material-icons-outlined checked">check</i><%= f.label :pros, t(:form_review_7), class: "new_review_label_name" %></a>
							</div>

							<div class="new_review_input">
								<%= f.text_area :pros, :class => "tinymce"%>
								<%= tinymce :mini %>
							</div>
						</div>

						<div class="new_review_content">
							<div class="new_review_label">
								<a><i class="material-icons-outlined checked">clear</i><%= f.label :cons, t(:form_review_8), class: "new_review_label_name" %></a>
							</div>

							<div class="new_review_input">
								<%= f.text_area :cons, :class => "tinymce"%>
								<%= tinymce :mini %>
							</div>
						</div>
						
						<div class="new_review_content">
							<div class="new_review_label">
								<a><%= f.label :recommend, t(:form_review_9), class: "new_review_label_name" %><span>*</span></a>
							</div>

							<div class="new_review_input">
								<div class="new_review_input_radio">
									<%=f.collection_radio_buttons :recommend, [[true, t(:yes)] ,[false, t(:no)]], :first, :last, { checked: true }%>
								</div>
							</div>
						</div>
					</div>
				
					<div class="new_review_section">
						<div class="new_review_label_sub">
							<span><%=t(:form_review_10)%> </span>
						</div>
						<div class="new_review_content">
							<div class="row">
								<div class="col-sm-6">
									<div class="new_review_score_label">
										<a><%= f.label :work_env_score, t(:env_review), class: "new_review_label_name" %></a>
									</div>
								</div>

								<div class="col-sm-6">
									<div class="new_review_score_input">
										<div class="new_review_form_score_input">
											<%= f.number_field :work_env_score, readonly: true, :id => "work_env_score_id", :value => ''%>
										</div>

										<div class="new_review_score_star_block">
											<button type="button" class="btnrating_work_env" data-attr="1" id="rating-star-work_env-1">
												<i class="material-icons-outlined">circle </i>
											</button>

											<button type="button" class="btnrating_work_env" data-attr="2" id="rating-star-work_env-2">
												<i class="material-icons-outlined">circle </i>
											</button>

											<button type="button" class="btnrating_work_env" data-attr="3" id="rating-star-work_env-3">
												<i class="material-icons-outlined">circle </i>
											</button>

											<button type="button" class="btnrating_work_env" data-attr="4" id="rating-star-work_env-4">
												<i class="material-icons-outlined">circle </i>
											</button>
											
											<button type="button" class="btnrating_work_env" data-attr="5" id="rating-star-work_env-5">
												<i class="material-icons-outlined">circle </i>
											</button>
										</div>

										<script>
											jQuery(document).ready(function($){
					
												$(".btnrating_work_env").on('click',(function(e) {
												
												var previous_value = $("#selected_rating").val();
												
												var selected_value = $(this).attr("data-attr");
												$("#selected_rating").val(selected_value);

												$("#work_env_score_id").val(selected_value).attr("disable","false");
												
												for (i = 1; i <= selected_value; ++i) {
													$("#rating-star-work_env-"+i).toggleClass('btn-warning');
													$("#rating-star-work_env-"+i).toggleClass('btn-default');
												}
												
												for (ix = 1; ix <= previous_value; ++ix) {
													$("#rating-star-work_env-"+ix).toggleClass('btn-warning');
													$("#rating-star-work_env-"+ix).toggleClass('btn-default');
												}
												
												}));
											});
										</script>
									</div>
								</div>
							</div>
						</div>

						<div class="new_review_content">
							<div class="row">
								<div class="col-sm-6">	
									<div class="new_review_score_label">
										<a><%= f.label :salary_score, t(:salary_review), class: "new_review_label_name" %></a>
									</div>
								</div>
								<div class="col-sm-6">	
									<div class="new_review_score_input">
										<div class="new_review_form_score_input">
											<%= f.number_field :salary_score, readonly: true, :id => "salary_score_id", :value => ''%>
										</div>

										<div class="new_review_score_star_block">
											<button type="button" class="btnrating_salary" data-attr="1" id="rating-star-salary-1">
												<i class="material-icons-outlined">circle </i>
											</button>

											<button type="button" class="btnrating_salary" data-attr="2" id="rating-star-salary-2">
												<i class="material-icons-outlined">circle </i>
											</button>

											<button type="button" class="btnrating_salary" data-attr="3" id="rating-star-salary-3">
												<i class="material-icons-outlined">circle </i>
											</button>

											<button type="button" class="btnrating_salary" data-attr="4" id="rating-star-salary-4">
												<i class="material-icons-outlined">circle </i>
											</button>
											
											<button type="button" class="btnrating_salary" data-attr="5" id="rating-star-salary-5">
												<i class="material-icons-outlined">circle </i>
											</button>
										</div>

										<script>
											jQuery(document).ready(function($){
					
												$(".btnrating_salary").on('click',(function(e) {
												
												var previous_value = $("#selected_rating").val();
												
												var selected_value = $(this).attr("data-attr");
												$("#selected_rating").val(selected_value);

												$("#salary_score_id").val(selected_value).attr("disable","false");
												
												for (i = 1; i <= selected_value; ++i) {
													$("#rating-star-salary-"+i).toggleClass('btn-warning');
													$("#rating-star-salary-"+i).toggleClass('btn-default');
												}
												
												for (ix = 1; ix <= previous_value; ++ix) {
													$("#rating-star-salary-"+ix).toggleClass('btn-warning');
													$("#rating-star-salary-"+ix).toggleClass('btn-default');
												}
												
												}));
											});
										</script>
									</div>
								</div>
							</div>
						</div>

						<div class="new_review_content">
							<div class="row">
								<div class="col-sm-6">
									<div class="new_review_score_label">
										<a><%= f.label :ot_score, t(:ot_review), class: "new_review_label_name" %></a>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="new_review_score_input">
										<div class="new_review_form_score_input">
											<%= f.number_field :ot_score, readonly: true, :id => "ot_score_id", :value => ''%>
										</div>

										<div class="new_review_score_star_block">
											<button type="button" class="btnrating_ot" data-attr="1" id="rating-star-ot-1">
												<i class="material-icons-outlined">circle </i>
											</button>

											<button type="button" class="btnrating_ot" data-attr="2" id="rating-star-ot-2">
												<i class="material-icons-outlined">circle </i>
											</button>

											<button type="button" class="btnrating_ot" data-attr="3" id="rating-star-ot-3">
												<i class="material-icons-outlined">circle </i>
											</button>

											<button type="button" class="btnrating_ot" data-attr="4" id="rating-star-ot-4">
												<i class="material-icons-outlined">circle </i>
											</button>
											
											<button type="button" class="btnrating_ot" data-attr="5" id="rating-star-ot-5">
												<i class="material-icons-outlined">circle </i>
											</button>
										</div>

										<script>
											jQuery(document).ready(function($){
					
												$(".btnrating_ot").on('click',(function(e) {
												
												var previous_value = $("#selected_rating").val();
												
												var selected_value = $(this).attr("data-attr");
												$("#selected_rating").val(selected_value);

												$("#ot_score_id").val(selected_value).attr("disable","false");
												
												for (i = 1; i <= selected_value; ++i) {
													$("#rating-star-ot-"+i).toggleClass('btn-warning');
													$("#rating-star-ot-"+i).toggleClass('btn-default');
												}
												
												for (ix = 1; ix <= previous_value; ++ix) {
													$("#rating-star-ot-"+ix).toggleClass('btn-warning');
													$("#rating-star-ot-"+ix).toggleClass('btn-default');
												}
												
												}));
											});
										</script>
									</div>
								</div>
							</div>
						</div>

						<div class="new_review_content">
							<div class="row">
								<div class="col-sm-6">
									<div class="new_review_score_label">
										<a><%= f.label :manager_score, t(:mng_review), class: "new_review_label_name" %></a>
									</div>
								</div>

								<div class="col-sm-6">
									<div class="new_review_score_input">
										<div class="new_review_form_score_input">
											<%= f.number_field :manager_score, readonly: true, :id => "manager_score_id", :value => ''%>
										</div>

										<div class="new_review_score_star_block">
											<button type="button" class="btnrating_manager" data-attr="1" id="rating-star-manager-1">
												<i class="material-icons-outlined">circle </i>
											</button>

											<button type="button" class="btnrating_manager" data-attr="2" id="rating-star-manager-2">
												<i class="material-icons-outlined">circle </i>
											</button>

											<button type="button" class="btnrating_manager" data-attr="3" id="rating-star-manager-3">
												<i class="material-icons-outlined">circle </i>
											</button>

											<button type="button" class="btnrating_manager" data-attr="4" id="rating-star-manager-4">
												<i class="material-icons-outlined">circle </i>
											</button>
											
											<button type="button" class="btnrating_manager" data-attr="5" id="rating-star-manager-5">
												<i class="material-icons-outlined">circle </i>
											</button>
										</div>

										<script>
											jQuery(document).ready(function($){
					
												$(".btnrating_manager").on('click',(function(e) {
												
												var previous_value = $("#selected_rating").val();
												
												var selected_value = $(this).attr("data-attr");
												$("#selected_rating").val(selected_value);

												$("#manager_score_id").val(selected_value).attr("disable","false");
												
												for (i = 1; i <= selected_value; ++i) {
													$("#rating-star-manager-"+i).toggleClass('btn-warning');
													$("#rating-star-manager-"+i).toggleClass('btn-default');
												}
												
												for (ix = 1; ix <= previous_value; ++ix) {
													$("#rating-star-manager-"+ix).toggleClass('btn-warning');
													$("#rating-star-manager-"+ix).toggleClass('btn-default');
												}
												
												}));
											});
										</script>
									</div>
								</div>
							</div>
						</div>

						<div class="new_review_content">
							<div class="row">
								<div class="col-sm-6">
									<div class="new_review_score_label">
										<a><%= f.label :career_score, t(:career_review), class: "new_review_label_name" %></a>
									</div>
								</div>

								<div class="col-sm-6">
									<div class="new_review_score_input">
										<div class="new_review_form_score_input">
											<%= f.number_field :career_score, readonly: true, :id => "career_score_id", :value => ''%>
										</div>

										<div class="new_review_score_star_block">
											<button type="button" class="btnrating_career" data-attr="1" id="rating-star-career-1">
												<i class="material-icons-outlined">circle </i>
											</button>

											<button type="button" class="btnrating_career" data-attr="2" id="rating-star-career-2">
												<i class="material-icons-outlined">circle </i>
											</button>

											<button type="button" class="btnrating_career" data-attr="3" id="rating-star-career-3">
												<i class="material-icons-outlined">circle </i>
											</button>

											<button type="button" class="btnrating_career" data-attr="4" id="rating-star-career-4">
												<i class="material-icons-outlined">circle </i>
											</button>
											
											<button type="button" class="btnrating_career" data-attr="5" id="rating-star-career-5">
												<i class="material-icons-outlined">circle </i>
											</button>
										</div>

										<script>
											jQuery(document).ready(function($){
					
												$(".btnrating_career").on('click',(function(e) {
												
												var previous_value = $("#selected_rating").val();
												
												var selected_value = $(this).attr("data-attr");
												$("#selected_rating").val(selected_value);

												$("#career_score_id").val(selected_value).attr("disable","false");
												
												for (i = 1; i <= selected_value; ++i) {
													$("#rating-star-career-"+i).toggleClass('btn-warning');
													$("#rating-star-career-"+i).toggleClass('btn-default');
												}
												
												for (ix = 1; ix <= previous_value; ++ix) {
													$("#rating-star-career-"+ix).toggleClass('btn-warning');
													$("#rating-star-career-"+ix).toggleClass('btn-default');
												}
												
												}));
											});
										</script>
									</div>
								</div>
							</div>
						</div>

						<div class="new_review_score_description">
							<a>1<i class="material-icons-outlined">circle </i>: <%=t(:point_1)%></a>
							<a>2<i class="material-icons-outlined">circle </i>: <%=t(:point_2)%></a>
							<a>3<i class="material-icons-outlined">circle </i>: <%=t(:point_3)%></a>
							<a>4<i class="material-icons-outlined">circle </i>: <%=t(:point_4)%></a>
							<a>5<i class="material-icons-outlined">circle </i>: <%=t(:point_5)%></a>
						</div>
					</div>

					<div class="new_review_submit">
						<%= f.submit t(:send), class: "new_review_form_submit" %>
					</div>
				</div>

				<div class="col-sm-4">
					<div class="review_policy">
						<div class="review_policy_title">
							<a><%=t(:form_help_cmn)%></a>
						</div>
						<div class="review_policy_content">
							<div class="review_policy_content_index">
								· <%=t(:form_help_cmn_1)%>
							</div>
							<div class="review_policy_content_index">
								· <%=t(:form_help_cmn_2)%>
							</div>
							<div class="review_policy_content_index">
								· <%=t(:form_help_cmn_3)%>
							</div>
							<div class="review_policy_content_index">
								· <%=t(:form_help_cmn_4)%>
							</div>
							<div class="review_policy_content_link">
								<%=t(:form_help_cmn_5)%> 
								<a href="<%=term_path%>"><%=t(:term_and_service)%> </a>
							</div>
						</div>
					</div>
				</div>
			</div>
		<%end%>
	</div>
</div>