<div class="container">
	<div class="new_review_form">
		<%= form_for [@company, CompanyReview.new] do |f| %>
			<div class="row">
				<div class="col-sm-8">
					<div class="new_review_title_block">
						<div class="new_review_title">
							<h3>Review <%=@company.name%></h3>
							<a>Bạn sẽ chỉ mất ít phút để đánh giá <%=@company.name%>, review của bạn sẽ giúp ích cho rất nhiều người ...</a>
						</div>
						<div class="company_review_image">
							<%if @company.avatar?%>
								<img><%= image_tag @company.avatar.thumb.url %>
							<%end%>
						</div>
					</div>

					<div class="new_review_title_sub">
						<span>Note: Mục có dấu '*' là bắt buộc</span>
					</div>
					<%if user_signed_in?%>
						<div class="new_review_section">
							<div class="new_review_content">
								<div class="new_review_input_switch">
									<div class="new_review_input_switch_button">
										<div class="custom-control custom-switch custom-switch-lg">
											<%= f.check_box :privacy, class: "custom-control-input", id: "customSwitch1"%>
											<label class="custom-control-label" for="customSwitch1">
												<a>Bạn có muốn ẩn thông tin cá nhân không?</a>
											</label>
										</div>
									</div>
									<div class="new_review_input_note">
									 	<a>Thông tin về tên, địa chỉ email, profile ... của bạn sẽ không được hiển thị</a>
									</div>
								</div>
							</div>
						</div>
					<%end%>

					<div class="new_review_section">
						<div class="new_review_total_score_content">
							<div class="new_review_score_label">
								<a><%= f.label :score, "Bạn đánh giá công ty của bạn bao nhiêu điểm*", class: "new_review_label_name" %></a>
							</div>

							<div class="new_review_score_input">
								<div class="new_review_form_score_input">
									<%= f.number_field :score, :required => true, readonly: true, :id => "score_score_id", :value => ''%>
								</div>

								<div class="new_review_score_star_block">
									<button type="button" class="btnrating_score" data-attr="1" id="rating-star-score-1">
										<i class="material-icons-outlined">circle </i>
									</button>

									<button type="button" class="btnrating_score" data-attr="2" id="rating-star-score-2">
										<i class="material-icons-outlined">circle </i>
									</button>

									<button type="button" class="btnrating_score" data-attr="3" id="rating-star-score-3">
										<i class="material-icons-outlined">circle </i>
									</button>

									<button type="button" class="btnrating_score" data-attr="4" id="rating-star-score-4">
										<i class="material-icons-outlined">circle </i>
									</button>
									
									<button type="button" class="btnrating_score" data-attr="5" id="rating-star-score-5">
										<i class="material-icons-outlined">circle </i>
									</button>
								</div>

								<script>
									jQuery(document).ready(function($){
			
										$(".btnrating_score").on('click',(function(e) {
										
										var previous_value = $("#selected_rating").val();
										
										var selected_value = $(this).attr("data-attr");
										$("#selected_rating").val(selected_value);

										$("#score_score_id").val(selected_value).attr("disable","false");
										
										for (i = 1; i <= selected_value; ++i) {
											$("#rating-star-score-"+i).toggleClass('btn-warning');
											$("#rating-star-score-"+i).toggleClass('btn-default');
										}
										
										for (ix = 1; ix <= previous_value; ++ix) {
											$("#rating-star-score-"+ix).toggleClass('btn-warning');
											$("#rating-star-score-"+ix).toggleClass('btn-default');
										}
										
										}));
									});
								</script>
							</div>
						</div>
					</div>

					<div class="new_review_section">
						<div class="new_review_content">
							<div class="new_review_label">
								<a><%= f.label :position, "Vị trí làm việc của bạn tại công ty*", class: "new_review_label_name" %></a>
							</div>

							<div class="new_review_input">
								<%= f.text_field :position, :required => true, class: "form-control", placeholder: "Nhập vị trí làm việc hiện tại của bạn" %>
							</div>
						</div>

						<div class="new_review_content">
							<div class="new_review_label">
								<a><%= f.label :working_status, "Bạn có còn làm việc ở đây không?", class: "new_review_label_name" %></a>
							</div>

							<div class="new_review_input">
								<div class="new_review_input_radio">
									<%=f.collection_radio_buttons :working_status, [[true, "Có"] ,[false, "Không"]], :first, :last, { checked: true }%>
								</div>
							</div>
						</div>

						<div class="new_review_content">
							<div class="new_review_label">
								<a><%= f.label :working_time, "Bạn đã làm việc ở đây được bao lâu?", class: "new_review_label_name" %></a>
							</div>

							<div class="new_review_input">
								<%= f.select(:working_time, options_for_select(["6 tháng", "1 năm", "2 năm", "3 năm", "5 năm", "Nhiều hơn 5 năm"]), {include_blank: false}, { :class => 'form-control' }) %>
							</div>
						</div>
					
						<div class="new_review_content">
							<div class="new_review_label">
								<a><%= f.label :pros, "Ưu điểm của công ty này(ít nhất 3 ưu điểm)*", class: "new_review_label_name" %></a>
							</div>

							<div class="new_review_input">
								<%= f.cktext_area :pros, class: "form-control-rich-text customized-min-height", ckeditor: { language: 'us', toolbar: "mini"}, placeholder: "Hãy nhập ít nhất 3 ưu điểm của công ty này" %>
							</div>
						</div>

						<div class="new_review_content">
							<div class="new_review_label">
								<a><%= f.label :cons, "Nhược điểm của công ty này(ít nhất 3 nhược điểm)*", class: "new_review_label_name" %></a>
							</div>

							<div class="new_review_input">
								<%= f.cktext_area :cons, class: "form-control-rich-text customized-min-height", ckeditor: { language: 'us', toolbar: "mini"}, placeholder: "Hãy nhập ít nhất 3 điểm không tốt của công ty này" %>
							</div>
						</div>
					</div>
				
					<div class="new_review_section">
						<div class="new_review_label_sub">
							<span>Rating công ty của bạn theo các tiêu chí cụ thể(tùy chọn) </span>
						</div>
						<div class="new_review_work_env_content">
							<div class="new_review_work_env_label">
								<a><%= f.label :work_env_score, "Môi trường làm việc, văn hóa công ty", class: "new_review_label_name" %></a>
							</div>

							<div class="new_review_work_env_input">
								<div class="new_review_form_work_env_input">
									<%= f.number_field :work_env_score, readonly: true, :id => "work_env_score_id", :value => ''%>
								</div>

								<div class="new_review_work_env_star_block">
									<button type="button" class="btnrating_work_env" data-attr="1" id="rating-star-work_env-1">
										<i class="material-icons-outlined">circle </i>
									</button>

									<button type="button" class="btnrating_work_env" data-attr="2" id="rating-star-work_env-2">
										<i class="material-icons-outlined">circle </i>
									</button>

									<button type="button" class="btnrating_work_env" data-attr="3" id="rating-star-work_env-3">
										<i class="material-icons-outlined">circle </i>
									</button>

									<button type="button" class="btnrating_work_env" data-attr="4" id="rating-star-work_env-4">
										<i class="material-icons-outlined">circle </i>
									</button>
									
									<button type="button" class="btnrating_work_env" data-attr="5" id="rating-star-work_env-5">
										<i class="material-icons-outlined">circle </i>
									</button>
								</div>

								<script>
									jQuery(document).ready(function($){
			
										$(".btnrating_work_env").on('click',(function(e) {
										
										var previous_value = $("#selected_rating").val();
										
										var selected_value = $(this).attr("data-attr");
										$("#selected_rating").val(selected_value);

										$("#work_env_score_id").val(selected_value).attr("disable","false");
										
										for (i = 1; i <= selected_value; ++i) {
											$("#rating-star-work_env-"+i).toggleClass('btn-warning');
											$("#rating-star-work_env-"+i).toggleClass('btn-default');
										}
										
										for (ix = 1; ix <= previous_value; ++ix) {
											$("#rating-star-work_env-"+ix).toggleClass('btn-warning');
											$("#rating-star-work_env-"+ix).toggleClass('btn-default');
										}
										
										}));
									});
								</script>
							</div>
						</div>

						<div class="new_review_salary_content">
							<div class="new_review_salary_label">
								<a><%= f.label :salary_score, "Lương thưởng, chế độ đãi ngộ của công ty", class: "new_review_label_name" %></a>
							</div>

							<div class="new_review_salary_input">
								<div class="new_review_form_salary_input">
									<%= f.number_field :salary_score, readonly: true, :id => "salary_score_id", :value => ''%>
								</div>

								<div class="new_review_salary_star_block">
									<button type="button" class="btnrating_salary" data-attr="1" id="rating-star-salary-1">
										<i class="material-icons-outlined">circle </i>
									</button>

									<button type="button" class="btnrating_salary" data-attr="2" id="rating-star-salary-2">
										<i class="material-icons-outlined">circle </i>
									</button>

									<button type="button" class="btnrating_salary" data-attr="3" id="rating-star-salary-3">
										<i class="material-icons-outlined">circle </i>
									</button>

									<button type="button" class="btnrating_salary" data-attr="4" id="rating-star-salary-4">
										<i class="material-icons-outlined">circle </i>
									</button>
									
									<button type="button" class="btnrating_salary" data-attr="5" id="rating-star-salary-5">
										<i class="material-icons-outlined">circle </i>
									</button>
								</div>

								<script>
									jQuery(document).ready(function($){
			
										$(".btnrating_salary").on('click',(function(e) {
										
										var previous_value = $("#selected_rating").val();
										
										var selected_value = $(this).attr("data-attr");
										$("#selected_rating").val(selected_value);

										$("#salary_score_id").val(selected_value).attr("disable","false");
										
										for (i = 1; i <= selected_value; ++i) {
											$("#rating-star-salary-"+i).toggleClass('btn-warning');
											$("#rating-star-salary-"+i).toggleClass('btn-default');
										}
										
										for (ix = 1; ix <= previous_value; ++ix) {
											$("#rating-star-salary-"+ix).toggleClass('btn-warning');
											$("#rating-star-salary-"+ix).toggleClass('btn-default');
										}
										
										}));
									});
								</script>
							</div>
						</div>

						<div class="new_review_ot_content">
							<div class="new_review_ot_label">
								<a><%= f.label :ot_score, "Chế độ làm thêm giờ, OT", class: "new_review_label_name" %></a>
							</div>

							<div class="new_review_ot_input">
								<div class="new_review_form_ot_input">
									<%= f.number_field :ot_score, readonly: true, :id => "ot_score_id", :value => ''%>
								</div>

								<div class="new_review_ot_star_block">
									<button type="button" class="btnrating_ot" data-attr="1" id="rating-star-ot-1">
										<i class="material-icons-outlined">circle </i>
									</button>

									<button type="button" class="btnrating_ot" data-attr="2" id="rating-star-ot-2">
										<i class="material-icons-outlined">circle </i>
									</button>

									<button type="button" class="btnrating_ot" data-attr="3" id="rating-star-ot-3">
										<i class="material-icons-outlined">circle </i>
									</button>

									<button type="button" class="btnrating_ot" data-attr="4" id="rating-star-ot-4">
										<i class="material-icons-outlined">circle </i>
									</button>
									
									<button type="button" class="btnrating_ot" data-attr="5" id="rating-star-ot-5">
										<i class="material-icons-outlined">circle </i>
									</button>
								</div>

								<script>
									jQuery(document).ready(function($){
			
										$(".btnrating_ot").on('click',(function(e) {
										
										var previous_value = $("#selected_rating").val();
										
										var selected_value = $(this).attr("data-attr");
										$("#selected_rating").val(selected_value);

										$("#ot_score_id").val(selected_value).attr("disable","false");
										
										for (i = 1; i <= selected_value; ++i) {
											$("#rating-star-ot-"+i).toggleClass('btn-warning');
											$("#rating-star-ot-"+i).toggleClass('btn-default');
										}
										
										for (ix = 1; ix <= previous_value; ++ix) {
											$("#rating-star-ot-"+ix).toggleClass('btn-warning');
											$("#rating-star-ot-"+ix).toggleClass('btn-default');
										}
										
										}));
									});
								</script>
							</div>
						</div>

						<div class="new_review_manager_content">
							<div class="new_review_manager_label">
								<a><%= f.label :manager_score, "Trình độ quản lý, manager", class: "new_review_label_name" %></a>
							</div>

							<div class="new_review_manager_input">
								<div class="new_review_form_manager_input">
									<%= f.number_field :manager_score, readonly: true, :id => "manager_score_id", :value => ''%>
								</div>

								<div class="new_review_manager_star_block">
									<button type="button" class="btnrating_manager" data-attr="1" id="rating-star-manager-1">
										<i class="material-icons-outlined">circle </i>
									</button>

									<button type="button" class="btnrating_manager" data-attr="2" id="rating-star-manager-2">
										<i class="material-icons-outlined">circle </i>
									</button>

									<button type="button" class="btnrating_manager" data-attr="3" id="rating-star-manager-3">
										<i class="material-icons-outlined">circle </i>
									</button>

									<button type="button" class="btnrating_manager" data-attr="4" id="rating-star-manager-4">
										<i class="material-icons-outlined">circle </i>
									</button>
									
									<button type="button" class="btnrating_manager" data-attr="5" id="rating-star-manager-5">
										<i class="material-icons-outlined">circle </i>
									</button>
								</div>

								<script>
									jQuery(document).ready(function($){
			
										$(".btnrating_manager").on('click',(function(e) {
										
										var previous_value = $("#selected_rating").val();
										
										var selected_value = $(this).attr("data-attr");
										$("#selected_rating").val(selected_value);

										$("#manager_score_id").val(selected_value).attr("disable","false");
										
										for (i = 1; i <= selected_value; ++i) {
											$("#rating-star-manager-"+i).toggleClass('btn-warning');
											$("#rating-star-manager-"+i).toggleClass('btn-default');
										}
										
										for (ix = 1; ix <= previous_value; ++ix) {
											$("#rating-star-manager-"+ix).toggleClass('btn-warning');
											$("#rating-star-manager-"+ix).toggleClass('btn-default');
										}
										
										}));
									});
								</script>
							</div>
						</div>

						<div class="new_review_career_content">
							<div class="new_review_career_label">
								<a><%= f.label :career_score, "Cơ hội thăng tiến của bạn", class: "new_review_label_name" %></a>
							</div>

							<div class="new_review_career_input">
								<div class="new_review_form_career_input">
									<%= f.number_field :career_score, readonly: true, :id => "career_score_id", :value => ''%>
								</div>

								<div class="new_review_career_star_block">
									<button type="button" class="btnrating_career" data-attr="1" id="rating-star-career-1">
										<i class="material-icons-outlined">circle </i>
									</button>

									<button type="button" class="btnrating_career" data-attr="2" id="rating-star-career-2">
										<i class="material-icons-outlined">circle </i>
									</button>

									<button type="button" class="btnrating_career" data-attr="3" id="rating-star-career-3">
										<i class="material-icons-outlined">circle </i>
									</button>

									<button type="button" class="btnrating_career" data-attr="4" id="rating-star-career-4">
										<i class="material-icons-outlined">circle </i>
									</button>
									
									<button type="button" class="btnrating_career" data-attr="5" id="rating-star-career-5">
										<i class="material-icons-outlined">circle </i>
									</button>
								</div>

								<script>
									jQuery(document).ready(function($){
			
										$(".btnrating_career").on('click',(function(e) {
										
										var previous_value = $("#selected_rating").val();
										
										var selected_value = $(this).attr("data-attr");
										$("#selected_rating").val(selected_value);

										$("#career_score_id").val(selected_value).attr("disable","false");
										
										for (i = 1; i <= selected_value; ++i) {
											$("#rating-star-career-"+i).toggleClass('btn-warning');
											$("#rating-star-career-"+i).toggleClass('btn-default');
										}
										
										for (ix = 1; ix <= previous_value; ++ix) {
											$("#rating-star-career-"+ix).toggleClass('btn-warning');
											$("#rating-star-career-"+ix).toggleClass('btn-default');
										}
										
										}));
									});
								</script>
							</div>
						</div>

						<div class="new_review_content">
							<div class="new_review_label">
								<a><%= f.label :recommend, "Bạn có khuyến khích bạn bè làm việc tại đây không?", class: "new_review_label_name" %></a>
							</div>

							<div class="new_review_input">
								<div class="new_review_input_radio">
									<%=f.collection_radio_buttons :recommend, [[true, "Có"] ,[false, "Không"]], :first, :last, { checked: true }%>
								</div>
							</div>
						</div>

						<div class="new_review_description">
							<a>1<i class="material-icons-outlined">circle </i>: Rất không hài lòng</a>
							<a>2<i class="material-icons-outlined">circle </i>: Không hài lòng</a>
							<a>3<i class="material-icons-outlined">circle </i>: Hài lòng</a>
							<a>4<i class="material-icons-outlined">circle </i>: Rất hài lòng</a>
							<a>5<i class="material-icons-outlined">circle </i>: Tuyệt vời</a>
						</div>
					</div>

					<div class="new_review_section_content">
						<div class="new_review_label_sub">
							<span>Chia sẻ khác của bạn về công ty <%=@company.name%>(tùy chọn) </span>
						</div>
						<div class="new_review_content">
							<div class="new_review_label">
								<a><%= f.label :review_title, "Tiêu đề bài review", class: "new_review_label" %></a>
							</div>
							
							<div class="new_review_input">
								<%= f.text_field :review_title, class: "form-control", placeholder: "Nhập title cho bài đánh giá" %>
							</div>
						</div>

						<div class="new_review_content">
							<div class="new_review_label">
								<a><%= f.label :review, "Nhập nội dung bài đánh giá của bạn", class: "new_review_label" %></a>
							</div>
							
							<div class="new_review_input">
								<%= f.cktext_area :review, class: "form-control-rich-text customized-min-height", ckeditor: { language: 'us', toolbar: "mini"}, placeholder: "Nhập nội dung review của bạn" %>
							</div>
						</div>
					</div>

					<div class="new_review_submit">
						<%= f.submit "Gửi đánh giá", class: "new_review_form_submit" %>
					</div>
				</div>

				<div class="col-sm-4">
					<div class="review_policy">
						<div class="review_policy_title">
							<a>Quy định khi viết bài review</a>
						</div>
						<div class="review_policy_content">
							<div class="review_policy_content_index">
								· Không sử dụng từ ngữ mang ý xúc phạm, miệt thị người khác
							</div>
							<div class="review_policy_content_index">
								· Không sử dụng từ ngữ mang tính chất kích động, bạo lực
							</div>
							<div class="review_policy_content_index">
								· Không cung cấp thông tin cá nhân
							</div>
							<div class="review_policy_content_index">
								· Không cung cấp thông tin bảo mật, bí mật kinh doanh của công ty
							</div>
							<div class="review_policy_content_link">
								Cảm ơn bạn đã đưa ra những đánh giá chân thực nhất. Xem thêm thông tin chi tiết về 
								<a href="https://www.firework.vn/posts/policy">thỏa thuận sử dụng </a>
							</div>
						</div>
					</div>
				</div>
			</div>
		<%end%>
	</div>
</div>