<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
    </head>

    <body>
        <div class="review_score_content">
            <div class="review_score_title">
                <a>Review <%=@company.name%></a>
            </div>
            
            <%# Review in button %>
            <div class="review_new_button_side">
                <div class="review_new_button">
                    <%= link_to '<button type="submit"> <i class="material-icons">edit</i> <span> Viết Review</span> </button>'.html_safe, new_company_company_review_path(@company) %>
                </div>
            </div>

            <div class="review_score">
                <div class="col-sm-4">
                    <div class="review_score_total">
                        <div class="review_score_label">
                            <a>Đánh giá tổng quát</a>
                        </div>

                        <div class="review_score_star">
                            <div class="review_point">
                                <strong><%=rating_review_total_score.to_f.round(1)%> </strong>
                            </div>
                            <div class="review_score_star_des">
                                <%if rating_review_total_score > 0%>
                                    <%rating_review_total_score.to_i.times do%>
                                        <i class="material-icons checked">circle</i>
                                    <%end%>
                                    <%(5 - rating_review_total_score.to_i).to_i.times do%>
                                        <i class="material-icons checked_out">radio_button_unchecked</i>
                                    <%end%>
                                <%else%>
                                    <%5.times do%>
                                        <i class="material-icons checked_out">radio_button_unchecked</i>
                                    <%end%>
                                <%end%>
                            </div>
                        </div>

                        <div class="review_total_des">
                            <a>Dựa trên <%= @company.company_reviews.count%> đánh giá từ nhân viên</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="review_score_detail">
                        <div class="review_score_overview">
                            <div class="review_content">
                                <div class="review_point">
                                    <strong><%=rating_review_work_env_score.to_f.round(1)%></strong>
                                </div>
                                <div class="review_score_star">
                                    <i class="material-icons checked">radio_button_unchecked</i>
                                </div>
                                <div class="review_score_label">
                                    <a>Văn hóa công ty</a>
                                </div>
                            </div>
                        </div>

                        <div class="review_score_overview">
                            <div class="review_content">
                                <div class="review_point">
                                    <strong><%=rating_review_salary_score.to_f.round(1)%></strong>
                                </div>
                                <div class="review_score_star">
                                    <i class="material-icons checked">radio_button_unchecked</i>
                                </div>
                                <div class="review_score_label">
                                    <a>Lương thưởng</a>
                                </div>
                            </div>
                        </div>

                        <div class="review_score_overview">
                            <div class="review_content">
                                <div class="review_point">
                                    <strong><%=rating_review_ot_score.to_f.round(1)%></strong>
                                </div>
                                <div class="review_score_star">
                                    <i class="material-icons checked">radio_button_unchecked</i>
                                </div>
                                <div class="review_score_label">
                                    <a>Làm thêm giờ - OT</a>
                                </div>
                            </div>
                        </div>

                        <div class="review_score_overview">
                            <div class="review_content">
                                <div class="review_point">
                                    <strong><%=rating_review_manager_score.to_f.round(1)%></strong>
                                </div>
                                <div class="review_score_star">
                                    <i class="material-icons checked">radio_button_unchecked</i>
                                </div>
                                <div class="review_score_label">
                                    <a>Trình độ quản lý</a>
                                </div>
                            </div>
                        </div>

                        <div class="review_score_overview">
                            <div class="review_content">
                                <div class="review_point">
                                    <strong><%=rating_review_career_score.to_f.round(1)%></strong>
                                </div>
                                <div class="review_score_star">
                                    <i class="material-icons checked">radio_button_unchecked</i>
                                </div>
                                <div class="review_score_label">
                                    <a>Cơ hội thăng tiến</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="review_score_recommand">  
                        <div class="review_score_recommand_title">
                            <a>Khuyến khích làm việc tại đây</a>
                        </div>

                        <div class="circle-wrap">
                            <div class="circle">
                                
                                <div class="mask full">
                                    <div class="fill"></div>
                                </div>
                            
                                <div class="mask half">
                                    <div class="fill"></div>
                                </div>
                                
                                <div class="inside-circle">
                                    <%= rating_review_total_score.to_i * 20%>%
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>

                <style>
                    .circle-wrap .circle .mask .fill {
                        clip: rect(0px, 75px, 150px, 0px);
                        background-color: #feb100;
                    }
                    .circle-wrap .circle .mask.full,
                    .circle-wrap .circle .fill {
                        animation: fill ease-in-out 3s;
                        transform: rotate(<%= rating_review_total_score.to_i * 36%>deg);
                    }
                    
                    @keyframes fill {
                    0% {
                        transform: rotate(0deg);
                    }
                    100% {
                        transform: rotate(<%= rating_review_total_score.to_i * 36%>deg);
                    }
                }
                </style>
            </div>
        </div>
    <body>
</html>