<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Add icon library -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body>
        <div class="review_score">
            <div class="review_score_title">
                <t>Tổng quan chung</t>
            </div>
            
            <%# Review in button %>
            <div class="review_new_button_side">
                <div class="review_new_button">
                    <form action="/action_page.php">
                        <%= link_to '<button type="submit"> <i class="fa fa-edit"></i> Viết đánh giá của bạn</button>'.html_safe, new_company_company_review_path(@company) %>
                    </form>
                </div>
            </div>

            <div class="review_score_overview1">
                <div class="review_score_label">
                    <t>Môi trường làm việc</t>
                </div>
                <div class="review_score_star">
                    <%if rating_work_env_score > 0%>
                        <%rating_work_env_score.to_i.times do%>
                            <span class="fa fa-star checked"></span>
                        <%end%>
                        <%(5 - rating_work_env_score.to_i).to_i.times do%>
                            <span class="fa fa-star checked_out"></span>
                        <%end%>
                    <%else%>
                        <%5.times do%>
                            <span class="fa fa-star checked_out"></span>
                        <%end%>
                    <%end%>
                </div>
                <div class="review_point">
                    <t><%=rating_work_env_score.round(1)%></t>/5 điểm</t>
                </div>
            </div>

            <div class="review_score_overview">
                <div class="review_score_label">
                    <t>Chế độ đãi ngộ</t>
                </div>
                <div class="review_score_star">
                    <%if rating_salary_score > 0%>
                        <%rating_salary_score.to_i.times do%>
                            <span class="fa fa-star checked"></span>
                        <%end%>
                        <%(5 - rating_salary_score.to_i).to_i.times do%>
                            <span class="fa fa-star checked_out"></span>
                        <%end%>
                    <%else%>
                        <%5.times do%>
                            <span class="fa fa-star checked_out"></span>
                        <%end%>
                    <%end%>
                </div>
                <div class="review_point">
                    <t><%=rating_salary_score.round(1)%></t>/5 điểm</t>
                </div>
            </div>

            <div class="review_score_overview">
                <div class="review_score_label">
                    <t>Làm thêm, OT</t>
                </div>
                <div class="review_score_star">
                    <%if rating_ot_score > 0%>
                        <%rating_ot_score.to_i.times do%>
                            <span class="fa fa-star checked"></span>
                        <%end%>
                        <%(5 - rating_ot_score.to_i).to_i.times do%>
                            <span class="fa fa-star checked_out"></span>
                        <%end%>
                    <%else%>
                        <%5.times do%>
                            <span class="fa fa-star checked_out"></span>
                        <%end%>
                    <%end%>
                </div>
                <div class="review_point">
                    <t><%=rating_ot_score.round(1)%></t>/5 điểm</t>
                </div>
            </div>

            <div class="review_score_overview">
                <div class="review_score_label">
                    <t>Quản lý, cấp trên</t>
                </div>
                <div class="review_score_star">
                    <%if rating_manager_score > 0%>
                        <%rating_manager_score.to_i.times do%>
                            <span class="fa fa-star checked"></span>
                        <%end%>
                        <%(5 - rating_manager_score.to_i).to_i.times do%>
                            <span class="fa fa-star checked_out"></span>
                        <%end%>
                    <%else%>
                        <%5.times do%>
                            <span class="fa fa-star checked_out"></span>
                        <%end%>
                    <%end%>
                </div>
                <div class="review_point">
                    <t><%=rating_manager_score.round(1)%></t>/5 điểm</t>
                </div>
            </div>

            <div class="review_score_overview">
                <div class="review_score_label">
                    <t>Cơ hội thăng tiến</t>
                </div>
                <div class="review_score_star">
                    <%if rating_career_score > 0%>
                        <%rating_career_score.to_i.times do%>
                            <span class="fa fa-star checked"></span>
                        <%end%>
                        <%(5 - rating_career_score.to_i).to_i.times do%>
                            <span class="fa fa-star checked_out"></span>
                        <%end%>
                    <%else%>
                        <%5.times do%>
                            <span class="fa fa-star checked_out"></span>
                        <%end%>
                    <%end%>
                </div>
                <div class="review_point">
                    <t><%=rating_career_score.round(1)%></t>/5 điểm</t>
                </div>
            </div>

            <div class="review_score_total">
                <div class="review_score_label">
                    <t>Tổng điểm</t>
                </div>
                <div class="review_score_star">
                    <%if rating_total_score > 0%>
                        <%rating_total_score.to_i.times do%>
                            <span class="fa fa-star checked"></span>
                        <%end%>
                        <%(5 - rating_total_score.to_i).to_i.times do%>
                            <span class="fa fa-star checked_out"></span>
                        <%end%>
                    <%else%>
                        <%5.times do%>
                            <span class="fa fa-star checked_out"></span>
                        <%end%>
                    <%end%>
                </div>
                <div class="review_point">
                    <t><%=rating_total_score.round(1)%>/5 điểm</t>
                </div>
            </div>
        </div>
    <body>
</html>