
<div class='admin_dasboard'>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
                <div class="admin_tab_link">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <%if @tab == "default" || @tab == "AdminCompanyID"%>
                                <%active = "active"%>
                            <%else%> 
                                <%active = ""%>
                            <%end%>                                 
                            <a class="nav-link <%=active%>" href="<%=admin_path(current_admin, tab: 'AdminCompanyID')%>"><i class="material-icons-outlined">corporate_fare</i><%=t(:company)%> <span><%= (@companies.total_count)%><span></a>
                        </li>
                        <li class="nav-item">
                            <%if @tab == "AdminJobID"%>
                                <%active = "active"%>
                            <%else%> 
                                <%active = ""%>
                            <%end%>                                 
                            <a class="nav-link <%=active%>" href="<%=admin_path(current_admin, tab: 'AdminJobID')%>"><i class="material-icons-outlined">work_outline</i><%=t(:all_job)%> <span><%= (@company_jobs.total_count)%><span></a>
                        </li>
                        <li class="nav-item">
                            <%if @tab == "AdminJobApprovingID"%>
                                <%active = "active"%>
                            <%else%> 
                                <%active = ""%>
                            <%end%>                                 
                            <a class="nav-link <%=active%>" href="<%=admin_path(current_admin, tab: 'AdminJobApprovingID')%>"><i class="material-icons-outlined">next_week</i><%=t(:approving_job)%><span><%= (@company_jobs_approving.total_count)%><span></a>
                        </li>
                        <li class="nav-item">
                            <%if @tab == "AdminUserID"%>
                                <%active = "active"%>
                            <%else%> 
                                <%active = ""%>
                            <%end%>                                     
                            <a class="nav-link <%=active%>" href="<%=admin_path(current_admin, tab: 'AdminUserID')%>"><i class="material-icons-outlined">person</i><%=t(:user)%> <span><%= (@users.total_count)%><span></a>
                        </li>
                        <li class="nav-item">
                            <%if @tab == "AdminPostID"%>
                                <%active = "active"%>
                            <%else%> 
                                <%active = ""%>
                            <%end%>                                     
                            <a class="nav-link <%=active%>" href="<%=admin_path(current_admin, tab: 'AdminPostID')%>"><i class="material-icons-outlined">post_add</i><%=t(:post)%> <span><%= (@posts.total_count)%><span></a>
                        </li>
                        <li class="nav-item">
                            <%if @tab == "AdminProblemID"%>
                                <%active = "active"%>
                            <%else%> 
                                <%active = ""%>
                            <%end%>                                     
                            <a class="nav-link <%=active%>" href="<%=admin_path(current_admin, tab: 'AdminProblemID')%>"><i class="material-icons-outlined">lightbulb</i><%=t(:problem)%> <span><%= (@problems.total_count)%><span></a>
                        </li>
                        <li class="nav-item">
                            <%if @tab == "AdminProblemApprovingID"%>
                                <%active = "active"%>
                            <%else%> 
                                <%active = ""%>
                            <%end%>                                     
                            <a class="nav-link <%=active%>" href="<%=admin_path(current_admin, tab: 'AdminProblemApprovingID')%>"><i class="material-icons-outlined">lightbulb</i><%=t(:approving_question)%><span><%= (@problems_approving.total_count)%><span></a>
                        </li>
                        <li class="nav-item">
                            <%if @tab == "AdminEmployerID"%>
                                <%active = "active"%>
                            <%else%> 
                                <%active = ""%>
                            <%end%>                                     
                            <a class="nav-link <%=active%>" href="<%=admin_path(current_admin, tab: 'AdminEmployerID')%>"><i class="material-icons-outlined">people</i><%=t(:employer)%> <span><%= (@employers.total_count)%><span></a>
                        </li>
                        <li class="nav-item">
                            <%if @tab == "AdminEmployerBillID"%>
                                <%active = "active"%>
                            <%else%> 
                                <%active = ""%>
                            <%end%>                                     
                            <a class="nav-link <%=active%>" href="<%=admin_path(current_admin, tab: 'AdminEmployerBillID')%>"><i class="material-icons-outlined">payment</i><%=t(:employer_bill)%> <span><%= (@employer_bills_confirming.total_count)%><span></a>
                        </li>
                        <li class="nav-item">
                            <%if @tab == "AdminScrapJobID"%>
                                <%active = "active"%>
                            <%else%> 
                                <%active = ""%>
                            <%end%>                                     
                            <a class="nav-link <%=active%>" href="<%=admin_path(current_admin, tab: 'AdminScrapJobID')%>"><i class="material-icons-outlined">smart_toy</i><%=t(:job_scraper)%></a>
                        </li>
                        <li class="nav-item">
                            <%if @tab == "AdminScrapReviewID"%>
                                <%active = "active"%>
                            <%else%> 
                                <%active = ""%>
                            <%end%>                                     
                            <a class="nav-link <%=active%>" href="<%=admin_path(current_admin, tab: 'AdminScrapReviewID')%>"><i class="material-icons-outlined">star_border</i><%=t(:review_scraper)%></a>
                        </li>
                        <li class="nav-item">
                            <%if @tab == "AdminCoverVitaeID"%>
                                <%active = "active"%>
                            <%else%> 
                                <%active = ""%>
                            <%end%>                                     
                            <a class="nav-link <%=active%>" href="<%=admin_path(current_admin, tab: 'AdminCoverVitaeID')%>"><i class="material-icons-outlined">auto_fix_high</i><%=t(:cv_creater)%></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-10">
                <div class="admin_tab_content">
                    <%if @tab == "default" || @tab == "AdminCompanyID"%>
                        <div class="admin_tab">
                            <div class="new_admin_action">
                                <%= link_to new_company_path do%>
                                    <button type="submit"><%=t(:create_new)%></button>
                                <%end%>
                            </div>
                            <div class="admin_table">
                                <div class="table-responsive">
                                    <table class="table text-center table-hover">
                                        <thead>
                                            <tr>
                                                <th style="width: 2%;">No.</th>
                                                <th style="width: 25%;"><%=t(:form_company_name)%></th>
                                                <th style="width: 8%;"><%=t(:address)%></th>
                                                <th style="width: 8%;"><%=t(:creater)%></th>
                                                <th style="width: 10%;"><%=t(:created_date)%></th>
                                                <th style="width: 10%;"><%=t(:last_updated)%></th>
                                                <th style="width: 16%;"><%=t(:action)%></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <%@companies.each_with_index do |company, index|%>
                                                <tr>
                                                    <td><%=index + 1%></td>
                                                    <td scope="row" class="text-start"><%=link_to (company.name), company_path(:id => company.id)%></td>
                                                    <td><%=company.location%></td>
                                                    <%if company.employer_id%>
                                                        <td><%=t(:employer)%></td>
                                                    <%else%>
                                                        <td><%=t(:adminitra)%></td>
                                                    <%end%>
                                                    <td><%=company.created_at.strftime("%B %d, %Y")%></td>
                                                    <td><%=company.updated_at.strftime("%B %d, %Y")%></td>
                                                    <td>
                                                        <%= link_to t(:view), company_path(company), method: :get, class: "admin_preview" %>
                                                        <%= link_to t(:edit), edit_company_path(company, :is_edit => true), method: :get, class: "admin_edit" %>
                                                        <%= link_to t(:delete), company_path(company), method: :delete, class: "admin_delete", data: { confirm: t(:are_you_sure) } %>
                                                    </td>
                                                </tr>
                                            <%end%>
                                        </tbody>
                                    </table>
                                </div>
                                <%= paginate @companies, window: 2%>
                            </div>
                        </div>                        
                    <%end%>

                    <%if @tab == "AdminJobID"%>
                        <div class="admin_tab">
                            <div class="new_admin_action">
                                <%= link_to new_company_job_path do%>
                                    <button type="submit"><%=t(:create_new)%></button>
                                <%end%>
                            <div>
                            <div class="admin_table">
                                <table class="table text-center table-hover">
                                    <thead>
                                        <tr>
                                            <th style="width: 2%;">No.</th>
                                            <th style="width: 25%;"><%=t(:title)%></th>
                                            <th style="width: 8%;"><%=t(:status)%></th>
                                            <th style="width: 10%;"><%=t(:creater)%></th>
                                            <th style="width: 8%;"><%=t(:job_posted_date)%></th>
                                            <th style="width: 10%;"><%=t(:last_updated)%></th>
                                            <th style="width: 16%;"><%=t(:action)%></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <%@company_jobs.each_with_index do |company_job, index|%>
                                            <tr>
                                                <td><%=index + 1%></td>
                                                <td scope="row" class="text-start"><%=link_to (truncate(strip_tags(company_job.title), length: 60)), company_job_path(company_job)%></td>
                                                <%if company_job.approved?%>
                                                    <td><%=t(:actived)%></td>
                                                <%else%>
                                                    <td><%=t(:approving)%></td>
                                                <%end%>
                                                <%if company_job.employer_id%>
                                                    <td><%=t(:employer)%></td>
                                                <%else%>
                                                    <td><%=t(:adminitra)%></td>
                                                <%end%>
                                                <td><%=company_job.created_at.strftime("%B %d, %Y")%></td>
                                                <td><%=company_job.updated_at.strftime("%B %d, %Y")%></td>
                                                <td>
                                                    <%= link_to t(:view), company_job_path(company_job), method: :get, class: "admin_preview" %>
                                                    <%= link_to t(:edit), edit_company_job_path(company_job, :is_edit => true), method: :get, class: "admin_edit" %>
                                                    <%= link_to t(:delete), company_job_path(company_job), method: :delete, class: "admin_delete", data: { confirm: t(:are_you_sure) } %>
                                                </td>
                                            </tr>
                                        <%end%>
                                    </tbody>
                                </table>
                                <%= paginate @company_jobs, window: 2%>
                            </div>
                        </div>                        
                    <%end%>

                    <%if @tab == "AdminJobApprovingID"%>
                        <div class="admin_tab">
                            <div class="new_admin_action">
                                <%= link_to new_company_job_path do%>
                                    <button type="submit"><%=t(:create_new)%></button>
                                <%end%>
                            <div>
                            <div class="admin_table">
                                <div class="table-responsive">
                                    <table class="table text-center table-hover">
                                        <thead>
                                            <tr>
                                                <th style="width: 2%;">No.</th>
                                                <th style="width: 25%;"><%=t(:title)%></th>
                                                <th style="width: 8%;"><%=t(:status)%></th>
                                                <th style="width: 10%;"><%=t(:creater)%></th>
                                                <th style="width: 8%;"><%=t(:job_posted_date)%></th>
                                                <th style="width: 10%;"><%=t(:last_updated)%></th>
                                                <th style="width: 16%;"><%=t(:action)%></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <%@company_jobs_approving.each_with_index do |company_job, index|%>
                                                <tr>
                                                    <td><%=index + 1%></td>
                                                    <td scope="row" class="text-start"><%=link_to (truncate(strip_tags(company_job.title), length: 60)), company_job_path(company_job)%></td>
                                                    <%if company_job.approved?%>
                                                        <td><%=t(:actived)%></td>
                                                    <%else%>
                                                        <td><%=t(:approving)%></td>
                                                    <%end%>
                                                    <%if company_job.employer_id%>
                                                        <td><%=t(:employer)%></td>
                                                    <%else%>
                                                        <td><%=t(:adminitra)%></td>
                                                    <%end%>
                                                    <td><%=company_job.created_at.strftime("%B %d, %Y")%></td>
                                                    <td><%=company_job.updated_at.strftime("%B %d, %Y")%></td>
                                                    <td>
                                                        <%= link_to t(:approve), jobs_approve_path(company_job, :id => company_job.id), method: :get, class: "admin_approving"%>
                                                        <%= link_to t(:view), company_job_path(company_job), method: :get, class: "admin_preview" %>
                                                        <%= link_to t(:edit), edit_company_job_path(company_job, :is_edit => true), method: :get, class: "admin_edit" %>
                                                        <%= link_to t(:delete), company_job_path(company_job), method: :delete, class: "admin_delete", data: { confirm: t(:are_you_sure) } %>
                                                    </td>
                                                </tr>
                                            <%end%>
                                        </tbody>
                                    </table>
                                </div>
                                <%= paginate @company_jobs_approving, window: 2%>
                            </div>
                        </div>                        
                    <%end%>

                    <%if @tab == "AdminUserID"%>
                        <div class="admin_tab">
                            <div class="new_admin_action">
                                <%= link_to new_user_registration_path do%>
                                    <button type="submit"><%=t(:create_new)%></button>
                                <%end%>
                            </div>
                            <div class="admin_table">
                                <div class="table-responsive">
                                    <table class="table text-center table-hover">
                                        <thead>
                                            <tr>
                                                <th style="width: 2%;">No.</th>
                                                <th style="width: 25%;"><%=t(:name)%></th>
                                                <th style="width: 8%;"><%=t(:phone)%></th>
                                                <th style="width: 8%;"><%=t(:email)%></th>
                                                <th style="width: 10%;"><%=t(:created_date)%></th>
                                                <th style="width: 10%;"><%=t(:last_updated)%></th>
                                                <th style="width: 16%;"><%=t(:action)%></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <%@users.each_with_index do |user, index|%>
                                                <tr>
                                                    <td><%=index + 1%></td>
                                                    <td scope="row" class="text-start"><%=link_to (user.name), user_path(:id => user.id)%></td>
                                                    <td><%=user.phone%></td>
                                                    <td><%=user.email%></td>
                                                    <td><%=user.created_at.strftime("%B %d, %Y")%></td>
                                                    <td><%=user.updated_at.strftime("%B %d, %Y")%></td>
                                                    <td>
                                                        <%= link_to t(:view), user_path(user), method: :get, class: "admin_preview" %>
                                                        <%= link_to t(:edit), edit_user_path(user, :is_edit => true), method: :get, class: "admin_edit" %>
                                                        <%= link_to t(:delete), user_path(user), method: :delete, class: "admin_delete", data: { confirm: t(:are_you_sure) } %>
                                                    </td>
                                                </tr>
                                            <%end%>
                                        </tbody>
                                    </table>
                                </div>
                                <%= paginate @users, window: 2%>
                            </div>
                        </div>                            
                    <%end%>

                    <%if @tab == "AdminPostID"%>
                        <div class="admin_tab">
                            <div class="new_admin_action">
                                <%= link_to new_post_path do%>
                                    <button type="submit"><%=t(:create_new)%></button>
                                <%end%>
                            </div>
                            <div class="admin_table">
                                <div class="table-responsive">
                                    <table class="table text-center table-hover">
                                        <thead>
                                            <tr>
                                                <th style="width: 2%;">No.</th>
                                                <th style="width: 25%;"><%=t(:title)%></th>
                                                <th style="width: 8%;"><%=t(:creater)%></th>
                                                <th style="width: 10%;"><%=t(:created_date)%></th>
                                                <th style="width: 10%;"><%=t(:last_updated)%></th>
                                                <th style="width: 16%;"><%=t(:action)%></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <%@posts.each_with_index do |post, index|%>
                                                <tr>
                                                    <td><%=index + 1%></td>
                                                    <td scope="row" class="text-start"><%=link_to (post.title), post_path(:id => post.id)%></td>
                                                    <%if find_owner_user(post).present?%>
                                                        <td><%=find_owner_user(post).name%></td>
                                                    <%else%>
                                                        <td>Admin</td>
                                                    <%end%>
                                                    <td><%=post.created_at.strftime("%B %d, %Y")%></td>
                                                    <td><%=post.updated_at.strftime("%B %d, %Y")%></td>
                                                    <td>
                                                        <%= link_to t(:view), post_path(post), method: :get, class: "admin_preview" %>
                                                        <%= link_to t(:edit), edit_post_path(post, :is_edit => true), method: :get, class: "admin_edit" %>
                                                        <%= link_to t(:delete), post_path(post), method: :delete, class: "admin_delete", data: { confirm: t(:are_you_sure) } %>
                                                    </td>
                                                </tr>
                                            <%end%>
                                        </tbody>
                                    </table>
                                </div>
                                <%= paginate @posts, window: 2%>
                            </div>
                        </div>                           
                    <%end%>

                    <%if @tab == "AdminProblemID"%>
                        <div class="admin_tab">
                            <div class="new_admin_action">
                                <%= link_to new_problem_path do%>
                                    <button type="submit"><%=t(:create_new)%></button>
                                <%end%>
                            </div>
                            <div class="admin_table">
                                <div class="table-responsive">
                                    <table class="table text-center table-hover">
                                        <thead>
                                            <tr>
                                                <th style="width: 2%;">No.</th>
                                                <th style="width: 25%;"><%=t(:title)%></th>
                                                <th style="width: 8%;"><%=t(:creater)%></th>
                                                <th style="width: 10%;"><%=t(:created_date)%></th>
                                                <th style="width: 10%;"><%=t(:last_updated)%></th>
                                                <th style="width: 16%;"><%=t(:action)%></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <%@problems.each_with_index do |problem, index|%>
                                                <tr>
                                                    <td><%=index + 1%></td>
                                                    <td scope="row" class="text-start"><%=link_to (problem.title), problem_path(:id => problem.id)%></td>
                                                    <%if find_owner_user(problem).present?%>
                                                        <td><%=find_owner_user(problem).name%></td>
                                                    <%else%>
                                                        <td>Admin</td>
                                                    <%end%>
                                                    <td><%=problem.created_at.strftime("%B %d, %Y")%></td>
                                                    <td><%=problem.updated_at.strftime("%B %d, %Y")%></td>
                                                    <td>
                                                        <%= link_to t(:view), problem_path(problem), method: :get, class: "admin_preview" %>
                                                        <%= link_to t(:edit), edit_problem_path(problem, :is_edit => true), method: :get, class: "admin_edit" %>
                                                        <%= link_to t(:delete), problem_path(problem), method: :delete, class: "admin_delete", data: { confirm: t(:are_you_sure) } %>
                                                    </td>
                                                </tr>
                                            <%end%>
                                        </tbody>
                                    </table>
                                </div>
                                <%= paginate @problems, window: 2%>
                            </div>
                        </div>                        
                    <%end%>

                    <%if @tab == "AdminProblemApprovingID"%>
                        <div class="admin_tab">
                            <div class="new_admin_action">
                                <%= link_to new_problem_path do%>
                                    <button type="submit"><%=t(:create_new)%></button>
                                <%end%>
                            </div>
                            <div class="admin_table">
                                <div class="table-responsive">
                                    <table class="table text-center table-hover">
                                        <thead>
                                            <tr>
                                                <th style="width: 2%;">No.</th>
                                                <th style="width: 25%;"><%=t(:title)%></th>
                                                <th style="width: 8%;"><%=t(:creater)%></th>
                                                <th style="width: 10%;"><%=t(:created_date)%></th>
                                                <th style="width: 10%;"><%=t(:last_updated)%></th>
                                                <th style="width: 16%;"><%=t(:action)%></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <%@problems_approving.each_with_index do |problem, index|%>
                                                <tr>
                                                    <td><%=index + 1%></td>
                                                    <td scope="row" class="text-start"><%=link_to (problem.title), problem_path(:id => problem.id)%></td>
                                                    <%if find_owner_user(problem).present?%>
                                                        <td><%=find_owner_user(problem).name%></td>
                                                    <%else%>
                                                        <td>Admin</td>
                                                    <%end%>
                                                    <td><%=problem.created_at.strftime("%B %d, %Y")%></td>
                                                    <td><%=problem.updated_at.strftime("%B %d, %Y")%></td>
                                                    <td>
                                                        <%= link_to t(:approve), problems_approve_path(problem, :id => problem.id), method: :get, class: "admin_approving"%>
                                                        <%= link_to t(:view), problem_path(problem), method: :get, class: "admin_preview" %>
                                                        <%= link_to t(:edit), edit_problem_path(problem, :is_edit => true), method: :get, class: "admin_edit" %>
                                                        <%= link_to t(:delete), problem_path(problem), method: :delete, class: "admin_delete", data: { confirm: t(:are_you_sure) } %>
                                                    </td>
                                                </tr>
                                            <%end%>
                                        </tbody>
                                    </table>
                                </div>
                                <%= paginate @problems_approving, window: 2%>
                            </div>
                        </div>                        
                    <%end%>

                    <%if @tab == "AdminEmployerID"%>
                        <div class="admin_tab">
                            <div class="new_admin_action">
                                <%= link_to new_employer_registration_path do%>
                                    <button type="submit"><%=t(:create_new)%></button>
                                <%end%>
                            </div>
                            <div class="admin_table">
                                <div class="table-responsive">
                                    <table class="table text-center table-hover">
                                        <thead>
                                            <tr>
                                                <th style="width: 2%;">No.</th>
                                                <th style="width: 25%;"><%=t(:name)%></th>
                                                <th style="width: 8%;"><%=t(:email)%></th>
                                                <th style="width: 8%;"><%=t(:phone)%></th>
                                                <th style="width: 10%;"><%=t(:created_date)%></th>
                                                <th style="width: 10%;"><%=t(:last_updated)%></th>
                                                <th style="width: 16%;"><%=t(:action)%></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <%@employers.each_with_index do |employer, index|%>
                                                <tr>
                                                    <td><%=index + 1%></td>
                                                    <td scope="row" class="text-start"><%=link_to (employer.name), employer_path(:id => employer.id)%></td>                                                  
                                                    <td><%=employer.email%></td>
                                                    <td><%=employer.phone%></td>
                                                    <td><%=employer.created_at.strftime("%B %d, %Y")%></td>
                                                    <td><%=employer.updated_at.strftime("%B %d, %Y")%></td>
                                                    <td>
                                                        <%= link_to t(:view), employer_path(employer), method: :get, class: "admin_preview" %>
                                                        <%= link_to t(:edit), edit_employer_path(employer, :is_edit => true), method: :get, class: "admin_edit" %>
                                                        <%= link_to t(:delete), employer_path(employer), method: :delete, class: "admin_delete", data: { confirm: t(:are_you_sure) } %>
                                                    </td>
                                                </tr>
                                            <%end%>
                                        </tbody>
                                    </table>
                                </div>
                                <%= paginate @employers, window: 2%>
                            </div>
                        </div>                          
                    <%end%>

                    <%if @tab == "AdminEmployerBillID"%>
                        <div class="admin_employer_bill_tab">
                            <%@employer_bills.each do |employer_bill|%>
                                <div class="admin_employer_section">
                                    <%if employer_bill.confirmed == true%>
                                        <div class="admin_employer_bill_confirm">
                                            <span><%=t(:confirmed)%></span><i class="material-icons-outlined">check_circle</i>
                                        </div>
                                    <%end%>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="admin_employer_bill_detail">
                                                <%if employer_bill.bill_image?%>
                                                    <%=image_tag(employer_bill.bill_image.url)%>
                                                <%end%>
                                                <a><%=t(:send_date)%>: <%=employer_bill.employer.created_at%></a>
                                                <br>
                                                <a><%=t(:sender)%>: <%=employer_bill.employer.name%></a>
                                                <br>
                                                <a><%=t(:employer_id)%>: <%=employer_bill.employer.id%> - <%=employer_bill.employer.email%></a>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <%= form_for([employer_bill.employer, employer_bill]) do |f| %>
                                                <div class="new_employer_bill_content">
                                                    <div class="new_employer_bill_label">
                                                        <a><%= f.label :total_cash, t(:total_cash), class: "new_employer_bill_label" %></a>
                                                    </div>
                                                    
                                                    <div class="new_employer_bill_input">
                                                        <%= f.number_field :total_cash, class: "form-control"%>
                                                    </div>
                                                </div>
                                                <div class="new_employer_bill_content">
                                                    <div class="new_employer_bill_label">
                                                        <a><%= f.label :confirmed, t(:confirm), class: "new_employer_bill_label" %></a>
                                                    </div>
                                                    
                                                    <div class="new_employer_bill_input">
                                                        <%= f.select(:confirmed, options_for_select([[t(:no), false], [t(:yes), true]]), {include_blank: false}, { :class => 'form-select' }) %>
                                                    </div>
                                                </div>
                                                <div class="new_employer_bill_submit">
                                                    <%= f.submit t(:send), class: "new_employer_bill_form_submit" %>
                                                </div>
                                            <%end%>
                                        </div>
                                    </div>
                                </div>
                            <%end%>
                        </div>
                    <%end%>

                    <%if @tab == "NotificationID"%>
                        <div class="admin_notification_tab">
                        </div>
                    <%end%>

                    <%if @tab == "AdminScrapJobID"%>
                        <div class="admin_tab">
                            <div class="new_admin_action">
                                <%= link_to new_scrap_job_path do%>
                                    <button type="submit"><%=t(:create_new)%></button> 
                                <%end%>
                            </div>
                            <div class="admin_table">
                                <div class="table-responsive">
                                    <table class="table text-center table-hover">
                                        <thead>
                                            <tr>
                                                <th style="width: 2%;">No.</th>
                                                <th style="width: 25%;">Url</th>
                                                <th style="width: 8%;">Site</th>
                                                <th style="width: 8%;">Total Page</th>
                                                <th style="width: 10%;"><%=t(:created_date)%></th>
                                                <th style="width: 10%;"><%=t(:last_updated)%></th>
                                                <th style="width: 16%;"><%=t(:action)%></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <%@scrap_jobs.each_with_index do |scrap_job, index|%>
                                                <tr>
                                                    <td><%=index + 1%></td>
                                                    <td scope="row" class="text-start"><%=link_to truncate(strip_tags(scrap_job.url), length: 60), scrap_job_path(:id => scrap_job.id)%></td>
                                                    <%if JobCrawler::split_domain_name(scrap_job.url).present?%>
                                                        <td><%=JobCrawler::split_domain_name(scrap_job.url).upcase%></td>
                                                    <%else%>
                                                        <td>---</td>
                                                    <%end%>
                                                    <td><%=scrap_job.page_num%></td>
                                                    <td><%=scrap_job.created_at.strftime("%B %d, %Y")%></td>
                                                    <td><%=scrap_job.updated_at.strftime("%B %d, %Y")%></td>
                                                    <td>
                                                        <%= link_to 'Process', scrap_jobs_processing_path(:id => scrap_job.id), method: :get, class: "admin_approving"%>
                                                        <%= link_to t(:view), scrap_job_path(scrap_job), method: :get, class: "admin_preview" %>
                                                        <%= link_to t(:edit), edit_scrap_job_path(scrap_job, :is_edit => true), method: :get, class: "admin_edit" %>
                                                        <%= link_to t(:delete), scrap_job_path(scrap_job), method: :delete, class: "admin_delete", data: { confirm: t(:are_you_sure) } %>
                                                    </td>
                                                </tr>
                                            <%end%>
                                        </tbody>
                                    </table>
                                </div>
                                <%= paginate @scrap_jobs, window: 2%>
                            </div>
                        </div>  

                        <div class="scrap_jobs_total_day">
                            <a><%=t(:total)%> <%=t(:today).downcase%> </span><%=CompanyJob.where(:created_at => Time.zone.now.beginning_of_day..Time.zone.now.end_of_day).count%></span></a>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="scrap_jobs_all_btn">
                                    <%= link_to '<button type="submit">Process All</button>'.html_safe, scrap_jobs_processing_path(:all => true), method: :get%>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="scrap_jobs_tab_bottom">
                                    <%= link_to '<button type="submit">Job Magic</button>'.html_safe, scrap_jobs_push_path%>
                                </div>
                            </div>
                        </div>
                    <%end%>

                    <%if @tab == "AdminScrapReviewID"%>
                        <%@scrap_review = ScrapReview.new%>
                        <%= render :partial => 'scrap_reviews/form', :local => @scrap_review %>
                    <%end%>

                    <%if @tab == "AdminCoverVitaeID"%>
                        <%@cover_vitae = CoverVitae.new%>
                        <%= render :partial => 'cover_vitaes/form', :local => @cover_vitae %>
                    <%end%>
                </div>
            </div>
        </div>
    </div>
</div>