<div class="container">
    <div class='admin_dasboard'>
        <div class='admin_title'>
            <%if (0..12).cover? Time.now.hour %>
                <span href="<%=admin_path(current_admin)%>">Good morning, <%=current_admin.name%>!</span>
            <%elsif (12..18).cover? Time.now.hour %>
                <span href="<%=admin_path(current_admin)%>">Good afternoon, <%=current_admin.name%>!</span>
            <%elsif (18..24).cover? Time.now.hour %>
                <span href="<%=admin_path(current_admin)%>">Good evening, <%=current_admin.name%>!</span>
            <%end%>
        </div>

        <div class="admin_log_out">
            <%= button_to destroy_admin_session_path, method: :delete do%>
                <span>Đăng xuất</span>
            <%end%>
        </div>

        <div class="admin_tab_link">
            <ul class="nav">
                <li class="nav-item">
                    <%if @tab_id == "default" || @tab_id == "AdminCompanyID"%>
                        <%active = "active"%>
                    <%else%> 
                        <%active = ""%>
                    <%end%>                                 
                    <a class="nav-link <%=active%>" href="<%=admin_path(current_admin, tab_id: 'AdminCompanyID')%>"><i class="material-icons-outlined">business</i>Company <span><%= (@companies.total_count)%><span></a>
                </li>
                <li class="nav-item">
                    <%if @tab_id == "default" || @tab_id == "AdminJobID"%>
                        <%active = "active"%>
                    <%else%> 
                        <%active = ""%>
                    <%end%>                                 
                    <a class="nav-link <%=active%>" href="<%=admin_path(current_admin, tab_id: 'AdminJobID')%>"><i class="material-icons-outlined">business</i>Job <span><%= (@company_jobs.total_count)%><span></a>
                </li>
                <li class="nav-item">
                    <%if @tab_id == "AdminUserID"%>
                        <%active = "active"%>
                    <%else%> 
                        <%active = ""%>
                    <%end%>                                     
                    <a class="nav-link <%=active%>" href="<%=admin_path(current_admin, tab_id: 'AdminUserID')%>"><i class="material-icons-outlined">person</i>User <span><%= (@users.total_count)%><span></a>
                </li>
                <li class="nav-item">
                    <%if @tab_id == "AdminPostID"%>
                        <%active = "active"%>
                    <%else%> 
                        <%active = ""%>
                    <%end%>                                     
                    <a class="nav-link <%=active%>" href="<%=admin_path(current_admin, tab_id: 'AdminPostID')%>"><i class="material-icons-outlined">post_add</i>Post <span><%= (@posts.total_count)%><span></a>
                </li>
                <li class="nav-item">
                    <%if @tab_id == "AdminProblemID"%>
                        <%active = "active"%>
                    <%else%> 
                        <%active = ""%>
                    <%end%>                                     
                    <a class="nav-link <%=active%>" href="<%=admin_path(current_admin, tab_id: 'AdminProblemID')%>"><i class="material-icons-outlined">lightbulb</i>Problem <span><%= (@problems.total_count)%><span></a>
                </li>
                <li class="nav-item">
                    <%if @tab_id == "ScrapJobID"%>
                        <%active = "active"%>
                    <%else%> 
                        <%active = ""%>
                    <%end%>                                     
                    <a class="nav-link <%=active%>" href="<%=admin_path(current_admin, tab_id: 'ScrapJobID')%>"><i class="material-icons-outlined">smart_toy</i>Job Scraper</a>
                </li>
            </ul>
        </div>

        <div class="admin_tab_content">
            <%if @tab_id == "default" || @tab_id == "AdminCompanyID"%>
                <div class="admin_company_tab">
                    <div class="new_company">
                        <%= link_to '<button type="submit">Tạo công ty mới</button>'.html_safe, new_company_path%>
                    </div>
                </div>                        
            <%end%>

            <%if @tab_id == "AdminUserID"%>
                <div class="admin_user_tab">
                </div>                        
            <%end%>

            <%if @tab_id == "AdminPostID"%>
                <div class="admin_post_tab">
                    <div class="new_post">
                        <%= link_to '<button type="submit">Tạo post mới</button>'.html_safe, new_post_path%>
                    </div>
                </div>                        
            <%end%>

            <%if @tab_id == "AdminProblemID"%>
                <div class="admin_problem_tab">
                    <div class="new_problem">
                        <%= link_to '<button type="submit">Tạo câu hỏi mới</button>'.html_safe, new_problem_path%>
                    </div>
                </div>                        
            <%end%>

            <%if @tab_id == "NotificationID"%>
                <div class="admin_notification_tab">
                </div>
            <%end%>

            <%if @tab_id == "ScrapJobID"%>
                <%@scrap_job = ScrapJob.new%>
                <%= render :partial => 'scrap_jobs/form', :local => @scrap_job %>
            <%end%>
        </div>
    </div>
</div>