<%if !(@type_param == "mini")%>
	<div id="save_job_<%=@company_job.id%>">
	    <% pre_save = @company_job.company_save_jobs.find { |save| save.user_id == current_user.id} %>
		<%if user_signed_in?%>
			<% if pre_save %> 
				<%= button_to company_job_company_save_job_path(@company_job, pre_save), :method => :delete, remote: true, form_class: "save_btn_highlight" do%>
					<i class="material-icons-outlined">favorite</i> <span>Đã lưu</span>
				<%end%> 
			<%else%>
				<%= button_to company_job_company_save_jobs_path(@company_job), :method => :post, remote: true, form_class: "save_btn" do%>
					<i class="material-icons-outlined">favorite_border</i> <span>Lưu việc làm</span>
				<%end%>
			<%end%>
		<%else%>
			<button type="button" data-toggle="modal" data-target="#buttonModalLoginCenter" class="save_btn">
				<i class="material-icons-outlined">favorite_border</i> <span>Lưu việc làm</span>
			</button>
		<%end%>
	</div>
<%else%>
	<div id="job_<%=@company_job.id%>">
	    <%if user_signed_in?%>
	        <% pre_save = @company_job.company_save_jobs.find { |save| save.user_id == current_user.id} %>
	        <% if pre_save %> 
	            <%= link_to '<button class="save_btn_highlight"><i class="material-icons">favorite</i> </button>'.html_safe, company_job_company_save_job_path(@company_job, pre_save, type_param: 'mini'), method: :delete, remote: true %>
	        <%else%>
	            <%= link_to '<button class="save_btn"><i class="material-icons-outlined">favorite_border</i> </button>'.html_safe, company_job_company_save_jobs_path(@company_job, type_param: 'mini'), method: :post, remote: true %>
	        <%end%>
	    <%else%>
			<button type="button" data-toggle="modal" data-target="#buttonModalLoginCenter" class="save_btn">
				<i class="material-icons-outlined">favorite_border</i>
			</button>
	    <%end%>
	</div>
<%end%>