<%= form_for [@post, Comment.new] do |f| %>

    <% if @comment.errors.any? %>
        <div id="error_explanation">
        <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

        <ul>
        <% @comment.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
        </ul>
        </div>
    <% end %>

    <div class="container">
        <div class="sessions">
            <section class="signup">
                <div class="container">
                    <div class="signup-content">
                        <h2 class="form-title">Viết nhận xét của bạn tại đây</h2>

                        <div class="form-group">
                            <%= f.label :comment, "Nhận xét", class: "col-md-2 control-label" %>
                            <div class="col-md-6">
                            <%= f.text_field :comment, class: "form-input-content", placeholder: "Nhập nhận xét của bạn tại đây" %>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-offset-4">
                            <%= f.submit "Comment", class: "form-submit" %>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
<% end %>