<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0"/>
    </head>

    <body>
        <div class="container">
			<div class="admin_search_block">
				<div class="search_label">
					<span><%=@company_searchs.count%> việc làm cho từ khóa "<%= params[:company_search]%>"</span>
				</div>
				<% @company_searchs.reverse.each do |company| %>
					<div class='company_block'>
						<div class='company_name'>
							<a> <%=company.id%> | <%= link_to company.name, company_path(company), class: "company_name_label" %> </a>
							
							<div class='approved'>
								<%if company.approved?%>
									<%= form_for(company) do |f| %>
										<%= f.hidden_field :approved, :value => false %>
										<%= f.submit "Reject", class: "btn btn-large btn-danger" %>
									<% end %>
								<%else%>
									<%= form_for(company) do |f| %>
										<%= f.hidden_field :approved, :value => true %>
										<%= f.submit "Approve", class: "btn btn-large btn-success" %>
									<% end %>
								<%end%>
							</div>
							
							<div class='company_edit'>
								<%= link_to "Update", edit_company_path(company), class: "btn btn-large btn-warning" %>
								<%= link_to 'Delete', company_path(company), method: :delete, class: "btn btn-large btn-danger", data: { confirm: 'Are you sure???' } %>
							</div>
						</div>
					</div>
				<%end%>
			</div>
		</div>
    <body>
<html>