<%if !(@type_param == "mini")%>
    <div id =company_follow_large_<%=@company.id%>>
        <%if user_signed_in?%>
            <% pre_follow = @company.company_follows.find { |follow| follow.user_id == current_user.id} %>
            <% if pre_follow %> 
                <%= button_to company_company_follow_path(@company, pre_follow), :method => :delete, remote: true, form_class: "follow_btn_large_highlight" do%>
                    <i class="material-icons">favorite</i> <span><%=t(:following)%></span>
                <%end%> 
            <%else%>
                <%= button_to company_company_follows_path(@company), :method => :post, remote: true, form_class: "follow_btn_large" do%>
                    <i class="material-icons-outlined">favorite_border</i> <span><%=t(:follow)%></span>
                <%end%>
            <%end%>
        <%else%>
            <button type="button" data-toggle="modal" data-target="#buttonModalLoginCenter" class="follow_btn_large">
                <i class="material-icons-outlined">favorite_border</i> <span><%=t(:follow)%></span>
            </button>
        <%end%>
    </div>
<%else%>
    <div id ="company_love_<%=company.id%>">
        <%if user_signed_in?%>
            <% pre_follow = company.company_follows.find { |follow| follow.user_id == current_user.id} %>
            <% if pre_follow %> 
                <%= link_to company_company_follow_path(company, pre_follow, type_param: 'mini'), remote: true, method: :delete do%>
                    <button class="follow_btn_highlight"><%=t(:following)%></button>
                <%end%>
            <%else%>
                <%= link_to company_company_follows_path(company, type_param: 'mini'), remote: true, method: :post do%>
                    <button class="follow_btn"><%=t(:follow)%></button>
                <%end%>
            <%end%>
        <%else%>
            <button type="button" data-toggle="modal" data-target="#buttonModalLoginCenter" class="follow_btn">
                <%=t(:follow)%>
            </button>
        <%end%>
    </div>
<%end%>
