<div class="user_profile_form">
    <%= form_for([@user, user_adward], remote: true) do |f| %> 
        <div class="user_profile_title_sub">
            <a><%=t(:form_require_left)%> <span>'*'</span> <%=t(:form_require_right)%></a>
        </div>
        <div class="user_profile_content">
            <div class="user_profile_label">
                <a><%= f.label :adward_name, t(:user_adward_form_title_1), class: "user_profile_label_name" %><span>*</span></a>
            </div>

            <div class="user_profile_input">
                <%= f.text_field :adward_name, :required => true, class: "form-control", placeholder: t(:user_adward_form_sub_1)%>
            </div>
        </div>

        <div class="user_profile_content">
            <div class="user_profile_label">
                <a><%= f.label :receive_date, t(:user_adward_form_title_2), class: "user_profile_label_name" %><span>*</span></a>
            </div>

            <div class="user_profile_input">
                <%= f.date_field :receive_date, :required => true, class: "form-control"%>
            </div>
        </div>

        <div class="user_profile_content">
            <div class="user_profile_label">
                <a><%= f.label :adward_summary, t(:user_adward_form_title_3), class: "user_profile_label_name" %><span>*</span></a>
            </div>

            <div class="user_profile_input">
                <%= f.text_area :adward_summary, class: "form-control", placeholder: t(:user_adward_form_sub_3) %>
                <%= tinymce :mini %>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
            </div>
            <div class="col-sm-3">
                <div class="user_profile_cancel">
                    <button class="user_profile_cancel_btn" onclick="myFunctionUserAdward('profile_adward_form')"><a><%=t(:cancel)%></a></button>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="user_profile_submit">
                    <%= f.submit t(:update), class: "user_profile_form_submit"%>
                </div>
            </div>
        </div>
    <%end%>
</div>