<!DOCTYPE html>
<html>
    <head>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
    </head>

    <body>
        <div class="company_interview_block">
            <div class="company_interview_left">
                <div class="company_avatar">
                    <%if @company.avatar.attached?%>
                        <%= link_to (image_tag(@company.avatar)), image_path(url_for(@company.avatar)), rel: "gallery" , :href => company_path(@company)%>
                    <%end%>
                </div>
            </div>

            <div class="company_interview_right">
                <div class="company_interview_title">
                    <strong><%= company_interview.position %></strong>
                </div>

                <div class="user_interview_status">
                    <t>Phỏng vấn qua <%= company_interview.get_interview %> - </t>
                    <t><%= company_interview.process %> vòng - </t>
                    <t> lúc <%= time_ago_in_words(company_interview.created_at) %></t>
                </div>

                <div class="interview_satisfied_overview">
                    <div class="interview_content">
                        <div class="interview_satisfied_label">
                            <strong>Hài lòng:</strong>
                        </div>
                        <div class="interview_score_star">
                            <%if company_interview.satisfied.to_i > 0%>
                                <%company_interview.satisfied.to_i.times do%>
                                    <i class="material-icons checked">star</i>
                                <%end%>
                                <%(5 - company_interview.satisfied.to_i).to_i.times do%>
                                    <i class="material-icons checked_out">star_outline</i>
                                <%end%>
                            <%else%>
                                <%5.times do%>
                                    <i class="material-icons checked_out">star_outline</i>
                                <%end%>
                            <%end%>
                        </div>
                    </div>
                </div>

                <div class="user_interview_offer">
                    <div class="user_interview_offer_label">
                        <strong>Chấp nhận offer: </strong>
                        <%if company_interview.satisfied.to_i >0%>
                            <i class="material-icons checked">check_circle_outline</i>
                            <t> Yes </t>
                        <% else %>
                            <i class="material-icons checked">clear</i>
                            <t> No </t>
                        <%end%>
                    </div>
                </div>

                <div class="company_interview_body">
                    <t><%= company_interview.content %></t>
                </div>

                <div class="interview_info">
                    <div class="interview_toolbar">
                        <t><%= company_interview.company_reply_interviews.count%></t>
                        <%= link_to '<i class="material-icons">question_answer</i>'.html_safe, new_company_reply_interview_path(@company.id, company_interview.id)%>
                        <t><%= company_interview.company_reply_interviews.count%></t>
                        <%= link_to '<i class="material-icons">thumb_up</i>'.html_safe, new_company_reply_interview_path(@company.id, company_interview.id)%>
                        <t><%= company_interview.company_reply_interviews.count%></t>
                        <%= link_to '<i class="material-icons">thumb_down</i>'.html_safe, new_company_reply_interview_path(@company.id, company_interview.id)%>
                    </div>
                </div>

                <div class="interview_feedback">
                    <div class="report_button">
                        <%= link_to '<button type="submit"><i class="material-icons">flag</i> Báo cáo vi phạm</button>'.html_safe, sessions_new_path %>
                    </div>

                    <div class="share_button">
                        <%= link_to '<button type="submit"><i class="material-icons">share</i> Chia sẻ</button>'.html_safe, new_user_path %>
                    </div>
                </div>
            </div>
        </div>
         <%if company_interview.company_reply_interviews.count > 0%>
            <div class="interview_reply">
                <%= render company_interview.company_reply_interviews %>
            </div>
        <%end%>
    </body>
</html>