<!DOCTYPE html>
<html>
    <head>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <!-- Add icon library -->
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    </head>

    <body>
        <div class="company_interview_block">
            <div class="company_interview_left">
                <div class="company_avatar">
                    <%= link_to (image_tag("fpt-software-logo.png")), image_path("fpt-software-logo.png"), rel: "gallery" %>
                </div>
            </div>

            <div class="company_interview_right">
                
                <div class="company_interview_title">
                    <t><%= company_interview.position %></t>
                </div>

                <div class="interview_satisfied_overview">
                    <div class="interview_content">
                        <div class="interview_point">
                            <strong><%=company_interview.satisfied%></strong>
                        </div>
                        <div class="interview_satisfied_star">
                            <span class="fa fa-star checked"></span>
                        </div>
                        <div class="interview_satisfied_label">
                            <t>Hài lòng với buổi phỏng vấn</t>
                        </div>
                    </div>
                </div>

                <div class="user_interview_offer">
                    <div class="user_interview_offer_label">
                        <%if company_interview.satisfied%>
                            <span class="fa fa-check-square fa checked"></span>
                        <% else %>
                            <span class="fa fa-times-circle fa checked"></span>
                        <%end%>    
                        <t>Chấp nhận offer </t>
                    </div>
                </div>

                <div class="company_interview_body">
                    <t><%= company_interview.content %></t>
                </div>

                <div class="interview_info">
                    <div class="interview_toolbar">
                        <t><%= company_interview.company_reply_interviews.count%></t>
                        <%= link_to '<i class="fa fa-reply fa checked"></i>'.html_safe, new_company_reply_interview_path(@company.id, company_interview.id)%>
                        <t><%= company_interview.company_reply_interviews.count%></t>
                        <%= link_to '<i class="fa fa-thumbs-up fa checked"></i>'.html_safe, new_company_reply_interview_path(@company.id, company_interview.id)%>
                        <t><%= company_interview.company_reply_interviews.count%></t>
                        <%= link_to '<i class="fa fa-thumbs-down fa checked"></i>'.html_safe, new_company_reply_interview_path(@company.id, company_interview.id)%>
                    </div>

                    <div class="user_interview_time">
                        <t><%= company_interview.user_name %> lúc <%= company_interview.created_at %></t>
                    </div>
                </div>

                <%= render company_interview.company_reply_interviews %>
            </div>
        </div>
    </body>
</html>