<div class="company_interview_block">
    <div class="company_interview_container">
        <div class="company_interview_title">
            <a><%= company_interview.position %></a>
        </div>

        <div class="user_interview_status">
            <%unless company_interview.get_interview.blank?%>
                <a>Phỏng vấn qua <%= company_interview.get_interview %> · </a>
            <%end%>
            <%unless company_interview.process.blank?%>
                <a><%= company_interview.process %> vòng phỏng vấn · </a>
            <%end%>
            <a><%= company_interview.created_at.strftime("%B %d, %Y") %></a>
        </div>

        <div class="interview_satisfied_overview">
            <div class="interview_content">
                <div class="interview_satisfied_label">
                    <a>Hài lòng với buổi phỏng vấn: </a>
                </div>
                <div class="interview_score_star">
                    <%if !company_interview.satisfied.to_s.empty?%>
                        <%if company_interview.satisfied.to_i > 0%>
                            <%company_interview.satisfied.to_i.times do%>
                                <i class="material-icons checked">circle</i>
                            <%end%>
                            <%(5 - company_interview.satisfied.to_i).to_i.times do%>
                                <i class="material-icons checked_out">radio_button_unchecked</i>
                            <%end%>
                        <%else%>
                            <%5.times do%>
                                <i class="material-icons checked_out">radio_button_unchecked</i>
                            <%end%>
                        <%end%>
                    <%else%>
                        <a>---</a>
                    <%end%>
                </div>
            </div>
        </div>

        <div class="user_interview_offer">
            <div class="user_interview_offer_label">
                <a>Chấp nhận offer: </a>
            </div>
            <div class="user_interview_offer_content">
                <%if !company_interview.offer.to_s.empty?%>
                    <%if company_interview.offer%>
                        <a><i class="material-icons-outlined checked">check_circle_outline</i> Có </a>
                    <% else %>
                        <a><i class="material-icons-outlined checked_out">clear</i> Không </a>
                    <%end%>
                <%else%>
                    <a>---</a>
                <%end%>
            </div>
        </div>

        <div class="company_interview_body">
            <a><%= company_interview.content.html_safe %></a>
        </div>
    
        <div class="interview_toolbar">
            <div class="interview_reply_block">
                <%if user_signed_in?%>
                    <button class="reply_btn" onclick="myFunctionReplyInterview(<%=company_interview.id%>)"><i class="material-icons-outlined">chat_bubble_outline</i> <span><%= company_interview.company_reply_interviews.count%></span> <a>Trả lời</a> </button>
                <%else%>
                    <button type="button" data-toggle="modal" data-target="#buttonModalLoginCenter" class="reply_btn">
                        <i class="material-icons-outlined">chat_bubble_outline</i> <span><%= company_interview.company_reply_interviews.count%></span> <a>Trả lời</a>
                    </button>
                <%end%>
            </div>

            <div class="interview_like_block" id="like_interview_<%=company_interview.id%>">
                <%if user_signed_in?%>
                    <% pre_like = company_interview.company_like_interviews.find { |like| like.user_id == current_user.id} %>
                    <% if pre_like %>  
                        <%= button_to company_interview_company_like_interview_path(company_interview, pre_like), method: :delete, remote: true, form_class: "like_btn_highlight" do %>
                            <i class="material-icons">thumb_up</i> <span><%= company_interview.company_like_interviews.count%></span> <a>Thích</a>
                        <%end%>
                    <%else%>
                        <%= button_to company_interview_company_like_interviews_path(company_interview), method: :post, remote: true, form_class: "like_btn" do %>
                            <i class="material-icons-outlined">thumb_up</i> <span><%= company_interview.company_like_interviews.count%></span> <a>Thích</a>
                        <%end%>
                    <%end%>
                <%else%>
                    <button type="button" data-toggle="modal" data-target="#buttonModalLoginCenter" class="like_btn">
                        <i class="material-icons-outlined">thumb_up</i> <span><%= company_interview.company_like_interviews.count%></span> <a>Thích</a>
                    </button>
                <%end%>
            </div>

            <div class="interview_dislike_block" id="dislike_interview_<%=company_interview.id%>">
                <%if user_signed_in?%>
                    <% pre_dislike = company_interview.company_dislike_interviews.find { |dislike| dislike.user_id == current_user.id} %>
                    <% if pre_dislike %>
                        <%= button_to company_interview_company_dislike_interview_path(company_interview, pre_dislike), :method => :delete, remote: true, form_class: "dislike_btn_highlight" do%>
                            <i class="material-icons">thumb_down</i> <span><%= company_interview.company_dislike_interviews.count%></span> <a>Không thích</a>
                        <%end%> 
                    <%else%>
                        <%= button_to company_interview_company_dislike_interviews_path(company_interview), method: :post, remote: true, form_class: "dislike_btn" do%>
                            <i class="material-icons-outlined">thumb_down</i> <span><%= company_interview.company_dislike_interviews.count%></span> <a>Không thích</a>
                        <%end%> 
                    <%end%>
                <%else%>
                    <button type="button" data-toggle="modal" data-target="#buttonModalLoginCenter" class="dislike_btn">
                        <i class="material-icons-outlined">thumb_down</i> <span><%= company_interview.company_dislike_interviews.count%></span> <a>Không thích</a>
                    </button>
                <%end%>
            </div>

            <div class="interview_report_block">
                <%if user_signed_in?%>
                    <button class="report_btn" type="button" class="btn" data-toggle="modal" data-target="#buttonModalinterviewCommentIndexCenter">
                        <i class="material-icons-outlined">flag</i> <a>Báo xấu</a>
                    </button>
                <%else%>
                    <button class="report_btn" type="button" class="btn" data-toggle="modal" data-target="#buttonModalLoginCenter">
                        <i class="material-icons-outlined">flag</i> <a>Báo xấu</a>
                    </button>
                <%end%>
                <!-- Modal -->
                <div class="modal fade" id="buttonModalinterviewCommentIndexCenter" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <%= render :partial => 'reports/form', locals: {target_id: company_interview.id, target_type: "CompanyInterview"} %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="new_reply_interview_form_internal" id ="<%=company_interview.id%>">
        <%= form_for([company_interview, CompanyReplyInterview.new], remote: true) do |f| %>
            <div class="new_reply_interview_content">
                <div class="new_reply_interview_input_interview">
                    <%= f.text_area :reply_content, :required =>true, class: "form-control", placeholder: "Nhập câu trả lời của bạn tại đây" %>
                </div>
            </div>

            <div class="new_reply_interview_submit">
                <button type="submit" class="new_reply_interview_form_submit">
                    <i class="material-icons">send</i>
                </button>
            </div>
        <%end%>
    </div>

    <script>
        function myFunctionReplyInterview(id) {
            var x = document.getElementById(id);
            if (x.style.display == "block") 
            {
                x.style.display = "none";
            } 
            else 
            {
                x.style.display = "block";
            }
        }
    </script>

    <div class="reply_interview_content" id="reply_interview_block_<%=company_interview.id%>">
        <%= render company_interview.company_reply_interviews %>
    </div>
</div>