<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0"/>
    </head>

    <body>
        <div class="company_interview_block">
            <div class="company_interview_left">
                <div class="company_avatar">
                    <%if @company.avatar.attached?%>
                        <%= link_to (image_tag(@company.avatar)), image_path(url_for(@company.avatar)), rel: "gallery" , :href => company_path(@company)%>
                    <%end%>
                </div>

                <div class="user_info">
                    <div class="user_name">
                        <a><%=company_interview.user_name%></a>
                    </div>
                    <div class="user_time_review">
                        <a><%= time_ago_in_words(company_interview.created_at) %></a>
                    </div>
                </div>
            </div>

            <div class="company_interview_right">
                <div class="company_interview_title">
                    <strong><%= company_interview.position %></strong>
                </div>

                <div class="user_interview_status">
                    <a>Phỏng vấn qua <%= company_interview.get_interview %> . </a>
                    <a><%= company_interview.process %> vòng phỏng vấn . </a>
                    <a><%= time_ago_in_words(company_interview.created_at) %></a>
                </div>

                <div class="interview_satisfied_overview">
                    <div class="interview_content">
                        <div class="interview_satisfied_label">
                            <a>Hài lòng với buổi phỏng vấn: </a>
                        </div>
                        <div class="interview_score_star">
                            <%if company_interview.satisfied.to_i > 0%>
                                <%company_interview.satisfied.to_i.times do%>
                                    <i class="material-icons checked">circle</i>
                                <%end%>
                                <%(5 - company_interview.satisfied.to_i).to_i.times do%>
                                    <i class="material-icons checked_out">radio_button_unchecked</i>
                                <%end%>
                            <%else%>
                                <%5.times do%>
                                    <i class="material-icons checked_out">radio_button_unchecked</i>
                                <%end%>
                            <%end%>
                        </div>
                    </div>
                </div>

                <div class="user_interview_offer">
                    <div class="user_interview_offer_label">
                        <a>Chấp nhận offer: </a>
                    </div>
                    <div class="user_interview_offer_content">
                        <%if company_interview.offer%>
                            <a><i class="material-icons checked">check_circle_outline</i> Có </a>
                        <% else %>
                            <a><i class="material-icons checked_out">clear</i> Không </a>
                        <%end%>
                    </div>
                </div>

                <div class="company_interview_body">
                    <a><%= company_interview.content.html_safe %></a>
                </div>
            
                <div class="interview_info">
                    <div class="interview_toolbar">
                        <button class="reply_btn" onclick="myFunctionReplyReview()"><a><%= company_interview.company_reply_interviews.count%></a><i class="material-icons">chat_bubble</i> <span>Trả lời</span> </button>
                        
                        <a><%= company_interview.company_like_interviews.count%></a>
                        <%if logged_in?%>
                            <% pre_like = company_interview.company_like_interviews.find { |like| like.user_id == current_user.id} %>
                            <% if pre_like %>  
                                <%= link_to '<button class="like_btn_highlight"><i class="material-icons">thumb_up</i> <span>Thích</span> </button>'.html_safe, company_company_interview_company_like_interview_path(@company, company_interview, pre_like), method: :delete%>
                            <%else%>
                                <%= link_to '<button class="like_btn"><i class="material-icons">thumb_up</i> <span>Thích</span> </button>'.html_safe, company_company_interview_company_like_interviews_path(@company, company_interview), method: :post%>
                            <%end%>
                        <%else%>
                            <%= link_to '<button class="like_btn"><i class="material-icons">thumb_up</i> <span>Thích</span> </button>'.html_safe, login_path%>
                        <%end%>

                        <a><%= company_interview.company_dislike_interviews.count%></a>
                        <%if logged_in?%>
                            <% pre_dislike = company_interview.company_dislike_interviews.find { |dislike| dislike.user_id == current_user.id} %>
                            <% if pre_dislike %>
                                <%= link_to '<button class="dislike_btn_highlight"><i class="material-icons">thumb_down</i> <span>Không thích</span> </button>'.html_safe, company_company_interview_company_dislike_interview_path(@company, company_interview, pre_dislike), method: :delete%>
                            <%else%>
                                <%= link_to '<button class="dislike_btn"><i class="material-icons">thumb_down</i> <span>Không thích</span> </button>'.html_safe, company_company_interview_company_dislike_interviews_path(@company, company_interview), method: :post%>
                            <%end%>
                        <%else%>
                            <%= link_to '<button class="dislike_btn"><i class="material-icons">thumb_down</i> <span>Không thích</span> </button>'.html_safe, login_path%>
                        <%end%>
                    </div>
                </div>
            </div>

            <div class="new_reply_interview_form" id = "mydivInterview">
                <%= form_for [@company, company_interview, CompanyReplyInterview.new] do |f| %>

                    <div class="new_reply_interview_content">
                        <div class="new_reply_interview_input_interview">
                            <%= f.text_area :reply_content, class: "new_reply_interview_form_input_interview", placeholder: "Gửi trả lời" %>
                        </div>
                    </div>

                    <div class="new_reply_interview_submit">
                        <button type="submit" class="new_reply_interview_form_submit">
                            <i class="material-icons">send</i>
                        </button>
                    </div>
                <%end%>
            </div>

            <script>
                function myFunctionReplyInterview() {
                    var x = document.getElementById("mydivInterview");
                    if (x.style.display == "none") {
                        x.style.display = "block";
                    } else {
                        x.style.display = "none";
                    }
                }
            </script>
    
            <div class="reply_interview_content">
                <%if company_interview.company_reply_interviews.count > 0%>
                    <div class="interview_reply">
                        <%= render company_interview.company_reply_interviews %>
                    </div>
                <%end%>
            </div>
        </div>
    </body>
</html>