<div class="container">
	<div class="new_interview_form">
		<%= form_for [@company, CompanyInterview.new] do |f| %>			
			<div class="row">
				<div class="col-sm-8">
					<div class="new_interview_title_block">
						<div class="new_interview_title">
							<h3>Interview <%=@company.name%></h3>
							<a>Bạn sẽ chỉ mất ít phút để chia sẻ kinh nghiệm phỏng vấn tại <%=@company.name%>, chia sẻ của bạn sẽ giúp ích cho rất nhiều người ...</a>
						</div>
						<div class="company_interview_image">
							<%if @company.avatar?%>
								<img><%= image_tag @company.avatar.thumb.url %>
							<%end%>
						</div>
					</div>

					<div class="new_interview_title_sub">
						<a>Note: Mục có dấu <span>'*'</span> là bắt buộc</a>
					</div>

					<div class="new_interview_section">
						<div class="new_interview_content">
							<div class="row">
								<div class="col-sm-6">
									<div class="new_interview_label_score">
										<a><%= f.label :satisfied, "Mức độ hài lòng của bạn với buổi phỏng vấn", class: "new_interview_label_name" %><span>*</span></a>
									</div>
								</div>

								<div class="col-sm-6">
									<div class="new_interview_input_score">
										<div class="new_interview_input_score_form">
											<%= f.number_field :satisfied, :required => true, readonly: true, :id => "satisfied_id", :value => ''%>
										</div>

										<div class="new_interview_input_score_star">
											<button type="button" class="btnrating_satisfied" data-attr="1" id="rating-star-satisfied-1">
												<i class="material-icons-outlined">circle </i>
											</button>

											<button type="button" class="btnrating_satisfied" data-attr="2" id="rating-star-satisfied-2">
												<i class="material-icons-outlined">circle </i>
											</button>

											<button type="button" class="btnrating_satisfied" data-attr="3" id="rating-star-satisfied-3">
												<i class="material-icons-outlined">circle </i>
											</button>

											<button type="button" class="btnrating_satisfied" data-attr="4" id="rating-star-satisfied-4">
												<i class="material-icons-outlined">circle </i>
											</button>
											
											<button type="button" class="btnrating_satisfied" data-attr="5" id="rating-star-satisfied-5">
												<i class="material-icons-outlined">circle </i>
											</button>
										</div>

										<script>
											jQuery(document).ready(function($){
					
												$(".btnrating_satisfied").on('click',(function(e) {
												
												var previous_value = $("#selected_rating").val();
												
												var selected_value = $(this).attr("data-attr");
												$("#selected_rating").val(selected_value);

												$("#satisfied_id").val(selected_value).attr("disable","false");
												
												for (i = 1; i <= selected_value; ++i) {
													$("#rating-star-satisfied-"+i).toggleClass('btn-warning');
													$("#rating-star-satisfied-"+i).toggleClass('btn-default');
												}
												
												for (ix = 1; ix <= previous_value; ++ix) {
													$("#rating-star-satisfied-"+ix).toggleClass('btn-warning');
													$("#rating-star-satisfied-"+ix).toggleClass('btn-default');
												}
												
												}));
											});
										</script>
									</div>
								</div>
							</div>
						</div>

						<div class="new_interview_content">
							<div class="row">
								<div class="col-sm-6">
									<div class="new_interview_label_score">
										<a><%= f.label :difficultly, "Bạn cảm nhận thế nào về độ khó của bài phỏng vấn?", class: "new_interview_label_name" %><span>*</span></a>
									</div>
								</div>

								<div class="col-sm-6">
									<div class="new_interview_input_score">
										<div class="new_interview_input_score_form">
											<%= f.number_field :difficultly, readonly: true, :id => "difficultly_id", :value => ''%>
										</div>

										<div class="new_interview_input_score_star">
											<button type="button" class="btnrating_difficultly" data-attr="1" id="rating-star-difficultly-1">
												<i class="material-icons-outlined">crop_din </i>
											</button>

											<button type="button" class="btnrating_difficultly" data-attr="2" id="rating-star-difficultly-2">
												<i class="material-icons-outlined">crop_din </i>
											</button>

											<button type="button" class="btnrating_difficultly" data-attr="3" id="rating-star-difficultly-3">
												<i class="material-icons-outlined">crop_din </i>
											</button>

											<button type="button" class="btnrating_difficultly" data-attr="4" id="rating-star-difficultly-4">
												<i class="material-icons-outlined">crop_din </i>
											</button>
											
											<button type="button" class="btnrating_difficultly" data-attr="5" id="rating-star-difficultly-5">
												<i class="material-icons-outlined">crop_din </i>
											</button>
										</div>

										<script>
											jQuery(document).ready(function($){
					
												$(".btnrating_difficultly").on('click',(function(e) {
												
												var previous_value = $("#selected_rating").val();
												
												var selected_value = $(this).attr("data-attr");
												$("#selected_rating").val(selected_value);

												$("#difficultly_id").val(selected_value).attr("disable","false");
												
												for (i = 1; i <= selected_value; ++i) {
													$("#rating-star-difficultly-"+i).toggleClass('btn-warning');
													$("#rating-star-difficultly-"+i).toggleClass('btn-default');
												}
												
												for (ix = 1; ix <= previous_value; ++ix) {
													$("#rating-star-difficultly-"+ix).toggleClass('btn-warning');
													$("#rating-star-difficultly-"+ix).toggleClass('btn-default');
												}
												
												}));
											});
										</script>
									</div>
								</div>
							</div>
						</div>

						<div class="new_interview_content">
							<div class="row">
								<div class="col-sm-6">
									<div class="new_interview_label_score">
										<a><%= f.label :offer, "Bạn có chấp nhận offer từ công ty không?", class: "new_interview_label_name" %><span>*</span></a>
									</div>
								</div>

								<div class="col-sm-6">
									<div class="new_interview_input">
										<div class="new_interview_input_radio">
											<%=f.collection_radio_buttons :offer, [[true, "Có"] ,[false, "Không"]], :first, :last, { checked: true }%>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="new_interview_section">
						<div class="new_interview_content">
							<div class="new_interview_label">
								<a><%= f.label :position, "Vị trí, công việc bạn mà tham gia phỏng vấn", class: "new_interview_label_name" %><span>*</span></a>
							</div>

							<div class="new_interview_input">
								<%= f.text_field :position, :required => true, class: "form-control", placeholder: "Nhập vị trí mà bạn phỏng vấn" %>
							</div>
						</div>

						<div class="new_interview_content">
							<div class="new_interview_label">
								<a><%= f.label :get_interview, "Bạn tìm đến công ty từ kênh thông tin nào?", class: "new_interview_label_name" %><span>*</span></a>
							</div>

							<div class="new_interview_input">
								<%= f.select(:get_interview, options_for_select(['Kênh tuyển dụng','Bạn bè người thân', 'Mạng xã hội', 'Quảng cáo', 'Kênh khác'], 'Kênh tuyển dụng'), {include_blank: false}, { :class => 'form-control' }) %>
							</div>
						</div>
						
						<div class="new_interview_content">
							<div class="new_interview_label">
								<a><%= f.label :process, "Số vòng phỏng vấn bạn đã tham gia", class: "new_interview_label_name" %><span>*</span></a>
							</div>

							<div class="new_interview_input">
								<%= f.select(:process, options_for_select([["1 vòng", 1], ["2 vòng", 2], ["3 vòng", 3], ["4 vòng", 4], ["5 vòng", 5]], ["1 vòng", 1]), {include_blank: false}, { :class => 'form-control' }) %>
							</div>
						</div>
					</div>
					
					<div class="new_interview_section">
						<div class="new_interview_label_sub">
							<span>Chia sẻ thêm của bạn về quá trình phỏng vấn tại <%=@company.name%>(tùy chọn) </span>
						</div>
						<div class="new_interview_content">
							<div class="new_interview_label">
								<a><%= f.label :content, "Chia sẻ nội dung hoặc câu hỏi phỏng vấn", class: "new_interview_label_name" %></a>
							</div>

							<div class="new_interview_input">
								<%= f.cktext_area :content, class: "form-control-rich-text", ckeditor: {toolbar: "mini", height: 100}, placeholder: "Chia sẻ nội dung phỏng vấn, câu hỏi hay cho mọi người nào" %>
							</div>
						</div>
					</div>

					<div class="new_interview_submit">
						<%= f.submit "Gửi chia sẻ", class: "new_interview_form_submit" %>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="interview_policy">
						<div class="interview_policy_title">
							<a>Lưu ý trước khi viết bài Interview</a>
						</div>
						<div class="interview_policy_content">
							<div class="interview_policy_content_index">
								· Không sử dụng từ ngữ mang ý xúc phạm, miệt thị người khác
							</div>
							<div class="interview_policy_content_index">
								· Không sử dụng từ ngữ mang tính chất kích động, bạo lực
							</div>
							<div class="interview_policy_content_index">
								· Không cung cấp thông tin cá nhân
							</div>
							<div class="interview_policy_content_index">
								· Không cung cấp thông tin bảo mật, bí mật kinh doanh của công ty
							</div>
							<div class="interview_policy_content_link">
								Cảm ơn bạn đã đưa ra những đánh giá chân thực nhất. Xem thêm thông tin chi tiết về 
								<a href="https://www.firework.vn/posts/policy">thỏa thuận sử dụng </a>
							</div>
						</div>
					</div>
				</div>
			</div>
		<%end%>
	</div>
</div>