<!DOCTYPE html>
<html>
    <head>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <!-- Add icon library -->
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    </head>

    <body>
        <div class='body_content'>
            <div class="new_interview_form">
                <%= form_for [@company, CompanyInterview.new] do |f| %>
                    <div class="new_interview_title">
                        <strong>Chia sẻ kinh nghiệm phỏng vấn của bạn </strong>
                    </div>

                    <div class="new_interview_section">
                        <div class="new_interview_content">
                            <div class="new_interview_label">
                                <t><%= f.label :position, "Vị trí phỏng vấn*", class: "new_interview_label_name" %></t>
                            </div>

                            <div class="new_interview_input">
                                <%= f.text_field :position, class: "new_interview_form_input", placeholder: "  Nhập vị trí mà bạn phỏng vấn" %>
                            </div>
                        </div>

                        <div class="new_interview_content">
                            <div class="new_interview_label">
                                <t><%= f.label :get_interview, "Bạn tìm đến công ty từ đâu*", class: "new_interview_label_name" %></t>
                            </div>

                            <div class="new_interview_input">
                                <%= f.text_field :get_interview, class: "new_interview_form_input", placeholder: "  Ex: Người quen, mạng xã hội, internet" %>
                            </div>
                        </div>

                        <div class="new_interview_content">
                            <div class="new_interview_label">
                                <t><%= f.label :process, "Số vòng phỏng vấn*", class: "new_interview_label_name" %></t>
                            </div>

                            <div class="new_interview_input">
                                <%= f.select(:process, ['1','2', '3', '4', '5'], {include_blank: true}, { :class => 'my_style_class' }) %>
                            </div>
                        </div>

                        <div class="new_interview_content">
                            <div class="new_interview_label">
                                <t><%= f.label :difficultly, "Độ khó*", class: "new_interview_label_name" %></t>
                            </div>

                            <div class="new_interview_input">
                                <%= f.select(:difficultly, ['1','2', '3', '4', '5'], {include_blank: true}, { :class => 'my_style_class' }) %>
                            </div>
                        </div>

                        <div class="new_interview_content">
                            <div class="new_interview_label">
                                <t><%= f.label :difficultly, "Mức độ hài lòng*", class: "new_interview_label_name" %></t>
                            </div>

                            <div class="new_interview_input">
                                <%= f.select(:difficultly, ['1','2', '3', '4', '5'], {include_blank: true}, { :class => 'my_style_class' }) %>
                            </div>
                        </div>

                        <div class="new_interview_content">
                            <div class="new_interview_label">
                                <t><%= f.label :offer, "Bạn có chấp nhận offer không*", class: "new_interview_label_name" %></t>
                            </div>

                            <div class="new_interview_input">
                                <%= f.select(:offer, ['1','0'], {include_blank: true}, { :class => 'my_style_class' }) %>
                            </div>
                        </div>

                        <div class="new_interview_content">
                            <div class="new_interview_label">
                                <t><%= f.label :content, "Nội dung phỏng vấn*", class: "new_interview_label_name" %></t>
                            </div>

                            <div class="new_interview_input">
                                <%= f.text_field :content, class: "new_interview_form_input", placeholder: "  Chia sẻ nội dung phỏng vấn, câu hỏi hay cho mọi người nào" %>
                            </div>
                        </div>
                    </div>

                    <div class="new_interview_content_checkbox">
                        <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                        <label for="agree-term" class="label-agree-term"><span><span></span></span> Đồng ý với điều khoản điều kiện</label>
                    </div>

                    <div class="new_interview_submit">
                        <%= f.submit "Gửi phản hồi", class: "new_interview_form_submit" %>
                    </div>
                <%end%>
            </div>
        </div>
    </body>
</html>