<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0"/>
    </head>

    <body>
        <div class='container'>
            <div class="new_interview_form">
                <%= form_for [@company, CompanyInterview.new] do |f| %>
                    <div class="new_interview_title">
                        <strong>Chia sẻ kinh nghiệm phỏng vấn của bạn tại <%=@company.name%> </strong>
                    </div>

                    <div class="new_interview_section">
                        <div class="new_interview_content">
                            <div class="new_interview_label">
                                <a><%= f.label :position, "Vị trí phỏng vấn*", class: "new_interview_label_name" %></a>
                            </div>

                            <div class="new_interview_input">
                                <%= f.text_field :position, class: "new_interview_form_input", placeholder: "  Nhập vị trí mà bạn phỏng vấn" %>
                            </div>
                        </div>

                        <div class="new_interview_content">
                            <div class="new_interview_label">
                                <a><%= f.label :get_interview, "Bạn tìm đến công ty từ đâu*", class: "new_interview_label_name" %></a>
                            </div>

                            <div class="new_interview_input">
                                <%= f.select(:get_interview, ['Mạng xã hội','Bạn bè người thân', 'Kênh tuyển dụng', 'Quảng cáo', 'Kênh khác'], {include_blank: true}, { :class => 'my_style_class' }) %>
                            </div>
                        </div>

                        <div class="new_interview_content">
                            <div class="new_interview_label">
                                <a><%= f.label :process, "Số vòng phỏng vấn*", class: "new_interview_label_name" %></a>
                            </div>

                            <div class="new_interview_input">
                                <%= f.select(:process, options_for_select(['1','2', '3', '4', '5'], '1'), {include_blank: true}, { :class => 'my_style_class' }) %>
                            </div>
                        </div>

                        <div class="new_interview_content">
                            <div class="new_interview_label">
                                <a><%= f.label :difficultly, "Độ khó bài test hoặc câu hỏi phỏng vấn*", class: "new_interview_label_name" %></a>
                            </div>

                            <div class="new_interview_input">
                                <%= f.collection_radio_buttons :difficultly, [[1, 'Rất dễ'] ,[2, 'Dễ'], [3, 'Vừa sức'], [4, 'Khó '], [5, "Rất khó"] ],:first, :last, { item_wrapper_tag: false } do |b|
                                    b.radio_button(:class => "collection_radio_buttons icon-star") + b.label(:class => "collection_radio_buttons_label icon-star-label")
                                end%>
                            </div>
                        </div>

                        <div class="new_interview_content">
                            <div class="new_interview_label">
                                <a><%= f.label :satisfied, "Mức độ hài lòng*", class: "new_interview_label_name" %></a>
                            </div>

                            <div class="new_interview_input">
                                <%= f.collection_radio_buttons :satisfied, [[1, 'Rất không hài lòng'] ,[2, 'Không hài lòng'], [3, 'Hài lòng'], [4, 'Tốt'], [5, "Rất tốt"] ],:first, :last, { item_wrapper_tag: false } do |b|
                                    b.radio_button(:class => "collection_radio_buttons icon-star") + b.label(:class => "collection_radio_buttons_label icon-star-label")
                                end%>
                            </div>
                        </div>

                        <div class="new_interview_content">
                            <div class="new_interview_label">
                                <a><%= f.label :offer, "Bạn có chấp nhận offer không*", class: "new_interview_label_name" %></a>
                            </div>

                            <div class="new_interview_input">
                                <%= f.collection_radio_buttons :offer, [[1, 'Có'] ,[2, 'Không']],:first, :last, { item_wrapper_tag: false } do |b|
                                    b.radio_button(:class => "collection_radio_buttons icon-star") + b.label(:class => "collection_radio_buttons_label icon-star-label")
                                end%>
                            </div>
                        </div>

                        <div class="new_interview_content">
                            <div class="new_interview_label">
                                <a><%= f.label :content, "Nội dung phỏng vấn*", class: "new_interview_label_name" %></a>
                            </div>

                            <div class="new_interview_input">
                                <%= f.text_field :content, class: "new_interview_form_input", placeholder: "  Chia sẻ nội dung phỏng vấn, câu hỏi hay cho mọi người nào" %>
                            </div>
                        </div>
                    </div>

                    <div class="new_interview_submit">
                        <%= f.submit "Gửi phản hồi", class: "new_interview_form_submit" %>
                    </div>
                <%end%>
            </div>
        </div>
    </body>
</html>