<div class="container">
	<div class="new_interview_form">
		<%= form_for [@company, CompanyInterview.new] do |f| %>			
			<div class="row">
				<div class="col-sm-8">
					<div class="new_interview_title_block">
						<div class="new_interview_title">
							<h3><%=t(:interview)%> <%=@company.name%></h3>
							<a><%=t(:form_interview_intro_left)%> <%=@company.name%>, <%=t(:form_interview_intro_left)%></a>
						</div>
						<div class="company_interview_image">
							<%if @company.avatar?%>
								<%= image_tag @company.avatar.thumb.url %>
							<%else%>
								<%= image_tag "defaults/company_avatar_default.svg" %>
							<%end%>
						</div>
					</div>

					<div class="new_interview_title_sub">
						<a><%=t(:form_require_left)%> <span>'*'</span> <%=t(:form_require_right)%></a>
					</div>

					<div class="new_interview_section">
						<div class="new_interview_content">
							<div class="row">
								<div class="col-sm-6">
									<div class="new_interview_label_score">
										<a><%= f.label :satisfied, t(:form_interview_1), class: "new_interview_label_name" %><span>*</span></a>
									</div>
								</div>

								<div class="col-sm-6">
									<div class="new_interview_input_score">
										<div class="new_interview_input_score_form">
											<%= f.number_field :satisfied, :required => true, readonly: true, :id => "satisfied_id", :value => ''%>
										</div>

										<div class="new_interview_input_score_star">
											<button type="button" class="btnrating_satisfied" data-attr="1" id="rating-star-satisfied-1">
												<i class="material-icons-outlined">circle </i>
											</button>

											<button type="button" class="btnrating_satisfied" data-attr="2" id="rating-star-satisfied-2">
												<i class="material-icons-outlined">circle </i>
											</button>

											<button type="button" class="btnrating_satisfied" data-attr="3" id="rating-star-satisfied-3">
												<i class="material-icons-outlined">circle </i>
											</button>

											<button type="button" class="btnrating_satisfied" data-attr="4" id="rating-star-satisfied-4">
												<i class="material-icons-outlined">circle </i>
											</button>
											
											<button type="button" class="btnrating_satisfied" data-attr="5" id="rating-star-satisfied-5">
												<i class="material-icons-outlined">circle </i>
											</button>
										</div>

										<script>
											jQuery(document).ready(function($){
					
												$(".btnrating_satisfied").on('click',(function(e) {
												
												var previous_value = $("#selected_rating").val();
												
												var selected_value = $(this).attr("data-attr");
												$("#selected_rating").val(selected_value);

												$("#satisfied_id").val(selected_value).attr("disable","false");
												
												for (i = 1; i <= selected_value; ++i) {
													$("#rating-star-satisfied-"+i).toggleClass('btn-warning');
													$("#rating-star-satisfied-"+i).toggleClass('btn-default');
												}
												
												for (ix = 1; ix <= previous_value; ++ix) {
													$("#rating-star-satisfied-"+ix).toggleClass('btn-warning');
													$("#rating-star-satisfied-"+ix).toggleClass('btn-default');
												}
												
												}));
											});
										</script>
									</div>
								</div>
							</div>
						</div>

						<div class="new_interview_content">
							<div class="row">
								<div class="col-sm-6">
									<div class="new_interview_label_score">
										<a><%= f.label :difficultly, t(:form_interview_2), class: "new_interview_label_name" %><span>*</span></a>
									</div>
								</div>

								<div class="col-sm-6">
									<div class="new_interview_input_score">
										<div class="new_interview_input_score_form">
											<%= f.number_field :difficultly, readonly: true, :id => "difficultly_id", :value => ''%>
										</div>

										<div class="new_interview_input_score_star">
											<button type="button" class="btnrating_difficultly" data-attr="1" id="rating-star-difficultly-1">
												<i class="material-icons-outlined">crop_din </i>
											</button>

											<button type="button" class="btnrating_difficultly" data-attr="2" id="rating-star-difficultly-2">
												<i class="material-icons-outlined">crop_din </i>
											</button>

											<button type="button" class="btnrating_difficultly" data-attr="3" id="rating-star-difficultly-3">
												<i class="material-icons-outlined">crop_din </i>
											</button>

											<button type="button" class="btnrating_difficultly" data-attr="4" id="rating-star-difficultly-4">
												<i class="material-icons-outlined">crop_din </i>
											</button>
											
											<button type="button" class="btnrating_difficultly" data-attr="5" id="rating-star-difficultly-5">
												<i class="material-icons-outlined">crop_din </i>
											</button>
										</div>

										<script>
											jQuery(document).ready(function($){
					
												$(".btnrating_difficultly").on('click',(function(e) {
												
												var previous_value = $("#selected_rating").val();
												
												var selected_value = $(this).attr("data-attr");
												$("#selected_rating").val(selected_value);

												$("#difficultly_id").val(selected_value).attr("disable","false");
												
												for (i = 1; i <= selected_value; ++i) {
													$("#rating-star-difficultly-"+i).toggleClass('btn-warning');
													$("#rating-star-difficultly-"+i).toggleClass('btn-default');
												}
												
												for (ix = 1; ix <= previous_value; ++ix) {
													$("#rating-star-difficultly-"+ix).toggleClass('btn-warning');
													$("#rating-star-difficultly-"+ix).toggleClass('btn-default');
												}
												
												}));
											});
										</script>
									</div>
								</div>
							</div>
						</div>

						<div class="new_interview_content">
							<div class="row">
								<div class="col-sm-6">
									<div class="new_interview_label_score">
										<a><%= f.label :offer, t(:form_interview_3), class: "new_interview_label_name" %><span>*</span></a>
									</div>
								</div>

								<div class="col-sm-6">
									<div class="new_interview_input">
										<div class="new_interview_input_radio">
											<%=f.collection_radio_buttons :offer, [[true, t(:yes)] ,[false, t(:no)]], :first, :last, { checked: true }%>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="new_interview_section">
						<div class="new_interview_content">
							<div class="new_interview_label">
								<a><%= f.label :position, t(:form_interview_4), class: "new_interview_label_name" %><span>*</span></a>
							</div>

							<div class="new_interview_input">
								<%= f.text_field :position, :required => true, class: "form-control", placeholder: t(:form_interview_4_sub) %>
							</div>
						</div>

						<div class="new_interview_content">
							<div class="new_interview_label">
								<a><%= f.label :get_interview, t(:form_interview_5), class: "new_interview_label_name" %><span>*</span></a>
							</div>

							<div class="new_interview_input">
								<%= f.select(:get_interview, options_for_select([t(:form_interview_get_1),t(:form_interview_get_2), t(:form_interview_get_3), t(:form_interview_get_4), t(:form_interview_get_5)], t(:form_interview_get_1)), {include_blank: false}, { :class => 'form-select' }) %>
							</div>
						</div>
						
						<div class="new_interview_content">
							<div class="new_interview_label">
								<a><%= f.label :process, t(:form_interview_6), class: "new_interview_label_name" %><span>*</span></a>
							</div>

							<div class="new_interview_input">
								<%= f.select(:process, options_for_select([["1", 1], ["2", 2], ["3", 3], ["4", 4], ["5", 5]], ["1", 1]), {include_blank: false}, { :class => 'form-select' }) %>
							</div>
						</div>
					</div>

					<div id="add_interview_question_id"></div>
					<%CompanyInterviewQuestionsController.set_interview_question_count%>
					<%CompanyInterviewQuestionsController.set_current_interview_form_object(f)%>
					<%= link_to add_interview_question_path, :remote => true, method: :get do%>
						<button type="button" class="add_interview_question_btn"> <i class="material-icons-outlined">add</i> <span> <%=t(:add_interview_question)%></span> </button>
					<%end%>
					
					<div class="new_interview_section">
						<div class="new_interview_label_sub">
							<span><%=t(:form_interview_7)%> <%=@company.name%>(<%=t(:optional).downcase%>) </span>
						</div>
						<div class="new_interview_content">
							<div class="new_interview_label">
								<a><%= f.label :content, t(:form_interview_7_sub), class: "new_interview_label_name" %></a>
							</div>

							<div class="new_interview_input">
								<%= f.text_area :content, :class => "tinymce"%>
								<%= tinymce :mini %>
							</div>
						</div>
					</div>

					<div class="new_interview_submit">
						<%= f.submit t(:send), class: "new_interview_form_submit" %>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="interview_policy">
						<div class="interview_policy_title">
							<a><%=t(:form_help_cmn)%></a>
						</div>
						<div class="interview_policy_content">
							<div class="interview_policy_content_index">
								路 <%=t(:form_help_cmn_1)%>
							</div>
							<div class="interview_policy_content_index">
								路 <%=t(:form_help_cmn_2)%>
							</div>
							<div class="interview_policy_content_index">
								路 <%=t(:form_help_cmn_3)%>
							</div>
							<div class="interview_policy_content_index">
								路 <%=t(:form_help_cmn_4)%>
							</div>
							<div class="interview_policy_content_link">
								<%=t(:form_help_cmn_5)%>
								<a href="<%=term_path%>"><%=t(:term_and_service)%> </a>
							</div>
						</div>
					</div>
				</div>
			</div>
		<%end%>
	</div>
</div>