<div class="interview_score_content">
    <div class="interview_score">
        <div class="row">
            <div class="col-sm-4 padding-custom">
                <div class="interview_score_difficult">
                    <div class="interview_score_label">
                        <a><%=t(:difficult_level)%></a>
                    </div>
                    <div class="interview_point">
                        <strong><%=cal_rating_interview_difficultly_score(@company).round(1)%></strong>
                    </div>
                    <div class="interview_score_star">
                        <%if cal_rating_interview_difficultly_score(@company) > 0%>
                            <%cal_rating_interview_difficultly_score(@company).to_i.times do%>
                                <i class="material-icons checked">stop</i>
                            <%end%>
                            <%(5 - cal_rating_interview_difficultly_score(@company).to_i).to_i.times do%>
                                <i class="material-icons checked_out">stop</i>
                            <%end%>
                        <%else%>
                            <%5.times do%>
                                <i class="material-icons checked_out">stop</i>
                            <%end%>
                        <%end%>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 padding-custom-middle">
                <div class="interview_score_satisfied">
                    <div class="interview_score_label">
                        <a><%=t(:satic_level)%></a>
                    </div>
                    <div class="interview_point">
                        <strong><%=cal_rating_interview_satisfied_score(@company).round(1)%></strong>
                    </div>
                    <div class="interview_score_star">
                        <%if cal_rating_interview_satisfied_score(@company) > 0%>
                            <%cal_rating_interview_satisfied_score(@company).to_i.times do%>
                                <i class="material-icons checked">circle</i>
                            <%end%>
                            <%(5 - cal_rating_interview_satisfied_score(@company).to_i).to_i.times do%>
                                <i class="material-icons checked_out">radio_button_unchecked</i>
                            <%end%>
                        <%else%>
                            <%5.times do%>
                                <i class="material-icons checked_out">radio_button_unchecked</i>
                            <%end%>
                        <%end%>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 padding-custom">
                <div class="interview_score_offer">
                    <div class="interview_score_label">
                        <a><%=t(:accept_offer)%></a>
                    </div>
                    <div class="interview_score_offer_block">
                        <div class="flex-wrapper-interview">
                            <div class="single-chart-interview">
                                <svg viewBox="0 0 36 36" class="circular-chart orange">
                                    <path class="circle-bg"
                                        d="M18 2.0845
                                            a 15.9155 15.9155 0 0 1 0 31.831
                                            a 15.9155 15.9155 0 0 1 0 -31.831"
                                    />
                                    <path class="circle"
                                        stroke-dasharray="<%=cal_rating_interview_offer_score(@company)%>, 100"
                                        d="M18 2.0845
                                            a 15.9155 15.9155 0 0 1 0 31.831
                                            a 15.9155 15.9155 0 0 1 0 -31.831"
                                    />
                                    <text x="18" y="20.35" class="percentage-interview"><%=cal_rating_interview_offer_score(@company)%>%</text>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>