<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
        <div class="interview_score_content">
            <div class="interview_score_title">
                <a>Kinh nghiệm phỏng vấn tại <%=@company.name%></a>
            </div>

            <div class="interview_new_button_side">
                <div class="interview_new_button">
                    <%= link_to '<button type="submit"> <i class="material-icons">edit</i> <span> Chia sẻ kinh nghiệm </span> </button>'.html_safe, new_company_company_interview_path(@company) %>
                </div>
            </div>

            <div class="interview_score">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="interview_score_difficult">
                            <div class="interview_point">
                                <strong><%=rating_interview_difficultly_score.round(1)%></strong>
                            </div>
                            <div class="interview_score_star">
                                <%if rating_interview_difficultly_score > 0%>
                                    <%rating_interview_difficultly_score.to_i.times do%>
                                        <i class="material-icons checked">circle</i>
                                    <%end%>
                                    <%(5 - rating_interview_difficultly_score.to_i).to_i.times do%>
                                        <i class="material-icons checked_out">radio_button_unchecked</i>
                                    <%end%>
                                <%else%>
                                    <%5.times do%>
                                        <i class="material-icons checked_out">radio_button_unchecked</i>
                                    <%end%>
                                <%end%>
                            </div>
                            <div class="interview_score_label">
                                <a>Độ khó bài phỏng vấn</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="interview_score_satisfied">
                            <div class="interview_point">
                                <strong><%=rating_interview_satisfied_score.round(1)%></strong>
                            </div>
                            <div class="interview_score_star">
                                <%if rating_interview_satisfied_score > 0%>
                                    <%rating_interview_satisfied_score.to_i.times do%>
                                        <i class="material-icons checked">circle</i>
                                    <%end%>
                                    <%(5 - rating_interview_satisfied_score.to_i).to_i.times do%>
                                        <i class="material-icons checked_out">radio_button_unchecked</i>
                                    <%end%>
                                <%else%>
                                    <%5.times do%>
                                        <i class="material-icons checked_out">radio_button_unchecked</i>
                                    <%end%>
                                <%end%>
                            </div>
                            <div class="interview_score_label">
                                <a>Hài lòng với cuộc phỏng vấn</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="interview_score_process">
                            <div class="interview_content">
                                <div class="interview_point">
                                    <strong><%=rating_interview_process_score.round(1)%></strong>
                                </div>
                                <div class="interview_score_star">
                                    <i class="material-icons checked">people_outline</i>
                                </div>
                                <div class="interview_score_label">
                                    <a>Vòng phỏng vấn trung bình</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="interview_score_interview">
                            <div class="interview_content">
                                <div class="interview_point">
                                    <strong><%=(rating_interview_offer_score.to_i)%> %</strong>
                                </div>
                                <div class="interview_score_star">
                                    <i class="material-icons checked">work_outline</i>
                                </div>
                                <div class="interview_score_label">
                                    <a>Chấp nhận offer</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <body>
</html>