<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Add icon library -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body>
        <div class="interview_score_content">
            <div class="interview_score_title">
                <t>Tổng quan chung</t>
            </div>
            <%# interview in button %>
            <div class="interview_new_button_side">
                <div class="interview_new_button">
                    <form action="/action_page.php">
                        <%= link_to '<button type="submit"> <i class="fa fa-edit"></i> Chia sẻ kinh nghiệm </button>'.html_safe, new_company_company_interview_path(@company) %>
                    </form>
                </div>
            </div>

            <div class="interview_score">
                <div class="interview_score_difficult">
                    <div class="interview_point">
                        <strong><%=rating_interview_difficultly_score.round(1)%></strong>
                    </div>
                    <div class="interview_score_star">
                        <%if rating_interview_difficultly_score > 0%>
                            <%rating_interview_difficultly_score.to_i.times do%>
                                <i class="material-icons checked">circle</i>
                            <%end%>
                            <%(5 - rating_interview_difficultly_score.to_i).to_i.times do%>
                                <i class="material-icons checked_out">panorama_fish_eye</i>
                            <%end%>
                        <%else%>
                            <%5.times do%>
                                <i class="material-icons checked_out">panorama_fish_eye</i>
                            <%end%>
                        <%end%>
                    </div>
                    <div class="interview_score_label">
                        <t>Độ khó bài phỏng vấn</t>
                    </div>
                </div>

                <div class="interview_score_satisfied">
                    <div class="interview_point">
                        <strong><%=rating_interview_satisfied_score.round(1)%></strong>
                    </div>
                    <div class="interview_score_star">
                        <%if rating_interview_satisfied_score > 0%>
                            <%rating_interview_satisfied_score.to_i.times do%>
                                <i class="material-icons checked">star</i>
                            <%end%>
                            <%(5 - rating_interview_satisfied_score.to_i).to_i.times do%>
                                <i class="material-icons checked_out">star_outline</i>
                            <%end%>
                        <%else%>
                            <%5.times do%>
                                <i class="material-icons checked_out">star_outline</i>
                            <%end%>
                        <%end%>
                    </div>
                    <div class="interview_score_label">
                        <t>Mức độ hài lòng</t>
                    </div>
                </div>

                <div class="interview_score_process">
                    <div class="interview_content">
                        <div class="interview_point">
                            <strong><%=rating_interview_process_score.round(1)%></strong>
                        </div>
                        <div class="interview_score_star">
                            <i class="material-icons checked">people_outline</i>
                        </div>
                        <div class="interview_score_label">
                            <t>Vòng phỏng vấn trung bình</t>
                        </div>
                    </div>
                </div>

                <div class="interview_score_interview">
                    <div class="interview_content">
                        <div class="interview_point">
                            <strong><%=rating_interview_offer_score.round(1) * 100%> %</strong>
                        </div>
                        <div class="interview_score_star">
                            <i class="material-icons checked">work_outline</i>
                        </div>
                        <div class="interview_score_label">
                            <t>Chấp nhận offer</t>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <body>
</html>