<div class="container">
    <div class="new_problem_form">
        <%= form_for @problem, :html => { :class => "form-horizontal problem" } do |f| %>
            <div class="new_problem_title">
                <%if !@is_edit%>
					<h3>Tạo một câu hỏi mới</h3>
				<%else%>
					<h3>Update thông tin câu hỏi <%=@problem.title%></h3>
				<%end%>
            </div>

            <div class="new_problem_title_sub">
                <span>Note: Mục có dấu '*' là bắt buộc</span>
            </div>

            <div class="new_problem_section">
                <div class="new_problem_content">
                    <div class="new_problem_label">
                        <a><%= f.label :category, "Lĩnh vực chính của câu hỏi*", class: "new_problem_label_name" %></a>
                    </div>

                    <div class="new_problem_input">
                        <%= f.select(:category, options_for_select([['Thuật toán', 1], ['Câu hỏi phỏng vấn', 2], ['EQ Test', 3], ['IQ Test', 4], ['Câu hỏi khác', 5]], ["Câu hỏi khác", 5]), {include_blank: false, :required => true}, { :class => 'form-control' }) %>
                    </div>
                </div>

                <div class="new_problem_content">
                    <div class="new_problem_label">
                        <a><%= f.label :difficult, "Mức độ, độ khó câu của câu hỏi*", class: "new_problem_label_name" %></a>
                    </div>

                    <div class="new_problem_input">
                        <%= f.select(:difficult, options_for_select(['Dễ', 'Trung bình', 'Khó'], "Dễ"), {include_blank: false, :required => true}, { :class => 'form-control' }) %>
                    </div>
                </div>

                <div class="new_problem_content">
                    <div class="new_problem_label">
                        <a><%= f.label :title, "Tiêu đề câu hỏi*", class: "new_problem_label_name" %></a>
                    </div>

                    <div class="new_problem_input">
                        <%= f.text_field :title,  autofocus: true, :required => true, class: "form-control", placeholder: "Nhập tên vấn đề cần giải quyết" %>
                    </div>
                </div>

                <div class="new_problem_content">
                    <div class="new_problem_label">
                        <a><%= f.label :content, "Nội dung câu hỏi*", class: "new_problem_label_name" %></a>
                    </div>

                    <div class="new_problem_input">
                        <%= f.cktext_area :content, :required => true, class: "form-control-rich-text", ckeditor: {toolbar: "high", height: 300}, placeholder: "Mô tả nội dung nội dung câu hỏi"%>
                    </div>
                </div>
            </div>  

            <div class="new_problem_submit">
                <%= f.submit "Gửi nội dung", class: "new_problem_form_submit" %>
            </div>
        <%end%>
    </div>
</div>