<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <div class="new_problem_form">
                <%= form_for @problem, :html => { :class => "form-horizontal problem" } do |f| %>
                    <div class="new_problem_title">
                        <%if !@is_edit%>
                            <h3>Tạo một câu hỏi mới</h3>
                        <%else%>
                            <h3>Update thông tin câu hỏi <%=@problem.title%></h3>
                        <%end%>
                    </div>

                    <div class="new_problem_title_sub">
                        <a>Note: Mục có dấu <span>'*'</span> là bắt buộc</a>
                    </div>

                    <div class="new_problem_section">
                        <div class="new_problem_content">
                            <div class="new_problem_label">
                                <a><%= f.label :category, "Lĩnh vực chính của câu hỏi", class: "new_problem_label_name" %><span>*</span></a>
                            </div>

                            <div class="new_problem_input">
                                <%= f.select(:category, options_for_select([['Thuật toán', 1], ['Câu hỏi phỏng vấn', 2], ['EQ Test', 3], ['IQ Test', 4], ['Câu hỏi khác', 5]], ["Câu hỏi khác", 5]), {include_blank: false, :required => true}, { :class => 'form-select' }) %>
                            </div>
                        </div>

                        <div class="new_problem_content">
                            <div class="new_problem_label">
                                <a><%= f.label :difficult, "Mức độ, độ khó câu của câu hỏi", class: "new_problem_label_name" %><span>*</span></a>
                            </div>

                            <div class="new_problem_input">
                                <%= f.select(:difficult, options_for_select(['Dễ', 'Trung bình', 'Khó'], "Dễ"), {include_blank: false, :required => true}, { :class => 'form-select' }) %>
                            </div>
                        </div>

                        <div class="new_problem_content">
                            <div class="new_problem_label">
                                <a><%= f.label :title, "Tiêu đề câu hỏi", class: "new_problem_label_name" %><span>*</span></a>
                            </div>

                            <div class="new_problem_input">
                                <%= f.text_field :title,  autofocus: true, :required => true, class: "form-control", placeholder: "Nhập tên vấn đề cần giải quyết" %>
                            </div>
                        </div>

                        <div class="new_problem_content">
                            <div class="new_problem_label">
                                <a><%= f.label :content, "Nội dung câu hỏi", class: "new_problem_label_name" %><span>*</span></a>
                            </div>

                            <div class="new_problem_input">
                                <%= f.text_area :content, :class => "tinymce"%>
                                <%= tinymce :medium %>
                            </div>
                        </div>
                    </div>  

                    <div class="new_problem_submit">
                        <%= f.submit "Gửi nội dung", class: "new_problem_form_submit" %>
                    </div>
                <%end%>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="problem_policy">
                <div class="problem_policy_title">
                    <a>Lưu ý trước khi đặt câu hỏi</a>
                </div>
                <div class="problem_policy_content">
                    <div class="problem_policy_content_index">
                        · Đặt tiêu đề sát với nội dung câu hỏi, ngắn gọn dễ hiểu
                    </div>
                    <div class="problem_policy_content_index">
                        · Mô tả câu hỏi một cách dễ hiểu nhất giúp mọi người nhanh chóng đưa ra câu trả lời
                    </div>
                    <div class="problem_policy_content_index">
                        · Không sử dụng từ ngữ mang ý xúc phạm, miệt thị người khác
                    </div>
                    <div class="problem_policy_content_index">
                        · Không sử dụng từ ngữ mang tính chất kích động, bạo lực
                    </div>
                    <div class="problem_policy_content_index">
                        · Không cung cấp thông tin cá nhân
                    </div>
                    <div class="problem_policy_content_index">
                        · Không cung cấp thông tin bảo mật, bí mật kinh doanh của công ty
                    </div>
                    <div class="problem_policy_content_link">
                        Cảm ơn bạn đã có những đóng góp tích cực cho cộng đồng. Xem thêm thông tin chi tiết về 
                        <a href="https://www.firework.vn/posts/policy">thỏa thuận sử dụng </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>