<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <div class="new_problem_form">
                <%= form_for @problem, :html => { :class => "form-horizontal problem" } do |f| %>
                    <div class="new_problem_title">
                        <%if !@is_edit%>
                            <h3><%=t(:create_problem)%></h3>
                        <%else%>
                            <h3><%=t(:update_problem)%> <%=@problem.title%></h3>
                        <%end%>
                    </div>

                    <div class="new_problem_title_sub">
                        <a><%=t(:form_require_left)%> <span>'*'</span> <%=t(:form_require_right)%></a>
                    </div>

                    <div class="new_problem_section">
                        <div class="new_problem_content">
                            <div class="new_problem_label">
                                <a><%= f.label :category, t(:form_problem_category), class: "new_problem_label_name" %><span>*</span></a>
                            </div>

                            <div class="new_problem_input">
                                <%= f.select(:category, options_for_select([[t(:algorithm), 1], [t(:interview_question), 2], [t(:iq_test), 3], [t(:eq_test), 4], [t(:other_question), 5]], [t(:other_question), 5]), {include_blank: false, :required => true}, { :class => 'form-select' }) %>
                            </div>
                        </div>

                        <div class="new_problem_content">
                            <div class="new_problem_label">
                                <a><%= f.label :difficult, t(:form_problem_difficult), class: "new_problem_label_name" %><span>*</span></a>
                            </div>

                            <div class="new_problem_input">
                                <%= f.select(:difficult, options_for_select([[t(:easy), 1], [t(:avarage), 2], [t(:difficult), 3]], [t(:easy), 1]), {include_blank: false, :required => true}, { :class => 'form-select' }) %>
                            </div>
                        </div>

                        <div class="new_problem_content">
                            <div class="new_problem_label">
                                <a><%= f.label :title, t(:form_problem_title), class: "new_problem_label_name" %><span>*</span></a>
                            </div>

                            <div class="new_problem_input">
                                <%= f.text_field :title,  autofocus: true, :required => true, class: "form-control", placeholder: t(:form_problem_title_sub) %>
                            </div>
                        </div>

                        <div class="new_problem_content">
                            <div class="new_problem_label">
                                <a><%= f.label :content, t(:form_problem_content), class: "new_problem_label_name" %><span>*</span></a>
                            </div>

                            <div class="new_problem_input">
                                <%= f.text_area :content, :class => "tinymce"%>
                                <%= tinymce :medium %>
                            </div>
                        </div>
                    </div>  

                    <div class="new_problem_submit">
                        <%= f.submit t(:form_problem_submit), class: "new_problem_form_submit" %>
                    </div>
                <%end%>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="problem_policy">
                <div class="problem_policy_title">
                    <a><%=t(:form_problem_help)%></a>
                </div>
                <div class="problem_policy_content">
                    <div class="problem_policy_content_index">
                        · <%=t(:form_problem_help_1)%>
                    </div>
                    <div class="problem_policy_content_index">
                        · <%=t(:form_problem_help_2)%>
                    </div>
                    <div class="problem_policy_content_index">
                        · <%=t(:form_problem_help_3)%>
                    </div>
                    <div class="problem_policy_content_index">
                        · <%=t(:form_problem_help_4)%>
                    </div>
                    <div class="problem_policy_content_index">
                        · <%=t(:form_problem_help_5)%>
                    </div>
                    <div class="problem_policy_content_index">
                        · <%=t(:form_problem_help_6)%>
                    </div>
                    <div class="problem_policy_content_link">
                        <%=t(:form_problem_help_7)%> 
                        <a href="<%=term_path%>"><%=t(:term_and_service)%> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>