<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0"/>
    </head>

    <body>
        <div class='body_content'>
            <div class="new_problem_form">
                <%= form_for @problem, :html => { :class => "form-horizontal problem" } do |f| %>
                    <div class="new_problem_title">
                        <a>Hãy cho mọi người biết vấn đề của bạn</a>
                    </div>

                    <div class="new_problem_section">
                        <div class="new_problem_content">
                            <div class="new_problem_label">
                                <a><%= f.label :category, "Lĩnh vực chính", class: "new_problem_label_name" %></a>
                            </div>

                            <div class="new_problem_input">
                                <%= f.select(:category, options_for_select(['Thuật toán','Câu hỏi phỏng vấn','IQ test', 'Câu hỏi khác'], "Câu hỏi khác"), {include_blank: true}, { :class => 'my_style_class' }) %>
                            </div>
                        </div>

                        <div class="new_problem_content">
                            <div class="new_problem_label">
                                <a><%= f.label :difficult, "Mức độ, độ khó", class: "new_problem_label_name" %></a>
                            </div>

                            <div class="new_problem_input">
                                <%= f.select(:difficult, options_for_select(['Dễ','Trung bình','Khó'], "Dễ"), {include_blank: true}, { :class => 'my_style_class' }) %>
                            </div>
                        </div>

                        <div class="new_problem_content">
                            <div class="new_problem_label">
                                <a><%= f.label :title, "Tiêu đề*", class: "new_problem_label_name" %></a>
                            </div>

                            <div class="new_problem_input">
                                <%= f.text_field :title, class: "new_problem_form_input", placeholder: " Nhập vấn đề cần giải quyết" %>
                            </div>
                        </div>

                        <div class="new_problem_content">
                            <div class="new_problem_label">
                                <a><%= f.label :problem_content, "Nội dung*", class: "new_problem_label_name" %></a>
                            </div>

                            <div class="new_problem_input_rich_text">
                                <%= f.rich_text_area :problem_content, class: "new_problem_form_input", placeholder: "  Mô tả nội dung" %>
                            </div>
                        </div>
                    </div>

                    <div class="new_problem_content_checkbox">
                        <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                        <label for="agree-term" class="label-agree-term"><span><span></span></span> Đồng ý với điều khoản điều kiện</label>
                    </div>

                    <div class="new_problem_submit">
                        <%= f.submit "Gửi nội dung", class: "new_problem_form_submit" %>
                    </div>
                <%end%>
            </div>
        </div>
    </body>
</html>