<div class="problem_block">
    <div class="problem_label">
        <a><%= link_to truncate(strip_tags(problem.title), length: 50), problem_path(problem), target: :_blank %></a>
    </div>
    <div class="problem_des">
        <a><%= truncate(strip_tags(problem.content), length: 90)%></a>
    </div>
    <div class="problem_info">
        <div class="problem_reply_info">
            <a><i class="material-icons-outlined checked">lightbulb</i><%= problem.problem_solutions.count%> <%=t(:solution)%></a>
        </div>
        
        <div class="problem_difficult_info">
            <%problem_difficult = ""%>
            <%if(problem.difficult.to_i == 1 || problem.difficult.to_s == t(:easy)) %>
                <% problem_difficult = "easy" %>
            <% elsif (problem.difficult.to_i == 2 || problem.difficult.to_s == t(:average)) %>
                <% problem_difficult = "average" %>
            <% elsif (problem.difficult.to_i == 3 || problem.difficult.to_s == t(:hard)) %>
                <% problem_difficult = "hard" %>
            <%end%>
            <div class=<%= problem_difficult %>>
                <a><%= convert_diff(problem.difficult) %></a>
            </div>
        </div>
        
        <div class="problem_category_info">
            <% problem_category = ""%>
            <%if problem.category.to_i == 1%>
                <%problem_category = t(:algorithm)%>
            <%elsif problem.category.to_i == 2%>
                <%problem_category = t(:interview_question)%>
            <%elsif problem.category.to_i == 3%>
                <%problem_category = t(:iq_test)%>
            <%elsif problem.category.to_i == 4%>
                <%problem_category = t(:eq_test)%>
            <%elsif problem.category.to_i == 5%>
                <%problem_category = t(:other_question)%>
            <%end%>															
            <a><i class="material-icons-outlined checked">open_in_new</i><%= problem_category%></a>
        </div>
        
        <div class="problem_history_info">
            <a><i class="material-icons-outlined checked">history_toggle_off</i><%= time_ago_in_words(problem.created_at)%></a>
        </div>
    </div>
</div>