<div class="problem_search_area">
	<div class="problem_search_label">
		<%if @problem_searchs.total_count > 0%>
			<span><%=@problem_searchs.total_count%> <%=t(:problem_search_result)%> "<%= params[:search]%>"</span>
		<%else%>
			<span><%=t(:problem_search_no_result)%> "<%= params[:search]%>"</span>
		<%end%>
	</div>

	<div class="search_question_result">
		<div class="row">
			<%if @problem_searchs.present?%>
				<% @problem_searchs.each do |problem| %>
					<div class="col-sm-6">
						<%=render problem%>
					</div>
				<%end%>
			<%end%>
		</div>
		<%= paginate @problem_searchs, window: 2%>
	</div>
</div>