<%case @tab_id%>
<%when "default", "ProblemIndexAllID"%>
    <%title = "Tất cả câu hỏi"%>
    <%content = "Danh sách các câu hỏi phỏng vấn, thuật toán, IQ-EQ test, bài test tổng hợp... được update liên tục để mọi người cùng nhau tìm kiếm các giải pháp tốt nhất"%>
<%when "ProblemIndexAlgorithmID"%>
    <%title = "Câu hỏi thuật toán"%>
    <%content = "Danh sách các câu hỏi thuật toán, công nghệ thông tin ..."%>
<%when "ProblemEQTestID"%>
    <%title = "Câu hỏi EQ test "%>
    <%content = "Danh sách các câu hỏi EQ test, cảm xúc, khả năng xử lý của ứng viên..."%>
<%when "ProblemIndexIQTestID"%>
    <%title = "Câu hỏi IQ test"%>
    <%content = "Danh sách các câu hỏi IQ, đánh giá tư duy, khả năng xử lý vấn đề của ứng viên"%>
<%when "ProblemIndexCareerID"%>
    <%title = "Câu hỏi phỏng vấn"%>
    <%content = "Danh sách các câu hỏi tình huống nhằm đánh giá kĩ năng xử lý tình huống của ứng viên"%>
<%when "ProblemIndexOtherID"%>
    <%title = "Câu hỏi khác"%>
    <%content = "Các câu hỏi thuộc các lĩnh vực khác, các bài test được xây dựng bởi các công ty hàng đầu"%>
<%else%>
    <%title = ""%>
    <%content = ""%>
<%end%>
<% content_for :meta_title, title %>
<% content_for :meta_description, content %>
<div class="container">
    <%- model_class = Problem -%>
        <div class="row">
            <div class="col-sm-8">
                <div class="problem_search">
                    <%=form_tag problems_path, :method => "get" do%>
                        <div class="problem_search_input">
                            <div class='row'>
                                <div class="col-sm-9 padding_customize_right">
                                    <div class="problem_search_what">
                                        <i class="material-icons-outlined">search</i>
                                        <%= text_field_tag :search, params[:search], required: true, class: 'form-control', placeholder: "Nhập tên câu hỏi cần tìm kiếm"%>
                                    </div>
                                </div>
                                
                                <div class="col-sm-3">
                                    <div class="problem_search_button">
                                        <%= button_to "", form_class: "search_button", :name => nil do%>
                                            <a>Tìm kiếm</a>
                                        <%end%> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    <%end%>
                </div>
                
                <%if @is_problem_searched%>
                    <%= render :partial => 'problems/search', :object => @problem_searchs %>
                <%end%>

                <div class="section_title">
                    <span>Danh sách câu hỏi</span>
                </div>
                
                <div class="problem_index_tab_link">
                    <ul class="nav">
                        <li class="nav-item">
                            <%if @tab_id == "default" || @tab_id == "ProblemIndexAllID"%>
                                <%active = "active"%>
                            <%else%> 
                                <%active = ""%>
                            <%end%>                                 
                            <a class="nav-link <%=active%>" href="<%=problems_path(tab_id: 'ProblemIndexAllID')%>"><i class="material-icons-outlined">view_list</i>Tất cả <span><%=convert_number_to_human(@problems_all.count)%><span></a>
                        </li>
                        <li class="nav-item">
                            <%if @tab_id == "ProblemIndexAlgorithmID"%>
                                <%active = "active"%>
                            <%else%> 
                                <%active = ""%>
                            <%end%>                                     
                            <a class="nav-link <%=active%>" href="<%=problems_path(tab_id: 'ProblemIndexAlgorithmID')%>"><i class="material-icons-outlined">calculate</i>Thuật toán<span><%=convert_number_to_human(@problem_math.count)%><span></a>
                        </li>
                        <li class="nav-item">
                            <%if @tab_id == "ProblemEQTestID"%>
                                <%active = "active"%>
                            <%else%> 
                                <%active = ""%>
                            <%end%>                                     
                            <a class="nav-link <%=active%>" href="<%=problems_path(tab_id: 'ProblemEQTestID')%>"><i class="material-icons-outlined">text_snippet</i>EQ Test <span><%=convert_number_to_human(@problem_eq_test.count)%><span></a>
                        </li>
                        <li class="nav-item">
                            <%if @tab_id == "ProblemIndexIQTestID"%>
                                <%active = "active"%>
                            <%else%> 
                                <%active = ""%>
                            <%end%>                                     
                            <a class="nav-link <%=active%>" href="<%=problems_path(tab_id: 'ProblemIndexIQTestID')%>"><i class="material-icons-outlined">batch_prediction</i>IQ Test <span><%=convert_number_to_human(@problem_iq_test.count)%><span></a>
                        </li>
                        <li class="nav-item">
                            <%if @tab_id == "ProblemIndexCareerID"%>
                                <%active = "active"%>
                            <%else%> 
                                <%active = ""%>
                            <%end%>                                     
                            <a class="nav-link <%=active%>" href="<%=problems_path(tab_id: 'ProblemIndexCareerID')%>"><i class="material-icons-outlined">card_travel</i>Phỏng vấn <span><%=convert_number_to_human(@problem_interview.count)%><span></a>
                        </li>
                        <li class="nav-item">
                            <%if @tab_id == "ProblemIndexOtherID"%>
                                <%active = "active"%>
                            <%else%> 
                                <%active = ""%>
                            <%end%>                                     
                            <a class="nav-link <%=active%>" href="<%=problems_path(tab_id: 'ProblemIndexOtherID')%>"><i class="material-icons-outlined">blur_on</i>Khác <span><%=convert_number_to_human(@problem_other.count)%><span></a>
                        </li>
                    </ul>
                </div>

                <div class="problem_index_tab_content">
                    <%if @tab_id == "default" || @tab_id == "ProblemIndexAllID"%>
                        <div class="problem_index_all_tab">
                            <table class="table table-hover table-striped table-bordere">
                                <thead>
                                    <tr>
                                        <th><div class="table_th_no">#</th>
                                        <th><div class="table_th_title">Tiêu đề</th>
                                        <th><div class="table_th_difficult">Độ khó</th>
                                        <th><div class="table_th_user">Trả lời</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% @problems_all.each do |problem| %>
                                        <tr>
                                            <td><div class="table_td_no"><%= problem.id %></td>
                                            <td><div class="table_td_title"><%= link_to problem.title, problem_path(problem) %></td>
                                            <td>
                                                <%if(problem.difficult.to_i == 1 || problem.difficult.to_s == 'Dễ') %>
                                                    <% table_td_difficult = "easy" %>
                                                <% elsif (problem.difficult.to_i == 2 || problem.difficult.to_s == 'Trung bình') %>
                                                    <% table_td_difficult = "average" %>
                                                <% elsif (problem.difficult.to_i == 3 || problem.difficult.to_s == 'Khó') %>
                                                    <% table_td_difficult = "hard" %>
                                                <%end%>
                                                <div class=<%= table_td_difficult %>><a><%= problem.difficult %></a>
                                            </td>
                                            <td><div class="table_td_user"><%= problem.problem_solutions.count %></td>
                                        </tr>
                                    <% end %>
                                </tbody>
                            </table>
                            <%= paginate @problems_all, window: 1, outer_window: 1%>
                        </div>                        
                    <%end%>

                    <%if @tab_id == "ProblemIndexAlgorithmID"%>
                        <div class="problem_index_algotithm_tab">
                            <table class="table table-hover table-striped table-bordere">
                                <thead>
                                    <tr>
                                        <th><div class="table_th_no">#</th>
                                        <th><div class="table_th_title">Tiêu đề</th>
                                        <th><div class="table_th_difficult">Độ khó</th>
                                        <th><div class="table_th_user">Trả lời</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% @problem_math.each do |problem| %>
                                        <tr>
                                            <td><div class="table_td_no"><%= link_to problem.id, problem_path(problem) %></td>
                                            <td><div class="table_td_title"><%= link_to problem.title, problem_path(problem) %></td>
                                            <td>
                                                <%if(problem.difficult.to_i == 1 || problem.difficult.to_s == 'Dễ') %>
                                                    <% table_td_difficult = "easy" %>
                                                <% elsif (problem.difficult.to_i == 2 || problem.difficult.to_s == 'Trung bình') %>
                                                    <% table_td_difficult = "average" %>
                                                <% elsif (problem.difficult.to_i == 3 || problem.difficult.to_s == 'Khó') %>
                                                    <% table_td_difficult = "hard" %>
                                                <%end%>
                                                <div class=<%= table_td_difficult %>><a><%= problem.difficult %></a>
                                            </td>
                                            <td><div class="table_td_user"><%= problem.problem_solutions.count %></td>
                                        </tr>
                                    <% end %>
                                </tbody>
                            </table>
                            <%= paginate @problem_math, window: 1, outer_window: 1%>
                        </div>
                    <%end%>

                    <%if @tab_id == "ProblemEQTestID"%>
                        <div class="problem_index_testing_tab">
                            <table class="table table-hover table-striped table-bordere">
                                <thead>
                                    <tr>
                                        <th><div class="table_th_no">#</th>
                                        <th><div class="table_th_title">Tiêu đề</th>
                                        <th><div class="table_th_difficult">Độ khó</th>
                                        <th><div class="table_th_user">Trả lời</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% @problem_eq_test.each do |problem| %>
                                        <tr>
                                            <td><div class="table_td_no"><%= link_to problem.id, problem_path(problem) %></td>
                                            <td><div class="table_td_title"><%= link_to problem.title, problem_path(problem) %></td>
                                            <td>
                                                <%if(problem.difficult.to_i == 1 || problem.difficult.to_s == 'Dễ') %>
                                                    <% table_td_difficult = "easy" %>
                                                <% elsif (problem.difficult.to_i == 2 || problem.difficult.to_s == 'Trung bình') %>
                                                    <% table_td_difficult = "average" %>
                                                <% elsif (problem.difficult.to_i == 3 || problem.difficult.to_s == 'Khó') %>
                                                    <% table_td_difficult = "hard" %>
                                                <%end%>
                                                <div class=<%= table_td_difficult %>><a><%= problem.difficult %></a>
                                            </td>
                                            <td><div class="table_td_user"><%= problem.problem_solutions.count %></td>
                                        </tr>
                                    <% end %>
                                </tbody>
                            </table>
                            <%= paginate @problem_eq_test, window: 1, outer_window: 1%>
                        </div>
                    <%end%>

                    <%if @tab_id == "ProblemIndexIQTestID"%>
                        <div class="problem_index_iqtest_tab">
                            <table class="table table-hover table-striped table-bordere">
                                <thead>
                                    <tr>
                                        <th><div class="table_th_no">#</th>
                                        <th><div class="table_th_title">Tiêu đề</th>
                                        <th><div class="table_th_difficult">Độ khó</th>
                                        <th><div class="table_th_user">Trả lời</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% @problem_iq_test.each do |problem| %>
                                        <tr>
                                            <td><div class="table_td_no"><%= link_to problem.id, problem_path(problem) %></td>
                                            <td><div class="table_td_title"><%= link_to problem.title, problem_path(problem) %></td>
                                            <td>
                                                <%if(problem.difficult.to_i == 1 || problem.difficult.to_s == 'Dễ') %>
                                                    <% table_td_difficult = "easy" %>
                                                <% elsif (problem.difficult.to_i == 2 || problem.difficult.to_s == 'Trung bình') %>
                                                    <% table_td_difficult = "average" %>
                                                <% elsif (problem.difficult.to_i == 3 || problem.difficult.to_s == 'Khó') %>
                                                    <% table_td_difficult = "hard" %>
                                                <%end%>
                                                <div class=<%= table_td_difficult %>><a><%= problem.difficult %></a>
                                            </td>
                                            <td><div class="table_td_user"><%= problem.problem_solutions.count %></td>
                                        </tr>
                                    <% end %>
                                </tbody>
                            </table>
                            <%= paginate @problem_iq_test, window: 1, outer_window: 1%>
                        </div>
                    <%end%>

                    <%if @tab_id == "ProblemIndexCareerID"%>
                        <div class="problem_index_career_tab">
                            <table class="table table-hover table-striped table-bordere">
                                <thead>
                                    <tr>
                                        <th><div class="table_th_no">#</th>
                                        <th><div class="table_th_title">Tiêu đề</th>
                                        <th><div class="table_th_difficult">Độ khó</th>
                                        <th><div class="table_th_user">Trả lời</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% @problem_interview.each do |problem| %>
                                        <tr>
                                            <td><div class="table_td_no"><%= link_to problem.id, problem_path(problem) %></td>
                                            <td><div class="table_td_title"><%= link_to problem.title, problem_path(problem) %></td>
                                            <td>
                                                <%if(problem.difficult.to_i == 1 || problem.difficult.to_s == 'Dễ') %>
                                                    <% table_td_difficult = "easy" %>
                                                <% elsif (problem.difficult.to_i == 2 || problem.difficult.to_s == 'Trung bình') %>
                                                    <% table_td_difficult = "average" %>
                                                <% elsif (problem.difficult.to_i == 3 || problem.difficult.to_s == 'Khó') %>
                                                    <% table_td_difficult = "hard" %>
                                                <%end%>
                                                <div class=<%= table_td_difficult %>><a><%= problem.difficult %></a>
                                            </td>
                                            <td><div class="table_td_user"><%= problem.problem_solutions.count %></td>
                                        </tr>
                                    <% end %>
                                </tbody>
                            </table>
                            <%= paginate @problem_interview, window: 1, outer_window: 1%>
                        </div>
                    <%end%>

                    <%if @tab_id == "ProblemIndexOtherID"%>
                        <div class="problem_index_other_tab">
                            <table class="table table-hover table-striped table-bordere">
                                <thead>
                                    <tr>
                                        <th><div class="table_th_no">#</th>
                                        <th><div class="table_th_title">Tiêu đề</th>
                                        <th><div class="table_th_difficult">Độ khó</th>
                                        <th><div class="table_th_user">Trả lời</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% @problem_other.each do |problem| %>
                                        <tr>
                                            <td><div class="table_td_no"><%= link_to problem.id, problem_path(problem) %></td>
                                            <td><div class="table_td_title"><%= link_to problem.title, problem_path(problem) %></td>
                                            <td>
                                                <%if(problem.difficult.to_i == 1 || problem.difficult.to_s == 'Dễ') %>
                                                    <% table_td_difficult = "easy" %>
                                                <% elsif (problem.difficult.to_i == 2 || problem.difficult.to_s == 'Trung bình') %>
                                                    <% table_td_difficult = "average" %>
                                                <% elsif (problem.difficult.to_i == 3 || problem.difficult.to_s == 'Khó') %>
                                                    <% table_td_difficult = "hard" %>
                                                <%end%>
                                                <div class=<%= table_td_difficult %>><a><%= problem.difficult %></a>
                                            </td>
                                            <td><div class="table_td_user"><%= problem.problem_solutions.count %></td>
                                        </tr>
                                    <% end %>
                                </tbody>
                            </table>
                            <%= paginate @problem_other, window: 1, outer_window: 1%>
                        </div>
                    <%end%>
                </div>

                <div class="problem_new_button">
                    <%if user_signed_in?%>
                        <%= link_to '<button type="submit"><i class="material-icons-outlined">create</i>Tạo câu hỏi mới</button>'.html_safe, new_problem_path %>
                    <%else%>
                        <%= link_to '<button type="submit"><i class="material-icons-outlined">create</i>Tạo câu hỏi mới</button>'.html_safe, new_user_session_path %>
                    <%end%>
                </div>
            </div>
            
            <div class="col-sm-4">
                <div class="problem_top">
                    <a><i class="material-icons-outlined">turned_in_not</i>Top câu hỏi hot</a>
                    <div class="problem_short">
                        <% @problems_newest.first(10).each do |problem| %>
                            <div class="problem_top_block">
                                <div class="problem_id">
                                    <a><%=problem.id%></a>
                                </div>
                                <div class="problem_label">
                                    <a><%= link_to problem.title, problem_path(problem) %></a>
                                </div>
                            </div>
                        <% end %>
                    </div>
                </div>
                <div class="problem_problem">
                    <a><i class="material-icons-outlined">corporate_fare</i>Câu hỏi theo công ty</a>
                    <div class="problem_short">
                        <% @problems_all.first(10).each do |problem| %>
                            <%if problem.approved?%>
                                <div class="problem_label">
                                    <a><%= link_to problem.title, problem_path(problem) %></a>
                                </div>
                            <%end%>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>