<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0"/>
    </head>

    <body>
        <div class='container'>
            <%- model_class = Problem -%>
                <div class="row">
                    <div class="col-sm-8">
                        <div class="problem_category">
                            <div class="problem_header">
                                <strong> <i class="material-icons">apps</i> Danh mục chính</strong>
                            </div>

                            <div class="col-sm-3">
                                <div class="category_name">
                                    <%= link_to '<button type="submit"><i class="material-icons checked">filter_alt</i>Thuật toán</button>'.html_safe, new_problem_path %>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="category_name">
                                    <%= link_to '<button type="submit"><i class="material-icons checked">filter_alt</i>Câu hỏi IQ</button>'.html_safe, new_problem_path %>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="category_name">
                                    <%= link_to '<button type="submit"><i class="material-icons checked">filter_alt</i>Câu hỏi nghề nghiệp</button>'.html_safe, new_problem_path %>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="category_name">
                                    <%= link_to '<button type="submit"><i class="material-icons checked">filter_alt</i>Bài test mẫu</button>'.html_safe, new_problem_path %>
                                </div>
                            </div>
                            
                            <div class="col-sm-3">
                                <div class="category_name">
                                    <%= link_to '<button type="submit"><i class="material-icons checked">filter_alt</i>Sự nghiệp</button>'.html_safe, new_problem_path %>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="category_name">
                                    <%= link_to '<button type="submit"><i class="material-icons checked">add</i>Tạo câu hỏi mới</button>'.html_safe, new_problem_path %>
                                </div>
                            </div>
                        </div>
                        
                        <%if @problems.nil?%>
                            <%if (@problems.count < @problems_all.count)%>
                                <div class="section_title">
                                    <h3>Tìm thấy <%=@problems.count%> kết quả</h3>
                                </div>
                            <%end%>
                        <%end%>
                        
                        <div class="problem_search">
                            <%=form_tag problems_path, :method => "get" do%>
                                <div class="input-group mb-3">
                                    <div class="input-group-addon">
                                        <i class="material-icons checked">search</i>
                                    </div>
                                    <%= text_field_tag :search, params[:search], class: 'form-control', placeholder: "Nhập tên câu hỏi" %>
                                </div>
                            <%end%>
                        </div>

                        <table class="table table-hover table-striped table-bordere">
                            <thead>
                                <tr>
                                    <th><div class="table_th_no">#</th>
                                    <th><div class="table_th_title">Tiêu đề</th>
                                    <th><div class="table_th_difficult">Độ khó</th>
                                    <th><div class="table_th_user">Trả lời</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% @problems.each do |problem| %>
                                    <tr>
                                        <td><div class="table_td_no"><%= link_to problem.id, problem_path(problem) %></td>
                                        <td><div class="table_td_title"><%= link_to problem.title, problem_path(problem) %></td>
                                        <td><div class="table_td_difficult"><%= problem.difficult %></td>
                                        <td><div class="table_td_user"><%= problem.problem_solutions.count %></td>
                                    </tr>
                                <% end %>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-4">
                        <div class="problem_top">
                            <a><i class="material-icons">list</i>Top câu hỏi hot</a>
                            <div class="problem_short">
                                <%i = 0%>
                                <% @problems.each do |problem| %>
                                    <%i += 1%>
                                    <%break if i > 10%>
                                    <div class="problem_label">
                                        <%= link_to problem.title, problem_path(problem) %>
                                    </div>
                                <% end %>
                            </div>
                        </div>
                        <div class="problem_company">
                            <a><i class="material-icons">business</i>Câu hỏi theo công ty</a>
                            <div class="problem_short">
                                <%i = 0%>
                                <% @problems.each do |problem| %>
                                    <%i += 1%>
                                    <%break if i > 10%>
                                    <div class="problem_label">
                                        <%= link_to problem.title, problem_path(problem) %>
                                    </div>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>