<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0"/>
    </head>

    <body>
        <div class="container">
            <%- model_class = Problem -%>
                <div class="row">
                    <div class="col-sm-8">
                        <div class="problem_search">
                            <%=form_tag problems_path, :method => "get" do%>
                                <div class="input-group mb-3">
                                    <%= text_field_tag :search, params[:search], class: 'form-control', placeholder: "Tìm kiếm câu hỏi" %>
                                    <div class="input-group-addon">
                                        <i class="material-icons-outlined checked">search</i>
                                    </div>
                                </div>
                            <%end%>
                        </div>
                        
                        <%if (@problems.count < @problems_all.count)%>
                            <div class="section_search_title">
                                <%if @problems.count > 0%>
                                    <span>Tìm được <%=@problems.count%> kết quả phù hợp với từ khóa "<%= params[:search]%>"</span>
                                <%else%>
                                    <span>Không tìm được kết quả phù hợp với từ khóa "<%= params[:search]%>"</span>
                                <%end%>

                                <div class="search_question_result">
                                    <div class="row">
                                        <%i = 0%>
                                        <% @problems.each do |problem| %>
                                            <%i += 1%>
                                            <%break if i > 6%>
                                            <div class="col-sm-6">
                                                <div class="home_top_question_block">
                                                    <div class="problem_label">
                                                        <a><%= link_to problem.title, problem_path(problem) %></a>
                                                    </div>
                                                    <div class="problem_des">
                                                        <a><%= problem.content%></a>
                                                    </div>
                                                    <div class="problem_info">
                                                        <div class="problem_reply_info">
                                                            <a><i class="material-icons-outlined checked">note_alt</i><%= problem.problem_solutions.count%> Giải pháp</a>
                                                        </div>
                                                        <div class="problem_difficult_info">
                                                            <%problem_difficult = ""%>
                                                            <%if(problem.difficult.to_i == 1 || problem.difficult.to_s == 'Dễ') %>
                                                                <% problem_difficult = "easy" %>
                                                            <% elsif (problem.difficult.to_i == 2 || problem.difficult.to_s == 'Trung bình') %>
                                                                <% problem_difficult = "average" %>
                                                            <% elsif (problem.difficult.to_i == 3 || problem.difficult.to_s == 'Khó') %>
                                                                <% problem_difficult = "hard" %>
                                                            <%end%>
                                                            <div class=<%= problem_difficult %>>
                                                                <a><i class="material-icons-outlined ">emoji_objects</i><%= problem.difficult %></a>
                                                            </div>
                                                        </div>
                                                        <div class="problem_history_info">
                                                            <a><i class="material-icons-outlined checked">history_toggle_off</i><%= time_ago_in_words(problem.created_at)%></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        <%end%>
                                    </div>
                                </div>
                            </div>
                        <%end%>

                        <div class="section_title">
                            <span>Danh sách câu hỏi</span>
                        </div>
                        
                        <div class="problem_index_tab_link">  
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#ProblemIndexAllID"><i class="material-icons-outlined">view_list</i>Tất cả <span><%=@problems_all.count%><span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#ProblemIndexAlgorithmID"><i class="material-icons-outlined">calculate</i>Thuật toán<span><%=@problem_math.count%><span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#ProblemIndexTestingID"><i class="material-icons-outlined">text_snippet</i>EQ Test <span><%=@problem_eq_test.count%><span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#ProblemIndexIQTestID"><i class="material-icons-outlined">batch_prediction</i>IQ Test <span><%=@problem_iq_test.count%><span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#ProblemIndexCareerID"><i class="material-icons-outlined">card_travel</i>Phỏng vấn <span><%=@problem_interview.count%><span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#ProblemIndexOtherID"><i class="material-icons-outlined">blur_on</i>Khác <span><%=@problem_other.count%><span></a>
                                </li>
                            </ul>
                        </div>

                        <div class="problem_index_tab_content">
                            <div class="tab-content">
                                <div role="tabpanel" id="ProblemIndexAllID" class="tab-pane fade in active"><br>
                                    <div class="problem_index_all_tab">
                                        <table class="table table-hover table-striped table-bordere">
                                            <thead>
                                                <tr>
                                                    <th><div class="table_th_no">#</th>
                                                    <th><div class="table_th_title">Tiêu đề</th>
                                                    <th><div class="table_th_difficult">Độ khó</th>
                                                    <th><div class="table_th_user">Trả lời</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% @problems_all.each do |problem| %>
                                                    <tr>
                                                        <td><div class="table_td_no"><%= problem.id %></td>
                                                        <td><div class="table_td_title"><%= link_to problem.title, problem_path(problem) %></td>
                                                        <td>
                                                            <%if(problem.difficult.to_i == 1 || problem.difficult.to_s == 'Dễ') %>
                                                                <% table_td_difficult = "easy" %>
                                                            <% elsif (problem.difficult.to_i == 2 || problem.difficult.to_s == 'Trung bình') %>
                                                                <% table_td_difficult = "average" %>
                                                            <% elsif (problem.difficult.to_i == 3 || problem.difficult.to_s == 'Khó') %>
                                                                <% table_td_difficult = "hard" %>
                                                            <%end%>
                                                            <div class=<%= table_td_difficult %>><a><%= problem.difficult %></a>
                                                        </td>
                                                        <td><div class="table_td_user"><%= problem.problem_solutions.count %></td>
                                                    </tr>
                                                <% end %>
                                            </tbody>
                                        </table>
                                    </div>                        
                                </div>

                                <div role="tabpanel" id="ProblemIndexAlgorithmID" class="tab-pane"><br>
                                    <div class="problem_index_algotithm_tab">
                                        <table class="table table-hover table-striped table-bordere">
                                            <thead>
                                                <tr>
                                                    <th><div class="table_th_no">#</th>
                                                    <th><div class="table_th_title">Tiêu đề</th>
                                                    <th><div class="table_th_difficult">Độ khó</th>
                                                    <th><div class="table_th_user">Trả lời</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% @problem_math.each do |problem| %>
                                                    <tr>
                                                        <td><div class="table_td_no"><%= link_to problem.id, problem_path(problem) %></td>
                                                        <td><div class="table_td_title"><%= link_to problem.title, problem_path(problem) %></td>
                                                        <td>
                                                            <%if(problem.difficult.to_i == 1 || problem.difficult.to_s == 'Dễ') %>
                                                                <% table_td_difficult = "easy" %>
                                                            <% elsif (problem.difficult.to_i == 2 || problem.difficult.to_s == 'Trung bình') %>
                                                                <% table_td_difficult = "average" %>
                                                            <% elsif (problem.difficult.to_i == 3 || problem.difficult.to_s == 'Khó') %>
                                                                <% table_td_difficult = "hard" %>
                                                            <%end%>
                                                            <div class=<%= table_td_difficult %>><a><%= problem.difficult %></a>
                                                        </td>
                                                        <td><div class="table_td_user"><%= problem.problem_solutions.count %></td>
                                                    </tr>
                                                <% end %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div role="tabpanel" id="ProblemIndexTestingID" class="tab-pane"><br>
                                    <div class="problem_index_testing_tab">
                                        <table class="table table-hover table-striped table-bordere">
                                            <thead>
                                                <tr>
                                                    <th><div class="table_th_no">#</th>
                                                    <th><div class="table_th_title">Tiêu đề</th>
                                                    <th><div class="table_th_difficult">Độ khó</th>
                                                    <th><div class="table_th_user">Trả lời</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% @problem_eq_test.each do |problem| %>
                                                    <tr>
                                                        <td><div class="table_td_no"><%= link_to problem.id, problem_path(problem) %></td>
                                                        <td><div class="table_td_title"><%= link_to problem.title, problem_path(problem) %></td>
                                                        <td>
                                                            <%if(problem.difficult.to_i == 1 || problem.difficult.to_s == 'Dễ') %>
                                                                <% table_td_difficult = "easy" %>
                                                            <% elsif (problem.difficult.to_i == 2 || problem.difficult.to_s == 'Trung bình') %>
                                                                <% table_td_difficult = "average" %>
                                                            <% elsif (problem.difficult.to_i == 3 || problem.difficult.to_s == 'Khó') %>
                                                                <% table_td_difficult = "hard" %>
                                                            <%end%>
                                                            <div class=<%= table_td_difficult %>><a><%= problem.difficult %></a>
                                                        </td>
                                                        <td><div class="table_td_user"><%= problem.problem_solutions.count %></td>
                                                    </tr>
                                                <% end %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div role="tabpanel" id="ProblemIndexIQTestID" class="tab-pane"><br>
                                    <div class="problem_index_iqtest_tab">
                                        <table class="table table-hover table-striped table-bordere">
                                            <thead>
                                                <tr>
                                                    <th><div class="table_th_no">#</th>
                                                    <th><div class="table_th_title">Tiêu đề</th>
                                                    <th><div class="table_th_difficult">Độ khó</th>
                                                    <th><div class="table_th_user">Trả lời</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% @problem_iq_test.each do |problem| %>
                                                    <tr>
                                                        <td><div class="table_td_no"><%= link_to problem.id, problem_path(problem) %></td>
                                                        <td><div class="table_td_title"><%= link_to problem.title, problem_path(problem) %></td>
                                                        <td>
                                                            <%if(problem.difficult.to_i == 1 || problem.difficult.to_s == 'Dễ') %>
                                                                <% table_td_difficult = "easy" %>
                                                            <% elsif (problem.difficult.to_i == 2 || problem.difficult.to_s == 'Trung bình') %>
                                                                <% table_td_difficult = "average" %>
                                                            <% elsif (problem.difficult.to_i == 3 || problem.difficult.to_s == 'Khó') %>
                                                                <% table_td_difficult = "hard" %>
                                                            <%end%>
                                                            <div class=<%= table_td_difficult %>><a><%= problem.difficult %></a>
                                                        </td>
                                                        <td><div class="table_td_user"><%= problem.problem_solutions.count %></td>
                                                    </tr>
                                                <% end %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div role="tabpanel" id="ProblemIndexCareerID" class="tab-pane"><br>
                                    <div class="problem_index_career_tab">
                                        <table class="table table-hover table-striped table-bordere">
                                            <thead>
                                                <tr>
                                                    <th><div class="table_th_no">#</th>
                                                    <th><div class="table_th_title">Tiêu đề</th>
                                                    <th><div class="table_th_difficult">Độ khó</th>
                                                    <th><div class="table_th_user">Trả lời</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% @problem_interview.each do |problem| %>
                                                    <tr>
                                                        <td><div class="table_td_no"><%= link_to problem.id, problem_path(problem) %></td>
                                                        <td><div class="table_td_title"><%= link_to problem.title, problem_path(problem) %></td>
                                                        <td>
                                                            <%if(problem.difficult.to_i == 1 || problem.difficult.to_s == 'Dễ') %>
                                                                <% table_td_difficult = "easy" %>
                                                            <% elsif (problem.difficult.to_i == 2 || problem.difficult.to_s == 'Trung bình') %>
                                                                <% table_td_difficult = "average" %>
                                                            <% elsif (problem.difficult.to_i == 3 || problem.difficult.to_s == 'Khó') %>
                                                                <% table_td_difficult = "hard" %>
                                                            <%end%>
                                                            <div class=<%= table_td_difficult %>><a><%= problem.difficult %></a>
                                                        </td>
                                                        <td><div class="table_td_user"><%= problem.problem_solutions.count %></td>
                                                    </tr>
                                                <% end %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div role="tabpanel" id="ProblemIndexOtherID" class="tab-pane"><br>
                                    <div class="problem_index_other_tab">
                                        <table class="table table-hover table-striped table-bordere">
                                            <thead>
                                                <tr>
                                                    <th><div class="table_th_no">#</th>
                                                    <th><div class="table_th_title">Tiêu đề</th>
                                                    <th><div class="table_th_difficult">Độ khó</th>
                                                    <th><div class="table_th_user">Trả lời</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% @problem_other.each do |problem| %>
                                                    <tr>
                                                        <td><div class="table_td_no"><%= link_to problem.id, problem_path(problem) %></td>
                                                        <td><div class="table_td_title"><%= link_to problem.title, problem_path(problem) %></td>
                                                        <td>
                                                            <%if(problem.difficult.to_i == 1 || problem.difficult.to_s == 'Dễ') %>
                                                                <% table_td_difficult = "easy" %>
                                                            <% elsif (problem.difficult.to_i == 2 || problem.difficult.to_s == 'Trung bình') %>
                                                                <% table_td_difficult = "average" %>
                                                            <% elsif (problem.difficult.to_i == 3 || problem.difficult.to_s == 'Khó') %>
                                                                <% table_td_difficult = "hard" %>
                                                            <%end%>
                                                            <div class=<%= table_td_difficult %>><a><%= problem.difficult %></a>
                                                        </td>
                                                        <td><div class="table_td_user"><%= problem.problem_solutions.count %></td>
                                                    </tr>
                                                <% end %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <script type="text/javascript">
                            $(function() { 
                                $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                                    localStorage.setItem('lastTab', $(this).attr('href'));
                                });

                                var lastTab = localStorage.getItem('lastTab');
                                if (lastTab) {
                                    $('[href="' + lastTab + '"]').tab('show');
                                }
                            });
                        </script>

                        <div class="problem_new_button">
                            <%if logged_in?%>
                                <%= link_to '<button type="submit"><i class="material-icons-outlined">create</i>Tạo câu hỏi mới</button>'.html_safe, new_problem_path %>
                            <%else%>
                                <%= link_to '<button type="submit"><i class="material-icons-outlined">create</i>Tạo câu hỏi mới</button>'.html_safe, login_path %>
                            <%end%>
                        </div>
                    </div>
                    
                    <div class="col-sm-4">
                        <div class="problem_top">
                            <a><i class="material-icons-outlined">turned_in_not</i>Top câu hỏi hot</a>
                            <div class="problem_short">
                                <%i = 0%>
                                <% @problems_newest.each do |problem| %>
                                    <%i += 1%>
                                    <%break if i > 10%>
                                    <div class="problem_block">
                                        <div class="problem_id">
                                            <a><%=problem.id%></a>
                                        </div>
                                        <div class="problem_label">
                                            <a><%= link_to problem.title, problem_path(problem) %></a>
                                        </div>
                                    </div>
                                <% end %>
                            </div>
                        </div>
                        <div class="problem_company">
                            <a><i class="material-icons-outlined">corporate_fare</i>Câu hỏi theo công ty</a>
                            <div class="problem_short">
                                <%i = 0%>
                                <% @problems.each do |problem| %>
                                    <%i += 1%>
                                    <%break if i > 10%>
                                    <div class="problem_label">
                                        <a><%= link_to problem.title, problem_path(problem) %></a>
                                    </div>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>