<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0"/>
    </head>

    <body>
        <div class='body_content_full'>
            <%- model_class = Problem -%>
                <div class="problem_container">
                    <div class="problem_left">
                        <div class="problem_category">
                            <div class="problem_header">
                                <strong> <i class="material-icons">apps</i> Danh mục chính</strong>
                            </div>

                            <div class="new_category_math">
                                <form action="/action_page.php">
                                    <%= link_to '<button type="submit"><i class="material-icons checked">filter_alt</i>Thuật toán</button>'.html_safe, new_problem_path %>
                                </form>
                            </div>
                            <div class="new_category_interview">
                                <form action="/action_page.php">
                                    <%= link_to '<button type="submit"><i class="material-icons checked">people</i>Câu hỏi phỏng vấn</button>'.html_safe, new_problem_path %>
                                </form>
                            </div>
                            <div class="new_category_test">
                                <form action="/action_page.php">
                                    <%= link_to '<button type="submit"><i class="material-icons checked">model_training</i>Bài test mẫu</button>'.html_safe, new_problem_path %>
                                </form>
                            </div>
                            <div class="new_category_qa">
                                <form action="/action_page.php">
                                    <%= link_to '<button type="submit"><i class="material-icons checked">wysiwyg</i>Câu hỏi khác</button>'.html_safe, new_problem_path %>
                                </form>
                            </div>

                            <div class="new_category_discuss">
                                <form action="/action_page.php">
                                    <%= link_to '<button type="submit"><i class="material-icons checked">record_voice_over</i>Chia sẻ thảo luận</button>'.html_safe, new_problem_path %>
                                </form>
                            </div>
                        </div>
                        
                        <%if @problems.nil?%>
                            <%if (@problems.count < @problems_all.count)%>
                                <div class="section_title">
                                    <h3>Tìm thấy <%=@problems.count%> kết quả</h3>
                                </div>
                            <%end%>
                        <%end%>

                        <%# New button %>
                        <div class="problem_short_des">
                            <div class="short_des">
                                <span>#Tổng số <%= @problems.count %></span>
                            </div>
                            <div class="short_des">
                                <span>#Đã xử lý <%= @problems.count %></span>
                            </div>
                            <div class="short_des">
                                <span>#Khó <%= @problems.count %></span>
                            </div>
                            <div class="short_des">
                                <span>#Trung bình <%= @problems.count %></span>
                            </div>
                            <div class="short_des">
                                <span>#Dễ <%= @problems.count %></span>
                            </div>
                            <div class="new_problem">
                                <%= link_to '<button type="submit"><i class="material-icons">add</i> <span>Tạo một câu hỏi mới<span></button>'.html_safe, new_problem_path %>
                            </div>
                        </div>
                        
                        <div class="problem_search">
                            <%=form_tag problems_path, :method => "get" do%>
                                <div class="problem_search_form">
                                    <i class="material-icons checked">search</i>
                                    <%= text_field_tag :search, params[:search], class: 'problem_search_input', placeholder: "Nhập tên câu hỏi"%>
                                </div>
                                <div class="problem_search_button">
                                    <%= submit_tag "Tìm kiếm ", :name => nil, class: 'search_button'%>
                                </div>
                            <%end%>
                        </div>

                        <table class="table problem_table">
                            <thead>
                                <tr>
                                    <th><div class="table_th_no">#</th>
                                    <th><div class="table_th_title">Tiêu đề</th>
                                    <th><div class="table_th_difficult">Độ khó</th>
                                    <th><div class="table_th_user">Trả lời</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% @problems.each do |problem| %>
                                    <tr>
                                        <td><div class="table_td_no"><%= link_to problem.id, problem_path(problem) %></td>
                                        <td><div class="table_td_title"><%= link_to problem.title, problem_path(problem) %></td>
                                        <td><div class="table_td_difficult"><%= problem.difficult %></td>
                                        <td><div class="table_td_user"><%= problem.problem_solutions.count %></td>
                                    </tr>
                                <% end %>
                            </tbody>
                        </table>
                    </div>
                    <div class="problem_right">
                        <div class="problem_top">
                            <t><i class="material-icons">list</i>Top câu hỏi hot</t>
                            <div class="problem_short">
                                <%i = 0%>
                                <% @problems.each do |problem| %>
                                    <%i += 1%>
                                    <%break if i > 10%>
                                    <div class="problem_label">
                                        <%= link_to problem.title, problem_path(problem) %>
                                    </div>
                                <% end %>
                            </div>
                        </div>
                        <div class="problem_company">
                            <t><i class="material-icons">business</i>Câu hỏi theo công ty</t>
                            <div class="problem_short">
                                <%i = 0%>
                                <% @problems.each do |problem| %>
                                    <%i += 1%>
                                    <%break if i > 10%>
                                    <div class="problem_label">
                                        <%= link_to problem.title, problem_path(problem) %>
                                    </div>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>