<!DOCTYPE html>
<html>
    <head>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <!-- Add icon library -->
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    </head>

    <body>
        <div class='body_content'>
            <%- model_class = Problem -%>
                <div class="problem_area">
                    <div class="problem_title">
                        <div class="problem_title_image">
                            <img src="<%= "/assets/fpt-software-logo.png" %>" alt="Snow" style="width:100%;">
                        </div>

                        <div class="problem_title_summary">
                            <div class="problem_title_name">
                                <t><%= @problem.title %></t>
                            </div>

                            <div class="problem_title_short_des">
                                <div class="problem_title_short_des_group1">
                                    <span class="fa fa-map-marker fa-2x checked"></span>
                                    <t><%= @problem.user_name %></t>
                                </div>

                                <div class="problem_title_short_des_group">
                                    <span class="fa fa-history fa-2x checked"></span>
                                    <t><%= @problem.created_at %></t>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Tab links -->
                    <div class="problem_tab">
                        <button class="problem_tablinks active" onclick="openContent(event, 'Problem')"><h3>Mô tả chính</h3></button>
                        <button class="problem_tablinks" onclick="openContent(event, 'SolveProblem')"><h3>Giải pháp</h3></button>
                    </div>

                    <!-- Tab content -->
                    <div id="Problem" class="problem_tabcontent" style="display:block;">
                        <%= render :partial => 'problems/description' %>
                    </div>

                    <div id="SolveProblem" class="problem_tabcontent">
                        <%= render @problem.problem_solutions %>
                    </div>

                    <script>
                        function openContent(evt, cityName) {
                            var i, problem_tabcontent, problem_tablinks;
                            problem_tabcontent = document.getElementsByClassName("problem_tabcontent");
                            for (i = 0; i < problem_tabcontent.length; i++) {
                                problem_tabcontent[i].style.display = "none";
                            }

                            problem_tablinks = document.getElementsByClassName("problem_tablinks");
                            for (i = 0; i < problem_tablinks.length; i++) {
                                problem_tablinks[i].className = problem_tablinks[i].className.replace(" active", "");
                            }

                            document.getElementById(cityName).style.display = "block";
                            evt.currentTarget.className += " active";
                        }
                    </script>

                </div>
            </div>
        </div>
    </body>
</html>
