<!DOCTYPE html>
<html>
    <head>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <!-- Add icon library -->
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    </head>

    <body>
        <div class='body_content_full'>
            <%- model_class = Problem -%>
                <div class="problem_area_left">
                    <!-- Tab links -->
                    <div class="problem_tab">
                        <button class="problem_tablinks active" onclick="openContent(event, 'Problem')"><h3>Mô tả chính</h3></button>
                        <button class="problem_tablinks" onclick="openContent(event, 'SolveProblem')"><h3>Giải pháp</h3></button>
                    </div>

                    <!-- Tab content -->
                    <div id="Problem" class="problem_tabcontent" style="display:block;">
                        <%= render :partial => 'problems/description' %>
                    </div>

                    <div id="SolveProblem" class="problem_tabcontent">
                        <%= render @problem.problem_solutions %>
                    </div>

                    <script>
                        function openContent(evt, cityName) {
                            var i, problem_tabcontent, problem_tablinks;
                            problem_tabcontent = document.getElementsByClassName("problem_tabcontent");
                            for (i = 0; i < problem_tabcontent.length; i++) {
                                problem_tabcontent[i].style.display = "none";
                            }

                            problem_tablinks = document.getElementsByClassName("problem_tablinks");
                            for (i = 0; i < problem_tablinks.length; i++) {
                                problem_tablinks[i].className = problem_tablinks[i].className.replace(" active", "");
                            }

                            document.getElementById(cityName).style.display = "block";
                            evt.currentTarget.className += " active";
                        }
                    </script>
                </div>

                <div class="problem_area_right">
                    <div class="problem_submit">
                        <div class="new_problem_solution_right_form">
                            <%= form_for [@problem, ProblemSolution.new] do |f| %>
                                <div class="new_problem_solution_right_title">
                                    <t>Hãy cho mọi người biết giải pháp của bạn</t>
                                </div>

                                <div class="new_problem_solution_right_section">
                                    <div class="new_problem_solution_right_content">
                                        <div class="new_problem_solution_right_label_title">
                                            <t><%= f.label :title, "Tiêu đề: *", class: "new_problem_solution_right_label_name" %></t>
                                        </div>

                                        <div class="new_problem_solution_right_input_review_title">
                                            <%= f.text_field :title, class: "new_problem_solution_right_form_input", placeholder: "  Nhập tiêu đề" %>
                                        </div>

                                        <div class="new_problem_solution_right_label">
                                            <t><%= f.label :content, "Giải pháp chính :*", class: "new_problem_solution_right_label_name" %></t>
                                        </div>

                                        <div class="new_problem_solution_right_input_review">
                                            <%= f.text_field :content, class: "new_problem_solution_right_form_input", placeholder: "  Nhập nội dung trả lời" %>
                                        </div>
                                    </div>
                                </div>

                                <div class="new_problem_solution_right_submit_button">
                                    <%= f.submit "Gửi trả lời", class: "new_problem_solution_right_form_submit" %>
                                </div>
                            <%end%>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
