<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0"/>
    </head>

    <body>
        <%- model_class = Problem -%>
            <div class="container">
                <div class="problem_area">
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="problem_area_left">
                                <div class="problem_tab_link">
                                    <ul class="nav nav-tabs nav-justified" id="problem_tabs" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" data-toggle="tab" href="#ProblemDescriptionID"><i class="material-icons-outlined">content_paste</i>Mô tả</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#ProblemSolutionID"><i class="material-icons-outlined">lock_open</i>Giải pháp<span> <%= @problem.problem_solutions.count%><span></a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#SubmitSolutionID"><i class="material-icons-outlined">bookmark_border</i>Submission<span> <%= @problem_submition.count%><span></a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="problem_tab_content">
                                    <div class="tab-content">
                                        <div role="tabpanel" id="ProblemDescriptionID" class="tab-pane fade in active"><br>
                                            <div class="problem_des_tab">
                                                <%= @problem.content_rich_text %>
                                            </div>
                                        </div>

                                        <div role="tabpanel" id="ProblemSolutionID" class="tab-pane"><br>
                                            <div class="problem_solution_tab">
                                                <div class="problem_solution_best">
                                                    <div class="problem_solution_best_title">
                                                        <i class="material-icons-outlined">verified</i>
                                                        <a class="problem_solution_best_title"> Câu trả lời hay nhất</a>
                                                    </div>
                                                    <%if @problem_solutions_best != nil%>
                                                        <%=render @problem_solutions_best%>
                                                    <%else%>
                                                        <a class="problem_solution_no_best_title">Rất tiếc, chưa có câu trả lời tốt nhất cho câu hỏi này...<a>
                                                    <%end%>
                                                </div>

                                                <div class="problem_solution_normal">
                                                    <div class="problem_solution_title">
                                                        <a>Xem thêm <%=@problem.problem_solutions.count%> câu trả lời khác</a>
                                                    </div>
                                                    <%if @problem.problem_solutions.count > 0%>
                                                        <%= render @problem.problem_solutions %>
                                                    <%else%>
                                                        <a>Rất tiếc chưa có câu trả lời, hãy là người đầu tiên đưa ra giải pháp cho câu hỏi này ...</a>
                                                    <%end%>
                                                </div>
                                            </div>
                                        </div>

                                        <div role="tabpanel" id="SubmitSolutionID" class="tab-pane"><br>
                                            <div class="problem_submit_tab">  
                                                <%if @problem_submition.count > 0%>  
                                                    <%= render @problem_submition%>
                                                <%else%>
                                                    <a>Bạn chưa có câu trả lời cho câu hỏi này ...</a>
                                                <%end%>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <script type="text/javascript">
                                    $(function() { 
                                        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                                            localStorage.setItem('lastTab', $(this).attr('href'));
                                        });

                                        var lastTab = localStorage.getItem('lastTab');
                                        if (lastTab) {
                                            $('[href="' + lastTab + '"]').tab('show');
                                        }
                                    });
                                </script>

                                <%if @problem_submition.count < 1%>
                                    <script type="text/javascript">
                                        $('#problem_tabs a[href="#ProblemSolutionID"').click(function (e) {
                                            e.preventDefault()
                                            var areYouSure = confirm('Bạn chưa có giải pháp nào cho câu hỏi này, bạn có muốn xem đáp án hay không?');
                                            if (areYouSure === true) {
                                                $(this).tab('show')
                                            } else {
                                                return false;
                                            }
                                        })
                                    </script>
                                <%end%>
                            </div>

                            <div class="problem_area_right">
                                <div class="problem_submit">
                                    <div class="new_problem_solution_right_form">
                                        <%= form_for [@problem, ProblemSolution.new] do |f| %>
                                            <div class="new_problem_solution_right_title">
                                                <a>Giải pháp của bạn</a>
                                            </div>

                                            <div class="new_problem_solution_right_section">
                                                <div class="new_problem_solution_right_content">
                                                    <div class="new_problem_solution_right_input_review">
                                                        <%= f.rich_text_area :content_rich_text, :required => true, class: "rich_text_area", placeholder: "Mô tả câu trả lời của bạn" %>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="new_problem_solution_right_submit_button">
                                                <%= f.submit "Gửi trả lời", class: "new_problem_solution_right_form_submit" %>
                                            </div>
                                        <%end%>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="problem_related">
                                <a><i class="material-icons-outlined">format_list_numbered_rtl</i>Câu hỏi liên quan</a>
                                <div class="problem_short">
                                    <%i = 0%>
                                    <% @problems.each do |problem| %>
                                        <%i += 1%>
                                        <%break if i > 10%>
                                        <div class="problem_label">
                                            <%= link_to problem.title, problem_path(problem) %>
                                        </div>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </body>
</html>
