<%case @tab_id%>
<%when "default", "ProblemDescriptionID"%>
    <%title = "Mô tả"%>
<%when "ProblemSolutionID"%>
    <%title = "Trả lời"%>
<%when "ProblemSubmitSolutionID"%>
    <%title = "Câu trả lời của bạn"%>
<%when "ProblemRelatedID"%>
    <%title = "Câu hỏi liên quan"%>
<%else%>
    <%title = ""%>
<%end%>
<% content_for :meta_title, title + " · " + @problem.title %>
<% content_for :meta_description, @problem.content %>
<%- model_class = Problem -%>
	<div class="container-fluid">
		<div class="problem_area">
			<div class="row">
				<div class="col-sm-6">
					<div class="problem_area_left">
						<div class="problem_tab_link">
							<ul class="nav nav-justified">
								<li class="nav-item">
									<%if @tab_id == "default" || @tab_id == "ProblemDescriptionID"%>
										<%active = "active"%>
									<%else%> 
										<%active = ""%>
									<%end%>                                 
									<a class="nav-link <%=active%>" href="<%=problem_path(@problem, tab_id: 'ProblemDescriptionID')%>"><i class="material-icons-outlined">content_paste</i>Mô tả</a>
								</li>
								<li class="nav-item">
									<%if @tab_id == "ProblemSolutionID"%>
										<%active = "active"%>
									<%else%> 
										<%active = ""%>
									<%end%>                                     
									<a class="nav-link <%=active%>" href="<%=problem_path(@problem, tab_id: 'ProblemSolutionID')%>"><i class="material-icons-outlined">lightbulb</i>Trả lời<span> <%= convert_number_to_human(@problem.problem_solutions.count)%><span></a>
								</li>
								<li class="nav-item">
									<%if @tab_id == "ProblemSubmitSolutionID"%>
										<%active = "active"%>
									<%else%> 
										<%active = ""%>
									<%end%>                                     
									<a class="nav-link <%=active%>" href="<%=problem_path(@problem, tab_id: 'ProblemSubmitSolutionID')%>"><i class="material-icons-outlined">bookmark_border</i>Submission<span> <%= convert_number_to_human(@problem_submition.count)%><span></a>
								</li>
								<li class="nav-item">
									<%if @tab_id == "ProblemRelatedID"%>
										<%active = "active"%>
									<%else%> 
										<%active = ""%>
									<%end%>                                     
									<a class="nav-link <%=active%>" href="<%=problem_path(@problem, tab_id: 'ProblemRelatedID')%>"><i class="material-icons">list</i>Câu hỏi liên quan<span> <%= convert_number_to_human(@problems.count)%><span></a>
								</li>
							</ul>
						</div>

						<div class="problem_tab_content">
							<%if @tab_id == "default" || @tab_id == "ProblemDescriptionID"%>
								<div class="problem_des_tab">
									<div class="problem_des_info">
										<div class="problem_des_title">
											<a><%=@problem.id%>. <%=@problem.title%></a>
										</div>
										<div class="problem_des">
											<div class="user_avatar_small">
												<%owner_user = find_owner_user(@problem)%>
												<%if owner_user.present?%>
													<%if owner_user.avatar?%>
														<div class="user_avatar_small_img">
															<%= link_to (image_tag(owner_user.avatar.thumb.url)), image_path(url_for(owner_user.avatar.thumb.url)), rel: "gallery" , :href => user_path(owner_user)%>
														</div>
													<%else%>
														<div class="user_avatar_small_text checked_<%=find_user_color(owner_user.name)%>">
															<a><%= link_to owner_user.name[0], user_path(owner_user)%></a>
														</div>
													<%end%>
												<%else%>
													<div class="user_avatar_small_default checked_0">
														<a>A</a>
													</div>
												<%end%>
											</div>
											<div class="user_name">
												<%if owner_user.present?%>
													<a><%= link_to owner_user.name, user_path(owner_user)%></a>
												<%else%>
													<a>Admin</a>
												<%end%>
											</div>
											<div class="problem_difficult_info">
												<%problem_difficult = ""%>
												<%if(@problem.difficult.to_i == 1 || @problem.difficult.to_s == 'Dễ') %>
													<% problem_difficult = "easy" %>
												<% elsif (@problem.difficult.to_i == 2 || @problem.difficult.to_s == 'Trung bình') %>
													<% problem_difficult = "average" %>
												<% elsif (@problem.difficult.to_i == 3 || @problem.difficult.to_s == 'Khó') %>
													<% problem_difficult = "hard" %>
												<%end%>
												<div class=<%= problem_difficult %>>
													<a><i class="material-icons-outlined ">emoji_objects</i><%= @problem.difficult %></a>
												</div>
											</div>
											
											<div class="problem_history_info">
												<% problem_category = ""%>
												<%if @problem.category.to_i == 1%>
													<%problem_category = "Thuật toán"%>
												<%elsif @problem.category.to_i == 2%>
													<%problem_category = "Câu hỏi phỏng vấn"%>
												<%elsif @problem.category.to_i == 3%>
													<%problem_category = "IQ Test"%>
												<%elsif @problem.category.to_i == 4%>
													<%problem_category = "EQ Test"%>
												<%elsif @problem.category.to_i == 5%>
													<%problem_category = "Câu hỏi khác"%>
												<%end%>															
												<a><i class="material-icons-outlined checked">open_in_new</i><%= problem_category%></a>
												<a><i class="material-icons-outlined checked">lightbulb</i><%= @problem.problem_solutions.count%> Giải pháp</a>
												<a><i class="material-icons-outlined checked">history_toggle_off</i><%= time_ago_in_words(@problem.created_at)%></a>
											</div>
										</div>
									</div>
									<div class="problem_des_content">
										<%= @problem.content.html_safe %>
									</div>
								</div>
							<%end%>

							<%if @tab_id == "ProblemSolutionID"%>
								<div class="problem_solution_tab" id="ProblemSolutionID">
									<%if @problem_solutions_best.present?%>
										<div class="problem_solution_best">
											<div class="problem_solution_best_title">
												<i class="material-icons-outlined">done</i>
												<a> Câu trả lời hay nhất</a>
											</div>
											<%=render @problem_solutions_best%>
										</div>
									<%end%>

									<div class="problem_solution_normal">
										<div class="problem_solution_title">
											<a><%=@problem.problem_solutions.count%> câu trả lời</a>
										</div>
										<%if @problem.problem_solutions.count > 0%>
											<%= render @problem.problem_solutions %>
										<%else%>
											<a>Rất tiếc chưa có câu trả lời, hãy là người đầu tiên đưa ra giải pháp cho câu hỏi này ...</a>
										<%end%>
									</div>
								</div>
							<%end%>

							<%if @tab_id == "ProblemSubmitSolutionID"%>
								<div class="problem_submit_tab">  
									<%if @problem_submition.count > 0%>  
										<%= render @problem_submition%>
									<%else%>
										<a>Bạn chưa có câu trả lời cho câu hỏi này ...</a>
									<%end%>
								</div>
							<%end%>
							
							<%if @tab_id == "ProblemRelatedID"%>
								<div class="problem_related_tab">
									<table class="table table-hover table-striped table-bordere">
										<thead>
											<tr>
												<th><div class="table_th_no">#</th>
												<th><div class="table_th_title">Tiêu đề</th>
												<th><div class="table_th_difficult">Độ khó</th>
												<th><div class="table_th_user">Trả lời</th>
											</tr>
										</thead>
										<tbody>
											<% @problems.each do |problem| %>
												<%if problem.difficult.to_i == @problem.difficult.to_i%>
													<tr>
														<td><div class="table_td_no"><%= problem.id %></td>
														<td><div class="table_td_title"><%= link_to problem.title, problem_path(problem) %></td>
														<td>
															<%if(problem.difficult.to_i == 1 || problem.difficult.to_s == 'Dễ') %>
																<% table_td_difficult = "easy" %>
															<% elsif (problem.difficult.to_i == 2 || problem.difficult.to_s == 'Trung bình') %>
																<% table_td_difficult = "average" %>
															<% elsif (problem.difficult.to_i == 3 || problem.difficult.to_s == 'Khó') %>
																<% table_td_difficult = "hard" %>
															<%end%>
															<div class=<%= table_td_difficult %>><a><%= problem.difficult %></a>
														</td>
														<td><div class="table_td_user"><%= problem.problem_solutions.count %></td>
													</tr>
												<%end%>
											<% end %>
										</tbody>
									</table>
								</div>
							<%end%>
						</div>

						<%if @problem_submition.count < 1%>
							<script type="text/javascript">
								$(#ProblemSolutionID).click(function (e) {
									e.preventDefault()
									var areYouSure = confirm('Bạn chưa có giải pháp nào cho câu hỏi này, bạn có muốn xem đáp án hay không?');
									if (areYouSure === true) {
										$(this).tab('show')
									} else {
										return false;
									}
								})
							</script>
						<%end%>
					</div>
				</div>

				<div class="col-sm-6">
					<div class="problem_right">
						<div class="problem_right_tab_link">
							<ul class="nav nav-tabs nav-justified" id="problem_right_tabs" role="tablist">
								<li class="nav-item">
									<a class="nav-link active" data-toggle="tab" href="#NormalTextID"><i class="material-icons-outlined">create</i>Text Editor</a>
								</li>
								<li class="nav-item">
									<a class="nav-link disabled" data-toggle="tab" href="#CompilerID"><i class="material-icons-outlined">code</i>Compiler</a>
								</li>
							</ul>
						</div>
						<div class="problem_right_tab_content">
							<div class="tab-content">
								<div role="tabpanel" id="NormalTextID" class="tab-pane fade in active">
									<div class="problem_normal_text">
										<%= render :partial => 'problem_solutions/form' %>
									</div>
								</div>
								<div role="tabpanel" id="CompilerID" class="tab-pane">
									<a>Comming soon</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>	
		</div>
	</div> 
</div>
