<div id="post_comment_index_<%=@post.id%>">
    <div class="post_count">
        <span><%= @post.post_comments.count%> <%=t(:comment)%></span>
    </div>
    <%= form_for([@post, PostComment.new], remote: true) do |f| %>
        <div class="new_post_show_comment_section">
            <div class="new_post_show_comment_input">
                <%= f.text_area :comment_content, :class => "tinymce"%>
                <%= tinymce :mini %>
            </div>
        </div>

        <div class="new_post_show_comment_submit">
            <%= f.submit t(:send), class: "new_post_comment_form_submit" %>
        </div>

        <div class="post_comment_sent">
            <span><%=t(:comment_noti)%></span>
        </div>
    <%end%>
    <div class="post_comment">
        <%= render @post.post_comments %>
    </div>
</div>