<div class="user_post_comment_block" id="post_comment_block_<%=post_comment.id%>">
    <div class="user_post_comment_left">
        <%owner_user = find_owner_user(post_comment)%>
        <%if owner_user%>
            <%= render owner_user%>  
        <%end%> 
    </div>

    <div class="user_post_comment_cotent">
        <div class="user_post_comment_body">
            <a><%= post_comment.comment_content.html_safe %></a>
        </div>
        
        <div class="post_reply_toolbar">
            <div class="post_reply_button">
                <a><%= post_comment.post_reply_comments.count%></a>
                <%if user_signed_in?%>
                    <button class="reply_btn" onclick="myFunctionReplypost_comment(<%=post_comment.id%>)"><i class="material-icons-outlined">chat_bubble_outline</i> <span>Trả lời</span> </button>
                <%else%>
                    <button type="button" data-toggle="modal" data-target="#buttonModalLoginCenter" class="reply_btn">
                        <i class="material-icons-outlined">chat_bubble_outline</i> <span>Trả lời
                    </button>
                <%end%>
            </div>

            <div class="post_comment_info">
                <a><%= post_comment.user_name %> · <%= time_ago_in_words(post_comment.created_at) %></a>
            </div>
        </div>

        <div class="new_reply_post_comment_form" id ="<%=post_comment.id%>">
            <%= form_for([post_comment, PostReplyComment.new], remote: true)  do |f| %>
                <div class="new_reply_post_comment_content">
                    <div class="new_reply_post_comment_input_post_comment">
                        <%= f.text_area :reply_content, :class => "tinymce"%>
                        <%= tinymce :mini %>
                    </div>
                </div>

                <div class="new_reply_post_comment_submit">
                    <button type="submit" class="new_reply_post_comment_form_submit">
                        <i class="material-icons">send</i>
                    </button>
                </div>
            <%end%>
        </div>

        <script>
            function myFunctionReplypost_comment(post_comment_id) {
                var x = document.getElementById(post_comment_id);
                if (x.style.display == "block") 
                {
                    x.style.display = "none";
                } 
                else 
                {
                    x.style.display = "block";
                }
            }
        </script>
    </div>
    
    <div class="post_reply_comment" id="reply_post_comment_<%=post_comment.id%>">
        <%= render post_comment.post_reply_comments %>
    </div>
    
</div>