<%if cover_vitae.primary%>
    <div class="copy_cover_vitae_block cv_block_highlight">
<%else%>
    <div class="copy_cover_vitae_block">
<%end%>
    <div class="copy_cover_vitae_avatar">
        <%if cover_vitae.avatar?%>
            <%= image_tag(cover_vitae.avatar)%>
        <%else%>
            <%= image_tag("defaults/cv_avatar_default.png")%>
        <%end%>
    </div>

    <div class="copy_cover_vitae_title">
        <%= cover_vitae.title%>
    </div>

    <div class="copy_cover_vitae_action">
        <div class="row">
            <div class="col-6">
                <div class="copy_cover_vitae_use">
                    <%= link_to edit_cover_vitae_path(cover_vitae) do%>
                        <button type="submit"><i class="material-icons">edit</i><span><%=t(:edit)%></span></button>
                    <%end%>
                </div>

                <div class="copy_cover_vitae_preview">
                    <%= link_to cover_vitae_path(cover_vitae) do%>
                        <button type="submit"><i class="material-icons">remove_red_eye</i><span><%=t(:view)%></span></button>
                    <%end%>
                </div>
            </div>

            <div class="col-6">
                <div class="copy_cover_vitae_primary" id="primary_cover_vitae_<%=cover_vitae.id%>">
                    <%if cover_vitae.primary%>
                        <%= link_to set_primary_cover_viate_path(:id => cover_vitae.id), remote: :true do%>
                            <button class="highlight_btn" type="submit"><i class="material-icons">done</i><span><%=t(:default_cv)%></span></button>
                        <%end%>
                    <%else%>                                    
                        <%= link_to set_primary_cover_viate_path(:id => cover_vitae.id), remote: :true do%>
                            <button type="submit"><i class="material-icons">done</i><span><%=t(:set_default_cv)%></span></button> 
                        <%end%>
                    <%end%>
                </div>

                <div class="copy_cover_vitae_download">
                    <%= link_to cv_render_docx_path(id: cover_vitae.id) do%>
                        <button type="submit"><i class="material-icons">file_download</i><span><%=t(:download)%></span></button> 
                    <%end%>
                </div>
            </div>
        </div>
    </div>
</div>