<div class="cover_vitae_block">
    <div class="cover_vitae_avatar">
        <%if cover_vitae.avatar?%>
            <%= image_tag(cover_vitae.avatar.url)%>
        <%else%>
            <%= image_tag("defaults/cv_avatar_default.png")%>
        <%end%>
    </div>

    <div class="cover_vitae_title">
        <%= cover_vitae.title%>
    </div>

    <div class="cover_vitae_title_sub">
        <a><%=convert_number_to_human(count_copy_cover_vitae(cover_vitae))%> <%=t(:people_use).downcase%></a>
    </div>

    <%if user_signed_in?%>
        <div class="cover_vitae_action">
            <div class="cover_vitae_use">
                <%= link_to new_cover_vitae_path(:cv_sample_id => cover_vitae.id) do%>
                    <button type="submit"><i class="material-icons">edit</i><span><%=t(:use_sample)%></span></button>
                <%end%>
            </div>
            <div  class="cover_vitae_preview">
                <%= link_to cover_vitae_path(cover_vitae) do%>
                    <button type="submit"><i class="material-icons">remove_red_eye</i><span><%=t(:view)%></span></button>
                <%end%>
            </div>
        </div>
    <%else%>
        <div class="cover_vitae_action">
            <div class="cover_vitae_use">
                <button type="button" data-toggle="modal" data-target="#buttonModalLoginCenter">
                    <i class="material-icons">edit</i><span><%=t(:use_sample)%></span>
                </button>
            </div>
            <div class="cover_vitae_preview">
                <%= link_to cover_vitae_path(cover_vitae) do%>
                    <button type="submit"><i class="material-icons">remove_red_eye</i><span><%=t(:view)%></span></button>
                <%end%>
            </div>
        </div>
    <%end%>
</div>