<div id="primary_cover_vitae_<%=cover_vitae.id%>">
    <%if cover_vitae.primary%>
        <%= link_to set_primary_cover_viate_path(:id => cover_vitae.id), remote: :true do%>
            <button class="highlight_btn" type="submit"><i class="material-icons">done</i><span><%=t(:default_cv)%></span></button>
        <%end%>
    <%else%>                                    
        <%= link_to set_primary_cover_viate_path(:id => cover_vitae.id), remote: :true do%>
            <button type="submit"><i class="material-icons">done</i><span><%=t(:set_default_cv)%></span></button> 
        <%end%>
    <%end%>
</div>