<div class="cv_show_block">
    <div class="container">
        <div class ="row justify-content-center">
            <div class="col-sm-8">
                <%if @cover_vitae.title%>
                    <div class="cv_show_title">
                        <a><%=@cover_vitae.title%></a>
                    </div>
                <%end%>
                
                <div class="cv_show_detail">
                    <%=@cover_vitae.detail.html_safe%>
                </div>

                <%if user_signed_in?%>
                    <div class="cv_show_action">
                        <div class="cv_show_index">
                            <%= link_to cover_vitaes_path do%>
                                <button type="submit"><i class="material-icons">arrow_back</i><span><%=t(:view_other_sample)%></span></button>
                            <%end%>
                        </div>
                        <div class="cv_show_use">
                            <%= link_to new_cover_vitae_path(:cv_sample_id => @cover_vitae.id) do%>
                                <button type="submit"><i class="material-icons">edit</i><span><%=t(:use_sample)%></span></button>
                            <%end%>
                        </div>
                    </div>
                <%else%>
                    <div class="cv_show_action">
                        <div class="cv_show_index">
                            <%= link_to cover_vitaes_path do%>
                                <button type="submit"><i class="material-icons">arrow_back</i><span><%=t(:view_other_sample)%></span></button>
                            <%end%>
                        </div>
                        <div  class="cv_show_use">
                            <button type="button" data-toggle="modal" data-target="#buttonModalLoginCenter">
                                <i class="material-icons">edit</i><span><%=t(:use_sample)%></span>
                            </button>
                        </div>
                    </div>
                <%end%>
            </div>
        </div>

        <div class="breadcrumbs">
            <%= render_breadcrumbs :separator => '<i class="material-icons-outlined">keyboard_arrow_right</i>' %>
        </div>
    </div>
</div>