<div class="cv_index_block">
    <div class="cv_index_intro_block">
        <div class="container">
            <div class='row'>
                <div class='col-sm-5'>
                    <div class="cv_index_left_block">
                        <div class="cv_index_bar_label">
                            <h3><%=t(:index_cv_label)%>.</h3>
                        </div>
                        <div class="cv_index_button">
                            <a href="#cover_viate_index"><span><%=t(:create_new_cv)%></span> <i class="material-icons-outlined">keyboard_double_arrow_down</i></a>
                        </div>
                    </div>
                </div>
                <div class='col-sm-7'>
                    <div class="cv_index_right_block">
                        <%=image_tag("others/cv_background.jpg")%>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-10">
                <div class="cover_vitae_index_tab_link" id="cover_viate_index">
                    <ul class="nav nav-justified">
                        <li class="nav-item">
                            <%if @tab == "default" || @tab == "CVIndexAllID"%>
                                <%active = "active"%>
                            <%else%> 
                                <%active = ""%>
                            <%end%>                                 
                            <a class="nav-link <%=active%>" href="<%=cover_vitaes_path(tab: 'CVIndexAllID')%>"><i class="material-icons-outlined">content_copy</i><%=t(:all)%><span><%=@cover_vitaes.total_count%></span></a>
                        </li>
                        <li class="nav-item">
                            <%if @tab == "CVIndexMordemID"%>
                                <%active = "active"%>
                            <%else%> 
                                <%active = ""%>
                            <%end%>                                     
                            <a class="nav-link <%=active%>" href="<%=cover_vitaes_path(tab: 'CVIndexMordemID')%>"><i class="material-icons-outlined">track_changes</i><%=t(:moderm)%><span><%=@cover_vitaes_moderm.total_count%></span></a>
                        </li>
                        <li class="nav-item">
                            <%if @tab == "CVIndexCreativeID"%>
                                <%active = "active"%>
                            <%else%> 
                                <%active = ""%>
                            <%end%>                                     
                            <a class="nav-link <%=active%>" href="<%=cover_vitaes_path(tab: 'CVIndexCreativeID')%>"><i class="material-icons-outlined">emoji_objects</i><%=t(:creative)%> <span><%=@cover_vitaes_creative.total_count%></span></a>
                        </li>
                        <li class="nav-item">
                            <%if @tab == "CVIndexSimpleID"%>
                                <%active = "active"%>
                            <%else%> 
                                <%active = ""%>
                            <%end%>                                     
                            <a class="nav-link <%=active%>" href="<%=cover_vitaes_path(tab: 'CVIndexSimpleID')%>"><i class="material-icons-outlined">auto_awesome</i><%=t(:simple)%><span><%=@cover_vitaes_simple.total_count%></span></a>
                        </li>
                        <li class="nav-item">
                            <%if @tab == "CVIndexProID"%>
                                <%active = "active"%>
                            <%else%> 
                                <%active = ""%>
                            <%end%>                                     
                            <a class="nav-link <%=active%>" href="<%=cover_vitaes_path(tab: 'CVIndexProID')%>"><i class="material-icons-outlined">card_travel</i><%=t(:pro)%><span><%=@cover_vitaes_pro.total_count%></span></a>
                        </li>
                        <li class="nav-item">
                            <%if @tab == "CVIndexENGID"%>
                                <%active = "active"%>
                            <%else%> 
                                <%active = ""%>
                            <%end%>                                     
                            <a class="nav-link <%=active%>" href="<%=cover_vitaes_path(tab: 'CVIndexENGID')%>"><i class="material-icons-outlined">language</i><%=t(:english)%><span><%=@cover_vitaes_eng.total_count%></span></a>
                        </li>
                        <li class="nav-item">
                            <%if @tab == "CVIndexVEIID"%>
                                <%active = "active"%>
                            <%else%> 
                                <%active = ""%>
                            <%end%>                                     
                            <a class="nav-link <%=active%>" href="<%=cover_vitaes_path(tab: 'CVIndexVEIID')%>"><i class="material-icons-outlined">language</i><%=t(:vietnamese)%><span><%=@cover_vitaes_vie.total_count%></span></a>
                        </li>
                        <li class="nav-item">
                            <%if @tab == "CVIndexJAPID"%>
                                <%active = "active"%>
                            <%else%> 
                                <%active = ""%>
                            <%end%>                                     
                            <a class="nav-link <%=active%>" href="<%=cover_vitaes_path(tab: 'CVIndexJAPID')%>"><i class="material-icons-outlined">language</i><%=t(:japanese)%><span><%=@cover_vitaes_jap.total_count%></span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="cover_vitae_index_tab_content">
            <%if @tab == "default" || @tab == "CVIndexAllID"%>
                <div class="cover_vitae_index_all_tab">
                    <div class="row">
                        <%@cover_vitaes.each do |cover_vitae|%>
                            <div class="col-sm-4">
                                <%=render cover_vitae%>
                            </div>
                        <%end%>
                    </div>
                    <%= paginate @cover_vitaes, window: 2%>
                </div>
            <%end%>

            <%if @tab == "CVIndexMordemID"%>
                <div class="cover_vitae_index_morderm_tab">
                    <div class="row">
                        <%@cover_vitaes_moderm.each do |cover_vitae|%>
                            <div class="col-sm-4">
                                <%=render cover_vitae%>
                            </div>
                        <%end%>
                    </div>
                    <%= paginate @cover_vitaes_moderm, window: 2%>
                </div>
            <%end%>

            <%if @tab == "CVIndexCreativeID"%>
                <div class="cover_vitae_index_creative_tab">
                    <div class="row">
                        <%@cover_vitaes_creative.each do |cover_vitae|%>
                            <div class="col-sm-4">
                                <%=render cover_vitae%>
                            </div>
                        <%end%>
                    </div>
                    <%= paginate @cover_vitaes_creative, window: 2%>
                </div>
            <%end%>

            <%if @tab == "CVIndexSimpleID"%>
                <div class="cover_vitae_index_simple_tab">
                    <div class="row">
                        <%@cover_vitaes_simple.each do |cover_vitae|%>
                            <div class="col-sm-4">
                                <%=render cover_vitae%>
                            </div>
                        <%end%>
                    </div>
                    <%= paginate @cover_vitaes_simple, window: 2%>
                </div>
            <%end%>

            <%if @tab == "CVIndexProID"%>
                <div class="cover_vitae_index_pro_tab">
                    <div class="row">
                        <%@cover_vitaes_pro.each do |cover_vitae|%>
                            <div class="col-sm-4">
                                <%=render cover_vitae%>
                            </div>
                        <%end%>
                    </div>
                    <%= paginate @cover_vitaes_pro, window: 2%>
                </div>
            <%end%>

            <%if @tab == "CVIndexENGID"%>
                <div class="cover_vitae_index_eng_tab">
                    <div class="row">
                        <%@cover_vitaes_eng.each do |cover_vitae|%>
                            <div class="col-sm-4">
                                <%=render cover_vitae%>
                            </div>
                        <%end%>
                    </div>
                    <%= paginate @cover_vitaes_eng, window: 2%>
                </div>
            <%end%>

            <%if @tab == "CVIndexVEIID"%>
                <div class="cover_vitae_index_vei_tab">
                    <div class="row">
                        <%@cover_vitaes_vie.each do |cover_vitae|%>
                            <div class="col-sm-4">
                                <%=render cover_vitae%>
                            </div>
                        <%end%>
                    </div>
                    <%= paginate @cover_vitaes_vie, window: 2%>
                </div>
            <%end%>

            <%if @tab == "CVIndexJAPID"%>
                <div class="cover_vitae_index_jap_tab">
                    <div class="row">
                        <%@cover_vitaes_jap.each do |cover_vitae|%>
                            <div class="col-sm-4">
                                <%=render cover_vitae%>
                            </div>
                        <%end%>
                    </div>
                    <%= paginate @cover_vitaes_jap, window: 2%>
                </div>
            <%end%>

        </div>

        <div class="breadcrumbs">
            <%= render_breadcrumbs :separator => '<i class="material-icons-outlined">keyboard_arrow_right</i>' %>
        </div>
    </div>
</div>