<% content_for :meta_title, "Đăng kí tài khoản dành cho nhà tuyển dụng" %>
<div class="employer_container">
    <div class="container">
        <div class="employer_block">
            <div class="employer_add_new_form">
                <%= form_for @user, html: {class: "form-horizontal"} do |f| %>
                    <div class="employer_add_new_title">
                        <h3>Đăng kí thông tin nhà tuyển dụng</h3>
                    </div>

                    <div class="employer_add_new_content">
                        <div class="employer_add_new_label">
                            <a>Vui lòng chọn công ty mà bạn đang làm việc*</a>
                        </div>

                        <div class="employer_add_new_input">
                            <%= f.select :company_id, Company.all.collect {|m| [m.name, m.id]},{}, class: "form-control"%>
                        </div>
                    </div>

                    <div class="employer_add_new_content">
                        <div class="employer_add_new_label">
                            <a><%= f.label :name, "Họ và tên*", class: "employer_add_new_label_name" %></a>
                        </div>

                        <div class="employer_add_new_input">
                            <%= f.text_field :name, :required => true, class: 'form-control', placeholder: "Nhập họ và tên của bạn" %>
                        </div>
                    </div>

                    <div class="employer_add_new_content">
                        <div class="employer_add_new_label">
                            <a><%= f.label :phone, "Số điện thoại(bạn nên sử dụng số điện thoại công ty)*", class: "employer_add_new_label_name" %></a>
                        </div>

                        <div class="employer_add_new_input">
                            <%= f.text_field :phone, :required => true,  class: 'form-control', placeholder: "Vui lòng sử dụng số điện thoại liên lạc của công ty" %>
                        </div>
                    </div>

                    <div class="employer_add_new_content">
                        <div class="employer_add_new_label">
                            <a><%= f.label :email, "Địa chỉ email(bạn nên sử dụng email công ty)*", class: "employer_add_new_label_name" %></a>
                        </div>

                        <div class="employer_add_new_input">
                            <%= f.email_field :email, :required => true, class: "form-control", placeholder: "Vui lòng sử dụng địa chỉ email công ty" %>
                        </div>
                    </div>

                    <div class="employer_add_new_content">
                        <div class="employer_add_new_label">
                            <a><%= f.label :address, "Địa chỉ liên hệ(bạn nên sử dụng địa chỉ công ty)*", class: "employer_add_new_label_name" %></a>
                        </div>

                        <div class="employer_add_new_input">
                            <%= f.text_field :address, :required => true,  class: 'form-control', placeholder: "Nhập địa chỉ liên hệ của công ty bạn" %>
                        </div>
                    </div>

                    <div class="employer_add_new_content">
                        <div class="employer_add_new_label">
                            <a><%= f.label :password, "Mật khẩu*", class: "employer_add_new_label" %></a>
                        </div>
                        
                        <div class="employer_add_new_input">
                            <%= f.password_field :password, :required => true, class: "form-control", placeholder: "Nhập mật khẩu sử dụng từ 6 kí tự và kết hợp chữ cái, chữ số và biểu tượng" %>
                        </div>
                    </div>

                    <div class="employer_add_new_content">
                        <div class="employer_add_new_label">
                            <a><%= f.label :password_confirmation, "Xác nhận mật khẩu*", class: "employer_add_new_label" %></a>
                        </div>

                        <div class="employer_add_new_input">
                            <%= f.password_field :password_confirmation, :required => true, class: "form-control", placeholder: "Nhập lại mật khẩu" %>
                        </div>
                    </div>

                    <%=f.hidden_field :employer, :value => true, readonly: true%>

                    <div class="employer_add_new_submit">
                        <%= f.submit "Đăng ký tài khoản", class: "employer_add_new_form_submit" %>
                    </div>
                <%end%>
            </div>

            <p class="employer_add_new_loginhere">
                Đã có tài khoản nhà tuyển dụng? <%= link_to " Đăng nhập", new_user_session_path %>
            </p>
        </div>
    </div>
</div>