<div class="user_profile_container" id="user_profile_container">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="user_profile_main_block">
                    <div class="user_profile_main_wall">
                        <%if @user.wall_picture?%>
                            <%= image_tag @user.wall_picture.url %>
                        <%else%>
                            <%= image_tag "defaults/user_wall_default.jpeg"%>
                        <%end%>
                    </div>
                    <div class="user_profile_main_avatar">
                        <%if @user.avatar?%>
                            <%= image_tag @user.avatar.url %>
                        <%else%>
                            <%= image_tag "defaults/user_avatar_default.jpeg"%>
                        <%end%>
                    </div>
                    <div class="user_profile_main_name">
                        <h3><%=@user.name.upcase%></h3>
                    </div>
                    <div class="user_profile_main_address">
                        <%if @user.address%>
                            <a><i class="material-icons-outlined">room</i><%=@user.address%></a>
                        <%else%>
                            <a><i class="material-icons-outlined">room</i>Việt Nam</a>
                        <%end%>
                    </div>
                </div>

                <div class="user_profile_main_info">
                    <div class="row">
                        <div class="col-10">
                            <div class="user_profile_main_info_label">
                                <h3>Thông tin cá nhân</h3>
                            </div>
                            <div class="user_profile_main_info_label_sub">
                                <a>Cập nhật thông tin cá nhân giúp nhà tuyển dụng dễ dàng liên hệ và cung cấp cho bạn những cơ hội việc làm tuyệt vời</a>
                            </div>
                            <button class="user_profile_update_btn" onclick="myFunctionUserPersonal('personal_form')"><i class="material-icons-outlined">edit</i> <a>Cập nhật thông tin</a> </button>
                        </div>
                        <div class="col-2">
                            <div class="user_profile_main_info_detail">
                                <%= image_tag "icons/profile_person.png"%>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="user_profile_main_info_section">
                                <a>Họ và tên</a>
                                <br>
                                <span><%=@user.first_name + @user.last_name%></span>
                            </div>

                            <div class="user_profile_main_info_section">
                                <a>Địa chỉ email</a>
                                <br>
                                <span><%=@user.email%></span>
                            </div>

                            <div class="user_profile_main_info_section">
                                <a>Số điện thoại liên hệ</a>
                                <br>
                                <span><%=@user.phone%></span>
                            </div>

                            <div class="user_profile_main_info_section">
                                <a>Ngày sinh</a>
                                <br>
                                <span><%=@user.birthday%></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="user_profile_main_info_section">
                                <a>Địa chỉ</a>
                                <br>
                                <span><%=@user.address%></span>
                            </div>

                            <div class="user_profile_main_info_section">
                                <a>Giới tính</a>
                                <br>
                                <span><%=@user.sex%></span>
                            </div>

                            <div class="user_profile_main_info_section">
                                <a>Tình trạng hôn nhân</a>
                                <br>
                                <span><%=@user.matrimony%></span>
                            </div>
                        </div>
                        <div class="user_profile_main_info_section">
                            <a>Học vấn cao nhất: </a>
                            <span><%=@user.highest_education%></span>
                        </div>
                        
                        <div class="user_profile_main_info_section">
                            <a>Cấp bậc làm việc cao nhất: </a>
                            <span><%=@user.highest_career%></span>
                        </div>

                        <div class="user_profile_main_info_section">
                            <a>Giới thiệu bản thân: </a>
                            <span><%=@user.summary.html_safe%></span>
                        </div>
                    </div>
                    <div class="user_profile_main_info_form" id="personal_form">
                        <%= render :partial => 'users/form_profile_personal'%>
                    </div>
                    <script>
                        function myFunctionUserPersonal(id) {
                            var x = document.getElementById(id);
                            if (x.style.display == "block") 
                            {
                                x.style.display = "none";
                            } 
                            else 
                            {
                                x.style.display = "block";
                            }
                        }
                    </script>
                </div>

                <div class="user_profile_main_work">
                    <div class="user_profile_main_work_label">
                        <h3>Kinh nghiệm làm việc</h3>
                    </div>
                </div>

                <div class="user_profile_main_edu">
                    <div class="user_profile_main_edu_label">
                        <h3>Trình độ học vấn</h3>
                    </div>
                </div>

                <div class="user_profile_main_skill">
                    <div class="user_profile_main_skill_label">
                        <h3>Kĩ năng cá nhân</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>