<%if preview == true%>
<div class="user_preview_cv_block">
<%else%>
<div class="user_preview_cv_block display_mobile">
<%end%>
    <div class="user_preview_cv_detail">
        <div class="user_preview_cv_wall">
            <%if user.wall_picture?%>
                <%= image_tag user.wall_picture.url %>
            <%else%>
                <%= image_tag "defaults/user_wall_default.svg"%>
            <%end%>
        </div>
        <div class="user_preview_cv_avatar">
            <%if user.avatar?%>
                <%= image_tag user.avatar.url %>
            <%else%>
                <%= image_tag "defaults/user_avatar_default.png"%>
            <%end%>
        </div>
        <div class="user_preview_cv_name">
            <h3><%=user.name.upcase%></h3>
        </div>
        <div class="user_preview_cv_short">
            <%if user.address%>
                <a><i class="material-icons-outlined">room</i><%=user.address%></a>
            <%else%>
                <a><i class="material-icons-outlined">room</i>---</a>
            <%end%>
            <%if user.birthday%>
                <a><i class="material-icons-outlined">cake</i><%=age_of_human(user.birthday)%> <%=t(:age)%></a>
            <%else%>
                <a><i class="material-icons-outlined">cake</i>---</a>
            <%end%>
        </div>
    </div>

    <div class="user_preview_cv_personal">
        <div class="user_preview_cv_personal_label">
            <h3><%=t(:user_personal_info)%></h3>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="user_preview_cv_personal_section">
                    <a><%=t(:email)%></a>
                    <br>
                    <%if user.email%>
                        <%if auth_cv_search_plan_of_employer(current_employer) == true%>
                            <span><%=user.email%></span>
                        <%else%>
                            <%= link_to employer_plan_path do%>
                                <button><%=t(:upgade_to_view_info)%></button>
                            <%end%>
                        <%end%>
                    <%else%>
                        <span>---</span>
                    <%end%>
                </div>

                <div class="user_preview_cv_personal_section">
                    <a><%=t(:phone)%></a>
                    <br>
                    <%if user.phone%>
                        <%if auth_cv_search_plan_of_employer(current_employer) == true%>
                            <span><%=user.phone%></span>
                        <%else%>
                            <%= link_to employer_plan_path do%>
                                <button><%=t(:upgade_to_view_info)%></button>
                            <%end%>
                        <%end%>
                    <%else%>
                        <span>---</span>
                    <%end%>
                </div>
                
                <div class="user_preview_cv_personal_section">
                    <a><%=t(:sex)%></a>
                    <br>
                    <%if user.sex%>
                        <span><%=user.sex%></span>
                    <%else%>
                        <span>---</span>
                    <%end%>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="user_preview_cv_personal_section">
                    <a><%=t(:martial_status)%></a>
                    <br>
                    <%if user.matrimony%>
                        <span><%=user.matrimony%></span>
                    <%else%>
                        <span>---</span>
                    <%end%>
                </div>
                <div class="user_preview_cv_personal_section">
                    <a><%=t(:high_edu)%> </a>
                    <br>
                    <%if user.highest_education%>
                        <span><%=user.highest_education%></span>
                    <%else%>
                        <span>---</span>
                    <%end%>
                </div>
                
                <div class="user_preview_cv_personal_section">
                    <a><%=t(:high_position)%> </a>
                    <br>
                    <%if user.highest_career%>
                        <span><%=user.highest_career%></span>
                    <%else%>
                        <span>---</span>
                    <%end%>
                </div>
            </div>

            <div class="user_preview_cv_personal_section_main">
                <%if user.summary%>
                <a><%=t(:self_introduce)%></a>
                <br>
                    <span><%=user.summary.html_safe%></span>
                <%end%>
            </div>
        </div>
    </div>

    <%if user.user_educations.count > 0%>
        <div class="user_preview_cv_edu">
            <div class="user_preview_cv_edu_label">
                <h3><%=t(:edu_and_cert)%></h3>
            </div>
            <%user.user_educations.each do |user_education|%>
                <div class="user_preview_cv_edu_section">
                    <a><%=user_education.cert_level%> - <%=user_education.cert_type%></a>
                </div>

                <div class="user_preview_cv_edu_section">
                    <span><%=user_education.school_level%> <%=user_education.school_name%> <%=t(:at)%> <%=user_education.school_location%></span>
                </div>

                <div class="user_preview_cv_edu_section">
                    <%if user_education.enrolled == true%>
                        <span><%=user_education.start_date.strftime("%m/%Y")%> - <%=t(:now)%></span>
                    <%else%>
                        <span><%=user_education.start_date.strftime("%m/%Y")%> - <%=user_education.end_date.strftime("%m/%Y")%></span>
                    <%end%>
                </div>
            <%end%>
        </div>
    <%end%>

    <%if user.user_experiences.count > 0%>
        <div class="user_preview_cv_exp">
            <div class="user_preview_cv_exp_label">
                <h3><%=t(:work_exp)%></h3>
            </div>
            <%user.user_experiences.each do |user_experience|%>
                <div class="user_preview_cv_exp_section">
                    <a><%=user_experience.job_level%> - <%=user_experience.company_name%></a> 
                </div>

                <div class="user_preview_cv_exp_section">
                    <span><%=user_experience.company_location%></span>
                </div>

                <div class="user_preview_cv_exp_section">
                    <%if user_experience.enrolled == true%>
                        <span><%=user_experience.start_date.strftime("%m/%Y")%> - <%=t(:now)%></span>
                    <%else%>
                        <span><%=user_experience.start_date.strftime("%m/%Y")%> - <%=user_experience.end_date.strftime("%m/%Y")%></span>
                    <%end%>
                </div>

                <%if user_experience.job_summary%>
                    <div class="user_preview_cv_exp_section">
                        <span><%=user_experience.job_summary.html_safe%></span>
                    </div>
                <%end%>
            <%end%>
        </div>
    <%end%>

    <%if user.user_skills.count > 0%>
        <div class="user_preview_cv_skill">
            <div class="user_preview_cv_skill_label">
                <h3><%=t(:skill)%></h3>
            </div>
            <%user.user_skills.each do |user_skill|%>
                <div class="user_preview_cv_skill_section">
                    <a><%=user_skill.skill_name%> - <%=user_skill.skill_level%></a>
                </div>

                <%if user_skill.skill_summary%>
                    <div class="user_preview_cv_skill_section">
                        <span><%=user_skill.skill_summary.html_safe%></span>
                    </div>
                <%end%>
            <%end%>
        </div>
    <%end%>

    <%if user.user_certificates.count > 0%>
        <div class="user_preview_cv_certificate">
            <div class="user_preview_cv_certificate_label">
                <h3><%=t(:cert)%></h3>
            </div>
            <%user.user_certificates.each do |user_certificate|%>
                <div class="user_preview_cv_certificate_section">
                    <a><%=user_certificate.cert_name%></a> 
                </div>
                
                <div class="user_preview_cv_certificate_section">
                    <span><%=user_certificate.start_date.strftime("%m/%Y")%> - <%=user_certificate.end_date.strftime("%m/%Y")%></span>
                </div>

                <%if user_certificate.cert_summary%>
                    <div class="user_preview_cv_certificate_section">
                        <span><%=user_certificate.cert_summary.html_safe%></span>
                    </div>
                <%end%>
            <%end%>
        </div>
    <%end%>

    <%if user.user_adwards.count > 0%>
        <div class="user_preview_cv_adward">
            <div class="user_preview_cv_adward_label">
                <h3><%=t(:award)%></h3>
            </div>
            <%user.user_adwards.each do |user_adward|%>
                <div class="user_preview_cv_adward_section">
                    <a><%=user_adward.adward_name%></a> 
                </div>

                <%if user_adward.receive_date%>
                    <div class="user_preview_cv_adward_section">
                        <span><%=t(:date_receive)%> <%=user_adward.receive_date.strftime("%m/%Y")%></span>
                    </div>
                <%end%>

                <%if user_adward.adward_summary%>
                    <div class="user_preview_cv_adward_section">
                        <span><%=user_adward.adward_summary.html_safe%></span>
                    </div>
                <%end%>
            <%end%>
        </div>
    <%end%>
</div>