<div class="container">
    <div class='user_dasboard'>
        <div class='user_title'>
            <%if (0..12).cover? Time.now.hour %>
                <span href="<%=user_path(current_user)%>">Good morning, <%=current_user.name%>!</span>
            <%elsif (12..18).cover? Time.now.hour %>
                <span href="<%=user_path(current_user)%>">Good afternoon, <%=current_user.name%>!</span>
            <%elsif (18..24).cover? Time.now.hour %>
                <span href="<%=user_path(current_user)%>">Good evening, <%=current_user.name%>!</span>
            <%end%>
        </div>

        <div class="user_tab_link">
            <ul class="nav">
                <li class="nav-item">
                    <%if @tab_id == "default" || @tab_id == "PersonalID"%>
                        <%active = "active"%>
                    <%else%> 
                        <%active = ""%>
                    <%end%>                                 
                    <a class="nav-link <%=active%>" href="<%=user_path(current_user, tab_id: 'PersonalID')%>"><i class="material-icons-outlined">person</i>Thông tin cá nhân</a>
                </li>
                <li class="nav-item">
                    <%if @tab_id == "SaveJobID"%>
                        <%active = "active"%>
                    <%else%> 
                        <%active = ""%>
                    <%end%>                                     
                    <a class="nav-link <%=active%>" href="<%=user_path(current_user, tab_id: 'SaveJobID')%>"><i class="material-icons-outlined">bookmark_border</i>Việc làm đã lưu <span><%= convert_number_to_human(@company_job_saved.total_count)%><span> </a>
                </li>
                <li class="nav-item">
                    <%if @tab_id == "ApplyJobID"%>
                        <%active = "active"%>
                    <%else%> 
                        <%active = ""%>
                    <%end%>                                     
                    <a class="nav-link <%=active%>" href="<%=user_path(current_user, tab_id: 'ApplyJobID')%>"><i class="material-icons-outlined">check</i>Việc làm đã ứng tuyển <span><%= convert_number_to_human(@company_job_applied.total_count)%><span> </a>
                </li>
                <li class="nav-item">
                    <%if @tab_id == "CompanyFollowID"%>
                        <%active = "active"%>
                    <%else%> 
                        <%active = ""%>
                    <%end%>                                     
                    <a class="nav-link <%=active%>" href="<%=user_path(current_user, tab_id: 'CompanyFollowID')%>"><i class="material-icons-outlined">favorite_border</i>Công ty đang theo dõi <span><%= convert_number_to_human(@company_followed.total_count)%><span> </a>
                </li>
                <li class="nav-item">
                    <%if @tab_id == "ProblemID"%>
                        <%active = "active"%>
                    <%else%> 
                        <%active = ""%>
                    <%end%>                                     
                    <a class="nav-link <%=active%>" href="<%=user_path(current_user, tab_id: 'ProblemID')%>"><i class="material-icons-outlined">lightbulb</i>Câu hỏi của tôi <span><%= convert_number_to_human(@problem_created.total_count)%><span> </a>
                </li>
                <li class="nav-item">
                    <%if @tab_id == "NotificationID"%>
                        <%active = "active"%>
                    <%else%> 
                        <%active = ""%>
                    <%end%>                                     
                    <a class="nav-link <%=active%>" href="<%=user_path(current_user, tab_id: 'NotificationID')%>"><i class="material-icons-outlined">notifications</i>Thông báo <span><%= convert_number_to_human(@user_notifications.total_count)%><span> </a>
                </li>
            </ul>
        </div>

        <div class="user_tab_content">
            <%if @tab_id == "default" || @tab_id == "PersonalID"%>
                <div class="user_personal_tab">
                    <div class="user_info">
                        <div class="user_info_des_label">
                            <strong> Thông tin tài khoản</strong>
                        </div>

                        <div class="user_info_about">

                            <div class="user_info_label">
                                <strong>Tên tài khoản:</strong>
                            </div>

                            <div class="user_info_des">
                                <%=current_user.name %>
                            </div>

                            <div class="user_info_edit_button">
                                <i class="fa fa-edit"></i> <%= link_to " Thay đổi tên đăng nhập", edit_user_path(current_user), class: "user_info_edit_link_to" %>
                            </div>

                            <div class="user_info_label">
                                <strong>Địa chỉ email:</strong>
                            </div>

                            <div class="user_info_des">
                                <%=current_user.email %>
                            </div>

                            <div class="user_info_edit_button">
                                <i class="fa fa-edit"></i><%= link_to " Thay đổi địa chỉ email", edit_user_path(current_user), class: "user_info_edit_link_to"  %>
                            </div>

                            <div class="user_info_label">
                                <strong>Số điện thoại liên lạc:</strong>
                            </div>

                            <div class="user_info_des">
                                <%=current_user.phone %>
                            </div>

                            <div class="user_info_edit_button">
                                <i class="fa fa-edit"></i><%= link_to " Thay đổi số điện thoại", edit_user_path(current_user), class: "user_info_edit_link_to"  %>
                            </div>

                            <div class="user_info_label">
                                <strong>Địa chỉ liên hệ:</strong>
                            </div>

                            <div class="user_info_des">
                                <%=current_user.address %>
                            </div>

                            <div class="user_info_edit_button">
                                <i class="fa fa-edit"></i><%= link_to " Thay đổi địa chỉ", edit_user_path(current_user), class: "user_info_edit_link_to"  %>
                            </div>
                        </div>

                        <div class="user_log_out">
                            <%= button_to destroy_user_session_path, method: :delete do%>
                                <span>Đăng xuất</span>
                            <%end%>
                        </div>
                    </div>
                </div>
            <%end%>

            <%if @tab_id == "SaveJobID"%>
                <div class="user_save_job_tab">
                    <%if @company_job_saved.total_count > 0%>
                        <div class="user_save_job">
                            <div class="row">
                                <%@company_job_saved.each do |company_job|%>
                                    <div class="col-sm-6">
                                        <%=render company_job%>
                                    </div>
                                <%end%>
                            </div>

                            <%= paginate @company_job_saved, window: 1, outer_window: 1%>
                        </div>
                    <%else%>
                        <div class="user_save_job_not_found_block">
                            <div class="user_save_job_not_found_icon">
                                <i class="material-icons">work</i>
                            </div>
                            <div class="user_save_job_not_found">
                                <span>Bạn chưa lưu lại việc làm nào...</span>
                            </div>
                        </div>
                    <%end%>  
                </div>
            <%end%>

            <%if @tab_id == "ApplyJobID"%>
                <div class="company_apply_job_tab">
                    <%if @company_job_applied.total_count > 0%>
                        <div class="company_apply_job">
                            <%if @company_job_applied != nil%>
                                <div class="row">
                                    <%@company_job_applied.each do |company_job|%>
                                        <div class="col-sm-6">
                                            <%=render company_job%>
                                        </div>
                                    <%end%>
                                </div>
                            <%end%>

                            <%= paginate @company_job_applied, window: 1, outer_window: 1%>
                        </div>
                    <%else%>
                        <div class="user_apply_job_not_found_block">
                            <div class="user_apply_job_not_found_icon">
                                <i class="material-icons">work</i>
                            </div>
                            <div class="user_apply_job_not_found">
                                <span>Bạn chưa ứng tuyển việc làm nào...</span>
                            </div>
                        </div>
                    <%end%>  
                </div>
            <%end%>

            <%if @tab_id == "CompanyFollowID"%>
                <div class="user_follow_company_tab">
                    <%if @company_followed.total_count > 0%>
                        <div class="user_follow_company_list">
                            <div class="row">
                                <%@company_followed.each do |company|%>
                                    <div class="col-sm-4">
                                        <%=render company%>
                                    </div>
                                <%end%>
                            </div>

                            <%= paginate @company_followed, window: 1, outer_window: 1%>
                        </div>
                    <%else%>
                        <div class="user_follow_company_not_found_block">
                            <div class="user_follow_company_not_found_icon">
                                <i class="material-icons">business</i>
                            </div>
                            <div class="user_follow_company_not_found">
                                <span>Bạn chưa theo dõi công ty nào...</span>
                            </div>
                        </div>
                    <%end%>  
                </div>
            <%end%>

            <%if @tab_id == "NotificationID"%>
                <div class="user_notification_tab">
                    <%if @user_notifications.total_count > 0%>
                        <div class="user_notification_block">
                            <%=render @user_notifications%>
                        </div>
                        <%= paginate @user_notifications, window: 1, outer_window: 1%>
                    <%else%>
                        <div class="user_notification_not_found_block">
                            <div class="user_notification_not_found_icon">
                                <i class="material-icons">notifications</i>
                            </div>
                            <div class="user_notification_not_found">
                                <span>Bạn không có thông báo mới nào...</span>
                            </div>
                        </div>
                    <%end%>
                </div>
            <%end%>

            <%if @tab_id == "ProblemID"%>
                <div class="user_problem_tab">
                    <%if @problem_created.total_count > 0%>
                        <div class="user_problem_block">
                            <%=render @problem_created%>
                        </div>
                        <%= paginate @problem_created, window: 1, outer_window: 1%>
                    <%else%>
                        <div class="user_problem_not_found_block">
                            <div class="user_problem_not_found_icon">
                                <i class="material-icons">lightbulb</i>
                            </div>
                            <div class="user_problem_not_found">
                                <span>Bạn chưa có câu hỏi nào...</span>
                            </div>
                        </div>
                    <%end%>
                </div>
            <%end%>
        </div>
    </div>
</div>