<div class="container">
    <div class='user_dasboard'>
        <div class='user_title'>
            <%if (0..12).cover? Time.now.hour %>
                <span href="<%=user_path(current_user)%>">Good morning, <%=current_user.name%>!</span>
            <%elsif (12..18).cover? Time.now.hour %>
                <span href="<%=user_path(current_user)%>">Good afternoon, <%=current_user.name%>!</span>
            <%elsif (18..24).cover? Time.now.hour %>
                <span href="<%=user_path(current_user)%>">Good evening, <%=current_user.name%>!</span>
            <%end%>
        </div>

        <div class="user_tab_link">
            <ul class="nav">
                <li class="nav-item">
                    <%if @tab_id == "default" || @tab_id == "PersonalID"%>
                        <%active = "active"%>
                    <%else%> 
                        <%active = ""%>
                    <%end%>                                 
                    <a class="nav-link <%=active%>" href="<%=user_path(current_user, tab_id: 'PersonalID')%>"><i class="material-icons-outlined">person</i>Thông tin cá nhân</a>
                </li>
                <li class="nav-item">
                    <%if @tab_id == "SaveJobID"%>
                        <%active = "active"%>
                    <%else%> 
                        <%active = ""%>
                    <%end%>                                     
                    <a class="nav-link <%=active%>" href="<%=user_path(current_user, tab_id: 'SaveJobID')%>"><i class="material-icons-outlined">bookmark_border</i>Việc làm đã lưu <span><%= convert_number_to_human(@company_save_job_current.count)%><span> </a>
                </li>
                <li class="nav-item">
                    <%if @tab_id == "ApplyJobID"%>
                        <%active = "active"%>
                    <%else%> 
                        <%active = ""%>
                    <%end%>                                     
                    <a class="nav-link <%=active%>" href="<%=user_path(current_user, tab_id: 'ApplyJobID')%>"><i class="material-icons-outlined">check</i>Việc làm đã ứng tuyển <span><%= convert_number_to_human(@company_apply_job_current.count)%><span> </a>
                </li>
                <li class="nav-item">
                    <%if @tab_id == "CompanyFollowID"%>
                        <%active = "active"%>
                    <%else%> 
                        <%active = ""%>
                    <%end%>                                     
                    <a class="nav-link <%=active%>" href="<%=user_path(current_user, tab_id: 'CompanyFollowID')%>"><i class="material-icons-outlined">favorite_border</i>Công ty đang theo dõi <span><%= convert_number_to_human(@company_follow_current.count)%><span> </a>
                </li>
                <li class="nav-item">
                    <%if @tab_id == "NotificationID"%>
                        <%active = "active"%>
                    <%else%> 
                        <%active = ""%>
                    <%end%>                                     
                    <a class="nav-link <%=active%>" href="<%=user_path(current_user, tab_id: 'NotificationID')%>"><i class="material-icons-outlined">notifications</i>Thông báo <span><%= convert_number_to_human(current_user.user_notifications.count)%><span> </a>
                </li>
            </ul>
        </div>

        <div class="user_tab_content">
            <%if @tab_id == "default" || @tab_id == "PersonalID"%>
                <div class="user_personal_tab">
                    <div class="user_info">
                        <div class="user_info_des_label">
                            <strong> Thông tin tài khoản</strong>
                        </div>

                        <div class="user_info_about">

                            <div class="user_info_label">
                                <strong>Tên tài khoản:</strong>
                            </div>

                            <div class="user_info_des">
                                <%=current_user.name %>
                            </div>

                            <div class="user_info_edit_button">
                                <i class="fa fa-edit"></i> <%= link_to " Thay đổi tên đăng nhập", edit_user_path(current_user), class: "user_info_edit_link_to" %>
                            </div>

                            <div class="user_info_label">
                                <strong>Địa chỉ email:</strong>
                            </div>

                            <div class="user_info_des">
                                <%=current_user.email %>
                            </div>

                            <div class="user_info_edit_button">
                                <i class="fa fa-edit"></i><%= link_to " Thay đổi địa chỉ email", edit_user_path(current_user), class: "user_info_edit_link_to"  %>
                            </div>

                            <div class="user_info_label">
                                <strong>Mật khẩu:</strong>
                            </div>

                            <div class="user_info_des">
                                <%=current_user.password_digest, type="********"%> 
                            </div>

                            <div class="user_info_edit_button">
                                <i class="fa fa-edit"></i><%= link_to " Thay đổi mật khẩu", edit_user_path(current_user), class: "user_info_edit_link_to"  %>
                            </div>

                            <div class="user_info_label">
                                <strong>Số điện thoại liên lạc:</strong>
                            </div>

                            <div class="user_info_des">
                                <%=current_user.phone %>
                            </div>

                            <div class="user_info_edit_button">
                                <i class="fa fa-edit"></i><%= link_to " Thay đổi số điện thoại", edit_user_path(current_user), class: "user_info_edit_link_to"  %>
                            </div>

                            <div class="user_info_label">
                                <strong>Địa chỉ liên hệ:</strong>
                            </div>

                            <div class="user_info_des">
                                <%=current_user.address %>
                            </div>

                            <div class="user_info_edit_button">
                                <i class="fa fa-edit"></i><%= link_to " Thay đổi địa chỉ", edit_user_path(current_user), class: "user_info_edit_link_to"  %>
                            </div>
                        </div>

                        <div class="user_log_out">
                            <%= button_to destroy_user_session_path, method: :delete do%>
                                <span>Đăng xuất</span>
                            <%end%>
                        </div>
                    </div>
                </div>
            <%end%>

            <%if @tab_id == "SaveJobID"%>
                <div class="user_save_job_tab">
                    <div class="user_save_job_label">
                        <strong>Việc làm bạn đang theo dõi</strong>
                    </div>

                    <div class="user_save_job">
                        <%if @company_save_job_current != nil%>
                            <div class="row">
                                <%@company_save_job_current.each do |company_job|%>
                                    <div class="col-sm-6">
                                        <%=render company_job%>
                                    </div>
                                <%end%>
                            </div>
                        <%end%>
                    </div>
                </div>
            <%end%>

            <%if @tab_id == "ApplyJobID"%>
                <div class="company_apply_job_tab">
                    <div class="company_apply_job_tab_title">
                        <strong>Việc làm đã ứng tuyển</strong>
                    </div>
                    <div class="company_apply_job">
                        <%if @company_apply_job_current != nil%>
                            <div class="row">
                                <%@company_apply_job_current.each do |company_job|%>
                                    <div class="col-sm-6">
                                        <%=render company_job%>
                                    </div>
                                <%end%>
                            </div>
                        <%end%>
                    </div>
                </div>
            <%end%>

            <%if @tab_id == "CompanyFollowID"%>
                <div class="user_follow_company_tab">
                    <div class="user_follow_company_tab_title">
                        <strong>Công ty đang theo dõi</strong>
                    </div>
                    <div class="user_follow_company_list">
                        <div class="row">
                            <%@company_follow_current.each do |company|%>
                                <div class="col-sm-4">
                                    <%=render company%>
                                </div>
                            <%end%>
                        </div>
                    </div>
                </div>
            <%end%>

            <%if @tab_id == "NotificationID"%>
                <div class="user_notification_tab">
                    <%current_user.user_notifications.each do |notify|%>
                        <div class="user_notification_block">
                            <div class="user_notification_left">
                                <div class="user_notification_date">
                                    <a><%=notify.created_at.strftime("%B %d, %Y")%></a>
                                </div>
                            </div>

                            <div class="user_notification_right">
                                <div class="user_notification_user">
                                    <%if find_trigger_user(notify).present?%>
                                        <a> <%= find_trigger_user(notify).name%>
                                            <%if notify.noti_type.to_s == "ReviewComment"%>
                                                <span> đã trả lời review của bạn </span>
                                            <%elsif notify.noti_type.to_s == "InterviewComment"%>
                                                <span> đã trả lời chia sẻ phỏng vấn của bạn </span>
                                            <%elsif notify.noti_type.to_s == "PostComment"%>
                                                <span> đã trả bình luận bài viết của bạn </span>
                                            <%elsif notify.noti_type.to_s == "ProblemComment"%>
                                                <span> đã trả lời câu hỏi của bạn</span>
                                            <%elsif notify.noti_type.to_s == "ProblemSolutionComment"%>
                                                <span> đã bình luận trong câu trả lời của bạn </span>
                                            <%elsif notify.noti_type.to_s == "ApplyJob"%>
                                                <span> đã nộp đơn ứng tuyển cho vị trí </span>
                                            <%else%>
                                                <span> đã trả lời trong chủ đề </span>
                                            <%end%>
                                        </a>
                                    <%end%>
                                </div>

                                <div class="user_notification_title">
                                    <a><%= link_to notify.title, notify.original_url, class: "notify_label" %></a>
                                </div>

                                <div class="user_notification_content">
                                    <a><%=notify.content%></a>
                                </div>
                            </div>
                        </div>
                    <%end%>
                </div>
            <%end%>
        </div>
    </div>
</div>