<div class="user_profile_form">
    <%= form_for([@user, user_certificate], remote: true) do |f| %> 
        <div class="user_profile_title_sub">
            <a>Lưu ý: Mục có dấu <span>'*'</span> là bắt buộc</a>
        </div>
        <div class="user_profile_content">
            <div class="user_profile_label">
                <a><%= f.label :cert_name, "Tên chứng chỉ", class: "user_profile_label_name" %><span>*</span></a>
            </div>

            <div class="user_profile_input">
                <%= f.text_field :cert_name, :required => true, class: "form-control", placeholder: "Ex: Toeic 990..."%>
            </div>
        </div>

        <div class="user_profile_content">
            <div class="user_profile_label">
                <a><%= f.label :start_date, "Ngày nhận chứng chỉ", class: "user_profile_label_name" %><span>*</span></a>
            </div>

            <div class="user_profile_input">
                <%= f.date_field :start_date, :required => true, class: "form-control"%>
            </div>
        </div>

        <div class="user_profile_content">
            <div class="user_profile_label">
                <a><%= f.label :end_date, "Ngày hết hạn chứng chỉ", class: "user_profile_label_name" %></a>
            </div>

            <div class="user_profile_input">
                <%= f.date_field :end_date, class: "form-control"%>
            </div>
        </div>

        <div class="user_profile_content">
            <div class="user_profile_label">
                <a><%= f.label :cert_summary, "Mô tả về chứng chỉ(khoảng 300 từ)", class: "user_profile_label_name" %><span>*</span></a>
            </div>

            <div class="user_profile_input">
                <%= f.text_area :cert_summary, class: "form-control", placeholder: "..." %>
                <%= tinymce :mini %>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
            </div>
            <div class="col-sm-3">
                <div class="user_profile_cancel">
                    <button class="user_profile_cancel_btn" onclick="myFunctionUserCertificate('profile_certificate_form')"><a>Hủy bỏ</a></button>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="user_profile_submit">
                    <%= f.submit "Cập nhật", class: "user_profile_form_submit"%>
                </div>
            </div>
        </div>
    <%end%>
</div>