<div class ="row">
    <div class="col-sm-8">
        <div class="new_scrap_review_form">
            <%= form_for @scrap_review, :html => { :class => "form-horizontal post" } do |f| %>
                <div class="new_scrap_review_section">
                    <div class="new_scrap_review_content">
                        <div class="new_scrap_review_label">
                            <a><%= f.label :url, "Link", class: "new_scrap_review_label_name" %></a>
                        </div>

                        <div class="new_scrap_review_input">
                            <%= f.text_field :url, :required => true, class: "form-control", placeholder: " Nhập link" %>
                        </div>
                    </div>

                    <div class="new_scrap_review_content">
                        <div class="new_scrap_review_label">
                            <a><%= f.label :raw_data, "Raw data", class: "new_scrap_review_label_name" %></a>
                        </div>

                        <div class="new_scrap_review_input">
                            <%= f.text_area :raw_data, :class => "form-control", placeholder: " Nhập raw data"%>
                        </div>
                    </div>

                    <div class="new_scrap_review_content">
                        <div class="new_scrap_review_label">
                            <a><%= f.label :company_id, "ID Công ty(optional)", class: "new_scrap_review_label_name" %></a>
                        </div>

                        <div class="new_scrap_review_input">
                            <%= f.select :company_id, Company.all.collect {|m| [m.name, m.id]}, {:prompt => '-- Chọn công ty --', :required => true}, {:class => 'form-select new_post_topic_select'}%>
                        </div>
                        
                        <script>
                            $(document).ready(function() {
                                $('.new_post_topic_select').select2({
                                    placeholder: "-- Chọn công ty --",
                                    allowClear: true,
                                    width: 'resolve',
                                    theme: "bootstrap-5",
                                    selectOnClose: true
                                });
                            });
                        </script>
                    </div>
                        
                    <div class="new_scrap_review_content">
                        <div class="new_scrap_review_label">
                            <a><%= f.label :approved, "Default Link", class: "new_scrap_review_label_name" %></a>
                        </div>

                        <div class="new_scrap_review_input">
                            <%= f.select(:approved, options_for_select([["Yes", true], ["No", false]], ["No", false]), {include_blank: false}, { :class => 'form-select' }) %>
                        </div>
                    </div>
                </div>

                <div class="new_scrap_review_submit">
                    <%= f.submit "Let's go", class: "new_scrap_review_form_submit" %>
                </div>
            <%end%>
        </div>
    </div>
</div>