<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0"/>
    </head>

    <body>
        <div class='container'>
            <div class='admin_dasboard'>

                <div class="admin_tab">
                    <div class="tab_container">
                        <button class="tablinks active" id="adminID" onclick="openTab(event, 'adminCompany')"><a>All Company</a></button>
                        <button class="tablinks" id="adminJoinsID" onclick="openTab(event, 'adminUser')"><a>All User</a></button>
                    </div>

                    <div id="adminCompany" class="tabcontent">
                        <div class="admin_profile_tab">
                            <h2>Tất cả công ty</h2>
                            <% @companies.each do |company| %>
                                <h5>-----------------------------------------------</h5>
                                <div class='company_name'>
                                    <h3> <%= link_to company.name, company_path(company), class: "company_name_label" %></h3>
                                </div>
                                <i class="fa fa-edit"></i> <%= link_to " Edit company", edit_company_path(company), class: "user_info_edit_link_to" %>
                                <h4>Việc làm</h4>
                                <%company.company_jobs.each do |company_job|%>
                                    <div class='company_job'>
                                        <h4> <%= link_to (company_job.title), company_company_job_path(company, company_job) %></h4>
                                    </div>
                                    <i class="fa fa-edit"></i> <%= link_to " Edit job", edit_company_company_job_path(company, company_job), class: "user_info_edit_link_to" %>
                                <%end%>
                                <h5>-----------------------------------------------</h5>
                            <%end%>
                        </div>
                    </div>

                    <div id="adminUser" class="tabcontent">
                        <div class="admin_policy_tab">
                            <h2>Tất cả user</h2>
                            <% @users.each do |user| %>
                                <h3> <%= link_to user.name, user_path(user), class: "admin_name_label" %></h3>
                            <%end%>
                        </div>
                    </div>
                </div>
                <script>
                    function openTab(evt, TabName) {
                        var i, tabcontent, tablinks;
                        tabcontent = document.getElementsByClassName("tabcontent");
                        for (i = 0; i < tabcontent.length; i++) {
                            tabcontent[i].style.display = "none";
                        }
                        tablinks = document.getElementsByClassName("tablinks");
                        for (i = 0; i < tablinks.length; i++) {
                            tablinks[i].className = tablinks[i].className.replace(" active", "");
                        }
                        document.getElementById(TabName).style.display = "block";

                        evt.currentTarget.className += " active";

                        document.cookie = "TabName="+TabName+"ID; expires=Thu, 18 Dec 2090 12:00:00 UTC; path=/";
                    }

                    document.addEventListener("DOMContentLoaded", function(){
                        // Handler when the DOM is fully loaded
                        var selectedTab = getCookie("TabName");
                        if (selectedTab != ""){
                            document.getElementById(selectedTab).click();
                        }
                        else
                        {
                            document.getElementById("adminID").click();
                        }
                    });

                    function getCookie(cname) {
                        var name = cname + "=";
                        var decodedCookie = decodeURIComponent(document.cookie);
                        var ca = decodedCookie.split(';');
                        for(var i = 0; i <ca.length; i++) {
                            var c = ca[i];
                            while (c.charAt(0) == ' ') {
                                c = c.substring(1);
                            }
                            if (c.indexOf(name) == 0) {
                                return c.substring(name.length, c.length);
                            }
                        }
                        return "";
                    }
                </script>
            </div>
        </div>
    </body>
</html>