<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0"/>
    </head>

    <body>
        <div class="container">
            <div class='employer_dasboard'>
                <%now = Time.now%>
                <div class='employer_title'>
                    <%if (0..12).cover? now.hour %>
                        <span href="<%=user_path(current_user)%>">Good morning, nhà tuyển dụng <%=current_user.name%>!</span>
                    <%elsif (12..18).cover? now.hour %>
                        <span href="<%=user_path(current_user)%>">Good afternoon, nhà tuyển dụng <%=current_user.name%>!</span>
                    <%else%>
                        <span href="<%=user_path(current_user)%>">Good evening, nhà tuyển dụng <%=current_user.name%>!</span>
                    <%end%>
                </div>

                <div class="employer_tab_link">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#CompanyID">Công ty</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#JobID">Tin tuyển dụng</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#PersonalID">Thông tin cá nhân</a>
                        </li>
                    </ul>
                </div>

                <div class="employer_tab_content">
                    <div class="tab-content">
                        <div role="tabpanel" id="CompanyID" class="tab-pane fade in active"><br>
                            <div class='employer_company_tab'>
                                <div class="employer_top_company">
                                    <div class="employer_top_company_label">
                                        <a>Công ty hiện tại của <%=current_user.name%> </a>
                                    </div>
                                    <div class="row">
                                            <div class="col-sm-3">
                                                <div class="single_company">
                                                    <div class="company_wall">
                                                        <div class="rounded">
                                                            <%if @company_by_employer.wall_picture?%>
                                                                <%= link_to (image_tag(@company_by_employer.wall_picture.large.url)), image_path(url_for(@company_by_employer.wall_picture.large.url)), rel: "gallery" , :href => company_path(@company_by_employer)%>
                                                            <%end%>
                                                        </div>
                                                    </div>

                                                    <div class="company_thumbnail">
                                                        <div class="rounded">
                                                            <%if @company_by_employer.avatar?%>
                                                                <%= link_to (image_tag(@company_by_employer.avatar.thumb.url)), image_path(url_for(@company_by_employer.avatar.thumb.url)), rel: "gallery" , :href => company_path(@company_by_employer)%>
                                                            <%end%>
                                                        </div>
                                                    </div>

                                                    <div class="company_love_button" id ="<%=@company_by_employer.id%>">
                                                        <%if logged_in?%>
                                                            <% pre_follow = @company_by_employer.company_follows.find { |follow| follow.user_id == current_user.id} %>
                                                            <% if pre_follow %> 
                                                                <%= link_to '<button class="follow_btn_highlight"><i class="material-icons">favorite</i></button>'.html_safe, company_company_follow_path(@company_by_employer, pre_follow), remote: true, method: :delete%>
                                                            <%else%>
                                                                <%= link_to '<button class="follow_btn"><i class="material-icons-outlined">favorite_border</i></button>'.html_safe, company_company_follows_path(@company_by_employer), remote: true, method: :post%>
                                                            <%end%>
                                                        <%else%>
                                                            <%= link_to '<button class="follow_btn"><i class="material-icons-outlined">favorite_border</i></button>'.html_safe, login_path%>
                                                        <%end%>
                                                    </div>

                                                    <div class="company_title">
                                                        <div class="company_name">
                                                            <a> <%= link_to @company_by_employer.name, company_path(@company_by_employer), class: "company_name_label" %></a>
                                                        </div>

                                                        <div class="company_rating">
                                                            <%# Cal culate rating score %>
                                                            <%if(@company_by_employer.company_reviews.count > 0)%>
                                                                <%rate_work_env = @company_by_employer.company_reviews.sum('work_env_score').to_f / @company_by_employer.company_reviews.count%>
                                                                <%rate_salary = @company_by_employer.company_reviews.sum('salary_score').to_f / @company_by_employer.company_reviews.count%>
                                                                <%rate_ot = @company_by_employer.company_reviews.sum('ot_score').to_f / @company_by_employer.company_reviews.count%>
                                                                <%rate_manager = @company_by_employer.company_reviews.sum('manager_score').to_f / @company_by_employer.company_reviews.count%>
                                                                <%rate_career = @company_by_employer.company_reviews.sum('career_score').to_f / @company_by_employer.company_reviews.count%>
                                                                <%total_rate = (rate_work_env + rate_salary + rate_ot + rate_manager + rate_career)/5%>
                                                            <%else%>
                                                                <%total_rate = 0%>
                                                            <%end%>
                                                            <div class="review_score_star">
                                                                <%if total_rate > 0%>
                                                                    <%total_rate.to_i.times do%>
                                                                        <i class="material-icons checked">circle</i>
                                                                    <%end%>
                                                                    <%(5 - total_rate.to_i).to_i.times do%>
                                                                        <i class="material-icons checked_out">radio_button_unchecked</i>
                                                                    <%end%>
                                                                <%else%>
                                                                    <%5.times do%>
                                                                        <i class="material-icons checked_out">radio_button_unchecked</i>
                                                                    <%end%>
                                                                <%end%>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="company_summary">

                                                        <%# <div class="company_location">
                                                            <p><i class="material-icons-outlined">place</i> <%= @company_by_employer.location %></p>
                                                        <%# </div> %>

                                                        <div class="review_point">

                                                            <div class="review_point_review_content">
                                                                <a><%= @company_by_employer.company_reviews.count%></a>
                                                            </div>

                                                            <div class="review_point_review_content">
                                                                <a><%= @company_by_employer.company_interviews.count %></a>
                                                            </div>

                                                            <div class="review_point_review_content">
                                                                <a><%= @company_by_employer.company_jobs.count %></a>
                                                            </div>

                                                            <div class="review_point_label">
                                                                <span> <i class="material-icons-outlined">insert_emoticon</i><%= link_to " Đánh giá", company_path(@company_by_employer), class: "review_point_review_label" %></span>
                                                            </div>

                                                            <div class="review_point_label">
                                                                <span> <i class="material-icons-outlined">people_outline</i><%= link_to " Phỏng vấn", company_path(@company_by_employer), class: "review_point_review_label" %></span>
                                                            </div>

                                                            <div class="review_point_label">
                                                                <span> <i class="material-icons-outlined">work_outline</i><%= link_to " Việc làm", company_path(@company_by_employer), class: "review_point_review_label" %></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div role="tabpanel" id="JobID" class="tab-pane"><br>
                            <div class="employer_job_tab">
                                <div class="employer_top_job_employer">
                                    <div class="employer_top_job_employer_label">
                                        <span>Bạn đang có <%=@company_job_by_employer.count%> việc làm đang tuyển dụng</span>
                                    </div>

                                    <div class="employer_top_job_employer_container">
                                        <%@company_job_by_employer.each do |company_job|%>
                                            <div class="company_job_block">
                                                <div class="company_job_employer_block">
                                                    <div class="user_employer_job_block">
                                                        <div class="user_job_left">
                                                            <div class="company_avatar">
                                                                <%if @company_by_employer.avatar?%>
                                                                    <%= link_to (image_tag(@company_by_employer.avatar.thumb.url)), image_path(url_for(@company_by_employer.avatar.thumb.url)), rel: "gallery" , :href => company_path(@company_by_employer)%>
                                                                <%end%>
                                                            </div>
                                                        </div>

                                                        <div class="user_job_right">
                                                            <div class="user_job_des">
                                                                <div class="user_job_title">
                                                                    <a><%= link_to (company_job.title), company_company_job_path(@company_by_employer, company_job) %></a>
                                                                </div>

                                                                <div class="user_job_company_name">
                                                                    <%if(@company_by_employer.company_reviews.count > 0)%>
                                                                        <%rate_work_env = @company_by_employer.company_reviews.sum('work_env_score').to_f / @company_by_employer.company_reviews.count%>
                                                                        <%rate_salary = @company_by_employer.company_reviews.sum('salary_score').to_f / @company_by_employer.company_reviews.count%>
                                                                        <%rate_ot = @company_by_employer.company_reviews.sum('ot_score').to_f / @company_by_employer.company_reviews.count%>
                                                                        <%rate_manager = @company_by_employer.company_reviews.sum('manager_score').to_f / @company_by_employer.company_reviews.count%>
                                                                        <%rate_career = @company_by_employer.company_reviews.sum('career_score').to_f / @company_by_employer.company_reviews.count%>
                                                                        <%total_rate = (rate_work_env + rate_salary + rate_ot + rate_manager + rate_career)/5%>
                                                                    <%else%>
                                                                        <%total_rate = 0%>
                                                                    <%end%>
                                                                    <a><%= link_to (@company_by_employer.name), company_path(@company_by_employer)%> </a>
                                                                    <a><%=total_rate%><i class="material-icons checked">circle</i></a>
                                                                </div>

                                                                <div class="user_job_description">
                                                                    <a><%= company_job.description.html_safe %></a>
                                                                </div>

                                                                <div class="user_job_mark">
                                                                    <div class="user_job_location">
                                                                        <a><i class="material-icons-outlined">location_on</i><%= company_job.location %></a>
                                                                    </div>

                                                                    <div class="user_job_tech">
                                                                        <a><i class="material-icons-outlined">book</i><%= company_job.category %></a>
                                                                    </div>

                                                                    <div class="user_job_salary">
                                                                        <a><i class="material-icons-outlined">local_offer</i><%= company_job.salary%>$</a>
                                                                    </div>

                                                                    <div class="user_job_type">
                                                                        <a><i class="material-icons-outlined">rss_feed</i><%= company_job.job_type %></a>
                                                                    </div>

                                                                    <div class="user_job_date">
                                                                        <%if company_job.end_date%>
                                                                            <%cal_date = ((company_job.end_date - Time.now)/(24*60*60))%>
                                                                            <%if cal_date < 0%>
                                                                                <a>Đã đăng <%= time_ago_in_words(company_job.created_at) %> • Hết hạn sau <%=cal_date.to_i%> ngày</a>
                                                                            <%else%>
                                                                                <a>Đã đăng <%= time_ago_in_words(company_job.created_at) %> • </a><span>Đã hết hạn<span>
                                                                            <%end%>
                                                                        <%else%>
                                                                            <a>Đã đăng <%= time_ago_in_words(company_job.created_at) %> </a>
                                                                        <%end%>
                                                                    </div>
                                                                                    
                                                                    <div class="user_job_hot_save">
                                                                        <div class="user_job_button_save" id="job_<%=company_job.id%>">
                                                                            <%if company_job.urgent%>
                                                                                <a class="hot_label">Urgent</a>
                                                                            <%end%>
                                                                            <%if logged_in?%>
                                                                                <% pre_save = company_job.company_save_jobs.find { |save| save.user_id == current_user.id} %>
                                                                                <% if pre_save %> 
                                                                                    <%= link_to '<button class="save_btn_highlight"><i class="material-icons">turned_in</i> </button>'.html_safe, company_company_job_company_save_job_path(@company_by_employer.id, company_job.id, pre_save.id), method: :delete, remote: true %>
                                                                                <%else%>
                                                                                    <%= link_to '<button class="save_btn"><i class="material-icons-outlined">turned_in_not</i> </button>'.html_safe, company_company_job_company_save_jobs_path(@company_by_employer.id, company_job.id), method: :post, remote: true %>
                                                                                <%end%>
                                                                            <%else%>
                                                                                <%= link_to '<button class="save_btn"><i class="material-icons-outlined">turned_in_not</i> </button>'.html_safe, login_path%>
                                                                            <%end%>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                
                                                    <div class="company_job_apply_count">
                                                        <a>Có <%=company_job.company_apply_jobs.count%> hồ sơ ứng tuyển cho vị trí <%=company_job.title%></a>
                                                    </div>

                                                    <div class="row">
                                                        <%count = 0%>
                                                        <%if !company_job.company_apply_jobs.nil?%>
                                                            <%company_job.company_apply_jobs.each do |company_apply_job|%>
                                                                <div class="col-sm-4">
                                                                    <%count += 1%>
                                                                    <div class="company_job_apply_block">
                                                                        <div class="company_job_apply_info">
                                                                            <div class="company_job_apply_name">
                                                                                <a>Họ và tên: <%=company_apply_job.name%></a>
                                                                            </div>

                                                                            <div class="company_job_apply_email">
                                                                                <a> Địa chỉ email: <%=company_apply_job.email%></a>
                                                                            </div>

                                                                            <div class="company_job_apply_letter">
                                                                                <a> Summary letter: </a>
                                                                                <div class="company_job_apply_sumary">
                                                                                    <%=company_apply_job.cover_letter.html_safe%>
                                                                                </div>
                                                                            </div>

                                                                            <div class="company_job_apply_time">
                                                                                </a>Ứng tuyển <%=time_ago_in_words(company_apply_job.created_at)%></a>
                                                                            </div>

                                                                            <div class="company_job_apply_download">
                                                                                <i class="material-icons-outlined">download</i>
                                                                                <%if company_apply_job.cover_vitate?%>
                                                                                    <%=link_to "Download CV tại đây", company_apply_job.cover_vitate.url%>
                                                                                <%end%>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            <%end%>
                                                        <%end%>
                                                    </div>
                                                </div>
                                            </div>
                                        <%end%>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div role="tabpanel" id="PersonalID" class="tab-pane"><br>
                            <div class="employer_info_tab">
                                <div class="employer_info_wellcome_label">
                                    <strong>Xin chào, <%= current_user.name %></strong>
                                </div> 
                                
                                <div class="employer_info_des_label">
                                    <strong>Cài đặt tài khoản</strong>
                                </div>

                                <div class="employer_info_about">

                                    <div class="employer_info_label">
                                        <strong>Tên tài khoản:</strong>
                                    </div>

                                    <div class="employer_info_des">
                                        <%= current_user.name %>
                                    </div>

                                    <div class="employer_info_edit_button">
                                        <i class="fa fa-edit"></i> <%= link_to " Thay đổi tên đăng nhập", edit_user_path(current_user), class: "employer_info_edit_link_to" %>
                                    </div>

                                    <div class="employer_info_label">
                                        <strong>Địa chỉ email:</strong>
                                    </div>

                                    <div class="employer_info_des">
                                        <%= current_user.email %>
                                    </div>

                                    <div class="employer_info_edit_button">
                                        <i class="fa fa-edit"></i><%= link_to " Thay đổi địa chỉ email", edit_user_path(current_user), class: "employer_info_edit_link_to"  %>
                                    </div>

                                    <div class="employer_info_label">
                                        <strong>Mật khẩu:</strong>
                                    </div>

                                    <div class="employer_info_des">
                                        <%= current_user.password_digest, type="********"%> 
                                    </div>

                                    <div class="employer_info_edit_button">
                                        <i class="fa fa-edit"></i><%= link_to " Thay đổi mật khẩu", edit_user_path(current_user), class: "employer_info_edit_link_to"  %>
                                    </div>

                                    <div class="employer_info_label">
                                        <strong>Số điện thoại liên lạc:</strong>
                                    </div>

                                    <div class="employer_info_des">
                                        <%= current_user.phone %>
                                    </div>

                                    <div class="employer_info_edit_button">
                                        <i class="fa fa-edit"></i><%= link_to " Thay đổi số điện thoại", edit_user_path(current_user), class: "employer_info_edit_link_to"  %>
                                    </div>

                                    <div class="employer_info_label">
                                        <strong>Địa chỉ liên hệ:</strong>
                                    </div>

                                    <div class="employer_info_des">
                                        <%= current_user.address %>
                                    </div>

                                    <div class="employer_info_edit_button">
                                        <i class="fa fa-edit"></i><%= link_to " Thay đổi địa chỉ", edit_user_path(current_user), class: "employer_info_edit_link_to"  %>
                                    </div>
                                </div>

                                
                                <div class="user_cover_letter_label">
                                    <strong>Giới thiệu bản thân</strong>
                                </div>

                                <div class="user_cover_letter">

                                    <div class="user_cv_des">
                                        <%= current_user.cover_letter %>
                                    </div>

                                    <div class="employer_info_edit_button">
                                        <i class="fa fa-upload"></i><%= link_to " Tải CV lên", edit_user_path(current_user), class: "employer_info_edit_link_to"  %>
                                    </div>
                                </div>

                                <div class="user_log_out">
                                    <%= link_to '<button type="submit">Đăng xuất</button>'.html_safe, logout_path(current_user) %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <script type="text/javascript">
                    $(function() { 
                        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                            localStorage.setItem('lastTab', $(this).attr('href'));
                        });

                        var lastTab = localStorage.getItem('lastTab');
                        if (lastTab) {
                            $('[href="' + lastTab + '"]').tab('show');
                        }
                    });
                </script>
            </div>
        </div>
    </body>
</html>