<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0"/>
    </head>

    <body>
        <div class='employer_dasboard'>
            <div class='employer_title'>
                <a href="<%=user_path(current_user)%>">Xin chào nhà tuyển dụng, <%=current_user.name%></a>
            </div>

            <div class='employer_job'>
                <a>Việc làm đang tuyển dụng, <%=current_user.name%></a>
            </div>

            <div class='employer_company'>
                <a>Xin chào nhà tuyển dụng, <%=current_user.name%></a>
            </div>

            <div class='employer_info'>
                <a>Đăng kí sửa đổi thông tin công ty<%=current_user.name%></a>
            </div>
        </div>
    </body>
</html>