<div class="container_footer">
    <div class="footer_block">
        <div class="footer_container_top">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="footer_label">
                                            <a><%=t(:firework).upcase%></a>
                                        </div>
                                        <div class="footer_link">
                                            <ul>
                                                <li>
                                                    <a href="<%=about_us_path%>"><%=t(:about_us)%></a>
                                                </li>

                                                <li>
                                                    <a href="<%=our_product_path%>"><%=t(:all_product)%></a>
                                                </li>

                                                <li>
                                                    <a href="<%=term_path%>"><%=t(:term_and_service)%></a>
                                                </li>

                                                <li>
                                                    <a href="<%=policy_path%>"><%=t(:secu_policy)%></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="footer_label">
                                            <a><%=t(:for_employer).upcase%></a>
                                        </div>
                                        <div class="footer_link">
                                            <ul>
                                                <li>
                                                    <a href="<%=employer_wellcome_path%>"><%=t(:post_job)%></a>
                                                </li>

                                                <li>
                                                    <a href="<%=employer_index_cv_path%>"><%=t(:find_cv)%></a>
                                                </li>

                                                <li>
                                                    <a href="<%=contact_us_path%>"><%=t(:contact_us)%></a>
                                                </li>

                                                <li>
                                                    <a href="<%=employer_index_job_path%>"><%=t(:manage_posted_job)%></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="footer_label">
                                            <a><%=t(:for_employee).upcase%></a>
                                        </div>
                                        <div class="footer_link">
                                            <ul>
                                                <li>
                                                    <a href="<%=jobs_search_path%>"><%=t(:job_search)%></a>
                                                </li>

                                                <li>
                                                    <a href="<%=companies_path%>"><%=t(:company_review)%></a>
                                                </li>

                                                <li>
                                                    <a href="<%=problems_path%>"><%=t(:interview_question)%></a>
                                                </li>

                                                <li>
                                                    <a href="<%=user_profile_path%>"><%=t(:user_profile)%></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="footer_label">
                                            <a><%=t(:follow_us).upcase%></a>
                                        </div>
                                        <div class="footer_link">
                                            <ul>
                                                <li>
                                                    <a href="https://www.facebook.com/Firework-100170282265854">
                                                        <span>Facebook Fanpage</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="https://www.firework.vn/">
                                                        <span>Google Fanpage</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="https://www.firework.vn/">
                                                        <span>Twitter Fanpage</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="https://www.firework.vn/">
                                                        <span>Youtube Chanel</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_container_bottom">
            <div class="footer_container_bottom_block">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="footer_bottom_links">
                                <div class="footer_select_language">
                                    <i class="material-icons-outlined">language</i>
                                    <span><%=t(:language)%></span>
                                    <button class="btn_select_language" type="button" id="dropdownLanguageMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <%if I18n.locale == :vi%>
                                            <span id="selected">Tiếng Việt</span><i class="material-icons-outlined">arrow_drop_down</i>
                                        <%else%>
                                            <span id="selected">English</span><i class="material-icons-outlined">arrow_drop_down</i>
                                        <%end%>
                                    </button>

                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownLanguageMenuButton">
                                        <%= link_to locale:"en", class: "dropdown-item" do%>
                                            <%= image_tag("icons/eng_flag.png")%>
                                            <span>English</span>
                                        <%end%>
                                        <div class="dropdown-divider"></div>
                                        <%= link_to locale:"vi", class: "dropdown-item" do%>
                                            <%= image_tag("icons/vie_flag.png")%>
                                            <span>Tiếng Việt</span>
                                        <%end%>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="footer_copyright">
                                <a href="<%=contact_us_path%>"><%=t(:contact_us)%></a>
                                <a href="<%=term_path%>"><%=t(:term_and_service)%></a>
                                <a href="<%=policy_path%>"><%=t(:secu_policy)%></a>
                                <a>Ⓒ Firework <%=DateTime.now.strftime("%Y")%></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
    </div>
</div>