<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Main Header</title>
	</head>

	<body>
		<div class="body_content_header">
			<header class="header_area">
				<div class="header_content">
					<div class="header_logo">
						<a href="<%=pages_path %>"><span>Code <\></span></a>
					</div>
					
					<div class="header_navigation">
						<nav>
							<a href="<%=companies_path %>">Tìm việc </a>
							<a href="<%=companies_path %>">Đánh giá công ty </a>
							<a href="<%=problems_path %>">Câu hỏi phỏng vấn </a>
							<a href="<%=posts_path %>">Blog</a>
						</nav>
					</div>

					<div class="header_button">
						<%= form_for :session, url: login_path do |f| %>
							<div class="login_button">
								<%= link_to '<button type="submit">Đăng nhập</button>'.html_safe, sessions_new_path %>
							</div>

							<div class="signup_button">
								<%= link_to '<button type="submit">Đăng kí</button>'.html_safe, new_user_path %>
							</div>
						<% end %>
					</div>
				</div>
			</header>
		</body>
	</div>
</html>