<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<div class="topnav" id="myTopnav">
			<div class="container">
				<a href="javascript:void(0);" class="menu_icon" onclick="openNav()">
					<i class="material-icons-outlined"> menu</i> 
				</a>

				<a href="javascript:void(0);" class="close_icon" onclick="closeNav()">
					<i class="material-icons-outlined"> close</i> 
				</a>

				<div class="nav_logo">
					<div class="rounded">
						<%= link_to (image_tag(("logo_offical.png"))), image_path(url_for(("logo_offical.png"))), rel: "gallery" , :href => pages_path%>
					</div>
					<a href="<%=pages_path %>">firework</a>
				</div>

				<a href="<%=pages_path %>">Tìm việc </a>
				<a href="<%=companies_path %>">Review công ty </a>
				<a href="<%=problems_path %>">Câu hỏi phỏng vấn </a>
				<a href="<%=posts_path %>">Blog</a>

				<div class="nav_right">
					<a class="nav_recrui" href="<%=new_user_path(role_param: 'employer') %>">
						<span>Tuyển dụng</span>
					</a>

					<%if logged_in?%>
						<a class="nav_user" href="<%=user_path(current_user) %>"> 
							<span> Hi, <%=current_user.name%></span>
						</a>
					<%else%>
						<a class="nav_login" href="<%=sessions_new_path %>">
							<i class="material-icons-outlined"> person_outline</i> 
							<span>Đăng nhập</span>
						</a>
					<%end%>
				</div>
			</div>
		</div>

		<script>
			function openNav() {
				var x = document.getElementById("myTopnav");
				if (x.className === "topnav") {
					x.className += " responsive";
				} else {
					x.className = "topnav";
				}
			}

			function closeNav() {
				var x = document.getElementById("myTopnav");
				if (x.className === "topnav") {
					x.className += " responsive";
				} else {
					x.className = "topnav";
				}
			}
		</script>

	</body>
</html>
