<div class="topnav" id="myTopnav">
	<div class="container">
		<a href="javascript:void(0);" class="menu_icon" onclick="openNav()">
			<i class="material-icons-outlined"> menu</i> 
		</a>

		<a href="javascript:void(0);" class="close_icon" onclick="closeNav()">
			<i class="material-icons-outlined"> close</i> 
		</a>

		<div class="nav_logo">
			<div class="rounded">
				<%= link_to (image_tag(("favicon.ico"))), image_path(url_for(("favicon.ico"))), rel: "gallery" , :href => root_path%>
			</div>
		</div>

		<%if user_signed_in?%>
			<div class="nav_login_moblie" >
				<div class="user_notification_mobile">
					<%= link_to user_path(current_user, :tab_id => "NotificationID") do %>
						<%if current_user.user_notifications.count < 10%>
							<i class="material-icons-outlined">notifications</i><span><%=current_user.user_notifications.count%></span>
						<%else%>
							<i class="material-icons-outlined">notifications</i><span>9+</span>
						<%end%>
					<%end%>
				</div>

				<button class="user_avatar_small_header_moblie" onclick="openUserActionMenuMoblie()">
					<%if current_user.avatar?%>
						<div class="user_avatar_small_img_header_moblie">
							<%= image_tag current_user.avatar.url %>
						</div>
					<%else%>
						<div class="user_avatar_small_text_header_moblie checked_<%=find_user_color(current_user.name)%>">
							<%if current_user.name.present?%>
								<span><%=current_user.name[0].upcase%></span>
							<%else%>
								<span>A</span>
							<%end%>
						</div>
					<%end%>
				</button>

				<div class="user_action_select_mobile" id ="user_action_menu_moblie">
					<div class="user_action_mobile">
						<%= button_to user_path(current_user), :method => :get do%>
							<i class="material-icons-outlined">account_circle</i> <span>Thông tin cá nhân</span>
						<%end%>
					</div>
					<div class="user_action_mobile">
						<%= button_to user_path(current_user), :method => :get do%>
							<i class="material-icons-outlined">settings</i> <span>Cài đặt tài khoản</span>
						<%end%>
					</div>
					<div class="user_action_mobile">
						<button class="dropdown-item" type="button" class="btn" data-toggle="modal" data-target="#buttonModalHeaderCenterMobile">
							<i class="material-icons-outlined">logout</i><span>Đăng xuất</span>
						</button>
					</div>
				</div>

				<!-- Modal -->
				<div class="modal fade" id="buttonModalHeaderCenterMobile" tabindex="-1" role="dialog" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title">Bạn có chắc chắn muốn đăng xuất không?</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<div class="nav_header_user_action_mobile">
									<%= button_to destroy_user_session_path, method: :delete do%>
										<i class="material-icons-outlined">logout</i><span>Có, đăng xuất ngay bây giờ</span>
									<%end%>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		<%end%>

		<a href="<%=jobs_path %>">Việc làm </a>
		<a href="<%=companies_path %>">Review công ty </a>
		<a href="<%=problems_path %>">Câu hỏi phỏng vấn </a>
		<!--<a href="<%=cover_vitaes_path %>">CV & Resume </a>-->
		<a href="<%=posts_path %>">Blog</a>

		<div class="nav_right">
			<%if user_signed_in?%>
				<div class="nav_user">
					<div class="user_notification">						
						<%= link_to user_path(current_user, :tab_id => "NotificationID") do %>
							<%if current_user.user_notifications.count < 10%>
								<i class="material-icons-outlined">notifications</i><span><%=current_user.user_notifications.count%></span>
							<%else%>
								<i class="material-icons-outlined">notifications</i><span>9+</span>
							<%end%>
						<%end%>
					</div>

					<button class="user_avatar_small_header" type="button" id="dropdownUserMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<%if current_user.avatar?%>
							<div class="user_avatar_small_img_header">
								<%= image_tag current_user.avatar.url %>
							</div>
						<%else%>
							<div class="user_avatar_small_text_header checked_<%=find_user_color(current_user.name)%>">
								<%if current_user.name.present?%>
									<span><%=current_user.name[0].upcase%></span>
								<%else%>
									<span>A</span>
								<%end%>
							</div>
						<%end%>
					</button>

					<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownUserMenuButton">
						<a class="dropdown-item" href="<%=user_path(current_user, tab_id: 'SaveJobID')%>">
							<i class="material-icons-outlined">bookmark_border</i><span>Việc làm đã lưu</span>
						</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="<%=user_path(current_user, tab_id: 'ApplyJobID')%>">
							<i class="material-icons-outlined">check</i><span>Việc làm đã ứng tuyển</span>
						</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="<%=user_path(current_user, tab_id: 'CompanyFollowID')%>">
							<i class="material-icons-outlined">favorite_border</i><span>Công ty đang theo dõi</span>
						</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="<%=user_path(current_user, tab_id: 'ProblemID')%>">
							<i class="material-icons-outlined">lightbulb</i><span>Câu hỏi của tôi</span>
						</a>
						<a class="dropdown-item" href="<%=user_path(current_user, tab_id: 'CoverVitaeID')%>">
							<i class="material-icons-outlined">content_copy</i><span>CV của tôi</span>
						</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="<%=user_path(current_user, tab_id: 'PersonalID')%>">
							<i class="material-icons-outlined">account_circle</i><span>Thông tin cá nhân</span>
						</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="<%=edit_user_path(current_user)%>">
							<i class="material-icons-outlined">settings</i><span>Cài đặt tài khoản</span>
						</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" type="button" class="btn" data-toggle="modal" data-target="#buttonModalHeaderCenter">
							<i class="material-icons-outlined">logout</i><span>Đăng xuất</span>
						</a>
					</div>
					<!-- Modal -->
					<div class="modal fade" id="buttonModalHeaderCenter" tabindex="-1" role="dialog" aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title">Bạn có chắc chắn muốn đăng xuất không?</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<div class="nav_header_user_action">
										<%= button_to destroy_user_session_path, method: :delete do%>
											<i class="material-icons-outlined">logout</i><span>Có, đăng xuất ngay bây giờ</span>
										<%end%>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			<%elsif employer_signed_in?%>
				<div class="nav_employer">
					<div class="employer_notification">						
						<%= link_to employer_path(current_employer, :tab_id => "NotificationID") do %>
							<%if current_employer.employer_notifications.count < 10%>
								<i class="material-icons-outlined">notifications</i><span><%=current_employer.employer_notifications.count%></span>
							<%else%>
								<i class="material-icons-outlined">notifications</i><span>9+</span>
							<%end%>
						<%end%>
					</div>

					<button class="employer_avatar_small" type="button" id="dropdownemployerMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<%if current_employer.avatar?%>
							<div class="employer_avatar_small_img">
								<%= image_tag current_employer.avatar.url %>
							</div>
						<%else%>
							<div class="employer_avatar_small_text checked_<%=find_user_color(current_employer.name)%>">
								<%if current_employer.name.present?%>
									<span><%=current_employer.name[0].upcase%></span>
								<%else%>
									<span>A</span>
								<%end%>
							</div>
						<%end%>
					</button>

					<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownemployerMenuButton">
						<a class="dropdown-item" href="<%=employer_path(current_employer)%>">
							<i class="material-icons-outlined">account_circle</i><span>Thông tin cá nhân</span>
						</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="<%=edit_employer_path(current_employer)%>">
							<i class="material-icons-outlined">settings</i><span>Cài đặt tài khoản</span>
						</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" type="button" class="btn" data-toggle="modal" data-target="#buttonModalHeaderCenter">
							<i class="material-icons-outlined">logout</i><span>Đăng xuất</span>
						</a>
					</div>
					<!-- Modal -->
					<div class="modal fade" id="buttonModalHeaderCenter" tabindex="-1" role="dialog" aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title">Bạn có chắc chắn muốn đăng xuất không?</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<div class="nav_header_employer_action">
										<%= button_to destroy_employer_session_path, method: :delete do%>
											<i class="material-icons-outlined">logout</i><span>Có, đăng xuất ngay bây giờ</span>
										<%end%>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			<%else%>
				<a class="nav_recrui" href="<%=new_employer_session_path%>">
					<span>Tuyển dụng</span>
				</a>
				<a class="nav_login" href="<%=new_user_session_path%>">
					<span>Đăng nhập</span>
				</a>
			<%end%>
		</div>
	</div>
</div>

<script>
	function openNav() {
		var x = document.getElementById("myTopnav");
		if (x.className === "topnav") {
			x.className += " responsive";
		} else {
			x.className = "topnav";
		}
	}

	function closeNav() {
		var x = document.getElementById("myTopnav");
		if (x.className === "topnav") {
			x.className += " responsive";
		} else {
			x.className = "topnav";
		}
	}

	function openUserActionMenu() {
		var x = document.getElementById("user_action_menu");
		if (x.style.display == "block") 
		{
			x.style.display = "none";
		} 
		else 
		{
			x.style.display = "block";
		}
	}

	function openUserActionMenuMoblie() {
		var x = document.getElementById("user_action_menu_moblie");
		if (x.style.display == "block") 
		{
			x.style.display = "none";
		} 
		else 
		{
			x.style.display = "block";
		}
	}
</script>
