<div class="topnav" id="myTopnav">
	<div class="container">
		<a href="javascript:void(0);" class="menu_icon" onclick="openNav()">
			<i class="material-icons-outlined"> menu</i> 
		</a>

		<a href="javascript:void(0);" class="close_icon" onclick="closeNav()">
			<i class="material-icons-outlined"> close</i> 
		</a>

		<div class="nav_logo">
			<div class="rounded">
				<%= link_to (image_tag(("logo.png"))), image_path(url_for(("logo.png"))), rel: "gallery" , :href => pages_path%>
			</div>
		</div>

		<%if user_signed_in?%>
			<div class="nav_login_moblie" >
				<div class="user_notification_mobile">
					<%= link_to user_path(current_user, :tab_id => "NotificationID") do %>
						<%if current_user.user_notifications.count < 10%>
							<i class="material-icons-outlined">notifications</i><span><%=current_user.user_notifications.count%></span>
						<%else%>
							<i class="material-icons-outlined">notifications</i><span>9+</span>
						<%end%>
					<%end%>
				</div>
				<button class="user_avatar_small_moblie" onclick="openUserActionMenuMoblie()">
					<%if current_user.avatar?%>
						<div class="user_avatar_small_img">
							<%= image_tag current_user.avatar.url %>
						</div>
					<%else%>
						<div class="user_avatar_small_text checked_<%=find_user_color(current_user.email)%>">
							<span><%=current_user.email[0]%></span>
						</div>
					<%end%>
				</button>

				<div class="user_action_select_mobile" id ="user_action_menu_moblie">
					<div class="user_action">
						<%= link_to '<button type="submit"><i class="material-icons-outlined">account_circle</i>Thông tin cá nhân</button>'.html_safe, user_path(current_user)%>
					</div>
					<div class="user_action">
						<%= link_to '<button type="submit"><i class="material-icons-outlined">settings</i>Cài đặt tài khoản</button>'.html_safe, user_path(current_user)%>
					</div>
					<div class="user_action">
						<%= link_to '<button type="submit"><i class="material-icons-outlined">logout</i>Đăng xuất</button>'.html_safe, destroy_user_session_path, :method => :delete%>
					</div>
				</div>
			</div>
		<%end%>

		<a href="<%=company_job_list_path %>">Việc làm </a>
		<a href="<%=companies_path %>">Review công ty </a>
		<a href="<%=problems_path %>">Câu hỏi phỏng vấn </a>
		<a href="<%=posts_path %>">Blog</a>

		<div class="nav_right">
			<%if user_signed_in?%>
				<div class="nav_user">
					<div class="user_notification">						
						<%= link_to user_path(current_user, :tab_id => "NotificationID") do %>
							<%if current_user.user_notifications.count < 10%>
								<i class="material-icons-outlined">notifications</i><span><%=current_user.user_notifications.count%></span>
							<%else%>
								<i class="material-icons-outlined">notifications</i><span>9+</span>
							<%end%>
						<%end%>
					</div>

					<button class="user_avatar_small" onclick="openUserActionMenu()">
						<%if current_user.avatar?%>
							<div class="user_avatar_small_img">
								<%= image_tag current_user.avatar.url %>
							</div>
						<%else%>
							<div class="user_avatar_small_text checked_<%=find_user_color(current_user.email)%>">
								<span><%=current_user.email[0].upcase%></span>
							</div>
						<%end%>
					</button>

					<div class="user_action_select" id ="user_action_menu">
						<div class="user_action">
							<%= link_to '<button type="submit"><i class="material-icons-outlined">account_circle</i>Thông tin cá nhân</button>'.html_safe, user_path(current_user)%>
						</div>
						<div class="user_action">
							<%= link_to '<button type="submit"><i class="material-icons-outlined">settings</i>Cài đặt tài khoản</button>'.html_safe, user_path(current_user)%>
						</div>
						<div class="user_action">
							<%= link_to '<button type="submit"><i class="material-icons-outlined">logout</i>Đăng xuất</button>'.html_safe, destroy_user_session_path, method: :delete%>
						</div>
					</div>
				</div>
			<%else%>
				<a class="nav_recrui" href="<%=new_user_path(role_param: 'employer') %>">
					<span>Tuyển dụng</span>
				</a>
				<a class="nav_login" href="<%=new_user_session_path %>">
					<span>
						<i class="material-icons">account_circle</i> Đăng nhập
					</span>
				</a>
			<%end%>
		</div>
	</div>
</div>

<script>
	function openNav() {
		var x = document.getElementById("myTopnav");
		if (x.className === "topnav") {
			x.className += " responsive";
		} else {
			x.className = "topnav";
		}
	}

	function closeNav() {
		var x = document.getElementById("myTopnav");
		if (x.className === "topnav") {
			x.className += " responsive";
		} else {
			x.className = "topnav";
		}
	}

	function openUserActionMenu() {
		var x = document.getElementById("user_action_menu");
		if (x.style.display == "block") 
		{
			x.style.display = "none";
		} 
		else 
		{
			x.style.display = "block";
		}
	}

	function openUserActionMenuMoblie() {
		var x = document.getElementById("user_action_menu_moblie");
		if (x.style.display == "block") 
		{
			x.style.display = "none";
		} 
		else 
		{
			x.style.display = "block";
		}
	}
</script>
