<div class="topnav" id="myTopnav">
	<div class="container">
		<a href="javascript:void(0);" class="menu_icon" onclick="openNav()">
			<i class="material-icons-outlined"> menu</i> 
		</a>

		<a href="javascript:void(0);" class="close_icon" onclick="closeNav()">
			<i class="material-icons-outlined"> close</i> 
		</a>

		<div class="nav_logo">
			<div class="rounded_logo_large">
				<%= link_to (image_tag(("logo.svg"))), image_path(url_for(("logo.svg"))), rel: "gallery" , :href => root_path%>
			</div>
		</div>

		<%if user_signed_in?%>
			<div class="nav_user_login_moblie" >
				<div class="user_notification_mobile">
					<%= link_to user_path(current_user, :tab => "NotificationID") do %>
						<%if current_user.user_notifications.count < 10%>
							<i class="material-icons-outlined">notifications</i><span><%=current_user.user_notifications.count%></span>
						<%else%>
							<i class="material-icons-outlined">notifications</i><span>9+</span>
						<%end%>
					<%end%>
				</div>

				<button class="user_avatar_small_header_moblie" onclick="openUserActionMenuMoblie()">
					<%if current_user.avatar?%>
						<div class="user_avatar_small_img_header_moblie">
							<%= image_tag current_user.avatar.url %>
						</div>
					<%else%>
						<div class="user_avatar_small_img_header_moblie">
							<%= image_tag("defaults/user_avatar_default.png")%>
						</div>
					<%end%>
				</button>

				<div class="user_action_select_mobile" id ="user_action_menu_moblie">
					<div class="user_action_mobile">
						<%= link_to user_profile_path, :method => :get do%>
							<i class="material-icons-outlined">badge</i><span><%=t(:user_profile)%></span>
						<%end%>
					</div>
					<div class="user_action_mobile">
						<%= link_to user_path(current_user, tab: 'SaveJobID'), :method => :get do%>
							<i class="material-icons-outlined">bookmark_border</i><span><%=t(:user_saved_job)%></span>
						<%end%>
					</div>
					
					<div class="user_action_mobile">
						<%= link_to user_path(current_user, tab: 'ApplyJobID'), :method => :get do%>
							<i class="material-icons-outlined">check</i><span><%=t(:user_applied_job)%></span>
						<%end%>
					</div>
					
					<div class="user_action_mobile">
						<%= link_to user_path(current_user, tab: 'CompanyFollowID'), :method => :get do%>
							<i class="material-icons-outlined">favorite_border</i><span><%=t(:user_followed_company)%></span>
						<%end%>
					</div>

					<div class="user_action_mobile">
						<%= link_to user_path(current_user, tab: 'ProblemID'), :method => :get do%>
							<i class="material-icons-outlined">lightbulb</i><span><%=t(:user_interview_question)%></span>
						<%end%>
					</div>

					<div class="user_action_mobile">
						<%= link_to user_path(current_user, tab: 'CoverVitaeID'), :method => :get do%>
							<i class="material-icons-outlined">content_copy</i><span><%=t(:user_cv)%></span>
						<%end%>
					</div>

					<div class="user_action_mobile">
						<%= link_to user_path(current_user, tab: 'PersonalID'), :method => :get do%>
							<i class="material-icons-outlined">account_circle</i><span><%=t(:user_personal_info)%></span>
						<%end%>
					</div>

					<div class="user_action_mobile">
						<%= link_to edit_user_path(current_user), :method => :get do%>
							<i class="material-icons-outlined">settings</i><span><%=t(:setting)%></span>
						<%end%>
					</div>

					<div class="user_action_mobile">
						<button class="dropdown-item" type="button" class="btn" data-toggle="modal" data-target="#buttonModalHeaderCenterMobile">
							<i class="material-icons-outlined">logout</i><span><%=t(:logout)%></span>
						</button>
					</div>	
				</div>

				<!-- Modal -->
				<div class="modal fade" id="buttonModalHeaderCenterMobile" tabindex="-1" role="dialog" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title"><%=t(:confirm_logout)%></h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<div class="nav_header_user_action_mobile">
									<%= button_to destroy_user_session_path, method: :delete do%>
										<i class="material-icons-outlined">logout</i><span><%=t(:confirm_logout_btn)%></span>
									<%end%>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		<%elsif employer_signed_in?%>
			<div class="nav_employer_login_moblie" >
				<div class="employer_notification_mobile">
					<%= link_to employer_path(current_employer, :tab => "NotificationID") do %>
						<%if current_employer.employer_notifications.count < 10%>
							<i class="material-icons-outlined">notifications</i><span><%=current_employer.employer_notifications.count%></span>
						<%else%>
							<i class="material-icons-outlined">notifications</i><span>9+</span>
						<%end%>
					<%end%>
				</div>

				<button class="employer_avatar_small_header_moblie" onclick="openEmployerActionMenuMoblie()">
					<%if current_employer.avatar?%>
						<div class="employer_avatar_small_img_header_moblie">
							<%= image_tag current_employer.avatar.url %>
						</div>
					<%else%>
						<div class="employer_avatar_small_img_header_moblie">
							<%= image_tag("defaults/user_avatar_default.png")%>
						</div>
					<%end%>
				</button>

				<div class="employer_action_select_mobile" id ="employer_action_menu_moblie">
					<div class="employer_action_mobile">
						<%= link_to employer_path(current_employer, tab: 'PersonalID'), :method => :get do%>
							<i class="material-icons-outlined">space_dashboard</i><span><%=t(:employer_dashboard)%></span>
						<%end%>
					</div>

					<div class="employer_action_mobile">
						<%= link_to edit_employer_path(current_employer), :method => :get do%>
							<i class="material-icons-outlined">settings</i><span><%=t(:setting)%></span>
						<%end%>
					</div>

					<div class="employer_action_mobile">
						<a class="dropdown-item" type="button" class="btn" data-toggle="modal" data-target="#buttonModalHeaderCenter">
							<i class="material-icons-outlined">logout</i><span><%=t(:logout)%></span>
						</a>
					</div>	
				</div>

				<!-- Modal -->
				<div class="modal fade" id="buttonModalHeaderCenterMobile" tabindex="-1" role="dialog" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title"><%=t(:confirm_logout)%></h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<div class="nav_header_employer_action_mobile">
									<%= button_to destroy_employer_session_path, method: :delete do%>
										<i class="material-icons-outlined">logout</i><span><%=t(:confirm_logout_btn)%></span>
									<%end%>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		<%end%>

		<%if employer_signed_in?%>
			<div class="nav_main_menu">
				<a href="<%=employer_index_job_path %>"> <%=t(:employer_mng_job)%> </a>
				<a href="<%=employer_index_apply_path %>"> <%=t(:employer_mng_applied_job)%> </a>
				<a href="<%=employer_index_cv_path %>"> <%=t(:employer_find_cv)%> </a>
				<a href="<%=employer_plan_path %>"><%=t(:employer_change_service)%></a>
				<a href="<%=contact_us_path%>"><%=t(:contact_us)%> </a>
			</div>
		<%elsif admin_signed_in?%>
			<div class="nav_main_menu">
				<a href="<%=admin_path(current_admin, tab: 'AdminJobApprovingID') %>"><%=t(:approving_job)%></a>
				<a href="<%=admin_path(current_admin, tab: 'AdminProblemApprovingID') %>"><%=t(:approving_question)%></a>
				<a href="<%=rails_admin_path%>"> <%=t(:admin_pro_dash)%></a>
			</div>
		<%else%>
			<div class="nav_main_menu">
				<a href="<%=jobs_search_path %>"><%=t(:job)%> </a>
				<a href="<%=companies_path %>"><%=t(:company_review)%> </a>
				<a href="<%=user_profile_path %>"><%=t(:user_profile)%></a>
				<!--<a href="<%=problems_path %>">Mức lương </a>-->
				<a href="<%=problems_path %>"><%=t(:interview)%> </a>
				<!--<a href="<%=cover_vitaes_path %>">CV & Resume </a>-->
				<!--<a href="<%=problems_path %>">Công cụ </a>-->
				<a href="<%=posts_path %>"><%=t(:blog)%></a>
			</div>
		<%end%>

		<div class="nav_right">
			<div class="nav_select_language">
				<button class="btn_select_language" type="button" id="dropdownLanguageMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<%if I18n.locale == :vi%>
						<i class="material-icons-outlined">language</i>
						<a id="selected">Tiếng Việt</a>
						<span class="material-icons-outlined">expand_more</span>
					<%else%>
						<i class="material-icons-outlined">language</i>
						<a id="selected">English</a>
						<span class="material-icons-outlined">expand_more</span>
					<%end%>
				</button>

				<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownLanguageMenuButton">
					<%= link_to locale:"en", class: "dropdown-item" do%>
						<%= image_tag("icons/eng_flag.png")%>
						<span>English</span>
					<%end%>
					<div class="dropdown-divider"></div>
					<%= link_to locale:"vi", class: "dropdown-item" do%>
						<%= image_tag("icons/vie_flag.png")%>
						<span>Tiếng Việt</span>
					<%end%>
				</div>
			</div>

			<%if user_signed_in?%>
				<div class="nav_user">
					<div class="user_notification">						
						<%= link_to user_path(current_user, :tab => "NotificationID") do %>
							<i class="material-icons-outlined">notifications</i>
						<%end%>
						<%if current_user.user_notifications.count < 10%>
							<span><%=current_user.user_notifications.count%></span>
						<%else%>
							<span>9+</span>
						<%end%>
					</div>

					<button class="user_avatar_small_header" type="button" id="dropdownUserMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<%if current_user.avatar?%>
							<div class="user_avatar_small_img_header">
								<%= image_tag current_user.avatar.url %>
							</div>
						<%else%>
							<div class="user_avatar_small_img_header">
								<%= image_tag("defaults/user_avatar_default.png")%>
							</div>
						<%end%>
					</button>

					<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownUserMenuButton">
						<a class="dropdown-item" href="<%=user_profile_path%>">
							<i class="material-icons-outlined">badge</i><span><%=t(:user_profile)%></span>
						</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="<%=user_path(current_user, tab: 'SaveJobID')%>">
							<i class="material-icons-outlined">bookmark_border</i><span><%=t(:user_saved_job)%></span>
						</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="<%=user_path(current_user, tab: 'ApplyJobID')%>">
							<i class="material-icons-outlined">check</i><span><%=t(:user_applied_job)%></span>
						</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="<%=user_path(current_user, tab: 'CompanyFollowID')%>">
							<i class="material-icons-outlined">favorite_border</i><span><%=t(:user_followed_company)%></span>
						</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="<%=user_path(current_user, tab: 'ProblemID')%>">
							<i class="material-icons-outlined">lightbulb</i><span><%=t(:user_interview_question)%></span>
						</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="<%=user_path(current_user, tab: 'CoverVitaeID')%>">
							<i class="material-icons-outlined">content_copy</i><span><%=t(:user_cv)%></span>
						</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="<%=user_path(current_user, tab: 'PersonalID')%>">
							<i class="material-icons-outlined">account_circle</i><span><%=t(:user_personal_info)%></span>
						</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="<%=edit_user_path(current_user)%>">
							<i class="material-icons-outlined">settings</i><span><%=t(:setting)%></span>
						</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" type="button" class="btn" data-toggle="modal" data-target="#buttonModalHeaderCenter">
							<i class="material-icons-outlined">logout</i><span><%=t(:logout)%></span>
						</a>
					</div>
					<!-- Modal -->
					<div class="modal fade" id="buttonModalHeaderCenter" tabindex="-1" role="dialog" aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title"><%=t(:confirm_logout)%></h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<div class="nav_header_user_action">
										<%= button_to destroy_user_session_path, method: :delete do%>
											<i class="material-icons-outlined">logout</i><span><%=t(:confirm_logout_btn)%></span>
										<%end%>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			<%elsif employer_signed_in?%>
				<div class="nav_employer">
					<div class="employer_notification">						
						<%= link_to employer_employer_notifications_path(current_employer) do %>
							<%if current_employer.employer_notifications.count < 10%>
								<i class="material-icons-outlined">notifications</i><span><%=current_employer.employer_notifications.count%></span>
							<%else%>
								<i class="material-icons-outlined">notifications</i><span>9+</span>
							<%end%>
						<%end%>
					</div>

					<button class="employer_avatar_small" type="button" id="dropdownemployerMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<%if current_employer.avatar?%>
							<div class="employer_avatar_small_img">
								<%= image_tag current_employer.avatar.url %>
							</div>
						<%else%>
							<div class="employer_avatar_small_img">
								<%= image_tag("defaults/user_avatar_default.png")%>
							</div>
						<%end%>
					</button>

					<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownemployerMenuButton">
						<a class="dropdown-item" href="<%=employer_path(current_employer)%>">
							<i class="material-icons-outlined">space_dashboard</i><span><%=t(:employer_dashboard)%></span>
						</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="<%=edit_employer_path(current_employer)%>">
							<i class="material-icons-outlined">settings</i><span><%=t(:setting)%></span>
						</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" type="button" class="btn" data-toggle="modal" data-target="#buttonModalHeaderCenter">
							<i class="material-icons-outlined">logout</i><span><%=t(:logout)%></span>
						</a>
					</div>
					<!-- Modal -->
					<div class="modal fade" id="buttonModalHeaderCenter" tabindex="-1" role="dialog" aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title"><%=t(:confirm_logout)%></h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<div class="nav_header_employer_action">
										<%= button_to destroy_employer_session_path, method: :delete do%>
											<i class="material-icons-outlined">logout</i><span><%=t(:confirm_logout_btn)%></span>
										<%end%>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			<%elsif admin_signed_in?%>
				<div class="nav_admin">
					<%= button_to destroy_admin_session_path, method: :delete, class: "nav_admin_logout" do%>
						<a> <%=t(:logout)%> </a>
					<%end%>
				</div>
			<%else%>
				<a class="nav_recrui" href="<%=employer_wellcome_path%>">
					<span><%=t(:employer).upcase%></span>
				</a>
				<a class="nav_login" href="<%=new_user_session_path%>">
					<span><%=t(:signin)%></span>
				</a>
			<%end%>
		</div>
	</div>
</div>

<script>
	function openNav() {
		var x = document.getElementById("myTopnav");
		if (x.className === "topnav") {
			x.className += " responsive";
		} else {
			x.className = "topnav";
		}
	}

	function closeNav() {
		var x = document.getElementById("myTopnav");
		if (x.className === "topnav") {
			x.className += " responsive";
		} else {
			x.className = "topnav";
		}
	}

	function openUserActionMenuMoblie() {
		var x = document.getElementById("user_action_menu_moblie");
		if (x.style.display == "block") 
		{
			x.style.display = "none";
		} 
		else 
		{
			x.style.display = "block";
		}
	}

	function openEmployerActionMenuMoblie() {
		var x = document.getElementById("employer_action_menu_moblie");
		if (x.style.display == "block") 
		{
			x.style.display = "none";
		} 
		else 
		{
			x.style.display = "block";
		}
	}
</script>
