<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>

		<div class="topnav" id="myTopnav">
			<a href="<%=pages_path %>"class="logo">firework</a>
			<a href="<%=pages_path %>">Tìm việc </a>
			<a href="<%=companies_path %>">Review công ty </a>
			<a href="<%=problems_path %>">Câu hỏi phỏng vấn </a>
			<a href="<%=posts_path %>">Blog</a>

			<a class="nav_recrui" href="<%=companies_path %>">
				<span>Tuyển dụng</span>
			</a>
			<a class="nav_login" href="<%=sessions_new_path %>">
				<i class="material-icons"> person_outline</i> 
				<span>Đăng nhập</span>
			</a>

			<a href="javascript:void(0);" class="icon" onclick="myFunction()">
				<i class="fa fa-bars"></i>
			</a>
		</div>

		<script>
			function myFunction() {
			var x = document.getElementById("myTopnav");
				if (x.className === "topnav") {
					x.className += " responsive";
				} else {
					x.className = "topnav";
				}
			}
		</script>

	</body>
</html>
