<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Main Header</title>

		<!-- Font Icon -->
		<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
	</head>

	<body>
		<header class="header_area">
			<div class="header_content">
				<div class="header_logo">
					<h1><a href="<%=pages_path %>"><span>Code <\></span></a></h1>
				</div>
				
				<nav>
					<a href="<%=companies_path %>">Đánh giá công ty <span class="header-new-feature">new</span></a>
					<a href="<%=problems_path %>">Solve Problem <span class="header-new-feature">new</span></a>
					<a href="<%=posts_path %>">Blog</a>
				</nav>

				<%= form_for :session, url: login_path do |f| %>
					<%# Log in button %>
					<div class="login-container">
						<form action="/action_page.php">
							<%= link_to '<button type="submit">Đăng nhập</button>'.html_safe, sessions_new_path %>
						</form>
					</div>
					
					<%# Signup button %>
					<div class="signup-container">
						<form action="/action_page.php">
							<%= link_to '<button type="submit">Đăng kí</button>'.html_safe, new_user_path %>
						</form>
					</div>
				<% end %>
			</div>
		</header>
	</body>
</html>