<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0"/>
        <script src="http://code.jquery.com/jquery-1.7.min.js"></script>
    </head>

    <body>
            <div class="home_page">
                <div class='home_search_bar'>
                    <div class="container">
                        <div class="home_search_bar_label">
                            <h3>Tìm kiếm <span class="textbox">công việc</span> yêu thích</h3>
                            <script>
                                $(document).ready(function() {
                                // List your words here:
                                var words = [
                                    'công ty',
                                    'công việc',
                                    'công ty',
                                    ], i = 0;

                                setInterval(function(){
                                    $('.textbox').fadeOut(500, function(){
                                        $(this).html(words[i=(i+1)%words.length]).fadeIn(500);
                                    });
                                }, 5000);

                                });
                            </script>
                            <a>Nền tảng đánh giá công ty, chia sẻ kinh nghiệm phỏng vấn và giải đáp câu hỏi trong tìm kiếm việc làm</a>
                        </div>
                        
                        <%=form_tag company_company_jobs_path(@companies, @company_jobs), :method => "get" do%>
                            <div class="input-group mb-3">
                                <%= text_field_tag :search, params[:search], class: 'form-control', placeholder: "Tìm kiếm theo công việc, kĩ năng hoặc tên công ty" %>
                                <div class="input-group-addon">
                                    <%= button_to "", form_class: "search_button", :name => nil do%>
                                        <i class="material-icons-outlined">search</i>
                                    <%end%> 
                                </div>
                            </div>
                            
                            <div class="home_search_suggestion">
                                <div class="home_search_suggestion_button_label">
                                    <a>Đề xuất: </a>
                                </div>

                                <div class="home_search_suggestion_button">
                                    <%= link_to '<button type="button">Ruby & Rails</button>'.html_safe, pages_path %>
                                </div>

                                <div class="home_search_suggestion_button">
                                    <%= link_to '<button type="button">C,C++</button>'.html_safe, pages_path %>
                                </div>

                                <div class="home_search_suggestion_button">
                                    <%= link_to '<button type="button">.Net</button>'.html_safe, pages_path %>
                                </div>

                                <div class="home_search_suggestion_button">
                                    <%= link_to '<button type="button">Java</button>'.html_safe, pages_path %>
                                </div>

                                <div class="home_search_suggestion_button">
                                    <%= link_to '<button type="button">Python</button>'.html_safe, pages_path %>
                                </div>

                                <div class="home_search_suggestion_button">
                                    <%= link_to '<button type="button">Việc làm theo kĩ năng</button>'.html_safe, pages_path %>
                                </div>

                                <div class="home_search_suggestion_button">
                                    <%= link_to '<button type="button">Việc làm theo kinh nghiệm</button>'.html_safe, pages_path %>
                                </div>

                                <div class="home_search_suggestion_button">
                                    <%= link_to '<button type="button">Việc làm theo thành phố</button>'.html_safe, pages_path %>
                                </div>
                            </div>
                        <%end%>
                    </div>
                </div>

                <div class="container">
                    <div class="home_top_company">
                        <div class="home_top_company_label">
                            <a>Công ty được yêu thích</a>
                        </div>
                        <div class="row">
                            <%i = 0%>
                            <% @companies.each do |company| %>
                                <%i += 1%>
                                <%break if i > 8%>
                                <div class="col-sm-3">
                                    <div class="single_company">
                                        <div class="company_wall">
                                            <div class="rounded">
                                                <%if company.avatar?%>
                                                    <%= link_to (image_tag(company.wall_picture.large.url)), image_path(url_for(company.wall_picture.large.url)), rel: "gallery" , :href => company_path(company)%>
                                                <%end%>
                                            </div>
                                        </div>

                                        <div class="company_thumbnail">
                                            <div class="rounded">
                                                <%if company.avatar?%>
                                                    <%= link_to (image_tag(company.avatar.thumb.url)), image_path(url_for(company.avatar.thumb.url)), rel: "gallery" , :href => company_path(company)%>
                                                <%end%>
                                            </div>
                                        </div>
                                        
                                        <div class="company_love_button" id ="<%=company.id%>">
                                            <%if logged_in?%>
                                                <% pre_follow = company.company_follows.find { |follow| follow.user_id == current_user.id} %>
                                                <% if pre_follow %> 
                                                    <%= link_to '<button class="follow_btn_highlight"><i class="material-icons">favorite</i></button>'.html_safe, company_company_follow_path(company, pre_follow), remote: true, method: :delete%>
                                                <%else%>
                                                    <%= link_to '<button class="follow_btn"><i class="material-icons-outlined">favorite_border</i></button>'.html_safe, company_company_follows_path(company), remote: true, method: :post%>
                                                <%end%>
                                            <%else%>
                                                <%= link_to '<button class="follow_btn"><i class="material-icons-outlined">favorite_border</i></button>'.html_safe, login_path%>
                                            <%end%>
                                        </div>

                                        <div class="company_title">
                                            <div class="company_name">
                                                <a> <%= link_to company.name, company_path(company), class: "company_name_label" %></a>
                                            </div>

                                            <div class="company_rating">
                                                <%# Cal culate rating score %>
                                                <%if(company.company_reviews.count > 0)%>
                                                    <%rate_work_env = company.company_reviews.sum('work_env_score').to_f / company.company_reviews.count%>
                                                    <%rate_salary = company.company_reviews.sum('salary_score').to_f / company.company_reviews.count%>
                                                    <%rate_ot = company.company_reviews.sum('ot_score').to_f / company.company_reviews.count%>
                                                    <%rate_manager = company.company_reviews.sum('manager_score').to_f / company.company_reviews.count%>
                                                    <%rate_career = company.company_reviews.sum('career_score').to_f / company.company_reviews.count%>
                                                    <%total_rate = (rate_work_env + rate_salary + rate_ot + rate_manager + rate_career)/5%>
                                                <%else%>
                                                    <%total_rate = 0%>
                                                <%end%>
                                                <div class="review_score_star">
                                                    <%if total_rate > 0%>
                                                        <%total_rate.to_i.times do%>
                                                            <i class="material-icons checked">circle</i>
                                                        <%end%>
                                                        <%(5 - total_rate.to_i).to_i.times do%>
                                                            <i class="material-icons checked_out">radio_button_unchecked</i>
                                                        <%end%>
                                                    <%else%>
                                                        <%5.times do%>
                                                            <i class="material-icons checked_out">radio_button_unchecked</i>
                                                        <%end%>
                                                    <%end%>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="company_summary">

                                            <%# <div class="company_location">
                                                <p><i class="material-icons-outlined">place</i> <%= company.location %></p>
                                            <%# </div> %>

                                            <div class="review_point">

                                                <div class="review_point_review_content">
                                                    <a><%= company.company_reviews.count%></a>
                                                </div>

                                                <div class="review_point_review_content">
                                                    <a><%= company.company_interviews.count %></a>
                                                </div>

                                                <div class="review_point_review_content">
                                                    <a><%= company.company_jobs.count %></a>
                                                </div>

                                                <div class="review_point_label">
                                                    <span> <i class="material-icons-outlined">insert_emoticon</i><%= link_to " Đánh giá", company_path(company), class: "review_point_review_label" %></span>
                                                </div>

                                                <div class="review_point_label">
                                                    <span> <i class="material-icons-outlined">people_outline</i><%= link_to " Phỏng vấn", company_path(company), class: "review_point_review_label" %></span>
                                                </div>

                                                <div class="review_point_label">
                                                    <span> <i class="material-icons-outlined">work_outline</i><%= link_to " Việc làm", company_path(company), class: "review_point_review_label" %></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <%end%>
                        </div>
                    </div>

                    <div class="home_top_job_home">
                        <div class="home_top_job_home_label">
                            <a>Việc làm mới dành cho bạn</a>
                        </div>
                        
                        <div class="home_top_job_home_container">
                            <div class="row">
                                <%i = 0%>
                                <% @companies.each do |company| %>
                                    <%company.company_jobs.each do |company_job|%>
                                        <%i += 1%>
                                        <%break if i > 8%>
                                        <div class="col-sm-6">
                                            <div class="user_home_job_block">
                                                <div class="user_job_left">
                                                    <div class="company_avatar">
                                                        <%if company.avatar?%>
                                                            <%= link_to (image_tag(company.avatar.thumb.url)), image_path(url_for(company.avatar.thumb.url)), rel: "gallery" , :href => company_path(company)%>
                                                        <%end%>
                                                    </div>
                                                </div>

                                                <div class="user_job_right">
                                                    <div class="user_job_des">
                                                        <div class="user_job_title">
                                                            <a><%= link_to (company_job.title), company_company_job_path(company, company_job) %></a>
                                                        </div>

                                                        <div class="user_job_company_name">
                                                            <%if(company.company_reviews.count > 0)%>
                                                                <%rate_work_env = company.company_reviews.sum('work_env_score').to_f / company.company_reviews.count%>
                                                                <%rate_salary = company.company_reviews.sum('salary_score').to_f / company.company_reviews.count%>
                                                                <%rate_ot = company.company_reviews.sum('ot_score').to_f / company.company_reviews.count%>
                                                                <%rate_manager = company.company_reviews.sum('manager_score').to_f / company.company_reviews.count%>
                                                                <%rate_career = company.company_reviews.sum('career_score').to_f / company.company_reviews.count%>
                                                                <%total_rate = (rate_work_env + rate_salary + rate_ot + rate_manager + rate_career)/5%>
                                                            <%else%>
                                                                <%total_rate = 0%>
                                                            <%end%>
                                                            <a><%= link_to (company.name), company_path(company)%> </a>
                                                            <a><%=total_rate%><i class="material-icons checked">circle</i></a>
                                                        </div>

                                                        <div class="user_job_description">
                                                            <a><%= company_job.description.html_safe %></a>
                                                        </div>

                                                        <div class="user_job_mark">
                                                            <div class="user_job_location">
                                                                <a><i class="material-icons-outlined">location_on</i><%= company_job.location %></a>
                                                            </div>

                                                            <div class="user_job_tech">
                                                                <a><i class="material-icons-outlined">book</i><%= company_job.category %></a>
                                                            </div>

                                                            <div class="user_job_salary">
                                                                <a><i class="material-icons-outlined">local_offer</i><%= company_job.salary%>$</a>
                                                            </div>

                                                            <div class="user_job_type">
                                                                <a><i class="material-icons-outlined">rss_feed</i><%= company_job.job_type %></a>
                                                            </div>

                                                            <div class="user_job_date">
                                                                <%if company_job.end_date%>
                                                                    <%cal_date = ((company_job.end_date - Time.now)/(24*60*60))%>
                                                                    <%if cal_date < 0%>
                                                                        <a>Đã đăng <%= time_ago_in_words(company_job.created_at) %> • Hết hạn sau <%=cal_date.to_i%> ngày</a>
                                                                    <%else%>
                                                                        <a>Đã đăng <%= time_ago_in_words(company_job.created_at) %> • </a><span>Đã hết hạn<span>
                                                                    <%end%>
                                                                <%else%>
                                                                    <a>Đã đăng <%= time_ago_in_words(company_job.created_at) %> </a>
                                                                <%end%>
                                                            </div>
                                                                            
                                                            <div class="user_job_hot_save">
                                                                <div class="user_job_button_save" id="job_<%=company_job.id%>">
                                                                    <%if company_job.urgent%>
                                                                        <a class="hot_label">Urgent</a>
                                                                    <%end%>
                                                                    <%if logged_in?%>
                                                                        <% pre_save = company_job.company_save_jobs.find { |save| save.user_id == current_user.id} %>
                                                                        <% if pre_save %> 
                                                                            <%= link_to '<button class="save_btn_highlight"><i class="material-icons">turned_in</i> </button>'.html_safe, company_company_job_company_save_job_path(company.id, company_job.id, pre_save.id), method: :delete, remote: true %>
                                                                        <%else%>
                                                                            <%= link_to '<button class="save_btn"><i class="material-icons-outlined">turned_in_not</i> </button>'.html_safe, company_company_job_company_save_jobs_path(company.id, company_job.id), method: :post, remote: true %>
                                                                        <%end%>
                                                                    <%else%>
                                                                        <%= link_to '<button class="save_btn"><i class="material-icons-outlined">turned_in_not</i> </button>'.html_safe, login_path%>
                                                                    <%end%>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <%end%>
                                <%end%>
                            </div>
                        </div>
                    </div>

                    <div class="home_top_question">
                        <div class="home_top_question_label">
                            <a>Câu hỏi phỏng vấn đang được quan tâm</a>
                        </div>
                        <div class="home_top_question_container">
                            <div class="row">
                                <%i = 0%>
                                <% @problems_best.each do |problem| %>
                                    <%i += 1%>
                                    <%break if i > 6%>
                                    <div class="col-sm-4">
                                        <div class="home_top_question_block">
                                            <div class="problem_label">
                                                <a><%= link_to problem.title, problem_path(problem) %></a>
                                            </div>
                                            <div class="problem_des">
                                                <a><%= problem.content.html_safe%></a>
                                            </div>
                                            <div class="problem_info">
                                                <div class="problem_reply_info">
                                                    <a><i class="material-icons-outlined checked">lightbulb</i><%= problem.problem_solutions.count%> Giải pháp</a>
                                                </div>
                                                <div class="problem_difficult_info">
                                                    <%problem_difficult = ""%>
                                                    <%if(problem.difficult.to_i == 1 || problem.difficult.to_s == 'Dễ') %>
                                                        <% problem_difficult = "easy" %>
                                                    <% elsif (problem.difficult.to_i == 2 || problem.difficult.to_s == 'Trung bình') %>
                                                        <% problem_difficult = "average" %>
                                                    <% elsif (problem.difficult.to_i == 3 || problem.difficult.to_s == 'Khó') %>
                                                        <% problem_difficult = "hard" %>
                                                    <%end%>
                                                    <div class=<%= problem_difficult %>>
                                                        <a><%= problem.difficult %></a>
                                                    </div>
                                                </div>
                                                <div class="problem_category_info">
                                                    <% problem_category = ""%>
                                                    <%if problem.category.to_i == 1%>
                                                        <%problem_category = "Thuật toán"%>
                                                    <%elsif problem.category.to_i == 2%>
                                                        <%problem_category = "Câu hỏi phỏng vấn"%>
                                                    <%elsif problem.category.to_i == 3%>
                                                        <%problem_category = "IQ Test"%>
                                                    <%elsif problem.category.to_i == 4%>
                                                        <%problem_category = "EQ Test"%>
                                                    <%elsif problem.category.to_i == 5%>
                                                        <%problem_category = "Câu hỏi khác"%>
                                                    <%end%>															
                                                    <a><i class="material-icons-outlined checked">open_in_new</i><%= problem_category%></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <%end%>
                            </div>
                        </div>
                    </div>

                    <div class="home_top_blog">
                        <div class="home_top_blog_label">
                            <a>Bài viết mới</a>
                        </div>

                        <div class="row">
                            <%i = 0%>
                            <% @posts.each do |post| %>
                                <%i += 1%>
                                <%break if i > 4%>
                                <div class="col-sm-6">
                                    <div class="home_post_block">
                                        <div class="post_left">
                                            <div class="post_cover">
                                                <%if post.wall_picture?%>
                                                    <%= link_to (image_tag(post.wall_picture.medium.url)), image_path(url_for(post.wall_picture.medium.url)), rel: "gallery" , :href => post_path(post)%>
                                                <%else%>
                                                    <img src="<%= "/assets/illustration.png" %>" alt="Snow" style="width:100%;">
                                                <%end%>
                                            </div>
                                        </div>

                                        <div class="post_right">
                                            <div class="post_header">
                                                <a><%= link_to (post.title), post_path(post) %></a>
                                            </div>

                                            <div class="post_info">
                                                <div class="post_user">
                                                    <span><%=post.username%></span>
                                                </div>
                                                <div class="post_category_info">
                                                    <%post_category=''%>
                                                    <%if(post.category.to_i == 1) %>
                                                        <% post_category = "Con đường sự nghiệp" %>
                                                    <% elsif (post.category.to_i == 2) %>
                                                        <% post_category = "Khoa học công nghệ" %>
                                                    <% elsif (post.category.to_i == 3) %>
                                                        <% post_category = "Blog" %>
                                                    <% else %>
                                                        <% post_category = "Danh mục khác" %>
                                                    <%end%>
                                                    <div class="post_category">
                                                        <a><%= post_category %></a>
                                                    </div>
                                                </div>
                                                <div class="post_time">
                                                    <span><%=post.created_at.strftime("%B %d, %Y")%></span>
                                                </div>
                                                <div class="post_comment">
                                                    <a><i class="material-icons-outlined">chat_bubble_outline</i><span><%=post.post_comments.count%></span></a>
                                                </div>
                                            </div>

                                            <div class="post_content">
                                                <a><%=post.content.html_safe%></a>
                                            </div>

                                            <div class="post_view">
                                                <%= link_to '<button type="submit"> Đọc tiếp <i class="material-icons-outlined">chevron_right</i></button>'.html_safe, post_path(post) %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <%end%>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
