<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0"/>
    </head>

    <body>
        <div class="container">
			<div class="admin_search_block">
                <%if @company_searchs.present?%>
                    <div class="search_label">
                        <span><%=@company_searchs.count%> công ty cho từ khóa "<%= params[:company_search]%>"</span>
                    </div>
                    <% @company_searchs.reverse.each do |company| %>
                        <div class='company_block'>
                            <div class='company_name'>
                                <a> <%=company.id%> | <%= link_to company.name, company_path(company), class: "company_name_label" %> </a>
                                
                                <div class='approved'>
                                    <%if company.approved?%>
                                        <%= form_for(company) do |f| %>
                                            <%= f.hidden_field :approved, :value => false %>
                                            <%= f.submit "Reject", class: "btn btn-large btn-danger" %>
                                        <% end %>
                                    <%else%>
                                        <%= form_for(company) do |f| %>
                                            <%= f.hidden_field :approved, :value => true %>
                                            <%= f.submit "Approve", class: "btn btn-large btn-success" %>
                                        <% end %>
                                    <%end%>
                                </div>
                                
                                <div class='company_edit'>
                                    <%= link_to "Update", edit_company_path(company), class: "btn btn-large btn-warning" %>
                                    <%= link_to 'Delete', company_path(company), method: :delete, class: "btn btn-large btn-danger", data: { confirm: 'Are you sure???' } %>
                                </div>
                            </div>
                        </div>
                    <%end%>
                <%end%>

                <%if @user_searchs.present?%>
                    <div class="search_label">
                        <span><%=@user_searchs.count%> user cho từ khóa "<%= params[:user_search]%>"</span>
                    </div>

                    <% @user_searchs.reverse.each do |user| %>
                        <div class="user_block">
                            <div class='user_type'>
                                <%if user.admin?%>
                                    <a><%=user.id%> | ADMIN USER | <%= link_to user.name, user_path(user), class: "admin_name_label" %> </a>
                                <%elsif user.employer?%>
                                    <a><%=user.id%> | EMPLOYER USER | <%= link_to user.name, user_path(user), class: "admin_name_label" %> </a>
                                <%else%>
                                    <a><%=user.id%> | NORMAL USER | <%= link_to user.name, user_path(user), class: "admin_name_label" %> </a>
                                <%end%>
                            </div>
                            
                            <div class='approved'>
                                <%if user.approved?%>
                                    <%= form_for(user) do |f| %>
                                        <%= f.hidden_field :approved, :value => false %>
                                        <%= f.submit "Reject", class: "btn btn-large btn-danger" %>
                                    <% end %>
                                <%else%>
                                    <%= form_for(user) do |f| %>
                                        <%= f.hidden_field :approved, :value => true %>
                                        <%= f.submit "Approve", class: "btn btn-large btn-success" %>
                                    <% end %>
                                <%end%>
                            </div>
                            
                            <div class='user_edit'>
                                <%= link_to "Update", edit_user_path(user), class: "btn btn-large btn-warning" %>
                                <%= link_to 'Delete', user_path(user), method: :delete, class: "btn btn-large btn-danger", data: { confirm: 'Are you sure???' } %>
                            </div>
                        </div>
                    <%end%>
                <%end%>

                <%if @post_searchs.present?%>
                    <div class="search_label">
                        <span><%=@post_searchs.count%> bài viết cho từ khóa "<%= params[:post_search]%>"</span>
                    </div>
                    <% @post_searchs.reverse.each do |post| %>
                        <div class="post_block">
                            <a><%=post.id%> | <%= link_to post.title, post_path(post), class: "admin_name_label" %> </a>
                            
                            <div class='approved'>
                                <%if post.approved?%>
                                    <%= form_for(post) do |f| %>
                                        <%= f.hidden_field :approved, :value => false %>
                                        <%= f.submit "Reject", class: "btn btn-large btn-danger" %>
                                    <% end %>
                                <%else%>
                                    <%= form_for(post) do |f| %>
                                        <%= f.hidden_field :approved, :value => true %>
                                        <%= f.submit "Approve", class: "btn btn-large btn-success" %>
                                    <% end %>
                                <%end%>
                            </div>
                            
                            <div class='post_edit'>
                                <%= link_to "Update", edit_post_path(post), class: "btn btn-large btn-warning" %>
                                <%= link_to 'Delete', post_path(post), method: :delete, class: "btn btn-large btn-danger", data: { confirm: 'Are you sure???' } %>
                            </div>
                        </div>
                    <%end%>
                <%end%>

                <%if @problem_searchs.present?%>
                    <div class="search_label">
                        <span><%=@problem_searchs.count%> câu hỏi cho từ khóa "<%= params[:problem_search]%>"</span>
                    </div>
                    <% @problem_searchs.reverse.each do |problem| %>
                        <div class="problem_block">
                            <a><%=problem.id%> | <%= link_to problem.title, problem_path(problem), class: "admin_name_label" %></a>
                            
                            <div class='approved'>
                                <%if problem.approved?%>
                                    <%= form_for(problem) do |f| %>
                                        <%= f.hidden_field :approved, :value => false %>
                                        <%= f.submit "Reject", class: "btn btn-large btn-danger" %>
                                    <% end %>
                                <%else%>
                                    <%= form_for(problem) do |f| %>
                                        <%= f.hidden_field :approved, :value => true %>
                                        <%= f.submit "Approve", class: "btn btn-large btn-success" %>
                                    <% end %>
                                <%end%>
                            </div>
                            
                            <div class='problem_edit'>
                                <%= link_to "Update", edit_problem_path(problem), class: "btn btn-large btn-warning" %>
                                <%= link_to 'Delete', problem_path(problem), method: :delete, class: "btn btn-large btn-danger", data: { confirm: 'Are you sure???' } %>
                            </div>
                        </div>
                    <%end%>
                <%end%>
			</div>
		</div>
    <body>
<html>