<div class="about_us_container">
    <div class="container">
        <div class="about_us_bar">
            <div class="about_us_bar_label">
                <h3><%=t(:about_us_intro)%></h3>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="about_us_intro">
        <div class="row">
            <div class="col-sm-6">
                <div class="about_us_intro_label">
                    <a><%=t(:about_us_firework)%></a>
                </div>
                <div class="about_us_intro_left">
                    <div class="about_us_intro_section">
                        <a><%=t(:about_us_1)%></a>
                    </div>
                    <div class="about_us_intro_section">
                        <a><%=t(:about_us_2)%></a>
                    </div>
                    <div class="about_us_intro_section">
                        <a><%=t(:about_us_3)%></a>
                    </div>
                    <div class="about_us_intro_section">
                        <a><%=t(:about_us_4)%></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="about_us_intro_image">
                    <%=image_tag("others/about_us_intro.svg")%>
                </div>
            </div>
        </div>
    </div>

    <div class="about_us_value">
        <div class="about_us_value_label">
            <a><%=t(:about_us_value)%></a>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="about_us_value_section">
                    <div class="about_us_value_img">
                        <a>1.<a>
                    </div>
                    <div class="about_us_value_detail">
                        <a><%=t(:about_us_5)%></a>
                        <br>
                        <span><%=t(:about_us_6)%></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="about_us_value_section">
                    <div class="about_us_value_img">
                        <a>2.<a>
                    </div>
                    <div class="about_us_value_detail">
                        <a><%=t(:about_us_7)%></a>
                        <br>
                        <span><%=t(:about_us_8)%></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="about_us_value_section">
                    <div class="about_us_value_img">
                        <a>3.<a>
                    </div>
                    <div class="about_us_value_detail">
                        <a><%=t(:about_us_9)%></a>
                        <br>
                        <span><%=t(:about_us_10)%></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="about_us_value_section">
                    <div class="about_us_value_img">
                        <a>4.<a>
                    </div>
                    <div class="about_us_value_detail">
                        <a><%=t(:about_us_11)%></a>
                        <br>
                        <span><%=t(:about_us_12)%></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>