<% content_for :meta_robots, "all" %>
<div class="home_page">
    <div class='home_search_bar'>
        <div class="container">
            <div class='row justify-content-md-center'>
                <div class='col-sm-10'>
                    <div class="home_search_block">
                        <div class="home_search_bar_label">
                            <h3><%=t(:home_intro)%></h3>
                        </div>
                        
                        <%=form_tag jobs_search_path, :method => "get" do%>
                            <div class="home_search_input">
                                <div class='row'>
                                    <div class='col-sm-6 col_padding_customize_right'>
                                        <div class="home_search_what">
                                            <i class="material-icons-outlined">search</i>
                                            <%= text_field_tag :search, params[:search], data: { behavior: "autocomplete" }, class: 'form-control', placeholder: t(:search_job_title)%>
                                        </div>
                                    </div>
                                    <div class='col-sm-4 col_padding_customize'>
                                        <div class="home_search_where">
                                            <i class="material-icons-outlined">place</i></button>
                                            <%= select_tag :location, options_for_select(['Hà Nội','Hồ Chí Minh','Đà Nẵng','An Giang','Bà Rịa Vũng Tàu','Bạc Liêu','Bắc Kạn','Bắc Giang',
                                                                        'Bắc Ninh','Bến Tre','Bình Dương','Bình Định','Bình Phước',
                                                                        'Bình Thuận','Cà Mau','Cao Bằng','Cần Thơ','Đắk Lắk','Đắk Nông','Điện Biên',
                                                                        'Đồng Nai','Đồng Tháp','Gia Lai','Hà Giang','Hà Nam','Hà Tây','Hà Tĩnh',
                                                                        'Hải Dương','Hải Phòng','Hòa Bình','Hậu Giang','Hưng Yên','Khánh Hòa',
                                                                        'Kiên Giang','Kon Tum','Lai Châu','Lào Cai',
                                                                        'Lạng Sơn','Lâm Đồng','Long An','Nam Định','Nghệ An',
                                                                        'Ninh Bình','Ninh Thuận','Phú Thọ','Phú Yên','Quảng Bình',
                                                                        'Quảng Nam','Quảng Ngãi','Quảng Ninh','Quảng Trị',
                                                                        'Sóc Trăng','Sơn La','Tây Ninh','Thái Bình','Thái Nguyên' ,
                                                                        'Thanh Hóa','Thừa Thiên Huế','Tiền Giang','Trà Vinh',
                                                                        'Tuyên Quang','Vĩnh Long','Vĩnh Phúc','Yên Bái' ]), {:prompt => t(:search_location), class: 'form-control'}%>
                                        </div>
                                    </div>
                                    <div class='col-sm-2'>
                                        <div class="home_search_button">
                                            <%= button_to "", form_class: "search_button", :name => nil do%>
                                                <a><%=t(:search)%></a>
                                            <%end%> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <%end%>

                        <script>
                            document.addEventListener("turbolinks:load", function() {
                                $input = $("[data-behavior='autocomplete']")

                                var options = {
                                    getValue: "title",
                                    url: function(phrase) {
                                        return "/jobs_search.json?search=" + phrase;
                                    },
                                    categories: [
                                        {
                                            listLocation: "suggest_jobs"
                                        },
                                    ],
                                    list: {
                                    onChooseEvent: function() {
                                            var url = $input.getSelectedItemData().url
                                            $input.val("")
                                            Turbolinks.visit(url)
                                        }
                                    }
                                }

                                $input.easyAutocomplete(options)
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="home_job_container">
        <div class="container">
            <div class="home_job_label">
                <a><%=t(:last_posted_job)%></a>
            </div>
            <div class="home_job_all_btn">
                <%= link_to jobs_search_path do%>
                    <%=t(:all_job)%>
                    <i class="material-icons-outlined">keyboard_double_arrow_right</i>
                <%end%>
            </div>
            <div class="home_job_render">
                <div class="row">
                    <%@company_jobs.first(9).each do |company_job|%>
                        <div class="col-sm-4">
                            <%company = find_company_of_job(company_job)%>
                            <div class="home_job_block border_home">
                                <div class="home_job_company">
                                    <div class="home_job_avatar">
                                        <%if verified_job(company_job) && company.present? && company.avatar?%>
                                            <%= link_to (image_tag(company.avatar.thumb.url)), image_path(url_for(company.avatar.thumb.url)), rel: "gallery" , :href => company_path(company), target: :_blank%>
                                        <%elsif company_job.company_avatar && check_exist_url(company_job.company_avatar)%>
                                            <%= image_tag(company_job.company_avatar)%>
                                        <%else%>
                                            <%= image_tag("defaults/company_avatar_default.png")%>
                                        <%end%>
                                    </div>

                                    <div class="home_job_company_right">
                                        <div class="home_job_company_name">
                                            <%if verified_job(company_job)%>
                                                <a><%= link_to (company.name), company_path(company), target: :_blank%> </a>
                                            <%else%>
                                                <a><%= company_job.company_name%> </a>
                                            <%end%>
                                        </div>
                                        <div class="home_job_created_at">
                                            <%if company_job.sponsor || verified_job(company_job) || company_job.urgent%>
                                                <a><%= time_ago_in_words(company_job.created_at) %>
                                                    <%if company_job.urgent > 0%>
                                                        <span class="home_job_urgent"><%=t(:hot).upcase%></span>
                                                    <%elsif verified_job(company_job)%>
                                                        <span class="home_job_easy_apply"><%=t(:apply_fast)%></span>
                                                    <%end%>
                                                </a>
                                            <%else%>
                                                <a><%= time_ago_in_words(company_job.created_at) %> </a>
                                            <%end%>
                                        </div>
                                    </div>
                                </div>

                                <div class="home_job_info">
                                    <div class="home_job_title">
                                        <a><%= link_to (company_job.title.titleize), company_job_path(company_job), target: :_blank %></a>
                                    </div>

                                    <div class="home_job_location">
                                        <a><i class="material-icons-outlined">location_on</i><%= truncate(strip_tags(find_job_location(company_job.location)), length: 100)%></a>
                                    </div>

                                    <div class="home_job_salary">
                                        <%if !company_job.salary.to_s.blank?%>
                                            <a><i class="material-icons-outlined">monetization_on</i><%= truncate(strip_tags(company_job.salary.to_s), length: 100)%></a>
                                        <%else%>
                                            <a><i class="material-icons-outlined">monetization_on</i><%=t(:updating)%></a>
                                        <%end%>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <%end%>
                </div>
            </div>
        </div>
    </div>

    <div class="home_explorer_container">
        <div class="container">
            <div class="home_explorer_label">
                <a><%=t(:firework_explore)%></a>
            </div>
            <div class="home_explorer_block">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="home_explorer_section">
                            <div class="home_explorer_img">
                                <%= link_to (image_tag("icons/home_find_job.png")), image_path(url_for("icons/home_find_job.png")), rel: "gallery" , :href => jobs_search_path%>
                            </div>
                            <div class="home_explorer_section_label">
                                <a><%=t(:job_search)%></a>
                            </div>
                            <div class="home_explorer_detail">
                                <span><%=t(:home_job_detail)%></span>
                            </div>
                            <div class="home_explorer_btn">
                                <%= link_to jobs_search_path do%>
                                    <%=t(:read_more)%>
                                    <i class="material-icons-outlined">arrow_forward</i>
                                <%end%>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="home_explorer_section">
                            <div class="home_explorer_img">
                                <%= link_to (image_tag("icons/home_review_company.png")), image_path(url_for("icons/home_review_company.png")), rel: "gallery" , :href => companies_path%>
                            </div>
                            <div class="home_explorer_section_label">
                                <a><%=t(:company_review)%></a>
                            </div>
                            <div class="home_explorer_detail">
                                <span><%=t(:home_company_review_detail)%></span>
                            </div>
                            <div class="home_explorer_btn">
                                <%= link_to companies_path do%>
                                    <%=t(:read_more)%>
                                    <i class="material-icons-outlined">arrow_forward</i>
                                <%end%>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="home_explorer_section">
                            <div class="home_explorer_img">
                                <%= link_to (image_tag("icons/home_interview.png")), image_path(url_for("icons/home_interview.png")), rel: "gallery" , :href => problems_path%>
                            </div>
                            <div class="home_explorer_section_label">
                                <a><%=t(:interview_question)%></a>
                            </div>
                            <div class="home_explorer_detail">
                                <span><%=t(:home_interview_detail)%></span>
                            </div>
                            <div class="home_explorer_btn">
                                <%= link_to problems_path do%>
                                    <%=t(:read_more)%>
                                    <i class="material-icons-outlined">arrow_forward</i>
                                <%end%>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="home_explorer_section">
                            <div class="home_explorer_img">
                                <%= link_to (image_tag("icons/home_recruiment.png")), image_path(url_for("icons/home_recruiment.png")), rel: "gallery" , :href => employer_wellcome_path%>
                            </div>
                            <div class="home_explorer_section_label">
                                <a><%=t(:post_job)%></a>
                            </div>
                            <div class="home_explorer_detail">
                                <span><%=t(:home_post_job_detail)%></span>
                            </div>
                            <div class="home_explorer_btn">
                                <%= link_to employer_wellcome_path do%>
                                    <%=t(:read_more)%>
                                    <i class="material-icons-outlined">arrow_forward</i>
                                <%end%>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="home_signup_container">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <div class="home_signup_label">
                        <h3><i class="material-icons-outlined">notifications_active</i><%=t(:home_login_intro)%></h3>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="home_signup_block">
                                <button><%= link_to t(:signup), new_user_registration_path %></button>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="home_signin_block">
                                <button><%= link_to t(:signin), new_user_session_path %></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
