<% content_for :meta_robots, "all" %>
<div class="home_page">
    <div class='home_search_bar'>
        <div class="container">
            <div class='row justify-content-md-center'>
                <div class='col-sm-10'>
                    <div class="home_search_block">
                        <div class="home_search_bar_label">
                            <h3>Tìm kiếm cơ hội tiếp theo của bạn, nhanh hơn.</h3>
                        </div>
                        
                        <%=form_tag jobs_search_path, :method => "get" do%>
                            <div class="home_search_input">
                                <div class='row'>
                                    <div class='col-sm-6 col_padding_customize_right'>
                                        <div class="home_search_what">
                                            <i class="material-icons-outlined">search</i>
                                            <%= text_field_tag :search, params[:search], required: true, class: 'form-control', placeholder: "Tìm kiếm công việc, kĩ năng, tên công ty..."%>
                                        </div>
                                    </div>
                                    <div class='col-sm-4 col_padding_customize'>
                                        <div class="home_search_where">
                                            <i class="material-icons-outlined">place</i></button>
                                            <%= select_tag :location, options_for_select(['Hà Nội','TP Hồ Chí Minh','Đà Nẵng','An Giang','Bà Rịa Vũng Tàu','Bạc Liêu','Bắc Kạn','Bắc Giang',
                                                                        'Bắc Ninh','Bến Tre','Bình Dương','Bình Định','Bình Phước',
                                                                        'Bình Thuận','Cà Mau','Cao Bằng','Cần Thơ','Đắk Lắk','Đắk Nông','Điện Biên',
                                                                        'Đồng Nai','Đồng Tháp','Gia Lai','Hà Giang','Hà Nam','Hà Tây','Hà Tĩnh',
                                                                        'Hải Dương','Hải Phòng','Hòa Bình','Hậu Giang','Hưng Yên','Khánh Hòa',
                                                                        'Kiên Giang','Kon Tum','Lai Châu','Lào Cai',
                                                                        'Lạng Sơn','Lâm Đồng','Long An','Nam Định','Nghệ An',
                                                                        'Ninh Bình','Ninh Thuận','Phú Thọ','Phú Yên','Quảng Bình',
                                                                        'Quảng Nam','Quảng Ngãi','Quảng Ninh','Quảng Trị',
                                                                        'Sóc Trăng','Sơn La','Tây Ninh','Thái Bình','Thái Nguyên' ,
                                                                        'Thanh Hóa','Thừa Thiên Huế','Tiền Giang','Trà Vinh',
                                                                        'Tuyên Quang','Vĩnh Long','Vĩnh Phúc','Yên Bái' ]), {:prompt => "Tất cả địa điểm", class: 'form-control'}%>
                                        </div>
                                    </div>
                                    <div class='col-sm-2'>
                                        <div class="home_search_button">
                                            <%= button_to "", form_class: "search_button", :name => nil do%>
                                                <a>Tìm kiếm</a>
                                            <%end%> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <%end%>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="home_job_container">
        <div class="container">
            <div class="home_job_label">
                <a>Tin tuyển dụng mới nhất</a>
            </div>
            <div class="home_job_all_btn">
                <%= link_to '<button type="submit">Xem tất cả việc làm <i class="material-icons-outlined">keyboard_double_arrow_right</i></button>'.html_safe, jobs_search_path%>
            </div>
            <div class="home_job_render">
                <div class="row">
                    <%@company_jobs.first(9).each do |company_job|%>
                        <div class="col-sm-4">
                            <%company = find_company_of_job(company_job)%>
                            <div class="home_job_block border_home">
                                <div class="home_job_company">
                                    <div class="home_job_avatar">
                                        <%if company.present? && company.avatar?%>
                                            <%= link_to (image_tag(company.avatar.thumb.url)), image_path(url_for(company.avatar.thumb.url)), rel: "gallery" , :href => company_path(company), target: :_blank%>
                                        <%elsif company_job.company_avatar && check_exist_url(company_job.company_avatar)%>
                                            <%= image_tag(company_job.company_avatar)%>
                                        <%else%>
                                            <%= image_tag("defaults/company_avatar_default.png")%>
                                        <%end%>
                                    </div>

                                    <div class="home_job_company_right">
                                        <div class="home_job_company_name">
                                            <%if company.present?%>
                                                <a><%= link_to (company.name), company_path(company), target: :_blank%> </a>
                                            <%else%>
                                                <a><%= company_job.company_name%> </a>
                                            <%end%>
                                        </div>
                                        <div class="home_job_create_at">
                                            <a><%= time_ago_in_words(company_job.created_at) %> </a>
                                        </div>
                                    </div>
                                </div>

                                <div class="home_job_info">
                                    <div class="home_job_title">
                                        <a><%= link_to (company_job.title.titleize), company_job_path(company_job), target: :_blank %></a>
                                    </div>

                                    <%if company_job.created_at > 1.week.ago.utc || company_job.urgent%>
                                        <div class="home_job_new_hot">
                                            <%if company_job.urgent > 0%>
                                                <div class="home_job_hot">
                                                    <span>GẤP</span>
                                                </div>
                                            <%elsif company_job.created_at > 1.week.ago.utc%>
                                                <div class="home_job_new">
                                                    <span>MỚI</span>
                                                </div>
                                            <%end%>
                                        </div>
                                    <%end%>

                                    <div class="home_job_location">
                                        <a><i class="material-icons-outlined">location_on</i><%= truncate(strip_tags(find_job_location(company_job.location)), length: 20)%></a>
                                    </div>

                                    <div class="home_job_salary">
                                        <%if !company_job.salary.to_s.blank?%>
                                            <a><i class="material-icons-outlined">monetization_on</i><%= truncate(strip_tags(company_job.salary.to_s), length: 18)%></a>
                                        <%else%>
                                            <a><i class="material-icons-outlined">monetization_on</i>Đang cập nhật</a>
                                        <%end%>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <%end%>
                </div>
            </div>
        </div>
    </div>

    <div class="home_explorer_container">
        <div class="container">
            <div class="home_explorer_label">
                <a>Khám phá Firework</a>
            </div>
            <div class="home_explorer_block">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="home_explorer_section">
                            <div class="home_explorer_img">
                                <%= link_to (image_tag("icons/home_find_job.png")), image_path(url_for("icons/home_find_job.png")), rel: "gallery" , :href => jobs_search_path%>
                            </div>
                            <div class="home_explorer_section_label">
                                <a>Tìm kiếm việc làm</a>
                            </div>
                            <div class="home_explorer_detail">
                                <span>Chúng tôi tìm kiếm nguồn việc làm trực tiếp từ trang web nhà tuyển dụng, để bạn có thể nhận được thông tin một cách đầy đủ, nhanh chóng và chính xác nhất. Giúp bạn không bỏ lỡ bất kì cơ hội việc làm tuyệt vời nào.</span>
                            </div>
                            <div class="home_explorer_btn">
                                <%= link_to '<button type="submit">Xem thêm <i class="material-icons-outlined">arrow_forward</i></button>'.html_safe, jobs_search_path%>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="home_explorer_section">
                            <div class="home_explorer_img">
                                <%= link_to (image_tag("icons/home_review_company.png")), image_path(url_for("icons/home_review_company.png")), rel: "gallery" , :href => companies_path%>
                            </div>
                            <div class="home_explorer_section_label">
                                <a>Review Công ty</a>
                            </div>
                            <div class="home_explorer_detail">
                                <span>Dễ dàng tiếp cận thông tin cũng như biết được cách mà mọi người nói về công ty mà bạn dự định sẽ gắn bó. Các đánh giá tốt và xấu đều hữu ích cho sự phát triển của công ty và chúng tôi luôn cam kết tôn trọng điều đó.</span>
                            </div>
                            <div class="home_explorer_btn">
                                <%= link_to '<button type="submit">Xem thêm<i class="material-icons-outlined">arrow_forward</i></button>'.html_safe, companies_path%>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="home_explorer_section">
                            <div class="home_explorer_img">
                                <%= link_to (image_tag("icons/home_interview.png")), image_path(url_for("icons/home_interview.png")), rel: "gallery" , :href => problems_path%>
                            </div>
                            <div class="home_explorer_section_label">
                                <a>Câu hỏi phỏng vấn</a>
                            </div>
                            <div class="home_explorer_detail">
                                <span>Thư viện hàng ngàn câu hỏi phỏng vấn được giải đáp trực tiếp bởi cộng đồng Firework trong nhiều lĩnh vực giúp bạn chinh phục các nhà tuyển dụng khó tính nhất.</span>
                            </div>
                            <div class="home_explorer_btn">
                                <%= link_to '<button type="submit">Xem thêm<i class="material-icons-outlined">arrow_forward</i></button>'.html_safe, problems_path%>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="home_explorer_section">
                            <div class="home_explorer_img">
                                <%= link_to (image_tag("icons/home_recruiment.png")), image_path(url_for("icons/home_recruiment.png")), rel: "gallery" , :href => employer_wellcome_path%>
                            </div>
                            <div class="home_explorer_section_label">
                                <a>Đăng tin tuyển dụng</a>
                            </div>
                            <div class="home_explorer_detail">
                                <span>Firework cung cấp nền tảng đăng tin tuyển dụng miễn phí không giới hạn. Giúp nhà tuyển dụng nhanh chóng tiếp cận hàng ngàn ứng viên có nhu cầu tìm việc mỗi ngày.</span>
                            </div>
                            <div class="home_explorer_btn">
                                <%= link_to '<button type="submit">Xem thêm<i class="material-icons-outlined">arrow_forward</i></button>'.html_safe, employer_wellcome_path%>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="home_signup_container">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <div class="home_signup_label">
                        <h3><i class="material-icons-outlined">notifications_active</i>Tạo tài khoản để không bỏ lỡ hàng ngàn cơ hội việc làm mới mỗi ngày</h3>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="home_signup_block">
                                <%= link_to '<button type="submit"> <span> Tạo tài khoản mới</span> </button>'.html_safe, new_user_registration_path %>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="home_signin_block">
                                <%= link_to '<button type="submit"> <span> Đăng nhập</span> </button>'.html_safe, new_user_session_path %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
