<% content_for :meta_robots, "all" %>
<div class="home_page">
    <div class='home_search_bar'>
        <div class="container">
            <div class='row justify-content-md-center'>
                <div class='col-sm-10'>
                    <div class="home_search_block">
                        <div class="home_search_bar_label">
                            <h3><%=t(:home_intro)%></h3>
                        </div>
                        
                        <%=form_tag jobs_search_path, :method => "get" do%>
                            <div class="home_search_input">
                                <div class='row'>
                                    <div class='col-sm-6 col_padding_customize_right'>
                                        <div class="home_search_what">
                                            <i class="material-icons-outlined">search</i>
                                            <%= text_field_tag :search, params[:search], data: { behavior: "autocomplete" }, class: 'form-control', placeholder: t(:search_job_title)%>
                                        </div>
                                    </div>
                                    <div class='col-sm-4 col_padding_customize'>
                                        <div class="home_search_where">
                                            <i class="material-icons-outlined">place</i></button>
                                            <%= select_tag :location, options_for_select(['Hà Nội','Hồ Chí Minh','Đà Nẵng','An Giang','Bà Rịa Vũng Tàu','Bạc Liêu','Bắc Kạn','Bắc Giang',
                                                                        'Bắc Ninh','Bến Tre','Bình Dương','Bình Định','Bình Phước',
                                                                        'Bình Thuận','Cà Mau','Cao Bằng','Cần Thơ','Đắk Lắk','Đắk Nông','Điện Biên',
                                                                        'Đồng Nai','Đồng Tháp','Gia Lai','Hà Giang','Hà Nam','Hà Tây','Hà Tĩnh',
                                                                        'Hải Dương','Hải Phòng','Hòa Bình','Hậu Giang','Hưng Yên','Khánh Hòa',
                                                                        'Kiên Giang','Kon Tum','Lai Châu','Lào Cai',
                                                                        'Lạng Sơn','Lâm Đồng','Long An','Nam Định','Nghệ An',
                                                                        'Ninh Bình','Ninh Thuận','Phú Thọ','Phú Yên','Quảng Bình',
                                                                        'Quảng Nam','Quảng Ngãi','Quảng Ninh','Quảng Trị',
                                                                        'Sóc Trăng','Sơn La','Tây Ninh','Thái Bình','Thái Nguyên' ,
                                                                        'Thanh Hóa','Thừa Thiên Huế','Tiền Giang','Trà Vinh',
                                                                        'Tuyên Quang','Vĩnh Long','Vĩnh Phúc','Yên Bái' ]), {:prompt => t(:all_location), class: 'form-control'}%>
                                        </div>
                                    </div>
                                    <div class='col-sm-2'>
                                        <div class="home_search_button">
                                            <%= button_to "", form_class: "search_button", :name => nil do%>
                                                <a><%=t(:search)%></a>
                                            <%end%> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <%end%>

                        <script>
                            document.addEventListener("turbolinks:load", function() {
                                $input = $("[data-behavior='autocomplete']")

                                var options = {
                                    getValue: "title",
                                    url: function(phrase) {
                                        return "/jobs_search.json?search=" + phrase;
                                    },
                                    categories: [
                                        {
                                            listLocation: "suggest_jobs"
                                        },
                                    ],
                                    list: {
                                    onChooseEvent: function() {
                                            var url = $input.getSelectedItemData().url
                                            $input.val("")
                                            Turbolinks.visit(url)
                                        }
                                    }
                                }

                                $input.easyAutocomplete(options)
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="home_job_container">
        <div class="container">
            <div class="home_job_label">
                <a><%=t(:last_posted_job)%></a>
            </div>
            <div class="home_job_all_btn">
                <%= link_to jobs_search_path do%>
                    <%=t(:all_job)%>
                    <i class="material-icons-outlined">keyboard_double_arrow_right</i>
                <%end%>
            </div>
            <div class="home_job_render">
                <div class="row">
                    <%@company_jobs.first(9).each do |company_job|%>
                        <div class="col-sm-4">
                            <%company = find_company_of_job(company_job)%>
                            <div class="home_job_block border_home">
                                <div class="home_job_company">
                                    <div class="home_job_avatar">
                                        <%if verified_job(company_job) && company.present? && company.avatar?%>
                                            <%= link_to (image_tag(company.avatar.thumb.url)), image_path(url_for(company.avatar.thumb.url)), rel: "gallery" , :href => company_path(company), target: :_blank%>
                                        <%elsif company_job.company_avatar && check_exist_url(company_job.company_avatar)%>
                                            <%= image_tag(company_job.company_avatar)%>
                                        <%else%>
                                            <%= image_tag("defaults/company_avatar_default.svg")%>
                                        <%end%>
                                    </div>

                                    <div class="home_job_company_right">
                                        <div class="home_job_company_name">
                                            <%if verified_job(company_job)%>
                                                <a><%= link_to (company.name), company_path(company), target: :_blank%> </a>
                                            <%else%>
                                                <a><%= company_job.company_name%> </a>
                                            <%end%>
                                        </div>
                                        <div class="home_job_created_at">
                                            <%if company_job.sponsor || verified_job(company_job) || company_job.urgent%>
                                                <a><%= time_ago_in_words(company_job.created_at) %>
                                                    <%if company_job.urgent > 0%>
                                                        <span class="home_job_urgent"><%=t(:hot).upcase%></span>
                                                    <%elsif verified_job(company_job)%>
                                                        <span class="home_job_easy_apply"><%=t(:apply_fast)%></span>
                                                    <%end%>
                                                </a>
                                            <%else%>
                                                <a><%= time_ago_in_words(company_job.created_at) %> </a>
                                            <%end%>
                                        </div>
                                    </div>
                                </div>

                                <div class="home_job_info">
                                    <div class="home_job_title">
                                        <a><%= link_to (company_job.title.titleize), company_job_path(company_job), target: :_blank %></a>
                                    </div>

                                    <div class="home_job_location">
                                        <a><i class="material-icons-outlined">location_on</i><%= truncate(strip_tags(find_job_location(company_job.location)), length: 100)%></a>
                                    </div>

                                    <div class="home_job_salary">
                                        <%if !company_job.salary.to_s.blank?%>
                                            <a><i class="material-icons-outlined">monetization_on</i><%= truncate(strip_tags(company_job.salary.to_s), length: 100)%></a>
                                        <%else%>
                                            <a><i class="material-icons-outlined">monetization_on</i><%=t(:updating)%></a>
                                        <%end%>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <%end%>
                </div>
            </div>
        </div>
    </div>

    <div class="home_explorer_container">
        <div class="container">
            <div class="home_explorer_label">
                <a><%=t(:firework_explore)%></a>
            </div>
            <div class="home_explorer_block">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="home_explorer_section">
                            <div class="home_explorer_img">
                                <svg width="70px" height="70px" fill=#1473e6 version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 475 475" style="enable-background:new 0 0 475 475;" xml:space="preserve">
                                    <g transform="translate(0 -540.36)">
                                        <g>
                                            <g>
                                                <path d="M281.713,726.86c-4.1,0-7.5,3.4-7.5,7.5v80.2h-155.7v-80.2c0-4.1-3.4-7.5-7.5-7.5c-4.1,0-7.5,3.4-7.5,7.5v87.7
                                                    c0,4.1,3.4,7.5,7.5,7.5h170.7c4.2,0,7.5-3.3,7.5-7.5v-87.7C289.213,730.26,285.813,726.86,281.713,726.86z"/>
                                                <path d="M196.812,726.36L196.812,726.36c22.9,0,40.8-17.9,40.9-40.9c0-23.3-18-41.6-40.9-41.6c-11.1,0-21.5,4.2-29.3,11.9
                                                    c-7.9,7.8-12.3,18.4-12.3,29.7C155.213,708.06,173.812,726.36,196.812,726.36z M196.812,658.96c14.7,0,25.8,11.4,25.9,26.6
                                                    c0,14.5-11.4,25.9-25.9,25.9c-14.7,0-26.6-11.6-26.6-25.9C170.213,670.66,181.913,658.96,196.812,658.96z"/>
                                                <path d="M472.813,1002.56L472.813,1002.56l-132.4-132.4c33.8-36.4,52.4-83.7,52.4-133.8c0-108.1-88.3-196-196.8-196
                                                    c-108.1,0-196,87.9-196,196c0,108.5,87.9,196.8,196,196.8c50.1,0,97.4-18.5,133.8-52.4l132.4,132.4c1.5,1.5,3.4,2.2,5.3,2.2
                                                    c1.9,0,3.8-0.7,5.3-2.2C475.712,1010.26,475.712,1005.46,472.813,1002.56z M196.012,918.16c-99.8,0-181-81.5-181-181.8
                                                    c0-99.8,81.2-181,181-181c100.2,0,181.8,81.2,181.8,181C377.813,836.56,296.213,918.16,196.012,918.16z"/>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                            <div class="home_explorer_section_label">
                                <a><%=t(:job_search)%></a>
                            </div>
                            <div class="home_explorer_detail">
                                <span><%=t(:home_job_detail)%></span>
                            </div>
                            <div class="home_explorer_btn">
                                <%= link_to jobs_search_path do%>
                                    <%=t(:read_more)%>
                                    <i class="material-icons-outlined">arrow_forward</i>
                                <%end%>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="home_explorer_section">
                            <div class="home_explorer_img">
                                <svg width="70px" height="70px" fill=#1473e6 version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 496 496" style="enable-background:new 0 0 496 496;" xml:space="preserve">
                                    <path d="M496,112C496,50.24,445.76,0,384,0H112C50.24,0,0,50.24,0,112s50.24,112,112,112h21.984
                                        C104.56,253.784,88,293.552,88,336c0,88.224,71.776,160,160,160s160-71.776,160-160c0-42.448-16.56-82.216-45.984-112H384
                                        C445.76,224,496,173.76,496,112z M320,460.512C298.792,472.832,274.24,480,248,480s-50.792-7.168-72-19.488V440
                                        c0-39.696,32.296-72,72-72s72,32.304,72,72V460.512z M392,336c0,46.248-22.008,87.36-56,113.728V440c0-48.52-39.48-88-88-88
                                        c-48.52,0-88,39.48-88,88v9.728c-33.992-26.368-56-67.48-56-113.728c0-43.8,19.592-84.448,53.8-112h45.048
                                        C186.496,237.208,176,257.392,176,280c0,39.696,32.296,72,72,72s72-32.304,72-72c0-22.608-10.496-42.792-26.848-56H338.2
                                        C372.408,251.552,392,292.2,392,336z M248,224c30.872,0,56,25.12,56,56s-25.128,56-56,56s-56-25.12-56-56S217.128,224,248,224z
                                        M112,208c-52.936,0-96-43.064-96-96s43.064-96,96-96h272c52.936,0,96,43.064,96,96c0,52.936-43.064,96-96,96H112z"/>
                                    <path d="M392,149.88l44.528,23.416l-8.504-49.592l36.04-35.12l-49.8-7.232L392,36.232l-22.264,45.12L320,88.576l-49.736-7.224
                                        L248,36.232l-22.264,45.12L176,88.576l-49.736-7.224L104,36.232l-22.264,45.12l-49.8,7.232l36.04,35.12l-8.504,49.592L104,149.88
                                        l44.528,23.416l-8.504-49.592L176,88.648l35.976,35.064l-8.504,49.592L248,149.88l44.528,23.416l-8.504-49.592L320,88.648
                                        l35.976,35.064l-8.504,49.592L392,149.88z M122.832,118.12l4.448,25.928L104,131.808l-23.28,12.24l4.448-25.928l-18.84-18.36
                                        l26.032-3.784L104,72.392l11.64,23.584l26.032,3.784L122.832,118.12z M266.84,118.12l4.448,25.928L248,131.808l-23.28,12.24
                                        l4.448-25.928l-18.84-18.36l26.032-3.784L248,72.392l11.64,23.584l26.032,3.784L266.84,118.12z M354.336,99.76l26.024-3.784
                                        L392,72.392l11.64,23.584l26.032,3.784l-18.832,18.36l4.448,25.928L392,131.808l-23.28,12.24l4.448-25.928L354.336,99.76z"/>
                                </svg>
                            </div>
                            <div class="home_explorer_section_label">
                                <a><%=t(:company_review)%></a>
                            </div>
                            <div class="home_explorer_detail">
                                <span><%=t(:home_company_review_detail)%></span>
                            </div>
                            <div class="home_explorer_btn">
                                <%= link_to companies_path do%>
                                    <%=t(:read_more)%>
                                    <i class="material-icons-outlined">arrow_forward</i>
                                <%end%>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="home_explorer_section">
                            <div class="home_explorer_img">
                                <svg width="70px" height="70px" fill=#1473e6 version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                                    <g>
                                        <g>
                                            <path d="M453.708,186.943H288.512c0.569-3.022,0.869-6.105,0.869-9.245V76.216c0-27.432-22.317-49.748-49.748-49.748H49.737
                                                C22.311,26.468,0,48.784,0,76.216v101.482c0,27.425,22.311,49.736,49.737,49.736h29.221l-1.577,36.738
                                                c-0.142,3.315,1.577,6.432,4.457,8.079c1.367,0.782,2.886,1.171,4.405,1.171c1.679,0,3.356-0.477,4.819-1.424l68.856-44.565h8.724
                                                c-1.802,5.611-2.786,11.585-2.786,17.786v122.676c0,32.134,26.143,58.278,58.278,58.278h25.178l55.514,56.695
                                                c1.697,1.734,3.993,2.664,6.337,2.664c0.985,0,1.978-0.164,2.94-0.503c3.25-1.142,5.544-4.063,5.884-7.491l5.097-51.365h128.625
                                                c32.143,0,58.292-26.144,58.292-58.278V245.22C512,213.085,485.85,186.943,453.708,186.943z M177.98,209.696h-20.683
                                                c-1.71,0-3.383,0.494-4.819,1.424l-56.639,36.658l1.238-28.832c0.104-2.416-0.784-4.769-2.456-6.516
                                                c-1.673-1.747-3.986-2.734-6.404-2.734H49.738c-17.645,0-32.001-14.354-32.001-31.998V76.216c0-17.651,14.356-32.01,32-32.01
                                                h189.898c17.651,0,32.01,14.36,32.01,32.01v101.482c0,3.177-0.459,6.27-1.36,9.245h-46.152
                                                C205.362,186.943,188.647,195.872,177.98,209.696z M494.264,367.895c0,22.354-18.193,40.541-40.555,40.541H317.05
                                                c-4.559,0-8.376,3.456-8.826,7.994l-4.013,40.459l-44.834-45.788c-1.667-1.704-3.952-2.664-6.336-2.664h-28.906
                                                c-22.354,0-40.541-18.187-40.541-40.541V245.22c0-22.354,18.187-40.54,40.541-40.54h229.575v-0.001
                                                c22.362,0,40.555,18.186,40.555,40.54V367.895z"/>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path d="M183.31,93.756c-1.206-19.413-16.755-34.962-36.168-36.167c-10.807-0.668-21.086,3.028-28.949,10.418
                                                c-7.754,7.287-12.199,17.566-12.199,28.201c-0.001,4.9,3.968,8.87,8.868,8.87s8.869-3.971,8.869-8.869
                                                c0-5.846,2.347-11.27,6.609-15.277c4.258-4.002,9.836-6.005,15.702-5.641c10.329,0.641,18.922,9.234,19.564,19.562
                                                c0.484,7.802-3.346,15.177-9.997,19.249c-12.391,7.585-19.789,20.693-19.789,35.065c0,4.898,3.97,8.869,8.869,8.869
                                                s8.869-3.971,8.869-8.869c0-8.149,4.229-15.601,11.312-19.937C177.135,121.723,184.202,108.129,183.31,93.756z"/>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path d="M338.925,240.4c-4.899,0-8.869,3.971-8.869,8.869v75.063c0,4.898,3.971,8.869,8.869,8.869
                                                c4.899,0,8.869-3.971,8.869-8.869v-75.063C347.793,244.371,343.824,240.4,338.925,240.4z"/>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <circle cx="338.916" cy="364.068" r="8.869"/>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <circle cx="144.679" cy="182.046" r="8.869"/>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                            <div class="home_explorer_section_label">
                                <a><%=t(:interview_question)%></a>
                            </div>
                            <div class="home_explorer_detail">
                                <span><%=t(:home_interview_detail)%></span>
                            </div>
                            <div class="home_explorer_btn">
                                <%= link_to problems_path do%>
                                    <%=t(:read_more)%>
                                    <i class="material-icons-outlined">arrow_forward</i>
                                <%end%>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="home_explorer_section">
                            <div class="home_explorer_img">
                                <svg width="70px" height="70px" fill=#1473e6 version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                                    <g>
                                        <g>
                                            <path d="M503.037,116.9H143.412c-4.95,0-8.963,4.013-8.963,8.963v260.273c0,4.95,4.013,8.963,8.963,8.963h280.663
                                                c4.95,0,8.963-4.013,8.963-8.963c0-4.95-4.013-8.963-8.963-8.963H166.869l121.955-109.147l28.423,25.438
                                                c1.702,1.523,3.839,2.284,5.977,2.284c2.138,0,4.276-0.761,5.977-2.284l28.419-25.434l121.952,109.143h-25.619
                                                c-4.95,0-8.963,4.013-8.963,8.963c0,4.95,4.013,8.963,8.963,8.963h49.084c4.95,0,8.963-4.013,8.963-8.963V125.863
                                                C512,120.913,507.987,116.9,503.037,116.9z M323.224,274.757l-86.268-77.204c-3.688-3.301-9.355-2.988-12.656,0.702
                                                c-3.301,3.689-2.988,9.355,0.702,12.657l50.381,45.087L152.375,366.088V145.915l49.783,44.553c1.71,1.531,3.846,2.284,5.974,2.284
                                                c2.461,0,4.912-1.007,6.682-2.985c3.301-3.689,2.988-9.355-0.702-12.656l-47.245-42.281h312.713L323.224,274.757z
                                                M494.074,366.094L371.062,256.001l123.011-110.088V366.094z"/>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path d="M102.775,148.446h-69.91c-4.95,0-8.963,4.013-8.963,8.963c0,4.95,4.013,8.963,8.963,8.963h69.91
                                                c4.95,0,8.963-4.013,8.963-8.963C111.738,152.459,107.725,148.446,102.775,148.446z"/>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path d="M108.75,273.925H44.816c-4.95,0-8.963,4.013-8.963,8.963c0,4.95,4.013,8.963,8.963,8.963h63.934
                                                c4.95,0,8.963-4.013,8.963-8.963C117.714,277.938,113.7,273.925,108.75,273.925z"/>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path d="M84.848,220.148H8.963c-4.95,0-8.963,4.013-8.963,8.963s4.013,8.963,8.963,8.963h75.885c4.95,0,8.963-4.013,8.963-8.963
                                                S89.798,220.148,84.848,220.148z"/>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path d="M84.848,345.628h-7.351c-4.95,0-8.963,4.013-8.963,8.963c0,4.95,4.013,8.963,8.963,8.963h7.351
                                                c4.95,0,8.963-4.013,8.963-8.963C93.812,349.641,89.798,345.628,84.848,345.628z"/>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path d="M47.62,345.628H8.963c-4.95,0-8.963,4.013-8.963,8.963c0,4.95,4.013,8.963,8.963,8.963H47.62
                                                c4.95,0,8.963-4.013,8.963-8.963C56.583,349.641,52.57,345.628,47.62,345.628z"/>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                            <div class="home_explorer_section_label">
                                <a><%=t(:post_job)%></a>
                            </div>
                            <div class="home_explorer_detail">
                                <span><%=t(:home_post_job_detail)%></span>
                            </div>
                            <div class="home_explorer_btn">
                                <%= link_to employer_wellcome_path do%>
                                    <%=t(:read_more)%>
                                    <i class="material-icons-outlined">arrow_forward</i>
                                <%end%>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="home_signup_container">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <div class="home_signup_label">
                        <h3><i class="material-icons-outlined">notifications_active</i><%=t(:home_login_intro)%></h3>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="home_signup_block">
                                <button><%= link_to t(:signup), new_user_registration_path %></button>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="home_signin_block">
                                <button><%= link_to t(:signin), new_user_session_path %></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
