<div class="home_page">
    <div class='home_search_bar'>
        <div class="container">
            <div class='row'>
                <div class='col-sm-5'>
                    <div class="home_search_left_block">
                        <div class="home_search_bar_label">
                            <h3>Nơi bạn tìm thấy <span class="textbox">công việc</span> mơ ước.</h3>
                            <script>
                                $(document).ready(function() {
                                // List your words here:
                                var words = [
                                    'công ty',
                                    'công việc',
                                    'công ty',
                                    ], i = 0;

                                setInterval(function(){
                                    $('.textbox').fadeOut(500, function(){
                                        $(this).html(words[i=(i+1)%words.length]).fadeIn(500);
                                    });
                                }, 5000);

                                });
                            </script>
                            <a>Nền tảng đánh giá công ty, chia sẻ kinh nghiệm tìm việc và giải đáp câu hỏi phỏng vấn trong tìm kiếm việc làm</a>
                        </div>
                        
                        <%=form_tag jobs_search_path, :method => "get" do%>
                            <div class="home_search_input">
                                <div class="home_search_what">
                                    <i class="material-icons-outlined">search</i>
                                    <%= text_field_tag :search, params[:search], required: true, class: 'form-control', placeholder: "Tìm kiếm công việc, công ty..."%>
                                </div>
                                <div class="home_search_where">
                                    <i class="material-icons-outlined">place</i></button>
                                    <%= select_tag :location, options_for_select(['Hà Nội','TP Hồ Chí Minh','Đà Nẵng','An Giang','Bà Rịa Vũng Tàu','Bạc Liêu','Bắc Kạn','Bắc Giang',
                                                                'Bắc Ninh','Bến Tre','Bình Dương','Bình Định','Bình Phước',
                                                                'Bình Thuận','Cà Mau','Cao Bằng','Cần Thơ','Đắk Lắk','Đắk Nông','Điện Biên',
                                                                'Đồng Nai','Đồng Tháp','Gia Lai','Hà Giang','Hà Nam','Hà Tây','Hà Tĩnh',
                                                                'Hải Dương','Hải Phòng','Hòa Bình','Hậu Giang','Hưng Yên','Khánh Hòa',
                                                                'Kiên Giang','Kon Tum','Lai Châu','Lào Cai',
                                                                'Lạng Sơn','Lâm Đồng','Long An','Nam Định','Nghệ An',
                                                                'Ninh Bình','Ninh Thuận','Phú Thọ','Phú Yên','Quảng Bình',
                                                                'Quảng Nam','Quảng Ngãi','Quảng Ninh','Quảng Trị',
                                                                'Sóc Trăng','Sơn La','Tây Ninh','Thái Bình','Thái Nguyên' ,
                                                                'Thanh Hóa','Thừa Thiên Huế','Tiền Giang','Trà Vinh',
                                                                'Tuyên Quang','Vĩnh Long','Vĩnh Phúc','Yên Bái' ]), {:prompt => "Tất cả địa điểm", class: 'form-select'}%>
                                </div>
                                <div class="home_search_button">
                                    <%= button_to "", form_class: "search_button", :name => nil do%>
                                        <a>Tìm kiếm</a>
                                    <%end%> 
                                </div>
                            </div>
                        <%end%>
                    </div>
                </div>
                <div class='col-sm-7'>
                    <div class="home_search_right_block">
                        <%=image_tag("others/back_ground.jpg")%>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="home_top_company">
            <div class="home_top_company_label">
                <a>Công ty được yêu thích</a>
            </div>
            <div class="row">
                <% @companies.first(6).each do |company| %>
                    <div class="col-sm-4">
                        <%=render company%>
                    </div>
                <%end%>
            </div>
            <div class="home_top_company_all">
                <%= link_to '<button type="submit"> Xem tất cả công ty <i class="material-icons-outlined">arrow_forward</i></button>'.html_safe, companies_path %>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="home_top_job_home">
            <div class="home_top_job_home_label">
                <a>Việc làm mới dành cho bạn</a>
            </div>
            
            <div class="home_top_job_home_container">
                <div class="row">
                    <%@company_jobs.first(8).each do |company_job|%>
                        <div class="col-sm-6 col-no-padding">
                            <%=render company_job%>
                        </div>
                    <%end%>
                </div>
            </div>

            <div class="home_top_job_all">
                <%= link_to '<button type="submit"> Xem tất cả việc làm <i class="material-icons-outlined">arrow_forward</i></button>'.html_safe, jobs_path %>
            </div>
        </div>
    </div>
    
    <div class="home_top_question">
        <div class="container">
            <div class="home_top_question_label">
                <a>Câu hỏi phỏng vấn đang được quan tâm</a>
            </div>
            <div class="home_top_question_container">
                <div class="row">
                    <% @problems.first(6).each do |problem| %>
                        <div class="col-sm-4">
                            <%=render problem%>
                        </div>
                    <%end%>
                </div>
            </div>
            <div class="home_top_question_all">
                <%= link_to '<button type="submit"> Xem tất cả câu hỏi <i class="material-icons-outlined">arrow_forward</i></button>'.html_safe, problems_path %>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="home_top_blog">
            <div class="home_top_blog_label">
                <a>Bài viết mới</a>
            </div>

            <div class="row">
                <% @posts.first(4).each do |post| %>
                    <div class="col-sm-6">
                        <%=render post%>
                    </div>
                <%end%>
            </div>
        </div>
    </div>
</div>
