<% content_for :meta_robots, "all" %>
<div class="home_page">
    <div class='home_search_bar'>
        <div class="container">
            <div class='row justify-content-md-center'>
                <div class='col-sm-9'>
                    <div class="home_search_block">
                        <div class="home_search_bar_label">
                            <h3>Nơi bạn tìm thấy <span class="textbox">công việc</span> mơ ước.</h3>
                            <script>
                                $(document).ready(function() {
                                // List your words here:
                                var words = [
                                    'công ty',
                                    'công việc',
                                    'công ty',
                                    ], i = 0;

                                setInterval(function(){
                                    $('.textbox').fadeOut(500, function(){
                                        $(this).html(words[i=(i+1)%words.length]).fadeIn(500);
                                    });
                                }, 5000);

                                });
                            </script>
                        </div>
                        
                        <%=form_tag jobs_search_path, :method => "get" do%>
                            <div class="home_search_input">
                                <div class='row'>
                                    <div class='col-sm-7'>
                                        <div class="home_search_what">
                                            <i class="material-icons-outlined">search</i>
                                            <%= text_field_tag :search, params[:search], required: true, class: 'form-control', placeholder: "Tìm kiếm công việc, công ty..."%>
                                        </div>
                                    </div>
                                    <div class='col-sm-3'>
                                        <div class="home_search_where">
                                            <i class="material-icons-outlined">place</i></button>
                                            <%= select_tag :location, options_for_select(['Hà Nội','TP Hồ Chí Minh','Đà Nẵng','An Giang','Bà Rịa Vũng Tàu','Bạc Liêu','Bắc Kạn','Bắc Giang',
                                                                        'Bắc Ninh','Bến Tre','Bình Dương','Bình Định','Bình Phước',
                                                                        'Bình Thuận','Cà Mau','Cao Bằng','Cần Thơ','Đắk Lắk','Đắk Nông','Điện Biên',
                                                                        'Đồng Nai','Đồng Tháp','Gia Lai','Hà Giang','Hà Nam','Hà Tây','Hà Tĩnh',
                                                                        'Hải Dương','Hải Phòng','Hòa Bình','Hậu Giang','Hưng Yên','Khánh Hòa',
                                                                        'Kiên Giang','Kon Tum','Lai Châu','Lào Cai',
                                                                        'Lạng Sơn','Lâm Đồng','Long An','Nam Định','Nghệ An',
                                                                        'Ninh Bình','Ninh Thuận','Phú Thọ','Phú Yên','Quảng Bình',
                                                                        'Quảng Nam','Quảng Ngãi','Quảng Ninh','Quảng Trị',
                                                                        'Sóc Trăng','Sơn La','Tây Ninh','Thái Bình','Thái Nguyên' ,
                                                                        'Thanh Hóa','Thừa Thiên Huế','Tiền Giang','Trà Vinh',
                                                                        'Tuyên Quang','Vĩnh Long','Vĩnh Phúc','Yên Bái' ]), {:prompt => "Tất cả địa điểm", class: 'form-select'}%>
                                        </div>
                                    </div>
                                    <div class='col-sm-2'>
                                        <div class="home_search_button">
                                            <%= button_to "", form_class: "search_button", :name => nil do%>
                                                <a>Tìm kiếm</a>
                                            <%end%> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <%end%>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="home_explorer_container">
        <div class="container">
            <div class="home_explorer_label">
                <h3>Khám phá Firework</h3>
            </div>
            <div class="home_explorer_block">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-6">
                                <div class="home_explorer_section">
                                    <div class="home_explorer_img">
                                        <%= link_to (image_tag("icons/home_find_job.png")), image_path(url_for("icons/home_find_job.png")), rel: "gallery" , :href => jobs_path%>
                                    </div>
                                    <div class="home_explorer_btn">
                                        <%= link_to '<button type="submit">Tìm kiếm việc làm</button>'.html_safe, jobs_path%>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="home_explorer_section">
                                    <div class="home_explorer_img">
                                        <%= link_to (image_tag("icons/home_review_company.png")), image_path(url_for("icons/home_review_company.png")), rel: "gallery" , :href => companies_path%>
                                    </div>
                                    <div class="home_explorer_btn">
                                        <%= link_to '<button type="submit">Review công ty</button>'.html_safe, companies_path%>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-6">
                                <div class="home_explorer_section">
                                    <div class="home_explorer_img">
                                        <%= link_to (image_tag("icons/home_interview.png")), image_path(url_for("icons/home_interview.png")), rel: "gallery" , :href => problems_path%>
                                    </div>
                                    <div class="home_explorer_btn">
                                        <%= link_to '<button type="submit">Câu hỏi phỏng vấn</button>'.html_safe, problems_path%>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="home_explorer_section">
                                    <div class="home_explorer_img">
                                        <%= link_to (image_tag("icons/home_recruiment.png")), image_path(url_for("icons/home_recruiment.png")), rel: "gallery" , :href => employer_wellcome_path%>
                                    </div>
                                    <div class="home_explorer_btn">
                                        <%= link_to '<button type="submit">Đăng tin tuyển dụng</button>'.html_safe, employer_wellcome_path%>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="home_signup_container">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <div class="home_signup_label">
                        <h3><i class="material-icons-outlined">notifications_active</i>Tạo tài khoản để không bỏ lỡ hàng ngàn cơ hội việc làm mỗi ngày</h3>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="row">
                        <div class="col-6">
                            <div class="home_signup_block">
                                <%= link_to '<button type="submit"> <span> Tạo tài khoản mới</span> </button>'.html_safe, new_user_registration_path %>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="home_signin_block">
                                <%= link_to '<button type="submit"> <span> Đăng nhập</span> </button>'.html_safe, new_user_session_path %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
