<div class="our_product_container">
    <div class="container">
        <div class="our_product_bar">
            <div class="our_product_bar_label">
                <h3><%=t(:our_product_intro)%></h3>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="our_product_block">
        <div class="our_product_label">
            <a><%=t(:for_employee)%></a>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="our_product_section">
                    <div class="our_product_img">
                        <%= link_to (image_tag("icons/home_find_job.svg")), image_path(url_for("icons/home_find_job.svg")), rel: "gallery" , :href => jobs_search_path%>
                    </div>
                    <div class="our_product_btn">
                        <%= link_to t(:job), jobs_search_path%>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="our_product_section">
                    <div class="our_product_img">
                        <%= link_to (image_tag("icons/home_review_company.svg")), image_path(url_for("icons/home_review_company.svg")), rel: "gallery" , :href => companies_path%>
                    </div>
                    <div class="our_product_btn">
                        <%= link_to t(:company_review), companies_path%>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="our_product_section">
                    <div class="our_product_img">
                        <%= link_to (image_tag("icons/home_interview.svg")), image_path(url_for("icons/home_interview.svg")), rel: "gallery" , :href => problems_path%>
                    </div>
                    <div class="our_product_btn">
                        <%= link_to t(:interview_question), problems_path%>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="our_product_section">
                    <div class="our_product_img">
                        <%= link_to (image_tag("icons/our_product_cv.png")), image_path(url_for("icons/our_product_cv.png")), rel: "gallery" , :href => user_profile_path%>
                    </div>
                    <div class="our_product_btn">
                        <%= link_to t(:user_profile), user_profile_path%>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="our_product_block">
        <div class="our_product_label">
            <a><%=t(:for_employer)%></a>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="our_product_section">
                    <div class="our_product_img">
                        <%= link_to (image_tag("icons/home_recruiment.svg")), image_path(url_for("icons/home_recruiment.svg")), rel: "gallery" , :href => employer_mng_job_path%>
                    </div>
                    <div class="our_product_btn">
                        <%= link_to t(:post_job), employer_mng_job_path%>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="our_product_section">
                    <div class="our_product_img">
                        <%= link_to (image_tag("icons/our_product_find_cv.png")), image_path(url_for("icons/our_product_find_cv.png")), rel: "gallery" , :href => employer_find_cv_path%>
                    </div>
                    <div class="our_product_btn">
                        <%= link_to t(:find_cv), employer_find_cv_path%>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="our_product_section">
                    <div class="our_product_img">
                        <%= link_to (image_tag("icons/our_product_company.png")), image_path(url_for("icons/our_product_company.png")), rel: "gallery" , :href => employer_ad_path%>
                    </div>
                    <div class="our_product_btn">
                        <%= link_to t(:brand_ad), employer_ad_path%>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="our_product_section">
                    <div class="our_product_img">
                        <%= link_to (image_tag("icons/our_product_dashboard.png")), image_path(url_for("icons/our_product_dashboard.png")), rel: "gallery" , :href => employer_mng_job_path%>
                    </div>
                    <div class="our_product_btn">
                        <%= link_to t(:job_ad), employer_mng_job_path%>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>