<div class="our_product_container">
    <div class="container">
        <div class="our_product_bar">
            <div class="our_product_bar_label">
                <h3><%=t(:our_product_intro)%></h3>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="our_product_block">
        <div class="our_product_label">
            <a><%=t(:for_employee)%></a>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="our_product_section">
                    <div class="our_product_img">
                        <svg width="70px" height="70px" fill=#1473e6 version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 475 475" style="enable-background:new 0 0 475 475;" xml:space="preserve">
                            <g transform="translate(0 -540.36)">
                                <g>
                                    <g>
                                        <path d="M281.713,726.86c-4.1,0-7.5,3.4-7.5,7.5v80.2h-155.7v-80.2c0-4.1-3.4-7.5-7.5-7.5c-4.1,0-7.5,3.4-7.5,7.5v87.7
                                            c0,4.1,3.4,7.5,7.5,7.5h170.7c4.2,0,7.5-3.3,7.5-7.5v-87.7C289.213,730.26,285.813,726.86,281.713,726.86z"/>
                                        <path d="M196.812,726.36L196.812,726.36c22.9,0,40.8-17.9,40.9-40.9c0-23.3-18-41.6-40.9-41.6c-11.1,0-21.5,4.2-29.3,11.9
                                            c-7.9,7.8-12.3,18.4-12.3,29.7C155.213,708.06,173.812,726.36,196.812,726.36z M196.812,658.96c14.7,0,25.8,11.4,25.9,26.6
                                            c0,14.5-11.4,25.9-25.9,25.9c-14.7,0-26.6-11.6-26.6-25.9C170.213,670.66,181.913,658.96,196.812,658.96z"/>
                                        <path d="M472.813,1002.56L472.813,1002.56l-132.4-132.4c33.8-36.4,52.4-83.7,52.4-133.8c0-108.1-88.3-196-196.8-196
                                            c-108.1,0-196,87.9-196,196c0,108.5,87.9,196.8,196,196.8c50.1,0,97.4-18.5,133.8-52.4l132.4,132.4c1.5,1.5,3.4,2.2,5.3,2.2
                                            c1.9,0,3.8-0.7,5.3-2.2C475.712,1010.26,475.712,1005.46,472.813,1002.56z M196.012,918.16c-99.8,0-181-81.5-181-181.8
                                            c0-99.8,81.2-181,181-181c100.2,0,181.8,81.2,181.8,181C377.813,836.56,296.213,918.16,196.012,918.16z"/>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </div>
                    <div class="our_product_section_label">
                        <a><%=t(:job_search)%></a>
                    </div>
                    <div class="our_product_detail">
                        <span><%=t(:home_job_detail)%></span>
                    </div>
                    <div class="our_product_btn">
                        <%= link_to jobs_search_path do%>
                            <%=t(:read_more)%>
                            <i class="material-icons-outlined">arrow_forward</i>
                        <%end%>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="our_product_section">
                    <div class="our_product_img">
                        <svg width="70px" height="70px" fill=#1473e6 version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 496 496" style="enable-background:new 0 0 496 496;" xml:space="preserve">
                            <path d="M496,112C496,50.24,445.76,0,384,0H112C50.24,0,0,50.24,0,112s50.24,112,112,112h21.984
                                C104.56,253.784,88,293.552,88,336c0,88.224,71.776,160,160,160s160-71.776,160-160c0-42.448-16.56-82.216-45.984-112H384
                                C445.76,224,496,173.76,496,112z M320,460.512C298.792,472.832,274.24,480,248,480s-50.792-7.168-72-19.488V440
                                c0-39.696,32.296-72,72-72s72,32.304,72,72V460.512z M392,336c0,46.248-22.008,87.36-56,113.728V440c0-48.52-39.48-88-88-88
                                c-48.52,0-88,39.48-88,88v9.728c-33.992-26.368-56-67.48-56-113.728c0-43.8,19.592-84.448,53.8-112h45.048
                                C186.496,237.208,176,257.392,176,280c0,39.696,32.296,72,72,72s72-32.304,72-72c0-22.608-10.496-42.792-26.848-56H338.2
                                C372.408,251.552,392,292.2,392,336z M248,224c30.872,0,56,25.12,56,56s-25.128,56-56,56s-56-25.12-56-56S217.128,224,248,224z
                                M112,208c-52.936,0-96-43.064-96-96s43.064-96,96-96h272c52.936,0,96,43.064,96,96c0,52.936-43.064,96-96,96H112z"/>
                            <path d="M392,149.88l44.528,23.416l-8.504-49.592l36.04-35.12l-49.8-7.232L392,36.232l-22.264,45.12L320,88.576l-49.736-7.224
                                L248,36.232l-22.264,45.12L176,88.576l-49.736-7.224L104,36.232l-22.264,45.12l-49.8,7.232l36.04,35.12l-8.504,49.592L104,149.88
                                l44.528,23.416l-8.504-49.592L176,88.648l35.976,35.064l-8.504,49.592L248,149.88l44.528,23.416l-8.504-49.592L320,88.648
                                l35.976,35.064l-8.504,49.592L392,149.88z M122.832,118.12l4.448,25.928L104,131.808l-23.28,12.24l4.448-25.928l-18.84-18.36
                                l26.032-3.784L104,72.392l11.64,23.584l26.032,3.784L122.832,118.12z M266.84,118.12l4.448,25.928L248,131.808l-23.28,12.24
                                l4.448-25.928l-18.84-18.36l26.032-3.784L248,72.392l11.64,23.584l26.032,3.784L266.84,118.12z M354.336,99.76l26.024-3.784
                                L392,72.392l11.64,23.584l26.032,3.784l-18.832,18.36l4.448,25.928L392,131.808l-23.28,12.24l4.448-25.928L354.336,99.76z"/>
                        </svg>
                    </div>
                    <div class="our_product_section_label">
                        <a><%=t(:company_review)%></a>
                    </div>
                    <div class="our_product_detail">
                        <span><%=t(:home_company_review_detail)%></span>
                    </div>
                    <div class="our_product_btn">
                        <%= link_to companies_path do%>
                            <%=t(:read_more)%>
                            <i class="material-icons-outlined">arrow_forward</i>
                        <%end%>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="our_product_section">
                    <div class="our_product_img">
                        <svg width="70px" height="70px" fill=#1473e6 version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                            <g>
                                <g>
                                    <path d="M453.708,186.943H288.512c0.569-3.022,0.869-6.105,0.869-9.245V76.216c0-27.432-22.317-49.748-49.748-49.748H49.737
                                        C22.311,26.468,0,48.784,0,76.216v101.482c0,27.425,22.311,49.736,49.737,49.736h29.221l-1.577,36.738
                                        c-0.142,3.315,1.577,6.432,4.457,8.079c1.367,0.782,2.886,1.171,4.405,1.171c1.679,0,3.356-0.477,4.819-1.424l68.856-44.565h8.724
                                        c-1.802,5.611-2.786,11.585-2.786,17.786v122.676c0,32.134,26.143,58.278,58.278,58.278h25.178l55.514,56.695
                                        c1.697,1.734,3.993,2.664,6.337,2.664c0.985,0,1.978-0.164,2.94-0.503c3.25-1.142,5.544-4.063,5.884-7.491l5.097-51.365h128.625
                                        c32.143,0,58.292-26.144,58.292-58.278V245.22C512,213.085,485.85,186.943,453.708,186.943z M177.98,209.696h-20.683
                                        c-1.71,0-3.383,0.494-4.819,1.424l-56.639,36.658l1.238-28.832c0.104-2.416-0.784-4.769-2.456-6.516
                                        c-1.673-1.747-3.986-2.734-6.404-2.734H49.738c-17.645,0-32.001-14.354-32.001-31.998V76.216c0-17.651,14.356-32.01,32-32.01
                                        h189.898c17.651,0,32.01,14.36,32.01,32.01v101.482c0,3.177-0.459,6.27-1.36,9.245h-46.152
                                        C205.362,186.943,188.647,195.872,177.98,209.696z M494.264,367.895c0,22.354-18.193,40.541-40.555,40.541H317.05
                                        c-4.559,0-8.376,3.456-8.826,7.994l-4.013,40.459l-44.834-45.788c-1.667-1.704-3.952-2.664-6.336-2.664h-28.906
                                        c-22.354,0-40.541-18.187-40.541-40.541V245.22c0-22.354,18.187-40.54,40.541-40.54h229.575v-0.001
                                        c22.362,0,40.555,18.186,40.555,40.54V367.895z"/>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <path d="M183.31,93.756c-1.206-19.413-16.755-34.962-36.168-36.167c-10.807-0.668-21.086,3.028-28.949,10.418
                                        c-7.754,7.287-12.199,17.566-12.199,28.201c-0.001,4.9,3.968,8.87,8.868,8.87s8.869-3.971,8.869-8.869
                                        c0-5.846,2.347-11.27,6.609-15.277c4.258-4.002,9.836-6.005,15.702-5.641c10.329,0.641,18.922,9.234,19.564,19.562
                                        c0.484,7.802-3.346,15.177-9.997,19.249c-12.391,7.585-19.789,20.693-19.789,35.065c0,4.898,3.97,8.869,8.869,8.869
                                        s8.869-3.971,8.869-8.869c0-8.149,4.229-15.601,11.312-19.937C177.135,121.723,184.202,108.129,183.31,93.756z"/>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <path d="M338.925,240.4c-4.899,0-8.869,3.971-8.869,8.869v75.063c0,4.898,3.971,8.869,8.869,8.869
                                        c4.899,0,8.869-3.971,8.869-8.869v-75.063C347.793,244.371,343.824,240.4,338.925,240.4z"/>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <circle cx="338.916" cy="364.068" r="8.869"/>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <circle cx="144.679" cy="182.046" r="8.869"/>
                                </g>
                            </g>
                        </svg>
                    </div>
                    <div class="our_product_section_label">
                        <a><%=t(:interview_question)%></a>
                    </div>
                    <div class="our_product_detail">
                        <span><%=t(:home_interview_detail)%></span>
                    </div>
                    <div class="our_product_btn">
                        <%= link_to problems_path do%>
                            <%=t(:read_more)%>
                            <i class="material-icons-outlined">arrow_forward</i>
                        <%end%>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="our_product_section">
                    <div class="our_product_img">
                        <svg width="70px" height="70px" fill=#1473e6 version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 310.048 310.048" style="enable-background:new 0 0 310.048 310.048;" xml:space="preserve">
                            <g>
                                <g>
                                    <path style="fill:#1473e6;" d="M145.987,0.06c-0.288,0.016-0.566,0.087-0.843,0.152c-0.375,0.087-0.74,0.19-1.088,0.354
                                        c-0.261,0.12-0.5,0.277-0.74,0.435c-0.179,0.12-0.386,0.185-0.549,0.326l-95.94,83.103c-0.114,0.098-0.158,0.245-0.261,0.348
                                        c-0.305,0.31-0.549,0.658-0.767,1.023c-0.152,0.261-0.315,0.517-0.43,0.794c-0.163,0.419-0.228,0.859-0.283,1.311
                                        c-0.027,0.218-0.136,0.413-0.136,0.636v152.169c0,38.231,31.106,69.337,69.337,69.337h81.472
                                        c38.231,0,69.337-31.106,69.337-69.337V69.337C265.097,31.106,237.238,0,202.999,0h-56.67C146.21,0,146.107,0.054,145.987,0.06z
                                        M136.007,21.577l-21.163,73.27C101.659,78.97,85.102,76.103,71.744,77.24L136.007,21.577z M254.214,69.337v171.374
                                        c0,32.237-26.227,58.459-58.459,58.459h-81.472c-32.232,0-58.459-26.222-58.459-58.459V92.018
                                        c9.35-3.911,38.781-13.01,56.305,18.079c0.974,1.719,2.79,2.768,4.737,2.768c0.212,0,0.424-0.011,0.631-0.038
                                        c2.176-0.256,3.987-1.789,4.596-3.894l28.327-98.055h52.574C231.234,10.878,254.214,37.1,254.214,69.337z"/>
                                    <path style="fill:#1473e6;" d="M120.26,143.336c0,19.689,16.018,35.707,35.707,35.707s35.707-16.018,35.707-35.707
                                        s-16.018-35.707-35.707-35.707S120.26,123.641,120.26,143.336z M155.968,118.506c13.69,0,24.829,11.139,24.829,24.824
                                        c0,13.696-11.139,24.829-24.829,24.829s-24.829-11.139-24.829-24.829C131.139,129.646,142.278,118.506,155.968,118.506z"/>
                                    <path style="fill:#1473e6;" d="M155.952,186.185c-10.041,0-19.619,1.746-26.967,4.917l-25.536,11.02
                                        c-1.991,0.859-3.285,2.823-3.285,4.993v25.841c0,17.247,15.17,31.275,33.815,31.275h43.98c18.645,0,33.815-13.886,33.815-30.948
                                        v-25.509c0-2.132-1.246-4.063-3.176-4.944l-24.829-11.351C176.305,188.061,166.427,186.185,155.952,186.185z M200.895,233.281
                                        c0,11.068-10.291,20.07-22.937,20.07h-43.98c-12.646,0-22.937-9.154-22.937-20.396v-22.268l22.251-9.605
                                        c6.021-2.6,14.065-4.025,22.659-4.025c8.822,0,17.307,1.566,23.296,4.302l21.647,9.899V233.281z"/>
                                </g>
                            </g>
                        </svg>
                    </div>
                    <div class="our_product_section_label">
                        <a><%=t(:user_profile)%></a>
                    </div>
                    <div class="our_product_detail">
                        <span><%=t(:our_product_user_profile_detail)%></span>
                    </div>
                    <div class="our_product_btn">
                        <%= link_to user_profile_path do%>
                            <%=t(:read_more)%>
                            <i class="material-icons-outlined">arrow_forward</i>
                        <%end%>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="our_product_block">
        <div class="our_product_label">
            <a><%=t(:for_employer)%></a>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="our_product_section">
                    <div class="our_product_img">
                        <svg width="70px" height="70px" fill=#1473e6 version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                            <g>
                                <g>
                                    <path d="M503.037,116.9H143.412c-4.95,0-8.963,4.013-8.963,8.963v260.273c0,4.95,4.013,8.963,8.963,8.963h280.663
                                        c4.95,0,8.963-4.013,8.963-8.963c0-4.95-4.013-8.963-8.963-8.963H166.869l121.955-109.147l28.423,25.438
                                        c1.702,1.523,3.839,2.284,5.977,2.284c2.138,0,4.276-0.761,5.977-2.284l28.419-25.434l121.952,109.143h-25.619
                                        c-4.95,0-8.963,4.013-8.963,8.963c0,4.95,4.013,8.963,8.963,8.963h49.084c4.95,0,8.963-4.013,8.963-8.963V125.863
                                        C512,120.913,507.987,116.9,503.037,116.9z M323.224,274.757l-86.268-77.204c-3.688-3.301-9.355-2.988-12.656,0.702
                                        c-3.301,3.689-2.988,9.355,0.702,12.657l50.381,45.087L152.375,366.088V145.915l49.783,44.553c1.71,1.531,3.846,2.284,5.974,2.284
                                        c2.461,0,4.912-1.007,6.682-2.985c3.301-3.689,2.988-9.355-0.702-12.656l-47.245-42.281h312.713L323.224,274.757z
                                        M494.074,366.094L371.062,256.001l123.011-110.088V366.094z"/>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <path d="M102.775,148.446h-69.91c-4.95,0-8.963,4.013-8.963,8.963c0,4.95,4.013,8.963,8.963,8.963h69.91
                                        c4.95,0,8.963-4.013,8.963-8.963C111.738,152.459,107.725,148.446,102.775,148.446z"/>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <path d="M108.75,273.925H44.816c-4.95,0-8.963,4.013-8.963,8.963c0,4.95,4.013,8.963,8.963,8.963h63.934
                                        c4.95,0,8.963-4.013,8.963-8.963C117.714,277.938,113.7,273.925,108.75,273.925z"/>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <path d="M84.848,220.148H8.963c-4.95,0-8.963,4.013-8.963,8.963s4.013,8.963,8.963,8.963h75.885c4.95,0,8.963-4.013,8.963-8.963
                                        S89.798,220.148,84.848,220.148z"/>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <path d="M84.848,345.628h-7.351c-4.95,0-8.963,4.013-8.963,8.963c0,4.95,4.013,8.963,8.963,8.963h7.351
                                        c4.95,0,8.963-4.013,8.963-8.963C93.812,349.641,89.798,345.628,84.848,345.628z"/>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <path d="M47.62,345.628H8.963c-4.95,0-8.963,4.013-8.963,8.963c0,4.95,4.013,8.963,8.963,8.963H47.62
                                        c4.95,0,8.963-4.013,8.963-8.963C56.583,349.641,52.57,345.628,47.62,345.628z"/>
                                </g>
                            </g>
                        </svg>
                    </div>
                    <div class="our_product_section_label">
                        <a><%=t(:post_job)%></a>
                    </div>
                    <div class="our_product_detail">
                        <span><%=t(:home_post_job_detail)%></span>
                    </div>
                    <div class="our_product_btn">
                        <%= link_to employer_wellcome_path do%>
                            <%=t(:read_more)%>
                            <i class="material-icons-outlined">arrow_forward</i>
                        <%end%>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="our_product_section">
                    <div class="our_product_img">
                        <svg width="70px" height="70px" fill=#1473e6 version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                            <g>
                                <g>
                                    <g>
                                        <path d="M145.067,136.542h102.4c4.719,0,8.533-3.823,8.533-8.533s-3.814-8.533-8.533-8.533h-102.4
                                            c-4.719,0-8.533,3.823-8.533,8.533S140.348,136.542,145.067,136.542z"/>
                                        <path d="M196.267,273.075H128c-4.719,0-8.533,3.823-8.533,8.533c0,4.71,3.814,8.533,8.533,8.533h68.267
                                            c4.719,0,8.533-3.823,8.533-8.533C204.8,276.898,200.986,273.075,196.267,273.075z"/>
                                        <path d="M170.667,230.409c0-4.71-3.814-8.533-8.533-8.533h-51.2c-4.719,0-8.533,3.823-8.533,8.533s3.814,8.533,8.533,8.533h51.2
                                            C166.852,238.942,170.667,235.119,170.667,230.409z"/>
                                        <path d="M110.933,187.742H230.4c4.719,0,8.533-3.823,8.533-8.533c0-4.71-3.814-8.533-8.533-8.533H110.933
                                            c-4.719,0-8.533,3.823-8.533,8.533C102.4,183.919,106.214,187.742,110.933,187.742z"/>
                                        <path d="M264.533,273.075H230.4c-4.719,0-8.533,3.823-8.533,8.533c0,4.71,3.814,8.533,8.533,8.533h34.133
                                            c4.719,0,8.533-3.823,8.533-8.533C273.067,276.898,269.252,273.075,264.533,273.075z"/>
                                        <path d="M386.313,338.057c-3.328,3.328-3.328,8.738,0,12.066l18.108,18.108c1.664,1.673,3.849,2.5,6.033,2.5
                                            c2.176,0,4.361-0.828,6.033-2.5c3.328-3.328,3.328-8.73,0-12.066l-18.099-18.108
                                            C395.051,334.729,389.649,334.729,386.313,338.057z"/>
                                        <path d="M499.499,439.177l-59.802-59.793c-1.596-1.604-3.763-2.5-6.033-2.5h-0.008c-2.261,0-4.437,0.905-6.042,2.509
                                            l-24.064,24.201c-3.328,3.345-3.311,8.738,0.034,12.066c3.354,3.328,8.747,3.319,12.066-0.034l18.031-18.125l53.751,53.743
                                            c4.83,4.838,7.501,11.264,7.501,18.099s-2.671,13.269-7.501,18.099c-9.975,9.975-26.206,9.992-36.198,0.009l-101.12-101.12
                                            c-3.328-3.328-8.73-3.328-12.066,0c-3.328,3.337-3.328,8.738,0,12.075l101.12,101.111c8.311,8.32,19.234,12.476,30.157,12.476
                                            s21.862-4.164,30.174-12.476c8.055-8.064,12.501-18.773,12.501-30.174C512,457.95,507.554,447.232,499.499,439.177z"/>
                                        <path d="M409.6,204.809c0-112.922-91.878-204.8-204.8-204.8S0,91.887,0,204.809s91.878,204.8,204.8,204.8
                                            S409.6,317.73,409.6,204.809z M204.8,392.542c-103.518,0-187.733-84.215-187.733-187.733S101.282,17.075,204.8,17.075
                                            s187.733,84.215,187.733,187.733S308.318,392.542,204.8,392.542z"/>
                                        <path d="M204.8,34.142c-94.106,0-170.667,76.561-170.667,170.667S110.694,375.475,204.8,375.475s170.667-76.561,170.667-170.667
                                            S298.906,34.142,204.8,34.142z M204.8,358.409c-84.693,0-153.6-68.907-153.6-153.6s68.907-153.6,153.6-153.6
                                            s153.6,68.907,153.6,153.6S289.493,358.409,204.8,358.409z"/>
                                        <path d="M298.667,221.875h-102.4c-4.719,0-8.533,3.823-8.533,8.533s3.814,8.533,8.533,8.533h102.4
                                            c4.719,0,8.533-3.823,8.533-8.533S303.386,221.875,298.667,221.875z"/>
                                        <path d="M298.667,170.675h-34.133c-4.719,0-8.533,3.823-8.533,8.533c0,4.71,3.814,8.533,8.533,8.533h34.133
                                            c4.719,0,8.533-3.823,8.533-8.533C307.2,174.498,303.386,170.675,298.667,170.675z"/>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </div>
                    <div class="our_product_section_label">
                        <a><%=t(:employer_cv_search)%></a>
                    </div>
                    <div class="our_product_detail">
                        <span><%=t(:our_product_cv_search_detail)%></span>
                    </div>
                    <div class="our_product_btn">
                        <%= link_to employer_cv_search_path do%>
                            <%=t(:read_more)%>
                            <i class="material-icons-outlined">arrow_forward</i>
                        <%end%>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="our_product_section">
                    <div class="our_product_img">
                        <svg width="70px" height="70px" fill=#1473e6 version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 176 176" style="enable-background:new 0 0 176 176;" xml:space="preserve">
                            <path style="fill:#1473e6;" d="M155.706,176c-0.001,0-0.003,0-0.005,0l-65.411-0.125H20.294c-1.381,0-2.5-1.119-2.5-2.5V60.904
                                c0-1.381,1.119-2.5,2.5-2.5h34.911V2.5c0-1.381,1.119-2.5,2.5-2.5h98c1.381,0,2.5,1.119,2.5,2.5v171c0,0.664-0.264,1.3-0.734,1.77
                                C157.003,175.737,156.368,176,155.706,176z M92.794,170.88l60.411,0.115V5h-93v53.404h30.089c1.381,0,2.5,1.119,2.5,2.5V170.88z
                                M22.794,170.875h65V63.404h-65V170.875z M80.076,154.634H60.297c-1.381,0-2.5-1.119-2.5-2.5v-11.575c0-1.381,1.119-2.5,2.5-2.5
                                h19.779c1.381,0,2.5,1.119,2.5,2.5v11.575C82.576,153.515,81.457,154.634,80.076,154.634z M62.797,149.634h14.779v-6.575H62.797
                                V149.634z M50.292,154.634H30.513c-1.381,0-2.5-1.119-2.5-2.5v-11.575c0-1.381,1.119-2.5,2.5-2.5h19.779c1.381,0,2.5,1.119,2.5,2.5
                                v11.575C52.792,153.515,51.673,154.634,50.292,154.634z M33.013,149.634h14.779v-6.575H33.013V149.634z M138.714,153.35h-9.563
                                c-1.381,0-2.5-1.119-2.5-2.5v-10.392c0-1.381,1.119-2.5,2.5-2.5h9.563c1.381,0,2.5,1.119,2.5,2.5v10.392
                                C141.214,152.231,140.095,153.35,138.714,153.35z M131.652,148.35h4.563v-5.392h-4.563V148.35z M111.135,153.35h-9.563
                                c-1.381,0-2.5-1.119-2.5-2.5v-10.392c0-1.381,1.119-2.5,2.5-2.5h9.563c1.381,0,2.5,1.119,2.5,2.5v10.392
                                C113.635,152.231,112.516,153.35,111.135,153.35z M104.072,148.35h4.563v-5.392h-4.563V148.35z M80.076,132.017H60.297
                                c-1.381,0-2.5-1.119-2.5-2.5v-11.575c0-1.381,1.119-2.5,2.5-2.5h19.779c1.381,0,2.5,1.119,2.5,2.5v11.575
                                C82.576,130.897,81.457,132.017,80.076,132.017z M62.797,127.017h14.779v-6.575H62.797V127.017z M50.292,132.017H30.513
                                c-1.381,0-2.5-1.119-2.5-2.5v-11.575c0-1.381,1.119-2.5,2.5-2.5h19.779c1.381,0,2.5,1.119,2.5,2.5v11.575
                                C52.792,130.897,51.673,132.017,50.292,132.017z M33.013,127.017h14.779v-6.575H33.013V127.017z M138.714,128.439h-9.563
                                c-1.381,0-2.5-1.119-2.5-2.5v-10.391c0-1.381,1.119-2.5,2.5-2.5h9.563c1.381,0,2.5,1.119,2.5,2.5v10.391
                                C141.214,127.32,140.095,128.439,138.714,128.439z M131.652,123.439h4.563v-5.391h-4.563V123.439z M111.135,128.439h-9.563
                                c-1.381,0-2.5-1.119-2.5-2.5v-10.391c0-1.381,1.119-2.5,2.5-2.5h9.563c1.381,0,2.5,1.119,2.5,2.5v10.391
                                C113.635,127.32,112.516,128.439,111.135,128.439z M104.072,123.439h4.563v-5.391h-4.563V123.439z M80.076,109.399H60.297
                                c-1.381,0-2.5-1.119-2.5-2.5V95.324c0-1.381,1.119-2.5,2.5-2.5h19.779c1.381,0,2.5,1.119,2.5,2.5v11.575
                                C82.576,108.28,81.457,109.399,80.076,109.399z M62.797,104.399h14.779v-6.575H62.797V104.399z M50.292,109.399H30.513
                                c-1.381,0-2.5-1.119-2.5-2.5V95.324c0-1.381,1.119-2.5,2.5-2.5h19.779c1.381,0,2.5,1.119,2.5,2.5v11.575
                                C52.792,108.28,51.673,109.399,50.292,109.399z M33.013,104.399h14.779v-6.575H33.013V104.399z M138.714,103.528h-9.563
                                c-1.381,0-2.5-1.119-2.5-2.5V90.637c0-1.381,1.119-2.5,2.5-2.5h9.563c1.381,0,2.5,1.119,2.5,2.5v10.392
                                C141.214,102.409,140.095,103.528,138.714,103.528z M131.652,98.528h4.563v-5.392h-4.563V98.528z M111.135,103.528h-9.563
                                c-1.381,0-2.5-1.119-2.5-2.5V90.637c0-1.381,1.119-2.5,2.5-2.5h9.563c1.381,0,2.5,1.119,2.5,2.5v10.392
                                C113.635,102.409,112.516,103.528,111.135,103.528z M104.072,98.528h4.563v-5.392h-4.563V98.528z M80.076,86.781H60.297
                                c-1.381,0-2.5-1.119-2.5-2.5V72.706c0-1.381,1.119-2.5,2.5-2.5h19.779c1.381,0,2.5,1.119,2.5,2.5v11.576
                                C82.576,85.662,81.457,86.781,80.076,86.781z M62.797,81.781h14.779v-6.576H62.797V81.781z M50.292,86.781H30.513
                                c-1.381,0-2.5-1.119-2.5-2.5V72.706c0-1.381,1.119-2.5,2.5-2.5h19.779c1.381,0,2.5,1.119,2.5,2.5v11.576
                                C52.792,85.662,51.673,86.781,50.292,86.781z M33.013,81.781h14.779v-6.576H33.013V81.781z M138.714,78.617h-9.563
                                c-1.381,0-2.5-1.119-2.5-2.5V65.726c0-1.381,1.119-2.5,2.5-2.5h9.563c1.381,0,2.5,1.119,2.5,2.5v10.391
                                C141.214,77.498,140.095,78.617,138.714,78.617z M131.652,73.617h4.563v-5.391h-4.563V73.617z M111.135,78.617h-9.563
                                c-1.381,0-2.5-1.119-2.5-2.5V65.726c0-1.381,1.119-2.5,2.5-2.5h9.563c1.381,0,2.5,1.119,2.5,2.5v10.391
                                C113.635,77.498,112.516,78.617,111.135,78.617z M104.072,73.617h4.563v-5.391h-4.563V73.617z M138.714,53.707h-9.563
                                c-1.381,0-2.5-1.119-2.5-2.5V40.815c0-1.381,1.119-2.5,2.5-2.5h9.563c1.381,0,2.5,1.119,2.5,2.5v10.392
                                C141.214,52.587,140.095,53.707,138.714,53.707z M131.652,48.707h4.563v-5.392h-4.563V48.707z M111.135,53.707h-9.563
                                c-1.381,0-2.5-1.119-2.5-2.5V40.815c0-1.381,1.119-2.5,2.5-2.5h9.563c1.381,0,2.5,1.119,2.5,2.5v10.392
                                C113.635,52.587,112.516,53.707,111.135,53.707z M104.072,48.707h4.563v-5.392h-4.563V48.707z M83.555,53.707h-9.563
                                c-1.381,0-2.5-1.119-2.5-2.5V40.815c0-1.381,1.119-2.5,2.5-2.5h9.563c1.381,0,2.5,1.119,2.5,2.5v10.392
                                C86.055,52.587,84.936,53.707,83.555,53.707z M76.493,48.707h4.563v-5.392h-4.563V48.707z M138.714,28.795h-9.563
                                c-1.381,0-2.5-1.119-2.5-2.5V15.904c0-1.381,1.119-2.5,2.5-2.5h9.563c1.381,0,2.5,1.119,2.5,2.5v10.392
                                C141.214,27.676,140.095,28.795,138.714,28.795z M131.652,23.795h4.563v-5.392h-4.563V23.795z M111.135,28.795h-9.563
                                c-1.381,0-2.5-1.119-2.5-2.5V15.904c0-1.381,1.119-2.5,2.5-2.5h9.563c1.381,0,2.5,1.119,2.5,2.5v10.392
                                C113.635,27.676,112.516,28.795,111.135,28.795z M104.072,23.795h4.563v-5.392h-4.563V23.795z M83.555,28.795h-9.563
                                c-1.381,0-2.5-1.119-2.5-2.5V15.904c0-1.381,1.119-2.5,2.5-2.5h9.563c1.381,0,2.5,1.119,2.5,2.5v10.392
                                C86.055,27.676,84.936,28.795,83.555,28.795z M76.493,23.795h4.563v-5.392h-4.563V23.795z"/>
                            </svg>
                    </div>
                    <div class="our_product_section_label">
                        <a><%=t(:brand_ad)%></a>
                    </div>
                    <div class="our_product_detail">
                        <span><%=t(:our_product_brand_detail)%></span>
                    </div>
                    <div class="our_product_btn">
                        <%= link_to companies_path do%>
                            <%=t(:read_more)%>
                            <i class="material-icons-outlined">arrow_forward</i>
                        <%end%>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="our_product_section">
                    <div class="our_product_img">
                        <svg width="70px" height="70px" fill=#1473e6 version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 51.983 51.983" style="enable-background:new 0 0 51.983 51.983;" xml:space="preserve">
                            <g>
                                <path d="M45.257,22.339l-18.5-22c-0.381-0.452-1.15-0.452-1.531,0l-18.5,22c-0.25,0.297-0.305,0.713-0.141,1.066
                                    c0.164,0.352,0.518,0.578,0.906,0.578h8.486l4.199,25.196c0.262,1.572,1.716,2.804,3.312,2.804h5.005
                                    c1.595,0,3.05-1.231,3.313-2.804l4.198-25.196h8.487c0.389,0,0.742-0.226,0.906-0.578C45.562,23.052,45.507,22.636,45.257,22.339z
                                    M35.157,21.983c-0.489,0-0.906,0.354-0.986,0.835l-4.338,26.031c-0.101,0.604-0.727,1.133-1.34,1.133h-5.005
                                    c-0.613,0-1.238-0.529-1.339-1.133l-4.339-26.032c-0.08-0.482-0.497-0.835-0.986-0.835H9.639L25.991,2.536l16.353,19.446H35.157z"
                                    />
                            </g>
                        </svg>
                    </div>
                    <div class="our_product_section_label">
                        <a><%=t(:job_ad)%></a>
                    </div>
                    <div class="our_product_detail">
                        <span><%=t(:our_product_job_ad_detail)%></span>
                    </div>
                    <div class="our_product_btn">
                        <%= link_to employer_ad_path do%>
                            <%=t(:read_more)%>
                            <i class="material-icons-outlined">arrow_forward</i>
                        <%end%>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>