<% content_for :meta_robots, "all" %>
<div class="review_index">
    <div class="review_search">
        <div class="container">
            <div class='row justify-content-md-center'>
                <div class ="col-sm-8">
                    <div class="review_bar">
                        <div class="review_bar_label">
                            <h3><%=t(:review_search_title)%></h3>
                        </div>
                        
                        <%=form_tag review_path, :method => "get" do%>
                            <div class='row'>
                                <div class="col-sm-10 col_padding_customize_right">
                                    <div class="review_search_input">
                                        <i class="material-icons-outlined">search</i>
                                        <%= text_field_tag :search, params[:search], data: { behavior: "autocomplete" }, required: true, class: 'form-control', placeholder: t(:review_search_label)%>
                                    </div>
                                </div>
                                
                                <div class="col-sm-2 col_padding_customize_left">
                                    <div class="review_search_button">
                                        <%= button_to "", form_class: "search_button", :name => nil do%>
                                            <i class="material-icons-outlined">search</i>
                                            <a><%=t(:search)%></a>
                                        <%end%> 
                                    </div>
                                </div>
                            </div>
                        <%end%>

                        <script>
                            document.addEventListener("turbolinks:load", function() {
                                $input = $("[data-behavior='autocomplete']")

                                var options = {
                                    getValue: "name",
                                    url: function(phrase) {
                                        return "/companies.json?search=" + phrase;
                                    },
                                    categories: [
                                        {
                                            listLocation: "suggest_companies"
                                        },
                                    ],
                                    list: {
                                    onChooseEvent: function() {
                                            var url = $input.getSelectedItemData().url
                                            $input.val("")
                                            Turbolinks.visit(url)
                                        }
                                    }
                                }

                                $input.easyAutocomplete(options)
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <%if @is_company_searched == true%>
            <%if @company_searchs.total_count == 0%>
                <div class="company_search_not_found_block">
                    <div class="company_search_not_found_label">
                        <span><%=t(:company_search_not_found)%> "<%= params[:search]%>"</span>
                    </div>
                    <div class="company_search_not_found_image">
                        <%=image_tag("others/no_result_found.png")%>
                    </div>
                    <div class="company_search_not_found_help">
                        <a><%=t(:company_search_not_found_1)%>:</a>
                        <ul>
                            <li>
                                <%=t(:company_search_not_found_2)%>.
                            </li>

                            <li>
                                <%=t(:company_search_not_found_3)%>.
                            </li>
                        </ul>
                    </div>
                </div>
            <%end%>
        <%end%>

        <div class="review_highlight_container">
            <div class="review_highlight_title">
                <a><%=t(:review_title)%></a>
            </div>

            <div class="review_highlight_block">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="review_highlight_section">
                            <div class="review_highlight_img">
                                <svg width="70px" height="70px" fill=#1473e6 version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                    viewBox="0 0 491.52 491.52" style="enable-background:new 0 0 491.52 491.52;" xml:space="preserve">
                                <g>
                                    <g>
                                        <path d="M163.34,59.006c-1.065-3.28-3.715-5.805-7.045-6.715L114.34,40.836L90.48,4.476c-3.78-5.77-13.34-5.77-17.12,0
                                            l-23.855,36.36L7.545,52.291c-3.33,0.91-5.98,3.435-7.045,6.715c-1.065,3.285-0.405,6.88,1.75,9.57l27.215,33.93l-2.075,43.44
                                            c-0.165,3.45,1.42,6.745,4.21,8.775c1.775,1.29,3.89,1.955,6.02,1.955c1.22,0,2.45-0.22,3.625-0.665l40.675-15.395l40.68,15.395
                                            c3.225,1.225,6.855,0.74,9.645-1.29c2.79-2.03,4.375-5.325,4.21-8.775l-2.075-43.44l27.21-33.93
                                            C163.745,65.886,164.405,62.286,163.34,59.006z M115.975,92.716c-1.56,1.945-2.355,4.4-2.24,6.895l1.515,31.725l-29.705-11.245
                                            c-1.17-0.445-2.395-0.665-3.625-0.665c-1.23,0-2.455,0.22-3.625,0.665l-29.7,11.24l1.515-31.72c0.12-2.495-0.68-4.95-2.24-6.895
                                            L27.995,67.941l30.64-8.365c2.41-0.66,4.495-2.175,5.865-4.265l17.42-26.55l17.425,26.55c1.37,2.09,3.455,3.605,5.865,4.265
                                            l30.635,8.365L115.975,92.716z"/>
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <rect x="204.8" y="51.051" width="174.08" height="20.48"/>
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <rect x="204.8" y="102.251" width="286.72" height="20.48"/>
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <path d="M163.34,226.351c-1.07-3.28-3.715-5.805-7.045-6.715l-41.955-11.45l-23.86-36.36c-3.78-5.77-13.34-5.77-17.12,0
                                            l-23.855,36.36l-41.96,11.45c-3.33,0.91-5.975,3.435-7.045,6.715c-1.065,3.28-0.405,6.88,1.75,9.57l27.215,33.93l-2.075,43.44
                                            c-0.165,3.45,1.42,6.745,4.21,8.775c2.785,2.02,6.415,2.505,9.645,1.29l40.675-15.395l40.68,15.395
                                            c1.175,0.445,2.405,0.665,3.625,0.665c2.13,0,4.245-0.665,6.02-1.955c2.79-2.03,4.375-5.325,4.21-8.775l-2.075-43.44l27.21-33.93
                                            C163.745,233.231,164.405,229.631,163.34,226.351z M115.975,260.061c-1.56,1.945-2.355,4.4-2.24,6.895l1.515,31.725
                                            l-29.705-11.245c-1.17-0.445-2.395-0.665-3.625-0.665c-1.23,0-2.455,0.22-3.625,0.665l-29.7,11.24l1.515-31.72
                                            c0.12-2.495-0.68-4.95-2.24-6.895l-19.875-24.775l30.64-8.36c2.41-0.66,4.495-2.175,5.865-4.265l17.42-26.55l17.425,26.55
                                            c1.37,2.09,3.455,3.605,5.865,4.265l30.635,8.36L115.975,260.061z"/>
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <rect x="204.8" y="214.891" width="174.08" height="20.48"/>
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <rect x="204.8" y="266.091" width="286.72" height="20.48"/>
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <path d="M163.34,393.701c-1.07-3.28-3.715-5.805-7.045-6.715l-41.955-11.45l-23.86-36.365c-3.78-5.77-13.34-5.77-17.12,0
                                            l-23.855,36.365l-41.96,11.45c-3.33,0.91-5.975,3.435-7.045,6.715c-1.065,3.28-0.405,6.88,1.75,9.57l27.215,33.93l-2.075,43.44
                                            c-0.165,3.45,1.42,6.745,4.21,8.775c2.785,2.03,6.415,2.505,9.645,1.29l40.675-15.395l40.68,15.395
                                            c1.175,0.445,2.405,0.665,3.625,0.665c2.13,0,4.245-0.665,6.02-1.955c2.79-2.03,4.375-5.325,4.21-8.775l-2.075-43.44l27.21-33.93
                                            C163.745,400.581,164.405,396.981,163.34,393.701z M115.975,427.411c-1.56,1.945-2.355,4.4-2.24,6.895l1.515,31.725
                                            l-29.705-11.245c-1.17-0.445-2.395-0.665-3.625-0.665c-1.23,0-2.455,0.22-3.625,0.665l-29.7,11.24l1.515-31.72
                                            c0.12-2.495-0.68-4.95-2.24-6.895l-19.875-24.775l30.64-8.36c2.41-0.66,4.495-2.175,5.865-4.265l17.42-26.555l17.425,26.555
                                            c1.37,2.09,3.455,3.605,5.865,4.265l30.635,8.36L115.975,427.411z"/>
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <rect x="204.8" y="388.971" width="174.08" height="20.48"/>
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <rect x="204.8" y="440.171" width="286.72" height="20.48"/>
                                    </g>
                                </g>
                                </svg>
                            </div>
                            <div class="review_highlight_section_number">
                                <a>1.</a>
                            </div>
                            <div class="review_highlight_section_label">
                                <a><%=t(:review_title_box_1)%></a>
                            </div>
                            <div class="review_highlight_detail">
                                <span><%=t(:review_content_box_1)%></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="review_highlight_section">
                            <div class="review_highlight_img">
                                <svg width="70px" height="70px" fill=#1473e6 version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                    viewBox="0 0 511.784 511.784" style="enable-background:new 0 0 511.784 511.784;" xml:space="preserve">
                                <g>
                                    <g>
                                        <g>
                                            <rect x="116.968" y="157.104" width="16" height="39.168"/>
                                            <rect x="184.464" y="66.128" width="16" height="130.152"/>
                                            <rect x="252.04" y="0" width="16" height="196.28"/>
                                            <rect x="319.568" y="61.984" width="16" height="134.296"/>
                                            <rect x="387.104" y="125.192" width="16" height="71.088"/>
                                            <path d="M118.68,372.344l12.352,11.816l10.976-13.112L201,300.56l10.168-12.144l-12.048-10.288l-14.232-12.16L172.6,255.472
                                                l-10.376,12.392l-35.288,42.168l-7.08-6.776l-11.68-11.176L97.12,303.872l-12.816,13.68l-10.832,11.56l11.448,10.944
                                                L118.68,372.344z M108.792,314.816l19.44,18.592l46.264-55.272l14.232,12.16l-58.992,70.488l-33.76-32.288L108.792,314.816z"/>
                                            <rect x="225.024" y="293.776" width="213.288" height="16"/>
                                            <rect x="225.024" y="329.016" width="213.288" height="16"/>
                                            <path d="M184.896,393.592L172.6,383.096l-10.376,12.4l-35.28,42.16l-7.08-6.776l-11.68-11.176l-11.056,11.792l-12.816,13.68
                                                l-10.832,11.56l11.448,10.944l33.76,32.288l12.352,11.816l10.976-13.112l58.992-70.488l10.168-12.144l-12.048-10.288
                                                L184.896,393.592z M129.736,488.408l-33.76-32.288l12.816-13.68l19.44,18.592l46.264-55.272l14.232,12.16L129.736,488.408z"/>
                                            <rect x="225.024" y="421.4" width="213.288" height="16"/>
                                            <rect x="225.024" y="456.616" width="213.288" height="16"/>
                                        </g>
                                    </g>
                                </g>
                                </svg>
                            </div>
                            <div class="review_highlight_section_number">
                                <a>2.</a>
                            </div>
                            <div class="review_highlight_section_label">
                                <a><%=t(:review_title_box_2)%></a>
                            </div>
                            <div class="review_highlight_detail">
                                <span><%=t(:review_content_box_2)%></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="review_highlight_section">
                            <div class="review_highlight_img">
                                <svg width="70px" height="70px" fill=#1473e6 version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                    viewBox="0 0 511.999 511.999" style="enable-background:new 0 0 511.999 511.999;" xml:space="preserve">
                                <g>
                                    <g>
                                        <path d="M333.783,351.419H237.62c-4.397,0-7.959,3.563-7.959,7.959s3.562,7.959,7.959,7.959h88.204v48.513H186.179v-48.513h19.607
                                            c4.395,0,7.959-3.564,7.959-7.959s-3.563-7.959-7.959-7.959H178.22c-4.395,0-7.959,3.563-7.959,7.959v64.431
                                            c0,4.395,3.563,7.959,7.959,7.959h155.565c4.395,0,7.959-3.563,7.959-7.959v-64.431
                                            C341.742,354.983,338.179,351.419,333.783,351.419z"/>
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <path d="M285.724,103.101H226.28c-4.395,0-7.959,3.563-7.959,7.959s3.563,7.959,7.959,7.959h59.444
                                            c4.395,0,7.959-3.563,7.959-7.959S290.12,103.101,285.724,103.101z"/>
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <path d="M285.724,131.239H226.28c-4.395,0-7.959,3.563-7.959,7.959s3.563,7.959,7.959,7.959h59.444
                                            c4.395,0,7.959-3.564,7.959-7.959S290.12,131.239,285.724,131.239z"/>
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <path d="M285.724,159.376H226.28c-4.395,0-7.959,3.563-7.959,7.959c0,4.396,3.563,7.959,7.959,7.959h59.444
                                            c4.395,0,7.959-3.563,7.959-7.959C293.683,162.94,290.12,159.376,285.724,159.376z"/>
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <path d="M372.965,448.652V326.827c0-4.396-3.562-7.959-7.959-7.959h-33.129c-3.336-28.721-24.48-52.074-52.076-58.707V218.04
                                            l46.392,24.389c1.165,0.612,2.435,0.914,3.703,0.914c1.65,0,3.293-0.513,4.679-1.52c2.451-1.781,3.678-4.799,3.166-7.785
                                            l-13.405-78.159l56.785-55.353c2.169-2.115,2.95-5.277,2.014-8.158c-0.936-2.881-3.427-4.981-6.426-5.416l-78.476-11.404
                                            L263.139,4.437C261.797,1.72,259.031,0,256.002,0c-3.03,0-5.796,1.72-7.138,4.437l-35.096,71.112l-16.203,2.355
                                            c-4.35,0.631-7.364,4.67-6.732,9.02c0.631,4.35,4.669,7.368,9.02,6.731l20.344-2.956c2.593-0.377,4.834-2.005,5.993-4.354
                                            l29.811-60.402l29.81,60.402c1.159,2.348,3.4,3.977,5.993,4.354l66.658,9.686l-48.234,47.017
                                            c-1.876,1.828-2.732,4.463-2.289,7.044l11.387,66.389c0,0-43.778-23.016-43.781-23.017l-11.146-5.86
                                            c-3.908-2.055-7.637-4.701-12.103-2.468l-59.621,31.346l11.386-66.389c0.443-2.582-0.413-5.216-2.289-7.044l-48.234-47.017
                                            l14.603-2.122c4.35-0.631,7.364-4.67,6.732-9.02c-0.632-4.35-4.67-7.364-9.02-6.731l-30.561,4.441
                                            c-2.998,0.435-5.488,2.535-6.426,5.416c-0.936,2.881-0.155,6.045,2.014,8.158l56.786,55.353l-13.406,78.159
                                            c-0.511,2.986,0.715,6.004,3.167,7.785c2.451,1.78,5.701,2.014,8.381,0.606l46.392-24.39v42.122
                                            c-27.595,6.634-48.74,29.986-52.076,58.707h-33.13c-4.395,0-7.959,3.563-7.959,7.959v121.825
                                            c-28.248,2.634-50.435,26.464-50.435,55.389c0,4.396,3.563,7.959,7.959,7.959h233.776c4.395,0,7.959-3.563,7.959-7.959
                                            c0-4.395-3.563-7.959-7.959-7.959H105.32c3.695-18.103,19.742-31.764,38.921-31.764h2.755h218.009h2.756
                                            c19.178,0,35.225,13.661,38.92,31.764h-44.509c-4.397,0-7.959,3.563-7.959,7.959c0,4.396,3.562,7.959,7.959,7.959h53.269
                                            c4.396,0,7.959-3.563,7.959-7.959C423.401,475.116,401.213,451.286,372.965,448.652z M248.121,209.67l7.881-4.144l7.881,4.144
                                            v48.58c-0.035,0-0.07,0-0.106,0h-15.551c-0.036,0-0.071,0-0.106,0V209.67z M240.952,274.67c0.086-0.008,0.172-0.008,0.257-0.02
                                            c2.324-0.309,4.672-0.481,7.017-0.481h15.551c2.343,0,4.695,0.169,7.017,0.481c0.064,0.008,0.127,0.005,0.192,0.013
                                            c23.03,3.167,41.36,21.279,44.849,44.206H196.168C199.654,295.962,217.952,277.861,240.952,274.67z M357.048,448.401H154.955
                                            V334.786h32.654h136.786h32.653V448.401z"/>
                                    </g>
                                </g>
                                </svg>
                            </div>
                            <div class="review_highlight_section_number">
                                <a>3.</a>
                            </div>
                            <div class="review_highlight_section_label">
                                <a><%=t(:review_title_box_3)%></a>
                            </div>
                            <div class="review_highlight_detail">
                                <span><%=t(:review_content_box_3)%></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="review_highlight_section">
                            <div class="review_highlight_img">
                                <svg width="70px" height="70px" fill=#1473e6 version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                    viewBox="0 0 511.971 511.971" style="enable-background:new 0 0 511.971 511.971;" xml:space="preserve">
                                <g>
                                    <g>
                                        <g>
                                            <path d="M444.771,235.493c-58.987-56.32-138.347-64-167.467-64.747V96.079c0-5.867-4.8-10.667-10.667-10.667
                                                c-2.453,0-4.907,0.853-6.827,2.453L78.478,237.199c-4.587,3.733-5.227,10.453-1.493,15.04c0.427,0.533,0.96,0.96,1.493,1.493
                                                l181.333,149.333c4.587,3.733,11.307,3.093,15.04-1.493c1.6-1.92,2.453-4.267,2.453-6.827v-77.44
                                                c29.76-8.107,143.893-28.693,214.613,103.787c1.813,3.52,5.44,5.653,9.387,5.653c3.413,0,6.72-1.6,8.853-4.693
                                                c1.28-1.813,1.813-4.053,1.813-6.293C511.865,338.639,489.251,278.053,444.771,235.493z M324.131,290.533
                                                c-35.52,0-60.48,8.533-61.12,8.853c-4.267,1.493-7.04,5.547-7.04,10.027v62.72l-153.92-126.72l153.92-126.72v62.72
                                                c0,2.88,1.173,5.653,3.307,7.68c2.133,2.027,4.907,3.093,7.893,2.987c0.96,0,97.813-3.52,163.093,58.987
                                                c32.107,30.72,51.52,72.32,58.027,124.16C436.665,305.679,371.171,290.533,324.131,290.533z"/>
                                            <path d="M199.331,387.066c-0.213-0.107-0.32-0.32-0.533-0.427L27.385,245.413l171.413-141.12
                                                c4.693-3.627,5.547-10.347,1.92-14.933c-3.627-4.587-10.347-5.547-14.933-1.92c-0.213,0.107-0.32,0.32-0.533,0.427L3.918,237.199
                                                c-4.587,3.733-5.227,10.453-1.493,15.04c0.427,0.533,0.96,0.96,1.493,1.493l181.333,149.333c4.48,3.84,11.2,3.413,15.04-0.96
                                                C204.131,397.626,203.705,390.906,199.331,387.066z"/>
                                        </g>
                                    </g>
                                </g>
                                </svg>
                            </div>
                            <div class="review_highlight_section_number">
                                <a>4.</a>
                            </div>
                            <div class="review_highlight_section_label">
                                <a><%=t(:review_title_box_4)%></a>
                            </div>
                            <div class="review_highlight_detail">
                                <span><%=t(:review_content_box_4)%></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>