<div class="user_notification_block">
    <div class="user_notification_left">
        <div class="user_notification_date">
            <a><%=user_notification.created_at.strftime("%B %d, %Y")%></a>
        </div>
    </div>

    <div class="user_notification_right">
        <div class="user_notification_user">
            <%if find_trigger_user(user_notification).present?%>
                <a> <%= find_trigger_user(user_notification).name%>
                    <%if user_notification.noti_type.to_s == "ReviewComment"%>
                        <span> <%=t(:noti_review)%> </span>
                    <%elsif user_notification.noti_type.to_s == "InterviewComment"%>
                        <span> <%=t(:noti_interview)%> </span>
                    <%elsif user_notification.noti_type.to_s == "PostComment"%>
                        <span> <%=t(:noti_comment)%> </span>
                    <%elsif user_notification.noti_type.to_s == "ProblemComment"%>
                        <span> <%=t(:noti_question)%></span>
                    <%elsif user_notification.noti_type.to_s == "ProblemSolutionComment"%>
                        <span> <%=t(:noti_reply_solution)%> </span>
                    <%elsif user_notification.noti_type.to_s == "ApplyJob"%>
                        <span> <%=t(:noti_apply)%> </span>
                    <%else%>
                        <span> <%=t(:noti_reply)%> </span>
                    <%end%>
                </a>
            <%end%>
        </div>

        <div class="user_notification_title">
            <a><%= link_to user_notification.title, user_notification.original_url, class: "user_notification_label" %></a>
        </div>

        <div class="user_notification_content">
            <a><%=user_notification.content%></a>
        </div>
    </div>
</div>