<div class="company_block">
    <div class="company_thumbnail">
        <%if company.avatar?%>
            <%= link_to (image_tag(company.avatar.thumb.url)), image_path(url_for(company.avatar.thumb.url)), rel: "gallery" , :href => company_path(company), target: :_blank%>
        <%else%>
            <%= link_to (image_tag("defaults/company_avatar_default.svg")), image_path(url_for("defaults/company_avatar_default.svg")), rel: "gallery" , :href => company_path(company), target: :_blank%>
        <%end%>
    </div>

    <div class="company_title">
        <div class="company_name">
            <a> <%= link_to company.name, company_path(company), target: :_blank, class: "company_name_label" %></a>
        </div>

        <div class="company_rating">
            <%total_rate = cal_rating_review_total_score(company)%>
            <div class="review_score_star">
                <%if total_rate > 0%>
                    <%total_rate.to_i.times do%>
                        <i class="material-icons checked">circle</i>
                    <%end%>
                    <%(5 - total_rate.to_i).to_i.times do%>
                        <i class="material-icons checked_out">radio_button_unchecked</i>
                    <%end%>
                <%else%>
                    <%5.times do%>
                        <i class="material-icons checked_out">radio_button_unchecked</i>
                    <%end%>
                <%end%>
            </div>
        </div>
    
        <div class="company_love_button" id ="company_love_<%=company.id%>">
            <%if user_signed_in?%>
                <% pre_follow = company.company_follows.find { |follow| follow.user_id == current_user.id} %>
                <% if pre_follow %> 
                    <%= link_to company_company_follow_path(company, pre_follow, type_param: 'mini'), remote: true, method: :delete do%>
                        <button class="follow_btn_highlight"><%=t(:following)%></button>
                    <%end%>
                <%else%>
                    <%= link_to company_company_follows_path(company, type_param: 'mini'), remote: true, method: :post do%>
                        <button class="follow_btn"><%=t(:follow)%></button>
                    <%end%>
                <%end%>
            <%else%>
                <button type="button" data-toggle="modal" data-target="#buttonModalLoginCenter" class="follow_btn">
                    <%=t(:follow)%>
                </button>
            <%end%>
        </div>
    </div>

    <div class="company_overview">
        <%if company.overview%>
            <%=truncate(strip_tags(company.overview), length: 90)%>
        <%else%>
            <%= t(:updating) %>
        <%end%>
    </div>
    
    <div class="company_summary">
        <div class="company_point">
            <div class="review_point">
                <div class="company_point_label">
                    <a><%= link_to t(:reviews), company_path(company, tab: 'CompanyReviewsID'), target: :_blank %> <span><%= company.company_reviews.count%></span></a>
                </div>
            </div>
            
            <div class="interview_point">
                <div class="company_point_label">
                    <a><%= link_to t(:interviews), company_path(company, tab: 'CompanyInterviewsID'), target: :_blank %> <span><%= company.company_interviews.count %></span></a>
                </div>
            </div>
            
            <div class="job_point">
                <div class="company_point_label">
                    <a><%= link_to t(:jobs), company_path(company, tab: 'CompanyJobsID'), target: :_blank %> <span><%= find_job_of_company(company).count %></span></a>
                </div>
            </div>
        </div>
    </div>
</div>