<!DOCTYPE html>
<html>
    <head>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <!-- Add icon library -->
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    </head>

    <body>
        <div class='body_content'>
            <div class="new_company_form">
                <%= form_for @company, :html => { :class => "form-horizontal company" } do |f| %>
                    <div class="new_company_title">
                        <t>Tạo một công ty mới</t>
                    </div>

                    <div class="new_company_section">
                        <div class="new_company_content">
                            <div class="new_company_label">
                                <t><%= f.label :name, "Tên công ty*", class: "new_company_label_name" %></t>
                            </div>

                            <div class="new_company_input">
                                <%= f.text_field :name, class: "new_company_form_input", placeholder: "  Nhập tên hoặc email của bạn" %>
                            </div>
                        </div>

                        <div class="new_company_content">
                            <div class="new_company_label">
                                <t><%= f.label :location, "Địa điểm", class: "new_company_label_name" %></t>
                            </div>

                            <div class="new_company_input">
                                <%= f.select(:location, ['Hà Nội','Đà Nẵng','TP Hồ Chí Minh', 'Other' ], {include_blank: true}, { :class => 'my_style_class' }) %>
                            </div>
                        </div>

                        <div class="new_company_content">
                            <div class="new_company_label">
                                <t><%= f.label :country, "Quốc gia", class: "new_company_label_name" %></t>
                            </div>

                            <div class="new_company_input">
                                <%= f.text_field :country, class: "new_company_form_input", placeholder: "  Nhập quốc gia" %>
                            </div>
                        </div>

                        <div class="new_company_content">
                            <div class="new_company_label">
                                <t><%= f.label :website, "Địa chỉ website*", class: "new_company_label_name" %></t>
                            </div>

                            <div class="new_company_input">
                                <%= f.text_field :website, class: "new_company_form_input", placeholder: "  Nhập địa chỉ website" %>
                            </div>
                        </div>

                        <div class="new_company_content">
                            <div class="new_company_label">
                                <t><%= f.label :time_establish, "Năm thành lập*", class: "new_company_label_name" %></t>
                            </div>

                            <div class="new_company_input_time">
                                <%= f.date_field :time_establish, class: "new_company_form_input" %>
                            </div>

                        </div>

                        <div class="new_company_content">
                            <div class="new_company_label">
                                <t><%= f.label :time_start, "Thời gian bắt đầu làm việc*", class: "new_company_label_name" %></t>
                            </div>

                            <div class="new_company_input_time">
                                <%= f.time_field :time_start, class: "new_company_form_input"%>
                            </div>
                        </div>

                        <div class="new_company_content">
                            <div class="new_company_label">
                                <t><%= f.label :time_end, "Thời gian kết thúc*", class: "new_company_label_name" %></t>
                            </div>

                            <div class="new_company_input_time">
                                <%= f.time_field :time_end, class: "new_company_form_input" %>
                            </div>
                        </div>
                    </div>

                    <div class="new_company_section">
                        <div class="new_company_content">
                            <div class="new_company_label">
                                <t><%= f.label :size, "Quy mô công ty*", class: "new_company_label_name" %></t>
                            </div>

                            <div class="new_company_input">
                                <%= f.select(:size, ['1-100','100-1000', '>1000'], {include_blank: true}, { :class => 'my_style_class' }) %>
                            </div>
                        </div>

                        <div class="new_company_content">
                            <div class="new_company_label">
                                <t><%= f.label :field_operetion, "Lĩnh vực hoạt động chính*", class: "new_company_label_name" %></t>
                            </div>

                            <div class="new_company_input">
                                <%= f.select(:field_operetion, ['IT', 'Automotive', 'Web', 'Embeeded', 'Other'], {include_blank: true}, { :class => 'my_style_class' }) %>
                            </div>
                        </div>
                    </div>

                    <div class="new_company_section">
                        <div class="new_company_content">
                            <div class="new_company_label">
                                <t><%= f.label :content, "Mô tả chung", class: "new_company_label" %></t>
                            </div>
                            
                            <div class="new_company_input">
                                <%= f.text_field :content, class: "new_company_form_input", placeholder: "  Nhập mô tả chính" %>
                            </div>
                        </div>
                    </div>

                    <div class="new_company_section">
                        <div class="new_company_content">
                            <div class="new_company_label">
                                <t><%= f.label :policy, "Chính sách nổi bật", class: "new_company_label" %></t>
                            </div>
                            
                            <div class="new_company_input">
                                <%= f.text_field :policy, class: "new_company_form_input", placeholder: "  Nhập nội dung" %>
                            </div>
                        </div>
                    </div>

                    <div class="new_company_section">
                        <div class="new_company_content">
                            <div class="new_company_label">
                                <t><%= f.label :avatar, "Ảnh bìa công ty", class: "new_company_label" %></t>
                            </div>
                            
                            <div class="new_company_input">
                                <%= f.file_field :avatar%>
                            </div>
                        </div>
                    </div>

                    <div class="new_company_submit">
                        <%= f.submit "Thêm công ty mới", class: "new_company_form_submit" %>
                    </div>
                <%end%>
            </div>
        </div>
    </body>
</html>