<div class="container">
	<div class="row">
		<div class="col-sm-8">
			<div class="new_company_form">
				<%= form_for @company, :html => { :class => "form-horizontal company" } do |f| %>
					<div class="new_company_title">
						<%if !@is_edit%>
							<a><%=t(:create_company)%></a>
						<%else%>
							<a><%=t(:update_company)%> <%=@company.name%></a>
						<%end%>
					</div>
					<div class="new_company_title_sub">
						<a><%=t(:form_require_left)%> <span>'*'</span> <%=t(:form_require_right)%></a>
					</div>

					<div class="new_company_section">
						<div class="new_company_content">
							<div class="new_company_label">
								<a><%= f.label :name, t(:form_company_name), class: "new_company_label_name" %><span>*</span></a>
							</div>

							<div class="new_company_input">
								<%if employer_signed_in?%>
									<%= f.text_field :name, autofocus: true, :required => true, class: "form-control", :value => current_employer.company_name%>
								<%else%>
									<%= f.text_field :name, autofocus: true, :required => true, class: "form-control", placeholder: t(:form_company_name_sub) %>
								<%end%>
							</div>
						</div>

						<div class="new_company_content">
							<div class="new_company_label">
								<a><%= f.label :location, t(:form_company_location), class: "new_company_label_name" %><span>*</span></a>
							</div>

							<div class="new_company_input">
								<%= f.select(:location, options_for_select(['Hà Nội', 'Hồ Chí Minh', 'Đà Nẵng', 'An Giang','Bà Rịa Vũng Tàu','Bạc Liêu','Bắc Kạn','Bắc Giang',
														'Bắc Ninh','Bến Tre','Bình Dương','Bình Định','Bình Phước',
														'Bình Thuận','Cà Mau','Cao Bằng','Cần Thơ','Đắk Lắk','Đắk Nông','Điện Biên',
														'Đồng Nai','Đồng Tháp','Gia Lai','Hà Giang','Hà Nam','Hà Tây','Hà Tĩnh',
														'Hải Dương','Hải Phòng','Hòa Bình','Hậu Giang','Hưng Yên','Khánh Hòa',
														'Kiên Giang','Kon Tum','Lai Châu','Lào Cai',
														'Lạng Sơn','Lâm Đồng','Long An','Nam Định','Nghệ An',
														'Ninh Bình','Ninh Thuận','Phú Thọ','Phú Yên','Quảng Bình',
														'Quảng Nam','Quảng Ngãi','Quảng Ninh','Quảng Trị',
														'Sóc Trăng','Sơn La','Tây Ninh','Thái Bình','Thái Nguyên' ,
														'Thanh Hóa','Thừa Thiên Huế','Tiền Giang','Trà Vinh',
														'Tuyên Quang','Vĩnh Long','Vĩnh Phúc','Yên Bái' ], "Hà Nội"), {include_blank: false, :required => true}, { :class => 'form-select' }) %>
							</div>
						</div>

						<div class="new_company_content">
							<div class="new_company_label">
								<a><%= f.label :address, t(:form_company_address), class: "new_company_label_name" %></a>
							</div>

							<div class="new_company_input">
								<%if employer_signed_in?%>
									<%= f.text_field :address, class: "form-control", :value => current_employer.address %>
								<%else%>
									<%= f.text_field :address, class: "form-control", placeholder: t(:form_company_address_sub) %>
								<%end%>
							</div>
						</div>

						<div class="new_company_content">
							<div class="new_company_label">
								<a><%= f.label :country, t(:form_company_country), class: "new_company_label_name" %><span>*</span></a>
							</div>

							<div class="new_company_input">
								<%= f.select(:country, options_for_select(['Afghanistan',
																			'Albania',
																			'Algeria',
																			'Andorra',
																			'Angola',
																			'Antigua and Barbuda',
																			'Argentina',
																			'Armenia',
																			'Australia',
																			'Áo',
																			'Azerbaijan',
																			'Bahamas',
																			'Bahrain',
																			'Bangladesh',
																			'Barbados',
																			'Belarus',
																			'Belgium (Bỉ)',
																			'Belize',
																			'Benin',
																			'Bhutan',
																			'Bolivia',
																			'Bosnia and Herzegovina',
																			'Botswana',
																			'Brazil',
																			'Brunei',
																			'Bulgaria',
																			'Burkina Faso',
																			'Burundi',
																			'Cabo Verde',
																			'Cambodia (Campuchia)',
																			'Cameroon',
																			'Canada',
																			'Central African Republic (Cộng hòa Trung Phi)',
																			'Chad',
																			'Chile',
																			'China (Trung Quốc)',
																			'Colombia',
																			'Comoros',
																			'Congo',
																			'Costa Rica',
																			'Côte d Ivoire',
																			'Bờ Biển Ngà',
																			'Croatia',
																			'Cuba',
																			'Cyprus (Đảo Síp)',
																			'Czechia (Séc)',
																			'Denmark (Đan mạch)',
																			'Djibouti',
																			'Dominica',
																			'Dominican Republic (Cộng hòa Đô-mi-ni-ca-na)',
																			'DR Congo (Cộng hoà dân chủ Công-gô)',
																			'Ecuador',
																			'Egypt (Ai Cập)',
																			'El Salvador',
																			'Equatorial Guinea',
																			'Eritrea',
																			'Estonia',
																			'Eswatini',
																			'Ethiopia',
																			'Fiji',
																			'Finland (Phần Lan)',
																			'France (Pháp)',
																			'Gabon',
																			'Gambia',
																			'Georgia',
																			'Germany (Đức)',
																			'Ghana',
																			'Greece (Hy Lạp)',
																			'Grenada',
																			'Guatemala',
																			'Guinea',
																			'Guinea-Bissau',
																			'Guyana',
																			'Haiti',
																			'Holy See (Thành va-ti-can)',
																			'Honduras',
																			'Hungary',
																			'Iceland',
																			'India (Ấn Độ)',
																			'Indonesia',
																			'Iran',
																			'Iraq',
																			'Ireland',
																			'Israel',
																			'Italy',
																			'Jamaica',
																			'Japan',
																			'Jordan',
																			'Kazakhstan',
																			'Kenya',
																			'Kiribati',
																			'Kuwait',
																			'Kyrgyzstan',
																			'Laos (Lào)',
																			'Latvia',
																			'Lebanon (Li-băng)',
																			'Lesotho',
																			'Liberia',
																			'Libya',
																			'Liechtenstein',
																			'Lithuania',
																			'Luxembourg',
																			'Madagascar',
																			'Malawi (Ma-rốc)',
																			'Malaysia',
																			'Maldives',
																			'Mali',
																			'Malta',
																			'Marshall Islands',
																			'Mauritania',
																			'Mauritius',
																			'Mexico',
																			'Micronesia',
																			'Moldova',
																			'Monaco',
																			'Mongolia (Mông Cổ)',
																			'Montenegro',
																			'Morocco (Ma-rốc)',
																			'Mozambique',
																			'Myanmar',
																			'Namibia',
																			'Nauru',
																			'Nepal',
																			'Netherlands (Hà Lan)',
																			'New Zealand',
																			'Nicaragua',
																			'Niger',
																			'Nigeria',
																			'North Korea (Triều Tiên)',
																			'North Macedonia',
																			'Norway (Na Uy)',
																			'Oman',
																			'Pakistan',
																			'Palau',
																			'Panama',
																			'Papua New Guinea',
																			'Paraguay',
																			'Peru',
																			'Philippines',
																			'Poland (Ba Lan)',
																			'Portugal (Bồ Đào Nha)',
																			'Qatar',
																			'Romania',
																			'Russia (Nga)',
																			'Rwanda',
																			'Saint Kitts & Nevis',
																			'Saint Lucia',
																			'Samoa',
																			'San Marino',
																			'Sao Tome & Principe',
																			'Saudi Arabia (Ả Rập Xê-út)',
																			'Senegal',
																			'Serbia',
																			'Seychelles',
																			'Sierra Leone',
																			'Singapore',
																			'Slovakia',
																			'Slovenia',
																			'Solomon Islands',
																			'Somalia',
																			'South Africa (Nam Phi)',
																			'South Korea (Hàn Quốc)',
																			'South Sudan (Nam Sudan)',
																			'Spain (Tây Ban Nha)',
																			'Sri Lanka',
																			'St. Vincent & Grenadines',
																			'State of Palestine',
																			'Sudan',
																			'Suriname',
																			'Sweden (Thụy Điển)',
																			'Switzerland (Thụy sĩ)',
																			'Syria',
																			'Tajikistan',
																			'Tanzania',
																			'Thailand (Thái Lan)',
																			'Timor-Leste (Đông Timor)',
																			'Togo',
																			'Tonga',
																			'Trinidad and Tobago',
																			'Tunisia',
																			'Turkey (Thổ Nhĩ Kỳ)',
																			'Turkmenistan',
																			'Tuvalu',
																			'Uganda',
																			'Ukraine',
																			'United Arab Emirates (Các Tiểu Vương Quốc Ả Rập Thống Nhất)',
																			'United Kingdom (Vương quốc Anh)',
																			'United States (Hoa Kỳ)',
																			'Uruguay',
																			'Uzbekistan',
																			'Vanuatu',
																			'Venezuela',
																			'Việt Nam',
																			'Yemen',
																			'Zambia',
																			'Zimbabwe'], "Việt Nam"), {include_blank: false}, { :class => 'form-select company_country_select' }) %>
							</div>
							<script>
								$(document).ready(function() {
									$('.company_country_select').select2({
										placeholder: "<%=t(:select_country)%>",
										allowClear: true,
										width: 'resolve',
										theme: "bootstrap-5",
										selectOnClose: true
									});
								});
							</script>
						</div>
						
						<div class="new_company_content">
							<div class="new_company_label">
								<a><%= f.label :company_type, t(:form_company_type), class: "new_company_label_name" %></a>
							</div>

							<div class="new_company_input">
								<%= f.select(:company_type, options_for_select([t(:co_ltd_company), t(:join_stock_company), t(:unknown)], t(:unknown)), {include_blank: false}, { :class => 'form-select' }) %>
							</div>
						</div>

						<div class="new_company_content">
							<div class="new_company_label">
								<a><%= f.label :field_operetion, t(:form_company_field), class: "new_company_label_name" %><span>*</span></a>
							</div>

							<div class="new_company_input">
								<%= f.select(:field_operetion, options_for_select([t(:form_company_filed_operation_1), 
																					t(:form_company_filed_operation_2), 
																					t(:form_company_filed_operation_3), 
																					t(:form_company_filed_operation_4), 
																					t(:form_company_filed_operation_5), 
																					t(:form_company_filed_operation_6), 
																					t(:form_company_filed_operation_7), 
																					t(:form_company_filed_operation_8), 
																					t(:form_company_filed_operation_9), 
																					t(:form_company_filed_operation_10),
																					t(:form_company_filed_operation_11),
																					t(:form_company_filed_operation_12),
																					t(:form_company_filed_operation_13),
																					t(:form_company_filed_operation_14),
																					t(:form_company_filed_operation_15),
																					t(:form_company_filed_operation_16),
																					t(:form_company_filed_operation_17),
																					t(:form_company_filed_operation_18),
																					t(:form_company_filed_operation_19),
																					t(:form_company_filed_operation_20),
																					t(:form_company_filed_operation_21),
																					t(:form_company_filed_operation_22),
																					t(:form_company_filed_operation_23),
																					t(:form_company_filed_operation_24),
																					t(:form_company_filed_operation_25),
																					t(:form_company_filed_operation_26),
																					t(:form_company_filed_operation_27),
																					t(:form_company_filed_operation_28),
																					t(:form_company_filed_operation_29),
																					t(:form_company_filed_operation_30),
																					t(:form_company_filed_operation_31),
																					t(:form_company_filed_operation_32),
																					t(:form_company_filed_operation_33),
																					t(:form_company_filed_operation_34),
																					t(:form_company_filed_operation_35),
																					t(:form_company_filed_operation_36),
																					t(:form_company_filed_operation_37),
																					t(:form_company_filed_operation_38),
																					t(:form_company_filed_operation_39),
																					t(:form_company_filed_operation_40),
																					t(:form_company_filed_operation_41),
																					t(:form_company_filed_operation_42),
																					t(:form_company_filed_operation_43),
																					t(:form_company_filed_operation_44),
																					t(:form_company_filed_operation_45),
																					t(:form_company_filed_operation_46),
																					t(:form_company_filed_operation_47),
																					t(:form_company_filed_operation_48),
																					t(:form_company_filed_operation_49),
																					t(:form_company_filed_operation_50),
																					t(:form_company_filed_operation_51),
																					t(:form_company_filed_operation_52),
																					t(:form_company_filed_operation_53),
																					t(:form_company_filed_operation_54),
																					t(:form_company_filed_operation_55),
																					t(:form_company_filed_operation_56),
																					t(:form_company_filed_operation_57),
																					t(:form_company_filed_operation_58),
																					t(:form_company_filed_operation_59),
																					t(:form_company_filed_operation_60),
																					t(:form_company_filed_operation_61),
																					t(:form_company_filed_operation_62),
																					t(:form_company_filed_operation_63),
																					t(:form_company_filed_operation_64),
																					t(:form_company_filed_operation_65),
																					t(:form_company_filed_operation_66),
																					t(:form_company_filed_operation_67),
																					t(:form_company_filed_operation_68),
																					t(:unknown)], t(:unknown)), {include_blank: false}, 
																					{ :class => 'form-select company_field_operetion_select' }) %>
							</div>
							<script>
								$(document).ready(function() {
									$('.company_field_operetion_select').select2({
										placeholder: "<%=t(:select_company_filed)%>",
										allowClear: true,
										width: 'resolve',
										theme: "bootstrap-5",
										selectOnClose: true
									});
								});
							</script>
						</div>

						<div class="new_company_content">
							<div class="new_company_label">
								<a><%= f.label :website, t(:form_company_site), class: "new_company_label_name" %></a>
							</div>

							<div class="new_company_input">
								<%= f.text_field :website, class: "form-control", placeholder: t(:form_company_site_sub) %>
							</div>
						</div>

						<div class="new_company_content">
							<div class="new_company_label">
								<a><%= f.label :phone, t(:form_company_phone), class: "new_company_label_name" %></a>
							</div>

							<div class="new_company_input">
								<%if employer_signed_in?%>
									<%= f.text_field :phone, class: "form-control", :value => current_employer.phone %>
								<%else%>
									<%= f.text_field :phone, class: "form-control", placeholder: t(:form_company_phone_sub) %>
								<%end%>
							</div>
						</div>
					</div>
							
					<div class="new_company_section">
						<div class="new_company_content">
							<div class="new_company_label">
								<a><%= f.label :time_establish, t(:form_company_establish), class: "new_company_label_name" %></a>
							</div>

							<div class="new_company_input">
								<a><%= f.date_select :time_establish, {discard_day: true, 
																	discard_month: true, 
																	start_year: 1900, 
																	end_year: Date.current.year,
																	default: { year: 2010 }}, {:class => 'form-control'} %></a>
							</div>
						</div>
						
						<div class="new_company_content">
							<div class="new_company_label">
								<a><%= f.label :working_time, t(:form_company_work_time), class: "new_company_label_name" %></a>
							</div>

							<div class="new_company_input">
								<%= f.select(:working_time, options_for_select(['6h00 - 15h00', '6h30 - 15h30', '7h00 - 16h00', '7h30 - 16h30', '8h00 - 17h00', '8h30 - 17h30', '9h00 - 18h00', '9h30 - 18h30', t(:flex_time)] , '9h00 - 18h00'), {include_blank: false}, { :class => 'form-select' }) %>
							</div>
						</div>

						<div class="new_company_content">
							<div class="new_company_label">
								<a><%= f.label :working_date, t(:form_company_work_week), class: "new_company_label_name" %></a>
							</div>

							<div class="new_company_input">
								<%= f.select(:working_date, options_for_select([t(:mon_fri), t(:mon_sat), t(:flex_time)]), {include_blank: false}, { :class => 'form-select' }) %>
							</div>
						</div>
						
						<div class="new_company_content">
							<div class="new_company_label">
								<a><%= f.label :size, t(:form_company_size), class: "new_company_label_name" %></a>
							</div>

							<div class="new_company_input">
								<%= f.select(:size, options_for_select(['10', '10-50', '50-100', '100-500', '500-1000', '1000+'], "50-100"), {include_blank: false}, { :class => 'form-select' }) %>
							</div>
						</div>

						<div class="new_company_content">
							<div class="new_company_label">
								<a><%= f.label :values, t(:form_company_values), class: "new_company_label_name" %></a>
							</div>

							<div class="new_company_input">
								<%= f.select(:values, options_for_select([t(:x_million_usd, x: "1-5"), 
																		t(:x_million_usd, x: "5-10"), 
																		t(:x_million_usd, x: "10-50"), 
																		t(:x_million_usd, x: "50-100"), 
																		t(:x_million_usd, x: "100-500"), 
																		t(:x_million_usd, x: "500-900"), 
																		t(:x_billion_usd, x: "1-10"), 
																		t(:x_billion_usd, x: "10-50"), 
																		t(:x_billion_usd, x: "50-100"),  
																		t(:x_billion_usd, x: "100-500"), 
																		t(:x_billion_usd, x: "500-900")], t(:unknown)), {include_blank: false}, { :class => 'form-select' }) %>
							</div>
						</div>

						<div class="new_company_content">
							<div class="new_company_label">
								<a><%= f.label :avatar, t(:form_company_avatar), class: "new_company_label_name" %><span>*</span></a>
							</div>
							
							<div class="new_company_input">
								<%= f.file_field :avatar, :required => true, class: "form-control"%>
							</div>
						</div>
						
						<div class="new_company_content">
							<div class="new_company_label">
								<a><%= f.label :wall_picture, t(:form_company_wall), class: "new_company_label_name" %><span>*</span></a>
							</div>
							
							<div class="new_company_input">
								<%= f.file_field :wall_picture, :required => true, class: "form-control"%>
							</div>
						</div>
					</div>

					<div class="new_company_section">
						<div class="new_company_content">
							<div class="new_company_label">
								<a><%= f.label :overview, t(:form_company_overview), class: "new_company_label" %><span>*</span></a>
							</div>
							
							<div class="new_company_input">
								<%= f.text_area :overview, :class => "tinymce"%>
								<%= tinymce :medium %>
							</div>
						</div>

						<div class="new_company_content">
							<div class="new_company_label">
								<a><%= f.label :benefit, t(:form_company_benefit), class: "new_company_label_name" %></a>
							</div>
							
							<div class="new_company_input_checkbox">
								<div class="row">
									<div class="col-sm-4">
										<%select_data_1 = [0,1,2,3,4,5]%>
										<%select_data_1.each do |select_data|%>
											<div class="new_company_input_checkbox_block">
												<a><%= f.check_box :benefit, { multiple: true, class: "check_box_style"}, select_data, nil %> <%=convert_benefit_to_string(select_data)%></a>
											</div>
										<%end%>
									</div>
									<div class="col-sm-4">
										<%select_data_2 = [6,7,8,9,10,11]%>
										<%select_data_2.each do |select_data|%>
											<div class="new_company_input_checkbox_block">
												<a><%= f.check_box :benefit, { multiple: true, class: "check_box_style"}, select_data, nil %> <%=convert_benefit_to_string(select_data)%></a>
											</div>
										<%end%>
									</div>
									<div class="col-sm-4">
										<%select_data_3 = [12,13,14,15,16,17]%>
										<%select_data_3.each do |select_data|%>
											<div class="new_company_input_checkbox_block">
												<a><%= f.check_box :benefit, { multiple: true, class: "check_box_style"}, select_data, nil %> <%=convert_benefit_to_string(select_data)%></a>
											</div>
										<%end%>
									</div>
								</div>
							</div>
						</div>
						
						<div class="new_company_content">
							<div class="new_company_label">
								<a><%= f.label :policy, t(:form_company_policy), class: "new_company_label_name" %></a>
							</div>
							
							<div class="new_company_input">
								<%= f.text_area :policy, :class => "tinymce"%>
								<%= tinymce :medium %>
							</div>
						</div>
					</div>

					<div class="new_company_submit">
						<%= f.submit t(:form_company_submit), class: "new_company_form_submit" %>
					</div>
				<%end%>
			</div>
		</div>

		<div class="col-sm-4">
			<div class="company_policy">
				<div class="company_policy_title">
					<a><%=t(:form_company_help)%></a>
				</div>
				<div class="company_policy_content">
					<div class="company_policy_content_index">
						· <%=t(:form_company_help_1)%>
					</div>
					<div class="company_policy_content_index">
						· <%=t(:form_company_help_2)%>
					</div>
					<div class="company_policy_content_index">
						· <%=t(:form_company_help_3)%>
					</div>
					<div class="company_policy_content_index">
						· <%=t(:form_company_help_4)%>
					</div>
					<div class="company_policy_content_link">
						<%=t(:form_read_policy)%>
						<a href="<%=term_path%>"><%=t(:term_and_service)%> </a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>