
<div class="company_image_tab">
    <div class="row"> 
        <div class="col-sm-8">
            <div class="company_image_tab_left">
                <div class="company_image_upload"> 
                    <%= form_for [@company, CompanyImage.new] do |f| %>
                        <div class="new_company_image_content">
                            <div class="new_company_image_label">
                                <a><i class="material-icons-outlined">photo_camera</i> <%=t(:share_image)%></a>
                            </div>

                            <%if @company.company_images.count == 0%>
                                <div class="new_company_image_label_sub">
                                    <a><%=t(:company_image_sub)%> <%=@company.name%></a>
                                </div>
                            <%end%>
                            
                            <%if user_signed_in?%>
                                <div class="new_company_image_input">
                                    <div class="new_company_input">
                                        <%= f.file_field :image, :required => true, class: "form-control"%>
                                    </div>
                                </div>
                            <%end%>
                        </div>
                        <div class="new_company_image_submit">
                            <%if user_signed_in?%>
                                <%= f.submit t(:upload_picture), class: "new_company_image_form_submit" %>
                            <%else%>
                                <button type="button" data-toggle="modal" data-target="#buttonModalLoginCenter">
                                    <span> <%=t(:upload_picture)%> </span>
                                </button>
                            <%end%>
                        </div>
                    <%end%>
                </div>

                <div class="company_image_block"> 
                    <div class="company_image_render"> 
                        <div class="row"> 
                            <%@company_images.each do |company_image|%>
                                <div class="col-sm-4">
                                    <%=render company_image%>
                                </div>
                            <%end%> 
                        </div>
                    </div>
                    <%= paginate @company_images, window: 2%>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="company_image_tab_right">
                <%if @company_jobs.total_count >0%>
                    <div class="company_image_mini_block">
                        <div class="company_job_label">
                            <a><%=t(:jobs_recommend)%></a>
                        </div>
                        <div class="company_job_des">
                            <%@company_jobs.order('created_at DESC').first(10).each do |company_job|%>
                                <%= render :partial => 'company_jobs/company_job_mini', :locals => {:company_job => company_job} %>
                            <%end%>
                        </div>
                    </div>
                <%end%>
            </div>
        </div>
    </div>
    
    <div class="breadcrumbs">
        <%= render_breadcrumbs :separator => '<i class="material-icons-outlined">keyboard_arrow_right</i>' %>
    </div>
</div>