<div class="company_interview_tab">
    <div class="row">
        <div class="col-sm-8">
            <div class="company_interview_tab_des_left">
                <%if @company.company_interviews.count > 0%>
                    <div class="company_interview_score_block">
                        <div class="company_interview_title">
                            <a><%=t(:interviews)%> <%= @company.name %></a>
                        </div>
                        <div class="company_interview_score">
                            <%= render :partial => 'company_interviews/interview_score' %>
                        </div>
                    </div>
                    <div class="company_interview">
                        <%= render @company_interviews %>
                    </div>
                    <%= paginate @company_interviews, window: 2%>
                <%else%>
                    <div class="interview_new_not_found_block">
                        <div class="interview_new_not_found_icon">
                            <i class="material-icons">people</i>
                        </div>
                        <div class="interview_new_not_found">
                            <span><%=t(:interview_not_found_left)%> <%=@company.name%>, <%=t(:interview_not_found_right)%></span>
                        </div>
                        <div class="interview_new_not_found_action">
                            <div class="interview_new_label">
                                <a><%=t(:interview_not_found_1)%></a>
                            </div>
                            <div class="interview_new_button">
                                <%= link_to new_company_company_interview_path(@company) do %>
                                    <button type="submit"> <i class="material-icons-outlined">edit</i> <span> <%=t(:write_interview)%></span> </button>
                                <%end%>
                            </div>
                        </div>
                    </div>
                <%end%>
                <div class="new_interview_question">
                    <div class="new_interview_question_title">
                        <i class="material-icons-outlined checked">record_voice_over</i><strong> <%=t(:share_interview_question)%> </strong>
                    </div>
                    <div class="new_interview_question_button">
                        <%if user_signed_in?%>
                            <%= link_to new_problem_path do%>
                                <button type="submit"> <i class="material-icons-outlined">add</i> <span> <%=t(:add_interview_question)%> </span> </button>
                            <%end%>
                        <%else%>
                            <button type="button" data-toggle="modal" data-target="#buttonModalLoginCenter">
                                <i class="material-icons-outlined">add</i> <span> <%=t(:add_interview_question)%> </span>
                            </button>
                        <%end%>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4"> 
            <div class="company_interview_tab_des_right">
                <%if @company_jobs.total_count >0%>
                    <div class="company_job_refer_block">
                        <div class="company_job_label">
                            <a><%=t(:jobs_recommend)%></a>
                        </div>
                        <div class="company_job_des">
                            <%@company_jobs.order('created_at DESC').first(10).each do |company_job|%>
                                <%= render :partial => 'company_jobs/company_job_mini', :locals => {:company_job => company_job} %>
                            <%end%>
                        </div>
                    </div>
                <%end%>
            </div>
        </div>
    </div>
    
    <div class="breadcrumbs">
        <%= render_breadcrumbs :separator => '<i class="material-icons-outlined">keyboard_arrow_right</i>' %>
    </div>
</div>