<!doctype html>
<html>
    <head>
    <!-- Place your kit's code here -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
        <div class="company_profile">
            <div class="company_profile_overview">
                <div class="company_profile_block">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="company_profile_section">
                                <a> <i class="material-icons-outlined">foundation</i> Trụ sở chính </a>
                            </div>
                            <div class="company_profile_content">
                                <%= @company.location %>
                            </div>

                            <div class="company_profile_section">
                                <a> <i class="material-icons-outlined">link</i> Website </a>
                            </div>
                            <div class="company_profile_content">
                                <%=h auto_link(simple_format(@company.website), :link => :urls) %>
                            </div>

                            <div class="company_profile_section">
                                <a> <i class="material-icons-outlined">phone</i> Số điện thoại </a>
                            </div>
                            <div class="company_profile_content">
                                <%= @company.phone %>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="company_profile_section">
                                <a><i class="material-icons-outlined">people</i> Quy mô công ty </a>
                            </div>
                            <div class="company_profile_content">
                                <%= @company.size %>
                            </div>

                            <div class="company_profile_section">
                                <a> <i class="material-icons-outlined">event_available</i> Năm thành lập </a>
                            </div>
                            <div class="company_profile_content">
                                <%= @company.time_establish.strftime("%B %d, %Y")%>
                            </div>

                            <div class="company_profile_section">
                                <a> <i class="material-icons-outlined">money</i> Doanh thu </a>
                            </div>
                            <div class="company_profile_content">
                                <%= @company.values%>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="company_profile_section">
                                <a> <i class="material-icons-outlined">flag</i> Quốc gia </a>
                            </div>
                            <div class="company_profile_content">
                                <%= @company.country %>
                            </div>

                            <div class="company_profile_section">
                                <a> <i class="material-icons-outlined">local_police</i> Loại hình hoạt động </a>
                            </div>
                            <div class="company_profile_content">
                                <%if @company.company_type.present?%>
                                    <%= @company.company_type%>
                                <%else%>
                                    Không xác định
                                <%end%>
                            </div>

                            <div class="company_profile_section">
                                <a> <i class="material-icons-outlined">turned_in_not</i> Lĩnh vực hoạt động </a>
                            </div>
                            <div class="company_profile_content">
                                <%= @company.field_operetion %>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="company_profile_section">
                                <a> <i class="material-icons-outlined">date_range</i> Ngày làm việc trong tuần </a>
                            </div>
                            <div class="company_profile_content">
                                <%if @company.working_date.present?%>
                                    <%= @company.working_date%>
                                <%else%>
                                    Mon - Fri
                                <%end%>
                            </div>

                            <div class="company_profile_section">
                                <a> <i class="material-icons-outlined">history_toggle_off</i> Thời gian làm việc </a>
                            </div>
                            <div class="company_profile_content">
                                <%if @company.working_time.present?%>
                                    <%= @company.working_time%>
                                <%else%>
                                    8h00 - 17h00
                                <%end%>
                            </div>

                            <div class="company_profile_section">
                                <a> <i class="material-icons-outlined">history</i> Cập nhật lần cuối </a>
                            </div>
                            <div class="company_profile_content">
                                <%= @company.created_at.strftime("%B %d, %Y")%>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="company_profile_summary_block">
                <div class="company_profile_title">
                    <a>Giới thiệu <%= @company.name %></a>
                </div>

                <div class="company_profile_summary">
                    <a><%= @company.overview.html_safe %></a>
                </div>
            </div>

            <div class="company_profile_review">
                <div class="review_content">
                    <%= render :partial => 'company_reviews/review_score' %>
                </div>
            </div>    

            <div class="company_profile_interview">
                <div class="interview_content">
                    <%= render :partial => 'company_interviews/interview_score' %>
                </div>
            </div> 

            <div class="company_job">
                <div class="company_job_title">
                    <a> Việc làm mới từ <%= @company.name %></a>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="job_content">
                            <%= render @company.company_jobs %>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </body>

</html>