<div class="company_profile_tab">
    <div class="row">
        <div class="col-sm-8">
            <div class="company_profile_left">
                <div class="company_profile_overview">
                    <div class="company_profile_block">
                        <div class="company_profile_title">
                            <a>Giới thiệu <%= @company.name %></a>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="company_profile_content_block">
                                    <div class="company_profile_section">
                                        <a> <i class="material-icons-outlined">business</i> <span>Trụ sở chính</span> </a>
                                    </div>
                                    <div class="company_profile_content">
                                        <%if !@company.location.to_s.empty?%>
                                            <span><%= @company.location %></span>
                                        <%else%>
                                            <span>---</span>
                                        <%end%>
                                    </div>
                                </div>

                                <div class="company_profile_content_block">
                                    <div class="company_profile_section">
                                        <a> <i class="material-icons-outlined">open_in_new</i> <span>Website</span> </a>
                                    </div>
                                    <div class="company_profile_content">
                                        <%if !@company.website.to_s.empty?%>
                                            <%=h auto_link(simple_format(@company.website), :link => :urls) %>
                                        <%else%>
                                            <span>---</span>
                                        <%end%>
                                    </div>
                                </div>

                                <div class="company_profile_content_block">
                                    <div class="company_profile_section">
                                        <a> <i class="material-icons-outlined">phone</i> <span>Số điện thoại</span> </a>
                                    </div>
                                    <div class="company_profile_content">
                                        <%if !@company.phone.to_s.empty?%>
                                            <span><%= @company.phone %></span>
                                        <%else%>
                                            <span>---</span>
                                        <%end%>
                                    </div>
                                </div>

                                <div class="company_profile_content_block">
                                    <div class="company_profile_section">
                                        <a><i class="material-icons-outlined">people</i> <span>Quy mô công ty</span> </a>
                                    </div>
                                    <div class="company_profile_content">
                                        <%if !@company.size.to_s.empty?%>
                                            <span><%= @company.size %></span>
                                        <%else%>
                                            <span>---</span>
                                        <%end%>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="company_profile_content_block">
                                    <div class="company_profile_section">
                                        <a> <i class="material-icons-outlined">event_available</i> <span>Năm thành lập</span> </a>
                                    </div>
                                    <div class="company_profile_content">
                                        <%if !@company.time_establish.to_s.empty?%>
                                            <%= @company.time_establish.strftime("%B %d, %Y")%>
                                        <%else%>
                                            <span>---</span>
                                        <%end%>
                                    </div>
                                </div>

                                <div class="company_profile_content_block">
                                    <div class="company_profile_section">
                                        <a> <i class="material-icons-outlined">money</i> <span>Doanh thu</span> </a>
                                    </div>
                                    <div class="company_profile_content">
                                        <%if !@company.values.to_s.empty?%>
                                            <%= @company.values%>
                                        <%else%>
                                            <span>---</span>
                                        <%end%>
                                    </div>
                                </div>

                                <div class="company_profile_content_block">
                                    <div class="company_profile_section">
                                        <a> <i class="material-icons-outlined">flag</i> <span>Quốc gia</span> </a>
                                    </div>
                                    <div class="company_profile_content">
                                        <%if !@company.country.to_s.empty?%>
                                            <%= @company.country%>
                                        <%else%>
                                            <span>---</span>
                                        <%end%>
                                    </div>
                                </div>

                                <div class="company_profile_content_block">
                                    <div class="company_profile_section">
                                        <a> <i class="material-icons-outlined">local_police</i> <span>Loại hình hoạt động</span> </a>
                                    </div>
                                    <div class="company_profile_content">
                                        <%if !@company.company_type.to_s.empty?%>
                                            <%= @company.company_type%>
                                        <%else%>
                                            <span>---</span>
                                        <%end%>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="company_profile_content_block">
                                    <div class="company_profile_section">
                                        <a> <i class="material-icons-outlined">favorite_border</i> <span>Lĩnh vực hoạt động</span> </a>
                                    </div>
                                    <div class="company_profile_content">
                                        <%if !@company.field_operetion.to_s.empty?%>
                                            <%= @company.field_operetion%>
                                        <%else%>
                                            <span>---</span>
                                        <%end%>
                                    </div>
                                </div>

                                <div class="company_profile_content_block">
                                    <div class="company_profile_section">
                                        <a> <i class="material-icons-outlined">date_range</i> <span>Ngày làm việc trong tuần</span> </a>
                                    </div>
                                    <div class="company_profile_content">
                                        <%if !@company.working_date.to_s.empty?%>
                                            <%= @company.working_date%>
                                        <%else%>
                                            <span>---</span>
                                        <%end%>
                                    </div>
                                </div>
                                
                                <div class="company_profile_content_block">
                                    <div class="company_profile_section">
                                        <a> <i class="material-icons-outlined">history_toggle_off</i> <span>Thời gian làm việc</span> </a>
                                    </div>
                                    <div class="company_profile_content">
                                        <%if !@company.working_time.to_s.empty?%>
                                            <%= @company.working_time%>
                                        <%else%>
                                            <span>---</span>
                                        <%end%>
                                    </div>
                                </div>

                                <div class="company_profile_content_block">
                                    <div class="company_profile_section">
                                        <a> <i class="material-icons-outlined">history</i> <span>Cập nhật lần cuối</span> </a>
                                    </div>
                                    <div class="company_profile_content">
                                        <%if !@company.updated_at.to_s.empty?%>
                                            <%= @company.updated_at.strftime("%B %d, %Y")%>
                                        <%else%>
                                            <span>---</span>
                                        <%end%>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="company_profile_summary">
                            <a><%= @company.overview.html_safe %></a>
                        </div>
                    </div>
                </div>

                <%if(@company.company_reviews.count > 0)%>
                    <div class="company_profile_review">
                        <div class="company_profile_title">
                            <a>Review <%= @company.name %></a>
                        </div>
                        <div class="review_content">
                            <%if(@company.company_reviews.count > 0)%>
                                <%= render :partial => 'company_reviews/review_score' %>
                            <%end%>
                        </div>
                        <div class="review_suggestion">
                            <a href="<%=company_path(@company, tab_id: 'CompanyReviewsID') %>">Xem tất cả <%=@company.company_reviews.count%> review <%=@company.name%></a>
                        </div>
                    </div>
                <%end%>

                <%if(@company.company_interviews.count > 0)%>
                    <div class="company_profile_interview">
                        <div class="company_profile_title">
                            <a>Kinh nghiệm phỏng vấn tại <%= @company.name %></a>
                        </div>
                        <div class="interview_content">
                            <%if(@company.company_interviews.count > 0)%>
                                <%= render :partial => 'company_interviews/interview_score' %>
                            <%end%>
                        </div>
                        
                        <div class="interview_suggestion">
                            <a href="<%=company_path(@company, tab_id: 'CompanyInterviewsID') %>">Xem tất cả <%=@company.company_interviews.count%> kinh nghiệm phỏng vấn tại <%=@company.name%></a>
                        </div>
                    </div>
                <%end%>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="company_profile_right">
                <%if @company_jobs.total_count > 0%>
                    <div class="company_job_refer_block">
                        <div class="company_job_label">
                            <a>Tin tuyển dụng</a>
                        </div>
                        <div class="company_job_des">
                            <%@company_jobs.order('created_at DESC').first(10).each do |company_job|%>
                                <%= render :partial => 'company_jobs/company_job_mini', :locals => {:company_job => company_job, :border => false} %>
                            <%end%>
                        </div>
                    </div>
                <%end%>
            </div>
        </div>
    </div>
</div> 