
<div class="company_question_tab">
    <div class="row">
        <div class="col-sm-8">
            <div class="company_question_left"> 
                <%if @company.company_questions.count > 0%>  
                    <div class="company_question_index_toolbar">
                        <div class="company_question_index_title">
                            <a><%=t(:found)%> <%=convert_number_to_human(@company_questions.total_count)%> <%=t(:interview_question).downcase%></a>
                        </div>
                        <div class="company_question_index_tab_link">
                            <div class="dropdown show">
                                <a class="btn btn-secondary dropdown-toggle" href="<%=company_path(@company, tab: "CompanyQuestionsID", sort_tab: 'QuestionNewID')%>" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <%=t(:newest)%>
                                </a>

                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="<%=company_path(@company, tab: "CompanyQuestionsID", sort_tab: 'QuestionPopularID')%>"><%=t(:popular)%></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="company_question_index">
                        <%= render @company_questions%>
                        <%= paginate @company_questions, window: 2%>
                    </div>
                <%else%>
                    <div class="question_new_not_found_block">
                        <div class="question_new_not_found_icon">
                            <i class="material-icons">help</i>
                        </div>
                        <div class="question_new_not_found">
                            <span><%=t(:company_help)%> <%=@company.name%></span>
                        </div>
                        <div class="question_new_not_found_action">
                            <div class="question_new_label">
                                <a><%=t(:company_help_1)%></a>
                            </div>
                            <div class="question_new_button">
                                <%= link_to new_company_company_question_path(@company) do%>
                                    <button type="submit"> <i class="material-icons-outlined">edit</i> <span> <%=t(:add_question)%></span> </button>
                                <%end%>
                            </div>
                        </div>
                    </div>
                <%end%>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="company_question_right"> 
                <%if @company_jobs.total_count >0%>
                    <div class="company_job_refer_block">
                        <div class="company_job_label">
                            <a><%=t(:jobs_recommend)%></a>
                        </div>
                        <div class="company_job_des">
                            <%@company_jobs.order('created_at DESC').first(10).each do |company_job|%>
                                <%= render :partial => 'company_jobs/company_job_mini', :locals => {:company_job => company_job} %>
                            <%end%>
                        </div>
                    </div>
                <%end%>
            </div>
        </div>
    </div>
    
    <div class="breadcrumbs">
        <%= render_breadcrumbs :separator => '<i class="material-icons-outlined">keyboard_arrow_right</i>' %>
    </div>
</div>