<div class="company_review_tab">
    <div class="row">
        <div class="col-sm-8">
            <div class="company_review_tab_des_left">
                <%if(@company.company_reviews.count > 0)%>
                    <div class="company_review_score_block">
                        <div class="company_review_title">
                            <a><%=t(:review)%> <%= @company.name %></a>
                        </div>
                        <div class="company_review_score">
                            <%= render :partial => 'company_reviews/review_score' %>
                        </div>
                    </div>

                    <div class="company_review">
                        <%= render @company_reviews %>
                    </div>
                    <%= paginate @company_reviews, window: 2%>
                <%else%>
                    <div class="review_new_not_found_block">
                        <div class="review_new_not_found_icon">
                            <i class="material-icons">insert_emoticon</i>
                        </div>
                        <div class="review_new_not_found">
                            <span><%=t(:review_not_found_left)%> <%=@company.name%>, <%=t(:review_not_found_right)%></span>
                        </div>
                        <div class="review_new_not_found_action">
                            <div class="review_new_label">
                                <a><%=t(:are_you_an_employee_of_company)%>?</a>
                            </div>
                            <div class="review_new_button">
                                <%= link_to new_company_company_review_path(@company) do%>
                                    <button type="submit"> <i class="material-icons-outlined">edit</i> <span> <%=t(:write_review)%></span> </button>
                                <%end%>
                            </div>
                        </div>
                    </div>
                <%end%>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="company_review_tab_des_right">
                <%if @company_jobs.total_count >0%>
                    <div class="company_job_refer_block">
                        <div class="company_job_label">
                            <a><%=t(:jobs)%></a>
                        </div>
                        <div class="company_job_des">
                            <%@company_jobs.order('created_at DESC').first(10).each do |company_job|%>
                                <%= render :partial => 'company_jobs/company_job_mini', :locals => {:company_job => company_job} %>
                            <%end%>
                        </div>
                    </div>
                <%end%>
            </div>
        </div>
    </div>
    
    <div class="breadcrumbs">
        <%= render_breadcrumbs :separator => '<i class="material-icons-outlined">keyboard_arrow_right</i>' %>
    </div>
</div>