
<div class="company_salary_tab">
    <div class="row">
        <div class="col-sm-8">
            <div class="company_salary_left">
                <%if @company.company_salaries.count > 0%>
                    <div class="row">
                        <%i = 1%>
                        <%while i < 13%>
                            <div class="col-sm-6">
                                <%= render :partial => 'company_salaries/company_salary', :object => @company, locals: {salary_locate: i} %>
                            </div>
                            <%i += 1%>
                        <%end%>
                    </div>
                <%else%>
                    <div class="salary_new_not_found_block">
                        <div class="salary_new_not_found_icon">
                            <i class="material-icons">paid</i>
                        </div>
                        <div class="salary_new_not_found">
                            <span><%=t(:salary_not_found_left)%> <%=@company.name%>, <%=t(:salary_not_found_right)%></span>
                        </div>
                        <div class="salary_new_not_found_action">
                            <div class="salary_new_label">
                                <a><%=t(:are_you_an_employee_of_company)%></a>
                            </div>
                            <div class="salary_new_button">
                                <%= link_to new_company_company_salary_path(@company) do%>
                                    <button type="submit"> <i class="material-icons-outlined">edit</i> <span> <%=t(:add_salary)%></span> </button>
                                <%end%>
                            </div>
                        </div>
                    </div>
                <%end%>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="company_salary_right">
                <%if @company_jobs.total_count >0%>
                    <div class="company_job_refer_block">
                        <div class="company_job_label">
                            <a><%=t(:jobs)%></a>
                        </div>
                        <div class="company_job_des">
                            <%@company_jobs.order('created_at DESC').first(10).each do |company_job|%>
                                <%= render :partial => 'company_jobs/company_job_mini', :locals => {:company_job => company_job} %>
                            <%end%>
                        </div>
                    </div>
                <%end%>
            </div>
        </div>
    </div>
    
    <div class="breadcrumbs">
        <%= render_breadcrumbs :separator => '<i class="material-icons-outlined">keyboard_arrow_right</i>' %>
    </div>
</div>