
<% if @company_searchs.total_count > 0 %>
	<div class="companies_search_block">
		<div class="section_title_search">
			<span><%=@company_searchs.total_count%> <%=t(:company_search_result)%> "<%= params[:search]%>"</span>
		</div>
		<div class="company_search_result">
			<div class="row">
				<%if @company_searchs.present?%>
					<% @company_searchs.each do |company| %>
						<div class="col-sm-4">
							<%=render company%>
						</div>
					<%end%>
				<%end%>
			</div>
			<%= paginate @company_searchs, window: 2%>
		</div>
	</div>
<%else%>
	<div class="company_search_not_found_block">
        <div class="company_search_not_found_label">
            <span><%=t(:company_search_not_found)%> "<%= params[:search]%>"</span>
        </div>
        <div class="company_search_not_found_image">
            <%=image_tag("others/no_result_found.png")%>
        </div>
        <div class="company_search_not_found_help">
            <a><%=t(:company_search_not_found_1)%>:</a>
            <ul>
                <li>
                    <%=t(:company_search_not_found_2)%>.
                </li>

                <li>
                    <%=t(:company_search_not_found_3)%>.
                </li>
            </ul>
        </div>

        <div class="company_search_not_found_suggest">
            <div class="company_search_not_found_suggest_label">
                <a><%=t(:company_search_not_found_suggest)%></a>
            </div>
            <div class="row">
                <%@companies.each do |company|%>
                    <div class="col-sm-4">
                        <%=render company%>
                    </div>
                <%end%>
            </div>
            <%= paginate @companies, window: 2%>
        </div>
    </div>
<%end%>