<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
    </head>

    <body>
        <div class="companies_search_area">

            <div class="company_search_bar">
                <%=form_tag companies_path, :method => "get" do%>
                    <%= text_field_tag :search, params[:search]%>
                    <%= submit_tag("Tìm kiếm", :name => nil)%>
                <%end%>
            </div>
                
            <div class="section_title">
                <t>Tìm thấy <%@companies.count.to_i%> kết quả phù hợp</t>
            </div>

            <% @companies.each do |company| %>
                <div class="single_company">
                
                    <div class="company_thumbnail">
                        <%if company.avatar.attached?%>
                            <%= link_to (image_tag(company.avatar)), image_path(url_for(company.avatar)), rel: "gallery" , :href => company_path(company)%>
                        <%end%>
                    </div>

                    <div class="company_name">
                        <t><%= company.name%></t>
                    </div>
                    
                    <div class="company_summary">
                        <div class="company_rating">
                            <div class="review_score_star">
                                <i class="material-icons checked">circle</i>
                                <i class="material-icons checked">circle</i>
                                <i class="material-icons checked">circle</i>
                                <i class="material-icons checked">circle</i>
                                <i class="material-icons checked">circle</i>
                            </div>
                        </div>

                        <div class="review_point">
                            <t><i class="fa fa-edit"></i> <%= company.company_reviews.count %> đánh giá (4.1/5 điểm)</t>
                        </div>

                        <div class="company_location">
                            <p><i class="material-icons">place</i> <%= company.location %></p>
                        </div>
                    </div>

                    <div class="company_new_company">
                        <%= link_to '<button type="button">Viết đánh giá </button>'.html_safe, new_company_company_review_path(company) %>
                    </div>

                </div>
            <%end%>
        </div>
</html>