<div class="companies_search_block">
	<div class="section_title_search">
		<% if @company_searchs.total_count > 0 %>
			<span><%=@company_searchs.total_count%> công ty cho từ khóa "<%= params[:search]%>"</span>
		<%else%>
			<span>Không tìm được kết quả phù hợp với từ khóa "<%= params[:search]%>"</span>
		<%end%>
	</div>
	<div class="company_search_result">
		<div class="row">
			<%if @company_searchs.present?%>
				<% @company_searchs.each do |company| %>
					<div class="col-sm-3">
						<%=render company%>
					</div>
				<%end%>
			<%end%>
		</div>
		<%= paginate @company_searchs, window: 1, outer_window: 1%>
	</div>
</div>