<div class="company_unlock_content">
    <h3><i class="material-icons-outlined">lock</i><%=t(:unlock_content_title)%></h3>
    <div class="company_unlock_content_btn">
        <div class="row">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-3">
                <%= link_to new_company_company_review_path(company) do%>
                    <button class="company_unlock_content_review_btn"><%=t(:review)%></button>
                <%end%>
            </div>
            <div class="col-sm-3">
                <%= link_to new_company_company_interview_path(company) do%>
                    <button class="company_unlock_content_interview_btn"><%=t(:interview)%></button>
                <%end%>
            </div>
            <div class="col-sm-3">
            </div>
        </div>
    </div>
</div>