<!doctype html>
<html>
    <head>
    <!-- Place your kit's code here -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
        <div class="company_join">

            <div class="company_join_overview_left">

                <div class="company_join_title">
                    <t> Những chính sách nổi bật tại <%= @company.name %></t>
                </div>

                <div class="company_join_policy">
                    <t><%= @company.policy %></t>
                </div>
            </div>
            
            <div class='company_join_overview_block_right'>
                <div class='company_join_overview_block_right_overview'>
                    <div class="company_join_overview_label">
                        <span> Giới thiệu</span>
                    </div>

                    <div class="company_join_overview_right">
                        <div class="company_join_overview_right_title">
                            <i class="material-icons">place</i><a>  Địa chỉ </a>
                        </div>
                        <div class="company_join_overview_right_des">
                            <t><%= @company.location %></t>
                        </div>
                    </div>
                    <div class="company_join_overview_right">
                        <div class="company_join_overview_right_title">
                            <i class="material-icons">people</i> <a> Nhân viên </a>
                        </div>
                        <div class="company_join_overview_right_des">
                            <t><%= @company.size %></t>
                        </div>
                    </div>
                    <div class="company_join_overview_right">
                        <div class="company_join_overview_right_title">
                            <i class="material-icons">grading</i> <a> Lĩnh vực hoạt động </a>
                        </div>
                        <div class="company_join_overview_right_des">
                            <t><%= @company.field_operetion %></t>
                        </div>
                    </div>
                    <div class="company_join_overview_right">
                        <div class="company_join_overview_right_title">
                            <i class="material-icons">http</i><a> Liên hệ </a>
                        </div>
                        <div class="company_join_overview_right_des">
                            <t><%= @company.website %></t>
                        </div>
                    </div>
                    <div class="company_join_overview_right">
                        <div class="company_join_overview_right_title">
                            <i class="material-icons">history</i><a> Cập nhật lần cuối </a>
                        </div>
                        <div class="company_join_overview_right_des">
                            <t><%= @company.name %></t>
                        </div>
                    </div>
                </div>

                <div class='company_join_overview_block_right_job'>
                    <div class="company_job_label">
                        <span> Việc làm</span>
                    </div>
                    <div class="company_job_des">
                        <%@company.company_jobs.each do |company_job|%>
                            <div class="company_job_block">
                                <div class="company_avatar">
                                    <%if @company.avatar.attached?%>
                                        <img><%= link_to (image_tag(@company.avatar)), image_path(url_for(@company.avatar)), rel: "gallery" , :href => company_path(@company)%>
                                    <%end%>
                                </div>
                                <div class="company_job_title">
                                    <%= link_to (company_job.title), company_company_job_path(@company, company_job) %>
                                </div>
                            </div>
                        <%end%>
                    </div>
                </div>
            </div>

        </div>
    </body>

</html>