<!doctype html>
<html>
    <head>
    <!-- Place your kit's code here -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
        <div class="company_join">

            <div class="company_join_overview_left">

                <div class="company_join_title">
                    <t> Những chính sách nổi bật của <%= @company.name %></t>
                </div>

                <div class="company_join_policy">
                    <t><%= @company.policy %></t>
                </div>
            </div>
            
            <div class='company_join_overview_block_right'>
                <div class='company_join_overview_block_right_overview'>
                    <div class="company_join_overview_right">
                        <div class="company_join_overview_right_title">
                            <strong> <i class="material-icons">calendar_today</i> ĐỊA CHỈ</strong>
                        </div>
                        <div class="company_join_overview_right_des">
                            <t><%= @company.location %></t>
                        </div>
                    </div>
                    <div class="company_join_overview_right">
                        <div class="company_join_overview_right_title">
                            <strong> <i class="material-icons">check_circle_outline</i> NHÂN VIÊN</strong>
                        </div>
                        <div class="company_join_overview_right_des">
                            <t><%= @company.size %></t>
                        </div>
                    </div>
                    <div class="company_join_overview_right">
                        <div class="company_join_overview_right_title">
                            <strong> <i class="material-icons">work_outline</i> LĨNH VỰC CHÍNH</strong>
                        </div>
                        <div class="company_join_overview_right_des">
                            <t><%= @company.field_operetion %></t>
                        </div>
                    </div>
                    <div class="company_join_overview_right">
                        <div class="company_join_overview_right_title">
                            <strong><i class="material-icons">translate</i> LIÊN HỆ</strong>
                        </div>
                        <div class="company_join_overview_right_des">
                            <t><%= @company.website %></t>
                        </div>
                    </div>
                    <div class="company_join_overview_right">
                        <div class="company_join_overview_right_title">
                            <strong> <i class="material-icons">timer</i> LAST UPDATE</strong>
                        </div>
                        <div class="company_join_overview_right_des">
                            <t><%= @company.name %></t>
                        </div>
                    </div>
                </div>

                <div class='company_join_overview_block_right_job'>
                    <div class="company_job">
                        <strong> Việc làm tại <%=@company.name%></strong>
                    </div>
                </div>
            </div>

        </div>
    </body>

</html>