<% content_for :meta_robots, "all" %>
<%- model_class = Company -%>
<%case @tab%>
<%when "CompanyAllID"%>
    <%if !@is_company_searched%>
        <% title = t(:company_index_meta_1) %>
    <%else%>
        <% title = t(:company_index_meta_2)%>
    <%end%>
<%when "CompanyNewestID"%>
    <%title = t(:company_index_meta_3)%>
<%when "default", "CompanyMostRecentID"%>
    <%title = t(:company_index_meta_4)%>
<%when "CompanyBestID"%>
    <%title = t(:company_index_meta_5)%>
<%else%>
    <%title = ""%>
<%end%>
<% content_for :meta_title, title %>
<% content_for :meta_description, t(:company_index_meta_6) %>
<div class="companies_index">
    <div class="companies_search">
        <div class="container">
            <div class='row justify-content-md-center'>
                <div class ="col-sm-8">
                    <div class="company_bar">
                        <div class="company_bar_label">
                            <h3><%=t(:company_index_label)%>.</h3>
                            <a><%=t(:company_index_label_sub)%>.</a>
                        </div>
                        
                        <%=form_tag companies_path, :method => "get" do%>
                            <div class='row'>
                                <div class="col-sm-10 col_padding_customize_right">
                                    <div class="company_search_input">
                                        <i class="material-icons-outlined">search</i>
                                        <%= text_field_tag :search, params[:search], data: { behavior: "autocomplete" }, required: true, class: 'form-control', placeholder: t(:company_index_search_hint)%>
                                    </div>
                                </div>
                                
                                <div class="col-sm-2 col_padding_customize_left">
                                    <div class="company_search_button">
                                        <%= button_to "", form_class: "search_button", :name => nil do%>
                                            <i class="material-icons-outlined">search</i>
                                            <a><%=t(:search)%></a>
                                        <%end%> 
                                    </div>
                                </div>
                            </div>
                        <%end%>

                        <script>
                            document.addEventListener("turbolinks:load", function() {
                                $input = $("[data-behavior='autocomplete']")

                                var options = {
                                    getValue: "name",
                                    url: function(phrase) {
                                        return "/companies.json?search=" + phrase;
                                    },
                                    categories: [
                                        {
                                            listLocation: "suggest_companies"
                                        },
                                    ],
                                    list: {
                                    onChooseEvent: function() {
                                            var url = $input.getSelectedItemData().url
                                            $input.val("")
                                            Turbolinks.visit(url)
                                        }
                                    }
                                }

                                $input.easyAutocomplete(options)
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="companies_area">
        <div class="container">
            <%if (@is_company_searched)%>
                <%= render :partial => 'companies/search', :object => @company_searchs %>
            <%else%>
                <div class="companies_section_title">
                    <span><%=t(:company_list)%></span>
                </div>

                <div class="company_index_tab_link">
                    <div class="dropdown show">
                        <a class="btn btn-secondary dropdown-toggle" href="<%=companies_path(tab: 'CompanyMostRecentID')%>" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <%=t(:interesting)%>
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="<%=companies_path(tab: 'CompanyAllID')%>"><%=t(:all)%></a>
                            <a class="dropdown-item" href="<%=companies_path(tab: 'CompanyMostRecentID')%>"><%=t(:interesting)%></a>
                            <a class="dropdown-item" href="<%=companies_path(tab: 'CompanyNewestID')%>"><%=t(:lastest_company)%></a>
                            <a class="dropdown-item" href="<%=companies_path(tab: 'CompanyBestID')%>"><%=t(:best_company)%></a>
                        </div>
                    </div>
                </div>

                <div class="company_index_tab_content">
                    <%if @tab == "CompanyAllID"%>
                        <div class="company_all_tab">
                            <div class="row">
                                <% @companies_oder_name.each do |company| %>
                                    <div class="col-sm-4">
                                        <%=render company%>
                                    </div>
                                <%end%>
                            </div>
                            <%= paginate @companies_oder_name, window: 2%>
                        </div>
                    <%end%>
                    
                    <%if @tab == "CompanyNewestID"%>
                        <div class="company_newest_tab">
                            <div class="row">
                                <% @companies_oder_newest.each do |company| %>
                                    <div class="col-sm-4">
                                        <%=render company%>
                                    </div>
                                <%end%>
                            </div>
                            <%= paginate @companies_oder_newest, window: 2%>
                        </div>
                    <%end%>

                    <%if @tab == "default" || @tab == "CompanyMostRecentID"%>
                        <div class="company_most_recent_tab">
                            <div class="row">
                                <% @companies_most_recent.each do |company| %>
                                    <div class="col-sm-4">
                                        <%=render company%>
                                    </div>
                                <%end%>
                            </div>
                            <%= paginate @companies_most_recent, window: 2%>
                        </div>
                    <%end%>

                    <%if @tab == "CompanyBestID"%>
                        <div class="company_best_tab">
                            <div class="row">
                                <% @companies_best.each do |company| %>
                                    <div class="col-sm-4">
                                        <%=render company%>
                                    </div>
                                <%end%>
                            </div>
                            <%= paginate @companies_best, window: 2%>
                        </div>
                    <%end%>
                </div>
            <%end%>
            
            <div class="breadcrumbs">
                <%= render_breadcrumbs :separator => '<i class="material-icons-outlined">keyboard_arrow_right</i>' %>
            </div>
        </div>
    </div>
</div>