<%- model_class = Company -%>
<%case @tab_id%>
<%when "default", "CompanyAllID"%>
    <%if !@is_company_searched%>
        <% title = "Review, đánh giá các công ty" %>
    <%else%>
        <% title = "Kết quả tìm kiếm"%>
    <%end%>
<%when "CompanyNewestID"%>
    <%title = "Công ty mới nhất được cập nhật hàng ngày"%>
<%when "CompanyMostRecentID"%>
    <%title = "Công ty được nhiều người quan tâm, có lượng review đông đảo nhất"%>
<%when "CompanyBestID"%>
    <%title = "Công ty tốt nhất dựa trên kết quả review, đánh giá"%>
<%else%>
    <%title = ""%>
<%end%>
<% content_for :meta_title, title %>
<% content_for :meta_description, "Danh sách các công ty tốt nhất, mới nhất, được quan tâm nhiều nhất review bởi cộng đồng Firework" %>
<div class="companies_index">
    <div class="companies_search">
        <div class="container">
            <div class="company_bar">
                <div class="company_bar_label">
                    <h3>Tìm kiếm nơi làm việc tốt nhất</h3>
                    <a>Trải nghiệm đến từ chính những người trong cuộc sẽ cho bạn cái nhìn rõ nhất về các công ty.</a>
                </div>
                
                <%=form_tag companies_path, :method => "get" do%>
                    <div class="company_search_input">
                        <div class='row'>
                            <div class="col-sm-10 padding_customize_right">
                                <div class="company_search_what">
                                    <i class="material-icons-outlined">search</i>
                                    <%= text_field_tag :search, params[:search], required: true, class: 'form-control', placeholder: "Nhập tên công ty cần tìm kiếm"%>
                                </div>
                            </div>
                            
                            <div class="col-sm-2">
                                <div class="company_search_button">
                                    <%= button_to "", form_class: "search_button", :name => nil do%>
                                        <a>Tìm kiếm</a>
                                    <%end%> 
                                </div>
                            </div>
                        </div>
                    </div>
                <%end%>
            </div>
        </div>
    </div>

    <div class="companies_area">
        <div class="container">
            <%if (@is_company_searched)%>
                <%= render :partial => 'companies/search', :object => @company_searchs %>
            <%end%>

            <%=form_tag pages_select_company_path, :method => "get" do%>
                <div class="company_current_review">
                    <div class='row'>
                        <div class="col-sm-4">
                            <div class="company_current_review_title">
                                <i class="material-icons-outlined checked">create</i><a> Review công ty của bạn </a>
                            </div>
                        </div>
                            
                        <div class="col-sm-6">
                            <div class="user_select_company">
                                <%= select_tag :company_id, 
                                    options_from_collection_for_select(Company.all.approved, "id", "name"), 
                                    required: true,
                                    prompt: "Chọn công ty", 
                                    class: "form-control"%>
                            </div>
                        </div>
                        
                        <div class='col-sm-2'>
                            <div class="user_select_start">
                                <%= button_to "", form_class: "select_button", :name => nil do%>
                                    <a>Review</a>
                                <%end%> 
                            </div>
                        </div>
                    </div>
                </div>
            <%end%>

            <div class="section_title">
                <span>Danh sách công ty</span>
            </div>
            
            <div class="company_index_tab_link">
                <ul class="nav">
                    <li class="nav-item">
                        <%if @tab_id == "default" || @tab_id == "CompanyAllID"%>
                            <%active = "active"%>
                        <%else%> 
                            <%active = ""%>
                        <%end%> 
                        <a class="nav-link <%=active%>" href="<%=companies_path(tab_id: 'CompanyAllID')%>">Tất cả</a>
                    </li>
                    <li class="nav-item">
                        <%if @tab_id == "CompanyNewestID"%>
                            <%active = "active"%>
                        <%else%> 
                            <%active = ""%>
                        <%end%>
                        <a class="nav-link <%=active%>" href="<%=companies_path(tab_id: 'CompanyNewestID')%>">Công ty mới nhất </a>
                    </li>
                    <li class="nav-item">
                        <%if @tab_id == "CompanyMostRecentID"%>
                            <%active = "active"%>
                        <%else%> 
                            <%active = ""%>
                        <%end%>
                        <a class="nav-link <%=active%>" href="<%=companies_path(tab_id: 'CompanyMostRecentID')%>">Nhiều người quan tâm nhất</a>
                    </li>
                    <li class="nav-item">
                        <%if @tab_id == "CompanyBestID"%>
                            <%active = "active"%>
                        <%else%> 
                            <%active = ""%>
                        <%end%>
                        <a class="nav-link <%=active%>" href="<%=companies_path(tab_id: 'CompanyBestID')%>">Công ty tốt nhất</a>
                    </li>
                </ul>
            </div>

            <div class="company_index_tab_content">
                <%if @tab_id == "default" || @tab_id == "CompanyAllID"%>
                    <div class="company_all_tab">
                        <div class="row">
                            <% @companies_oder_name.each do |company| %>
                                <div class="col-sm-3">
                                    <%=render company%>
                                </div>
                            <%end%>
                        </div>
                        <%= paginate @companies_oder_name, window: 1, outer_window: 1%>
                    </div>
                <%end%>
                
                <%if @tab_id == "CompanyNewestID"%>
                    <div class="company_newest_tab">
                        <div class="row">
                            <% @companies_oder_newest.each do |company| %>
                                <div class="col-sm-3">
                                    <%=render company%>
                                </div>
                            <%end%>
                        </div>
                        <%= paginate @companies_oder_newest, window: 1, outer_window: 1%>
                    </div>
                <%end%>

                <%if @tab_id == "CompanyMostRecentID"%>
                    <div class="company_most_recent_tab">
                        <div class="row">
                            <%count = 0%>
                            <% @companies_most_recent.each do |company| %>
                                <%count += 1%>
                                <%break if count > 20%>
                                <div class="col-sm-3">
                                    <%=render company%>
                                </div>
                            <%end%>
                        </div>
                    </div>
                <%end%>

                <%if @tab_id == "CompanyBestID"%>
                    <div class="company_best_tab">
                        <div class="row">
                            <%count = 0%>
                            <% @companies_best.each do |company| %>
                                <%count += 1%>
                                <%break if count > 20%>
                                <div class="col-sm-3">
                                    <%=render company%>
                                </div>
                            <%end%>
                        </div>
                    </div>
                <%end%>
            </div>
        </div>
        <div class="resume_upload">
            <%# <strong>Để nhà tuyển dụng tìm đến bạn, hãy tạo hồ sơ</strong> %>
        </div>
    </div>
</div>