<%- model_class = Company -%>

<div class="company_area">

  <div class="section_company_name">
      <h2><%= @company.name %><h2>
  </div>

  <!-- Tab links -->
  <div class="company_tab">
    <button class="company_tablinks active" onclick="openContent(event, 'Company')"><h3>Công ty</h3></button>
    <button class="company_tablinks" onclick="openContent(event, 'CompanyReviews')"><h3>Đánh giá công ty</h3></button>
    <button class="company_tablinks" onclick="openContent(event, 'CompanyInterviews')"><h3>Kinh nghiệm phỏng vấn</h3></button>
    <button class="company_tablinks" onclick="openContent(event, 'CompanyJobs')"><h3>Tuyển dụng</h3></button>
  </div>

  <!-- Tab content -->
  <div id="Company" class="company_tabcontent" style="display:block;">
    <%= render :partial => 'companies/profile' %>
  </div>

  <div id="CompanyReviews" class="company_tabcontent">
    <%= render :partial => 'company_reviews/review_score' %>
    <span class="user_comment_heading"> Tất cả <%= @company.company_reviews.count%> Đánh giá về công ty </span>
    <%= render @company.company_reviews %>
  </div>

  <div id="CompanyInterviews" class="company_tabcontent">
    <h3>Company Interview</h3>
    <%= render @company.company_interviews %>
  </div>

  <div id="CompanyJobs" class="company_tabcontent">
    <h3>Company Job</h3>
  </div>

  <script>
  function openContent(evt, cityName) {
    var i, company_tabcontent, company_tablinks;
    company_tabcontent = document.getElementsByClassName("company_tabcontent");
    for (i = 0; i < company_tabcontent.length; i++) {
      company_tabcontent[i].style.display = "none";
    }
    company_tablinks = document.getElementsByClassName("company_tablinks");
    for (i = 0; i < company_tablinks.length; i++) {
      company_tablinks[i].className = company_tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
  }
  </script>

  <%# For admin %>
  <%= link_to t('.back', :default => t("helpers.links.back")),
                companies_path, :class => 'btn btn-default'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_company_path(@company), :class => 'btn btn-default' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                company_path(@company),
                :method => 'delete',
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-danger' %>
</div>