<% content_for :meta_robots, "all" %>
<%case @tab%>
<%when "default", "CompanyProfileID"%>
    <%title = t(:company_show_meta_1)%>
    <%content = @company.overview%>
<%when "CompanyPolicyID"%>
    <%title = t(:company_show_meta_2)%>
    <%content = @company.policy%>
<%when "CompanyReviewsID"%>
    <%title = t(:company_show_meta_3)%>
    <%content = t(:company_show_meta_4)%>
<%when "CompanyInterviewsID"%>
    <%title = t(:company_show_meta_5)%>
    <%content = t(:company_show_meta_6)%>
<%when "CompanyJobsID"%>
    <%title = t(:company_show_meta_7)%>
    <%content = t(:company_show_meta_8)%>
<%when "CompanyImagesID"%>
    <%title = t(:company_show_meta_9)%>
    <%content = t(:company_show_meta_10)%>
<%when "CompanySalariesID"%>
    <%title = t(:company_show_meta_11)%>
    <%content = t(:company_show_meta_12)%>
<%when "CompanyQuestionsID"%>
    <%title = t(:company_show_meta_13)%>
    <%content = t(:company_show_meta_14)%>
<%else%>
    <%title = ""%>
    <%content = ""%>
<%end%>
<% content_for :meta_title, title + " " + @company.name %>
<% content_for :meta_description, content + @company.name %>

<%# Google review structure data start %>
<%if @company.company_reviews.count > 0%>
    <script type="application/ld+json">
        {
            "@context" : "https://schema.org/",
            "@type": "EmployerAggregateRating",
            "itemReviewed": {
                "@type": "Organization",
                "name" : "<%=@company.name%>",
                "sameAs" : "<%=company_path(@company, tab: 'CompanyReviewsID')%>"
            },
            "ratingValue": "<%=cal_rating_review_total_score(@company)%>",
            "bestRating": "5",
            "worstRating": "1",
            "reviewCount" : "<%=@company.company_reviews.count%>"
        }
    </script>
<%end%>
<%# Google review structure data end %>

<%- model_class = Company -%>
<div class="company_area">
    <div class="company_overview_container">
        <div class="container">
            <div class="company_wall_large">
                <%if @company.wall_picture?%>
                    <%= image_tag @company.wall_picture.large.url %>
                <%else%>
                    <%= image_tag "defaults/company_wall_default.svg"%>
                <%end%>
            </div>
        </div>
        
        <div class="container">
            <div class="company_short_des">
                <div class='row'>
                    <div class="col-sm-10">
                        <div class="company_title_summary">
                            <div class="company_title_image">
                                <%if @company.avatar?%>
                                    <%= image_tag @company.avatar.thumb.url %>
                                <%else%>
                                    <%= image_tag "defaults/company_avatar_default.svg" %>
                                <%end%>
                            </div>
                            <div class="company_title_name">
                                <a><%= @company.name %></a>
                            </div>

                            <div class="company_score_star_overview">
                                <%total_rate = cal_rating_review_total_score(@company)%>
                                <div class="company_rating">
                                    <strong><%=total_rate.to_i%>.0</strong>
                                    <%if total_rate > 0%>
                                        <%total_rate.to_i.times do%>
                                            <i class="material-icons checked">circle</i>
                                        <%end%>
                                        <%(5 - total_rate.to_i).to_i.times do%>
                                            <i class="material-icons checked_out">radio_button_unchecked</i>
                                        <%end%>
                                    <%else%>
                                        <%5.times do%>
                                            <i class="material-icons checked_out">radio_button_unchecked</i>
                                        <%end%>
                                    <%end%>
                                </div>
                            </div>

                            <div class="company_title_short_des">
                                <a><%= convert_number_to_human(@company.company_reviews.count) %> <%=t(:review)%> | <%= convert_number_to_human(@company.company_interviews.count) %> <%=t(:interview)%> | <%=convert_number_to_human(@company.company_follows.count)%> <%=t(:follow)%></a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-2">
                        <div class="company_action">
                            <div class="company_follow_large" id =company_follow_large_<%=@company.id%>>
                                <%if user_signed_in?%>
                                    <% pre_follow = @company.company_follows.find { |follow| follow.user_id == current_user.id} %>
                                    <% if pre_follow %> 
                                        <%= button_to company_company_follow_path(@company, pre_follow), :method => :delete, remote: true, form_class: "follow_btn_large_highlight" do%>
                                            <i class="material-icons">favorite</i> <span><%=t(:following)%></span>
                                        <%end%> 
                                    <%else%>
                                        <%= button_to company_company_follows_path(@company), :method => :post, remote: true, form_class: "follow_btn_large" do%>
                                            <i class="material-icons-outlined">favorite_border</i> <span><%=t(:follow)%></span>
                                        <%end%>
                                    <%end%>
                                <%else%>
                                    <button type="button" data-toggle="modal" data-target="#buttonModalLoginCenter" class="follow_btn_large">
                                        <i class="material-icons-outlined">favorite_border</i> <span><%=t(:follow)%></span>
                                    </button>
                                <%end%>
                            </div>

                            <div class="review_new_button">
                                <%if @tab == "default" || @tab == "CompanyProfileID"%>
                                    <%= link_to new_company_company_review_path(@company) do%>
                                        <button type="submit"> <i class="material-icons-outlined">edit</i> <span> <%=t(:write_review)%></span> </button>
                                    <%end%>
                                <% elsif @tab == "CompanyPolicyID" %>
                                    <%= link_to new_company_company_review_path(@company) do%>
                                        <button type="submit"> <i class="material-icons-outlined">edit</i> <span> <%=t(:write_review)%></span> </button>
                                    <%end%>
                                <% elsif @tab == "CompanyReviewsID" %>
                                    <%= link_to new_company_company_review_path(@company) do%>
                                        <button type="submit"> <i class="material-icons-outlined">edit</i> <span> <%=t(:write_review)%></span> </button>
                                    <%end%>
                                <% elsif @tab == "CompanyInterviewsID" %>
                                    <%= link_to new_company_company_interview_path(@company) do%>
                                        <button type="submit"> <i class="material-icons-outlined">edit</i> <span> <%=t(:write_interview)%></span> </button>
                                    <%end%>
                                <% elsif @tab == "CompanyJobsID" %>
                                    <%if employer_signed_in?%>
                                        <%= link_to new_company_job_path do%>
                                            <button type="submit"> <i class="material-icons-outlined">edit</i> <span> <%=t(:post_job)%></span> </button>
                                        <%end%>
                                    <%else%>
                                        <%= link_to new_company_company_review_path(@company) do%>
                                            <button type="submit"> <i class="material-icons-outlined">edit</i> <span> <%=t(:write_review)%></span> </button>
                                        <%end%>
                                    <%end%>
                                <% elsif @tab == "CompanyQuestionsID" %>
                                    <%= link_to new_company_company_question_path(@company) do%>
                                        <button type="submit"> <i class="material-icons-outlined">edit</i> <span> <%=t(:ask_question)%></span> </button>
                                    <%end%>
                                <% elsif @tab == "CompanySalariesID" %>
                                    <%= link_to new_company_company_salary_path(@company) do%>
                                        <button type="submit"> <i class="material-icons-outlined">edit</i> <span> <%=t(:add_salary)%> </span> </button>
                                    <%end%>
                                <% elsif @tab == "CompanyImagesID" %>
                                    <%= link_to new_company_company_review_path(@company) do%>
                                        <button type="submit"> <i class="material-icons-outlined">edit</i> <span> <%=t(:write_review)%></span> </button>
                                    <%end%>
                                <%end%>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="company_nav_link">
        <div class="container">
            <ul class="nav">
                <li class="nav-item">
                    <%if @tab == "default" || @tab == "CompanyProfileID"%>
                        <%active = "active"%>
                    <%else%> 
                        <%active = ""%>
                    <%end%>                                 
                    <a class="nav-link <%=active%>" href="<%=company_path(@company, tab: 'CompanyProfileID')%>"><i class="material-icons-outlined">corporate_fare</i><%=t(:overview)%></a>
                </li>
                <li class="nav-item">
                    <%if @tab == "CompanyPolicyID"%>
                        <%active = "active"%>
                    <%else%> 
                        <%active = ""%>
                    <%end%>                                     
                    <a class="nav-link <%=active%>" href="<%=company_path(@company, tab: 'CompanyPolicyID')%>"><i class="material-icons-outlined">favorite_border</i><%=t(:why_join_us)%></a>
                </li>
                <li class="nav-item">
                    <%if @tab == "CompanyReviewsID"%>
                        <%active = "active"%>
                    <%else%> 
                        <%active = ""%>
                    <%end%>                                     
                    <a class="nav-link <%=active%>" href="<%=company_path(@company, tab: 'CompanyReviewsID')%>"><i class="material-icons-outlined">insert_emoticon</i><%=t(:review)%> <span> <%= convert_number_to_human(@company_reviews.total_count)%></span></a>
                </li>
                <li class="nav-item">
                    <%if @tab == "CompanyInterviewsID"%>
                        <%active = "active"%>
                    <%else%> 
                        <%active = ""%>
                    <%end%> 
                    <a class="nav-link <%=active%>" href="<%=company_path(@company, tab: 'CompanyInterviewsID')%>"><i class="material-icons-outlined">people_outline</i><%=t(:interview)%> <span> <%= convert_number_to_human(@company_interviews.total_count)%></span></a>
                </li>
                <li class="nav-item">
                    <%if @tab == "CompanyJobsID"%>
                        <%active = "active"%>
                    <%else%> 
                        <%active = ""%>
                    <%end%> 
                    <a class="nav-link <%=active%>" href="<%=company_path(@company, tab: 'CompanyJobsID')%>"><i class="material-icons-outlined">work_outline</i><%=t(:jobs)%> <span> <%= convert_number_to_human(@company_jobs.total_count)%></span></a>
                </li>
                <li class="nav-item">
                    <%if @tab == "CompanySalariesID"%>
                        <%active = "active"%>
                    <%else%> 
                        <%active = ""%>
                    <%end%>                                     
                    <a class="nav-link <%=active%>" href="<%=company_path(@company, tab: 'CompanySalariesID')%>"><i class="material-icons-outlined">paid</i><%=t(:salary)%><span> <%= convert_number_to_human(@company.company_salaries.count)%></span></a>
                </li>
                <li class="nav-item">
                    <%if @tab == "CompanyImagesID"%>
                        <%active = "active"%>
                    <%else%> 
                        <%active = ""%>
                    <%end%>                                     
                    <a class="nav-link <%=active%>" href="<%=company_path(@company, tab: 'CompanyImagesID')%>"><i class="material-icons-outlined">image</i><%=t(:picture)%><span> <%= convert_number_to_human(@company_images.total_count)%><span></a>
                </li>
                <li class="nav-item">
                    <%if @tab == "CompanyQuestionsID"%>
                        <%active = "active"%>
                    <%else%> 
                        <%active = ""%>
                    <%end%>                                     
                    <a class="nav-link <%=active%>" href="<%=company_path(@company, tab: 'CompanyQuestionsID')%>"><i class="material-icons-outlined">help_outline</i><%=t(:question)%><span> <%= convert_number_to_human(@company_questions.total_count)%></span></a>
                </li>
            </ul>
        </div>
    </div>

    <div class="company_nav_content">
        <div class="container">
            <%if @tab == "default" || @tab == "CompanyProfileID"%>
                <%= render :partial => 'companies/profile', :object => @company, locals: {company: @company} %>                       
            <%end%>

            <%if @tab == "CompanyPolicyID"%>
                <%= render :partial => 'companies/policy', :object => @company, locals: {company: @company} %>
            <%end%>

            <%if @tab == "CompanyReviewsID"%>
                <%= render :partial => 'companies/review', :object => @company, locals: {company: @company} %>
            <%end%>

            <%if @tab == "CompanyInterviewsID"%>
                <%= render :partial => 'companies/interview', :object => @company, locals: {company: @company} %>
            <%end%>
            
            <%if @tab == "CompanyJobsID"%>
                <%= render :partial => 'companies/job', :object => @company, locals: {company: @company} %>
            <%end%>

            <%if @tab == "CompanySalariesID"%>
                <%= render :partial => 'companies/salary', :object => @company, locals: {company: @company} %>
            <%end%>

            <%if @tab == "CompanyQuestionsID"%>
                <%= render :partial => 'companies/question', :object => @company, locals: {company: @company} %>
            <%end%>

            <%if @tab == "CompanyImagesID"%>
                <%= render :partial => 'companies/image', :object => @company, locals: {company: @company} %>
            <%end%>
        </div>
    </div>
</div>
