<!DOCTYPE html>
<html>
    <head>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <!-- Add icon library -->
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    </head>

    <body>
        <div class='body_content'>
            <%- model_class = Company -%>
                <div class="company_area">
                    <div class="company_title">
                        <div class="company_wall_image">
                            <%if @company.wall_picture.attached?%>
                                <img> <%= image_tag @company.wall_picture %></img>
                            <%end%>
                        </div>

                        <div class="company_title_image">
                            <%if @company.avatar.attached?%>
                                <img> <%= image_tag @company.avatar %></img>
                            <%end%>
                        </div>

                        <div class="company_title_summary">
                            <div class="company_title_name">
                                <t><%= @company.name %></t>
                            </div>

                            <div class="company_title_short_des">
                                <div class="company_title_short_des_group1">
                                    <span class="fa fa-map-marker fa checked"></span>
                                    <t><%= @company.location %></t>
                                </div>

                                <div class="company_title_short_des_group">
                                    <span class="fa fa-flag fa checked"></span>
                                    <t><%= @company.country %></t>
                                </div>

                                <div class="company_title_short_des_group">
                                    <span class="fa fa-users fa checked"></span>
                                    <t><%= @company.size %></t>
                                </div>

                                <div class="company_title_short_des_group">
                                    <span class="fa fa-calendar fa checked"></span>
                                    <t><%= @company.time_start %> - <%= @company.time_end %></t>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Tab links -->
                    <div class="company_tab">
                        <button class="company_tablinks active" onclick="openContent(event, 'Company')"><h3>Công ty</h3></button>
                        <button class="company_tablinks" onclick="openContent(event, 'CompanyJoins')"><h3>Chính sách công ty</h3></button>
                        <button class="company_tablinks" onclick="openContent(event, 'CompanyReviews')"><h3>Đánh về giá công ty (<%= @company.company_reviews.count%>)</h3></button>
                        <button class="company_tablinks" onclick="openContent(event, 'CompanyInterviews')"><h3>Kinh nghiệm phỏng vấn (<%= @company.company_interviews.count%>)</h3></button>
                        <button class="company_tablinks" onclick="openContent(event, 'CompanySalarys')"><h3>Lương</h3></button>
                        <button class="company_tablinks" onclick="openContent(event, 'CompanyJobs')"><h3>Tin tuyển dụng</h3></button>
                    </div>

                    <!-- Tab content -->
                    <div id="Company" class="company_tabcontent" style="display:block;">
                        <%= render :partial => 'companies/profile' %>
                    </div>

                    <div id="CompanyJoins" class="company_tabcontent">
                        <%= render :partial => 'companies/why_join' %>
                    </div>

                    <div id="CompanyReviews" class="company_tabcontent">
                        <%= render :partial => 'company_reviews/review_score' %>
                        <div class="company_tab_des">
                            <strong class="user_comment_heading"> Tất cả <%= @company.company_reviews.count%> đánh giá về <%= @company.name %> </strong>
                            <%= render @company.company_reviews %>
                        </div>
                    </div>

                    <div id="CompanyInterviews" class="company_tabcontent">
                        <%= render :partial => 'company_interviews/interview_score' %>
                        <div class="company_tab_des">
                            <strong class="user_comment_heading"> Tất cả <%= @company.company_interviews.count%> kinh nghiệm phỏng vấn tại <%= @company.name %></strong>
                            <%= render @company.company_interviews %>
                        </div>
                    </div>

                    <div id="CompanySalarys" class="company_tabcontent">
                        <h3>Comming soon ...</h3>
                    </div>

                    <div id="CompanyJobs" class="company_tabcontent">
                        <h3>Comming soon ...</h3>
                    </div>

                    <script>
                        function openContent(evt, cityName) {
                            var i, company_tabcontent, company_tablinks;
                            company_tabcontent = document.getElementsByClassName("company_tabcontent");
                            for (i = 0; i < company_tabcontent.length; i++) {
                                company_tabcontent[i].style.display = "none";
                            }

                            company_tablinks = document.getElementsByClassName("company_tablinks");
                            for (i = 0; i < company_tablinks.length; i++) {
                                company_tablinks[i].className = company_tablinks[i].className.replace(" active", "");
                            }

                            document.getElementById(cityName).style.display = "block";
                            evt.currentTarget.className += " active";
                        }
                    </script>
                </div>
            </div>
        </div>
    </body>
</html>
