<%case @tab_id%>
<%when "default", "CompanyProfileID"%>
    <%title = "Tổng quan, giới thiệu về công ty"%>
    <%content = @company.overview%>
<%when "CompanyPolicyID"%>
    <%title = "Chính sách nổi bật của công ty"%>
    <%content = @company.policy%>
<%when "CompanyReviewsID"%>
    <%title = "Review, đánh giá công ty"%>
    <%content = "Review các chính sách, lương thưởng, môi trường làm việc, kinh ngiệm phỏng vấn, sếp, đồng nghiệp, mức độ hài lòng, văn hóa của công ty"%>
<%when "CompanyInterviewsID"%>
    <%title = "Kinh nghiệm phỏng vấn, interview tại công ty"%>
    <%content = "Chia sẻ các kinh nghiệm, quy trình, mức độ hài lòng, chấp nhận offer, số lượng vòng phỏng vấn"%>
<%when "CompanyJobsID"%>
    <%title = "Việc làm, tin tuyển dụng mới nhất tại công ty"%>
    <%content = "Tin tuyển dụng, việc làm mới nhất, tìm kiếm việc làm"%>
<%when "CompanyImagesID"%>
    <%title = "Hình ảnh về công ty"%>
    <%content = "Chia sẻ hình ảnh đẹp, văn hóa, môi trường làm việc, văn phòng và các hoạt động ngoại khóa của công ty"%>
<%when "CompanySalariesID"%>
    <%title = "Lương, chế độ đãi ngộ tại công ty"%>
    <%content = "Tổng quan về lương, chế độ đãi ngộ dành cho nhân viên của công ty"%>
<%when "CompanyQuestionsID"%>
    <%title = "Các câu hỏi liên quan tới công ty"%>
    <%content = "Nơi giải đáp tất cả các thắc mắc liên quan tới công ty"%>
<%else%>
    <%title = ""%>
    <%content = ""%>
<%end%>
<% content_for :meta_title, title + " " + @company.name %>
<% content_for :meta_description, content + @company.name %>

<%# Google review structure data start %>
<%if @company.company_reviews.count > 0%>
    <script type="application/ld+json">
        {
            "@context" : "https://schema.org/",
            "@type": "EmployerAggregateRating",
            "itemReviewed": {
                "@type": "Organization",
                "name" : "<%=@company.name%>",
                "sameAs" : "<%=company_path(@company, tab_id: 'CompanyReviewsID')%>"
            },
            "ratingValue": "<%=cal_rating_review_total_score(@company)%>",
            "bestRating": "5",
            "worstRating": "1",
            "reviewCount" : "<%=@company.company_reviews.count%>"
        }
    </script>
<%end%>
<%# Google review structure data end %>

<%- model_class = Company -%>
<div class="company_area">
    <div class="company_overview">
        <div class="container">
            <div class="company_wall_large">
                <%if @company.wall_picture?%>
                    <%= image_tag @company.wall_picture.large.url %>
                <%else%>
                    <%= image_tag "company_wall_default.jpeg"%>
                <%end%>
            </div>
        </div>
        
        <div class="container">
            <div class="company_short_des">
                <div class='row'>
                    <div class="col-sm-10">
                        <div class="company_title_summary">
                            <div class="company_title_image">
                                <%if @company.avatar?%>
                                    <%= image_tag @company.avatar.thumb.url %>
                                <%else%>
                                    <%= image_tag "company_avatar_default.png" %>
                                <%end%>
                            </div>
                            <div class="company_title_name">
                                <a><%= @company.name %></a>
                            </div>

                            <div class="company_score_star_overview">
                                <%total_rate = cal_rating_review_total_score(@company)%>
                                <div class="company_rating">
                                    <strong><%=total_rate.to_i%>.0</strong>
                                    <%if total_rate > 0%>
                                        <%total_rate.to_i.times do%>
                                            <i class="material-icons checked">circle</i>
                                        <%end%>
                                        <%(5 - total_rate.to_i).to_i.times do%>
                                            <i class="material-icons checked_out">radio_button_unchecked</i>
                                        <%end%>
                                    <%else%>
                                        <%5.times do%>
                                            <i class="material-icons checked_out">radio_button_unchecked</i>
                                        <%end%>
                                    <%end%>
                                </div>
                            </div>

                            <div class="company_title_short_des">
                                <a><%= convert_number_to_human(@company.company_reviews.count) %> review | <%= convert_number_to_human(@company.company_interviews.count) %> phỏng vấn | <%=convert_number_to_human(@company.company_follows.count)%> theo dõi</a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-2">
                        <div class="company_action">
                            <div class="company_follow_large" id =company_follow_large_<%=@company.id%>>
                                <%if user_signed_in?%>
                                    <% pre_follow = @company.company_follows.find { |follow| follow.user_id == current_user.id} %>
                                    <% if pre_follow %> 
                                        <%= button_to company_company_follow_path(@company, pre_follow), :method => :delete, remote: true, form_class: "follow_btn_large_highlight" do%>
                                            <i class="material-icons">favorite</i> <span>Đang theo dõi</span>
                                        <%end%> 
                                    <%else%>
                                        <%= button_to company_company_follows_path(@company), :method => :post, remote: true, form_class: "follow_btn_large" do%>
                                            <i class="material-icons-outlined">favorite_border</i> <span>Theo dõi</span>
                                        <%end%>
                                    <%end%>
                                <%else%>
                                    <button type="button" data-toggle="modal" data-target="#buttonModalLoginCenter" class="follow_btn_large">
                                        <i class="material-icons-outlined">favorite_border</i> <span>Theo dõi</span>
                                    </button>
                                <%end%>
                            </div>

                            <div class="review_new_button">
                                <%if @tab_id == "default" || @tab_id == "CompanyProfileID"%>
                                    <%= link_to '<button type="submit"> <i class="material-icons-outlined">edit</i> <span> Viết Review</span> </button>'.html_safe, new_company_company_review_path(@company) %>
                                <% elsif @tab_id == "CompanyPolicyID" %>
                                    <%= link_to '<button type="submit"> <i class="material-icons-outlined">edit</i> <span> Viết Review</span> </button>'.html_safe, new_company_company_review_path(@company) %>
                                <% elsif @tab_id == "CompanyReviewsID" %>
                                    <%= link_to '<button type="submit"> <i class="material-icons-outlined">edit</i> <span> Viết Review</span> </button>'.html_safe, new_company_company_review_path(@company) %>
                                <% elsif @tab_id == "CompanyInterviewsID" %>
                                    <%= link_to '<button type="submit"> <i class="material-icons-outlined">edit</i> <span> Viết Interview</span> </button>'.html_safe, new_company_company_interview_path(@company) %>
                                <% elsif @tab_id == "CompanyJobsID" %>
                                    <%if employer_signed_in?%>
                                        <%= link_to '<button type="submit"> <i class="material-icons-outlined">edit</i> <span> Đăng tuyển</span> </button>'.html_safe, new_company_job_path%>
                                    <%else%>
                                        <%= link_to '<button type="submit"> <i class="material-icons-outlined">edit</i> <span> Viết Review</span> </button>'.html_safe, new_company_company_review_path(@company) %>
                                    <%end%>
                                <% elsif @tab_id == "CompanyQuestionsID" %>
                                    <%= link_to '<button type="submit"> <i class="material-icons-outlined">edit</i> <span> Đặt câu hỏi</span> </button>'.html_safe, new_company_company_question_path(@company) %>
                                <% elsif @tab_id == "CompanySalariesID" %>
                                    <%= link_to '<button type="submit"> <i class="material-icons-outlined">edit</i> <span> Thêm lương </span> </button>'.html_safe, new_company_company_salary_path(@company) %>
                                <% elsif @tab_id == "CompanyImagesID" %>
                                    <%= link_to '<button type="submit"> <i class="material-icons-outlined">edit</i> <span> Viết Review</span> </button>'.html_safe, new_company_company_review_path(@company) %>
                                <%end%>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="company_nav_link">
        <div class="container">
            <ul class="nav">
                <li class="nav-item">
                    <%if @tab_id == "default" || @tab_id == "CompanyProfileID"%>
                        <%active = "active"%>
                    <%else%> 
                        <%active = ""%>
                    <%end%>                                 
                    <a class="nav-link <%=active%>" href="<%=company_path(@company, tab_id: 'CompanyProfileID')%>"><i class="material-icons-outlined">corporate_fare</i>Giới thiệu</a>
                </li>
                <li class="nav-item">
                    <%if @tab_id == "CompanyPolicyID"%>
                        <%active = "active"%>
                    <%else%> 
                        <%active = ""%>
                    <%end%>                                     
                    <a class="nav-link <%=active%>" href="<%=company_path(@company, tab_id: 'CompanyPolicyID')%>"><i class="material-icons-outlined">favorite_border</i>Chính sách</a>
                </li>
                <li class="nav-item">
                    <%if @tab_id == "CompanyReviewsID"%>
                        <%active = "active"%>
                    <%else%> 
                        <%active = ""%>
                    <%end%>                                     
                    <a class="nav-link <%=active%>" href="<%=company_path(@company, tab_id: 'CompanyReviewsID')%>"><i class="material-icons-outlined">insert_emoticon</i>Review <span> <%= convert_number_to_human(@company_reviews.total_count)%><span></a>
                </li>
                <li class="nav-item">
                    <%if @tab_id == "CompanyInterviewsID"%>
                        <%active = "active"%>
                    <%else%> 
                        <%active = ""%>
                    <%end%> 
                    <a class="nav-link <%=active%>" href="<%=company_path(@company, tab_id: 'CompanyInterviewsID')%>"><i class="material-icons-outlined">people_outline</i>Phỏng vấn <span> <%= convert_number_to_human(@company_interviews.total_count)%><span></a>
                </li>
                <li class="nav-item">
                    <%if @tab_id == "CompanyJobsID"%>
                        <%active = "active"%>
                    <%else%> 
                        <%active = ""%>
                    <%end%> 
                    <a class="nav-link <%=active%>" href="<%=company_path(@company, tab_id: 'CompanyJobsID')%>"><i class="material-icons-outlined">work_outline</i>Tuyển dụng <span> <%= convert_number_to_human(@company_jobs.total_count)%><span></a>
                </li>
                <li class="nav-item">
                    <%if @tab_id == "CompanySalariesID"%>
                        <%active = "active"%>
                    <%else%> 
                        <%active = ""%>
                    <%end%>                                     
                    <a class="nav-link <%=active%>" href="<%=company_path(@company, tab_id: 'CompanySalariesID')%>"><i class="material-icons-outlined">paid</i>Lương<span> <%= convert_number_to_human(@company.company_salaries.count)%><span></a>
                </li>
                <li class="nav-item">
                    <%if @tab_id == "CompanyImagesID"%>
                        <%active = "active"%>
                    <%else%> 
                        <%active = ""%>
                    <%end%>                                     
                    <a class="nav-link <%=active%>" href="<%=company_path(@company, tab_id: 'CompanyImagesID')%>"><i class="material-icons-outlined">image</i>Hình ảnh<span> <%= convert_number_to_human(@company_images.total_count)%><span></a>
                </li>
                <li class="nav-item">
                    <%if @tab_id == "CompanyQuestionsID"%>
                        <%active = "active"%>
                    <%else%> 
                        <%active = ""%>
                    <%end%>                                     
                    <a class="nav-link <%=active%>" href="<%=company_path(@company, tab_id: 'CompanyQuestionsID')%>"><i class="material-icons-outlined">help_outline</i>Q&A<span> <%= convert_number_to_human(@company_questions.total_count)%><span></a>
                </li>
            </ul>
        </div>
    </div>

    <div class="company_nav_content">
        <div class="container">
            <%if @tab_id == "default" || @tab_id == "CompanyProfileID"%>
                <%= render :partial => 'companies/profile', :object => @company, locals: {company: @company} %>                       
            <%end%>

            <%if @tab_id == "CompanyPolicyID"%>
                <%= render :partial => 'companies/policy', :object => @company, locals: {company: @company} %>
            <%end%>

            <%if @tab_id == "CompanyReviewsID"%>
                <%= render :partial => 'companies/review', :object => @company, locals: {company: @company} %>
            <%end%>

            <%if @tab_id == "CompanyInterviewsID"%>
                <%= render :partial => 'companies/interview', :object => @company, locals: {company: @company} %>
            <%end%>
            
            <%if @tab_id == "CompanyJobsID"%>
                <%= render :partial => 'companies/job', :object => @company, locals: {company: @company} %>
            <%end%>

            <%if @tab_id == "CompanySalariesID"%>
                <%= render :partial => 'companies/salary', :object => @company, locals: {company: @company} %>
            <%end%>

            <%if @tab_id == "CompanyQuestionsID"%>
                <%= render :partial => 'companies/question', :object => @company, locals: {company: @company} %>
            <%end%>

            <%if @tab_id == "CompanyImagesID"%>
                <%= render :partial => 'companies/image', :object => @company, locals: {company: @company} %>
            <%end%>
        </div>
    </div>
</div>
