<!DOCTYPE html>
<html>
    <head>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>

    <body>
        <div class='body_content_full'>
            <%- model_class = Company -%>
                <div class="company_area">
                    <div class="company_overview">
                        <div class="company_wall_image">
                            <%if @company.wall_picture.attached?%>
                                <%= image_tag @company.wall_picture %>
                            <%end%>
                        </div>

                        <div class="company_title_image">
                            <%if @company.avatar.attached?%>
                                <img> <%= image_tag @company.avatar %>
                            <%end%>
                        </div>

                        <div class="company_title_summary">
                            <div class="company_title_name">
                                <t><%= @company.name %></t>
                            </div>

                            <div class="company_score_star_overview">
                                <%# Cal culate rating score %>
                                <%if(@company.company_reviews.count > 0)%>
                                    <%rate_work_env = @company.company_reviews.sum('work_env_score').to_f / @company.company_reviews.count%>
                                    <%rate_salary = @company.company_reviews.sum('salary_score').to_f / @company.company_reviews.count%>
                                    <%rate_ot = @company.company_reviews.sum('ot_score').to_f / @company.company_reviews.count%>
                                    <%rate_manager = @company.company_reviews.sum('manager_score').to_f / @company.company_reviews.count%>
                                    <%rate_career = @company.company_reviews.sum('career_score').to_f / @company.company_reviews.count%>
                                    <%total_rate = (rate_work_env + rate_salary + rate_ot + rate_manager + rate_career)/5%>
                                <%else%>
                                    <%total_rate = 0%>
                                <%end%>

                                <div class="company_rating">
                                    <strong><%=total_rate.to_i%>.0</strong>
                                    <%if total_rate > 0%>
                                        <%total_rate.to_i.times do%>
                                            <i class="material-icons checked">star</i>
                                        <%end%>
                                        <%(5 - total_rate.to_i).to_i.times do%>
                                            <i class="material-icons checked_out">star_outline</i>
                                        <%end%>
                                    <%else%>
                                        <%5.times do%>
                                            <i class="material-icons checked_out">star_outline</i>
                                        <%end%>
                                    <%end%>
                                </div>
                            </div>

                            <div class="company_title_short_des">
                                <t><%= @company.company_reviews.count %> đánh giá & <%= @company.company_interviews.count %> nhận xét</t>
                            </div>
                        </div>
                        <div class="company_follow">
                            <%= link_to '<button type="button"><i class="fa fa-heart fa checked"></i> Theo dõi </button>'.html_safe, company_path(@company) %>
                        </div>
                    </div>

                    <div class="company_tab">
                        <ul class="nav nav-tabs" id="myTab">
                            <li class="active"><a data-toggle="tab" href="#Company"><i class="material-icons">business</i> Giới thiệu công ty</a></li>
                            <li><a data-toggle="tab" href="#CompanyJoins"><i class="material-icons">favorite_border</i>Chính sách nổi bật</a></li>
                            <li><a data-toggle="tab" href="#CompanyReviews"><i class="material-icons">sentiment_satisfied_alt</i>Review công ty<span> <%= @company.company_reviews.count%><span></a></li>
                            <li><a data-toggle="tab" href="#CompanyInterviews"><i class="material-icons">people_outline</i>Kinh nghiệm phỏng vấn <span><%= @company.company_interviews.count%><span></a></li>
                            <li><a data-toggle="tab" href="#CompanyJobs"><i class="material-icons">work_outline</i>Tuyển dụng<span><%= @company.company_jobs.count%><span></a></li>
                            <li><a data-toggle="tab" href="#CompanySalarys"><i class="material-icons">attach_money</i>Lương</a></li>
                        </ul>

                        <div class="tab-content">
                            <div id="Company" class="tab-pane fade in active">
                                <div class="company_profile_tab">
                                    <%= render :partial => 'companies/profile' %>
                                </div>
                            </div>
                            <div id="CompanyJoins" class="tab-pane fade">
                                <div class="company_policy_tab">
                                    <%= render :partial => 'companies/why_join' %>
                                </div>
                            </div>
                            <div id="CompanyReviews" class="tab-pane fade">
                                <div class="company_review_tab">
                                    <div class="company_review_score">
                                        <%= render :partial => 'company_reviews/review_score' %>
                                    </div>
                                    <div class="company_review_tab_des">
                                        <strong class="user_comment_heading"> Tất cả <%= @company.company_reviews.count%> đánh giá về <%= @company.name %> </strong>
                                        <div class="company_review_tab_des_left">
                                            <%= render @company.company_reviews %>
                                        </div>
                                        <div class="company_review_tab_des_right">
                                            <strong>Việc làm tại <%= @company.name%></strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="CompanyInterviews" class="tab-pane fade">
                                <div class="company_interview_tab">
                                    <div class="company_interview_score">
                                        <%= render :partial => 'company_interviews/interview_score' %>
                                    </div>
                                    <div class="company_tab_des">
                                        <strong class="user_comment_heading"> Tất cả <%= @company.company_interviews.count%> kinh nghiệm phỏng vấn tại <%= @company.name %></strong>
                                        <div class="company_interview_tab_des_left">
                                            <%= render @company.company_interviews %>
                                        </div>
                                        <div class="company_interview_tab_des_right">
                                            <strong>Việc làm tại <%= @company.name%></strong>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="CompanySalarys" class="tab-pane fade">
                                <div class="company_salary_tab">
                                    <h3>Comming soon ...</h3>
                                </div>
                            </div>

                            <div id="CompanyJobs" class="tab-pane fade">
                                <div class="company_tab_des">
                                    <div class="company_job_tab">
                                        <div class="company_tab_job">
                                            <strong class="user_comment_heading_job"> Tìm thấy <%= @company.company_jobs.count%> việc làm tại <%= @company.name %> </strong>
                                            <div class="new_job">
                                                <div class="new_job_title">
                                                    <strong>Bạn là nhà tuyển dụng</strong>
                                                </div>
                                                <%= link_to '<button type="submit">Đăng tin tuyển dụng miễn phí</button>'.html_safe, new_company_company_job_path(@company) %>
                                            </div>
                                        </div>
                                        <div class="company_job_index">
                                            <%= render @company.company_jobs %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <script>
                        $(document).ready(function(){
                            $('a[data-toggle="tab"]').on('show.bs.tab', function(e) {
                                localStorage.setItem('activeTab', $(e.target).attr('href'));
                            });
                            var activeTab = localStorage.getItem('activeTab');
                            if(activeTab){
                                $('#myTab a[href="' + activeTab + '"]').tab('show');
                                loadTabContent(activeTab);
                            }
                        });
                    </script>
                </div>
            </div>
        </div>
    </body>
</html>
