<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0"/>
    </head>

    <body>
        <%- model_class = Company -%>
            <div class="company_area">
                <div class="container">
                    <div class="company_overview">
                        <div class="company_wall_image">
                            <%if @company.wall_picture.nil?%>
                                <%= image_tag @company.wall_picture %>
                            <%end%>
                        </div>

                        <div class='row'>
                            <div class="col-sm-6">
                                <div class="company_title_summary">
                                    <div class="company_title_image">
                                        <%if @company.avatar.nil?%>
                                            <img> <%= image_tag @company.avatar %>
                                        <%end%>
                                    </div>
                                    <div class="company_title_name">
                                        <a><%= @company.name %></a>
                                    </div>

                                    <div class="company_score_star_overview">
                                        <%# Cal culate rating score %>
                                        <%if(@company.company_reviews.count > 0)%>
                                            <%rate_work_env = @company.company_reviews.sum('work_env_score').to_f / @company.company_reviews.count%>
                                            <%rate_salary = @company.company_reviews.sum('salary_score').to_f / @company.company_reviews.count%>
                                            <%rate_ot = @company.company_reviews.sum('ot_score').to_f / @company.company_reviews.count%>
                                            <%rate_manager = @company.company_reviews.sum('manager_score').to_f / @company.company_reviews.count%>
                                            <%rate_career = @company.company_reviews.sum('career_score').to_f / @company.company_reviews.count%>
                                            <%total_rate = (rate_work_env + rate_salary + rate_ot + rate_manager + rate_career)/5%>
                                        <%else%>
                                            <%total_rate = 0%>
                                        <%end%>

                                        <div class="company_rating">
                                            <strong><%=total_rate.to_i%>.0</strong>
                                            <%if total_rate > 0%>
                                                <%total_rate.to_i.times do%>
                                                    <i class="material-icons checked">circle</i>
                                                <%end%>
                                                <%(5 - total_rate.to_i).to_i.times do%>
                                                    <i class="material-icons checked_out">radio_button_unchecked</i>
                                                <%end%>
                                            <%else%>
                                                <%5.times do%>
                                                    <i class="material-icons checked_out">radio_button_unchecked</i>
                                                <%end%>
                                            <%end%>
                                        </div>
                                    </div>

                                    <div class="company_title_short_des">
                                        <a><%= @company.company_reviews.count %> đánh giá | <%= @company.company_interviews.count %> nhận xét | <%=@company.company_follows.count%> theo dõi</a>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-sm-6">
                                <div class="company_follow" id =<%=@company.id%>>
                                    <%if logged_in?%>
                                        <% pre_follow = @company.company_follows.find { |follow| follow.user_id == current_user.id} %>
                                        <% if pre_follow %> 
                                            <%= button_to company_company_follow_path(@company, pre_follow), :method => :delete, remote: true, form_class: "follow_btn_highlight" do%>
                                                <i class="material-icons">favorite</i> <span>Bỏ theo dõi</span>
                                            <%end%> 
                                        <%else%>
                                            <%= button_to company_company_follows_path(@company), :method => :post, remote: true, form_class: "follow_btn" do%>
                                                <i class="material-icons-outlined">favorite_border</i> <span>Theo dõi</span>
                                            <%end%>
                                        <%end%>
                                    <%else%>
                                        <%= button_to login_path, :method => :get, form_class: "follow_btn" do%>
                                            <i class="material-icons-outlined">favorite_border</i> <span>Theo dõi</span>
                                        <%end%>
                                    <%end%>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="company_tab_link">  
                    <div class="container"> 
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#CompanyID"><i class="material-icons-outlined">corporate_fare</i>Giới thiệu</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#CompanyJoinsID"><i class="material-icons-outlined">favorite_border</i>Chính sách</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#CompanyReviewsID"><i class="material-icons-outlined">insert_emoticon</i>Review công ty <span> <%= @company.company_reviews.count%><span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#CompanyInterviewsID"><i class="material-icons-outlined">people_outline</i>Phỏng vấn <span> <%= @company.company_interviews.count%><span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#CompanyJobsID"><i class="material-icons-outlined">work_outline</i>Tuyển dụng <span> <%= @company.company_jobs.count%><span></a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="company_tab_content">
                    <div class="container">
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" id="CompanyID" class="tab-pane fade in active"><br>
                                <div class="company_profile_tab">
                                    <%= render :partial => 'companies/profile' %>
                                </div>                        
                            </div>

                            <div role="tabpanel" id="CompanyJoinsID" class="tab-pane"><br>
                                <div class="company_policy_tab">
                                    <%= render :partial => 'companies/policy' %>
                                </div>
                            </div>

                            <div role="tabpanel" id="CompanyReviewsID" class="tab-pane"><br>
                                <div class="company_review_tab">
                                    <div class="company_review_score">
                                        <%= render :partial => 'company_reviews/review_score' %>
                                    </div>
                                    <div class="company_review_tab_des">
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <div class="company_review_left">
                                                    <%if @company.company_reviews.count > 0%>
                                                        <strong class="user_comment_heading"> Tất cả <%= @company.company_reviews.count%> đánh giá về <%= @company.name %> </strong>
                                                    <%else%>
                                                        <strong class="user_comment_heading"> Chưa có đủ dữ liệu thống kê ...</strong>
                                                    <%end%>
                                                    <div class="company_review_tab_des_left">
                                                        <%= render @company.company_reviews %>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="col-sm-4">
                                                <div class="company_review_tab_des_right">
                                                    <div class="company_job_mini_block">
                                                        <div class="company_job_label">
                                                            <a> Việc làm </a>
                                                        </div>
                                                        <div class="company_job_des">
                                                            <%@company.company_jobs.each do |company_job|%>
                                                                <div class="company_job_block">
                                                                    <div class="company_avatar">
                                                                        <%if @company.avatar.nil?%>
                                                                            <img><%= link_to (image_tag(@company.avatar)), image_path(url_for(@company.avatar)), rel: "gallery" , :href => company_path(@company)%>
                                                                        <%end%>
                                                                    </div>

                                                                    <div class="company_job_info">
                                                                        <div class="company_job_title">
                                                                            <%= link_to (company_job.title), company_company_job_path(@company, company_job) %>
                                                                        </div>
                                                                        <div class="user_job_date">
                                                                            <a><%= time_ago_in_words(company_job.created_at) %></a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            <%end%>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div role="tabpanel" id="CompanyInterviewsID" class="tab-pane"><br>
                                <div class="company_interview_tab">
                                    <div class="company_interview_score">
                                        <%= render :partial => 'company_interviews/interview_score' %>
                                    </div>
                                    <div class="company_interview_tab_des">
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <div class="company_interview_tab_left">
                                                    <%if @company.company_interviews.count > 0%>
                                                        <strong class="user_comment_heading"> Tất cả <%= @company.company_interviews.count%> kinh nghiệm phỏng vấn tại <%= @company.name %></strong>
                                                    <%else%>
                                                        <strong class="user_comment_heading"> Chưa có đủ dữ liệu thống kê ...</strong>
                                                    <%end%>
                                                   <div class="company_interview_tab_des_left">
                                                        <%= render @company.company_interviews %>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-4">
                                                <div class="company_interview_tab_des_right">
                                                    <div class="company_job_mini_block">
                                                        <div class="company_job_label">
                                                            <a> Việc làm </a>
                                                        </div>
                                                        <div class="company_job_des">
                                                            <%@company.company_jobs.each do |company_job|%>
                                                                <div class="company_job_block">
                                                                    <div class="company_avatar">
                                                                        <%if @company.avatar.nil?%>
                                                                            <img><%= link_to (image_tag(@company.avatar)), image_path(url_for(@company.avatar)), rel: "gallery" , :href => company_path(@company)%>
                                                                        <%end%>
                                                                    </div>

                                                                    <div class="company_job_info">
                                                                        <div class="company_job_title">
                                                                            <%= link_to (company_job.title), company_company_job_path(@company, company_job) %>
                                                                        </div>
                                                                        <div class="user_job_date">
                                                                            <a><%= time_ago_in_words(company_job.created_at) %></a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            <%end%>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="new_interview_question">
                                        <div class="new_interview_question_title">
                                            <i class="material-icons-outlined checked">record_voice_over</i><strong> Chia sẻ câu hỏi phỏng vấn với mọi người </strong>
                                        </div>
                                        <div class="new_interview_question_button">
                                            <%if logged_in?%>
                                                <%= link_to '<button type="submit"> <i class="material-icons-outlined">add</i> <span> Thêm câu hỏi mới </span> </button>'.html_safe, new_problem_path %>
                                            <%else%>
                                                <%= link_to '<button type="submit"> <i class="material-icons-outlined">add</i> <span> Thêm câu hỏi mới </span> </button>'.html_safe, login_path %>
                                            <%end%>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div role="tabpanel" id="CompanyJobsID" class="tab-pane"><br>
                                <div class="company_job_tab_des">
                                    <div class="company_job_tab">
                                        <div class="company_tab_job">
                                            <div class="new_job">
                                                <div class="new_job_title">
                                                    <strong>Bạn là nhà tuyển dụng</strong>
                                                </div>
                                                <div class="new_job_button">
                                                    <%if logged_in?%>
                                                        <%if current_user.employer%>
                                                            <%= link_to '<button type="submit"><i class="material-icons-outlined">add</i><span>Đăng tin tuyển dụng miễn phí<span></button>'.html_safe, new_company_company_job_path(@company) %>
                                                        <%else%>
                                                            <%= link_to '<button type="submit"><i class="material-icons-outlined">add</i><span>Đăng tin tuyển dụng miễn phí<span></button>'.html_safe, login_path %>
                                                        <%end%>
                                                    <%else%>
                                                        <%= link_to '<button type="submit"><i class="material-icons-outlined">add</i><span>Đăng tin tuyển dụng miễn phí<span></button>'.html_safe, login_path %>
                                                    <%end%>
                                                </div>
                                            </div>
                                            <div class="user_comment_heading_job">
                                                <%if @company.company_jobs.count > 0%>
                                                    <strong> Tìm thấy <%= @company.company_jobs.count%> việc làm tại <%= @company.name %> </strong>
                                                <%else%>
                                                    <strong> Rất tiếc, hiện tại chưa có việc làm đang tuyển dụng </strong>
                                                <%end%>
                                            </div>
                                        </div>
                                        <div class="company_job_index">
                                            <%= render @company.company_jobs %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <script type="text/javascript">
                    $(function() { 
                        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                            localStorage.setItem('lastTab', $(this).attr('href'));
                        });

                        var lastTab = localStorage.getItem('lastTab');
                        if (lastTab) {
                            $('[href="' + lastTab + '"]').tab('show');
                        }
                    });
                </script>
            </div>
        </div>
    </body>
</html>
