<%case @tab_id%>
<%when "default", "CompanyProfileID"%>
    <%title = "Tổng quan, giới thiệu về công ty"%>
    <%content = @company.overview%>
<%when "CompanyJoinsID"%>
    <%title = "Chính sách nổi bật của công ty"%>
    <%content = @company.policy%>
<%when "CompanyReviewsID"%>
    <%title = "Review, đánh giá công ty"%>
    <%content = "Review các chính sách, lương thưởng, môi trường làm việc, kinh ngiệm phỏng vấn, sếp, đồng nghiệp, mức độ hài lòng, văn hóa của công ty"%>
<%when "CompanyInterviewsID"%>
    <%title = "Kinh nghiệm phỏng vấn, interview tại công ty"%>
    <%content = "Chia sẻ các kinh nghiệm, quy trình, mức độ hài lòng, chấp nhận offer, số lượng vòng phỏng vấn"%>
<%when "CompanyJobsID"%>
    <%title = "Việc làm, tin tuyển dụng mới nhất tại công ty"%>
    <%content = "Tin tuyển dụng, việc làm mới nhất, tìm kiếm việc làm"%>
<%when "CompanyImagesID"%>
    <%title = "Hình ảnh về công ty"%>
    <%content = "Chia sẻ hình ảnh đẹp, văn hóa, môi trường làm việc, văn phòng và các hoạt động ngoại khóa của công ty"%>
<%when "CompanySalariesID"%>
    <%title = "Lương, chế độ đãi ngộ tại công ty"%>
    <%content = "Tổng quan về lương, chế độ đãi ngộ dành cho nhân viên của công ty"%>
<%when "CompanyQuestionsID"%>
    <%title = "Các câu hỏi liên quan tới công ty"%>
    <%content = "Nơi giải đáp tất cả các thắc mắc liên quan tới công ty"%>
<%else%>
    <%title = ""%>
    <%content = ""%>
<%end%>
<% content_for :meta_title, title + " " + @company.name %>
<% content_for :meta_description, content + @company.name %>

<%# Google review structure data start %>
<script type="application/ld+json">
    {
        "@context" : "https://schema.org/",
        "@type": "EmployerAggregateRating",
        "itemReviewed": {
            "@type": "Organization",
            "name" : "<%=@company.name%>",
            "sameAs" : "<%=company_path(@company, tab_id: 'CompanyReviewsID')%>"
        },
        "ratingValue": "<%=cal_rating_review_total_score(@company)%>",
        "bestRating": "5",
        "worstRating": "1",
        "reviewCount" : "<%=@company.company_reviews.count%>"
    }
</script>
<%# Google review structure data end %>

<%- model_class = Company -%>
<div class="company_area">
    <div class="company_overview">
        <div class="company_wall_large">
            <%if @company.wall_picture?%>
                <%= image_tag @company.wall_picture.large.url %>
            <%end%>
        </div>
        <div class="container">
            <div class="company_short_des">
                <div class='row'>
                    <div class="col-sm-10">
                        <div class="company_title_summary">
                            <div class="company_title_image">
                                <%if @company.avatar?%>
                                    <img> <%= image_tag @company.avatar.thumb.url %>
                                <%end%>
                            </div>
                            <div class="company_title_name">
                                <a><%= @company.name %></a>
                            </div>

                            <div class="company_score_star_overview">
                                <%total_rate = cal_rating_review_total_score(@company)%>
                                <div class="company_rating">
                                    <strong><%=total_rate.to_i%>.0</strong>
                                    <%if total_rate > 0%>
                                        <%total_rate.to_i.times do%>
                                            <i class="material-icons checked">circle</i>
                                        <%end%>
                                        <%(5 - total_rate.to_i).to_i.times do%>
                                            <i class="material-icons checked_out">radio_button_unchecked</i>
                                        <%end%>
                                    <%else%>
                                        <%5.times do%>
                                            <i class="material-icons checked_out">radio_button_unchecked</i>
                                        <%end%>
                                    <%end%>
                                </div>
                            </div>

                            <div class="company_title_short_des">
                                <a><%= convert_number_to_human(@company.company_reviews.count) %> review | <%= convert_number_to_human(@company.company_interviews.count) %> phỏng vấn | <%=convert_number_to_human(@company.company_follows.count)%> theo dõi</a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-2">
                        <div class="company_action">
                            <div class="company_follow_large" id =company_follow_large_<%=@company.id%>>
                                <%if user_signed_in?%>
                                    <% pre_follow = @company.company_follows.find { |follow| follow.user_id == current_user.id} %>
                                    <% if pre_follow %> 
                                        <%= button_to company_company_follow_path(@company, pre_follow), :method => :delete, remote: true, form_class: "follow_btn_large_highlight" do%>
                                            <i class="material-icons">favorite</i> <span>Bỏ theo dõi</span>
                                        <%end%> 
                                    <%else%>
                                        <%= button_to company_company_follows_path(@company), :method => :post, remote: true, form_class: "follow_btn_large" do%>
                                            <i class="material-icons-outlined">favorite_border</i> <span>Theo dõi</span>
                                        <%end%>
                                    <%end%>
                                <%else%>
                                    <%= button_to new_user_session_path, :method => :get, form_class: "follow_btn_large" do%>
                                        <i class="material-icons-outlined">favorite_border</i> <span>Theo dõi</span>
                                    <%end%>
                                <%end%>
                            </div>

                            <div class="review_new_button">
                                <%if @tab_id == "default" || @tab_id == "CompanyProfileID"%>
                                    <%= link_to '<button type="submit"> <i class="material-icons-outlined">edit</i> <span> Viết review</span> </button>'.html_safe, new_company_company_review_path(@company) %>
                                <% elsif @tab_id == "CompanyJoinsID" %>
                                    <%= link_to '<button type="submit"> <i class="material-icons-outlined">edit</i> <span> Viết review</span> </button>'.html_safe, new_company_company_review_path(@company) %>
                                <% elsif @tab_id == "CompanyReviewsID" %>
                                    <%= link_to '<button type="submit"> <i class="material-icons-outlined">edit</i> <span> Viết review</span> </button>'.html_safe, new_company_company_review_path(@company) %>
                                <% elsif @tab_id == "CompanyInterviewsID" %>
                                    <%= link_to '<button type="submit"> <i class="material-icons-outlined">edit</i> <span> Viết interview</span> </button>'.html_safe, new_company_company_interview_path(@company) %>
                                <% elsif @tab_id == "CompanyJobsID" %>
                                    <%if user_signed_in? && current_user.employer?%>
                                        <%= link_to '<button type="submit"> <i class="material-icons-outlined">edit</i> <span> Đăng tuyển</span> </button>'.html_safe, new_company_company_job_path(@company) %>
                                    <%else%>
                                        <%= link_to '<button type="submit"> <i class="material-icons-outlined">edit</i> <span> Viết review</span> </button>'.html_safe, new_company_company_review_path(@company) %>
                                    <%end%>
                                <% elsif @tab_id == "CompanyQuestionsID" %>
                                    <%= link_to '<button type="submit"> <i class="material-icons-outlined">edit</i> <span> Đặt câu hỏi</span> </button>'.html_safe, new_company_company_question_path(@company) %>
                                <% elsif @tab_id == "CompanySalariesID" %>
                                    <%= link_to '<button type="submit"> <i class="material-icons-outlined">edit</i> <span> Thêm lương </span> </button>'.html_safe, new_company_company_salary_path(@company) %>
                                <% elsif @tab_id == "CompanyImagesID" %>
                                    <%= link_to '<button type="submit"> <i class="material-icons-outlined">edit</i> <span> Viết review</span> </button>'.html_safe, new_company_company_review_path(@company) %>
                                <%end%>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="company_nav_link">
        <div class="container">
            <ul class="nav">
                <li class="nav-item">
                    <%if @tab_id == "default" || @tab_id == "CompanyProfileID"%>
                        <%active = "active"%>
                    <%else%> 
                        <%active = ""%>
                    <%end%>                                 
                    <a class="nav-link <%=active%>" href="<%=company_path(@company, tab_id: 'CompanyProfileID')%>"><i class="material-icons-outlined">corporate_fare</i>Giới thiệu</a>
                </li>
                <li class="nav-item">
                    <%if @tab_id == "CompanyJoinsID"%>
                        <%active = "active"%>
                    <%else%> 
                        <%active = ""%>
                    <%end%>                                     
                    <a class="nav-link <%=active%>" href="<%=company_path(@company, tab_id: 'CompanyJoinsID')%>"><i class="material-icons-outlined">favorite_border</i>Chính sách</a>
                </li>
                <li class="nav-item">
                    <%if @tab_id == "CompanyReviewsID"%>
                        <%active = "active"%>
                    <%else%> 
                        <%active = ""%>
                    <%end%>                                     
                    <a class="nav-link <%=active%>" href="<%=company_path(@company, tab_id: 'CompanyReviewsID')%>"><i class="material-icons-outlined">insert_emoticon</i>Review công ty <span> <%= convert_number_to_human(@company.company_reviews.count)%><span></a>
                </li>
                <li class="nav-item">
                    <%if @tab_id == "CompanyInterviewsID"%>
                        <%active = "active"%>
                    <%else%> 
                        <%active = ""%>
                    <%end%> 
                    <a class="nav-link <%=active%>" href="<%=company_path(@company, tab_id: 'CompanyInterviewsID')%>"><i class="material-icons-outlined">people_outline</i>Phỏng vấn <span> <%= convert_number_to_human(@company.company_interviews.count)%><span></a>
                </li>
                <li class="nav-item">
                    <%if @tab_id == "CompanyJobsID"%>
                        <%active = "active"%>
                    <%else%> 
                        <%active = ""%>
                    <%end%> 
                    <a class="nav-link <%=active%>" href="<%=company_path(@company, tab_id: 'CompanyJobsID')%>"><i class="material-icons-outlined">work_outline</i>Tuyển dụng <span> <%= convert_number_to_human(@company.company_jobs.count)%><span></a>
                </li>
                <li class="nav-item">
                    <%if @tab_id == "CompanySalariesID"%>
                        <%active = "active"%>
                    <%else%> 
                        <%active = ""%>
                    <%end%>                                     
                    <a class="nav-link <%=active%>" href="<%=company_path(@company, tab_id: 'CompanySalariesID')%>"><i class="material-icons-outlined">paid</i>Lương<span> <%= convert_number_to_human(@company.company_salaries.count)%><span></a>
                </li>
                <li class="nav-item">
                    <%if @tab_id == "CompanyImagesID"%>
                        <%active = "active"%>
                    <%else%> 
                        <%active = ""%>
                    <%end%>                                     
                    <a class="nav-link <%=active%>" href="<%=company_path(@company, tab_id: 'CompanyImagesID')%>"><i class="material-icons-outlined">image</i>Hình ảnh<span> <%= convert_number_to_human(@company.company_images.count)%><span></a>
                </li>
                <li class="nav-item">
                    <%if @tab_id == "CompanyQuestionsID"%>
                        <%active = "active"%>
                    <%else%> 
                        <%active = ""%>
                    <%end%>                                     
                    <a class="nav-link <%=active%>" href="<%=company_path(@company, tab_id: 'CompanyQuestionsID')%>"><i class="material-icons-outlined">help_outline</i>Q&A<span> <%= convert_number_to_human(@company.company_questions.count)%><span></a>
                </li>
            </ul>
        </div>
    </div>

    <div class="company_nav_content">
        <div class="container">
            <%if @tab_id == "default" || @tab_id == "CompanyProfileID"%>
                <div class="company_profile_tab">
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="company_profile_left">
                                <div class="company_profile_overview">
                                    <div class="company_profile_block">
                                        <div class="company_profile_title">
                                            <a>Giới thiệu <%= @company.name %></a>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <div class="company_profile_content_block">
                                                    <div class="company_profile_section">
                                                        <a> <i class="material-icons-outlined">business</i> <span>Trụ sở chính</span> </a>
                                                    </div>
                                                    <div class="company_profile_content">
                                                        <%if !@company.location.to_s.empty?%>
                                                            <span><%= @company.location %></span>
                                                        <%else%>
                                                            <span>---</span>
                                                        <%end%>
                                                    </div>
                                                </div>

                                                <div class="company_profile_content_block">
                                                    <div class="company_profile_section">
                                                        <a> <i class="material-icons-outlined">open_in_new</i> <span>Website</span> </a>
                                                    </div>
                                                    <div class="company_profile_content">
                                                        <%if !@company.website.to_s.empty?%>
                                                            <%=h auto_link(simple_format(@company.website), :link => :urls) %>
                                                        <%else%>
                                                            <span>---</span>
                                                        <%end%>
                                                    </div>
                                                </div>

                                                <div class="company_profile_content_block">
                                                    <div class="company_profile_section">
                                                        <a> <i class="material-icons-outlined">phone</i> <span>Số điện thoại</span> </a>
                                                    </div>
                                                    <div class="company_profile_content">
                                                        <%if !@company.phone.to_s.empty?%>
                                                            <span><%= @company.phone %></span>
                                                        <%else%>
                                                            <span>---</span>
                                                        <%end%>
                                                    </div>
                                                </div>

                                                <div class="company_profile_content_block">
                                                    <div class="company_profile_section">
                                                        <a><i class="material-icons-outlined">people</i> <span>Quy mô công ty</span> </a>
                                                    </div>
                                                    <div class="company_profile_content">
                                                        <%if !@company.size.to_s.empty?%>
                                                            <span><%= @company.size %></span>
                                                        <%else%>
                                                            <span>---</span>
                                                        <%end%>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-4">
                                                <div class="company_profile_content_block">
                                                    <div class="company_profile_section">
                                                        <a> <i class="material-icons-outlined">event_available</i> <span>Năm thành lập</span> </a>
                                                    </div>
                                                    <div class="company_profile_content">
                                                        <%if !@company.time_establish.to_s.empty?%>
                                                            <%= @company.time_establish.strftime("%B %d, %Y")%>
                                                        <%else%>
                                                            <span>---</span>
                                                        <%end%>
                                                    </div>
                                                </div>

                                                <div class="company_profile_content_block">
                                                    <div class="company_profile_section">
                                                        <a> <i class="material-icons-outlined">money</i> <span>Doanh thu</span> </a>
                                                    </div>
                                                    <div class="company_profile_content">
                                                        <%if !@company.values.to_s.empty?%>
                                                            <%= @company.values%>
                                                        <%else%>
                                                            <span>---</span>
                                                        <%end%>
                                                    </div>
                                                </div>

                                                <div class="company_profile_content_block">
                                                    <div class="company_profile_section">
                                                        <a> <i class="material-icons-outlined">flag</i> <span>Quốc gia</span> </a>
                                                    </div>
                                                    <div class="company_profile_content">
                                                        <%if !@company.country.to_s.empty?%>
                                                            <%= @company.country%>
                                                        <%else%>
                                                            <span>---</span>
                                                        <%end%>
                                                    </div>
                                                </div>

                                                <div class="company_profile_content_block">
                                                    <div class="company_profile_section">
                                                        <a> <i class="material-icons-outlined">local_police</i> <span>Loại hình hoạt động</span> </a>
                                                    </div>
                                                    <div class="company_profile_content">
                                                        <%if !@company.company_type.to_s.empty?%>
                                                            <%= @company.company_type%>
                                                        <%else%>
                                                            <span>---</span>
                                                        <%end%>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-4">
                                                <div class="company_profile_content_block">
                                                    <div class="company_profile_section">
                                                        <a> <i class="material-icons-outlined">turned_in_not</i> <span>Lĩnh vực hoạt động</span> </a>
                                                    </div>
                                                    <div class="company_profile_content">
                                                        <%if !@company.field_operetion.to_s.empty?%>
                                                            <%= @company.field_operetion%>
                                                        <%else%>
                                                            <span>---</span>
                                                        <%end%>
                                                    </div>
                                                </div>

                                                <div class="company_profile_content_block">
                                                    <div class="company_profile_section">
                                                        <a> <i class="material-icons-outlined">date_range</i> <span>Ngày làm việc trong tuần</span> </a>
                                                    </div>
                                                    <div class="company_profile_content">
                                                        <%if !@company.working_date.to_s.empty?%>
                                                            <%= @company.working_date%>
                                                        <%else%>
                                                            <span>---</span>
                                                        <%end%>
                                                    </div>
                                                </div>
                                                
                                                <div class="company_profile_content_block">
                                                    <div class="company_profile_section">
                                                        <a> <i class="material-icons-outlined">history_toggle_off</i> <span>Thời gian làm việc</span> </a>
                                                    </div>
                                                    <div class="company_profile_content">
                                                        <%if !@company.working_time.to_s.empty?%>
                                                            <%= @company.working_time%>
                                                        <%else%>
                                                            <span>---</span>
                                                        <%end%>
                                                    </div>
                                                </div>

                                                <div class="company_profile_content_block">
                                                    <div class="company_profile_section">
                                                        <a> <i class="material-icons-outlined">history</i> <span>Cập nhật lần cuối</span> </a>
                                                    </div>
                                                    <div class="company_profile_content">
                                                        <%if !@company.updated_at.to_s.empty?%>
                                                            <%= @company.updated_at.strftime("%B %d, %Y")%>
                                                        <%else%>
                                                            <span>---</span>
                                                        <%end%>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="company_profile_summary">
                                            <a><%= @company.overview.html_safe %></a>
                                        </div>
                                    </div>
                                </div>

                                <%if(@company.company_reviews.count > 0)%>
                                    <div class="company_profile_review">
                                        <div class="company_profile_title">
                                            <a>Review <%= @company.name %></a>
                                        </div>
                                        <div class="review_content">
                                            <%if(@company.company_reviews.count > 0)%>
                                                <%= render :partial => 'company_reviews/review_score' %>
                                            <%end%>
                                        </div>
                                        <div class="review_suggestion">
                                            <a href="<%=company_path(@company, tab_id: 'CompanyReviewsID') %>">Xem tất cả <%=@company.company_reviews.count%> review <%=@company.name%></a>
                                        </div>
                                    </div>
                                <%end%>

                                <%if(@company.company_interviews.count > 0)%>
                                    <div class="company_profile_interview">
                                        <div class="company_profile_title">
                                            <a>Kinh nghiệm phỏng vấn tại <%= @company.name %></a>
                                        </div>
                                        <div class="interview_content">
                                            <%if(@company.company_interviews.count > 0)%>
                                                <%= render :partial => 'company_interviews/interview_score' %>
                                            <%end%>
                                        </div>
                                        
                                        <div class="interview_suggestion">
                                            <a href="<%=company_path(@company, tab_id: 'CompanyInterviewsID') %>">Xem tất cả <%=@company.company_interviews.count%> kinh nghiệm phỏng vấn tại <%=@company.name%></a>
                                        </div>
                                    </div>
                                <%end%>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="company_profile_right">
                                <%if(@company.company_jobs.count > 0)%>
                                    <div class="company_job_mini_block">
                                        <div class="company_job_label">
                                            <a>Tin tuyển dụng</a>
                                        </div>
                                        <div class="company_job_des">
                                            <%@company.company_jobs.each do |company_job|%>
                                                <div class="company_job_block_mini">
                                                    <div class="company_avatar">
                                                        <%if @company.avatar?%>
                                                            <img><%= link_to (image_tag(@company.avatar.thumb.url)), image_path(url_for(@company.avatar.thumb.url)), rel: "gallery" , :href => company_path(@company)%>
                                                        <%end%>
                                                    </div>

                                                    <div class="company_job_info">
                                                        <div class="company_job_title">
                                                            <%= link_to (company_job.title), company_company_job_path(@company, company_job) %>
                                                        </div>
                                                        <div class="company_job_date">
                                                            <a><%= time_ago_in_words(company_job.created_at) %></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            <%end%>
                                        </div>
                                    </div>
                                <%end%>
                            </div>
                        </div>
                    </div>
                </div>                        
            <%end%>

            <%if @tab_id == "CompanyJoinsID"%>
                <div class="company_policy_tab">
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="company_policy_overview_left">
                                <div class="company_policy_title">
                                    <a> Tại sao bạn nên làm việc tại <%= @company.name %>?</a>
                                </div>
                                
                                <%if @company.benefit.present?%>
                                    <div class="company_policy_benefit_block">
                                        <div class="row">
                                            <%@company.benefit.each do |benefit|%>
                                                <div class="col-sm-3">
                                                    <div class="company_policy_benefit">
                                                        <div class="benefit_icon">
                                                            <i class="material-icons"><%=convert_benefit_to_icon(benefit)%></i>
                                                        </div>
                                                        <a><%=convert_benefit_to_string(benefit)%></a>
                                                    </div>
                                                </div>
                                            <%end%>
                                        </div>
                                    </div>
                                <%end%>

                                <%if @company.policy.present?%>
                                    <div class="company_policy_block">
                                        <div class="company_policy_policy">
                                            <a><%= @company.policy.html_safe %></a>
                                        </div>
                                    </div>
                                <%elsif @company.overview.present?%>
                                    <div class="company_policy_block">
                                        <div class="company_policy_policy">
                                            <a><%= @company.overview.html_safe %></a>
                                        </div>
                                    </div>
                                <%end%>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class='company_policy_overview_block_right'>
                                <div class='company_policy_overview_block_right_overview'>
                                    <div class="company_policy_overview_label">
                                        <span> Giới thiệu</span>
                                    </div>

                                    <div class="company_policy_overview_right">
                                        <div class="company_policy_overview_right_title">
                                            <i class="material-icons-outlined">place</i><a>  Địa chỉ </a>
                                        </div>
                                        <div class="company_policy_overview_right_des">
                                            <%if !@company.location.to_s.empty?%>
                                                <a><%= @company.location %></a>
                                            <%else%>
                                                <a>---</a>
                                            <%end%>
                                        </div>
                                    </div>
                                    <div class="company_policy_overview_right">
                                        <div class="company_policy_overview_right_title">
                                            <i class="material-icons-outlined">people</i> <a> Nhân viên </a>
                                        </div>
                                        <div class="company_policy_overview_right_des">
                                            <%if !@company.size.to_s.empty?%>
                                                <a><%= @company.size %></a>
                                            <%else%>
                                                <a>---</a>
                                            <%end%>
                                        </div>
                                    </div>
                                    <div class="company_policy_overview_right">
                                        <div class="company_policy_overview_right_title">
                                            <i class="material-icons-outlined">bookmark_border</i> <a> Lĩnh vực hoạt động </a>
                                        </div>
                                        <div class="company_policy_overview_right_des">
                                            <%if !@company.field_operetion.to_s.empty?%>
                                                <a><%= @company.field_operetion %></a>
                                            <%else%>
                                                <a>---</a>
                                            <%end%>
                                        </div>
                                    </div>
                                    <div class="company_policy_overview_right">
                                        <div class="company_policy_overview_right_title">
                                            <i class="material-icons-outlined">open_in_new</i><a> Địa chỉ website </a>
                                        </div>
                                        <div class="company_policy_overview_right_des">
                                            <%if !@company.website.to_s.empty?%>
                                                <%=h auto_link(simple_format(@company.website), :link => :urls) %>
                                            <%elsif !@company.phone.to_s.empty?%>
                                                <a><%= @company.phone %></a>
                                            <%else%>
                                                <a>---</a>
                                            <%end%>
                                        </div>
                                    </div>
                                    <div class="company_policy_overview_right">
                                        <div class="company_policy_overview_right_title">
                                            <i class="material-icons-outlined">history</i><a> Cập nhật lần cuối </a>
                                        </div>
                                        <div class="company_policy_overview_right_des">
                                            <a><%= @company.created_at.strftime("%B %d, %Y") %></a>
                                        </div>
                                    </div>
                                </div>

                                <div class='company_policy_overview_block_right_job'>
                                    <%if(@company.company_jobs.count > 0)%>
                                        <div class="company_job_mini_block">
                                            <div class="company_job_label">
                                                <a>Tin tuyển dụng</a>
                                            </div>
                                            <div class="company_job_des">
                                                <%@company.company_jobs.each do |company_job|%>
                                                    <div class="company_job_block_mini">
                                                        <div class="company_avatar">
                                                            <%if @company.avatar?%>
                                                                <img><%= link_to (image_tag(@company.avatar.thumb.url)), image_path(url_for(@company.avatar.thumb.url)), rel: "gallery" , :href => company_path(@company)%>
                                                            <%end%>
                                                        </div>

                                                        <div class="company_job_info">
                                                            <div class="company_job_title">
                                                                <%= link_to (company_job.title), company_company_job_path(@company, company_job) %>
                                                            </div>
                                                            <div class="company_job_date">
                                                                <a><%= time_ago_in_words(company_job.created_at) %></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                <%end%>
                                            </div>
                                        </div>
                                    <%end%>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <%end%>

            <%if @tab_id == "CompanyReviewsID"%>
                <div class="company_review_tab">
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="company_review_tab_des_left">
                                <%if(@company.company_reviews.count > 0)%>
                                    <div class="company_review_score_block">
                                        <div class="company_review_title">
                                            <a>Review <%= @company.name %></a>
                                        </div>
                                        <div class="company_review_score">
                                            <%= render :partial => 'company_reviews/review_score' %>
                                        </div>
                                    </div>

                                    <div class="company_review_score_detail">
                                        <div class="review_score_detail_label">
                                            <a>Đánh giá theo các tiêu chí cụ thể</a>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6 padding-custom-right">
                                                <div class="review_detail_section">
                                                    <div class="review_detail_label">
                                                        <a>Môi trường làm việc(<%=count_rating_category("work_env_score", @company)%>)</a>
                                                    </div>
                                                    <div class="review_detail_score">
                                                        <a><%=cal_rating_review_work_env_score(@company).round(1)%></a>
                                                        <i class="material-icons">circle</i>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="col-sm-6 padding-custom-left">
                                                <div class="review_detail_section">
                                                    <div class="review_detail_label">
                                                        <a>Lương thưởng(<%=count_rating_category("salary_score", @company)%>)</a>
                                                    </div>
                                                    <div class="review_detail_score">
                                                        <a><%=cal_rating_review_salary_score(@company).round(1)%></a>
                                                        <i class="material-icons">circle</i>
                                                    </div>
                                                </div>
                                            </div>

                                            
                                            <div class="col-sm-6 padding-custom-right">
                                                <div class="review_detail_section">
                                                    <div class="review_detail_label">
                                                        <a>Làm thêm giờ, OT(<%=count_rating_category("ot_score", @company)%>)</a>
                                                    </div>
                                                    <div class="review_detail_score">
                                                        <a><%=cal_rating_review_ot_score(@company).round(1)%></a>
                                                        <i class="material-icons">circle</i>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="col-sm-6 padding-custom-left">
                                                <div class="review_detail_section">
                                                    <div class="review_detail_label">
                                                        <a>Quản lý cấp trên(<%=count_rating_category("manager_score", @company)%>)</a>
                                                    </div>
                                                    <div class="review_detail_score">
                                                        <a><%=cal_rating_review_manager_score(@company).round(1)%></a>
                                                        <i class="material-icons">circle</i>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-6 padding-custom-right">
                                                <div class="review_detail_section">
                                                    <div class="review_detail_label">
                                                        <a>Cơ hội thăng tiến(<%=count_rating_category("career_score", @company)%>)</a>
                                                    </div>
                                                    <div class="review_detail_score">
                                                        <a><%=cal_rating_review_career_score(@company).round(1)%></a>
                                                        <i class="material-icons">circle</i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="company_review">
                                        <%= render @company.company_reviews %>
                                    </div>
                                <%else%>
                                    <div class="review_new_not_found">
                                        <span>Rất tiếc, chưa có đủ dữ liệu thống kê. Bạn sẽ chỉ mất 1 phút để hoàn thành bài review, chia sẻ của bạn sẽ rất hữu ích cho mọi người</span>
                                    </div>
                                    <div class="no_review_found">
                                        <div class="review_new_label">
                                            <a>Viết bài review ngay</a>
                                        </div>
                                        <div class="review_new_button">
                                            <%= link_to '<button type="submit"> <i class="material-icons-outlined">edit</i> <span> Viết Review</span> </button>'.html_safe, new_company_company_review_path(@company) %>
                                        </div>
                                    </div>
                                <%end%>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="company_review_tab_des_right">
                                <%if @company.company_reviews.count > 0%>
                                    <div class="review_score_title_block">
                                        <div class="review_new_button_side">
                                            <div class="review_new_button">
                                                <%= link_to '<button type="submit"> <i class="material-icons-outlined">edit</i> <span> Review ngay </span> </button>'.html_safe, new_company_company_review_path(@company) %>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="review_score_detail">
                                        <div class="review_score_overview">
                                            <div class="review_content">
                                                <div class="review_point">
                                                    <strong><%=cal_rating_review_work_env_score(@company).to_f.round(1)%></strong>
                                                </div>
                                                <div class="review_score_star">
                                                    <i class="material-icons-outlined checked">radio_button_unchecked</i>
                                                </div>
                                                <div class="review_score_label">
                                                    <a> Company culture </a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="review_score_overview">
                                            <div class="review_content">
                                                <div class="review_point">
                                                    <strong><%=cal_rating_review_salary_score(@company).to_f.round(1)%></strong>
                                                </div>
                                                <div class="review_score_star">
                                                    <i class="material-icons-outlined checked">radio_button_unchecked</i>
                                                </div>
                                                <div class="review_score_label">
                                                    <a> Salary and bonus </a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="review_score_overview">
                                            <div class="review_content">
                                                <div class="review_point">
                                                    <strong><%=cal_rating_review_ot_score(@company).to_f.round(1)%></strong>
                                                </div>
                                                <div class="review_score_star">
                                                    <i class="material-icons-outlined checked">radio_button_unchecked</i>
                                                </div>
                                                <div class="review_score_label">
                                                    <a> Overtime - OT </a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="review_score_overview">
                                            <div class="review_content">
                                                <div class="review_point">
                                                    <strong><%=cal_rating_review_manager_score(@company).to_f.round(1)%></strong>
                                                </div>
                                                <div class="review_score_star">
                                                    <i class="material-icons-outlined checked">radio_button_unchecked</i>
                                                </div>
                                                <div class="review_score_label">
                                                    <a> Level of management </a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="review_score_overview">
                                            <div class="review_content">
                                                <div class="review_point">
                                                    <strong><%=cal_rating_review_career_score(@company).to_f.round(1)%></strong>
                                                </div>
                                                <div class="review_score_star">
                                                    <i class="material-icons-outlined checked">radio_button_unchecked</i>
                                                </div>
                                                <div class="review_score_label">
                                                    <a> Promotion opportunity </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <%end%>
                                <%if @company.company_jobs.count >0%>
                                    <div class="company_job_mini_block">
                                        <div class="company_job_label">
                                            <a>Tin tuyển dụng</a>
                                        </div>
                                        <div class="company_job_des">
                                            <%@company.company_jobs.each do |company_job|%>
                                                <div class="company_job_block_mini">
                                                    <div class="company_avatar">
                                                        <%if @company.avatar?%>
                                                            <img><%= link_to (image_tag(@company.avatar.thumb.url)), image_path(url_for(@company.avatar.thumb.url)), rel: "gallery" , :href => company_path(@company)%>
                                                        <%end%>
                                                    </div>

                                                    <div class="company_job_info">
                                                        <div class="company_job_title">
                                                            <%= link_to (company_job.title), company_company_job_path(@company, company_job) %>
                                                        </div>
                                                        <div class="company_job_date">
                                                            <a><%= time_ago_in_words(company_job.created_at) %></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            <%end%>
                                        </div>
                                    </div>
                                <%end%>
                            </div>
                        </div>
                    </div>
                </div>
            <%end%>

            <%if @tab_id == "CompanyInterviewsID"%>
                <div class="company_interview_tab">
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="company_interview_tab_des_left">
                                <%if @company.company_interviews.count > 0%>
                                    <div class="company_interview_score_block">
                                        <div class="company_interview_title">
                                            <a>Interview <%= @company.name %></a>
                                        </div>
                                        <div class="company_interview_score">
                                            <%= render :partial => 'company_interviews/interview_score' %>
                                        </div>
                                    </div>
                                    <div class="company_interview">
                                        <%= render @company.company_interviews %>
                                    </div>
                                <%else%>
                                    <div class="interview_new_not_found">
                                        <span>Rất tiếc, chưa có đủ dữ liệu thống kê. Bạn sẽ chỉ mất 1 phút để hoàn thành bài chia sẻ phỏng vấn, kinh nghiệm của bạn của bạn sẽ rất hữu ích cho mọi người</span>
                                    </div>
                                    <div class="no_interview_found">
                                        <div class="interview_new_label">
                                            <a>Viết bài chia sẻ ngay</a>
                                        </div>
                                        <div class="interview_new_button">
                                            <%= link_to '<button type="submit"> <i class="material-icons-outlined">edit</i> <span> Review phỏng vấn</span> </button>'.html_safe, new_company_company_interview_path(@company) %>
                                        </div>
                                    </div>
                                <%end%>
                                <div class="new_interview_question">
                                    <div class="new_interview_question_title">
                                        <i class="material-icons-outlined checked">record_voice_over</i><strong> Chia sẻ câu hỏi phỏng vấn </strong>
                                    </div>
                                    <div class="new_interview_question_button">
                                        <%if user_signed_in?%>
                                            <%= link_to '<button type="submit"> <i class="material-icons-outlined">add</i> <span> Thêm câu hỏi mới </span> </button>'.html_safe, new_problem_path %>
                                        <%else%>
                                            <%= link_to '<button type="submit"> <i class="material-icons-outlined">add</i> <span> Thêm câu hỏi mới </span> </button>'.html_safe, new_user_session_path %>
                                        <%end%>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4"> 
                            <div class="company_interview_tab_des_right">
                                <%if @company.company_interviews.count > 0%>
                                    <div class="interview_score_title_block">
                                        <div class="interview_new_button_side">
                                            <div class="interview_new_button">
                                                <%= link_to '<button type="submit"> <i class="material-icons-outlined">edit</i> <span> Chia sẻ kinh nghiệm ngay </span> </button>'.html_safe, new_company_company_interview_path(@company) %>
                                            </div>
                                        </div>
                                    </div> 
                                <%end%>
                                
                                <%if @company.company_jobs.count >0%>
                                    <div class="company_interview_job_mini_block">
                                        <div class="company_job_label">
                                            <a>Tin tuyển dụng</a>
                                        </div>
                                        <div class="company_job_des">
                                            <%@company.company_jobs.each do |company_job|%>
                                                <div class="company_job_block_mini">
                                                    <div class="company_avatar">
                                                        <%if @company.avatar?%>
                                                            <img><%= link_to (image_tag(@company.avatar.thumb.url)), image_path(url_for(@company.avatar.thumb.url)), rel: "gallery" , :href => company_path(@company)%>
                                                        <%end%>
                                                    </div>

                                                    <div class="company_job_info">
                                                        <div class="company_job_title">
                                                            <%= link_to (company_job.title), company_company_job_path(@company, company_job) %>
                                                        </div>
                                                        <div class="company_job_date">
                                                            <a><%= time_ago_in_words(company_job.created_at) %></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            <%end%>
                                        </div>
                                    </div>
                                <%end%>
                            </div>
                        </div>
                    </div>
                </div>
            <%end%>
            
            <%if @tab_id == "CompanyJobsID"%>
                <div class="company_job_tab">
                    <div class="row"> 
                        <div class="col-sm-8"> 
                            <div class="company_job_tab_des_left">
                                <div class="company_job_tab_heading">
                                    <div class="user_comment_heading_job">
                                        <%if @company.company_jobs.count > 0%>
                                            <a><%=@company.company_jobs.count%> việc làm tại <%=@company.name%> </a> 
                                        <%else%>
                                            <a> Rất tiếc, <%=@company.name%> hiện tại chưa có việc làm đang tuyển dụng </a>
                                        <%end%>
                                    </div>
                                </div>
                                <div class="company_job_index_tab">
                                    <%= render @company.company_jobs%>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class='company_job_tab_des_right'>
                                <div class="new_job">
                                    <div class="new_job_title">
                                        <strong>Bạn là nhà tuyển dụng</strong>
                                    </div>
                                    <div class="new_job_button">
                                        <%if user_signed_in?%>
                                            <%if current_user.employer? || current_user.admin?%>
                                                <%= link_to '<button type="submit"><i class="material-icons-outlined">add</i><span>Đăng tin tuyển dụng miễn phí<span></button>'.html_safe, new_company_company_job_path(@company) %>
                                            <%else%>
                                                <%= link_to '<button type="submit"><i class="material-icons-outlined">add</i><span>Đăng tin tuyển dụng miễn phí<span></button>'.html_safe, new_user_registration_path(:user_type => 'employer') %>
                                            <%end%>
                                        <%else%>
                                            <%= link_to '<button type="submit"><i class="material-icons-outlined">add</i><span>Đăng tin tuyển dụng miễn phí<span></button>'.html_safe, new_user_registration_path(:user_type => 'employer') %>
                                        <%end%>
                                    </div>
                                </div>
                                <div class='company_policy_overview_block_right_overview'>
                                    <div class="company_policy_overview_label">
                                        <span> Giới thiệu</span>
                                    </div>

                                    <div class="company_policy_overview_right">
                                        <div class="company_policy_overview_right_title">
                                            <i class="material-icons-outlined">place</i><a>  Địa chỉ </a>
                                        </div>
                                        <div class="company_policy_overview_right_des">
                                            <%if !@company.location.to_s.empty?%>
                                                <a><%= @company.location %></a>
                                            <%else%>
                                                <a>---</a>
                                            <%end%>
                                        </div>
                                    </div>
                                    <div class="company_policy_overview_right">
                                        <div class="company_policy_overview_right_title">
                                            <i class="material-icons-outlined">people</i> <a> Nhân viên </a>
                                        </div>
                                        <div class="company_policy_overview_right_des">
                                            <%if !@company.size.to_s.empty?%>
                                                <a><%= @company.size %></a>
                                            <%else%>
                                                <a>---</a>
                                            <%end%>
                                        </div>
                                    </div>
                                    <div class="company_policy_overview_right">
                                        <div class="company_policy_overview_right_title">
                                            <i class="material-icons-outlined">bookmark_border</i> <a> Lĩnh vực hoạt động </a>
                                        </div>
                                        <div class="company_policy_overview_right_des">
                                            <%if !@company.field_operetion.to_s.empty?%>
                                                <a><%= @company.field_operetion %></a>
                                            <%else%>
                                                <a>---</a>
                                            <%end%>
                                        </div>
                                    </div>
                                    <div class="company_policy_overview_right">
                                        <div class="company_policy_overview_right_title">
                                            <i class="material-icons-outlined">open_in_new</i><a> Địa chỉ website </a>
                                        </div>
                                        <div class="company_policy_overview_right_des">
                                            <%if !@company.website.to_s.empty?%>
                                                <%=h auto_link(simple_format(@company.website), :link => :urls) %>
                                            <%elsif !@company.phone.to_s.empty?%>
                                                <a><%= @company.phone %></a>
                                            <%else%>
                                                <a>---</a>
                                            <%end%>
                                        </div>
                                    </div>
                                    <div class="company_policy_overview_right">
                                        <div class="company_policy_overview_right_title">
                                            <i class="material-icons-outlined">history</i><a> Cập nhật lần cuối </a>
                                        </div>
                                        <div class="company_policy_overview_right_des">
                                            <a><%= @company.created_at.strftime("%B %d, %Y") %></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <%end%>

            <%if @tab_id == "CompanySalariesID"%>
                <div class="company_salary_tab">
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="company_salary_left">
                                <%if @company.company_salaries.count > 0%>
                                    <div class="row">
                                        <%i = 1%>
                                        <%while i < 13%>
                                            <div class="col-sm-6">
                                                <%= render :partial => 'company_salaries/company_salary', :object => @company, locals: {salary_locate: i} %>
                                            </div>
                                            <%i += 1%>
                                        <%end%>
                                    </div>
                                <%else%>
                                    <div class="salary_new_not_found">
                                        <span>Rất tiếc, chưa có đủ dữ liệu thống kê. Hãy là người đầu tiên chia sẻ mức lương của bạn tại <%=@company.name%>, thông tin của bạn sẽ rất hữu ích cho những người khác ...</span>
                                    </div>
                                    <div class="no_salary_found">
                                        <div class="salary_new_label">
                                            <a>Thêm review lương ngay</a>
                                        </div>
                                        <div class="salary_new_button">
                                            <%= link_to '<button type="submit"> <i class="material-icons-outlined">edit</i> <span> Review lương</span> </button>'.html_safe, new_company_company_salary_path(@company) %>
                                        </div>
                                    </div>
                                <%end%>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="company_salary_right"> 
                                <%if @company.company_jobs.count >0%>
                                    <div class="company_job_mini_block">
                                        <div class="company_job_label">
                                            <a>Tin tuyển dụng</a>
                                        </div>
                                        <div class="company_job_des">
                                            <%@company.company_jobs.each do |company_job|%>
                                                <div class="company_job_block_mini">
                                                    <div class="company_avatar">
                                                        <%if @company.avatar?%>
                                                            <img><%= link_to (image_tag(@company.avatar.thumb.url)), image_path(url_for(@company.avatar.thumb.url)), rel: "gallery" , :href => company_path(@company)%>
                                                        <%end%>
                                                    </div>

                                                    <div class="company_job_info">
                                                        <div class="company_job_title">
                                                            <%= link_to (company_job.title), company_company_job_path(@company, company_job) %>
                                                        </div>
                                                        <div class="company_job_date">
                                                            <a><%= time_ago_in_words(company_job.created_at) %></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            <%end%>
                                        </div>
                                    </div>
                                <%end%>
                            </div>
                        </div>
                    </div>
                </div>
            <%end%>

            <%if @tab_id == "CompanyQuestionsID"%>
                <div class="company_question_tab">
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="company_question_left"> 
                                <%if @company.company_questions.count > 0%>  
                                    <div class="company_question_index">    
                                        <div class="company_question_new_button">                     
                                            <%= link_to '<button type="submit"> <i class="material-icons-outlined">edit</i> <span> Tạo câu hỏi mới</span> </button>'.html_safe, new_company_company_question_path(@company) %>
                                        </div>
                                        <%= render @company.company_questions%>
                                    </div>
                                <%else%>
                                    <div class="question_new_not_found">
                                        <span>Hãy là người đầu tiên đặt câu hỏi về <%=@company.name%></span>
                                    </div>
                                    <div class="no_question_found">
                                        <div class="question_new_label">
                                            <a>Đặt câu hỏi ngay</a>
                                        </div>
                                        <div class="question_new_button">
                                            <%= link_to '<button type="submit"> <i class="material-icons-outlined">edit</i> <span> Đặt câu hỏi</span> </button>'.html_safe, new_company_company_question_path(@company) %>
                                        </div>
                                    </div>
                                <%end%>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="company_question_right"> 
                                <%if @company.company_jobs.count >0%>
                                    <div class="company_job_mini_block">
                                        <div class="company_job_label">
                                            <a>Tin tuyển dụng</a>
                                        </div>
                                        <div class="company_job_des">
                                            <%@company.company_jobs.each do |company_job|%>
                                                <div class="company_job_block_mini">
                                                    <div class="company_avatar">
                                                        <%if @company.avatar?%>
                                                            <img><%= link_to (image_tag(@company.avatar.thumb.url)), image_path(url_for(@company.avatar.thumb.url)), rel: "gallery" , :href => company_path(@company)%>
                                                        <%end%>
                                                    </div>

                                                    <div class="company_job_info">
                                                        <div class="company_job_title">
                                                            <%= link_to (company_job.title), company_company_job_path(@company, company_job) %>
                                                        </div>
                                                        <div class="company_job_date">
                                                            <a><%= time_ago_in_words(company_job.created_at) %></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            <%end%>
                                        </div>
                                    </div>
                                <%end%>
                            </div>
                        </div>
                    </div>
                </div>
            <%end%>

            <%if @tab_id == "CompanyImagesID"%>
                <div class="company_image_tab">
                    <div class="row"> 
                        <div class="col-sm-8">
                            <div class="company_image_tab_left">
                                <div class="company_image_upload"> 
                                    <%= form_for [@company, CompanyImage.new] do |f| %>
                                        <div class="new_company_image_content">
                                            <div class="new_company_image_label">
                                                <a><i class="material-icons-outlined">photo_camera</i> Upload picture</a>
                                            </div>
                                            
                                            <%if user_signed_in?%>
                                                <div class="new_company_image_input">
                                                    <div class="new_company_input">
                                                        <%= f.file_field :image, :required => true%>
                                                    </div>
                                                </div>
                                            <%end%>
                                        </div>
                                        <div class="new_company_image_submit">
                                            <%if user_signed_in?%>
                                                <%= f.submit "Đăng ảnh", class: "new_company_image_form_submit" %>
                                            <%else%>
                                                <%= link_to '<button type="submit"> <span> Đăng ảnh </span> </button>'.html_safe, new_user_session_path %>
                                            <%end%>
                                        </div>
                                    <%end%>
                                </div>

                                <div class="company_image_block"> 
                                    <div class="row"> 
                                        <%@company.company_images.each do |company_image|%>
                                            <div class="col-sm-4">
                                                <%if company_image.image?%>
                                                    <img><%= image_tag company_image.image.url %>
                                                <%end%>
                                            </div>
                                        <%end%> 
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="company_image_tab_right">
                                <%if @company.company_jobs.count >0%>
                                    <div class="company_image_mini_block">
                                        <div class="company_job_label">
                                            <a>Tin tuyển dụng</a>
                                        </div>
                                        <div class="company_job_des">
                                            <%@company.company_jobs.each do |company_job|%>
                                                <div class="company_job_block_mini">
                                                    <div class="company_avatar">
                                                        <%if @company.avatar?%>
                                                            <img><%= link_to (image_tag(@company.avatar.thumb.url)), image_path(url_for(@company.avatar.thumb.url)), rel: "gallery" , :href => company_path(@company)%>
                                                        <%end%>
                                                    </div>

                                                    <div class="company_job_info">
                                                        <div class="company_job_title">
                                                            <%= link_to (company_job.title), company_company_job_path(@company, company_job) %>
                                                        </div>
                                                        <div class="company_job_date">
                                                            <a><%= time_ago_in_words(company_job.created_at) %></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            <%end%>
                                        </div>
                                    </div>
                                <%end%>
                            </div>
                        </div>
                    </div>
                </div>
            <%end%>
        </div>
    </div>
</div>
