<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0"/>
    </head>

    <body>
        <div class="container">
            <div class="new_apply_job_form">
                <%= form_for [@company, @company_job, CompanyApplyJob.new] do |f| %>
                    <div class="new_apply_job_content">
                        <div class="new_apply_job_label">
                            <a><%= f.label :name, "Họ và tên*", class: "new_apply_job_label_content" %></a>
                        </div>
                        
                        <div class="new_apply_job_input_job">
                            <%= f.text_field :name, :required => true, class: "new_apply_job_form_input_job", placeholder: "Nhập tên đầy đủ của bạn" %>
                        </div>
                    </div>

                    <div class="new_apply_job_content">
                        <div class="new_apply_job_label">
                            <a><%= f.label :email, "Địa chỉ Email*", class: "new_apply_job_label_content" %></a>
                        </div>
                        
                        <div class="new_apply_job_input_job">
                            <%= f.text_field :email, :required => true, class: "new_apply_job_form_input_job", placeholder: "Nhập địa chỉ email của bạn" %>
                        </div>
                    </div>

                    <div class="new_apply_job_content">
                        <div class="new_apply_job_label">
                            <a><%= f.label :cover_vitate, "Upload CV*", class: "new_apply_job_label_content" %></a>
                        </div>
                        
                        <div class="new_apply_job_input_job">
                            <%= f.file_field :cover_vitate, :required => true, class: "new_apply_job_form_input_job", placeholder: "Nhập nội dung" %>
                        </div>
                    </div>

                    <div class="new_apply_job_content">
                        <div class="new_apply_job_label">
                            <a><%= f.label :cover_letter_rich_text, "Giới thiệu bản thân*", class: "new_apply_job_label_content" %></a>
                        </div>
                        
                        <div class="new_apply_job_input_job">
                            <%= f.rich_text_area :cover_letter_rich_text, :required => true, class: "form-control-rich-text customized-min-height", placeholder: "Giới thiệu bản thân( kinh nghiệm, học vấn, nghề nghiệp...) ít nhất 3000 từ" %>
                        </div>
                    </div>

                    <div class="new_apply_job_submit">
                        <%= f.submit "Nộp đơn", class: "new_apply_job_form_submit" %>
                    </div>
                <%end%>
            </div>
        </div>
    </body>
</html>