<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <div class="new_apply_job_form">
                <%= form_for [@company_job, CompanyApplyJob.new] do |f| %>
                    <div class="new_apply_job_title_block">
                        <div class="new_apply_job_title">
                            <h3><%=t(:apply_postion)%> "<%=@company_job.title.titleize%>" </h3>
                        </div>

                        <div class="new_apply_job_image">
                            <%if @company.present? && @company.avatar?%>
                                <%= image_tag @company.avatar.thumb.url %>
                            <%else%>
                                <%= image_tag "defaults/company_avatar_default.png" %>
                            <%end%>
                        </div>
                    </div>

                    <div class="new_apply_job_title_sub">
                        <a><%=t(:form_require_left)%> <span>'*'</span> <%=t(:form_require_right)%></a>
                    </div>
                    
                    <div class="new_apply_job_content">
                        <div class="new_apply_job_label">
                            <a><%= f.label :name, t(:full_name), class: "new_apply_job_label_content" %><span>*</span></a>
                        </div>
                        
                        <div class="new_apply_job_input_job">
                            <%= f.text_field :name, autofocus: true, :required => true, class: "form-control", value: current_user.name, placeholder: t(:enter_name) %>
                        </div>
                    </div>

                    <div class="new_apply_job_content">
                        <div class="new_apply_job_label">
                            <a><%= f.label :email, t(:email), class: "new_apply_job_label_content" %><span>*</span></a>
                        </div>
                        
                        <div class="new_apply_job_input_job">
                            <%= f.email_field :email, :required => true, class: "form-control", value: current_user.email, placeholder: t(:enter_email)%>
                        </div>
                    </div>

                    <div class="new_apply_job_content">
                        <div class="new_apply_job_label">
                            <a><%= f.label :phone, t(:phone), class: "new_apply_job_label_content" %><span>*</span></a>
                        </div>
                        
                        <div class="new_apply_job_input_job">
                            <%= f.text_field :phone, :required => true, class: "form-control", value: current_user.phone, placeholder: t(:enter_phone)%>
                        </div>
                    </div>

                    <div class="new_apply_job_content">
                        <div class="new_apply_job_label">
                            <a><%= f.label :address, t(:address), class: "new_apply_job_label_content" %><span>*</span></a>
                        </div>
                        
                        <div class="new_apply_job_input_job">
                            <%= f.text_field :address, :required => true, class: "form-control", value: current_user.address, placeholder: t(:enter_address)%>
                        </div>
                    </div>

                    <div class="new_apply_job_content">
                        <div class="new_apply_job_label">
                            <a><%= f.label :cover_vitate, t(:cv), class: "new_apply_job_label_content" %><span>*</span></a>
                        </div>
                        
                        <div class="new_apply_job_input_job">
                            <%= f.file_field :cover_vitate, :required => true, class: "form-control", placeholder: t(:enter_cv) %>
                        </div>
                    </div>

                    <div class="new_apply_job_content">
                        <div class="new_apply_job_label">
                            <a><%= f.label :cover_letter, t(:self_introduce), class: "new_apply_job_label_content" %><span>*</span></a>
                        </div>
                        
                        <div class="new_apply_job_input_job">
                            <%= f.text_area :cover_letter, :class => "tinymce"%>
                            <%= tinymce :medium %>
                        </div>
                    </div>

                    <div class="new_apply_job_submit">
                        <%= f.submit t(:apply), class: "new_apply_job_form_submit" %>
                    </div>
                <%end%>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="apply_job_policy">
                <div class="apply_job_policy_title">
                    <a><%=t(:apply_job_help)%></a>
                </div>
                <div class="apply_job_policy_content">
                    <div class="apply_job_policy_content_index">
                        · <%=t(:apply_job_help_1)%>
                    </div>
                    <div class="apply_job_policy_content_index">
                        · <%=t(:apply_job_help_2)%>
                    </div>
                    <div class="apply_job_policy_content_index">
                        · <%=t(:apply_job_help_3)%>
                    </div>
                    <div class="apply_job_policy_content_index">
                        · <%=t(:apply_job_help_4)%>
                    </div>
                    <div class="apply_job_policy_content_index">
                        · <%=t(:apply_job_help_5)%>
                    </div>
                    <div class="apply_job_policy_content_link">
                        <%=t(:form_read_policy)%>
                        <a href="<%=term_path%>"><%=t(:term_and_service)%> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>