<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <div class="new_apply_job_form">
                <%= form_for [@company_job, CompanyApplyJob.new] do |f| %>
                    <div class="new_apply_job_title_block">
                        <div class="new_apply_job_title">
                            <h3>Ứng tuyển vị trí "<%=@company_job.title.titleize%>" </h3>
                        </div>

                        <div class="new_apply_job_image">
                            <%if @company.present? && @company.avatar?%>
                                <%= image_tag @company.avatar.thumb.url %>
                            <%else%>
                                <%= image_tag "defaults/company_avatar_default.png" %>
                            <%end%>
                        </div>
                    </div>

                    <div class="new_apply_job_title_sub">
                        <a>Note: Mục có dấu <span>'*'</span> là bắt buộc</a>
                    </div>
                    
                    <div class="new_apply_job_content">
                        <div class="new_apply_job_label">
                            <a><%= f.label :name, "Họ và tên", class: "new_apply_job_label_content" %><span>*</span></a>
                        </div>
                        
                        <div class="new_apply_job_input_job">
                            <%= f.text_field :name, autofocus: true, :required => true, class: "form-control", value: current_user.name, placeholder: "Nhập họ và tên" %>
                        </div>
                    </div>

                    <div class="new_apply_job_content">
                        <div class="new_apply_job_label">
                            <a><%= f.label :email, "Địa chỉ Email", class: "new_apply_job_label_content" %><span>*</span></a>
                        </div>
                        
                        <div class="new_apply_job_input_job">
                            <%= f.email_field :email, :required => true, class: "form-control", value: current_user.email, placeholder: "Nhập địa chỉ email của bạn"%>
                        </div>
                    </div>

                    <div class="new_apply_job_content">
                        <div class="new_apply_job_label">
                            <a><%= f.label :phone, "Số điện thoại liên hệ", class: "new_apply_job_label_content" %><span>*</span></a>
                        </div>
                        
                        <div class="new_apply_job_input_job">
                            <%= f.text_field :phone, :required => true, class: "form-control", value: current_user.phone, placeholder: "Nhập số điện thoại liên hệ của bạn"%>
                        </div>
                    </div>

                    <div class="new_apply_job_content">
                        <div class="new_apply_job_label">
                            <a><%= f.label :address, "Địa chỉ liên hệ", class: "new_apply_job_label_content" %><span>*</span></a>
                        </div>
                        
                        <div class="new_apply_job_input_job">
                            <%= f.text_field :address, :required => true, class: "form-control", value: current_user.address, placeholder: "Nhập địa chỉ liên hệ của bạn"%>
                        </div>
                    </div>

                    <div class="new_apply_job_content">
                        <div class="new_apply_job_label">
                            <a><%= f.label :cover_vitate, "Upload CV", class: "new_apply_job_label_content" %><span>*</span></a>
                        </div>
                        
                        <div class="new_apply_job_input_job">
                            <%= f.file_field :cover_vitate, :required => true, class: "form-control", placeholder: "Tải CV của bạn lên" %>
                        </div>
                    </div>

                    <div class="new_apply_job_content">
                        <div class="new_apply_job_label">
                            <a><%= f.label :cover_letter, "Giới thiệu về bản thân(khoảng 3000 từ)", class: "new_apply_job_label_content" %><span>*</span></a>
                        </div>
                        
                        <div class="new_apply_job_input_job">
                            <%= f.text_area :cover_letter, :class => "tinymce"%>
                            <%= tinymce :medium %>
                        </div>
                    </div>

                    <div class="new_apply_job_submit">
                        <%= f.submit "Nộp đơn", class: "new_apply_job_form_submit" %>
                    </div>
                <%end%>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="apply_job_policy">
                <div class="apply_job_policy_title">
                    <a>Lưu ý trước khi ứng tuyển</a>
                </div>
                <div class="apply_job_policy_content">
                    <div class="apply_job_policy_content_index">
                        · Mô tả bản thân một cách ngắn gọn, xúc tích ghi điểm với nhà tuyển dụng
                    </div>
                    <div class="apply_job_policy_content_index">
                        · Trình bày CV thông minh làm nổi bật những điểm mạnh của bản thân
                    </div>
                    <div class="apply_job_policy_content_index">
                        · Không sử dụng từ ngữ mang ý xúc phạm, miệt thị người khác
                    </div>
                    <div class="apply_job_policy_content_index">
                        · Không sử dụng từ ngữ mang tính chất kích động, bạo lực
                    </div>
                    <div class="apply_job_policy_content_index">
                        · Quá trình ứng tuyển là hoàn toàn miễn phí, người dùng cần cẩn trọng trong trường hợp công ty yêu cầu nộp phí trước khi ứng tuyển
                    </div>
                    <div class="apply_job_policy_content_link">
                        Xem thêm thông tin chi tiết về 
                        <a href="<%=term_path%>">thỏa thuận sử dụng </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>