<% content_for :meta_title, "Đăng nhập" %>
<% content_for :meta_description, "Đăng nhập để khám phá những thông tin hữu ích về công ty, việc làm giúp bạn chinh phục công việc mơ ước..." %>
<div class='session_container'>
    <div class="container">
        <div class='session_block'>
            <div class="user_signin_form_left">
                <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                    <div class="user_signin_title">
                        <a>Đăng nhập</a>
                    </div>

                    <div class="user_signin_content">
                        <div class="user_signin_label">
                            <a><%= f.label :email, "Địa chỉ email*", class: "user_signin_label_name" %></a>
                        </div>

                        <div class="user_signin_input">
                            <%= f.email_field :email, autofocus: true, autocomplete: "email", :required => true, class: "form-control", placeholder: "Nhập địa chỉ email của bạn" %>
                        </div>
                    </div>

                    <div class="user_signin_content">
                        <div class="user_signin_label">
                            <a><%= f.label :password, "Mật khẩu*", class: "user_signin_label" %></a>
                        </div>

                        <div class="user_signin_input">
                            <%= f.password_field :password, autocomplete: "current-password", :required => true, class: "form-control", placeholder: "Nhập mật khẩu của bạn" %>
                        </div>
                    </div>

                    <div class="user_signin_remember">
                        <% if devise_mapping.rememberable? %>
                            <%= f.check_box :remember_me %>
                            <%= f.label :remember_me, "Nhớ đăng nhập", class: "user_signin_label_small" %>
                        <% end %>
                    </div>
                    
                    <div class="user_signin_forgot_pass">
                        <a><%= link_to "Quên mật khẩu?", new_password_path(resource_name) %></a>
                    </div>

                    <div class="user_signin_submit">
                        <%= f.submit "Đăng nhập", class: "user_signin_form_submit" %>
                    </div>
                <%end%>
            </div>
            <div class="user_signin_form_right">
                <div class="user_signin_title">
                    <a><span>or</span></a>
                </div>

                <div class="login_with_google">
                    <%= button_to user_google_oauth2_omniauth_authorize_path, method: :post do%>
                        <i class="material-icons">mail</i> <span>Đăng nhập bằng Google</span>
                    <%end%>
                </div>
                <div class="login_with_facebook">
                    <%= button_to user_facebook_omniauth_authorize_path, method: :post do%>
                        <i class="material-icons">facebook</i> <span>Đăng nhập bằng Facebook</span>
                    <%end%>
                </div>
            </div>

            <div class="user_signin_loginhere">
                Bạn chưa có tài khoản?<a><%= link_to "Đăng kí", new_user_registration_path %></a>
            </div>
        </div>
    </div>
</div>

