<div class="container">
	<div class="employer_update_form">
		<%= form_for @employer, html: {class: "form-horizontal"} do |f| %>
			<div class="employer_update_title">
				<h3><%=t(:update_account)%>, <%= @employer.name%></h3>
			</div>
			
			<div class="row">
				<div class="col-sm-6">
					<div class="employer_update_section">
						<div class="employer_update_content">
							<div class="employer_update_label">
								<a><%= f.label :name, t(:full_name), class: "employer_update_label_name" %></a>
							</div>

							<div class="employer_update_input">
								<%= f.text_field :name, class: "form-control", placeholder: t(:enter_name) %>
							</div>
						</div>
						
						<div class="employer_update_content">
							<div class="employer_update_label">
								<a><%= f.label :phone, t(:phone), class: "employer_update_label_name" %></a>
							</div>

							<div class="employer_update_input">
								<%= f.text_field :phone, class: "form-control", placeholder: t(:enter_phone) %>
							</div>
						</div>

						<div class="employer_update_content">
							<div class="employer_update_label">
								<a><%= f.label :email, t(:email), class: "employer_update_label_name" %></a>
							</div>

							<div class="employer_update_input">
								<%= f.text_field :email, class: "form-control", placeholder: t(:enter_email) %>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="employer_update_section">
						<div class="employer_update_content">
							<div class="employer_update_label">
								<a><%= f.label :company_name, t(:company_name), class: "employer_update_label" %></a>
							</div>

							<div class="employer_update_input">
								<%= f.text_field :company_name, class: "form-control"%>
							</div>
						</div>

						<div class="employer_update_content">
							<div class="employer_update_label">
								<a><%= f.label :company_field, t(:primary_filed_opreation), class: "employer_update_label" %></a>
							</div>

							<div class="employer_update_input">
								<%= f.text_field :company_field, class: "form-control"%>
							</div>
						</div>

                        <div class="employer_update_content">
							<div class="employer_update_label">
								<a><%= f.label :address, t(:company_address), class: "employer_update_label" %></a>
							</div>

							<div class="employer_update_input">
								<%= f.text_field :address, class: "form-control"%>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="employer_update_submit">
				<%= f.submit t(:submit), class: "employer_update_form_submit" %>
			</div>
		<%end%>
	</div>
</div>