<div id="employer_price_cal">
    <div class="employer_plan_price_cart_cal_detail">
        <div class="employer_plan_price_cart_cal_temp">
            <a><span><%=t(:provisional)%>:</span> <%=number_with_delimiter(@price)%><%=t(:vnd_short)%></a>
        </div>
        <div class="employer_plan_price_cart_cal_total">
            <a><span><%=t(:total)%>:</span> <%=number_with_delimiter(@price)%><%=t(:vnd_short)%></a>
        </div>
    </div>
</div>