<div class="employer_ad_block">
    <div class="employer_ad_intro_block">
        <div class="container">
            <div class='row'>
                <div class='col-sm-5'>
                    <div class="employer_ad_left_block">
                        <div class="employer_ad_bar_label">
                            <h3><%=t(:employer_ad_1)%>.</h3>
                        </div>
                        <div class="employer_ad_button">
                            <%= link_to new_employer_registration_path do%>
                                <button type="submit"><span><%=t(:start_now)%></span></button>
                            <%end%>
                        </div>
                        <div class="employer_ad_login">
                            <%=t(:wellcome_employer_sub_2)%> <a><%= link_to t(:signin), new_employer_session_path %></a>
                        </div>
                    </div>
                </div>
                <div class='col-sm-7'>
                    <div class="employer_ad_right_block">
                        <%=image_tag("others/employer.jpg")%>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="employer_ad_benefit_container">
        <div class="container">
            <div class="employer_ad_benefit_label">
                <h3><%=t(:employer_ad_2)%></h3>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="employer_ad_benefit_block">
                        <svg width="80px" height="80px" viewBox="0 0 256 256" fill=#1473e6 stroke="none" id="Flat" xmlns="http://www.w3.org/2000/svg">
                            <path d="M198.71094,57.28906A100.00037,100.00037,0,0,0,57.28906,198.71094,100.00037,100.00037,0,0,0,198.71094,57.28906Zm-5.65723,135.76465A91.99945,91.99945,0,1,1,220,128,91.39744,91.39744,0,0,1,193.05371,193.05371Zm-30.2251-27.88232a4.00026,4.00026,0,0,1-5.65722,5.65722L128,141.65674,98.82861,170.82861a4.00026,4.00026,0,0,1-5.65722-5.65722l32-32a4.00147,4.00147,0,0,1,5.65722,0Zm0-56a4.00026,4.00026,0,0,1-5.65722,5.65722L128,85.65674,98.82861,114.82861a4.00026,4.00026,0,0,1-5.65722-5.65722l32-32a4.00147,4.00147,0,0,1,5.65722,0Z"/>
                        </svg>
                        <br>
                        <a><%=t(:employer_ad_3)%></a>
                        <br>
                        <span><%=t(:employer_ad_4)%>.</span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="employer_ad_benefit_block">
                        <svg width="80px" height="80px" viewBox="0 0 256 256" fill=#1473e6 stroke="none" id="Flat" xmlns="http://www.w3.org/2000/svg">
                            <path d="M111.13672,158.97681a56.00028,56.00028,0,1,0-46.27246-.00025,92.23328,92.23328,0,0,0-52.13867,36.11719,3.99985,3.99985,0,1,0,6.541,4.60547A84.01746,84.01746,0,0,1,156.73,199.69434a4.00014,4.00014,0,0,0,6.541-4.60645A92.23237,92.23237,0,0,0,111.13672,158.97681ZM40.00049,108a48,48,0,1,1,48,48A48.05436,48.05436,0,0,1,40.00049,108Zm203.82519,92.66162a3.99923,3.99923,0,0,1-5.57373-.96728A84.17363,84.17363,0,0,0,169.522,164a4,4,0,0,1,0-8,48,48,0,1,0-13.02636-94.2124,4,4,0,1,1-2.166-7.70117A55.99661,55.99661,0,0,1,192.6582,158.97681,92.23507,92.23507,0,0,1,244.793,195.08789,4.0002,4.0002,0,0,1,243.82568,200.66162Z"/>
                        </svg>
                        <br>
                        <a><%=t(:employer_ad_5)%></a>
                        <br>
                        <span><%=t(:employer_ad_6)%>.</span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="employer_ad_benefit_block">
                        <svg width="80px" height="80px" viewBox="0 0 256 256" fill=#1473e6 stroke="none" id="Flat" xmlns="http://www.w3.org/2000/svg">
                            <path d="M204.23486,83.5a107.3647,107.3647,0,0,0-76.1831-31.49463C128.03418,52.00488,128.01758,52,128,52c-.01465,0-.02783.00391-.04248.00439-.11328,0-.22607-.00341-.33936-.00341-48.95214.16894-90.3706,33.51464-103.374,78.84961a3.69972,3.69972,0,0,0-.67578,2.46875A109.7546,109.7546,0,0,0,20,161.12891V184a12.01343,12.01343,0,0,0,12,12H224a12.01343,12.01343,0,0,0,12-12V160A107.27676,107.27676,0,0,0,204.23486,83.5ZM228,184a4.00427,4.00427,0,0,1-4,4H111.55664l63.44775-82.68652a3.99984,3.99984,0,1,0-6.34716-4.86914L101.47314,188H32a4.00427,4.00427,0,0,1-4-4V161.12891a101.92349,101.92349,0,0,1,2.63672-23.07618L57.418,145.22852a3.99963,3.99963,0,1,0,2.0708-7.72657l-26.73242-7.16308c12.53613-39.49317,48.498-68.54,91.24365-70.251V88a4,4,0,0,0,8,0V60.085a100.14,100.14,0,0,1,91.52344,70.1792L196.51123,137.502a3.99963,3.99963,0,1,0,2.0708,7.72657l27.00293-7.23536A100.87021,100.87021,0,0,1,228,160Z"/>
                        </svg>
                        <br>
                        <a><%=t(:employer_ad_7)%></a>
                        <br>
                        <span><%=t(:employer_ad_8)%>.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="employer_ad_view_block">
            <div class="employer_ad_view_label">
                <h3><%=t(:employer_ad_9)%></h3>
            </div>
            <div class="employer_ad_view_section_text_first">
                <div class="row flex-column-reverse flex-md-row">
                    <div class="col-sm-6">
                        <div class="employer_ad_view_left_block">
                            <h4><%=t(:employer_ad_10)%></h4>
                            <a><%=t(:employer_ad_11)%></a>
                            <br>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="employer_ad_view_left_section">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke=#1473e6 stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-briefcase"><rect x="2" y="7" width="20" height="14" rx="2" ry="2"></rect><path d="M16 21V5a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v16"></path></svg>
                                        <span><%=t(:employer_ad_12)%></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="employer_ad_view_left_section">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke=#1473e6 stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-crosshair"><circle cx="12" cy="12" r="10"></circle><line x1="22" y1="12" x2="18" y2="12"></line><line x1="6" y1="12" x2="2" y2="12"></line><line x1="12" y1="6" x2="12" y2="2"></line><line x1="12" y1="22" x2="12" y2="18"></line></svg>
                                        <span><%=t(:employer_ad_13)%></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="employer_ad_view_left_section">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke=#1473e6 stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clock"><circle cx="12" cy="12" r="10"></circle><polyline points="12 6 12 12 16 14"></polyline></svg>
                                        <span><%=t(:employer_ad_14)%></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="employer_ad_view_left_section">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke=#1473e6 stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>                                        
                                        <span><%=t(:employer_ad_15)%></span>
                                    </div>
                                </div>
                            </div>

                            <div class="employer_ad_view_start_btn">
                                <button><%= link_to t(:start_ads), new_employer_session_path %></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="employer_ad_view_right_block">
                            <%=image_tag("others/employer_ad_phone.jpg")%>
                        </div>
                    </div>
                </div>
            </div>
            <div class="employer_ad_view_section_image_first">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="employer_ad_view_left_block">
                            <%=image_tag("others/employer_company.jpg")%>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="employer_ad_view_right_block">
                            <h4><%=t(:employer_ad_16)%></h4>
                            <a><%=t(:employer_ad_17)%></a>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="employer_ad_view_left_section">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke=#1473e6 stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-zap"><polygon points="13 2 3 14 12 14 11 22 21 10 12 10 13 2"></polygon></svg>                                        
                                        <span><%=t(:employer_ad_18)%></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="employer_ad_view_left_section">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke=#1473e6 stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-triangle"><path d="M10.29 3.86L1.82 18a2 2 0 0 0 1.71 3h16.94a2 2 0 0 0 1.71-3L13.71 3.86a2 2 0 0 0-3.42 0z"></path></svg>                                        
                                        <span><%=t(:employer_ad_19)%></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="employer_ad_view_left_section">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke=#1473e6 stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-circle"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path><polyline points="22 4 12 14.01 9 11.01"></polyline></svg>                                        
                                        <span><%=t(:employer_ad_20)%></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="employer_ad_view_left_section">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke=#1473e6 stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-refresh-cw"><polyline points="23 4 23 10 17 10"></polyline><polyline points="1 20 1 14 7 14"></polyline><path d="M3.51 9a9 9 0 0 1 14.85-3.36L23 10M1 14l4.64 4.36A9 9 0 0 0 20.49 15"></path></svg>                                        
                                        <span><%=t(:employer_ad_21)%></span>
                                    </div>
                                </div>
                            </div>
                            <div class="employer_ad_view_start_btn">
                                <button><%= link_to t(:employer_ad_22), new_employer_session_path %></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="employer_ad_register_block">
        <div class="container">
            <div class="employer_ad_register_label">
                <h3><%=t(:employer_ad_23)%></h3>
                <a><%=t(:employer_ad_24)%>.</a><%= link_to t(:contact_us), contact_us_path %>
            </div>
            <%= link_to new_employer_registration_path do%>
                <button type="submit"><span><%=t(:start_now)%></span></button>
            <%end%>
        </div>
    </div>
</div>