<div class="employer_buy_block">
    <div class="container">
        <div class="employer_buy_status">
            <div class="employer_buy_status_title">
                <h3><%=t(:my_wallet)%></h3>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="employer_buy_status_block">
                        <a><span><%=t(:employer)%>: </span><%=current_employer.name%></a>
                    </div>

                    <div class="employer_buy_status_block">
                        <a><span><%=t(:remain_cost)%>: </span><%=current_employer.remain_cost.to_i%>đ</a>
                    </div>

                    <div class="employer_buy_status_block">
                        <a><span><%=t(:promotion_cost)%>: </span><%=current_employer.promotion_cost.to_i%>đ</a>
                    </div>

                    <div class="employer_buy_status_block">
                        <%if current_employer.use_cost_seq.to_i == 0%>
                            <a><span><%=t(:limit_cost)%>: </span><%=current_employer.limit_cost.to_i%>đ - <%=t(:daily)%></a>
                        <%else%>
                            <a><span><%=t(:limit_cost)%>: </span><%=current_employer.limit_cost.to_i%>đ - <%=t(:monthly)%></a>
                        <%end%>
                    </div>

                    <div class="employer_buy_status_block">
                        <a><span><%=t(:cost_using_daily)%>: </span><%=cal_used_cost_daily_of_employer(current_employer)%>đ</a>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class='employer_buy_status_edit'>
                        <%= link_to t(:recharge), employer_help_path(tab: 'BillingHelpID'), class: "btn btn-primary" %>                    
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="employer_buy_setting">
            <div class="employer_buy_setting_title">
                <h3><%=t(:mng_cost)%></h3>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="employer_buy_setting_block">
                        <%= form_for @employer, html: {class: "form-horizontal"} do |f| %>
                            <div class="employer_buy_setting_section">
                                <div class="employer_buy_setting_content">
                                    <div class="employer_buy_setting_label">
                                        <a><%= f.label :limit_cost, t(:employer_buy_1), class: "employer_buy_setting_label_name" %></a>
                                    </div>

                                    <div class="employer_buy_setting_input">
                                        <%= f.number_field :limit_cost, class: "form-control", placeholder: t(:employer_buy_2) %>
                                    </div>
                                </div>
                                
                                <div class="employer_buy_setting_content">
                                    <div class="employer_buy_setting_label">
                                        <a><%= f.label :use_cost_seq, t(:employer_buy_3), class: "employer_buy_setting_label_name" %></a>
                                    </div>

                                    <div class="employer_buy_setting_input">
                                        <%= f.select(:use_cost_seq, options_for_select([[t(:daily), 0], [t(:monthly), 1]]), {include_blank: false}, { :class => 'form-select' }) %>
                                    </div>
                                </div>
                            </div>
                            <div class="employer_buy_setting_submit">
                                <%= f.submit t(:change), class: "employer_buy_setting_form_submit" %>
                            </div>
                        <%end%>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="employer_buy_setting_help">
                        <%if @employer.use_cost_seq%>
                            <%if @employer.use_cost_seq == 0%>
                                <span><strong><%=t(:view_increase_predict)%>:</strong> <%=(@employer.limit_cost/Constants::COST_PEER_VIEW).to_i%> <%=t(:view_peer_day)%></span>
                            <%else%>
                                <span><strong><%=t(:view_increase_predict)%>:</strong> <%=(@employer.limit_cost/Constants::COST_PEER_VIEW).to_i%> <%=t(:view_peer_month)%></span>
                            <%end%>
                        <%end%>
                        <br>
                        <span style="font-size:14px;"><%=t(:employer_buy_4)%></span>
                        <br>
                        <span style="font-style: italic; font-size:13px;"><%=t(:employer_buy_7)%></span>
                        <br>
                        <a><%=t(:read_more)%> <%= link_to t(:employer_buy_5), employer_help_path(tab: 'BuyAdLimitID')%></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="employer_buy_statistic">
            <div class="employer_buy_statistic_title">
                <h3><%=t(:employer_buy_6)%></h3>
            </div>
            <div class="employer_buy_statistic_tab_link">
                <ul class="nav">
                    <li class="nav-item">
                        <%if @tab == "default" || @tab == "AdsHistoryID"%>
                            <%active = "active"%>
                        <%else%> 
                            <%active = ""%>
                        <%end%>                                 
                        <a class="nav-link <%=active%>" href="<%=employer_buy_path(current_employer, tab: 'AdsHistoryID')%>"><%=t(:ad_history)%><span></span></a>
                    </li>
                    <li class="nav-item">
                        <%if @tab == "PaymentHistoryID"%>
                            <%active = "active"%>
                        <%else%> 
                            <%active = ""%>
                        <%end%>                                     
                        <a class="nav-link <%=active%>" href="<%=employer_buy_path(current_employer, tab: 'PaymentHistoryID')%>"><%=t(:pay_history)%> <span></span></a>
                    </li>
                </ul>
            </div>
            <div class="employer_buy_statistic_tab_content">
                <%if @tab == "default" || @tab == "AdsHistoryID"%>
                    <div class="employer_buy_statistic_tab_ads">
                        <%if @employer_costs.total_count > 0%>
                            <table class="table text-center table-hover">
                                <thead>
                                    <tr>
                                        <th style="width: 15%;">No.</th>
                                        <th style="width: 20%;"><%=t(:total_money_vnd)%></th>
                                        <th style="width: 30%;"><%=t(:reason)%></th>
                                        <th style="width: 40%;"><%=t(:time)%></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <%@employer_costs.each_with_index do |employer_cost, index|%>
                                        <tr>
                                            <td style="font-size: 15px;"><%=index + 1%></td>
                                            <td style="font-size: 15px;">-<%=employer_cost.cost%></td>
                                            <td style="font-size: 15px;"><%=t(:viewed_by_user)%> <a href="<%=employer_cost.url%>"><%=t(:ad_job)%></a></td>
                                            <td style="font-size: 15px;"><%=employer_cost.created_at.strftime("%F %T")%></td>
                                        </tr>
                                    <%end%>
                                </tbody>
                            </table>
                            <%= paginate @employer_costs, window: 2%>
                        <%else%>
                            <div class="employer_buy_statistic_no_result">
                                <a><%=t(:no_info)%></a>
                            </div>
                        <%end%>
                    </div>
                <%end%>
                <%if @tab == "PaymentHistoryID"%>
                    <div class="employer_buy_statistic_tab_payment_history">
                        <%if @employer_bills.total_count > 0%>
                            <table class="table text-center table-hover">
                                <thead>
                                    <tr>
                                        <th style="width: 15%;">No.</th>
                                        <th style="width: 30%;"><%=t(:total_money_vnd)%></th>
                                        <th style="width: 30%;"><%=t(:status)%></th>
                                        <th style="width: 40%;"><%=t(:time)%></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <%@employer_bills.each_with_index do |employer_bill, index|%>
                                        <tr>
                                            <td style="font-size: 15px;"><%=index + 1%></td>
                                            <td style="font-size: 15px;">+<%=employer_bill.total_cash%></td>
                                            <%if employer_bill.confirmed%>
                                                <td style="font-size: 15px;"><%=t(:confirmed)%></td>
                                            <%else%>
                                                <td style="font-size: 15px;"><%=t(:processing)%></td>
                                            <%end%>
                                            <td style="font-size: 15px;"><%=employer_bill.created_at.strftime("%F %T")%></td>
                                        </tr>
                                    <%end%>
                                </tbody>
                            </table>
                            <%= paginate @employer_bills, window: 2%>
                        <%else%>
                            <div class="employer_buy_statistic_no_result">
                                <a><%=t(:no_info)%></a>
                            </div>
                        <%end%>
                    </div>
                <%end%>
            </div>
        </div>
    </div>
</div>