<div class="employer_cv_search_index_block">
    <div class="container">
        <%=form_tag employer_cv_search_path, :method => "get" do%>
            <div class="employer_cv_searched_input">
                <div class='row'>
                    <div class='col-sm-7 col_padding_customize_right'>
                        <div class="employer_cv_searched_what">
                            <i class="material-icons-outlined">search</i>
                            <%= text_field_tag :search, params[:search], required: true, class: 'form-control', placeholder: t(:profile_search_label)%>
                        </div>
                    </div>
                        
                    <div class='col-sm-4 col_padding_customize'>
                        <div class="employer_cv_searched_where">
                            <i class="material-icons-outlined">place</i></button>
                            <%= select_tag :location, options_for_select(['Hà Nội','Hồ Chí Minh','Đà Nẵng','An Giang','Bà Rịa Vũng Tàu','Bạc Liêu','Bắc Kạn','Bắc Giang',
                                                    'Bắc Ninh','Bến Tre','Bình Dương','Bình Định','Bình Phước',
                                                    'Bình Thuận','Cà Mau','Cao Bằng','Cần Thơ','Đắk Lắk','Đắk Nông','Điện Biên',
                                                    'Đồng Nai','Đồng Tháp','Gia Lai','Hà Giang','Hà Nam','Hà Tây','Hà Tĩnh',
                                                    'Hải Dương','Hải Phòng','Hòa Bình','Hậu Giang','Hưng Yên','Khánh Hòa',
                                                    'Kiên Giang','Kon Tum','Lai Châu','Lào Cai',
                                                    'Lạng Sơn','Lâm Đồng','Long An','Nam Định','Nghệ An',
                                                    'Ninh Bình','Ninh Thuận','Phú Thọ','Phú Yên','Quảng Bình',
                                                    'Quảng Nam','Quảng Ngãi','Quảng Ninh','Quảng Trị',
                                                    'Sóc Trăng','Sơn La','Tây Ninh','Thái Bình','Thái Nguyên' ,
                                                    'Thanh Hóa','Thừa Thiên Huế','Tiền Giang','Trà Vinh',
                                                    'Tuyên Quang','Vĩnh Long','Vĩnh Phúc','Yên Bái' ]), {:prompt => t(:all_location), class: 'form-control'}%>
                        </div>
                    </div>
                    
                    <div class="col-sm-1 col_padding_customize_left">
                        <div class="employer_cv_searched_button">
                            <%= button_to "", form_class: "search_button", :name => nil do%>
                                <i class="material-icons-outlined">search</i>
                                <a><%=t(:search)%></a>
                            <%end%> 
                        </div>
                    </div>
                </div>
            </div>
        <%end%>
    </div>

    <div class="container">
        <div class="employer_cv_filter_container" id="employer_cv_filter">
            <%= form_for :filter, url: employer_cv_search_path, method: :get, remote: true do |f| %>
                <div class="employer_cv_filter_block">
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="employer_cv_filter_input">
                                <%= f.select(:school_level, options_for_select([t(:school_level_1), 
                                t(:school_level_2), 
                                t(:school_level_3), 
                                t(:school_level_4), 
                                t(:school_level_5), 
                                t(:school_level_6), 
                                t(:school_level_7), 
                                t(:school_level_8), 
                                t(:school_level_9)]), {include_blank: false, :prompt => t(:all_education)}, { :class => 'form-select'})  %>
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <div class="employer_cv_filter_input">
                                <%= f.select(:sex, options_for_select([t(:male), t(:female)]), {include_blank: false, :prompt => t(:all_sex)}, { :class => 'form-select'})  %>
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <div class="employer_cv_filter_input">
                                <%= f.select(:job_level, options_for_select([t(:staff), 
                                                                        t(:intern), 
                                                                        t(:junior), 
                                                                        t(:leader),
                                                                        t(:manage), 
                                                                        t(:sen_manager),
                                                                        t(:manager)]), 
                                                                        {include_blank: false, :prompt => t(:all_level)}, 
                                                                        { :class => 'form-select'})  %>
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <div class="employer_cv_filter_input">
                                <%= f.select(:job_exp, options_for_select([t(:x_month, num: 6), 
                                                                            t(:x_year, num: 1), 
                                                                            t(:x_year, num: 2), 
                                                                            t(:x_year, num: 3), 
                                                                            t(:x_year, num: 4), 
                                                                            t(:x_year, num: 5),
                                                                            t(:more_than_x_year, num: 5)]),
                                                                            {include_blank: false, :prompt => t(:all_exp)},
                                                                            { :class => 'form-select'})  %>
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <div class="employer_cv_filter_input">
                                <%= f.select(:updated_date, options_for_select([t(:x_day_pass, num: 1),
                                                                                t(:x_day_pass, num: 3),
                                                                                t(:x_day_pass, num: 7), 
                                                                                t(:x_day_pass, num: 15), 
                                                                                t(:x_day_pass, num: 30)]), 
                                                                                {include_blank: false, :prompt => t(:last_updated)}, 
                                                                                { :class => 'form-select'})  %>
                            </div>
                        </div>

                        <%= f.hidden_field:search, :value => params[:search]%>
                        <%= f.hidden_field:location, :value => params[:location]%>
                        
                        <div class="col-sm-2">
                            <div class="employer_cv_filter_submit">
                                <%= button_to "", :class => 'form-control', :name => nil do%>
                                    <i class="material-icons-outlined">filter_alt</i>
                                    <a><%=t(:filter)%></a>
                                <%end%>
                            </div>
                        </div>
                    </div>
                </div>
            <%end%>
            <div class="cv_filter_button_off">        
                <button class="filter_button_off" onclick= "myFunctionFilterOff()"><i class="material-icons-outlined">expand_less</i> <a><%t(:hide_adv_filter)%></a> </button>
            </div>
        </div>

        <div class="cv_filter_button_on">
            <button class="filter_button_on" id="filter_button_on" onclick= "myFunctionFilter()"><i class="material-icons-outlined">expand_more</i> <a><%=t(:show_adv_filter)%></a> </button>
        </div>

        <script>
            function myFunctionFilter() {
                var x = document.getElementById("employer_cv_filter");
                var y = document.getElementById("filter_button_on");
                if (x.style.display == "block") 
                {
                    x.style.display = "none";
                } 
                else 
                {
                    x.style.display = "block";
                }

                if (y.style.display == "none") 
                {
                    y.style.display = "block";
                } 
                else 
                {
                    y.style.display = "none";
                }
            }

            function myFunctionFilterOff() {
                var x = document.getElementById("employer_cv_filter");
                var y = document.getElementById("filter_button_on");
                if (x.style.display == "none") 
                {
                    x.style.display = "block";
                } 
                else 
                {
                    x.style.display = "none";
                }

                if (y.style.display == "block") 
                {
                    y.style.display = "none";
                } 
                else 
                {
                    y.style.display = "block";
                }
            }
        </script>
    </div>
</div>
    
<div class="container">
    <%if @is_cv_searched%>
        <%= render :partial => 'employers/cv_search', locals: {cv_searched: @cv_searchs, :is_all => false} %>
    <%else%>
        <%= render :partial => 'employers/cv_search', locals: {cv_searched: @user_cvs, :is_all => true} %>
    <%end%>
</div>