<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="employer_apply_job_index">
                <div class="employer_apply_job_index_title">
                    <h3><%=t(:employer_mng_applied_job)%></h3>
                </div>

                <div class="employer_apply_job_index_btn">
                    <%if auth_post_job_of_employer(current_employer)%>
                        <%= link_to t(:post_job), new_company_job_path, method: :get, class: "btn btn-primary" %>
                    <%else%>
                        <%= link_to t(:post_job), new_company_job_path, method: :get, class: "btn btn-primary disabled" %>
                    <%end%>
                </div>
                <%if @company_apply_jobs.total_count > 0%>
                    <div class="employer_apply_job_employer">
                        <div class="table-responsive">
                            <table class="table text-center table-hover">
                                <thead>
                                    <tr>
                                        <th style="width: 2%;">No.</th>
                                        <th style="width: 12%;"><%=t(:full_name)%></th>
                                        <th style="width: 5%;"><%=t(:email)%></th>
                                        <th style="width: 50%;"><%=t(:job)%></th>
                                        <th style="width: 12%;"><%=t(:date_applied)%></th>
                                        <th style="width: 12%;"><%=t(:cover_vitae)%></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <%@company_apply_jobs.each_with_index do |company_apply_job, index|%>
                                        <tr>
                                            <td><%=index + 1%></td>
                                            <td scope="row" class="text-start"><%=link_to (company_apply_job.name), company_job_company_apply_job_path(company_apply_job.company_job, company_apply_job)%></td>
                                            <td><%=company_apply_job.email%></td>
                                            <td scope="row" class="text-start"><%=link_to (company_apply_job.company_job.title), employer_job_path(:id => company_apply_job.company_job.id)%></td>
                                            <td><%=company_apply_job.created_at.strftime("%B %d, %Y")%></td>
                                            <%if company_apply_job.cover_vitate?%>
                                                <td> <%=link_to "Download", company_apply_job.cover_vitate.url%></td>
                                            <%end%>
                                        </tr>
                                    <%end%>
                                </tbody>
                            </table>
                        </div>
                        <%= paginate @company_apply_jobs, window: 2%>
                    </div>
                <%else%>
                    <div class="employer_apply_job_not_found_block">
                        <div class="employer_apply_job_not_found_icon">
                            <i class="material-icons">pending_actions</i>
                        </div>
                        <div class="employer_apply_job_not_found">
                            <span><%=t(:applied_not_found)%></span>
                        </div>
                        <div class="employer_apply_job_not_found_action">
                            <div class="employer_apply_job_button">
                                <%= link_to employer_path(current_employer, tab: 'EmployerJobID') do%>
                                    <button type="submit"> <i class="material-icons-outlined">arrow_back</i> <span> <%=t(:goback_job_site)%></span> </button>
                                <%end%>
                            </div>
                        </div>
                    </div>
                <%end%>
            </div>
        </div>
    </div>
</div>