<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="employer_job_index">
                <div class="employer_job_index_title">
                    <h3><%=t(:employer_mng_job)%></h3>
                </div>

                <div class="employer_job_index_btn">
                    <%if auth_post_job_of_employer(current_employer)%>
                        <%= link_to t(:post_job), new_company_job_path, method: :get, class: "btn btn-primary" %>
                    <%else%>
                        <%= link_to t(:post_job), new_company_job_path, method: :get, class: "btn btn-primary disabled" %>
                    <%end%>
                </div>
                <%if @company_job_all.count > 0%>
                    <div class="employer_job_index_tab_link">
                        <ul class="nav">
                            <li class="nav-item">
                                <%if @tab == "default" || @tab == "AllID"%>
                                    <%active = "active"%>
                                <%else%> 
                                    <%active = ""%>
                                <%end%>                                 
                                <a class="nav-link <%=active%>" href="<%=employer_index_job_path(current_employer, tab: 'AllID')%>"><i class="material-icons-outlined">reorder</i><%=t(:all)%><span> <%=@company_job_all.count%></span></a>
                            </li>
                            <li class="nav-item">
                                <%if @tab == "ApprovingID"%>
                                    <%active = "active"%>
                                <%else%> 
                                    <%active = ""%>
                                <%end%>                                     
                                <a class="nav-link <%=active%>" href="<%=employer_index_job_path(current_employer, tab: 'ApprovingID')%>"><i class="material-icons-outlined">library_add_check</i><%=t(:waiting_approve)%> <span><%=@company_job_approving.count%></span></a>
                            </li>
                            <li class="nav-item">
                                <%if @tab == "InProgressID"%>
                                    <%active = "active"%>
                                <%else%> 
                                    <%active = ""%>
                                <%end%>                                     
                                <a class="nav-link <%=active%>" href="<%=employer_index_job_path(current_employer, tab: 'InProgressID')%>"><i class="material-icons-outlined">work_outline</i><%=t(:recruiting)%> <span><%=@company_job_inprogress.count%></span></a>
                            </li>
                            <li class="nav-item">
                                <%if @tab == "CloseSoonID"%>
                                    <%active = "active"%>
                                <%else%> 
                                    <%active = ""%>
                                <%end%>                                     
                                <a class="nav-link <%=active%>" href="<%=employer_index_job_path(current_employer, tab: 'CloseSoonID')%>"><i class="material-icons-outlined">hourglass_empty</i><%=t(:expire_soon)%> <span><%=@company_job_close_soons.count%></span></a>
                            </li>
                            <li class="nav-item">
                                <%if @tab == "ExpireID"%>
                                    <%active = "active"%>
                                <%else%> 
                                    <%active = ""%>
                                <%end%>                                     
                                <a class="nav-link <%=active%>" href="<%=employer_index_job_path(current_employer, tab: 'ExpireID')%>"><i class="material-icons-outlined">history</i><%=t(:expired)%> <span><%=@company_job_closes.count%></span></a>
                            </li>
                        </ul>
                    </div>

                    <div class="employer_job_employer">
                        <%if @company_job_of_employer.total_count > 0%>
                            <div class="table-responsive">
                                <table class="table text-center table-hover">
                                    <thead>
                                        <tr>
                                            <th style="width: 2%;">No.</th>
                                            <th style="width: 25%;"><%=t(:title)%></th>
                                            <th style="width: 8%;"><%=t(:location)%></th>
                                            <th style="width: 8%;"><%=t(:status)%></th>
                                            <th style="width: 10%;"><%=t(:job_posted_date)%></th>
                                            <th style="width: 10%;"><%=t(:expire_date)%></th>
                                            <th style="width: 8%;"><%=t(:view_count)%></th>
                                            <th style="width: 8%;"><%=t(:applied_count)%></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <%@company_job_of_employer.each_with_index do |company_job, index|%>
                                            <tr>
                                                <td><%=index + 1%></td>
                                                <td scope="row" class="text-start"><%=link_to (company_job.title), employer_job_path(:id => company_job.id)%></td>
                                                <td><%=find_job_location(company_job.location)%></td>
                                                <%if company_job.approved?%>
                                                    <td><%=t(:actived)%></td>
                                                <%else%>
                                                    <td><%=t(:waiting_approve)%></td>
                                                <%end%>
                                                <td><%=company_job.created_at.strftime("%B %d, %Y")%></td>
                                                <td><%=company_job.end_date.strftime("%B %d, %Y")%></td>
                                                <td><%=company_job.view_count.to_i%></td>
                                                <td><%=company_job.company_apply_jobs.count%></td>
                                            </tr>
                                        <%end%>
                                    </tbody>
                                </table>
                            </div>
                        <%else%>
                            <div class="employer_job_employer_not_found">
                                <a><%=t(:no_post_job_found)%></a>
                            </div>
                        <%end%>
                        <%= paginate @company_job_of_employer, window: 2%>
                    </div>
                <%else%>
                    <div class="employer_job_not_found_block">
                        <div class="employer_job_not_found_icon">
                            <i class="material-icons">work_outline</i>
                        </div>
                        <div class="employer_job_not_found">
                            <span><%=t(:no_job_post)%></span>
                        </div>
                        <div class="employer_job_not_found_action">
                            <div class="employer_job_button">
                                <%if auth_post_job_of_employer(current_employer)%>
                                    <%= link_to t(:post_job), new_company_job_path, method: :get, class: "btn btn-primary" %>
                                <%else%>
                                    <%= link_to t(:post_job), new_company_job_path, method: :get, class: "btn btn-primary disabled" %>
                                <%end%>
                            </div>
                        </div>
                    </div>
                <%end%>
            </div>
        </div>
    </div>
</div>