<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="employer_job_index">
                <div class="employer_job_index_title">
                    <h3>Quản lý tin đăng</h3>
                </div>

                <div class="employer_job_index_btn">
                    <%if current_employer.approved%>
                        <%= link_to 'Đăng tin mới', new_company_job_path, method: :get, class: "btn btn-primary" %>
                    <%else%>
                        <%= link_to 'Đăng tin mới', new_company_job_path, method: :get, class: "btn btn-primary disabled" %>
                    <%end%>
                </div>
                <%if @company_job_all.count > 0%>
                    <div class="employer_job_index_tab_link">
                        <ul class="nav">
                            <li class="nav-item">
                                <%if @tab_id == "default" || @tab_id == "AllID"%>
                                    <%active = "active"%>
                                <%else%> 
                                    <%active = ""%>
                                <%end%>                                 
                                <a class="nav-link <%=active%>" href="<%=employer_index_job_path(current_employer, tab_id: 'AllID')%>"><i class="material-icons-outlined">reorder</i>Tất cả<span> <%=@company_job_all.count%></span></a>
                            </li>
                            <li class="nav-item">
                                <%if @tab_id == "InProgressID"%>
                                    <%active = "active"%>
                                <%else%> 
                                    <%active = ""%>
                                <%end%>                                     
                                <a class="nav-link <%=active%>" href="<%=employer_index_job_path(current_employer, tab_id: 'InProgressID')%>"><i class="material-icons-outlined">work_outline</i>Đang tuyển <span><%=@company_job_inprogress.count%></span></a>
                            </li>
                            <li class="nav-item">
                                <%if @tab_id == "CloseSoonID"%>
                                    <%active = "active"%>
                                <%else%> 
                                    <%active = ""%>
                                <%end%>                                     
                                <a class="nav-link <%=active%>" href="<%=employer_index_job_path(current_employer, tab_id: 'CloseSoonID')%>"><i class="material-icons-outlined">hourglass_empty</i>Sắp hết hạn <span><%=@company_job_close_soons.count%></span></a>
                            </li>
                            <li class="nav-item">
                                <%if @tab_id == "ExpireID"%>
                                    <%active = "active"%>
                                <%else%> 
                                    <%active = ""%>
                                <%end%>                                     
                                <a class="nav-link <%=active%>" href="<%=employer_index_job_path(current_employer, tab_id: 'ExpireID')%>"><i class="material-icons-outlined">history</i>Đã hết hạn <span><%=@company_job_closes.count%></span></a>
                            </li>
                        </ul>
                    </div>

                    <div class="employer_job_employer">
                        <div class="table-responsive">
                            <table class="table text-center table-hover">
                                <thead>
                                    <tr>
                                        <th style="width: 2%;">No.</th>
                                        <th style="width: 33%;">Title</th>
                                        <th style="width: 8%;">Địa điểm</th>
                                        <th style="width: 10%;">Ngày đăng tuyển</th>
                                        <th style="width: 10%;">Ngày hết hạn</th>
                                        <th style="width: 8%;">Lượt xem</th>
                                        <th style="width: 8%;">Lượt ứng tuyển</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <%@company_job_of_employer.each_with_index do |company_job, index|%>
                                        <tr>
                                            <td><%=index + 1%></td>
                                            <td scope="row" class="text-start"><%=link_to (company_job.title), employer_job_path(:id => company_job.id)%></td>
                                            <td><%=find_job_location(company_job.location)%></td>
                                            <td><%=company_job.created_at.strftime("%B %d, %Y")%></td>
                                            <td><%=company_job.end_date.strftime("%B %d, %Y")%></td>
                                            <td><%=company_job.view_count.to_i%></td>
                                            <td><%=company_job.company_apply_jobs.count%></td>
                                        </tr>
                                    <%end%>
                                </tbody>
                            </table>
                        </div>
                        <%= paginate @company_job_of_employer, window: 2%>
                    </div>
                <%else%>
                    <div class="employer_job_not_found_block">
                        <div class="employer_job_not_found_icon">
                            <i class="material-icons">work_outline</i>
                        </div>
                        <div class="employer_job_not_found">
                            <span>Hiện tại bạn chưa có việc làm nào đang tuyển dụng</span>
                        </div>
                        <div class="employer_job_not_found_action">
                            <div class="employer_job_button">
                                <%if current_employer.approved%>
                                    <%= link_to 'Đăng tin tuyển dụng miễn phí', new_company_job_path, method: :get, class: "btn btn-primary" %>
                                <%else%>
                                    <%= link_to 'Đăng tin tuyển dụng miễn phí', new_company_job_path, method: :get, class: "btn btn-primary disabled" %>
                                <%end%>
                            </div>
                        </div>
                    </div>
                <%end%>
            </div>
        </div>
    </div>
</div>