<div class="employer_job_block">
    <div class="employer_job_status">
        <div class="container">
            <div class="employer_job_status_title">
                <h3><%= link_to (@company_job.title), company_job_path(@company_job), target: :_blank%></h3>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="employer_job_status_block">
                        <%if @company_job.approved?%>
                            <a><span><%=t(:status)%>: </span><%=t(:actived)%></a>
                        <%else%>
                            <a><span><%=t(:status)%>: </span><%=t(:waiting_approve)%></a>
                        <%end%>
                    </div>

                    <div class="employer_job_status_block">
                        <a><span><%=t(:last_updated)%>: </span><%=@company_job.created_at.strftime("%B %d, %Y")%></a>
                    </div>

                    <div class="employer_job_status_block">
                        <a><span><%=t(:form_job_end_submit)%>: </span><%=@company_job.end_date.strftime("%B %d, %Y")%></a>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class='employer_job_edit'>
                        <%= link_to t(:view_detail), company_job_path(@company_job), method: :get, class: "btn btn-primary" %>
                        <%= link_to t(:edit), edit_company_job_path(@company_job, :is_edit => true), method: :get, class: "btn btn-warning" %>
                        <%= link_to t(:delete), company_job_path(@company_job), method: :delete, class: "btn btn-danger", data: { confirm: 'Bạn có chắc muốn xóa công việc này?' } %>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="employer_job_apply">
            <div class="employer_job_apply_title">
                <h3><%=t(:list_application)%></h3>
            </div>
            <%if @company_apply_jobs.total_count > 0%>
                <div class="table-responsive">
                    <table class="table text-center table-hover">
                        <thead>
                            <tr>
                                <th style="width: 2%;">No.</th>
                                <th style="width: 12%;"><%=t(:full_name)%></th>
                                <th style="width: 5%;"><%=t(:email)%></th>
                                <th style="width: 50%;"><%t(:introduce)%></th>
                                <th style="width: 12%;"><%=t(:date_applied)%></th>
                                <th style="width: 12%;"><%=t(:cover_vitae)%></th>
                            </tr>
                        </thead>
                        <tbody>
                            <%@company_apply_jobs.each_with_index do |company_apply_job, index|%>
                                <tr>
                                    <td><%=index + 1%></td>
                                    <td scope="row" class="text-start"><%=link_to (company_apply_job.name), company_job_company_apply_job_path(@company_job, company_apply_job)%></td>
                                    <td><%=company_apply_job.email%></td>
                                    <td><%=truncate(strip_tags(company_apply_job.cover_letter), length: 90)%></td>
                                    <td><%=company_apply_job.created_at.strftime("%B %d, %Y")%></td>
                                    <%if company_apply_job.cover_vitate?%>
                                        <td> <%=link_to t(:download), company_apply_job.cover_vitate.url%></td>
                                    <%end%>
                                </tr>
                            <%end%>
                        </tbody>
                    </table>
                </div>
                <%= paginate @company_apply_jobs, window: 2%>
            <%else%>
                <div class="employer_job_apply_not_found_block">
                    <div class="employer_job_apply_not_found_icon">
                        <i class="material-icons">pending_actions</i>
                    </div>
                    <div class="employer_job_apply_not_found">
                        <span><%=t(:applied_not_found)%></span>
                    </div>
                    <div class="employer_job_apply_not_found_action">
                        <div class="employer_job_apply_button">
                            <%= link_to employer_index_job_path do%>
                                <button type="submit"> <i class="material-icons-outlined">arrow_back</i> <span> <%=t(:goback_job_site)%></span> </button>
                            <%end%>
                        </div>
                    </div>
                </div>
            <%end%>
        </div>
    </div>
</div>