<div class="container">
    <div class="employer_plan_block">
        <div class="employer_plan_title">
            <h3><%=t(:current_service)%></h3>
        </div>
        <div class="row">
            <%if current_employer.plan == "F-Eco"%>
                <div class="col-lg-4 col-md-12 mb-4">
                    <div class="card card2 h-100">
                        <div class="card-body">
                            <h5 class="card-title">F-Eco</h5>
                            <small class='text-muted'><%=t(:mosted_use)%></small>
                            <br><br>
                            <span class="h2">499.000<%=t(:vnd_short)%></span>/<%=t(:month)%> <mark>-20%</mark>
                            <br><br>
                            <div class="d-grid my-3">
                                <%= link_to employer_plan_path do %>
                                    <button class="btn btn-outline-dark btn-block"><%=t(:change_service)%></button>
                                <%end%>
                            </div>
                            <ul>
                                <li><%=t(:free_post_job)%></li>
                                <li><%=t(:highlight_search)%></li>
                                <li><%=t(:support_247)%></li>
                            </ul>
                        </div>
                    </div>
                </div>
            <%elsif current_employer.plan == "F-Pro"%>
                <div class="col-lg-4 col-md-12 mb-4">
                    <div class="card card3 h-100">
                        <div class="card-body">
                            <h5 class="card-title">F-Pro</h5>
                            <small class='text-muted'><%=t(:high_efficiency)%></small>
                            <br><br>
                                <span class="h2">999.000<%=t(:vnd_short)%></span>/<%=t(:month)%> <mark>-25%</mark>
                            <br><br>
                            <div class="d-grid my-3">
                                <%= link_to employer_plan_path do %>
                                    <button class="btn btn-outline-dark btn-block"><%=t(:change_service)%></button>
                                <%end%>
                            </div>
                            <ul>
                                <li><%=t(:find_candidate)%></li>
                                <li><%=t(:highlight_search)%></li>
                                <li><%=t(:support_247)%></li>
                            </ul>
                        </div>
                    </div>
                </div>
            <%else%>
                <div class="col-lg-4 col-md-12 mb-4">
                    <div class="card card1 h-100">
                        <div class="card-body">
                            <h5 class="card-title">F-Basic</h5>
                                <small class='text-muted'><%=t(:cost_save)%></small>
                            <br><br>
                                <span class="h2">0<%=t(:vnd_short)%></span>/<%=t(:month)%>
                            <br><br>
                            <div class="d-grid my-3">
                                <%= link_to employer_plan_path do %>
                                    <button class="btn btn-outline-dark btn-block"><%=t(:change_service)%></button>
                                <%end%>
                            </div>
                            <ul>
                                <li><%=t(:free_post_job)%></li>
                                <li><%=t(:pro_mana_job)%></li>
                                <li><%=t(:support_247)%></li>
                            </ul>
                        </div>
                    </div>
                </div>
            <%end%>
            <div class="col-lg-8">
                <div class="employer_plan_detail_block">
                    <div class="employer_plan_detail_title">
                        <h3><%=t(:detail)%></h3>
                    </div>
                    <div class="employer_plan_detail">
                        <div class="employer_plan_detail_section_title">
                            <a><%=t(:service_name)%><a>
                            <br>
                            <a><%=t(:registration_date)%><a>
                            <br>
                            <a><%=t(:end_date)%><a>
                            <br>
                            <a><%=t(:remain_post_job)%><a>
                            <br>
                            <a><%=t(:remain_highlight_job)%><a>
                            <br>
                            <a><%=t(:remain_search_highlight_job)%><a>
                            <br>
                            <a><%=t(:remain_view_profile)%><a>
                        </div>
                        <div class="employer_plan_detail_section">
                            <%if current_employer.plan%>
                                <span><%=current_employer.plan%><span>
                            <%else%>
                                <span>F-Basic<span>
                            <%end%>
                            <br>
                            <%if current_employer.start_plan%>
                                <span><%=current_employer.start_plan.strftime("%B %d, %Y")%><span>
                            <%else%>
                                <span><%=current_employer.created_at.strftime("%B %d, %Y")%><span>
                            <%end%>
                            <br>
                            <%if current_employer.end_plan%>
                                <span><%=current_employer.end_plan.strftime("%B %d, %Y")%><span>
                            <%elsif current_employer.start_plan%>
                                <span><%=(current_employer.start_plan + 30.days).strftime("%B %d, %Y")%><span>
                            <%else%>
                                <span><%=(current_employer.created_at + 30.days).strftime("%B %d, %Y")%><span>
                            <%end%>
                            <br>
                            <span><%=t(:unlimit)%><span>
                            <br>
                            <%if auth_urgent_plan_of_employer(current_employer)%>
                                <span><%=t(:unlimit)%><span>
                            <%else%>
                                <span>0<span>
                            <%end%>
                            <br>
                            <%if auth_urgent_plan_of_employer(current_employer)%>
                                <span><%=t(:unlimit)%><span>
                            <%else%>
                                <span>0<span>
                            <%end%>
                            <br>
                            <%if auth_cv_search_plan_of_employer(current_employer)%>
                                <span><%=t(:unlimit)%><span>
                            <%else%>
                                <span>0<span>
                            <%end%>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        <div class="employer_plan_price_block">
            <div class="employer_plan_price_title">
                <h3><%=t(:list_of_service)%></h3>
            </div>

            <div class="employer_plan_price_detail">
                <div class="row">
                    <div class="col-lg-4 col-md-12 mb-4">
                        <div class="card card1 h-100">
                            <div class="card-body">
                                <h5 class="card-title">F-Basic</h5>
                                    <small class='text-muted'><%=t(:cost_save)%></small>
                                <br><br>
                                    <span class="h2">0<%=t(:vnd_short)%></span>/<%=t(:month)%>
                                <br><br>
                                <div class="d-grid my-3">
                                    <%if current_employer.plan != "F-Eco" || current_employer.plan != "F-Pro"%>
                                        <%= link_to employer_plan_path do%>
                                            <button class="btn btn-outline-dark btn-block disabled"><%=t(:free)%></button>
                                        <%end%>
                                    <%else%>
                                        <%= link_to employer_plan_path(:price => 0), :method => :get, remote: true  do%>
                                            <button class="btn btn-outline-dark btn-block"><%=t(:free)%></button>
                                        <%end%>
                                    <%end%>
                                </div>
                                <ul>
                                    <li><%=t(:free_post_job)%></li>
                                    <li><%=t(:pro_mana_job)%></li>
                                    <li><%=t(:support_247)%></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-12 mb-4">
                        <div class="card card2 h-100">
                            <div class="card-body">
                                <h5 class="card-title">F-Eco</h5>
                                <small class='text-muted'><%=t(:mosted_use)%></small>
                                <br><br>
                                <span class="h2">499.000<%=t(:vnd_short)%></span>/<%=t(:month)%> <mark>-20%</mark>
                                <br><br>
                                <div class="d-grid my-3">
                                    <%if current_employer.plan == "F-Eco"%>
                                        <%= link_to employer_plan_path do%>
                                            <button class="btn btn-outline-dark btn-block disabled"><%=t(:in_use)%></button>
                                        <%end%>
                                    <%else%>
                                        <%= link_to employer_plan_path(:price => 499), :method => :get, remote: true  do%>
                                            <button class="btn btn-outline-dark btn-block"><%=t(:buy_now)%></button>
                                        <%end%>
                                    <%end%>
                                </div>
                                <ul>
                                    <li><%=t(:free_post_job)%></li>
                                    <li><%=t(:highlight_search)%></li>
                                    <li><%=t(:support_247)%></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-12 mb-4">
                        <div class="card card3 h-100">
                            <div class="card-body">
                                <h5 class="card-title">F-Pro</h5>
                                <small class='text-muted'><%=t(:high_efficiency)%></small>
                                <br><br>
                                    <span class="h2">999.000<%=t(:vnd_short)%></span>/<%=t(:month)%> <mark>-25%</mark>
                                <br><br>
                                <div class="d-grid my-3">
                                    <%if current_employer.plan == "F-Pro"%>
                                        <%= link_to employer_plan_path do%>
                                            <button class="btn btn-outline-dark btn-block disabled"><%=t(:in_use)%></button>
                                        <%end%>
                                    <%else%>
                                        <%= link_to employer_plan_path(:price => 999), :method => :get, remote: true  do%>
                                            <button class="btn btn-outline-dark btn-block"><%=t(:buy_now)%></button>
                                        <%end%>
                                    <%end%>
                                </div>
                                <ul>
                                    <li><%=t(:find_candidate)%></li>
                                    <li><%=t(:highlight_search)%></li>
                                    <li><%=t(:support_247)%></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div> 
                <div class="employer_plan_price_detail_more">
                    <%=link_to t(:view_compare_service), employer_wellcome_path%>
                </div>
            </div>

            <div class="employer_plan_price_cart">
                <div class="row">
                    <div class="col-sm-6">
                        <h3><%=t(:order_info)%></h3>
                        <div class="employer_plan_price_cart_cal" id="employer_price_cal">
                            <div class="employer_plan_price_cart_cal_detail">
                                <div class="employer_plan_price_cart_cal_temp">
                                    <a><span><%=t(:provisional)%>:</span> <%=number_with_delimiter(@price)%><%=t(:vnd_short)%></a>
                                </div>
                                <div class="employer_plan_price_cart_cal_total">
                                    <a><span><%=t(:total)%>:</span> <%=number_with_delimiter(@price)%><%=t(:vnd_short)%></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <h3><%=t(:select_payment)%></h3>
                        <div class="employer_plan_price_cart_atm_tranfer">
                            <div class="employer_plan_price_cart_atm_tranfer_icon">
                                <%=image_tag("icons/mobile-payment.png")%>
                            </div>
                            <div class="employer_plan_price_cart_atm_tranfer_text">
                                <a><%=t(:select_payment_1)%></a>
                                <br>
                                <span><%=t(:select_payment_2)%></span>
                                <br>
                                <span><%=t(:select_payment_3)%></span>
                                <br>
                                <span><%=t(:select_payment_4)%></span>
                                <br>
                                <span><%=t(:select_payment_5)%></span>
                                <br>
                            </div>
                        </div>
                        <div class="employer_plan_price_cart">
                            <div class="employer_plan_price_cart_icon">
                                <%=image_tag("icons/atm_transfer.png")%>
                            </div>
                            <div class="employer_plan_price_cart_text">
                                <a><%=t(:select_payment_6)%></a>
                                <br>
                                <span><%=t(:select_payment_7)%></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="employer_plan_price_contact">
                <i class="material-icons-outlined">email</i><a>hotro.firework@gmail.com</a>
                <i class="material-icons-outlined">phone</i><a>0338275427</a>
            </div>

            <div class="employer_plan_price_support">
                <h3><%=t(:payment_help)%></h3>
                <h4>I. <%=t(:payment_help_1)%></h4>
                <ul>
                    <li><%=t(:payment_help_2)%></li>
                    <li><%=t(:payment_help_3)%></li>
                    <li><%=t(:payment_help_4)%></li>
                </ul>

                <h4>II. <%=t(:payment_help_5)%></h4>
                <ul>
                    <li><%=t(:payment_help_6)%></li>
                </ul>

                <h4>III. <%=t(:payment_help_7)%></h4>
                <ul>
                    <li><%=t(:payment_help_8)%></li>
                    <li><%=t(:payment_help_9)%></li>
                </ul>
            </div>
        </div>
    </div>
</div>