
<div class='employer_dasboard'>
    <div class='employer_status_block'>
        <div class="container">
            <div class='employer_title'>
                <a><%=t(:hello)%>, <%=t(:employer)%> <%=current_employer.name.upcase%>!</a>
            </div>

            <div class='row'>
                <div class='col-sm-6'>
                    <div class='employer_overview'>
                        <div class='employer_status'>
                            <a><span><%=t(:status)%>: </span><%=t(:actived)%></a>
                        </div>
                        <div class='employer_date'>
                            <a><span><%=t(:registration_date)%>: </span><%=current_employer.created_at.strftime("%B %d, %Y")%></a>
                        </div>
                        <div class='employer_plan'>
                            <%if current_employer.plan.present?%>
                                <a><span><%=t(:current_service)%>: </span><%=current_employer.plan%></a>
                            <%else%>
                                <a><span><%=t(:current_service)%>: </span>F-Basic</a>
                            <%end%>
                        </div>
                    </div>
                </div>
                <div class='col-sm-6'>
                    <div class='employer_new_job'>
                        <%if auth_post_job_of_employer(current_employer)%>
                            <%= link_to t(:post_job), new_company_job_path, method: :get, class: "btn btn-primary" %>
                        <%else%>
                            <%= link_to t(:post_job), new_company_job_path, method: :get, class: "btn btn-primary disabled" %>
                        <%end%>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class='employer_company_index'>
            <div class="employer_company">
                <%if @company_of_employer.present?%>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="employer_company_title">
                                <h3><%=t(:company)%></h3>
                            </div>

                            <%= render @company_of_employer%>
                        </div>

                        <div class="col-sm-9">
                            <div class="employer_company_info_label">
                                <h3><%=t(:company_info)%></h3>
                            </div>
                            <div class="employer_company_info">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="employer_company_info_content_block">
                                            <div class="employer_company_info_section">
                                                <a> <i class="material-icons-outlined">business</i> <span><%=t(:company_location)%></span> </a>
                                            </div>
                                            <div class="employer_company_info_content">
                                                <%if !@company_of_employer.location.to_s.empty?%>
                                                    <span><%= @company_of_employer.location %></span>
                                                <%else%>
                                                    <span>---</span>
                                                <%end%>
                                            </div>
                                        </div>

                                        <div class="employer_company_info_content_block">
                                            <div class="employer_company_info_section">
                                                <a> <i class="material-icons-outlined">open_in_new</i> <span><%=t(:website)%></span> </a>
                                            </div>
                                            <div class="employer_company_info_content">
                                                <%if !@company_of_employer.website.to_s.empty?%>
                                                    <%=h auto_link(simple_format(@company_of_employer.website), :link => :urls) %>
                                                <%else%>
                                                    <span>---</span>
                                                <%end%>
                                            </div>
                                        </div>

                                        <div class="employer_company_info_content_block">
                                            <div class="employer_company_info_section">
                                                <a> <i class="material-icons-outlined">phone</i> <span><%=t(:phone)%></span> </a>
                                            </div>
                                            <div class="employer_company_info_content">
                                                <%if !@company_of_employer.phone.to_s.empty?%>
                                                    <span><%= @company_of_employer.phone %></span>
                                                <%else%>
                                                    <span>---</span>
                                                <%end%>
                                            </div>
                                        </div>

                                        <div class="employer_company_info_content_block">
                                            <div class="employer_company_info_section">
                                                <a><i class="material-icons-outlined">people</i> <span><%=t(:company_size)%></span> </a>
                                            </div>
                                            <div class="employer_company_info_content">
                                                <%if !@company_of_employer.size.to_s.empty?%>
                                                    <span><%= @company_of_employer.size %></span>
                                                <%else%>
                                                    <span>---</span>
                                                <%end%>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="employer_company_info_content_block">
                                            <div class="employer_company_info_section">
                                                <a> <i class="material-icons-outlined">event_available</i> <span><%=t(:company_est)%></span> </a>
                                            </div>
                                            <div class="employer_company_info_content">
                                                <%if !@company_of_employer.time_establish.to_s.empty?%>
                                                    <%= @company_of_employer.time_establish.strftime("%B %d, %Y")%>
                                                <%else%>
                                                    <span>---</span>
                                                <%end%>
                                            </div>
                                        </div>

                                        <div class="employer_company_info_content_block">
                                            <div class="employer_company_info_section">
                                                <a> <i class="material-icons-outlined">money</i> <span><%=t(:company_value)%></span> </a>
                                            </div>
                                            <div class="employer_company_info_content">
                                                <%if !@company_of_employer.values.to_s.empty?%>
                                                    <%= @company_of_employer.values%>
                                                <%else%>
                                                    <span>---</span>
                                                <%end%>
                                            </div>
                                        </div>

                                        <div class="employer_company_info_content_block">
                                            <div class="employer_company_info_section">
                                                <a> <i class="material-icons-outlined">flag</i> <span><%=t(:country)%></span> </a>
                                            </div>
                                            <div class="employer_company_info_content">
                                                <%if !@company_of_employer.country.to_s.empty?%>
                                                    <%= @company_of_employer.country%>
                                                <%else%>
                                                    <span>---</span>
                                                <%end%>
                                            </div>
                                        </div>

                                        <div class="employer_company_info_content_block">
                                            <div class="employer_company_info_section">
                                                <a> <i class="material-icons-outlined">local_police</i> <span><%=t(:form_company_type)%></span> </a>
                                            </div>
                                            <div class="employer_company_info_content">
                                                <%if !@company_of_employer.company_type.to_s.empty?%>
                                                    <%= @company_of_employer.company_type%>
                                                <%else%>
                                                    <span>---</span>
                                                <%end%>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="employer_company_info_content_block">
                                            <div class="employer_company_info_section">
                                                <a> <i class="material-icons-outlined">favorite_border</i> <span><%=t(:company_field)%></span> </a>
                                            </div>
                                            <div class="employer_company_info_content">
                                                <%if !@company_of_employer.field_operetion.to_s.empty?%>
                                                    <%= @company_of_employer.field_operetion%>
                                                <%else%>
                                                    <span>---</span>
                                                <%end%>
                                            </div>
                                        </div>

                                        <div class="employer_company_info_content_block">
                                            <div class="employer_company_info_section">
                                                <a> <i class="material-icons-outlined">date_range</i> <span><%=t(:form_company_work_week)%></span> </a>
                                            </div>
                                            <div class="employer_company_info_content">
                                                <%if !@company_of_employer.working_date.to_s.empty?%>
                                                    <%= @company_of_employer.working_date%>
                                                <%else%>
                                                    <span>---</span>
                                                <%end%>
                                            </div>
                                        </div>
                                        
                                        <div class="employer_company_info_content_block">
                                            <div class="employer_company_info_section">
                                                <a> <i class="material-icons-outlined">history_toggle_off</i> <span><%=t(:form_company_work_time)%></span> </a>
                                            </div>
                                            <div class="employer_company_info_content">
                                                <%if !@company_of_employer.working_time.to_s.empty?%>
                                                    <%= @company_of_employer.working_time%>
                                                <%else%>
                                                    <span>---</span>
                                                <%end%>
                                            </div>
                                        </div>

                                        <div class="employer_company_info_content_block">
                                            <div class="employer_company_info_section">
                                                <a> <i class="material-icons-outlined">history</i> <span><%=t(:last_update)%></span> </a>
                                            </div>
                                            <div class="employer_company_info_content">
                                                <%if !@company_of_employer.updated_at.to_s.empty?%>
                                                    <%= @company_of_employer.updated_at.strftime("%B %d, %Y")%>
                                                <%else%>
                                                    <span>---</span>
                                                <%end%>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="employer_company_info_summary_title">
                                    <h3><%=t(:overview)%></h3>
                                </div>
                                <div class="employer_company_info_summary">
                                    <%if @company_of_employer.overview%>
                                        <a><%= @company_of_employer.overview.html_safe %></a>
                                    <%else%>
                                        <a><%=t(:no_info)%></a>
                                    <%end%>
                                </div>

                                <div class="employer_company_info_join_title">
                                    <h3><%=t(:why_join)%> <%=@company_of_employer.name%></h3>
                                </div>
                                <div class="employer_company_info_join">
                                    <%if @company_of_employer.policy%>
                                        <a><%= @company_of_employer.policy.html_safe %></a>
                                    <%else%>
                                        <a><%=t(:no_info)%></a>
                                    <%end%>
                                </div>
                            </div>

                            <div class="employer_company_action">
                                <div class="row justify-content-md-end">
                                    <div class="col-sm-3">
                                        <div class="employer_company_view">
                                            <a><%= link_to company_path(@company_of_employer) do%>
                                                <button type="submit"><i class="material-icons-outlined">visibility</i> <%=t(:view)%> </button>
                                            <%end%></a>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="employer_company_edit">
                                            <a><%= link_to edit_company_path(@company_of_employer, :is_edit => true) do%>
                                                <button type="submit"><i class="material-icons-outlined">border_color</i> <%=t(:edit)%> </button>
                                            <%end%></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <%else%>
                    <div class="employer_company_not_found_block">
                        <div class="employer_company_not_found_icon">
                            <i class="material-icons">business</i>
                            <a><%=t(:company_register).upcase%></a>
                        </div>
                        <div class="employer_company_not_found">
                            <span><%=t(:company_register_help)%></span>
                        </div>
                        <div class="employer_company_not_found_action">
                            <div class="employer_company_button">
                                <%= link_to new_company_path do%>
                                    <button type="submit"> <i class="material-icons-outlined">add</i> <span> <%=t(:add_company)%></span> </button>
                                <%end%>
                            </div>
                        </div>
                    </div>
                <%end%>
            </div>
        </div>
    </div>
</div>