<div class="container">
    <div class='employer_dasboard'>
        <div class='employer_title'>
            <%if (0..12).cover? Time.now.hour %>
                <a>Good morning, nhà tuyển dụng <%=current_employer.name%>!</a>
            <%elsif (12..18).cover? Time.now.hour %>
                <a>Good afternoon, nhà tuyển dụng <%=current_employer.name%>!</a>
            <%elsif (18..24).cover? Time.now.hour %>
                <a>Good evening, nhà tuyển dụng <%=current_employer.name%>!</a>
            <%end%>
        </div>

        <div class='row'>
            <div class='col-sm-6'>
                <div class='employer_overview'>
                    <div class='employer_status'>
                        <%if current_employer.approved%>
                            <a><span>Trạng thái: </span>Đang hoạt động</a>
                        <%else%>
                            <a><span>Trạng thái: </span>Đang chờ duyệt hồ sơ</a>
                        <%end%>
                    </div>
                    <div class='employer_date'>
                        <a><span>Ngày đăng kí: </span><%=current_employer.created_at.strftime("%B %d, %Y")%></a>
                    </div>
                    <div class='employer_plan'>
                        <a><span>Gói đăng kí: </span><%=current_employer.plan%></a>
                    </div>
                    <div class='employer_post'>
                        <%if find_job_remain_of_employer(current_employer) == -1%>
                            <a><span>Số tin đăng còn lại hôm nay: </span>Không giới hạn</a>
                        <%else%>
                            <a><span>Số tin đăng còn lại hôm nay: </span><%=find_job_remain_of_employer(current_employer).to_s%></a>
                        <%end%>
                    </div>
                </div>
            </div>
            <div class='col-sm-6'>
                <div class='employer_new_job'>
                    <%if current_employer.approved && find_company_of_employer(current_employer) && find_job_remain_of_employer(current_employer) != 0%>
                        <%= link_to 'Đăng tin tuyển dụng miễn phí', new_company_job_path, method: :get, class: "btn btn-primary" %>
                    <%else%>
                        <%= link_to 'Đăng tin tuyển dụng miễn phí', new_company_job_path, method: :get, class: "btn btn-primary disabled" %>
                    <%end%>
                </div>
            </div>
        </div>

        <%if current_employer.approved?%>
            <div class='employer_company_index'>
                <div class="employer_company">
                    <%if @company_of_employer.present?%>
                        <div class="employer_company_title">
                            <h3>Công ty hiện tại</h3>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <%= render @company_of_employer%>
                                
                                <div class="employer_company_edit">
                                    <a><%= link_to '<button type="submit"> Chỉnh sửa <i class="material-icons-outlined">border_color</i></button>'.html_safe, edit_company_path(@company_of_employer, :is_edit => true) %></a>
                                </div>
                            </div>
                        </div>
                    <%else%>
                        <div class="employer_company_not_found_block">
                            <div class="employer_company_not_found_icon">
                                <i class="material-icons">business</i>
                            </div>
                            <div class="employer_company_not_found">
                                <span>Rất tiếc, hiện tại công ty của bạn chưa có trên cơ sở dữ liệu của chúng tôi, bạn có thể dễ dàng tạo công ty và bắt đầu đăng tin tuyển dụng bằng các bước dưới đây</span>
                            </div>
                            <div class="employer_company_not_found_action">
                                <div class="employer_company_button">
                                    <%= link_to '<button type="submit"> <i class="material-icons-outlined">edit</i> <span> Thêm công ty của tôi</span> </button>'.html_safe, new_company_path%>
                                </div>
                            </div>
                        </div>
                    <%end%>
                </div>
            </div>
        <%else%>
            <%= render "employers/approving"%>
        <%end%>
    </div>
</div>