
<%if employer_signed_in?%>
    <div class="container">
        <%if current_employer.approved?%>
            <div class='employer_dasboard'>
                <div class='employer_title'>
                    <%if (0..12).cover? Time.now.hour %>
                        <span href="<%=employer_path(current_employer)%>">Good morning, nhà tuyển dụng <%=current_employer.name%>!</span>
                    <%elsif (12..18).cover? Time.now.hour %>
                        <span href="<%=employer_path(current_employer)%>">Good afternoon, nhà tuyển dụng <%=current_employer.name%>!</span>
                    <%elsif (18..24).cover? Time.now.hour %>
                        <span href="<%=employer_path(current_employer)%>">Good evening, nhà tuyển dụng <%=current_employer.name%>!</span>
                    <%end%>
                </div>

                <div class="employer_tab_link">
                    <ul class="nav">
                        <li class="nav-item">
                            <%if @tab_id == "default" || @tab_id == "EmployerCompanyID"%>
                                <%active = "active"%>
                            <%else%> 
                                <%active = ""%>
                            <%end%>                                 
                            <a class="nav-link <%=active%>" href="<%=employer_path(current_employer, tab_id: 'EmployerCompanyID')%>"><i class="material-icons-outlined">business</i>Công ty</a>
                        </li>
                        <%if @company_by_employer.present?%>
                            <li class="nav-item">
                                <%if @tab_id == "EmployerJobID"%>
                                    <%active = "active"%>
                                <%else%> 
                                    <%active = ""%>
                                <%end%>                                     
                                <a class="nav-link <%=active%>" href="<%=employer_path(current_employer, tab_id: 'EmployerJobID')%>"><i class="material-icons-outlined">work_outline</i>Tin tuyển dụng <span><%= convert_number_to_human(@company_job_by_employer.count)%><span></a>
                            </li>
                        <%end%>
                        <li class="nav-item">
                            <%if @tab_id == "NotificationID"%>
                                <%active = "active"%>
                            <%else%> 
                                <%active = ""%>
                            <%end%>                                     
                            <a class="nav-link <%=active%>" href="<%=employer_path(current_employer, tab_id: 'NotificationID')%>"><i class="material-icons-outlined">notifications</i>Thông báo <span><%= convert_number_to_human(current_employer.employer_notifications.count)%><span> </a>
                        </li>
                    </ul>
                </div>

                <div class="employer_tab_content">
                    <%if @tab_id == "default" || @tab_id == "EmployerCompanyID"%>
                        <div class='employer_company_tab'>
                            <div class="employer_company">
                                <%if @company_by_employer.present?%>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <%= render @company_by_employer%>
                                            
                                            <div class="employer_company_edit">
                                                <a><%= link_to '<button type="submit"> Chỉnh sửa <i class="material-icons-outlined">border_color</i></button>'.html_safe, edit_company_path(@company_by_employer) %></a>
                                            </div>
                                        </div>
                                    </div>
                                <%else%>
                                    <div class="employer_company_not_found_block">
                                        <div class="employer_company_not_found_icon">
                                            <i class="material-icons">business</i>
                                        </div>
                                        <div class="employer_company_not_found">
                                            <span>Rất tiếc, hiện tại công ty của bạn chưa có trên cơ sở dữ liệu của chúng tôi, bạn có thể dễ dàng tạo công ty của mình bằng các bước dưới đây</span>
                                        </div>
                                        <div class="employer_company_not_found_action">
                                            <div class="employer_company_button">
                                                <%= link_to '<button type="submit"> <i class="material-icons-outlined">edit</i> <span> Thêm công ty của tôi</span> </button>'.html_safe, new_company_path%>
                                            </div>
                                        </div>
                                    </div>
                                <%end%>
                            </div>
                        </div>
                    <%end%>

                    <%if @tab_id == "EmployerJobID"%>
                        <div class="employer_job_tab">
                            <%if @company_job_by_employer.count > 0%>
                                <div class="employer_job_new">
                                    <%= link_to '<button type="submit"><i class="material-icons-outlined">add</i><span>Đăng tin tuyển dụng miễn phí<span></button>'.html_safe, new_company_company_job_path(@company_by_employer) %>
                                </div>  
                                <div class="employer_job_employer">
                                    <div class="employer_job_employer_label">
                                        <span>Bạn có <%=@company_job_by_employer.count%> việc làm đang tuyển dụng</span>
                                    </div>

                                    <div class="employer_job_employer_container">
                                        <%@company_job_by_employer.each do |company_job|%>
                                            <div class="company_employer_job_container">
                                                <div class="company_job_employer_block">
                                                    <div class='company_employer_job_edit'>
                                                        <%= link_to 'Chỉnh sửa', edit_company_company_job_path(@company_by_employer, company_job), method: :get, class: "btn btn-large btn-warning" %>
                                                        <%= link_to 'Xóa', company_company_job_path(@company_by_employer, company_job), method: :delete, class: "btn btn-large btn-danger", data: { confirm: 'Bạn có chắc muốn xóa công việc này?' } %>
                                                    </div>

                                                    <div class='company_employer_job_render'>
                                                        <div class="row"> 
                                                            <div class="col-sm-12 col-no-padding">
                                                                <%=render company_job%>
                                                            <div>
                                                        </div>
                                                    </div>
                                                    
                                                    <%if company_job.company_apply_jobs.count > 0%>
                                                        <div class="company_job_apply_count">
                                                            <a>Có <%=company_job.company_apply_jobs.count%> hồ sơ ứng tuyển cho vị trí <%=company_job.title%></a>
                                                        </div>

                                                        <div class="row">
                                                            <%company_job.company_apply_jobs.each do |company_apply_job|%>
                                                                <div class="col-sm-4">
                                                                    <%=render company_apply_job%>
                                                                </div>
                                                            <%end%>
                                                        </div>
                                                    <%else%>
                                                        <div class="employer_apply_job_not_found_block">
                                                            <div class="employer_apply_job_not_found_icon">
                                                                <i class="material-icons">next_week</i>
                                                            </div>
                                                            <div class="employer_apply_job_not_found">
                                                                <span>Rất tiếc chưa có đơn ứng tuyển cho việc làm này</span>
                                                            </div>
                                                        </div>
                                                    <%end%>
                                                </div>
                                            </div>
                                        <%end%>
                                    </div>
                                </div>
                            <%else%>
                                <div class="employer_job_not_found_block">
                                    <div class="employer_job_not_found_icon">
                                        <i class="material-icons">business</i>
                                    </div>
                                    <div class="employer_job_not_found">
                                        <span>Hiện tại bạn chưa có việc làm nào đang tuyển dụng</span>
                                    </div>
                                    <div class="employer_job_not_found_action">
                                        <div class="employer_job_button">
                                            <%= link_to '<button type="submit"> <i class="material-icons-outlined">edit</i> <span> Thêm việc làm mới</span> </button>'.html_safe, new_company_company_job_path(@company_by_employer)%>
                                        </div>
                                    </div>
                                </div>
                            <%end%>
                        </div>
                    <%end%>

                    <%if @tab_id == "NotificationID"%>
                        <div class="employer_notification_tab">
                            <%if current_employer.employer_notifications.count > 0 %>
                                <%current_employer.employer_notifications.each do |employer_notification|%>
                                    <%=render employer_notification%>
                                <%end%>
                            <%else%>
                                <div class="employer_notification_not_found_block">
                                    <div class="employer_notification_not_found_icon">
                                        <i class="material-icons">notifications_none</i>
                                    </div>
                                    <div class="employer_notification_not_found">
                                        <span>Bạn chưa có thông báo mới nào</span>
                                    </div>
                                </div>
                            <%end%>
                        </div>
                    <%end%>
                </div>
            </div>
        <%else%>
            <div class='employer_confim'>
                <a>Tài khoản nhà tuyển dụng của bạn đang trong quá trình xử lý thông tin, vui lòng đăng nhập lại sau 30p-1h ...</a>
                <div class='employer_goback'>
                    <%= link_to '<button type="submit"><i class="material-icons-outlined">arrow_back</i>Quay trở lại trang chủ</button>'.html_safe, root_path %>
                </div>
            </div>
        <%end%>
    </div>
<%end%>