<div class="employer_wellcome_block">
    <div class="employer_wellcome_intro_block">
        <div class="container">
            <div class='row'>
                <div class='col-sm-5'>
                    <div class="employer_wellcome_left_block">
                        <div class="employer_wellcome_bar_label">
                            <h3>Đơn giản hóa quá trình tuyển dụng của bạn với chi phí thấp nhất.</h3>
                        </div>
                        <div class="employer_wellcome_button">
                            <%= link_to '<button> Đăng tin tuyển dụng miễn phí</button>'.html_safe, new_employer_session_path %>
                        </div>
                    </div>
                </div>
                <div class='col-sm-7'>
                    <div class="employer_wellcome_right_block">
                        <%=image_tag("others/employer_background.jpg")%>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="employer_wellcome_price_block">
            <div class="employer_wellcome_price_label">
                <h3>Bảng chi phí quảng cáo tin tuyển dụng</h3>
            </div>
            <div class="employer_wellcome_price_detail">
                <div class="row">
                    <div class="col-lg-4 col-md-12 mb-4">
                        <div class="card card1 h-100">
                            <div class="card-body">
                                <h5 class="card-title">Cơ bản</h5>
                                    <small class='text-muted'>Phù hợp với doanh nghiệp quy mô nhỏ</small>
                                <br><br>
                                    <span class="h2">0đ</span>/tháng
                                <br><br>
                                <div class="d-grid my-3">
                                    <%= link_to '<button class="btn btn-outline-dark btn-block">Miễn phí</button>'.html_safe, new_employer_session_path %>
                                </div>
                                <ul>
                                    <li>Miễn phí 1 tin đăng/ngày trong 30 ngày</li>
                                    <li>Dịch vụ đăng tin cơ bản</li>
                                    <li>Hỗ trợ khách hàng 24/7</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-12 mb-4">
                        <div class="card card2 h-100">
                            <div class="card-body">
                                <h5 class="card-title">Tiêu chuẩn</h5>
                                <small class='text-muted'>Phù hợp với doanh nghiệp quy mô vừa</small>
                                <br><br>
                                <span class="h2">500.000đ</span>/tháng <mark>-20%</mark>
                                <br><br>
                                <div class="d-grid my-3">
                                    <%= link_to '<button class="btn btn-outline-dark btn-block">Mua ngay</button>'.html_safe, new_employer_session_path %>
                                </div>
                                <ul>
                                    <li>Miễn phí tin đăng</li>
                                    <li>Hiển thị nổi bật trong kết quả tìm kiếm</li>
                                    <li>Hỗ trợ khách hàng 24/7</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-12 mb-4">
                        <div class="card card3 h-100">
                            <div class="card-body">
                                <h5 class="card-title">Nâng cao</h5>
                                <small class='text-muted'>Phù hợp với doanh nghiệp quy mô lớn</small>
                                <br><br>
                                    <span class="h2">1.000.000đ</span>/tháng <mark>-25%</mark>
                                <br><br>
                                <div class="d-grid my-3">
                                    <%= link_to '<button class="btn btn-outline-dark btn-block">Mua ngay</button>'.html_safe, new_employer_session_path %>
                                </div>
                                <ul>
                                    <li>Tiếp cận hồ sơ ứng viên</li>
                                    <li>Hiển thị nổi bật trong kết quả tìm kiếm</li>
                                    <li>Hỗ trợ khách hàng 24/7</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>

            <div class="employer_wellcome_price_compare_label">
                <h3>Bảng so sánh chi tiết</h3>
            </div>

            <div class="employer_wellcome_price_compare_detail">
                <div class="table-responsive">
                    <table class="table text-center table-hover">
                        <thead>
                            <tr>
                                <th style="width: 34%;"></th>
                                <th style="width: 22%;">Gói cơ bản</th>
                                <th style="width: 22%;">Gói tiêu chuẩn</th>
                                <th style="width: 22%;">Gói nâng cao</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row" class="text-start">Miễn phí tin đăng</th>
                                <td>30</td>
                                <td>Không giới hạn</td>
                                <td>Không giới hạn</td>
                            </tr>
                            <tr>
                                <th scope="row" class="text-start">Hiển thị nổi bật trong top kết qủa tìm kiếm</th>
                                <td></td>
                                <td>20 lượt</td>
                                <td>Không giới hạn</td>
                            </tr>
                            <tr>
                                <th scope="row" class="text-start">Tiếp cận hồ sơ ứng viên</th>
                                <td></td>
                                <td>20 lượt</td>
                                <td>Không giới hạn</td>
                            </tr>
                            <tr>
                                <th scope="row" class="text-start">Tiêu đề tin được tô đậm, làm nổi bật</th>
                                <td></td>
                                <td>20 tin</td>
                                <td>30 tin</td>
                            </tr>
                            <tr>
                                <th scope="row" class="text-start">Quảng bá thương hiệu</th>
                                <td></td>
                                <td></td>
                                <td><i class="material-icons-outlined">check</i></td>
                            </tr>
                            <tr>
                                <th scope="row" class="text-start">Hỗ trợ 24/7</th>
                                <td><i class="material-icons-outlined">check</i></td>
                                <td><i class="material-icons-outlined">check</i></td>
                                <td><i class="material-icons-outlined">check</i></td>
                            </tr>
                        </tbody>
                    </table>
                </div> 
            </div>

            <div class="employer_wellcome_support_block">
                <div class="employer_wellcome_support_label">
                    <h3>Liên hệ tư vấn</h3>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="employer_wellcome_support_contact">
                            <ul>
                                <li><a>Email: <span>hotro.firework@gmail.com</span></a></li>
                                <li><a>Hotline: <span>0338275427</span></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="employer_wellcome_support_signup">
                            <%= button_to new_employer_session_path, :method => :post do%>
                                <i class="material-icons-outlined">work_outline</i>
                                <a>Đăng kí trở thành nhà tuyển dụng</a>
                            <%end%>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>