<div class="employer_wellcome_block">
    <div class="employer_wellcome_intro_block">
        <div class="container">
            <div class='row'>
                <div class='col-sm-5'>
                    <div class="employer_wellcome_left_block">
                        <div class="employer_wellcome_bar_label">
                            <h3>Đăng tin tuyển dụng hoàn toàn miễn phí.</h3>
                        </div>
                        <div class="employer_wellcome_button">
                            <%= button_to new_employer_registration_path, :method => :get do%>
                                <a>Trở thành nhà tuyển dụng</a>
                                <i class="material-icons-outlined">arrow_forward</i>
                            <%end%>
                        </div>
                    </div>
                </div>
                <div class='col-sm-7'>
                    <div class="employer_wellcome_right_block">
                        <%=image_tag("others/employer_background.jpg")%>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="employer_wellcome_price_block">
            <div class="employer_wellcome_price_label">
                <h3>Bảng chi phí quảng cáo tin tuyển dụng</h3>
            </div>
            <div class="employer_wellcome_price_detail">
                <div class="row">
                    <div class="col-lg-4 col-md-12 mb-4">
                        <div class="card card1 h-100">
                            <div class="card-body">
                                <h5 class="card-title">F-Basic</h5>
                                    <small class='text-muted'>Tiết kiệm chi phí</small>
                                <br><br>
                                    <span class="h2">0đ</span>/tháng
                                <br><br>
                                <div class="d-grid my-3">
                                    <%= link_to '<button class="btn btn-outline-dark btn-block">Miễn phí</button>'.html_safe, employer_plan_path %>
                                </div>
                                <ul>
                                    <li>Miễn phí đăng tin không giới hạn</li>
                                    <li>Quản lý hồ sơ chuyên nghiệp</li>
                                    <li>Hỗ trợ khách hàng 24/7</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-12 mb-4">
                        <div class="card card2 h-100">
                            <div class="card-body">
                                <h5 class="card-title">F-Eco</h5>
                                <small class='text-muted'>Được sử dụng nhiều nhất</small>
                                <br><br>
                                <span class="h2">499.000đ</span>/tháng <mark>-20%</mark>
                                <br><br>
                                <div class="d-grid my-3">
                                    <%= link_to '<button class="btn btn-outline-dark btn-block">Mua ngay</button>'.html_safe, employer_plan_path %>
                                </div>
                                <ul>
                                    <li>Miễn phí đăng tin không giới hạn</li>
                                    <li>Hiển thị nổi bật trong kết quả tìm kiếm</li>
                                    <li>Hỗ trợ khách hàng 24/7</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-12 mb-4">
                        <div class="card card3 h-100">
                            <div class="card-body">
                                <h5 class="card-title">F-Pro</h5>
                                <small class='text-muted'>Hiệu quả cao nhất</small>
                                <br><br>
                                    <span class="h2">999.000đ</span>/tháng <mark>-25%</mark>
                                <br><br>
                                <div class="d-grid my-3">
                                    <%= link_to '<button class="btn btn-outline-dark btn-block">Mua ngay</button>'.html_safe, employer_plan_path %>
                                </div>
                                <ul>
                                    <li>Tiếp cận hồ sơ ứng viên</li>
                                    <li>Hiển thị nổi bật trong kết quả tìm kiếm</li>
                                    <li>Hỗ trợ khách hàng 24/7</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>

            <div class="employer_wellcome_price_compare_label">
                <h3>Bảng so sánh chi tiết</h3>
            </div>

            <div class="employer_wellcome_price_compare_detail">
                <div class="table-responsive">
                    <table class="table text-center table-hover">
                        <thead>
                            <tr>
                                <th style="width: 34%;"></th>
                                <th style="width: 22%;">F-Basic</th>
                                <th style="width: 22%;">F-Eco</th>
                                <th style="width: 22%;">F-Pro</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row" class="text-start">Miễn phí tin đăng</th>
                                <td>Không giới hạn</td>
                                <td>Không giới hạn</td>
                                <td>Không giới hạn</td>
                            </tr>
                            <tr>
                                <th scope="row" class="text-start">Hiển thị nổi bật trong top kết qủa tìm kiếm</th>
                                <td></td>
                                <td>30 lượt</td>
                                <td>Không giới hạn</td>
                            </tr>
                            <tr>
                                <th scope="row" class="text-start">Tiếp cận hồ sơ ứng viên</th>
                                <td></td>
                                <td>30 lượt</td>
                                <td>Không giới hạn</td>
                            </tr>
                            <tr>
                                <th scope="row" class="text-start">Tiêu đề tin được tô đậm, làm nổi bật</th>
                                <td></td>
                                <td>30 tin</td>
                                <td>Không giới hạn</td>
                            </tr>
                            <tr>
                                <th scope="row" class="text-start">Quảng bá thương hiệu</th>
                                <td></td>
                                <td></td>
                                <td><i class="material-icons-outlined">check</i></td>
                            </tr>
                            <tr>
                                <th scope="row" class="text-start">Hỗ trợ 24/7</th>
                                <td><i class="material-icons-outlined">check</i></td>
                                <td><i class="material-icons-outlined">check</i></td>
                                <td><i class="material-icons-outlined">check</i></td>
                            </tr>
                        </tbody>
                    </table>
                </div> 
            </div>

            <div class="employer_wellcome_support_block">
                <div class="employer_wellcome_support_label">
                    <h3>Liên hệ tư vấn hỗ trợ</h3>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="employer_wellcome_support_contact">
                            <ul>
                                <li><a>Email: <span>hotro.firework@gmail.com</span></a></li>
                                <li><a>Hotline: <span>0338275427</span></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="employer_wellcome_support_signup">
                            <%= button_to new_employer_session_path, :method => :post do%>
                                <i class="material-icons-outlined">work_outline</i>
                                <a>Đăng kí nhà tuyển dụng</a>
                            <%end%>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>