<div class="user_profile_form">
    <%= form_for([@user, user_education], remote: true) do |f| %> 
        <div class="user_profile_title_sub">
            <a>Lưu ý: Mục có dấu <span>'*'</span> là bắt buộc</a>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="user_profile_content">
                    <div class="user_profile_label">
                        <a><%= f.label :cert_level, "Trình độ học vấn của bạn", class: "user_profile_label_name" %><span>*</span></a>
                    </div>

                    <div class="user_profile_input">
                        <%= f.select(:cert_level, options_for_select(['THCS', 'THPT', 'Trung cấp', 'Cao đẳng', 'Cử nhân', 'Kĩ sư', 'Thạc sĩ', 'Tiến sĩ', 'Giáo sư', 'Khác'], 'Cử nhân'), {include_blank: false}, { :class => 'form-select' }) %>
                    </div>
                </div>

                <div class="user_profile_content">
                    <div class="user_profile_label">
                        <a><%= f.label :cert_type, "Lĩnh vực mà bạn học tập", class: "user_profile_label_name" %></a>
                    </div>

                    <div class="user_profile_input">
                        <%= f.select(:cert_type, options_for_select(["Bác sĩ",
                                                                    "Bán hàng kỹ thuật",
                                                                    "Bán hàng",
                                                                    "Bán lẻ - Bán sỉ",
                                                                    "Bảo hiểm",
                                                                    "Bảo trì - Sửa chữa",
                                                                    "Bất động sản",
                                                                    "Biên phiên dịch",
                                                                    "Cấp quản lý điều hành",
                                                                    "Chứng khoán",
                                                                    "Cơ khí",
                                                                    "Công nghệ cao",
                                                                    "Dầu khí",
                                                                    "Dệt may - Da giày",
                                                                    "Dịch vụ khách hàng",
                                                                    "Dược Phẩm - Công nghệ sinh học",
                                                                    "Dược sĩ",
                                                                    "Giáo dục - Đào tạo",
                                                                    "Hàng cao cấp",
                                                                    "Hàng gia dụng",
                                                                    "Hàng hải",
                                                                    "Hàng không - Du lịch",
                                                                    "Hàng tiêu dùng",
                                                                    "Hành chánh - Thư ký",
                                                                    "Hóa học - Hóa sinh",
                                                                    "Hoạch định - Dự án",
                                                                    "In ấn -  Xuất bản",
                                                                    "Internet - Online Media",
                                                                    "IT - Phần mềm",
                                                                    "IT-Phần cứng - Mạng",
                                                                    "Kế toán",
                                                                    "Khác",
                                                                    "Kho vận",
                                                                    "Kiểm toán",
                                                                    "Kiến trúc - Thiết kế nội thất ",
                                                                    "Marketing",
                                                                    "Mới tốt nghiệp",
                                                                    "Môi trường - Xử lý chất thải",
                                                                    "Mỹ Thuật - Nghệ Thuật - Thiết Kế",
                                                                    "Ngân hàng",
                                                                    "Người nước ngoài - Việt Kiều",
                                                                    "Nhà hàng - Khách sạn",
                                                                    "Nhân sự",
                                                                    "Nông nghiệp - Lâm nghiệp",
                                                                    "Overseas Jobs",
                                                                    "Pháp lý",
                                                                    "Phi chính phủ - Phi lợi nhuận",
                                                                    "QA - QC",
                                                                    "Quảng cáo - Khuyến mãi - Đối ngoại",
                                                                    "Sản phẩm công nghiệp",
                                                                    "Sản Xuất",
                                                                    "Tài chính - Đầu tư",
                                                                    "Thời trang",
                                                                    "Thời vụ - Hợp đồng ngắn hạn",
                                                                    "Thu Mua - Vật Tư - Cung Vận",
                                                                    "Thực phẩm &amp; Đồ uống",
                                                                    "Trình dược viên",
                                                                    "Truyền hình - Truyền thông - Báo chí",
                                                                    "Tư vấn",
                                                                    "Tự động hóa - Ô tô",
                                                                    "Vận chuyển - Giao nhận",
                                                                    "Viễn Thông",
                                                                    "Xây dựng",
                                                                    "Xuất nhập khẩu",
                                                                    "Y sĩ - Hộ lý",
                                                                    "Y tế - Chăm sóc sức khỏe",
                                                                    "Địa chất - Khoáng sản",
                                                                    "Điện lạnh - Nhiệt lạnh",
                                                                    "Điện - Điện tử",
                                                                    "Lĩnh vực khác"], "Lĩnh vực khác"), {include_blank: false}, { :class => 'new_profile_edu_type_select form-select'}) %>
                    </div>
                    <script>
                        $(document).ready(function() {
                            $('.new_profile_edu_type_select').select2({
                                placeholder: "-- Chọn một ngành nghề bạn theo học --",
                                allowClear: true,
                                width: 'resolve',
                                theme: "bootstrap-5",
                                selectOnClose: true
                            });
                        });
                    </script>
                </div>

                <div class="user_profile_content">
                    <div class="user_profile_label">
                        <a><%= f.label :school_name, "Tên trường mà bạn học tập", class: "user_profile_label_name" %><span>*</span></a>
                    </div>

                    <div class="user_profile_input">
                        <%= f.text_field :school_name, :required => true, class: "form-control", placeholder: "Ex: Đại học Bách Khoa, Kinh tế quốc dân..."%>
                    </div>
                </div>

                <div class="user_profile_content">
                    <div class="user_profile_label">
                        <a><%= f.label :school_level, "Cấp học", class: "user_profile_label_name" %><span>*</span></a>
                    </div>

                    <div class="user_profile_input">
                        <%= f.select(:school_level, options_for_select(['THCS', 'THPT', 'Trung cấp', 'Cao đẳng', 'Đại học'], 'Đại học'), {include_blank: false}, { :class => 'form-select' }) %>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="user_profile_content">
                    <div class="user_profile_label">
                        <a><%= f.label :school_location, "Địa điểm học tập", class: "user_profile_label_name" %><span>*</span></a>
                    </div>

                    <div class="user_profile_input">
                        <%= f.select(:school_location, options_for_select(['Hà Nội','Hồ Chí Minh','Đà Nẵng','An Giang','Bà Rịa Vũng Tàu','Bạc Liêu','Bắc Kạn','Bắc Giang',
															'Bắc Ninh','Bến Tre','Bình Dương','Bình Định','Bình Phước',
															'Bình Thuận','Cà Mau','Cao Bằng','Cần Thơ','Đắk Lắk','Đắk Nông','Điện Biên',
															'Đồng Nai','Đồng Tháp','Gia Lai','Hà Giang','Hà Nam','Hà Tây','Hà Tĩnh',
															'Hải Dương','Hải Phòng','Hòa Bình','Hậu Giang','Hưng Yên','Khánh Hòa',
															'Kiên Giang','Kon Tum','Lai Châu','Lào Cai',
															'Lạng Sơn','Lâm Đồng','Long An','Nam Định','Nghệ An',
															'Ninh Bình','Ninh Thuận','Phú Thọ','Phú Yên','Quảng Bình',
															'Quảng Nam','Quảng Ngãi','Quảng Ninh','Quảng Trị',
															'Sóc Trăng','Sơn La','Tây Ninh','Thái Bình','Thái Nguyên' ,
															'Thanh Hóa','Thừa Thiên Huế','Tiền Giang','Trà Vinh',
															'Tuyên Quang','Vĩnh Long','Vĩnh Phúc','Yên Bái' ], "Hà Nội"), {include_blank: false, :required => true}, { :class => 'form-select' }) %>
                    </div>
                </div>

                <div class="user_profile_content">
                    <div class="user_profile_label">
                        <a><%= f.label :start_date, "Thời gian bắt đầu", class: "user_profile_label_name" %><span>*</span></a>
                    </div>

                    <div class="user_profile_input">
                        <%= f.date_field :start_date, :required => true, class: "form-control"%>
                    </div>
                </div>

                <div class="user_profile_content">
                    <div class="user_profile_label">
                        <a><%= f.label :end_date, "Thời gian kết thúc", class: "user_profile_label_name" %><span>*</span></a>
                    </div>

                    <div class="user_profile_input">
                        <%= f.date_field :end_date, :required => true, class: "form-control"%>
                    </div>
                </div>

                <div class="user_profile_content">
                    <div class="user_profile_input_radio">
                        <%= f.check_box :enrolled, type: "checkbox"%>
                        <a><%= f.label :enrolled, "Tôi đang học tập tại đây"%></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
            </div>
            <div class="col-sm-3">
                <div class="user_profile_cancel">
                    <button class="user_profile_cancel_btn" onclick="myFunctionUserEdu('profile_edu_form')"><a>Hủy bỏ</a></button>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="user_profile_submit">
                    <%= f.submit "Cập nhật", class: "user_profile_form_submit" %>
                </div>
            </div>
        </div>
    <%end%>
</div>