<div class="user_profile_form">
    <%= form_for([@user, user_education], remote: true) do |f| %> 
        <div class="user_profile_title_sub">
            <a><%=t(:form_require_left)%> <span>'*'</span> <%=t(:form_require_right)%></a>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="user_profile_content">
                    <div class="user_profile_label">
                        <a><%= f.label :cert_level, t(:user_edu_form_level), class: "user_profile_label_name" %><span>*</span></a>
                    </div>

                    <div class="user_profile_input">
                        <%= f.select(:cert_level, options_for_select([t(:school_level_1),
                                                                    t(:school_level_2), 
                                                                    t(:school_level_3), 
                                                                    t(:school_level_4), 
                                                                    t(:school_level_5), 
                                                                    t(:school_level_6), 
                                                                    t(:school_level_7), 
                                                                    t(:school_level_8), 
                                                                    t(:school_level_9)], t(:school_level_5)), {include_blank: false}, { :class => 'form-select' }) %>
                    </div>
                </div>

                <div class="user_profile_content">
                    <div class="user_profile_label">
                        <a><%= f.label :cert_type, t(:user_edu_form_filed), class: "user_profile_label_name" %></a>
                    </div>

                    <div class="user_profile_input">
                        <%= f.select(:cert_type, options_for_select([t(:job_category_1),
                                                                    t(:job_category_2),
                                                                    t(:job_category_3),
                                                                    t(:job_category_4),
                                                                    t(:job_category_5),
                                                                    t(:job_category_6),
                                                                    t(:job_category_7),
                                                                    t(:job_category_8),
                                                                    t(:job_category_9),
                                                                    t(:job_category_10),
                                                                    t(:job_category_11),
                                                                    t(:job_category_12),
                                                                    t(:job_category_13),
                                                                    t(:job_category_14),
                                                                    t(:job_category_15),
                                                                    t(:job_category_16),
                                                                    t(:job_category_17),
                                                                    t(:job_category_18),
                                                                    t(:job_category_19),
                                                                    t(:job_category_20),
                                                                    t(:job_category_21),
                                                                    t(:job_category_22),
                                                                    t(:job_category_23),
                                                                    t(:job_category_24),
                                                                    t(:job_category_25),
                                                                    t(:job_category_26),
                                                                    t(:job_category_27),
                                                                    t(:job_category_28),
                                                                    t(:job_category_29),
                                                                    t(:job_category_30),
                                                                    t(:job_category_31),
                                                                    t(:job_category_32),
                                                                    t(:job_category_33),
                                                                    t(:job_category_34),
                                                                    t(:job_category_35),
                                                                    t(:job_category_36),
                                                                    t(:job_category_37),
                                                                    t(:job_category_38),
                                                                    t(:job_category_39),
                                                                    t(:job_category_40),
                                                                    t(:job_category_41),
                                                                    t(:job_category_42),
                                                                    t(:job_category_43),
                                                                    t(:job_category_44),
                                                                    t(:job_category_45),
                                                                    t(:job_category_46),
                                                                    t(:job_category_47),
                                                                    t(:job_category_48),
                                                                    t(:job_category_49),
                                                                    t(:job_category_50),
                                                                    t(:job_category_51),
                                                                    t(:job_category_52),
                                                                    t(:job_category_53),
                                                                    t(:job_category_54),
                                                                    t(:job_category_55),
                                                                    t(:job_category_56),
                                                                    t(:job_category_57),
                                                                    t(:job_category_58),
                                                                    t(:job_category_59),
                                                                    t(:job_category_60),
                                                                    t(:job_category_61),
                                                                    t(:job_category_62),
                                                                    t(:job_category_63),
                                                                    t(:job_category_64),
                                                                    t(:job_category_65),
                                                                    t(:job_category_66),
                                                                    t(:job_category_67),
                                                                    t(:job_category_68),
                                                                    t(:job_category_69),
                                                                    t(:job_category_70)], t(:job_category_70)), {include_blank: false}, { :class => 'new_profile_edu_type_select form-select'}) %>
                    </div>
                    <script>
                        $(document).ready(function() {
                            $('.new_profile_edu_type_select').select2({
                                placeholder: "<%=t(:select_edu_field)%>",
                                allowClear: true,
                                width: 'resolve',
                                theme: "bootstrap-5",
                                selectOnClose: true
                            });
                        });
                    </script>
                </div>

                <div class="user_profile_content">
                    <div class="user_profile_label">
                        <a><%= f.label :school_name, t(:user_edu_form_school_name), class: "user_profile_label_name" %><span>*</span></a>
                    </div>

                    <div class="user_profile_input">
                        <%= f.text_field :school_name, :required => true, class: "form-control", placeholder: t(:user_edu_form_school_name_sub)%>
                    </div>
                </div>

                <div class="user_profile_content">
                    <div class="user_profile_label">
                        <a><%= f.label :school_level, t(:user_edu_form_school_level), class: "user_profile_label_name" %><span>*</span></a>
                    </div>

                    <div class="user_profile_input">
                        <%= f.select(:school_level, options_for_select([t(:school_type_1), 
                                                                        t(:school_type_2), 
                                                                        t(:school_type_3),
                                                                        t(:school_type_4),
                                                                        t(:school_type_5)], t(:school_type_1)), {include_blank: false}, { :class => 'form-select' }) %>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="user_profile_content">
                    <div class="user_profile_label">
                        <a><%= f.label :school_location, t(:user_edu_form_school_location), class: "user_profile_label_name" %><span>*</span></a>
                    </div>

                    <div class="user_profile_input">
                        <%= f.select(:school_location, options_for_select(['Hà Nội','Hồ Chí Minh','Đà Nẵng','An Giang','Bà Rịa Vũng Tàu','Bạc Liêu','Bắc Kạn','Bắc Giang',
															'Bắc Ninh','Bến Tre','Bình Dương','Bình Định','Bình Phước',
															'Bình Thuận','Cà Mau','Cao Bằng','Cần Thơ','Đắk Lắk','Đắk Nông','Điện Biên',
															'Đồng Nai','Đồng Tháp','Gia Lai','Hà Giang','Hà Nam','Hà Tây','Hà Tĩnh',
															'Hải Dương','Hải Phòng','Hòa Bình','Hậu Giang','Hưng Yên','Khánh Hòa',
															'Kiên Giang','Kon Tum','Lai Châu','Lào Cai',
															'Lạng Sơn','Lâm Đồng','Long An','Nam Định','Nghệ An',
															'Ninh Bình','Ninh Thuận','Phú Thọ','Phú Yên','Quảng Bình',
															'Quảng Nam','Quảng Ngãi','Quảng Ninh','Quảng Trị',
															'Sóc Trăng','Sơn La','Tây Ninh','Thái Bình','Thái Nguyên' ,
															'Thanh Hóa','Thừa Thiên Huế','Tiền Giang','Trà Vinh',
															'Tuyên Quang','Vĩnh Long','Vĩnh Phúc','Yên Bái' ], "Hà Nội"), {include_blank: false, :required => true}, { :class => 'form-select' }) %>
                    </div>
                </div>

                <div class="user_profile_content">
                    <div class="user_profile_label">
                        <a><%= f.label :start_date, t(:start_date), class: "user_profile_label_name" %><span>*</span></a>
                    </div>

                    <div class="user_profile_input">
                        <%= f.date_field :start_date, :required => true, class: "form-control"%>
                    </div>
                </div>

                <div class="user_profile_content">
                    <div class="user_profile_label">
                        <a><%= f.label :end_date, t(:end_date), class: "user_profile_label_name" %><span>*</span></a>
                    </div>

                    <div class="user_profile_input">
                        <%= f.date_field :end_date, :required => true, class: "form-control"%>
                    </div>
                </div>

                <div class="user_profile_content">
                    <div class="user_profile_input_radio">
                        <%= f.check_box :enrolled, type: "checkbox"%>
                        <a><%= f.label :enrolled, t(:study_here)%></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
            </div>
            <div class="col-sm-3">
                <div class="user_profile_cancel">
                    <button class="user_profile_cancel_btn" onclick="myFunctionUserEdu('profile_edu_form')"><a><%=t(:cancel)%></a></button>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="user_profile_submit">
                    <%= f.submit t(:update), class: "user_profile_form_submit" %>
                </div>
            </div>
        </div>
    <%end%>
</div>