<p><%=t(:hello)%> <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p><%=t(:email_changed_1)%> <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p><%=t(:email_changed_2)%> <%= @resource.email %>.</p>
<% end %>
