<div class="user_profile_form">
    <%= form_for([@user, user_experience], remote: true) do |f| %> 
        <div class="user_profile_title_sub">
            <a><%=t(:form_require_left)%> <span>'*'</span> <%=t(:form_require_right)%></a>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="user_profile_content">
                    <div class="user_profile_label">
                        <a><%= f.label :job_level, t(:user_exp_form_level), class: "user_profile_label_name" %><span>*</span></a>
                    </div>

                    <div class="user_profile_input">
                        <%= f.text_field :job_level, :required => true, class: "form-control", placeholder: t(:user_exp_form_level_sub)%>
                    </div>
                </div>

                <div class="user_profile_content">
                    <div class="user_profile_label">
                        <a><%= f.label :company_name, t(:user_exp_form_company), class: "user_profile_label_name" %><span>*</span></a>
                    </div>

                    <div class="user_profile_input">
                        <%= f.text_field :company_name, :required => true, class: "form-control", placeholder: t(:user_exp_form_company_sub)%>
                    </div>
                </div>

                <div class="user_profile_content">
                    <div class="user_profile_label">
                        <a><%= f.label :company_location, t(:user_exp_form_location), class: "user_profile_label_name" %><span>*</span></a>
                    </div>

                    <div class="user_profile_input">
                        <%= f.select(:company_location, options_for_select(['Hà Nội','Hồ Chí Minh','Đà Nẵng','An Giang','Bà Rịa Vũng Tàu','Bạc Liêu','Bắc Kạn','Bắc Giang',
                                                            'Bắc Ninh','Bến Tre','Bình Dương','Bình Định','Bình Phước',
                                                            'Bình Thuận','Cà Mau','Cao Bằng','Cần Thơ','Đắk Lắk','Đắk Nông','Điện Biên',
                                                            'Đồng Nai','Đồng Tháp','Gia Lai','Hà Giang','Hà Nam','Hà Tây','Hà Tĩnh',
                                                            'Hải Dương','Hải Phòng','Hòa Bình','Hậu Giang','Hưng Yên','Khánh Hòa',
                                                            'Kiên Giang','Kon Tum','Lai Châu','Lào Cai',
                                                            'Lạng Sơn','Lâm Đồng','Long An','Nam Định','Nghệ An',
                                                            'Ninh Bình','Ninh Thuận','Phú Thọ','Phú Yên','Quảng Bình',
                                                            'Quảng Nam','Quảng Ngãi','Quảng Ninh','Quảng Trị',
                                                            'Sóc Trăng','Sơn La','Tây Ninh','Thái Bình','Thái Nguyên' ,
                                                            'Thanh Hóa','Thừa Thiên Huế','Tiền Giang','Trà Vinh',
                                                            'Tuyên Quang','Vĩnh Long','Vĩnh Phúc','Yên Bái' ], "Hà Nội"), {include_blank: false, :required => true}, { :class => 'form-select' }) %>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="user_profile_content">
                    <div class="user_profile_label">
                        <a><%= f.label :start_date, t(:start_date), class: "user_profile_label_name" %><span>*</span></a>
                    </div>

                    <div class="user_profile_input">
                        <%= f.date_field :start_date, :required => true, class: "form-control"%>
                    </div>
                </div>

                <div class="user_profile_content">
                    <div class="user_profile_label">
                        <a><%= f.label :end_date, t(:end_date), class: "user_profile_label_name" %><span>*</span></a>
                    </div>

                    <div class="user_profile_input">
                        <%= f.date_field :end_date, :required => true, class: "form-control"%>
                    </div>
                </div>
            </div>
        </div>

        <div class="user_profile_content">
            <div class="user_profile_label">
                <a><%= f.label :job_summary, t(:user_exp_form_des), class: "user_profile_label_name" %><span>*</span></a>
            </div>

            <div class="user_profile_input">
                <%= f.text_area :job_summary, class: "form-control", placeholder: t(:user_exp_form_des_sub) %>
                <%= tinymce :mini %>
            </div>
        </div>

        <div class="user_profile_content">
            <div class="user_profile_input_radio">
                <%= f.check_box :enrolled, type: "checkbox"%>
                <a><%= f.label :enrolled, t(:user_exp_form_working_here)%></a>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
            </div>
            <div class="col-sm-3">
                <div class="user_profile_cancel">
                    <button class="user_profile_cancel_btn" onclick="myFunctionUserExp('profile_exp_form')"><a><%=t(:cancel)%></a></button>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="user_profile_submit">
                    <%= f.submit t(:update), class: "user_profile_form_submit"%>
                </div>
            </div>
        </div>
    <%end%>
</div>