<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <div class="user_change_pass_password">
        <h3><%=t(:change_my_pass)%></h3>
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <%= f.hidden_field :reset_password_token %>

          <div class="user_reset_pass_content">
            <div class="user_reset_pass_label">
              <%= f.label :password, t(:new_pass) %><br />
              <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> <%=t(:min_charater)%>)</em><br />
              <% end %>
            </div>
            <div class="user_reset_pass_input">
              <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control" %>
            </div>
          </div>

          <div class="user_reset_pass_content">
            <div class="user_reset_pass_label">
              <%= f.label :password_confirmation, t(:verify_new_pass) %><br />
            </div>
            <div class="user_reset_pass_input">
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
            </div>
          </div>

          <div class="user_reset_pass_submit">
            <%= f.submit t(:change_pass),  class: "user_reset_form_submit"%>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
