<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <div class="user_reset_password">
        <h3><%=t(:forgot_password)%></h3>
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="user_reset_pass_content">
            <div class="user_reset_pass_label">
              <a><%= f.label :email, t(:email), class: "user_reset_pass_label_name" %></a>
            </div>

            <div class="user_reset_pass_input">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", :required => true, class: "form-control", placeholder: t(:enter_email) %>
            </div>
          </div>

          <div class="user_reset_pass_submit">
            <%= f.submit t(:send_mail_change_pass), class: "user_reset_form_submit" %>
          </div>
        <% end %>

        <div class="user_reset_pass_loginhere">
          <a><%= link_to t(:signup), new_user_registration_path %></a>
        </div>
      </div>
    </div>
  </div>
</div>
