<div class="container">
    <div class="new_post_form">
        <div class="row">
            <div class="col-sm-2">
            </div>
            <div class="col-sm-8">
                <%= form_for @post, :html => { :class => "form-horizontal post" } do |f| %>
                    <div class="new_post_title">
                        <%if !@is_edit%>
                            <h3><%=t(:post_create)%></h3>
                        <%else%>
                            <h3><%=t(:post_update)%> <%=@post.title%></h3>
                        <%end%>
                    </div>

                    <div class="new_post_title_sub">
                        <a><%=t(:form_require_left)%> <span>'*'</span> <%=t(:form_require_right)%></a>
                    </div>

                    <div class="new_post_section">
                        <div class="new_post_content">
                            <div class="new_post_label">
                                <a><%= f.label :wall_picture, t(:post_wall), class: "new_post_label" %><span>*</span></a>
                            </div>
                            
                            <div class="new_post_input">
                                <%= f.file_field :wall_picture, :required => true, class: "form-control"%>
                            </div>
                        </div>
                    </div>
                    
                    <div class="new_post_section">
                        <div class="new_post_content">
                            <div class="new_post_label">
                                <a><%= f.label :category, t(:post_category), class: "new_post_label" %><span>*</span></a>
                            </div>

                            <div class="new_post_input">
                                <%= f.select(:category, options_for_select([[t(:career_way), 1], [t(:science_and_tech), 2], [t(:blog), 3], [t(:other), 4]], [t(:other), 4]), {include_blank: false, :required => true}, { :class => 'form-select' }) %>
                            </div>
                        </div>
                    </div>

                    <div class="new_post_section">
                        <div class="new_post_content">
                            <div class="new_post_label">
                                <a><%= f.label :title, t(:title), class: "new_post_label_name" %><span>*</span></a>
                            </div>

                            <div class="new_post_input">
                                <%= f.text_field :title,  autofocus: true, :required => true, class: "form-control", placeholder: " Nhập tiêu đề bài viết" %>
                            </div>
                        </div>
                    </div>

                    <div class="new_post_section">
                        <div class="new_post_content">
                            <div class="new_post_label">
                                <a><%= f.label :content, t(:content), class: "new_post_label_name" %><span>*</span></a>
                            </div>
                            
                            <div class="new_post_input">
                                <%= f.text_area :content, :class => "tinymce"%>
                                <%= tinymce :default %>
                            </div>
                        </div>
                    </div>

                    <div class="new_post_submit">
                        <%= f.submit t(:submit), class: "new_post_form_submit" %>
                    </div>
                <%end%>
            </div>
            <div class="col-sm-2">
            </div>
        </div>
    </div>
</div>