<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0"/>
    </head>

    <body>
        <div class='body_content'>
            <div class="new_post_form">
                <%= form_for @post, :html => { :class => "form-horizontal post" } do |f| %>
                    <div class="new_post_title">
                        <t>Hãy tạo một bài viết mới</t>
                    </div>

                    <div class="new_post_section">
                        <div class="new_post_content">
                            <div class="new_post_label">
                                <t><%= f.label :title, "Tiêu đề*", class: "new_post_label_name" %></t>
                            </div>

                            <div class="new_post_input">
                                <%= f.text_field :title, class: "new_post_form_input", placeholder: " Nhập vấn đề cần giải quyết" %>
                            </div>
                        </div>

                        <div class="new_post_content">
                            <div class="new_post_label">
                                <t><%= f.label :content, "Nội dung*", class: "new_post_label_name" %></t>
                            </div>

                            <div class="new_post_input">
                                <%= f.text_field :content, class: "new_post_form_input", placeholder: "  Mô tả nội dung" %>
                            </div>
                        </div>
                    </div>

                    <div class="new_post_content_checkbox">
                        <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                        <label for="agree-term" class="label-agree-term"><span><span></span></span> Đồng ý với điều khoản điều kiện</label>
                    </div>

                    <div class="new_post_submit">
                        <%= f.submit "Gửi nội dung", class: "new_post_form_submit" %>
                    </div>
                <%end%>
            </div>
        </div>
    </body>
</html>