<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0"/>
    </head>

    <body>
        <div class='container'>
            <div class="new_post_form">
                <%= form_for @post, :html => { :class => "form-horizontal post" } do |f| %>
                    <div class="new_post_title">
                        <a>Hãy tạo một bài viết mới</a>
                    </div>

                    <div class="new_post_section">
                        <div class="new_post_content">
                            <div class="new_post_label">
                                <a><%= f.label :wall_picture, "Ảnh bìa :", class: "new_post_label" %></a>
                            </div>
                            
                            <div class="new_post_input">
                                <%= f.file_field :wall_picture%>
                            </div>
                        </div>
                    </div>

                    <div class="new_post_section">
                        <div class="new_post_content">
                            <div class="new_post_label">
                                <a><%= f.label :title, "Tiêu đề*", class: "new_post_label_name" %></a>
                            </div>

                            <div class="new_post_input">
                                <%= f.text_field :title, class: "new_post_form_input", placeholder: " Nhập vấn đề cần giải quyết" %>
                            </div>
                        </div>

                        <div class="new_post_content">
                            <div class="new_post_label">
                                <a><%= f.label :content_rich, "Nội dung*", class: "new_post_label_name" %></a>
                            </div>

                            <div class="new_post_input">
                                <%= f.rich_text_area :content_rich, class: "new_post_form_input", placeholder: "  Mô tả nội dung" %>
                            </div>
                        </div>
                    </div>

                    <div class="new_post_submit">
                        <%= f.submit "Gửi nội dung", class: "new_post_form_submit" %>
                    </div>
                <%end%>
            </div>
        </div>
    </body>
</html>