<!DOCTYPE html>
<html>
    <head>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
    </head>

    <body>
        <div class='body_content'>
            <%- model_class = Post -%>
                <% @posts.each do |post| %>
                    <div class="post_container">

                        <div class="post_left">
                            <div class="post_cover">
                                <img src="<%= "/assets/illustration.png" %>" alt="Snow" style="width:100%;">
                            </div>
                        </div>

                        <div class="post_right">
                            <div class="post_header">
                                <strong><%= link_to (post.title), post_path(post) %></strong>
                            </div>

                            <div class="post_info">
                                <div class="post_username">
                                    <i class="material-icons">person_outline</i><strong><%=post.username%></strong> . <span><%=time_ago_in_words(post.created_at)%></span>
                                </div>
                            </div>

                            <div class="post_content">
                                <span><%=post.content%></span>
                            </div>

                            <div class="post_view">
                                <%= link_to '<button type="submit"> Đọc thêm <i class="material-icons">chevron_right</i></button>'.html_safe, post_path(post) %>
                            </div>
                        </div>
                    </div>
                <% end %>

                <%# New button %>
                <div class="new_post">
                    <%= link_to '<button type="submit">Tạo một post mới</button>'.html_safe, new_post_path %>
                </div>
            </div>
        </div>
    </body>
</html>