<!DOCTYPE html>
<html>
    <head>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <!-- Add icon library -->
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    </head>

    <body>
        <div class='body_content'>
            <%- model_class = Post -%>
                <% @posts.each do |post| %>
                    <div class="post_container">
                        <div class="post_header">
                            <strong><%=post.title%></strong>
                        </div>

                        <div class="post_info">
                            <div class="post_username">
                                <i class="material-icons">face</i><strong><%=post.username%></strong>
                            </div>
                            <div class="post_date">
                                <t><%=time_ago_in_words(post.created_at)%></t>
                            </div>
                        </div>

                        <div class="post_content">
                            <t><%=post.content%></t>
                        </div>

                        <div class="post_view">
                            <%= link_to '<button type="submit">Xem tiếp</button>'.html_safe, post_path(post) %>
                        </div>
                    </div>
                <% end %>

                <%# New button %>
                <div class="new_post">
                    <%= link_to '<button type="submit">Tạo một post mới</button>'.html_safe, new_post_path %>
                </div>
            </div>
        </div>
    </body>
</html>