<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0"/>
        <% set_meta_tags title: "Blog", description: "Các bài viết hay được chia sẻ tại Firework"%>
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <div class="post_container_left">
                        <div class="post_label">
                            <span>Blog</span>
                        </div>
                        <% @posts.each do |post| %>
                            <div class="post_block">
                                <div class="post_left">
                                    <div class="post_cover">
                                        <%if post.wall_picture?%>
                                            <%= link_to (image_tag(post.wall_picture.medium.url)), image_path(url_for(post.wall_picture.medium.url)), rel: "gallery" , :href => post_path(post)%>
                                        <%else%>
                                            <img src="<%= "/assets/illustration.png" %>" alt="Snow" style="width:100%;">
                                        <%end%>
                                    </div>
                                </div>

                                <div class="post_right">
                                    <div class="post_header">
                                        <a><%= link_to (post.title), post_path(post) %></a>
                                    </div>

                                    <div class="post_info">
                                        <div class="post_user">
                                            <span><%=post.username%></span>
                                        </div>
                                        <div class="post_category_info">
                                            <%post_category=''%>
                                            <%if(post.category.to_i == 1) %>
                                                <% post_category = "Con đường sự nghiệp" %>
                                            <% elsif (post.category.to_i == 2) %>
                                                <% post_category = "Khoa học công nghệ" %>
                                            <% elsif (post.category.to_i == 3) %>
                                                <% post_category = "Blog" %>
                                            <% else %>
                                                <% post_category = "Danh mục khác" %>
                                            <%end%>
                                            <div class="post_category">
                                                <a>  •  <%= post_category %></a>
                                            </div>
                                        </div>
                                        <div class="post_time">
                                            <span><%=post.created_at.strftime("%B %d, %Y")%></span>
                                        </div>
									</div>

                                    <div class="post_content">
                                        <a><%=post.content.html_safe%></a>
                                    </div>

                                    <div class="post_view">
                                        <%= link_to '<button type="submit"> Đọc tiếp <i class="material-icons-outlined">chevron_right</i></button>'.html_safe, post_path(post) %>
                                    </div>
                                </div>
                            </div>
                        <% end %>

                        <%# New button %>
                        <div class="new_post">
                            <%if logged_in?%>
                                <%if current_user.admin?%>
                                    <%= link_to '<button type="submit"><i class="material-icons-outlined">create</i>Thêm bài viết mới</button>'.html_safe, new_post_path %>
                                <%end%>
                            <%end%>
                        </div>
                    </div>
                </div>
            
                <div class="col-sm-4">
                    <div class="post_container_right">
                        <div class="post_most_visit_label">
                            <span>Tin nổi bật</span>
                        </div>
                        <% @posts.each do |post| %>
                            <%if post.approved?%>
                                <div class="post_block">
                                    <div class="post_left">
                                        <%if post.wall_picture?%>
                                            <%= link_to (image_tag(post.wall_picture.medium.url)), image_path(url_for(post.wall_picture.medium.url)), rel: "gallery" , :href => post_path(post)%>
                                        <%else%>
                                            <img src="<%= "/assets/illustration.png" %>" alt="Snow" style="width:100%;">
                                        <%end%>
                                    </div>

                                    <div class="post_right">
                                        <div class="post_header">
                                            <a><%= link_to (post.title), post_path(post) %></a>
                                        </div>
                                        
                                        <div class="post_info">
                                            <div class="post_username">
                                                <strong><%=post.username%></strong> • <span><%=time_ago_in_words(post.created_at)%></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <%end%>
                        <%end%>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>