<!DOCTYPE html>
<html>
    <head>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
    </head>

    <body>
        <div class='body_content'>
            <%- model_class = Post -%>
                <div class="post_area">
                    <div class="post_area_left">
                        <div class="post_title">
                            <strong><%=@post.title%></strong>
                        </div>
                        <div class="post_content">
                            <span><%=@post.content%></span>
                        </div>
                        <div class="post_comment_btn">
                            <t><%= @post.post_comments.count%></t>
                            <%= link_to '<button class="reply"><i class="material-icons">reply</i> Trả lời </button>'.html_safe, new_post_comment_path(@post)%>
                        </div>
                        <div class="post_comment">
                            <%= render @post.post_comments %>
                        </div>
                    </div>
                    <div class="post_area_right">
                        <span>Xem thêm</span>
                    </div>
                </div>  
            </div>
        </div>
    </body>
</html>
