<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0"/>
    </head>

    <body>
        <div class='body_content'>
            <%- model_class = Post -%>
                <div class="post_area">
                    <div class="post_area_left">
                        <div class="post_title">
                            <strong><%=@post.title%></strong>
                        </div>
                        <div class="post_info">
                            <div class="post_username">
                                <i class="material-icons">person_outline</i><span><%=@post.username%></span> <span><%=time_ago_in_words(@post.created_at)%></span>
                            </div>
                        </div>
                        <div class="post_content">
                            <span><%=@post.content_rich%></span>
                        </div>

                        <div class="post_count">
                            <span><%= @post.post_comments.count%> Bình luận</span>
                        </div>

                        <%= form_for [@post, PostComment.new] do |f| %>
                            <div class="new_post_show_comment_section">
                                <div class="new_post_show_comment_input">
                                    <%= f.text_field :comment_content, class: "new_post_comment_form_input", placeholder: "  Nhập bình luận" %>
                                </div>
                            </div>

                            <div class="new_post_show_comment_submit">
                                <%= f.submit "Gửi bình luận", class: "new_post_comment_form_submit" %>
                            </div>
                        <%end%>
                        <div class="post_comment">
                            <%= render @post.post_comments %>
                        </div>
                    </div>
                    <div class="post_area_right">
                        <div class="post_area_right_title">
                            <span>Xem thêm</span>
                        </div>
                        <% @posts.each do |post| %>
                            <div class="post_container">

                                <div class="post_left">
                                    <%if post.wall_picture.attached?%>
                                        <%= link_to (image_tag(post.wall_picture)), image_path(url_for(post.wall_picture)), rel: "gallery" , :href => post_path(post)%>
                                    <%else%>
                                        <img src="<%= "/assets/illustration.png" %>" alt="Snow" style="width:100%;">
                                    <%end%>
                                </div>

                                <div class="post_right">
                                    <div class="post_header">
                                        <strong><%= link_to (post.title), post_path(post) %></strong>
                                    </div>

                                    <div class="post_info">
                                        <div class="post_username">
                                            <strong><%=post.username%></strong> . <span><%=time_ago_in_words(post.created_at)%></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% end %>
                    </div>
                </div>  
            </div>
        </div>
    </body>
</html>
