<div class="employer_notification_block">
    <div class="employer_notification_left">
        <div class="employer_notification_date">
            <a><%=employer_notification.created_at.strftime("%B %d, %Y")%></a>
        </div>
    </div>

    <div class="employer_notification_right">
        <div class="employer_notification_employer">
            <%if find_trigger_user(employer_notification).present?%>
                <a> <%= find_trigger_user(employer_notification).name%>
                    <%if employer_notification.noti_type.to_s == "ReviewComment"%>
                        <span> <%=t(:noti_review).downcase%> </span>
                    <%elsif employer_notification.noti_type.to_s == "InterviewComment"%>
                        <span> <%=t(:noti_interview).downcase%> </span>
                    <%elsif employer_notification.noti_type.to_s == "PostComment"%>
                        <span> <%=t(:noti_comment).downcase%> </span>
                    <%elsif employer_notification.noti_type.to_s == "ProblemComment"%>
                        <span> <%=t(:noti_question).downcase%></span>
                    <%elsif employer_notification.noti_type.to_s == "ProblemSolutionComment"%>
                        <span> <%=t(:noti_reply_solution).downcase%> </span>
                    <%elsif employer_notification.noti_type.to_s == "ApplyJob"%>
                        <span> <%=t(:noti_apply).downcase%> </span>
                    <%else%>
                        <span> <%=t(:noti_reply).downcase%> </span>
                    <%end%>
                </a>
            <%end%>
        </div>

        <div class="employer_notification_title">
            <a><%= link_to employer_notification.title, employer_notification.original_url, class: "employer_notification_label" %></a>
        </div>

        <div class="employer_notification_content">
            <a><%=employer_notification.content%></a>
        </div>
    </div>
</div>