<div class="container">
    <div class ="row">
        <div class="col-sm-8">
            <div class="new_scrap_job_form">
                <%= form_for @scrap_job, :html => { :class => "form-horizontal post" } do |f| %>
                    <div class="new_scrap_job_section">
                        <div class="new_scrap_job_content">
                            <div class="new_scrap_job_label">
                                <a><%= f.label :url, "Link", class: "new_scrap_job_label_name" %></a>
                            </div>

                            <div class="new_scrap_job_input">
                                <%= f.text_field :url, :required => true, class: "form-control", placeholder: " Nhập Link" %>
                            </div>
                        </div>
                    </div>

                    <div class="new_scrap_job_section">
                        <div class="new_scrap_job_content">
                            <div class="new_scrap_job_label">
                                <a><%= f.label :company_name, "Tên công ty", class: "new_scrap_job_label_name" %></a>
                            </div>

                            <div class="new_scrap_job_input">
                                <%= f.text_field :company_name, class: "form-control", placeholder: " Tên công ty" %>
                            </div>
                        </div>
                    </div>

                    <div class="new_scrap_job_section">
                        <div class="new_scrap_job_content">
                            <div class="new_scrap_job_label">
                                <a><%= f.label :company_id, "Hoặc ID Công ty", class: "new_scrap_job_label_name" %></a>
                            </div>

                            <div class="new_scrap_job_input">
                                <%= f.select :company_id, Company.all.collect {|m| [m.name, m.id]}, {include_blank: "Chọn một công ty"}, class: "form-control"%>
                            </div>
                        </div>
                    </div>

                    <div class="new_scrap_job_submit">
                        <%= f.submit "Let's go", class: "new_scrap_job_form_submit" %>
                    </div>
                <%end%>
            </div>
        </div>
    </div>
</div>