<div class="user_question_block">
    <div class="user_question_intro">
        <div class="user_question_intro_left">
            <%owner_user = find_owner_user(company_question)%>
            <%if owner_user%>
                <%= render owner_user%>  
            <%end%>

            <div class="user_info">
                <div class="user_name">
                    <a><%=company_question.user_name%></a>
                </div>
                <div class="user_time_question">
                    <a><%= company_question.created_at.strftime("%B, %Y") %></a>
                </div>
            </div>
        </div>

        <div class="user_question_intro_right">
            <div class="user_question_title">
                <a><%= company_question.title%></a>
            </div>

            <div class="user_question_cotent">
                <div class="user_question_body">
                    <%if company_question.content.present?%>
                        <a><%= company_question.content.html_safe %></a>
                    <%end%>
                </div>

                <div class="question_toolbar">
                    <div class="question_reply_block">
                        <%if user_signed_in?%>
                            <button class="reply_btn" onclick="myFunctionReplyquestion(<%=company_question.id%>)"><i class="material-icons-outlined">chat_bubble_outline</i> <span><%= company_question.company_reply_questions.count%></span> <a><%=t(:reply)%></a> </button>
                        <%else%>
                            <button type="button" data-toggle="modal" data-target="#buttonModalLoginCenter" class="reply_btn">
                                <i class="material-icons-outlined">chat_bubble_outline</i> <span><%= company_question.company_reply_questions.count%></span> <a><%=t(:reply)%></a>
                            </button>
                        <%end%>
                    </div>
                    <div class="question_report_block">
                        <%if user_signed_in?%>
                            <button class="report_btn" type="button" class="btn" data-toggle="modal" data-target="#buttonModalquestionCommentIndexCenter">
                                <i class="material-icons-outlined">flag</i> <a><%=t(:report)%></a>
                            </button>
                        <%else%>
                            <button class="report_btn" type="button" class="btn" data-toggle="modal" data-target="#buttonModalLoginCenter">
                                <i class="material-icons-outlined">flag</i> <a><%=t(:report)%></a>
                            </button>
                        <%end%>
                        <!-- Modal -->
                        <div class="modal fade" id="buttonModalquestionCommentIndexCenter" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <%= render :partial => 'reports/form', locals: {target_id: company_question.id, target_type: "CompanyQuestion"} %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="new_reply_question_form_internal" id ="<%=company_question.id%>">
            <%= form_for([company_question, CompanyReplyQuestion.new], remote: true) do |f| %>
                <div class="new_reply_question_content">
                    <div class="new_reply_question_input_question">                        
                        <%= f.text_area :reply_content, :class => "tinymce"%>
                        <%= tinymce :mini %>
                    </div>
                </div>

                <div class="new_reply_question_submit">
                    <button type="submit" class="new_reply_question_form_submit">
                        <i class="material-icons">send</i>
                    </button>
                </div>
            <%end%>
        </div>
    </div>
    
    <script>
        function myFunctionReplyquestion(id) {
            var x = document.getElementById(id);
            if (x.style.display == "block") 
            {
                x.style.display = "none";
            } 
            else 
            {
                x.style.display = "block";
            }
        }
    </script>

    <div class="reply_question_content" id="reply_question_block_<%=company_question.id%>">
        <%= render company_question.company_reply_questions %>
    </div>
</div>