<div class="container">
	<div class="new_question_form">
		<%= form_for [@company, CompanyQuestion.new] do |f| %>
			<div class="row">
				<div class="col-sm-8">
					<div class="new_question_title_block">
						<div class="new_question_title">
							<h3><%=t(:ask_question_about)%> <%=@company.name%></h3>
							<a><%=t(:form_question_sub_1)%> <%=@company.name%> <%=t(:form_question_sub_2)%></a>
						</div>
						<div class="company_question_image">
							<%if @company.avatar?%>
								<%= image_tag @company.avatar.thumb.url %>
							<%else%>
								<%= image_tag "defaults/company_avatar_default.svg" %>
							<%end%>
						</div>
					</div>

					<div class="new_question_title_sub">
						<a><%=t(:form_require_left)%> <span>'*'</span> <%=t(:form_require_right)%></a>
					</div>

					<div class="new_question_section">
						<div class="new_question_content">
							<div class="new_question_label">
								<a><%= f.label :title, t(:title), class: "new_question_label_name" %><span>*</span></a>
							</div>

							<div class="new_question_input">
								<%= f.text_field :title, :required => true, class: "form-control", placeholder: t(:form_question_sub_3) %>
							</div>
						</div>

						<div class="new_question_content">
							<div class="new_question_label">
								<a><%= f.label :content, t(:question_content), class: "new_question_label_name" %><span>*</span></a>
							</div>

							<div class="new_question_input">
								<%= f.text_area :content, :class => "tinymce"%>
								<%= tinymce :medium %>
							</div>
						</div>
					</div>

					<div class="new_question_submit">
						<%= f.submit t(:send), class: "new_question_form_submit" %>
					</div>
				</div>

				<div class="col-sm-4">
					<div class="question_policy">
						<div class="question_policy_title">
							<a><%=t(:form_help_cmn)%></a>
						</div>
						<div class="question_policy_content">
							<div class="question_policy_content_index">
								路 <%=t(:form_help_cmn_1)%>
							</div>
							<div class="question_policy_content_index">
								路 <%=t(:form_help_cmn_2)%>
							</div>
							<div class="question_policy_content_index">
								路 <%=t(:form_help_cmn_3)%>
							</div>
							<div class="question_policy_content_index">
								路 <%=t(:form_help_cmn_4)%>
							</div>
							<div class="question_policy_content_link">
								<%=t(:form_help_cmn_5)%> 
								<a href="<%=term_path%>"><%=t(:term_and_service)%> </a>
							</div>
						</div>
					</div>
				</div>
			</div>
		<%end%>
	</div>
</div>