<div class="new_report_form" id="report_form_<%=target_type.to_s%>_<%=target_id%>">
    <div class="container">
        <div class="modal-header">
            <div class="new_report_title">
                <i class="material-icons">flag</i>
                <a>Thông báo nội dung xấu</a>
            </div>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="new_report_new">
            <%= form_for Report.new, remote: true, :html => { :class => "form-horizontal problem" } do |f| %>
                <div class="new_report_section">
                    <div class="new_report_label">
                        <a><%= f.label :report_type, "Lý do vi phạm"%></a>
                    </div>
                    <div class="new_report_input">
                        <%= f.select(:report_type, options_for_select([['Dùng tiếng Việt không dấu', 1], 
                                                                ['Vi phạm nội quy', 2], 
                                                                ['Cố tình spam, làm hỏng nội dung bài viết', 3], 
                                                                ['Sử dụng từ ngữ thô tục, xúc phạm', 4], 
                                                                ['Nội dung liên quan tới chính trị', 5], 
                                                                ['Nội dung gây kích động bạo lực', 6]]), 
                                                                {:include_blank => '--Chọn lý do--'}, { :class => 'form-select'}) %>
                    </div>
                </div>
                <div class="new_report_section">
                    <div class="new_report_label">
                        <a><%= f.label :report_content, "Lý do khác(nếu có)"%></a>
                    </div>
                    <div class="new_report_input">
                        <%= f.text_area :report_content, :class => "tinymce"%>
                        <%= tinymce :mini %>                    
                    </div>
                </div>

                <%=f.hidden_field :target_id, :value => target_id%>

                <%=f.hidden_field :target_type, :value => target_type%>
                
                <div class="new_report_submit">
                    <%= f.submit "Gửi", class: "new_report_form_submit" %>
                </div>
            <%end%>
        </div>
    </div>
</div>