<div class="new_report_form" id="report_form_<%=target_type.to_s%>_<%=target_id%>">
    <div class="container">
        <div class="modal-header">
            <div class="new_report_title">
                <i class="material-icons">flag</i>
                <a><%=t(:report_spam)%></a>
            </div>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="new_report_new">
            <%= form_for Report.new, remote: true, :html => { :class => "form-horizontal problem" } do |f| %>
                <div class="new_report_section">
                    <div class="new_report_label">
                        <a><%= f.label :report_type, t(:report_reason)%></a>
                    </div>
                    <div class="new_report_input">
                        <%= f.select(:report_type, options_for_select([[t(:report_1), 1], 
                                                                [t(:report_2), 2], 
                                                                [t(:report_3), 3], 
                                                                [t(:report_4), 4], 
                                                                [t(:report_5), 5], 
                                                                [t(:report_6), 6]]), 
                                                                {:include_blank => t(:select_reason)}, { :class => 'form-select'}) %>
                    </div>
                </div>
                <div class="new_report_section">
                    <div class="new_report_label">
                        <a><%= f.label :report_content, t(:report_other_reason)%></a>
                    </div>
                    <div class="new_report_input">
                        <%= f.text_area :report_content, :class => "tinymce"%>
                        <%= tinymce :mini %>                    
                    </div>
                </div>

                <%=f.hidden_field :target_id, :value => target_id%>

                <%=f.hidden_field :target_type, :value => target_type%>
                
                <div class="new_report_submit">
                    <%= f.submit t(:send), class: "new_report_form_submit" %>
                </div>
            <%end%>
        </div>
    </div>
</div>