<% content_for :meta_robots, "all" %>
<%if @company_interview_question.has_attribute?(:question)%>
    <% content_for :meta_title, @company_interview_question.question %>
<%end%>
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <div class="company_interview_question_show_block">
                <div class="company_interview_question_show">
                    <div class="company_interview_question_content">
                        <a><%=t(:question_content)%></a>
                        <br>
                        <%if @company_interview_question.question%>
                            <span><%=@company_interview_question.question.html_safe%></span>
                        <%end%>
                    </div>
                    
                    <div class="new_reply_interview_question_form">
                        <div class="new_reply_interview_question_title">
                            <a><%=t(:problem_solution_meta_3)%></a>
                        </div>
                        <%= form_for([@company_interview_question, CompanyReplyInterviewQuestion.new], remote: true) do |f| %>
                            <div class="new_reply_interview_content">
                                <div class="new_reply_interview_input_interview">
                                    <%= f.text_area :answer, :class => "tinymce"%>
                                    <%= tinymce :mini %>
                                </div>
                            </div>

                            <div class="new_reply_interview_submit">
                                <button type="submit" class="new_reply_interview_form_submit">
                                    <i class="material-icons">send</i>
                                </button>
                            </div>
                        <%end%>
                    </div>
                    <div class="reply_interview_question_render_block" id="reply_interview_question_render_block_id">
                        <%if @company_reply_interview_questions.total_count > 0%>
                            <div class="company_interview_question_reply_count">
                                <%= @company_reply_interview_questions.total_count%> <%=t(:reply).downcase%>
                            </div>

                            <div class="company_interview_question_reply_sort">
                                <div class="dropdown show">
                                    <a class="btn btn-secondary dropdown-toggle" href="<%=company_interview_question_path(@company_interview_question, sort_tab: 'ReplyInterviewNewID')%>" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <%=t(:newest)%>
                                    </a>

                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" href="<%=company_interview_question_path(@company_interview_question, sort_tab: 'ReplyInterviewLowtoHighID')%>"><%=t(:low_to_high)%></a>
                                        <a class="dropdown-item" href="<%=company_interview_question_path(@company_interview_question, sort_tab: 'ReplyInterviewHightoLowID')%>"><%=t(:high_to_low)%></a>
                                    </div>
                                </div>
                            </div>

                            <div class="reply_interview_question_render">
                                <%= render @company_reply_interview_questions%>
                            </div>
                            <%= paginate @company_reply_interview_questions, window: 2%>
                        <%else%>
                            <div class="company_interview_question_reply_not_found">
                                <a><%=t(:no_reply_found)%></a>
                            </div>
                        <%end%>
                    </div>
                </div>

                <div class="breadcrumbs">
                    <%= render_breadcrumbs :separator => '<i class="material-icons-outlined">keyboard_arrow_right</i>' %>
                </div>
            </div>
        </div>
    </div>
</div>