<!DOCTYPE html>
<html lang="en">
  <!-- header start -->
  <head>
    <!-- Meta tag start --> 
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0"/>
    <meta charset="utf-8">
    <meta name="robots" content="<%= meta_robots %>" />
    <meta http-equiv="content-language" content="en-us" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="content-script-type" content="text/javascript" />
    <meta http-equiv="content-style-type" content="text/css" />
    <link rel="canonical" href="https://www.firework.vn/" />

    <!-- Icon start --> 
    <link rel="shortcut icon" href="<%=image_url("favicon.ico")%>" type="image/x-icon" />
    <link rel="apple-touch-icon" href="<%=image_url("apple-touch-icon.png")%>" />
    <link rel="apple-touch-icon" sizes="57x57" href="<%=image_url("apple-touch-icon-57x57.png")%>" />
    <link rel="apple-touch-icon" sizes="72x72" href="<%=image_url("apple-touch-icon-72x72.png")%>" />
    <link rel="apple-touch-icon" sizes="76x76" href="<%=image_url("apple-touch-icon-76x76.png")%>" />
    <link rel="apple-touch-icon" sizes="114x114" href="<%=image_url("apple-touch-icon-114x114.png")%>" />
    <link rel="apple-touch-icon" sizes="120x120" href="<%=image_url("apple-touch-icon-120x120.png")%>" />
    <link rel="apple-touch-icon" sizes="144x144" href="<%=image_url("apple-touch-icon-144x144.png")%>" />
    <link rel="apple-touch-icon" sizes="152x152" href="<%=image_url("apple-touch-icon-152x152.png")%>" />
    <link rel="apple-touch-icon" sizes="180x180" href="<%=image_url("apple-touch-icon-180x180.png")%>" />
    <!-- Icon end --> 
    
    <!-- Google data start-->
    <title><%= meta_title %> <%= meta_separator %> <%= meta_product_name %></title>
    <meta name="description" content="<%= meta_description %>">
    <meta name="keywords" content="<%= meta_key_word %>">
    <meta name="google-site-verification" content="sBRU0E8_GR7ZPZWKVHN_-pPve__U-yEU2B2Uuyk9bEo" />
	
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TP9TWNJ');</script>
    <!-- End Google Tag Manager -->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-196746836-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-196746836-1');
    </script>
    <!-- End Global site tag (gtag.js) - Google Analytics -->
    <!-- Google data end-->

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= meta_title %> <%= meta_separator %> <%= meta_product_name %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= image_url(meta_image) %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:title" content="<%= meta_title %> <%= meta_separator %> <%= meta_product_name %>">
    <meta name="twitter:description" content="<%= meta_description %>">
    <meta name="twitter:creator" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:image:src" content="<%= image_url(meta_image) %>">
    <!-- Meta tag end -->

    <!-- Import start -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Font Icon -->    
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
		<!-- Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic">
    <!-- Select2 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.1.1/dist/select2-bootstrap-5-theme.min.css" />
    <!-- Import end -->

    <!-- Tiny MCE config start-->
    <%= tinymce_assets %>
    <script type="text/javascript" src="/assets/tinymce.js"></script>
    <!-- Tiny MCE config end -->

    <!-- Messenger Chat plugin Code -->
    <div id="fb-root"></div>

    <!-- FB messenger Chat plugin code Start -->
    <div id="fb-customer-chat" class="fb-customerchat">
    </div>

    <script>
      var chatbox = document.getElementById('fb-customer-chat');
      chatbox.setAttribute("page_id", "100170282265854");
      chatbox.setAttribute("attribution", "biz_inbox");

      window.fbAsyncInit = function() {
        FB.init({
          xfbml            : true,
          version          : 'v12.0'
        });
      };

      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
    <!-- FB messenger Chat plugin code End-->

    <%= javascript_pack_tag 'application' %>
    <%= render 'pages/header'%>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!-- Easy Auto complete search -->
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/easy-autocomplete/1.3.5/jquery.easy-autocomplete.min.js"></script>

    <!-- Additional CSS Themes file - not required-->
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <!-- header end -->

  <!-- body start -->
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TP9TWNJ"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- alert key of user -->
    <%if flash.first%>
      <div class="container">
        <%=render "pages/flash_message"%>
      </div>
    <%end%>
    <!-- end -->

    <!-- For login anywhere -->
    <%if !user_signed_in?%>
      <%= render 'pages/login'%>
    <%end%>

    <!-- body render start -->
    <%= yield %>
    <!-- body render end -->
  </body>
  <!-- body end -->

  <!-- footer start -->
  <footer>
    <%= render 'pages/footer'%>
  </footer>
  <!-- footer end -->
</html>