<p><%=t(:hello)%> <%= @resource.email %>!</p>

<p><%=t(:email_reset_pass)%>.</p>

<p><%= link_to t(:change_my_pass), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%=t(:email_reset_pass_1)%>.</p>
<p><%=t(:email_reset_pass_2)%>.</p>
